<div class="u-Adjust_Mt-64 u-Adjust_Mb-40" id="js-faq" aria-hidden="true">
    <h2 class="c-Heading_Lv2">お支払い方法の確認・変更についてよくあるご質問</h2>
    <p class="u-Adjust_Mt-16">お支払いに関するよくあるご質問は以下からご確認いただけます。</p>
    <ul class="c-Link_List guide-Faq_List u-Adjust_Mt-24" id="js-faq-list">
    </ul>
    <div class="guide-Faq_Readmore-content" id="js-readmore">
        <div class="c-Readmore_Trigger">
            <button class="guide-Faq_Readmore-trigger">
                <span class="c-Icon_Chevron-right c-Readmore_Arrow"></span>もっと見る
            </button>
        </div>
    </div>
</div>
