<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <div>
        <p>1894</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p>プランのお申し込み・製品のご購入期間</p>
        <div class="u-Adjust_Ml-8 u-Adjust_Mt-16">
          <p>Web</p>
          <p class="u-Adjust_Ml-8">2023年6月14日（水）9:00～2024年2月20日（火）23:59</p>
          <p class="u-Adjust_Mt-8">店舗（楽天モバイルショップ）</p>
          <p class="u-Adjust_Ml-8">2023年6月14日（水）開店～2024年2月20日（火）閉店</p>
        </div>
        <div class="u-Adjust_Mt-16">
          <p>プラン課金開始期限</p>
          <p class="u-Adjust_Ml-8">プランのお申し込みの翌月末日23:59まで</p>
        </div>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <div>
        <p>上記各項目の期間内に①、②の条件をすべて満たした楽天会員の方</p>
        <ol class="u-Adjust_Mt-16">
          <li>
            <p>①「Rakuten Turbo」と「Rakuten Turbo 5G」の同時申し込み</p>
            <p>本ルール内では、Rakuten Turboはプラン名、Rakuten Turbo 5Gは製品名のことを指します</p>
          </li>
          <li class="u-Adjust_Mt-8">
            <p>②「Rakuten Turbo」を期限までに課金開始</p>
            <p>課金開始日は、本サービスの提供を開始した日、もしくは製品の着荷日<sup>※</sup>（または店舗で受け取った日）のいずれか早い日を1日目として、9日目です</p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※着荷日とは当社に配送完了データが通知された日</p>
          </li>
        </ol>
      </div>
    </dd>
  </div>
  <div>
      <dt>キャンペーン特典 </dt>
      <dd>
          <div>
              <p>プラン料金のお支払い開始当月から1年間、プラン料金が月額1,980円（2年目以降のプラン料金より2,860円おトク）</p>
              <ul class="u-Adjust_Mt-8">
                <li class="c-Txt_Cap">※2年目以降のプラン料金は月額4,840円となります</li>
                <li class="c-Txt_Cap">※お支払い開始当月のプラン料金は1,980円の日割り金額となります。13カ月目のプラン料金は4,840円からお支払い開始当月の2,860円の日割り額の残額を差し引いた金額となります</li>
                <li class="c-Txt_Cap">
                  ※表記の金額は特に記載のある場合を除きすべて税込です<br>
                  （例）課金開始日が6月16日の場合、1カ月目は4,840円の日割り額2,420円から、2,860円の日割り額1,430円を差し引いた990円となります<br>
                  13カ月目は2,860円から課金開始月日割り額の1,430円を差し引いた残額1,430円を、プラン料金4,840円から差し引いた3,410円にて請求します
                </li>
              </ul>
          </div>
      </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <div>
        <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
        <ul class="u-Adjust_Mt-8">
          <li class="c-Txt_Cap">※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
          <li class="c-Txt_Cap">※楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
          <li class="c-Txt_Cap">※期限までに「Rakuten Turbo」の課金が発生しなかった場合</li>
          <li class="c-Txt_Cap">※当社または楽天グループ株式会社が定める規約などに違反した場合</li>
          <li class="c-Txt_Cap">※そのほか、当社が会員として不適格であると合理的に判断した場合</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <div>
        <p>以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">Rakuten Turbo＆楽天モバイルご利用で20,000ポイントプレゼントキャンペーン（キャンペーンコード：1895）<br>
          SPU特設 Rakuten Turboを初めてお申し込みで1,000ポイントプレゼントキャンペーン（キャンペーンコード：1919） <br>
          【ダイヤモンド会員様限定】Rakuten Turboをお申し込みで1,200ポイントプレゼントキャンペーン（キャンペーンコード：1947） <br>
          スタート1000 Rakuten Turboを初めてご利用で1,000ポイントGET!（キャンペーンコード：1950） <br>
          Rakuten Turboお申し込みと楽天市場で対象ジャンルの商品購入（1円以上）で20,000ポイント還元​キャンペーン（キャンペーンコード：2038）
        </p>
      </div>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <div>
        <ul>
          <li class="c-Txt_Cap">※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
          <li class="c-Txt_Cap">※本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
          <li class="c-Txt_Cap">※製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
          <li class="c-Txt_Cap">※本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
          <li class="c-Txt_Cap">※記載の内容は2024年2月1日（木）時点の情報となります</li>
        </ul>
      </div>
    </dd>
  </div>
</dl>
