<div>
  <p class="u-Adjust_Align-center u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【キャンペーン期間】</span> <br class="u-Show_Sp">2023年7月7日（金）開店～2023年8月31日（木）閉店</p>
  <p class="u-Adjust_Align-center c-Txt_Cap u-Adjust_Mt-8">※2023年8月22日（火）に終了日を変更（追記）しました</p>

  <ul class="u-Adjust_Mt-16 <%= namespace %>-Util_Flex-center">
    <li>
      <a href="#campaign-step" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Chevron-down"></span>ポイント進呈の流れ</a>
    </li>
    <li>
      <a href="#campaign-rule1526" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Chevron-down"></span>キャンペーンルール</a>
    </li>
  </ul>
  <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
    <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-mnp_shop_01" class="c-Btn_Primary-large">お近くのショップを探す・来店予約</a>
  </div>
</div>
