<!-- 他社料金プラン比較 -->
<div id="compareother" class="saikyo-plan-Compare c-Theme-Light">
  <div class="l-System_Container">
    <div class="saikyo-plan-Compare_Head">
      <h2 data-ratid="saikyo-plan_scroll-10_compare" data-ratevent="appear" data-ratparam="all">
        他キャリアの家族割引された料金プランとの比較
      </h2>
    </div>
    <div class="saikyo-plan-Scroll js-Scrollable scroll-hint is-scrollable u-Adjust_Mt-32">
      <img src="<%= sitepath %>assets/img/fee/saikyo-plan/img-compare-02-fee-sp-240221.png" class="saikyo-plan-Utility_Img-sp saikyo-plan-Scroll-Img" width="768" height="1097" loading="lazy" alt="">
    </div>
    <img src="<%= sitepath %>assets/img/fee/saikyo-plan/img-compare-02-fee-pc-240221.png" alt="他社料金比較表" class="saikyo-plan-Utility_Img-pc" width="1035" height="1154" loading="lazy">
    <p class="c-Txt_Cap u-Adjust_Align-left u-Adjust_Mt-16">
      <span class="c-Txt_Emp-02">※その他、各種キャンペーンによって、割引が適用される場合あり</span>※記載された情報は2024年2月時点の情報<br>
      ※<a href="#anc_note" class="c-Link_Txt js-scroll">その他条件の詳細はこちら</a>
    </p>
  </div>
</div>
<!-- //他社料金プラン比較 -->
