<% const pagetitle = "楽メール（ご利用方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルのドメイン（@rakumail.jp）でメールアドレスを設定いただくことで、メールサービスが利用できる「楽メール」の初期設定方法や各種設定方法・操作方法をご案内します。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'guide/rakumail/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
