<% const pagetitle = "アクセサリ" -%>
<% const directories = [{path:"product/", label:" 製品（iPhone、Android／スマートフォン）"}] -%>
<% const namespace = "accessory-top" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルのアクセサリラインアップ。楽天モバイルで人気のApple純正iPhoneケース、充電器、AirPodsや、Rakutenオリジナルのスマホアクセサリなどがご覧いただけます。',
    noindex: false,
    pathname: filepath,
    browseragent: false,
    redirect: {url: 'product/accessory/'},
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
