<% if (isClosed === 'true') { %>
  <div class="i-hikari-campaign-close l-System_Container u-Adjust_Align-center">
    <p class="i-hikari-campaign-close_Txt u-Adjust_Align-center">本キャンペーンは終了しました</p>
    <a href="<%= sitepath %>hikari/" class="c-Btn_Secondly-large u-Adjust_Mt-24 i-hikari-campaign-close_Btn">楽天ひかりトップページを見る</a>
    <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16">※ページの情報はキャンペーン開催時点の情報です</p>
  </div>
  <style>
    footer {
      padding-bottom: 0!important;
    }
  </style>
<% } %>
