<div class="c-Accordion">
  <button id="accordion-c" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-c" data-ratid="rhk_one-year-free_mno_fee_accordion_01" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>月額基本料</button>
  <div id="accordion-content-c" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-c" aria-hidden="true">
    <div class="oneyearfree-Scroll c-Table_Wrap-scroll c-Table-Scroll">
      <p>楽天モバイルと楽天ひかりをお申し込みの場合</p>
      <table class="c-Table_Container oneyearfree-Price_Table u-Adjust_Mt-8">
        <colgroup>
          <col class="u-Adjust_W-240">
          <col class="u-Adjust_W-240">
          <col class="u-Adjust_W-240">
        </colgroup>
        <thead>
          <tr>
            <th scope="col" class="u-Adjust_Align-center">プラン名</th>
            <th scope="col" class="u-Adjust_Align-center">月額料金<br>
              1年目</th>
            <th scope="col" class="u-Adjust_Align-center">月額料金<br>
              2年目以降</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="u-Adjust_Align-center">マンションプラン（集合住宅）</td>
            <td class="u-Adjust_Align-center"><span class="c-Txt_Emp">0円<span class="oneyearfree-Util_Txt-ss">※</span></span></td>
            <td class="u-Adjust_Align-center">3,800円（税込4,180円）</td>
          </tr>
          <tr>
            <td class="u-Adjust_Align-center">ファミリープラン（戸建）</td>
            <td class="u-Adjust_Align-center"><span class="c-Txt_Emp">0円<span class="oneyearfree-Util_Txt-ss">※</span></span></td>
            <td class="u-Adjust_Align-center">4,800円（税込5,280円）</td>
          </tr>
        </tbody>
      </table>

      <p class="u-Adjust_Mt-24">楽天ひかりのみお申し込みの場合</p>
      <table class="c-Table_Container oneyearfree-Price_Table u-Adjust_Mt-8">
        <colgroup>
          <col class="u-Adjust_W-240">
          <col class="u-Adjust_W-240">
          <col class="u-Adjust_W-240">
        </colgroup>
        <thead>
          <tr>
            <th scope="col" class="u-Adjust_Align-center">プラン名</th>
            <th scope="col" class="u-Adjust_Align-center">月額料金<br>
              1年目</th>
            <th scope="col" class="u-Adjust_Align-center">月額料金<br>
              2年目以降</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="u-Adjust_Align-center">マンションプラン（集合住宅）</td>
            <td class="u-Adjust_Align-center">1,800円（税込1,980円）</td>
            <td class="u-Adjust_Align-center">3,800円（税込4,180円）</td>
          </tr>
          <tr>
            <td class="u-Adjust_Align-center">ファミリープラン（戸建）</td>
            <td class="u-Adjust_Align-center">2,800円（税込3,080円）</td>
            <td class="u-Adjust_Align-center">4,800円（税込5,280円）</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="c-Txt_Cap u-Adjust_Mt-8">
      <p>※ 楽天ひかり（マンションプランまたはファミリープラン）の月額基本料が開通月から最大12カ月無料。Rakuten UN-LIMIT VIIをすでに開通、または期限内にお申し込みの方が対象。契約解除料ファミリープラン5,280円、マンションプラン4,180円が発生（2年ごとに更新）。</p>
    </div>
  </div>
</div>
<div class="c-Accordion">
  <div class="oneyearfree-Util_Anchor" id="firstcost"></div>
  <button id="accordion-a" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-a" data-ratevent="click" data-ratparam="all" data-ratid="rhk_one-year-free_mno_fee_accordion_02"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>初期費用</button>
  <div id="accordion-content-a" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-a" aria-hidden="true">
    <div class="oneyearfree-Scroll c-Table_Wrap-scroll c-Table-Scroll" id="scroll-table">
      <table class="c-Table_Container oneyearfree-Price_Table">
        <colgroup>
          <col class="u-Adjust_W-240">
          <col class="u-Adjust_W-240">
          <col class="u-Adjust_W-240">
          <col class="u-Adjust_W-240">
        </colgroup>
        <thead>
          <tr>
            <th class="oneyearfree-Price_Table-empty"></th>
            <th scope="col" class="u-Adjust_Align-center">フレッツ光の<br>
              ご利用がない方</th>
            <th scope="col" class="u-Adjust_Align-center">他社ひかりコラボを<br>
              ご利用中の方（事業者変更）<br><span class="c-Txt_Cap">※1</span></th>
            <th scope="col" class="u-Adjust_Align-center">フレッツ光を<br>
              ご利用中の方（転用）</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">初期登録費</th>
            <td class="u-Adjust_Align-center"><span class="c-Txt_Emp">880円</span></td>
            <td class="u-Adjust_Align-center"><span class="c-Txt_Emp">1,980円</span></td>
            <td class="u-Adjust_Align-center"><span class="c-Txt_Emp">1,980円</span></td>
          </tr>
          <tr>
            <th scope="row">標準工事費<span class="oneyearfree-Util_Txt-ss">※2</span></th>
            <td class="u-Adjust_Align-center">下記の表を参照</td>
            <td class="u-Adjust_Align-center">工事不要0円 <span class="oneyearfree-Util_Txt-ss">※3</span></td>
            <td class="u-Adjust_Align-center">工事不要0円 <span class="oneyearfree-Util_Txt-ss">※3</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="c-Txt_Cap u-Adjust_Mt-8">
      <p>※1 現在の光コラボレーション契約と楽天ひかり契約は回線名義人が同一であることが前提。auひかり、NURO 光等をご利用の場合は、新規扱い。</p>
      <p>※2 居宅設備の都合等で追加工事費が発生する場合、標準工事費との合計金額。工事時間の指定や夜間・深夜および土日・祝日工事 をご希望の場合、別途加算・割増工事費が発生。</p>
      <p>※3 回線の種類変更・機器変更が伴う場合、工事が必要な場合あり。</p>
    </div>
  </div>
</div>
<div class="c-Accordion">
  <button id="accordion-b" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-b" data-ratevent="click" data-ratparam="all" data-ratid="rhk_one-year-free_mno_fee_accordion_03"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>【フレッツ光のご利用がない方】標準工事費詳細</button>
  <div id="accordion-content-b" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-b" aria-hidden="true">


    <p>マンションプラン（集合住宅）</p>
    <div class="oneyearfree-Scroll  c-Table_Wrap-scroll c-Table-Scroll u-Adjust_Mt-8">
      <table class="c-Table_Container oneyearfree-Price_Table-b" style="width: 980px">
        <tbody>
          <tr>
            <th rowspan="2"></th>
            <th colspan="2" class="u-Adjust_Align-center">派遣工事あり</th>
            <th rowspan="2" class="u-Adjust_Align-center">派遣工事なし</th>
          </tr>
          <tr>
            <th class="u-Adjust_Align-center" style="font-weight: normal;">配線調整あり</th>
            <th class="u-Adjust_Align-center" style="font-weight: normal;">配線調整なし</th>
          </tr>
          <tr>
            <th class="u-Adjust_Align-center">一括</th>
            <td class="u-Adjust_Align-center">16,500円</td>
            <td class="u-Adjust_Align-center">8,360円</td>
            <td class="u-Adjust_Align-center">2,200円</td>
          </tr>
          <tr>
            <th class="u-Adjust_Align-center">分割<br><span style="font-size: 12px;font-weight: normal;">(24回)</span></th>
            <td class="u-Adjust_Align-center">687円／月<span style="font-size: 12px;">※1</span></td>
            <td class="u-Adjust_Align-center">348円／月<span style="font-size: 12px;">※2</span></td>
            <td class="u-Adjust_Align-center">91円／月<span style="font-size: 12px;">※3</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="u-Adjust_Mt-24">ファミリープラン（戸建）</p>
    <div class="oneyearfree-Scroll c-Table_Wrap-scroll c-Table-Scroll u-Adjust_Mt-8">
      <table class="c-Table_Container oneyearfree-Price_Table-b" style="width: 980px">
        <tbody>
          <tr>
            <th rowspan="2"></th>
            <th colspan="2" class="u-Adjust_Align-center">派遣工事あり</th>
            <th rowspan="2" class="u-Adjust_Align-center">派遣工事なし</th>
          </tr>
          <tr>
            <th class="u-Adjust_Align-center" style="font-weight: normal;">配線調整あり</th>
            <th class="u-Adjust_Align-center" style="font-weight: normal;">配線調整なし</th>
          </tr>
          <tr>
            <th class="u-Adjust_Align-center">一括</th>
            <td class="u-Adjust_Align-center">19,800円</td>
            <td class="u-Adjust_Align-center">8,360円</td>
            <td class="u-Adjust_Align-center">2,200円</td>
          </tr>
          <tr>
            <th class="u-Adjust_Align-center">分割<br><span style="font-size: 12px;font-weight: normal;">(24回)</span></th>
            <td class="u-Adjust_Align-center">825円／月</td>
            <td class="u-Adjust_Align-center">348円／月<span style="font-size: 12px;">※2</span></td>
            <td class="u-Adjust_Align-center">91円／月<span style="font-size: 12px;">※3</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="c-Txt_Cap u-Adjust_Mt-16">
      <p>※1 最終月は699円の請求。※2 最終月は356円の請求。※3 最終月は107円の請求。</p>
      <p>※設置場所の環境等により、派遣工事の有無、屋内配線の新設有無、および工事費が変更になる場合があります。</p>
      <p>※室内に既存の配線がある場合においても、回線を繋ぎ直したり、マンション共用設備（MDF室等）での調整作業が発生し、配線の新設時と同等の工事費が発生する場合があります。</p>
    </div>
  </div>
</div>
