<% const pagetitle = "Rakuten Casaお申し込み情報のご入力" -%>
<% const nameSpace = "input-corporation-information" -%>
<section id="step0" class="js-step" aria-hidden="false">
  <h1 class="c-Heading_Lv1"><%= pagetitle %></h1>
  <div class="u-Adjust_Mt-40">
    <p class="u-Adjust_Mt-32">Rakuten Casaのお申し込みに際し、必要情報をご入力ください。</p>
    <dl class="c-Form_List u-Adjust_Mt-24">
      <div>
        <dt>申込種別<span class="c-Form_List-required">必須</span></dt>
        <dd>
          <div>
            <p id="err-required_WebForm_SetContact_Businessform__c" class="c-Form_Txt-error u-Adjust_Mb-8" aria-hidden="true">必須項目です</p>
            <label class="c-Form_Radio u-Adjust_Mr-24">
              <input type="radio" name="WebForm_SetContact_Businessform__c" value="法人" aria-required="true" data-validate="radio" autocomplete="off">
              <span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">法人</span>
            </label>
            <label class="c-Form_Radio">
              <input type="radio" name="WebForm_SetContact_Businessform__c" value="個人事業主" aria-required="true" data-validate="radio" autocomplete="off">
              <span class="c-Form_Radio-icon"></span><span class="c-Form_Radio-label">個人事業主</span>
            </label>
          </div>
        </dd>
      </div>
    </dl>
    <div class="u-Adjust_Mt-48 js-show-business-type" aria-hidden="true">
      <h2 class="c-Heading_Lv2">ご入力内容</h2>
      <p class="u-Adjust_Mt-24">下記項目をご入力いただきます。必要情報をご用意の上、お進みください。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-16">
        ※ご入力いただけなかった項目については、後日営業担当より伺います。<br>
        ※途中で入力内容は保存されませんので、ご注意ください。
      </p>
      <!--  個人事業主 -->
      <dl class="c-Dl_Origin u-Adjust_Mt-24 js-proprietorship" aria-hidden="true">
        <div>
          <dt>STEP 1<br>店舗について</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>店舗名</li>
              <li>店舗住所</li>
              <li>店舗電話番号</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>STEP 2<br>ご契約者様/店舗管理者様について</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>ご契約者様氏名</li>
              <li>ご契約者様住所<br><span class="c-Txt_Cap">※事業担保性について確認させていただいた書類（営業許可証等）記載の住所をご記入ください。</span></li>
              <li>店舗名</li>
              <li>ご契約者様役職</li>
              <li>ご契約者様生年月日</li>
              <li>ご契約者様電話番号</li>
              <li>ご契約者様メールアドレス</li>
              <li>店舗管理者様役職</li>
              <li>店舗管理者様氏名</li>
            </ul>
          </dd>
        </div>
        <div class="js-incentive-branch">
          <dt>STEP 3<br>口座関連情報</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>銀行コード</li>
              <li>銀行名</li>
              <li>支店コード</li>
              <li>支店名</li>
              <li>預金種別</li>
              <li>口座番号</li>
              <li>口座名義人</li>
              <li>ご契約者様と口座名義人の関係性</li>
              <li>口座名義人代表者氏名</li>
              <li>口座名義人生年月日</li>
              <li>口座名義人住所</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt><span class="js-incentive-step">STEP 4</span><br>つながりやすいご連絡先</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>ご担当者様氏名</li>
              <li>電話番号</li>
              <li>つながりやすい時間</li>
            </ul>
          </dd>
        </div>
      </dl>
      <!--  / 個人事業主 -->
      <!--  法人 -->
      <dl class="c-Dl_Origin u-Adjust_Mt-24 js-corporations" aria-hidden="true">
        <div>
          <dt>STEP 1<br>店舗について</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>店舗名</li>
              <li>店舗住所</li>
              <li>会社名</li>
              <li>店舗電話番号</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt>STEP 2<br>ご契約者様/店舗管理者様について</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>ご契約者様氏名</li>
              <li>法人住所</li>
              <li>会社名</li>
              <li>ご契約者様役職</li>
              <li>ご契約者様生年月日</li>
              <li>ご契約者様電話番号</li>
              <li>ご契約者様メールアドレス</li>
              <li>店舗管理者様役職</li>
              <li>店舗管理者様氏名</li>
            </ul>
          </dd>
        </div>
        <div class="js-incentive-branch">
          <dt>STEP 3<br>口座関連情報</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>銀行コード</li>
              <li>銀行名</li>
              <li>支店コード</li>
              <li>支店名</li>
              <li>預金種別</li>
              <li>口座番号</li>
              <li>口座名義人</li>
              <li>ご契約者様と口座名義人の関係性</li>
              <li>口座名義人代表者氏名</li>
              <li>口座名義人生年月日</li>
              <li>口座名義人住所</li>
            </ul>
          </dd>
        </div>
        <div>
          <dt><span class="js-incentive-step">STEP 4</span><br>つながりやすいご連絡先</dt>
          <dd>
            <ul class="c-List_Text-disc">
              <li>ご担当者様氏名</li>
              <li>電話番号</li>
              <li>つながりやすい時間</li>
            </ul>
          </dd>
        </div>
      </dl>
      <!--  / 法人 -->
      <h2 class="c-Heading_Lv2 u-Adjust_Mt-64">個人情報の取扱いについて</h2>
      <p class="u-Adjust_Mt-24">
        楽天モバイル株式会社（以下「当社」という）では、お客様の個人情報について、当社のサービスの提供やお客様の利便性の向上を目的として、その目的の遂行に必要な範囲で利用します。当社のポリシーについては「<a href="https://corp.mobile.rakuten.co.jp/guide/privacy/" target="_blank" class="c-Link_Txt-inline-icon">個人情報の取扱いについて<span class="c-Icon_New-window-l"></span></a>」をご確認いただき、同意される場合は下記のチェックボタンをチェックしてください。
      </p>

      <label class="c-Form_Checkbox u-Adjust_Mt-32">
        <input type="checkbox" name="" id="js-privacy-check" value="" autocomplete="off">
        <span class="c-Icon_Check"></span><span class="c-Form_Checkbox-label">個人情報の取扱いに同意します。</span>
      </label>

      <div class="u-Adjust_Align-center u-Adjust_Mt-48">
        <button type="button" class="c-Btn_Primary-large js-goto-next-step" id="js-next-step1" aria-disabled="true" disabled><span>次に進む</span></button>
      </div>
    </div>
  </div>
</section>
