<div class="c-Accordion">
  <button id="accordion-1828" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1828">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>【楽天モバイル3周年記念キャンペーン】楽天モバイル公式Twitterアカウントのフォロー＆リツイートで、抽選で15名様に33,333ポイントプレゼント！（～2023/4/13 13:59）
  </button>
  <div id="accordion-content-1828" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1828" aria-hitden="true" style="display: none;">
    <div class="" style="position: relative; overflow: auto;">
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーンコード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>1828</p>
              <ul class="c-List_Cap u-Adjust_Mt-16">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン期間<br>およびエントリー期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>2023年4月7日（金）14:00～2023年4月13日（木）13:59</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-02">
                エントリー期間中に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
              </p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
                【1】キャンペーンへのエントリー
              </p>
              <div class="u-Adjust_Ml-16">
                <p class="u-Adjust_Mt-8">- エントリー期間内に本キャンペーンページからエントリー。キャンペーンの参加は1人1回のみ</p>
              </div>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
                【2】楽天モバイルTwitter公式アカウント（@Rakuten_Mobile）をフォロー
              </p>
              <div class="u-Adjust_Ml-16">
                <p class="u-Adjust_Mt-8">- キャンペーン期間中にフォロー</p>
              </div>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
                【3】楽天モバイルTwitter公式アカウント（@Rakuten_Mobile）の対象キャンペーンツイートをリツイート
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン特典 （楽天ポイント）</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">
                ■特典内容
              </p>
              <div class="u-Adjust_Ml-16">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-8">抽選で15名様に33,333ポイントプレゼント</p>
              </div>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
                ■ポイント付与日
              </p>
              <div class="u-Adjust_Ml-16">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-8">2023年6月末日ごろに付与</p>
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span>当選者には楽天モバイルTwitter公式アカウントよりダイレクトメッセージ（DM）にて、5月末日までにご連絡をいたします</li>
                  <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                  <li><span>※</span>権利の譲渡はできません</li>
                </ul>
              </div>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
                ■ポイント有効期間
              </p>
              <div class="u-Adjust_Ml-16">
                <p class="c-Txt_Emp-01 u-Adjust_Mt-8">ポイント付与日を含めて6カ月</p>
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt">期間限定ポイントについて</a></li>
                  <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">特典適用対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>お一人様（1つの楽天会員ID）につき1回のみの応募となります。複数応募の場合、当選は無効となります</li>
                <li><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                <li><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                <li><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">併用不可キャンペーン</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">併用不可キャンペーンはございません。</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="c-List_Cap">
                <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li><span>※</span>2023年5月31日（水）時点で楽天モバイルTwitter公式アカウント（@Rakuten_Mobile）のフォローをしていない方は対象外となります</li>
                <li><span>※</span>取得した個人情報は、本キャンペーンにおける楽天ポイント付与のために用いるものとし、キャンペーン終了後に破棄いたします。また、個人情報の取扱いに当たっては、当社の個人情報保護方針に従います</li>
                <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li><span>※</span>楽天モバイルの契約有無は問いません</li>
                <li><span>※</span>記載の内容は2023年4月7日（金）時点の情報となります</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ページURL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><a href="<%= sitepath %>campaign/twitter/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/campaign/twitter/</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="close-pagetop u-Adjust_Mt-40">
      <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
        <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
      </a>
    </div>
  </div>
</div>
