<div class="c-Accordion">
  <button type="button" id="accordion-1854" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1854"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
    【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！（～2023年5月1日 8:59）
  </button>
  <div id="accordion-content-1854" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1854" aria-hidden="true">
    <div style="position: relative; overflow: auto;">
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>キャンペーンコード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>1854</p>
              <ul class="u-Adjust_Mt-16">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th id="campaign-rule-terms">キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>以下【1】～【3】の条件をすべて満たした楽天会員の方</p>
              <ul class="u-Adjust_Mt-16">
                <li><span>※</span>各月の日程についてはページ下部の「<a href="#campaign-term" class="js-scroll">キャンペーン期間</a>」をご確認ください。</li>
              </ul>
              <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</span></p>
              <p>023年4月3日（月）9:00～2023年5月1日（月）8:59まで本キャンペーンページでエントリー</p>
              <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【2】本ページから証券口座申込・開設</span></p>
              <p>2023年5月1日（月）8:59まで新規お申し込みし、2023年5月17日（水）23:59まで開設</p>
              <ul class="c-List_Capu-Adjust_Mt-8 u-Adjust_Pl-16">
                <li><span>※</span>エントリー前の楽天証券口座開設はポイント進呈の対象外です。</li>
                <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
              </ul>
              <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【3】「Rakuten UN-LIMIT VII」プランご利用中である。または、キャンペーン期間中に「Rakuten UN-LIMIT VII」へのお申し込み</span></p>
              <p class="u-Adjust_Pl-16">本キャンペーン開始時点で「Rakuten UN-LIMIT VII」の未契約者である場合は、各種期日までに下記（1）-（3）いずれかの方法で「お申し込み」にて適用となります。</p>
              <p class="u-Adjust_Pl-16">
                Web]：2023年4月3日（月）9:00～2023年5月1日（月）8:59まで<br>
                [店舗（楽天モバイルショップ）]：2023年4月3日（月）開店～2023年4月30日（日）閉店まで
              </p>
              <p class="u-Adjust_Mt-16 u-Adjust_Pl-16">
                （1）新規お申し込み<br>
                （2）他社からの乗り換え（MNP）でお申し込み<br>
                （3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
              <ul class="c-List_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
                <li><span>※</span>楽天モバイル未契約の方は、エントリー後、楽天証券口座開設の順序が満たされていれば、「Rakuten UN-LIMIT VII」のお申し込みの順序については問いません。</li>
                <li><span>※</span>エントリー前の楽天証券口座開設は対象外となりますので、ご注意ください。</li>
                <li>（例1）楽天モバイルにお申し込み後、期間中に本ページにてエントリーしてから楽天証券口座を開設された場合は、ポイント進呈の対象となります。</li>
                <li>（例2）期間中に本ページにてエントリーし、楽天証券口座を開設後、楽天モバイルにお申し込みの場合はポイント進呈の対象となります。</li>
                <li>（例3）楽天証券口座を開設後、期間中に本ページにてエントリーされた場合はポイント進呈の対象外です。</li>
              </ul>
            </td>
        </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>キャンペーン特典（楽天ポイント）</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>特典内容</p>
              <p>2,000ポイントプレゼント（期間限定ポイント）</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thea>
          <tr>
            <th>ポイント進呈日</th>
          </tr>
        </thea>
        <tbody>
          <tr>
            <td>
              <p>該当するキャンペーン開始月の翌々月末日ごろに進呈</p>
              <ul class="c-List_Cap u-Adjust_Mt-16">
                <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                <li><span>※</span>権利の譲渡はできません</li>
              </ul>
            </td>
          </tr>
        </tbody>
        </table>
        <table class="c-Table_Container">
          <thead>
            <tr>
              <th>ポイント有効期間</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>ポイント進呈日を含めて6カ月</p>
                <ul class="c-List_Cap u-Adjust_Mt-16">
                  <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                  <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
                </ul>
              </td>
            </tr>
          </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>特典適用対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
              <ul class="c-List_Cap u-Adjust_Mt-16">
                <li><span>※</span>当社楽天モバイル株式会社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                <li><span>※</span>「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で、もれなく2,000円相当分ポイントプレゼント！」「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！さらに12月度・1月度限定で1,000ポイントプラス！※期間限定ポイント」の合計適用回数が、おひとり様1回を超える場合は対象外となります</li>
                <li><span>※</span>期間中に契約者変更（譲渡・承継）を受けた場合</li>
                <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                <li><span>※</span>楽天モバイル株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
                <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                <li><span>※</span>未成年のお客様、法人のお客様、IFA（金融商品仲介業）のお客様の場合</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="c-List_Cap">
                <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
                <li><span>※</span>キャンペーンの特典は今後の開催時に増額または減額、条件変更される場合があります。</li>
                <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります。</li>
                <li><span>※</span>本キャンペーン開始前に「Rakuten UN-LIMIT VII」を解約された場合でも、キャンペーン期間中に「Rakuten UN-LIMIT VII」を再度お申し込みいただければ対象となります。</li>
                <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります。</li>
                <li><span>※</span>ポイント進呈のため、キャンペーン対象者様の楽天IDを楽天モバイル株式会社と楽天証券株式会社間で受け渡しいたします。あらかじめご了承ください。</li>
                <li><span>※</span>楽天証券口座をお持ちでない方が対象となります。</li>
                <li><span>※</span>楽天証券口座のお申し込み後に口座開設が完了した方のみが対象です。</li>
                <li><span>※</span>口座開設には本人確認書類のアップロードが必要です。</li>
                <li><span>※</span>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
                <li><span>※</span>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
                <li><span>※</span>楽天証券株式会社の方針に基づき、口座開設をご遠慮いただくことがございます。</li>
                <li><span>※</span>口座開設には、数日お時間がかかる場合がございます。締切間際でのお手続きの際はご注意ください。</li>
                <li><span>※</span>エントリーした楽天ID、証券口座を開設した楽天ID、楽天モバイルにご登録の楽天IDが同一でない場合、ポイントは進呈されませんのでご注意ください。</li>
                <li><span>※</span>記載の内容は2023年4月3日（月）時点の情報となります。</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="campaign-term" class="c-Accordion u-Adjust_Mt-32">
      <button id="accordion-1854-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-1854-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間</button>
      <div id="accordion-content-1854-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1854-2" aria-hidden="false">
        <div class="u-Adjust_Mt-24 rule_table">
          <div class="c-Table">
            <div class="c-Table_Wrap">
            <table class="c-Table_Container" style="border: 1px solid #bfbfbf;">
              <thead>
                <tr>
                  <th style="border: 1px solid #bfbfbf;"></th>
                  <td style="background-color: #f5f5fa;"><p><span class="c-Txt_Emp-01">期間・期限</span></p></td>
                </tr>
              </thead>
              <tbody>
                <tr style="border: 1px solid #bfbfbf;">
                  <th style="border: 1px solid #bfbfbf;">3月度</th>
                  <td>
                    <p><span class="c-Txt_Emp-01">エントリー期間</span></p>
                    <p class="u-Adjust_Pl-16">2023年3月1日（水）9:00～2023年4月3日（月）8:59まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設お申し込み期間</span></p>
                    <p class="u-Adjust_Pl-16">2023年3月1日（水）9:00～2023年4月3日（月）8:59まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設期間</span></p>
                    <p class="u-Adjust_Pl-16">2023年3月1日（水）9:00～2023年4月18日（火）23:59まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">【楽天モバイル未契約の場合】</span></p>
                    <p class="u-Adjust_Pl-16">以下期間中に楽天モバイル新規お申し込みが必要です。</p>
                    <p class="u-Adjust_Pl-16">[Web]：2023年3月1日（水）9:00～2023年4月3日（月）8:59まで</p>
                    <p class="u-Adjust_Pl-16">[店舗（楽天モバイルショップ）]：2023年3月1日（水）開店～2023年4月2日（日）閉店まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">ポイント進呈日</span></p>
                    <p class="u-Adjust_Pl-16">2023年5月末日ごろ</p>
                  </td>
                </tr>
                <tr style="border: 1px solid #bfbfbf;">
                  <th style="border: 1px solid #bfbfbf;">4月度</th>
                  <td>
                    <p><span class="c-Txt_Emp-01">エントリー期間</span></p>
                    <p class="u-Adjust_Pl-16">2023年4月3日（月）9:00～2023年5月1日（月）8:59まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設お申し込み期間</span></p>
                    <p class="u-Adjust_Pl-16">2023年4月3日（月）9:00～2023年5月1日（月）8:59まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設期間</span></p>
                    <p class="u-Adjust_Pl-16">2023年4月3日（月）9:00～2023年5月17日（水）23:59まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">【楽天モバイル未契約の場合】</span></p>
                    <p class="u-Adjust_Pl-16">以下期間中に楽天モバイル新規お申し込みが必要です。</p>
                    <p class="u-Adjust_Pl-16">[Web]：2023年4月3日（月）9:00～2023年5月1日（月）8:59まで</p>
                    <p class="u-Adjust_Pl-16">[店舗（楽天モバイルショップ）]：2023年4月3日（月）開店～2023年4月30日（日）閉店まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">ポイント進呈日</span></p>
                    <p class="u-Adjust_Pl-16">2023年6月末日ごろ</p>
                  </td>
                </tr>
                <tr style="border: 1px solid #bfbfbf;">
                  <th style="border: 1px solid #bfbfbf;">5月度</th>
                  <td>
                    <p><span class="c-Txt_Emp-01">エントリー期間</span></p>
                    <p class="u-Adjust_Pl-16">2023年5月1日（月）9:00～2023年6月1日（木）8:59まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設お申し込み期間</span></p>
                    <p class="u-Adjust_Pl-16">2023年5月1日（月）9:00～2023年6月1日（木）8:59まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設期間</span></p>
                    <p class="u-Adjust_Pl-16">2023年5月1日（月）9:00～2023年6月15日（木）23:59まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">【楽天モバイル未契約の場合】</span></p>
                    <p class="u-Adjust_Pl-16">以下期間中に楽天モバイル新規お申し込みが必要です。</p>
                    <p class="u-Adjust_Pl-16">[Web]：2023年5月1日（月）9:00～2023年6月1日（木）8:59まで</p>
                    <p class="u-Adjust_Pl-16">[店舗（楽天モバイルショップ）]：2023年5月1日（月）開店～2023年5月31日（水）閉店まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">ポイント進呈日</span></p>
                    <p class="u-Adjust_Pl-16">2023年7月末日ごろ</p>
                  </td>
                </tr>
                <tr style="border: 1px solid #bfbfbf;">
                  <th style="border: 1px solid #bfbfbf;">6月度</th>
                  <td>
                    <p><span class="c-Txt_Emp-01">エントリー期間</span></p>
                    <p class="u-Adjust_Pl-16">2023年6月1日（木）9:00～2023年7月3日（月）8:59まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設お申し込み期間</span></p>
                    <p class="u-Adjust_Pl-16">2023年6月1日（木）9:00～2023年7月3日（月）8:59まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">楽天証券口座開設期間</span></p>
                    <p class="u-Adjust_Pl-16">2023年6月1日（木）9:00～2023年7月19日（水）23:59まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">【楽天モバイル未契約の場合】</span></p>
                    <p class="u-Adjust_Pl-16">以下期間中に楽天モバイル新規お申し込みが必要です。</p>
                    <p class="u-Adjust_Pl-16">[Web]：2023年6月1日（木）9:00～2023年7月3日（月）8:59まで</p>
                    <p class="u-Adjust_Pl-16">[店舗（楽天モバイルショップ）]：2023年6月1日（木）開店～2023年7月2日（日）閉店まで</p>
                    <p class="u-Adjust_Mt-24"><span class="c-Txt_Emp-01">ポイント進呈日</span></p>
                    <p class="u-Adjust_Pl-16">2023年8月末日ごろ</p>
                  </td>
                </tr>
              </tbody>
            </table>
            <table class="c-Table_Container">
              <thead>
                <tr>
                  <th scope="col">ページURL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p><a href="<%= sitepath %>campaign/sec-for-member/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/campaign/sec-for-member/</a></p>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            <div class="close-pagetop u-Adjust_Mt-40">
              <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
                <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
