<!-- campaign -->
<div class="c-Accordion">
  <button type="button" id="accordion-1320" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1320"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
    Android利用者限定　YouTube Premium 3カ月無料キャンペーン ルール
  </button>
  <div id="accordion-content-1320" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1320" aria-hidden="true">
    <div style="position: relative; overflow: auto;">
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>キャンペーンコード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>1320</p>
              <ul class="u-Adjust_Mt-16">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>キャンペーン期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">■ YouTube Premium のお申し込み期間</p>
              <p class="u-Adjust_Pl-16 u-Adjust_Mt-8">2021年10月20日（水）9:00～2023年5月16日（火）8:59</p>
              <p class="u-Adjust_Pl-16 u-Adjust_Mt-16 c-Txt_Cap c-Txt_Emp-02">
                ※本キャンペーンの終了日時が記載されていますが、2023年5月16日（火）9:00以降、対象OSにiOSを加えて継続予定です。詳細は、2023年5月16日（火）9:00から開始する新キャンペーンをご確認ください。
              </p>
              <p class="u-Adjust_Pl-16 u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-02">
                ※新キャンペーンの準備状況によっては、本キャンペーンを終了日時の記載に関わらず延長する場合があります。
              </p>
              <p class="u-Adjust_Pl-16 u-Adjust_Mt-8 c-Txt_Cap">※2023年3月27日（月）に、キャンペーンの終了日を、 2023年4月1日（土）8:59から変更しました。</p>
              <p class="u-Adjust_Pl-16 u-Adjust_Mt-8 c-Txt_Cap">※2023年4月19日（水）に、キャンペーンの終了日を、 2024年5月10日（水）8:59から変更しました。</p>
              <p class="u-Adjust_Pl-16 u-Adjust_Mt-8 c-Txt_Cap">※2023年5月9日（火）に、キャンペーンの終了日を、 2023年5月10日（水）8:59から変更しました。 iOS追加版の準備ができ次第 近日中に切り替え予定日をご案内します。</p>
              <p class="u-Adjust_Pl-16 u-Adjust_Mt-8 c-Txt_Cap">※2023年5月15日（月）に、キャンペーンの終了日を、 終了日未定から変更しました。</p>
            </td>
        </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方</p>
              <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【1】「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</span></p>
              <p class="u-Adjust_Mt-8">本キャンペーン開始時点で「Rakuten UN-LIMIT VII」をお申し込みされていない場合は、楽天モバイルのWebサイトまたは店頭から下記（1）-（3）いずれかの方法でのお申し込みが必要です。既にお申し込みされている場合は、新たなお手続きは不要となります。</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
              <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">【2】「Rakuten UN-LIMIT VII」プラン利用開始</span></p>
              <p class="u-Adjust_Mt-8">本キャンペーン開始時点で「Rakuten UN-LIMIT VII」をプラン利用開始されていない場合は、プラン利用開始が必要となります。既にプラン利用開始されている場合は、新たなお手続きは不要となります。</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
              <p class="u-Adjust_Mt-16 u-Adjust_Ml-8">【プラン利用開始日とは】</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">- 新規お申し込みの場合</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8 c-Txt_Cap">※（1）（2）のいずれか早い方がプラン利用開始日となります</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）当社に配送完了データが通知された日</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</p>
              <p class="u-Adjust_Mt-16 u-Adjust_Ml-8">- 他社から乗り換え（MNP）の場合</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</p>
              <p class="u-Adjust_Mt-16 u-Adjust_Ml-8">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</p>
              <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">【3】YouTube Premium のお申し込み</span></p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">YouTube アプリからYouTube Premium にお申し込みください。</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thea>
          <tr>
            <th>キャンペーン特典</th>
          </tr>
        </thea>
        <tbody>
          <tr>
            <td>
              <p>「YouTube Premium」の月額利用料が3カ月間無料</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-16">
                <li><span>※</span>例)2021年10月20日に「YouTube Premium」のお申し込みを完了した場合、お申し込み完了直後から3カ月後の2022年1月19日まで無料でご利用いただけます。</li>
                <li><span>※</span>楽天回線対応のAndroid製品をご利用の方のみ対象となります。</li>
              </ul>
            </td>
          </tr>
        </tbody>
        </table>
        <table class="c-Table_Container">
          <thead>
            <tr>
              <th>特典適用対象外</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                <ul class="u-Adjust_Mt-16 c-Txt_Cap">
                  <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                  <li><span>※</span>YouTube Premium、YouTube Music Premium、YouTube Red、Google Play Music のうち、いずれかの定期購入や無料お試しを行ったことがある場合</li>
                  <li><span>※</span>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                  <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
                  <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>
                  プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/" class="c-Link_Txt">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                  <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                </ul>
              </td>
            </tr>
          </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="c-Txt_Cap">
                <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li><span>※</span>本キャンペーンは、Google Ireland Limited が実施しています。</li>
                <li><span>※</span>特典の利用にはGoogle アカウントが必要です。</li>
                <li><span>※</span>YouTube Premium に関する他のキャンペーンとの併用はできません。</li>
                <li><span>※</span>本利用規約は随時Google の裁量に基づき変更することができます。</li>
                <li><span>※</span>楽天回線対応のAndroid製品をご利用の方のみ対象となります</li>
                <li><span>※</span>記載の内容は2023年5月15日（月）時点の情報となります</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>利用規約</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="c-Txt_Cap">
                <li><span>※</span>利用規約は<a href="<%= sitepath %>assets/pdf/youtubepremium/YouTube_Premium_terms20211207.pdf" class="c-Link_Txt c-Link_Txt-inline-icon" style="text-decoration: underline;" target="_blank">こちら<span class="c-Icon_Pdf-l"></span></a>をご確認ください</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ページURL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><a href="<%= sitepath %>campaign/youtubepremium/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/campaign/youtubepremium/</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="close-pagetop u-Adjust_Mt-40">
      <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
        <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
      </a>
    </div>
  </div>
</div>
<!-- campaign -->
