<!-- campaign -->
<div class="c-Accordion">
  <button id="accordion-1865" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1865">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>【毎月開催】お客様サポートページのご意見聞かせてキャンペーン（～2023/7/31 10:00）
  </button>
  <div id="accordion-content-1865" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1865" aria-hitden="true" style="display: none;">
    <div class="" style="position: relative; overflow: auto;">
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーンコード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>1865</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-16">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>【毎月開催】2023年7月3日（月）10:00～2023年7月31日（月）10:00</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方</p>
              <p class="c-Txt_Cap">※【1】を済ませたうえで、【2】と【3】をご対応ください。</p>
              <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">「Rakuten最強プラン」ご利用中、または、キャンペーン期間中に「Rakuten最強プラン」へのお申し込み＆プラン利用開始</span></p>
              <p class="c-Txt_Cap">※ 本キャンペーン開始時点で「Rakuten最強プラン」の未契約者である場合は、下記（1）-（3）いずれかの方法で「お申し込み」いただく必要があります。</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からのMNPでお申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル(ドコモ回線・au回線)の料金プランからプラン変更(移行)手続き後、お申し込み</p>
              <p class="u-Adjust_Mt-8">
                <span class="c-Txt_Emp-01">【プラン利用開始日とは】</span>
              </p>
              <p class="u-Adjust_Mt-8">
                ・新規お申し込みの場合<br/>
                （1）（2）のいずれか早い方がプラン利用開始日となります<br/>
                （1）当社に配送完了データが通知された日<br/>
                （2）プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日<br/>
              </p>
              <p class="u-Adjust_Mt-8">
                ・他社から乗り換え（MNP）の場合<br/>
                　プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日<br/>
                　楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br/>
                　プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
              </p>

              <p class="u-Adjust_Mt-16 u-Adjust_Ml-8"><span class="c-Txt_Emp-01">【2】本キャンペーン対象のホームページとmy楽天モバイル(Web版／アプリ版)に掲載している「サポート」のページにて「解決できた」または「解決できない場合はお問合せ」のボタンを押した方</span></p>
              <ul class="u-Adjust_Mt-16 u-Adjust_Ml-8">
                <li>
                  ・【1】を済ませた上で、【2】【3】をご対応ください。<br>
                </li>
                <li class="u-Adjust_Mt-8">
                  ・本キャンペーン対象のホームページとmy楽天モバイル(Web版／アプリ版)に掲載している「サポート」のページ<br>
                  　①よくあるご質問：URLが「https://network.mobile.rakuten.co.jp/faq/detail/」から始まるページ<br>
                  　②サポートページ：URLが「https://network.mobile.rakuten.co.jp/guide/」から始まるページ<br>
                  　③トラブル解決ナビ：URLが「https://network.mobile.rakuten.co.jp/guide/trouble-check/」から始まるページ<br>
                  　④my楽天モバイルアプリ版のサポート<br>
                  　⑤my楽天モバイルWeb版のサポート：URL「https://portal.mobile.rakuten.co.jp/dashboard#support」
                </li>
              </ul>

              <p class="u-Adjust_Mt-16 u-Adjust_Ml-8"><span class="c-Txt_Emp-01">【3】サポートページに関するアンケートに回答済み</span></p>
              <ul class="u-Adjust_Mt-16 u-Adjust_Ml-8">
                <li>・【2】の「解決できた」または「解決できない場合はお問合せ」のボタンを押すと、「アンケートに回答する」ボタンが表示されます。そちらからサポートページに関するアンケートに回答ください。</li>
                <li>・キャンペーン期間中にサポートページに関するアンケートに回答した方を対象に、ポイント付与の抽選を行います。</li>
                <li>・おひとり様、月１回までの抽選参加が可能です。アンケートは複数回送信できますが、１つの楽天会員IDにつき、1回の抽選となります。</li>
                <li>・アンケート送信後5日以内に、ご登録のアドレス宛にメールにて「アンケート回答受領のお知らせ」をお送りします。</li>
                <li>・当選者にはご登録のアドレス宛にメールにてアンケート回答の翌月末までにお知らせします。</li>
              </ul>

            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン特典（楽天ポイント）</th>
          </tr>
          <tr>
            <th scope="col">特典内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">
                抽選で100名様に1,500ポイントプレゼント<br>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ポイント付与日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">アンケート回答月の翌々月末日ごろに付与</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
              <p class="c-Txt_Cap"><span>※</span>権利の譲渡はできません</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ポイント有効期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
              <ul class="u-Adjust_Mt-8">
                <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">期間限定ポイントについてはこちら<span class="c-Icon_New-window-l"></span></a><p></p>
                </li><li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">特典適用対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              <ul class="u-Adjust_Mt-8">
                <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から退会している場合</li>
                <li class="c-Txt_Cap"><span>※</span>アンケート回答時にログインに使用した楽天会員IDと、楽天モバイルに登録している楽天会員IDが同一でない場合</li>
                <li class="c-Txt_Cap"><span>※</span>当社が不正回答であると判断した場合<br>〈不正回答の例〉<br>・自由回答で、質問に関係のない文字の羅列入力（例：「aaaa」）<br>・自由回答で、具体的に記入していない(例：「特になし」「なんとなく」)<br>・選択式回答で、明らかに質問を読んでいない連続した選択をしている（例：すべて選択肢「1」を選んでいる）</li>
                <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                <li class="c-Txt_Cap"><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul>
                <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上・電気通信事業法上の範囲内に制限される場合があります</li>
                <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li class="c-Txt_Cap"><span>※</span>記載の内容は2023年7月3日（月）時点の情報となります</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ページURL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><a href="<%= sitepath %>campaign/support-survey/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/campaign/support-survey/</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="close-pagetop u-Adjust_Mt-40">
      <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
        <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
      </a>
    </div>
  </div>
</div>
<!-- campaign -->
