<% const namespace = "close" -%>
<!-- campaign -->
<div class="c-Accordion">
  <button id="accordion-1849" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1849">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>【ショップ限定】春限定！対象製品購入でさらにポイント還元キャンペーン（～2023/5/9 閉店）
  </button>
  <div id="accordion-content-1849" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1849" aria-hitden="true" style="display: none;">
    <div class="" style="position: relative; overflow: auto;">
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーンコード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>1849</p>
              <ul class="c-List_Cap u-Adjust_Mt-16">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                　- 店舗（楽天モバイルショップ）　2023年3月17日（金）開店～2023年5月9日（火）閉店
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Cap c-Txt_Emp-02">
                ※　お一人様1回限りの適用となります
              </p>
              <p class="c-Txt_Cap c-Txt_Emp-02 <%= namespace %>-tab_PcDisplay">
                ※「【ショップ限定】対象製品購入でさらにポイント還元キャンペーン」と「【ショップ限定】春限定！対象製品購入でさらにポイント還元キャンペーン」で<br>
                　 複数台ご購入された場合、合計ポイントが最大の製品分のみのポイント付与となります<br>
                例）「【ショップ限定】対象製品購入でさらにポイント還元キャンペーン」でAQUOS sense6sとOPPO A55s 5Gを同時購入し<br>
                　　「【ショップ限定】春限定！対象製品購入でさらにポイント還元キャンペーン」でもAQUOS sense6sとOPPO A55s 5Gを同時購入した場合、<br><span class="u-Adjust_Ml-24">合計ポイントが最大のAQUOS sense6sのみのポイント付与とさせていただきます</span>
              </p>
              <p class="c-Txt_Cap c-Txt_Emp-02 <%= namespace %>-tab_SpDisplay">
                ※「【ショップ限定】対象製品購入でさらにポイント還元キャンペーン」と「【ショップ限定】春限定！対象製品購入でさらにポイント還元キャンペーン」で複数台ご購入された場合、合計ポイントが最大の製品分のみのポイント付与となります<br>
                例）「【ショップ限定】対象製品購入でさらにポイント還元キャンペーン」でAQUOS sense6sとOPPO A55s 5Gを同時購入し<br>
                「【ショップ限定】春限定！対象製品購入でさらにポイント還元キャンペーン」でもAQUOS sense6sとOPPO A55s 5Gを同時購入した場合、<br>合計ポイントが最大のAQUOS sense6sのみのポイント付与とさせていただきます
              </p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-24">対象製品いずれかをご購入</p>
              <p class="u-Adjust_Mt-16">
                　- AQUOS sense6s<br>
                　- OPPO A55s 5G<br>
                　- OPPO Reno7 A
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン特典 （楽天ポイント）</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">AQUOS sense6sご購入で楽天ポイント10,720円相当のポイントをプレゼント</p>
              <p class="c-Txt_Emp-01">OPPO A55s 5Gご購入で楽天ポイント11,799円相当のポイントをプレゼント</p>
              <p class="c-Txt_Emp-01">OPPO Reno7 Aご購入で楽天ポイント2,000円相当のポイントをプレゼント</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ポイント付与日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">
                製品ご購入月の翌々月末日ごろに付与
              </p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">
                ※　楽天ポイントの付与は、楽天モバイルより行います<br>
                ※　権利の譲渡はできません
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ポイント有効期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">
                ※　<a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt">期間限定ポイントについて</a><br>
                ※　有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">特典適用対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              <ul class="u-Adjust_Mt-16 c-Txt_Cap">
                <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                <li><span>※</span>「【ショップ限定】春限定！対象製品購入でさらにポイント還元キャンペーン（キャンペーンコード：1849）」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
                <li><span>※</span>楽天モバイルショップ以外で購入した場合</li>
                <li><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                <li><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                <li><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">併用不可キャンペーン</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">-【15分（標準）通話かけ放題】料金3カ月無料特典（キャンペーンコード：1525）</p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">-【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">- Androidスマホ/Wi-Fiルーター割引キャンペーン（キャンペーンコード：1550）</p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">-【ショップ限定】対象製品と楽天回線同時申込でさらに3,000ポイントキャンペーン（キャンペーンコード：1825）</p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">-【楽天モバイル】Rakuten UN-LIMIT紹介キャンペーン（キャンペーンコード：1784）</p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">-【ショップ限定】対象製品購入でさらにポイント還元キャンペーン（キャンペーンコード：1584）</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="c-Txt_Cap">
                <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                <li><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li><span>※</span>記載の内容は2023年3月17日（金）時点の情報となります</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ページURL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><a href="<%= sitepath %>campaign/shop-limited-device/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/campaign/shop-limited-device/</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="close-pagetop u-Adjust_Mt-40">
      <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
        <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
      </a>
    </div>
  </div>
</div>
