<!-- campaign -->
<div class="c-Accordion">
  <button id="accordion-1893" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
    aria-controls="accordion-content-1893">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>iPhoneあんしんサポート1,300円相当分ポイント還元キャンペーン（～2023/6/30 8:59）
  </button>
  <div id="accordion-content-1893" class="c-Accordion_Panel js-Accordion_Panel" role="region"
    aria-labelledby="accordion-1893" aria-hitden="true" style="display: none;">
    <div class="" style="position: relative; overflow: auto;">
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーンコード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>1893</p>
              <ul class="sec-for-member-Table_Rule-Cap u-Adjust_Mt-16">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><span class="c-Txt_Emp-01">■ エントリー期間</span><br>
                2023年6月1日（木）0:00～2023年6月30日（金）8:59
              </p>
              <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ オプションサービス加入期間</span><br>
                店舗:2023年6月1日（木）開店～2023年6月29日（木）閉店<br>
                Web:2023年6月1日（木）0:00～2023年6月30日（金）8:59
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-02">
                上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方
              </p>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</p>
                <div>
                  エントリー期間内に本キャンペーンページでエントリー
                </div>
              </div>
              <div class="u-Adjust_Mt-16">
                <p class="c-Txt_Emp-01">【2】楽天モバイルショップまたは楽天モバイルオンラインより故障紛失保証 with AppleCare Services にお申し込み</p>
                <p class="c-Txt_Cap">
                  ※　iPhoneご購入と同時の場合のみご加入いただけます。<br>
                  ※　製品単体の購入でも、本キャンペーンの対象になります。<br>
                  ※　製品によって、月額料金が異なります。詳しくは下記のURLをご確認ください。
                </p>
                <p>-故障紛失保証 with AppleCare Servicesの<a href="/service/iphone/applecare/" class="c-Link_Txt">詳細はこちら</a></p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン特典（楽天ポイント）</th>
          </tr>
          <tr>
            <th scope="col">特典内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <span class="c-Txt_Emp-01">楽天ポイント1,300円相当のポイントプレゼント</span>
              
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ポイント付与日</p>
                <p class="c-Txt_Emp-01">8月末日ごろに付与</p>
                <p class="c-Txt_Cap">
                  ※　オプションの加入期間内に「故障紛失保証 with AppleCare Services」にお申し込みいただいた方には8月末日ごろに1,300ポイント付与されます。<br>
                  ※　楽天ポイントの付与は、楽天モバイルより行います<br>
                  ※　権利の譲渡はできません
                </p>
                <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ポイント有効期間</p>
                <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                <p class="c-Txt_Cap">
                  ※　<a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt">期間限定ポイントについて</a><br>
                  ※　有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません
                </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">特典適用対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                <p class="c-Txt_Cap">
                  ※　当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合<br>
                  ※　「iPhoneあんしんサポート1,300円相当分ポイント還元キャンペーン」の適用回数が、おひとり様1回を超える場合は対象外となります<br>
                  ※　ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合<br>
                  ※　ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合<br>
                  ※　当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合<br>
                  ※　そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合
                </p>
            </td>
          </tr>
        </tbody>
      </table>
    
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Cap">
                ※　本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください<br>
                ※　本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります<br>
                ※　本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります<br>
                ※　記載の内容は2023年6月1日（木）時点の情報となります
              </p>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ページURL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><a href="<%= sitepath %>campaign/applecare/"
                  class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/campaign/applecare/</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="close-pagetop u-Adjust_Mt-40">
      <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
        <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
      </a>
    </div>
  </div>
</div>
<!-- campaign -->