<% const namespace = "close" -%>
<!-- campaign -->
<div class="c-Accordion">
  <button id="accordion-1743" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1743">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>iPhone新規購入&下取りで、10,000ポイント還元！！キャンペーン（～2023/4/30 23:59）
  </button>
  <div id="accordion-content-1743" class="c-Accordion_Panel js-Accordion_Panel top-Utility_Show-pc" role="region" aria-labelledby="accordion-1743" aria-hitden="true" style="display: none;">
    <div class="" style="position: relative; overflow: auto;">

            <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーンコード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <p>1743</p>
                <ul class="c-Txt_Cap u-Adjust_Mt-8">
                  <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                </ul>
              </td>
          </tr>
        </tbody>
      </table>
            <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <div>
                  <p class="c-Txt_Emp-01">■ 製品のご購入期間</p>
                  <p class="u-Adjust_Ml-16">
                    - Web　2023年02月01日（水）09:00～2023年04月30日（日）23:59<br>
                    - 店舗（楽天モバイルショップ）　2023年02月01日（水）開店～2023年04月30日（日）閉店
                  </p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイル公式 楽天市場店でのご購入は対象外となります</p>
                </div>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">■ ご購入製品の受け取り期限</p>
                  <p class="u-Adjust_Ml-16">2023年05月31日（水）23:59</p>
                </div>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">■ スマホ下取りサービスのお申し込み期間</p>
                  <p class="u-Adjust_Ml-16">2023年02月01日（水）09:00～2023年04月30日（日）23:59</p>
                </div>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">■ スマホ下取りサービスの成約期限</p>
                  <p class="u-Adjust_Ml-16">2023年05月31日（水）23:59</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-8">※成約とは、査定が完了したタイミングを指します。査定が完了いたしましたら、査定完了メールにてお知らせいたします。<br>※製品の新規購入とスマホ下取りサービスのお申し込みの順序は問いません。ただし、対象製品の購入申込も「スマホ下取りサービス」のお申し込みも4月30日までに完了する必要があります</p>
                </div>
              </td>
          </tr>
        </tbody>
      </table>
            <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方</p>
                <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※【1】と【2】の順序は問いません。ただし、【1】と【2】はキャンペーン期間内に完了する必要があります</p>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【1】対象製品を新規購入</p>
                  <p class="u-Adjust_Ml-16">製品のご購入期間中に楽天モバイルオンライン(Web)、もしくは楽天モバイルショップで以下いずれかを購入</p>
                  <div class="u-Adjust_Ml-16">
                    <p class="c-Txt_Emp-01 u-Adjust_Mt-8">対象製品</p>
                    <ol class="u-Adjust_Ml-16">
                      <li>- iPhone 14 Pro Max</li>
                      <li>- iPhone 14 Pro</li>
                      <li>- iPhone 14 Plus</li>
                      <li>- iPhone 14</li>
                      <li>- iPhone 13</li>
                      <li>- iPhone 13 mini</li>
                      <li>- iPhone SE 3rd（第3世代）</li>
                      <li><s>- iPhone 13 Pro Max</s></li>
                      <li><s>- iPhone 13 Pro</s></li>
                      <li><s>- iPhone 12</s></li>
                    </ol>
                    <p class="c-Txt_Cap u-Adjust_Mt-8">
                      <span>※2023年3月24日よりiPhone 13 Pro Max、iPhone 13 Pro、iPhone 12は対象外となりました。</span><br>
                      <span class="c-Txt_Emp-02">※Rakuten UN-LIMIT VIIとセット、製品単体購入どちらの場合もキャンペーン対象となります。</span><br>
                      <span class="c-Txt_Emp-02">※在庫が少ない製品もございます。あらかじめご了承ください。</span><br>
                      ※キャンペーン期間外のご購入は特典適用の対象外となります<br>
                      ※購入申し込みを中止、もしくはキャンセルした場合は特典適用の対象外となります<br>
                      ※製品がお手元に届いた場合のみ、特典適用の対象となります<br>
                      ※回線と同時購入をされた場合には、回線の利用が確認されるまで購入が完了とみなされないためご注意ください
                    </p>
                  </div>
                </div>
                <div class="u-Adjust_Mt-16">
                  <p class="c-Txt_Emp-01">【2】「スマホ下取りサービス」のお申し込み</p>
                  <div>
                    <p>（1）「<a href="<%= sitepath %>service/tradein/">スマホ下取りサービス</a>」ページにて、すでにお持ちのiPhoneを下取りに出す</p>
                    <div class="u-Adjust_Ml-16">
                      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">下取り対象製品</p>
                      <ol class="u-Adjust_Ml-16">
                        <li>- iPhone 7 / iPhone 7 Plus</li>
                        <li>- iPhone 8 / iPhone 8 Plus</li>
                        <li>- iPhone X / iPhone XR / iPhone XS / iPhone XS Max</li>
                        <li>- iPhone 11 / iPhone 11 Pro / iPhone 11 Pro Max</li>
                        <li>- iPhone 12 / iPhone 12 mini / iPhone 12 Pro / iPhone 12 Pro Max</li>
                        <li>- iPhone 13 / iPhone 13 mini / iPhone 13 Pro / iPhone 13 Pro Max</li>
                        <li>- iPhone SE (第２世代)</li>
                      </ol>
                      <p class="c-Txt_Cap u-Adjust_Mt-8">
                        ※日本国内にて楽天モバイル以外でご購入された製品でも、下取り対象製品であればお申し込み可能です<br>
                        ※上記以外の製品の下取りは本キャンペーンの対象外となります<br>
                        ※本サービスは満18歳以上のお客様のみご利用いただけます
                      </p>
                    </div>
                  </div>
                  <div class="u-Adjust_Mt-8">
                    <p>（2）14日以内にお持ちの製品を発送する</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Ml-16">※「<a href="<%= sitepath %>assets/pdf/service/tradein/tradein_application_flow.pdf?230414">お申し込みの流れ</a>」に従って、手続きを進めてください</p>
                  </div>
                  <div class="u-Adjust_Mt-8">
                    <p>（3）「スマホ下取りサービス」の査定完了メールを確認する</p>
                    <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Ml-16">
                      ※スマホ下取りのお申し込み状況は「スマホ下取りサービス」ページの「手続き状況」にてご確認いただけます<br>
                      ※製品実査定は弊社に製品到着後、7日程度かかります<br>
                      ※査定後、製品の状態により下取り価格が変更になる場合がございます。査定結果に変更がある場合でも、お申し込み後にキャンセルを行うことはできません<br>
                      ※査定後の価格が0円と判断された場合、本キャンペーンの対象外となります（ご送付いただいた製品は返送いたします）
                    </p>
                  </div>
                </div>
              </td>
          </tr>
        </tbody>
      </table>
            <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン特典 （楽天ポイント）</th>
          </tr>
          <tr>
            <th scope="col">特典内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <p class="c-Txt_Emp-01">10,000ポイントプレゼント</p>
              </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ポイント付与日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <p class="c-Txt_Emp-01">キャンペーン条件達成の翌々月末日ごろに付与</p>
                <p class="c-Txt_Cap">
                  ※例）2月にすべてのキャンペーン条件を達成した場合には、その翌々月である4月末日ごろにポイント付与となります<br>
                  ※楽天ポイントの付与は、楽天モバイルより行います<br>
                  ※権利の譲渡はできません
                </p>
              </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ポイント有効期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
                <p class="c-Txt_Cap">
                  ※<a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a><br>
                  ※有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません
                </p>
              </td>
          </tr>
        </tbody>
      </table>
            <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">特典適用対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                <ul class="u-Adjust_Mt-16">
                  <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                  <li class="c-Txt_Cap"><span>※</span>指定期間内に、キャンペーン条件をすべて満たさなかった場合</li>
                  <li class="c-Txt_Cap"><span>※</span>対象製品購入時の楽天IDと「スマホ下取りサービス」申込時の楽天IDが異なる場合</li>
                  <li class="c-Txt_Cap"><span>※</span>「iPhone 新規購入&下取りで、ポイント還元キャンペーン」の適用回数が、キャンペーン期間中おひとり様につき1契約1回を超える場合</li>
                  <li class="c-Txt_Cap"><span>※</span>「スマホ下取りサービス」にて申し込んだ製品が状態により査定後の価格が0円と判断された場合（ご送付いただいた製品は返送いたします）</li>
                  <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合　(楽天モバイル公式 楽天市場店でのご購入は対象外)</li>
                  <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                  <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                  <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                </ul>
              </td>
          </tr>
        </tbody>
      </table>
            <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                <ul>
                  <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                  <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                  <li class="c-Txt_Cap"><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                  <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                  <li class="c-Txt_Cap"><span>※</span>記載の内容は2023年3月24日（金）時点の情報となります</li>
                </ul>
              </td>
          </tr>
        </tbody>
      </table>
      
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ページURL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><a href="<%= sitepath %>campaign/iphone-tradein/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/campaign/iphone-tradein/</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="close-pagetop u-Adjust_Mt-40">
      <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
        <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
      </a>
    </div>
  </div>
</div>
<!-- campaign -->
