<!-- campaign -->
<div class="c-Accordion">
  <button id="accordion-1061" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1061">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>「Rakuten最強プラン」ご利用者対象 楽天モバイルキャリア決済 お支払い金額の10%分の楽天ポイント還元キャンペーン（〜2023/6/30 23:59）
  </button>
  <div id="accordion-content-1061" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1061" aria-hitden="true" style="display: none;">
    <div class="" style="position: relative; overflow: auto;">
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーンコード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>1061</p>
              <ul class="sec-for-member-Table_Rule-Cap u-Adjust_Mt-16">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プランのお申し込み期間</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンの終了日が記載されていますが、2023年7月1日（土）00:00以降、新キャンペーンを実施予定です。詳細は2023年7月1日（土）00:00から開始する新キャンペーンをご確認ください。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※新キャンペーンの準備状況によっては、本キャンペーン終了日の記載に関わらず延長する場合があります。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※2023年6月1日（木）に、キャンペーンの終了日を、終了日未定から変更しました。</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>キャンペーン実施期間中に、 楽天モバイル「Rakuten最強プラン」をご利用の回線でGoogle Play ストアで有料のアプリやサービスなどの料金を、楽天モバイルキャリア決済でお支払いいただいた方。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天回線対応のAndroid製品をご利用の方のみ対象となります。</p>
            </td>
          </tr>
        </tbody>
        <thead>
          <tr>
            <th scope="col">特典内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>楽天モバイルキャリア決済を利用して、Google Play ストアでお支払いされた金額（税込）の10%分の楽天ポイントをもれなくプレゼント。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ポイント付与は、お一人様毎月最大20,000ポイントを上限とさせていただきます。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天回線対応のAndroid製品をご利用の方のみ対象となります。</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ポイント付与日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>楽天ポイントの付与は、購入月の翌々月末日までに行います。楽天ポイントは、期間限定ポイントです。<br>例）2020年9月に購入した場合、2020年11月末日までに付与</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天ポイントの付与は、楽天モバイルより行います。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※権利の譲渡はできません。</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ポイント有効期限</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>ポイント付与日を含めて6カ月</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">特典適用対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
              <ul class="c-List_Text-disc u-Adjust_Mt-8">
                <li>楽天モバイルキャリア決済でのお支払いをキャンセルされた場合</li>
                <li>月の購入金額が10円に満たない場合</li>
                <li>お支払いが正常に完了していない場合</li>
                <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                <li>ポイント付与までに楽天会員から退会している場合</li>
                <li>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
                <li>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="c-List_Text-disc">
                <li>楽天モバイルをご解約された場合、解約した月から特典の対象外となります。</li>
                <li>デジタルコンテンツのご購入ごとにクレジットカードまたはデビットカードで決済処理を実施いたします。ご利用日に対する引き落とし時期は、ご利用のカード会社またはデビットカード発行会社の規定に準じます。</li>
                <li>利用設定を「無効」にしている状態では、Google Play ストアで本サービスをご利用いただくことはできません。ご利用の際は、「<a href="<%= ecarepath %>my-rakuten-mobile" class="c-Link_Txt">my 楽天モバイル</a>」にてご利用設定を「有効」にしてください。初期設定時には「有効」に設定されています。</li>
                <li>楽天モバイルキャリア決済でのお支払い分は、楽天モバイルが毎月のご利用料金に対して付与するポイントの対象外です。</li>
                <li>楽天モバイルキャリア決済サービスは、楽天回線対応のAndroid製品をご利用の方のみを対象としております。</li>
                <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ページURL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><a href="<%= sitepath %>campaign/payment-google/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/campaign/payment-google/</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="close-pagetop u-Adjust_Mt-40">
      <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
        <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
      </a>
    </div>
  </div>
</div>
<!-- campaign -->
