<div class="c-Accordion">
  <button id="accordion-1552" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false"
    aria-controls="accordion-content-1552">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Rakuten WiFi Pocket ポイントバックキャンペーン（～2023/4/14 8:59）
  </button>
  <div id="accordion-content-1552" class="c-Accordion_Panel js-Accordion_Panel" role="region"
    aria-labelledby="accordion-1552" aria-hidden="true" style="display: none;">
    <div class="" style="position: relative; overflow: auto;">
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーンコード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>1552</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-8">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                <span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
                　- Web　2022年7月1日（金）0:00～2023年4月14日（金）08:59<br>
                　- 店舗（楽天モバイルショップ）　2022年7月1日（金）開店～2023年4月13日（木）閉店<br>
              </p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※2023年4月1日（土）終了日を変更しました。
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-02">
                上記各項目の期間内に下記条件を満たした楽天会員の方<br>※お一人様１回限りの適用となります。
              </p>

              <div class="u-Adjust_Mt-16">
                <span class="c-Txt_Emp-01">対象製品いずれかをご購入</span><br>
                <ul class="c-List_Note u-Adjust_Mt-8 u-Adjust_Ml-16">
                  <li><span>-</span>Rakuten WifiPocket 2B</li>
                  <li><span>-</span>Rakuten WifiPocket 2C</li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン特典 （楽天ポイント） </th>
          </tr>
          <tr>
            <th scope="col">特典内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">1,401ポイントプレゼント</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ポイント付与日<br>製品ご購入月の翌々月末日ごろに付与</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">
                ※例）2022年7月にすべての条件を達成した場合には、その翌々月である9月末日ごろにポイント付与となります<br>
                ※楽天ポイントの付与は、楽天モバイルより行います<br>
                ※権利の譲渡はできません
              </p>

              <p class="c-Txt_Emp-01  u-Adjust_Mt-16">ポイント有効期間</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">ポイント付与日を含めて6カ月</p>
              <p class="u-Adjust_Mt-8 c-Txt_Cap">
                <span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank"
                  rel="noopener noreferrer" class="c-Link_Txt">期間限定ポイントについて</a><br>
                <span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">特典適用対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-16">
                <li><span>※</span>「Rakuten WiFi Pocket ポイントバックキャンペーン」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
                <li><span>※</span>※楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
                <li><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                <li><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                <li><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="c-Txt_Cap">
                <li><span>※</span>　本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li><span>※</span>　本キャンペーンの特典付与進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります
                </li>
                <li><span>※</span>　製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
                <li><span>※</span>　本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li><span>※</span>　記載の内容は2023年4月1日（土）時点の情報となります</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ページURL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><a
                  href="<%= sitepath %>campaign/rakuten-wifi-pocket-2b/">https://network.mobile.rakuten.co.jp/campaign/rakuten-wifi-pocket-2b/</a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="close-pagetop u-Adjust_Mt-40">
      <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
        <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
      </a>
    </div>
  </div>
</div>