<%# campaign code設定されていないため :n001 %>
<!-- campaign -->
<div class="c-Accordion">
  <button id="accordion-n001" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-n001">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天カード新規入会＆利用キャンペーン（～2023/4/24 10:00) 
  </button>
  <div id="accordion-content-n001" class="c-Accordion_Panel js-Accordion_Panel top-Utility_Show-pc" role="region" aria-labelledby="accordion-n001" aria-hitden="true" style="display: none;">
    <div class="" style="position: relative; overflow: auto;">

      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>2023年4月14日（金）10:00～2023年4月24日（月）10:00</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">カード利用期限</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              2023年4月14日（金）～2023年5月31日（水）
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※</span>2023年6月30日（金）までにカードご利用店舗から楽天カード（株）へのカード利用情報の到着が必須となります。</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">口座振替設定期限</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>カードお申し込み日の翌々月25日まで</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">特典</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>【楽天カード新規入会特典】2,000ポイント （期間限定ポイント）<br>
              【楽天カード利用特典】8,000ポイント （6,000ポイントは期間限定ポイント、2,000ポイントは通常ポイント）<br>
              ※ポイント進呈時の名称は、6,000ポイントと2,000ポイントで異なります。<br>
              また、ポイント進呈日は6,000ポイントと2,000ポイントで異なる場合がございます。あらかじめご了承ください。<br>
              <p class="text-style01 u-Adjust_Mt-8">・<a href="https://point.rakuten.co.jp/guidance/terms/" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて詳細を見る<span class="c-Icon_New-window-l"></span></a></p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ポイント進呈予定日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>【楽天カード新規入会特典】審査可決後<br>
              審査の状況によってはポイント進呈までお時間をいただきます。その場合は、お申し込みから約2分後にメールにてご連絡申し上げます。<br>
              21:15～8:40のお申し込みは、8:40以降の審査受け付けとなります。<br>
              お申し込み時にログインした楽天会員登録の口座に楽天ポイントを進呈いたします。<br>
              有効期限は入会月の5カ月後の月末までとなります。<br>
              <br>
              【楽天カード利用特典】カード初回利用と口座振替設定の両方が完了した月の翌月末頃<br>
              ※諸事情によりポイント進呈が遅れる場合もございますのでご了承ください。<br>
            
              <span class="text-style01">・特典2のカード利用特典の進呈タイミングについては<a href="https://r10.to/hrJfAM" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a>をご覧ください。なお、6,000ポイントの有効期限は進呈日の翌月末までとなります。</span><br>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">進呈対象</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>【楽天カード新規入会特典】【楽天カード利用特典】</div>
              <ul class="c-List_Text-disc u-Adjust_Mt-8">
                <li>新規のお申し込みで楽天カードが発行された方</li>
                <li>本ページよりお申し込みの方</li>
              </ul>
              <div class="u-Adjust_Mt-16">【楽天カード利用特典】</div>
              <ul class="c-List_Text-disc u-Adjust_Mt-8">
                <li>カード利用期限までに1円以上、1回以上対象カード（楽天カード）を利用された方※1</li>
                <li>口座振替設定期限の時点で口座振替設定が完了されている方※2</li>
              </ul>
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※1</span>ご利用加盟店によってはカード利用情報の到着に時間がかかり、実際のご利用日と異なる場合がございます。<br>
                また楽天カード株式会社へのカード利用情報到着のタイミングによって、ポイント進呈がカード初回利用日の翌々月以降になる場合や、ポイント進呈対象外となる場合がございます。</li>
                <li><span>※2</span>お申し込み時に郵送での口座振替設定を選択された方は、口座振替設定完了までに時間がかかる場合がございます。</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">進呈対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>【楽天カード新規入会特典】【楽天カード利用特典】</div>
              <ul class="c-List_Text-disc u-Adjust_Mt-8">
                <li>すでにカードをお持ちの方（お申し込み中・カードの到着をお待ちの方も含む）</li>
                <li>カードお申し込み時の審査において、カードが発行されなかった方</li>
              
                <li>ポイント進呈月の前月末時点で、本カード会員様が楽天会員もしくは楽天カード会員を退会されている場合、いずれかの会員規約に違反もしくは会員資格を取り消されている場合</li>
              
                <li>重複お申し込みの場合</li>
                <li>ポイント進呈予定日の前月末時点でカードを受け取っていない場合</li>
                <li>ポイント進呈月の前月末時点で、ご利用可能なカードをお持ちでない場合</li>
              </ul>
              <div class="u-Adjust_Mt-16">【楽天カード新規入会特典】</div>
              <ul class="c-List_Text-disc u-Adjust_Mt-8">
                <li>過去にカードを受け取ったことのある方</li>
                <li>過去に入会特典ポイントを受け取ったことのある方</li>
              </ul>
              <div class="u-Adjust_Mt-16">【楽天カード利用特典】</div>
              <ul class="c-List_Text-disc u-Adjust_Mt-8">
                <li>過去お申し込み履歴があり、カードが発行されたことのある方（すでに退会された方・カード切り替えのお申し込みをされた方含む）</li>
                <li>過去にカード発行履歴のある楽天IDを利用してお申し込みをされた方</li>
                <li>1つの楽天IDを使って複数の方がカードお申し込みいただいた場合</li>
                <li>ポイント進呈月の前月末時点で、楽天IDが弊社で特定できない場合</li>
              </ul>
              <div class="u-Adjust_Mt-16">＜以下のご利用分は、対象外となります。＞</div>
              <ul class="c-List_Text-disc u-Adjust_Mt-8">
                <li>2枚目に作成いただいた楽天カードのご利用分</li>
                <li>楽天市場や楽天ペイなどでのポイントご利用分</li>
                <li>キャッシングのご利用分およびATM手数料</li>
                <li>明細書発行費用</li>
                <li>カード年会費（ETCカード年会費など）および、楽天PINKカードの月額サービス料</li>
                <li>キャンセルされたご利用分</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">備考</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="c-List_Text-disc">
                <li>18歳未満、高校生、海外在住の方はカードをお申し込みいただけません。</li>
                <li>カード発行には所定の審査がございます。</li>
                <li>ポイント進呈までに楽天カード会員および楽天会員登録の情報変更があった場合、ポイント進呈ができない場合がございます。</li>
                <li>本企画は、やむを得ず変更・中止する場合がございます。</li>
                <li>弊社に登録されている楽天IDが複数ある場合、進呈されない場合がございます。</li>
                <li>お申し込みの際には、ご本人様の楽天IDをご利用ください。</li>
                <li>年末年始、ゴールデンウィーク、連休のお申し込みについては、通常よりもお届けが遅れる場合がございます。あらかじめご了承ください。</li>
                <li>ポイント進呈時点で、上記以外のその他の事由により特典の進呈ができない場合がございます。</li>
              </ul>
              <div class="u-Adjust_Mt-16">＜楽天カードのお申し込みに関するお問い合わせ先＞</div>
              <div class="u-Adjust_Mt-8">楽天カード株式会社コンタクトセンター</div>
              <div class="u-Adjust_Mt-8">0570-66-6910（営業時間9:30～17:30）</div>
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※</span>上記電話番号がご利用いただけない場合は092-474-6287をご利用ください。</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ページURL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><a href="<%= sitepath %>guide/application/card-campaign/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/guide/application/card-campaign/</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="close-pagetop u-Adjust_Mt-40">
      <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
        <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
      </a>
    </div>
  </div>
</div>
<!-- campaign -->
