<div class="c-Accordion">
  <button type="button" id="accordion-1815-05" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1815-05"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>
    楽天ペイメントサービスご利用者様へ【毎月開催】楽天モバイル初めてのお申し込みでポイントプレゼント（～2023年5月1日 8:59）
  </button>
  <div id="accordion-content-1815-05" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1815-05" aria-hidden="true">
    <div style="position: relative; overflow: auto;">
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>キャンペーンコード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>1815</p>
              <ul class="u-Adjust_Mt-16">
                <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>キャンペーン期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">プランのお申し込み期間</p>
              <p>- Web　2023年4月3日（月）9:00～2023年5月1日（月）8:59</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">プラン利用開始期限</p>
              <p>2023年5月31日（水）23:59まで</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「Rakuten Link」利用期限</p>
              <p>2023年5月31日（水）23:59まで</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方<br>
                <span class="c-Txt_Emp-01">※特典はおひとり様1回のみ。楽天回線を初めてお申し込みいただいた場合に適用となります。</span></p>
              <p class="u-Adjust_Mt-8">【1】本キャンペーンページの「お申し込みはこちら」ボタンより「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（1）新規お申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（2）他社からの乗り換え（MNP）でお申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
              <ul class="c-List_Cap u-Adjust_Mt-8">
                <li><span>※</span>下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</li>
              </ul>
              <p class="u-Adjust_Mt-8">・オプションサービスを引き継ぎたい場合<br>
                本ページからお申し込みした際、オプションサービスはすべて解約となります。<br>
                【お申し込み時の注意事項】<br>
                ・キャンペーン特典の適用は、本ページの「お申し込みはこちら」ボタンからのお手続きが必要となります<br>
                ・お手続き中に時間超過等でセッションが切れた場合、再度本ページの「お申し込みはこちら」ボタンよりお手続きが必要になります<br>
                ・楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合は、キャンペーン特典の適用はございません。メンテナンスの終了後に改めてお申し込みください<br>
                ・楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、<a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten" target="_blank" class="c-Link_Txt-inline">メンバーズステーション<span class="c-Icon_New-window-l"></span></a>より、プラン変更（移行）した場合、キャンペーンの適用はございません<br>
                ・お手続き完了前に、「受け取りとお支払い方法」ページのお申し込み内容にて、クーポンコードが表示されることを必ずご確認ください</p>
              <p class="u-Adjust_Mt-8">【2】「Rakuten UN-LIMIT VII」プラン利用開始</p>
              <ul class="c-List_Cap u-Adjust_Mt-16">
                <li id="PlanStart">【プラン利用開始日とは】<br><br>
                  <span>新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
                  （1）当社に配送完了データが通知された日<br>
                  （2）プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                  <span>他社から乗り換え（MNP）の場合</span><br>
                  プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br><br>
                  <span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
                  プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
              </ul>
              <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">【3】「Rakuten Link」のご利用</span></p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">「Rakuten UN-LIMIT VII」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>

              <p class="u-Adjust_Mt-16">【Rakuten Linkアプリご利用方法】<br>
                Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
                「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001919/" target="_blank" class="c-Link_Txt-inline">キャンペーンにおけるRakuten Linkの利用について<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
                <ul class="c-List_Cap u-Adjust_Mt-16">
                  <li><span>※</span>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
                </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>キャンペーン特典（楽天ポイント）</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>特典内容</p>
              <p>2,000ポイントプレゼント</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thea>
          <tr>
            <th>ポイント進呈日</th>
          </tr>
        </thea>
        <tbody>
          <tr>
            <td>
              <p>2023年8月末ごろに進呈</p>
              <ul class="c-List_Cap u-Adjust_Mt-16">
                <li><span>※</span>楽天ポイントの進呈は、楽天モバイルより行います</li>
                <li><span>※</span>権利の譲渡はできません</li>
              </ul>
            </td>
          </tr>
        </tbody>
        </table>
        <table class="c-Table_Container">
          <thead>
            <tr>
              <th>ポイント有効期間</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p>ポイント進呈日を含めて6カ月</p>
                <ul class="c-List_Cap u-Adjust_Mt-16">
                  <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                  <li><span>※</span>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
                </ul>
              </td>
            </tr>
          </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>特典適用対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
              <ul class="c-List_Cap u-Adjust_Mt-16">
                <li><span>※</span>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより進呈ポイント数やクーポン割引額が多いRakuten UN-LIMIT VIIお申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合（複数の Rakuten UN-LIMIT VIIお申し込みでポイントまたはクーポンプレゼントキャンペーンの対象となった場合、進呈ポイント数やクーポン割引額が一番多いキャンペーンのみが適用されます。）</li>
                <li><span>※</span>過去に同一名義で楽天モバイル（Rakuten UN-LIMIT V、Rakuten UN-LIMIT VI含む）をご契約いただいたことがある場合</li>
                <li><span>※</span>本ページの「お申し込みはこちら」ボタン以外からお申し込みされた場合</li>
                <li><span>※</span>本ページの「お申し込みはこちら」ボタンよりお手続き中に時間超過等でセッションが切れた場合</li>
                <li><span>※</span>楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合</li>
                <li><span>※</span>楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、メンバーズステーション経由でプラン変更（移行）した場合</li>
                <li><span>※</span>お申し込み途中で、他のお申し込みボタンからお申し込みを開始したり、ブラウザ、スマートフォンやパソコンを変えるなどして「受け取りとお支払い方法」ページのお申し込み内容で、クーポンコードが表示されていない場合</li>
                <li><span> </span>クーポンコードは、キャンペーンページの「クーポンコード」に記載の14桁の英数字です。</li>
                <li><span>※</span>お申し込み途中で、クーポンを解除した場合</li>
                <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                <li><span>※</span>「楽天ペイメントサービスご利用者様へ【毎月開催】楽天モバイル初めてのお申し込みでポイントプレゼント」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
                <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
                <li><span>※</span>店舗（楽天モバイルショップ）でのお申し込みの場合</li>
                <li><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、こちらの<a href="<%= sitepath %>assets/pdf/product/STARTGUIDE-SIM-CARD.pdf?240321">SIMカード版スタートガイド</a>または<a href="<%= sitepath %>assets/pdf/product/STARTGUIDE-eSIM.pdf?240216">eSIM版スタートガイド</a>を参照ください</li>
                <li><span>※</span>期限までに「Rakuten Link」を利用されなかった場合</li>
                <li><span>※</span>ポイント進呈までに楽天会員から退会している場合</li>
                <li><span>※</span>当社または楽天ペイメント株式会社、楽天Edy株式会社が定める規約などに違反した場合</li>
                <li><span>※</span>楽天ペイメントサービス（楽天ペイ、楽天ポイントカード、楽天Edy、楽天チェック）利用者でない場合</li>
                <li><span>※</span>そのほか、当社が会員として不適格であると判断した場合</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>併用可能キャンペーン</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>以下のキャンペーンは併用が可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
              <p class="u-Adjust_Mt-16">- 【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
              <ul class="c-List_Cap">
                <li><span>※</span>楽天モバイル公式 楽天市場店でRakuten WiFi Pocket 2Cを楽天回線プラン（Rakuten UN-LIMIT VII）セットでご注文した場合は特典適用対象外となります。</li>
                <li><span>※</span>楽天モバイルショップ、楽天モバイルオンラインでRakuten Hand 5GまたはRakuten WiFi Pocket 2Cを「Rakuten UN-LIMIT VII」ご契約と同時に購入した場合は特典適用対象外となります。</li>
                <li><span>※</span>2023年4月14日（金）9:00より特典適用対象外を追加いたしました。</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th>注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="c-List_Cap">
                <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li><span>※</span>記載の内容は2023年4月14日（金）時点の情報となります</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ページURL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><a href="<%= sitepath %>campaign/payment-service/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/campaign/payment-service/</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="close-pagetop u-Adjust_Mt-40">
      <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
        <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
      </a>
    </div>
  </div>
</div>
