<% const namespace = "close" -%>
<!-- campaign -->
<div class="c-Accordion">
  <button id="accordion-1866" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1866">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>【楽天モバイルご契約者様限定】お1人様2枚まで！楽天イーグルスの観戦チケットを先着で5,000名様分プレゼントキャンペーン（～2023/5/15 8:59）
  </button>
  <div id="accordion-content-1866" class="c-Accordion_Panel js-Accordion_Panel top-Utility_Show-pc" role="region" aria-labelledby="accordion-1866" aria-hitden="true" style="display: none;">
    <div class="" style="position: relative; overflow: auto;">

              <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーンコード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                  <p>1866</p>
                  <ul class="c-Txt_Cap u-Adjust_Mt-8">
                    <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
                  </ul>
                </td>
          </tr>
        </tbody>
      </table>
              <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                  <p><span class="c-Txt_Emp-01">■ エントリー期間</span><br>
                    　2023年4月14日（金）9:00～2023年5月15日（月）8:59
                  </p>
                  <p class="u-Adjust_Mt-16">【「Rakuten UN-LIMIT VII」プランご利用中でない場合】</p>
                  <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
                    　- Web　2023年4月14日（金）9:00～2023年5月15日（月）8:59<br>
                    　- 店舗（楽天モバイルショップ）　2023年4月14日（金）開店～2023年5月14日（日）閉店
                  </p>
                  <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
                    　2023年5月15日（月）23:59まで
                  </p>
                </td>
          </tr>
        </tbody>
      </table>
              <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                  <p class="c-Txt_Emp-02">
                    上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方
                  </p>
                  <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※　特典のご案内はおひとり様、1度のみ、エントリーいただいた楽天会員アカウントが対象となります
                  </p>
                  <div class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</p>
                    <p class="u-Adjust_Mt-16">エントリー期間内に本キャンペーンページでエントリー</p>
                    <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">
                      　※　プラン未契約者の方のエントリーとプラン申し込みの順序は問いません<br>
                      　※　エントリーで観戦チケットの確保とはなりませんので、ご了承ください
                    </p>
                  </div>

                  <div class="u-Adjust_Mt-16">
                    <p class="c-Txt_Emp-01">【2】「Rakuten UN-LIMIT VII」プランご利用中またはお申し込み</p>
                    <p class="u-Adjust_Mt-16">「Rakuten UN-LIMIT VII」の未契約者の方は、上記期間内に以下(ⅰ)(ⅱ)を満たすことで対象となります。</p>
                    <p class="u-Adjust_Mt-16">(ⅰ)「Rakuten UN-LIMIT VII」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
                    <ul class="c-List_Note u-Adjust_Mt-8">
                      <li><span>(1)</span>新規お申し込み</li>
                      <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み</li>
                      <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
                    </ul>
                  </div>
                  <div class="u-Adjust_Mt-16">
                    <p>(ⅱ)「Rakuten UN-LIMIT VII」プラン利用開始</p>
                    <p class="u-Adjust_Mt-16">【プラン利用開始日とは】</p>
                    <ul>
                      <li class="u-Adjust_Mt-8">- 新規お申し込みの場合 <span>※(1)(2)のいずれか早い方がプラン利用開始日となります。</span>
                        <ul class="c-List_Note">
                          <li><span>(1)</span>当社に配送完了データが通知された日</li>
                          <li><span>(2)</span>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
                        </ul>
                      </li>
                      <li class="u-Adjust_Mt-8">- 他社から乗り換え（MNP）の場合<br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                      </li>
                      <li class="u-Adjust_Mt-8">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
                        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日
                      </li>
                    </ul>
                  </div>
                </td>
          </tr>
        </tbody>
      </table>
              <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン特典</th>
          </tr>
          <tr>
            <th scope="col">特典内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                  <p class="c-Txt_Emp-01">楽天スーパーナイター2階自由エリア観戦チケット（本申し込み先着5,000名様分限定）</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    　※　特典は楽天会員お1人様2枚まで<br>
                    　※　ビジターユニフォームのプレゼントは対象外となります<br>
                    　※　楽天スーパーナイターは2023年7月4日（火）18時から東京ドームで試合開催予定です<br>
                    　※　お引き換えの際、座種・席位置のご指定はお受けできません<br>
                    　※　対象試合日にお引き換えされなかった場合は無効となります<br>
                    　※　観戦チケット引き換え後の観戦チケットの紛失・盗難に関して、再発行はいたしません。取り扱いには十分ご注意ください<br>
                    　※　2階自由エリア内の観戦エリアは指定させていただく場合がございますので、予めご了承くださいますようお願い致します
                  </p>
                </td>
          </tr>
        </tbody>
      </table>
              <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">特典進呈日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                  <p class="c-Txt_Emp-01">エントリーかつ楽天モバイルにご契約中または新規ご契約いただいた方へ5月30日（火）に送付される本申し込みメールより、以下①～②の手順で観戦チケットとお引き換えください</p>
                  <p class="u-Adjust_Mt-16">
                    ①6月1日（木）8:00～6月11日（日）23:59の間にご自分で本申し込みメールに記載されたURLより本申し込みを完了させてください<br>
                    ②試合当日お申し込み完了メールを引き換えブースにて表示し、観戦チケットとお引き換えください
                  </p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    　※　ご希望の観戦チケット枚数は、本申込みの際にご選択ください<br>
                    　※　本申し込み順の先着キャンペーンとなります。6月11日（日）23:59までに5,000枚の上限に達した場合は、本申し込みが不可となりますのであらかじめご了承ください<br>
                    　※　本申し込みメールはrmobile-notification@mobile.rakuten.co.jpから配信されます。「mobile.rakuten.co.jp」ドメインからのメールが受信できるように設定してください<br>
                    　※　引き換えについての詳細は本申し込み完了メールにてご確認ください<br>
                    　※　本申し込みメールの送付先は楽天会員情報にご登録されているものとなります<br>
                    　※　権利の譲渡はできません
                  </p>
                </td>
          </tr>
        </tbody>
      </table>
              <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">特典適用対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                  <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
                  <ul class="u-Adjust_Mt-16">
                    <li class="c-Txt_Cap"><span>※</span>エントリー者確認時点で「Rakuten UN-LIMIT VII」プランご契約者と判定されなかった場合</li>
                    <li class="c-Txt_Cap"><span>※</span>エントリーした楽天IDが、楽天モバイルにご登録の楽天IDと同一でない場合</li>
                    <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                    <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                    <li class="c-Txt_Cap"><span>※</span>特典進呈までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                    <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                    <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
                    <li class="c-Txt_Cap"><span>※</span>「Rakuten UN-LIMIT VII」のプラン利用開始がされなかった場合<br>
                      プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
                  </ul>
                </td>
          </tr>
        </tbody>
      </table>
              <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">併用可能キャンペーン</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                  <p class="c-Txt_Emp-01">以下のキャンペーンは併用可能となります</p>
                  <p class="u-Adjust_Mt-16">【Rakuten UN-LIMIT VIIお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
                  <p class="c-Txt_Cap u-Adjust_Mt-16">
                    ※ 楽天モバイル公式 楽天市場店でRakuten WiFi Pocket 2Cを楽天回線プラン（Rakuten UN-LIMIT VII）セットでご注文した場合は特典適用対象外となります<br>
                    ※ 楽天モバイルショップ、楽天モバイルオンラインでRakuten Hand 5GまたはRakuten WiFi Pocket 2Cを「Rakuten UN-LIMIT VII」ご契約と同時に購入した場合は特典適用対象外となります
                  </p>

                </td>
          </tr>
        </tbody>
      </table>
              <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
                  <ul>
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                    <li class="c-Txt_Cap"><span>※</span>特典の獲得の権利について、第3者への譲渡はできません。</li>
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者判断のため、楽天モバイル株式会社から株式会社楽天野球団へ、楽天モバイル契約者情報の共有を行います</li>
                    <li class="c-Txt_Cap"><span>※</span>楽天モバイルの個人情報保護方針により、楽天モバイル株式会から株式会社楽天野球団に提供された会員データは本キャンペーンの対象者判定以外の目的では使用しません</li>
                    <li class="c-Txt_Cap"><span>※</span>キャンペーン対象可否についての確認のお問い合わせはお受けできませんのでご了承ください。</li>
                    <li class="c-Txt_Cap"><span>※</span>本申し込みメール、お申し込み完了メールの再送はできません</li>
                    <li class="c-Txt_Cap"><span>※</span>本キャンペーン参加にかかる費用 (交通費等含む) は、お客様のご負担となりますので、あらかじめご了承ください</li>
                    <li class="c-Txt_Cap"><span>※</span>お手数をおかけしますが、本キャンペーンに関しましては、下記お問い合わせ先にてご確認をお願いいたします<br><a href="mailto:cmo-grpd-superbaseballgame2023@mail.rakuten.com">cmo-grpd-superbaseballgame2023@mail.rakuten.com</a></li>
                    <li class="c-Txt_Cap"><span>※</span>土日祝日にいただきましたお問い合わせは翌平日から順次対応させていただきます</li>
                    <li class="c-Txt_Cap"><span>※</span>回答までにお時間をいただくことがあります。あらかじめご了承ください</li>
                    <li class="c-Txt_Cap"><span>※</span>記載の内容は2023年4月14日（金）時点の情報となります</li>
                  </ul>
                </td>
          </tr>
        </tbody>
      </table>

      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ページURL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><a href="<%= sitepath %>campaign/supernighter2023/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/campaign/supernighter2023/</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="close-pagetop u-Adjust_Mt-40">
      <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
        <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
      </a>
    </div>
  </div>
</div>
<!-- campaign -->