<!-- campaign -->
<div class="c-Accordion">
  <button id="accordion-1905" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1905">
    <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Nortonモバイルセキュリティ1ヶ月利用料相当ポイント還元キャンペーン（～2023/6/30 23:59）
  </button>
  <div id="accordion-content-1905" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1905" aria-hitden="true" style="display: none;">
    <div class="" style="position: relative; overflow: auto;">
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーンコード</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>
                1905<br>
                <span class="c-Txt_Cap">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</span>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン期間</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">■ エントリー期間</p>
              <p>　　2023年6月1日（木）9:00～2023年6月30日（金）23:59</p>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ オプションのお申し込み期間</p>
              <p>　- Web　2023年6月1日（木）9:00～2023年6月30日（金）23:59</p>
              <p>　- 店舗（楽天モバイルショップ）　2023年6月1日（木）開店～2023年6月30日（金）閉店</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン条件</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方</p>
              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【1】キャンペーンへのエントリー</p>
              <p>　エントリー期間内に本キャンペーンページでエントリー</p>

              <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【2】「ノートン™ モバイル セキュリティ」を期間内にお申し込み</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Ml-8">　- オプションのお申し込み期間内に「ノートン™ モバイル セキュリティ」をお申し込み</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">キャンペーン特典（楽天ポイント）</th>
          </tr>
          <tr>
            <th scope="col">特典内容</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">楽天ポイント　220ポイントプレゼント</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ポイント付与日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">2023年8月末日ごろに付与</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-16">
                <li><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
                <li><span>※</span>権利の譲渡はできません</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ポイント有効期限</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-16">
                <li><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
                <li><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">特典適用対象外</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
              <ul class="c-Txt_Cap u-Adjust_Mt-16">
                <li><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
                <li><span>※</span>「Nortonモバイルセキュリティ1ヶ月利用料相当ポイント還元キャンペーン」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
                <li><span>※</span>楽天モバイルショップ、楽天モバイルオンライン、楽天モバイル公式 楽天市場店以外で購入した場合</li>
                <li><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
                <li><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
                <li><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
                <li><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">併用可能キャンペーン</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用可能</span>となります</p>
              <p class="c-Txt_Normal-s">　【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</p>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">注意事項</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="c-Txt_Cap">
                <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
                <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
                <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
                <li><span>※</span>記載の内容は2023年6月1日（木）時点の情報となります</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="c-Table_Container">
        <thead>
          <tr>
            <th scope="col">ページURL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p><a href="<%= sitepath %>campaign/norton-mobile-security/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/campaign/norton-mobile-security/</a></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="close-pagetop u-Adjust_Mt-40">
      <a href="#top" class="js-scroll c-Link_Anchor c-Link_Txt-icon">
        <span class="c-Icon_Arrow-up-l c-Link_Icon u-Adjust_Pr-8"></span>ページトップへ
      </a>
    </div>
  </div>
</div>
<!-- campaign -->
