<%#
 /*
  * @param {boolean} turbotop
 */
%>
<%
  const isTurboTop = (typeof turbotop === 'undefined') ? false : turbotop;
  const isShopCampaign = (typeof shopCampaign === 'undefined') ? false : shopCampaign;
%>
<%#
 /*
  * これのincludeとは別途でボタンの表示を開始したい箇所に↓を挿入
  * <div id="js-fixed-btn-trigger"></div>
  */
%>
<div id="js-fixed-btn" class="turbo-Fixed-button" aria-expanded="false" role="region">
  <div class="turbo-Fixed-button_Inner">
    <%_ if (isShopCampaign) { _%>
      <a href="<%= sitepath %>shop/?l-id=rmt_fixedbtn_mno_shop_01" class="c-Btn_Primary-large" data-lid_parts="fixedbtn">お近くのショップを探す</a>
    <%_ } else{ _%>
      <ul class="turbo-Fixed-button_Inner-items">
        <li class="turbo-Fixed-button_Inner-item">
          <a href="<%= sitepath %>internet/turbo/application/" class="turbo-Fixed-button_Inner-primary" data-lid_parts="fixedbtn" data-ratid="rmt_fixedbtn_application_01" data-ratevent="click" data-ratparam="all">
            <span class="turbo-Fixed-button_Inner-icon c-Icon_Cart-l"></span>
            <span>Webで<br>お申し込み</span>
          </a>
        </li>
        <li class="turbo-Fixed-button_Inner-item">
          <a href="<%= sitepath %>shop/?l-id=rmt_shop_01" class="turbo-Fixed-button_Inner-secondly" data-lid_parts="fixedbtn" data-ratid="rmt_shop_01" data-ratevent="click" data-ratparam="all">
            <span class="turbo-Fixed-button_Inner-icon c-Icon_Shop-l"></span>
            <span>ショップで<br>ご相談</span>
          </a>
        </li>
      </ul>
    <%_ } _%>
  </div>
</div>


<script>
  const isTurboTop = "<%= isTurboTop %>";
  const trigger = document.getElementById('js-fixed-btn-trigger');
  const fixedBtn = document.getElementById('js-fixed-btn');

  const body = document.querySelector('body');
  const mediaQueryList = window.matchMedia('(min-width: 769px)');
  const resize = (event) => {
    if (event.matches) {
      body.style.paddingBottom = `${fixedBtn.clientHeight}px`;
    } else {
      body.style.paddingBottom = `${fixedBtn.clientHeight}px`;
    }
  }
  mediaQueryList.addEventListener('change', resize);
  resize(mediaQueryList);

  const fixedBottomBtn = () => {
    let scrollY = window.pageYOffset;
    const triggerRect = trigger.getBoundingClientRect();
    const triggerY = scrollY + triggerRect.top;

    // if(isTurboTop) {
    //   if ( scrollY > triggerY ) {
    //     fixedBtn.setAttribute('aria-expanded', 'true');
    //     $('.turbo-Fixed-button_Date').slideDown();
    //   } else {
    //     fixedBtn.setAttribute('aria-expanded', 'false');
    //     $('.turbo-Fixed-button_Date').slideUp();
    //   }
    // }else{
      if ( scrollY + window.innerHeight > triggerY ) {
        fixedBtn.setAttribute('aria-expanded', 'true');
      } else {
        fixedBtn.setAttribute('aria-expanded', 'false');
      }
    // }
  }

  if(fixedBtn) {
    if (!trigger) {
      fixedBtn.setAttribute('aria-expanded', 'true');
    } else {
      window.addEventListener('scroll', fixedBottomBtn);
    }
  }
</script>