<section id="nontarget" class="turbo-To-hikari">
  <h4 class="c-Heading_Lv4">Rakuten Turbo未対応エリアにお住まいのお客様へ</h4>
  <p class="turbo-To-hikari-Util_Mt-24-16">未対応エリアのためRakuten Turboをご利用いただけない場合は楽天ひかりのご利用をご検討ください。</p>
  <p class="u-Adjust_Mt-8">楽天ひかりは、NTT東日本・NTT西日本フレッツ光回線の提供エリアでご利用いただけます。</p>
  <p class="c-Txt_Cap u-Adjust_Mt-16">※フレッツは、NTT東日本およびNTT西日本の商標または登録商標です。</p>
  <div class="turbo-To-hikari-info">
    <div class="turbo-To-hikari-logo">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/internet/turbo/common/img-hikari-sp-221216.png" width="292" height="125">
        <img src="<%= sitepath %>assets/img/internet/turbo/common/img-hikari-pc-221216.png" alt="データ使い放題!高速&安定の光回線Rakuten光 複数接続でも高速通信! ピークタイムでも安定! 動画もゲームもデータは使い放題!" width="708" height="202">
      </picture>
    </div>
    <div class="turbo-To-hikari-info-link"><a href="<%= sitepath %>hikari/" class="turbo-To-hikari-Util-hikari c-Btn_Secondly-large"><span>楽天ひかりを見る</span></a></div>
  </div>
</section>
