<!-- script for banner display and targeting -->
<script src="https://jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
 
<!-- Responsive header banner -->
<div id="mkdiv_header_pitari"></div>