<% const pagetitle = "初期設定（楽メール）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/rakumail/", label:"楽メール（ご利用方法）"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル「楽メール」の初期設定方法や楽メールのアクセス方法をご案内します。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'guide/rakumail/initial-setting/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
