<% const hikaripath = "hikari/" -%>
<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "障害・メンテナンス情報" -%>
<% const directories = [{path: hikariroot.path + "support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '障害・メンテナンス情報をご案内します。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    redirect: {url: 'hikari/information/'},
    isdivide: true,
  });
%>
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
