<% const pagetitle = "楽天ペイ-かんたん、お得なスマホ決済アプリ！" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    // directories: directories,
    description: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'https://r10.to/hM8yT9'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
