<% const pagetitle = "楽天トラベル - ホテル検索/ホテル予約" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    // directories: directories,
    description: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'https://apps.apple.com/jp/app/id300815151'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
