@charset "UTF-8";
/*  ----------------------------------------------------------

common

----------------------------------------------------------  */

body {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
    display: block;
}
/*  ----------------------------------------------------------

display

----------------------------------------------------------  */
@media screen and (min-width: 769px) {
	.sp {
		display: none !important;
	}
}
@media screen and (max-width: 768px) {
	.pc {
		display: none !important;
	}
}
/*  ----------------------------------------------------------

header

----------------------------------------------------------  */
header {
    position: absolute;
    top: 3.13vw;
    left: 5.08vw;
}
.header_logo {
    width: 36.1vw;
}
@media screen and (min-width: 769px) {
	.header_logo {
        width: 12.96vw;
    }
    header {
        top: 2.02vw;
        left: 2vw;
    }
}
/*  ----------------------------------------------------------

FV

----------------------------------------------------------  */
.fv {
    background: #ff008c;
}
.fv_wrap {
    padding: 12.11vw 0 10.42vw;
    margin: 0 auto;
}
.fv_sub_text {
    margin: 1em auto;
    width: 264px;
    margin-bottom: 2em;
}

.fv_main_text {
    color: #fff;
    font-size: 9.1vw;
    font-weight: 900;
    text-align: center;
    line-height: 0.7em;
}
.fv_main_text .mini {
    font-size: 28px;
    line-height: 1;
    position: relative;
    margin-left: 0.652vw;
}
.fv_main_text .mini-2 {
    font-size: 40px;
    line-height: 1;
    position: relative;
    margin-left: 0.652vw;
}
.fv_main_text .big {
    font-size: 98px;
    line-height: 1;
    letter-spacing: 0.03em;
}
.lead_txt {
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 35px;
    /* or 120% */
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFF302;
    margin-top: 1em;
    position: relative;
    left: 15px;
}
.lead_txt span {
    color: #fff;
    font-size: 1vw;
    font-weight: normal;
}
.fv_box {
    margin: 0 auto;
    padding: 2.86vw 10.03vw 0
}
.fv_sub_text_comment {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    width: 89.98vw;
    margin: 3.86vw auto 0;
    line-height: 1.8;
}
.fv_cta_btn {
    width: 90%;
    margin: 6vw auto 0;
    border: 3px solid #000;
    border-radius: 100px;
    background-color: #FFF302;
    position: relative;
}
.fv_cta_link {
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    padding: 1.5vw 0 3vw;
    border-radius: 100px;
}
.fv_cta_link:hover  {
    background-color: #cc0170;
}
.fv_cta_link:hover .fv_cta_text {
    color: #fff;
}

.fv_cta_text {
    color: #000;
    font-weight: 800;
    font-size: 36px;
    line-height: 1;
    position: relative;
    /* padding-right: 3vw; */
}
.fv_cta_text::after {
    position: absolute;
    content: "";
    background-image: url(../images/btn-icn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 3vw;
    height: 3vw;
    top: 50%;
    right: 12vw;
    transform: translateY(-50%);
    font-size: 5vw;
}
.fv_cta_text_little {
    font-weight: 600;
    font-size: 4.5vw;
}
.fv_cta_sub {
    position: absolute;
    top: -16px;
    left: 50%;
    width: 496px;
    transform: translate(-50%, -50%);
    background-color: #000;
    text-align: center;
    color: #fff;
    font-size: 24px;
    padding: 0.5vw;
    border-radius: 5px;
    font-weight: 500;
}
.fv_cta_sub::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 99%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 1.5vw solid transparent;
    border-left: 1.5vw solid transparent;
    border-top: 2vw solid #000000;
    border-bottom: 0;
}
.fv_cta_sub span {
    font-size: 2vw;
    vertical-align: top;
    display: inline-block;
}
@media screen and (min-width: 769px) {
    .fv_wrap {
        padding: 6.18vw 0 2.93vw;
        margin: 0 auto;
    }
	.fv_wrap_second {
        display: flex;
        justify-content: center;
        align-items: start;
        padding: 0 10.94vw 0 10.092vw;
        gap: 6.374vw;
    }
    .fv_main_text {
        font-size: 5.28vw;
        line-height: 0.7em;
        white-space: nowrap;
    }
    .fv_main_text .mini {
        font-size: 28px;
        line-height: 1;
        margin-left: 0.518vw;
    }
    .fv_main_text .mini-2 {
        font-size: 40px;
        line-height: 1;
        margin-left: 0.652vw;
    }
    .fv_main_text .big {
        font-size: 98px;
        line-height: 1.157;
        letter-spacing: 0.03em;
    }
    .lead_txt {
        font-style: normal;
        font-weight: 900;
        font-size: 28px;
        line-height: 35px;
        /* or 120% */
        text-align: center;
        letter-spacing: 0.1em;
        color: #FFF302;
        margin-top: 1em;
    }
    .lead_txt span {
        color: #fff;
        font-size: 1vw;
        font-weight: normal;
    }
    .fv_sub_text {
        margin: 1em auto;
        width: 264px;
        margin-bottom: 2em;
    }
    .fv_cta_text::after {
        position: absolute;
        content: "";
        background-image: url(../images/btn-icn.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 2vw;
        height: 2vw;
        top: 52%;
        right: 9vw;
        transform: translateY(-50%);
        font-size: 5vw;
    }
    .fv_cta_btn {
        width: 800px;
        margin: 3vw auto 0;
        border: 3px solid #000;
        border-radius: 100px;
        background-color: #FFF302;
        position: relative;
    }
    .fv_cta_link {
        text-align: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: inline-block;
        transition: .3s;
        padding: 1.5vw 0 1vw;
        border-radius: 100px;
    }
    .fv_cta_link:hover  {
        background-color: #cc0170;
    }
    .fv_cta_link:hover .fv_cta_text {
        color: #fff;
    }

    .fv_cta_link:hover .fv_cta_text::after {
        background-image: url(../images/btn-icn-wh.png);
    }

    .fv_cta_text {
        color: #000;
        font-weight: 800;
        font-size: 36px;
        line-height: 1;
    }
    .fv_cta_text::after {
        right: 5vw;
    }
    .fv_cta_text_little {
        font-weight: 600;
        font-size: 1.5vw;
        margin: 0 3px;
    }
    .fv_cta_sub {
        position: absolute;
        top: -14px;
        left: 50%;
        width: 496px;
        transform: translate(-50%, -50%);
        background-color: #000;
        text-align: center;
        color: #fff;
        font-size: 24px;
        padding: 0.2vw;
        border-radius: 10px;
        font-weight: 600;
    }
    .fv_cta_sub::after {
        position: absolute;
        content: "";
        left: 50%;
        top: 99%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-right: .4vw solid transparent;
        border-left: .4vw solid transparent;
        border-top: .7vw solid #000000;
        border-bottom: 0;
    }
    .fv_cta_sub span {
        font-size: 0.9vw;
        vertical-align: text-top;
        display: inline-block;
    }
    .fv_box {
        padding: 0;
        margin: 0;
        margin-top: 1.2em;
        width: 30vw;
        width: 37.15vw;
    }
    .fv_sub_text_comment {
        font-size: 16px;
        width: 83.06vw;
        margin: 2.08vw auto 0;
        line-height: 1.6;
    }
}
/*  ----------------------------------------------------------

intro

----------------------------------------------------------  */
.intro {
    position: relative;
}
.intro_title {
    font-size: 7.292vw;
    font-weight: 900;
    text-align: center;
    line-height: 1.16;
    padding: 0 3.907vw 0 1.954vw;
}
.intro_title .big {
    font-size: 12.37vw;
    line-height: 1.063;
    letter-spacing: -0.05em;
}
.intro_title .color {
    color: #ff008c;
    position: relative;
    margin-right: 2vw;
}
.intro_title .color::after {
    content: "※";
    position: absolute;
    top: 2vw;
    right: -2vw;
    font-size: 2.345vw;
    color: #000;
}
.intro_title .number {
    font-size: 10.68vw;
    letter-spacing: -0.07em;
    margin-right: 0.6vw;
}
.intro_title_comment {
    font-size: 2.345vw;
    font-weight: 400;
    margin: 1.95vw 4.4vw 0 0;
    text-align: right;
    line-height: 1;
}
.intro_title_comment a {
    color: #000;
    transition: 0.3s;
}
.intro_title_comment a:hover {
    opacity: 0.7;
}
.intro_1_img {
    padding: 8.98vw 10.03vw 0;
}
.intro_2_img {
    padding: 9.11vw 4.95vw 0;
}
.intro_dotted {
    background-image: linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 8px);
    background-size: 1.95vw 0.26vw;
    background-position: left bottom;
    background-repeat: repeat-x;
    width: 590px;
    height: 0.39vw;
    display: block;
    margin: 0 auto;
}
.intro_3_text {
    font-size: 6.25vw;
    font-weight: 900;
    text-align: center;
    padding-top: 12.11vw;
}
.intro_3_text_under {
    font-size: 4.3vw;
    text-align: center;
}
.intro_3_img {
    padding: 6.52vw 0 0;
    width: 696px;
    margin: 0 auto;
    display: block;
}
.intro_4_img {
    padding: 6.52vw 0 0;
    width: 1034px;
    margin: 0 auto;
    display: block;
}
@media screen and (min-width: 769px) {
    .intro {
        position: relative;
    }
    .intro_title {
        font-size: 3.65vw;
        line-height: 1.16;
        padding: 0;
    }
    .intro_title .big {
        font-size: 6.18vw;
        line-height: 1.063;
    }
    .intro_title .color {
        color: #ff008c;
        position: relative;
        margin-right: 1vw;
    }
    .intro_title .color::after {
        top: 0.6vw;
        right: -1.1vw;
        font-size: 1.17vw;
    }
    .intro_title .number {
        font-size: 5.34vw;
    }
    .intro_title_comment {
        font-size: 1.17vw;
        margin: 0.98vw 4.5vw 0 0;
    }
    .intro_1_img {
        width: 52.15vw;
        margin: 0 auto;
        padding: 1.5vw 0 0 ;
    }
    .intro_2_img {
        width: 44.99vw;
        margin: 0 auto;
        padding: 5.53vw 0 0;
        display: block;
    }
    .intro_3_text {
        font-size: 3.13vw;
        padding-top: 4.56vw;
    }
    .intro_3_text_under {
        font-size: 2.15vw;
    }
    .intro_dotted {
        background-size: 0.98vw 0.13vw;
        width: 590px;
        height: 0.2vw;
    }
    .intro_3_img {
        padding: 3.26vw 0 0;
        width: 45.12vw;
    }
    .intro_4_img {
        padding: 6.52vw 0 0;
        width: 1034px;
        margin: 0 auto;
        display: block;
    }
}
/*  ----------------------------------------------------------

tethering

----------------------------------------------------------  */
.tethering {
    padding: 10.42vw 0;
    background: #fff2f9;
}
.tethering_title {
    font-weight: 900;
    letter-spacing: 0.05em;
    text-align: center;
    width: max-content;
    margin: 0 auto;
}
.tethering_title .mini{
    font-size: 7.29vw;
    line-height: 1.803;
}
.tethering_title .big{
    font-size: 12.11vw;
    color: #ff008c;
    line-height: 1.086;
    position: relative;
}
.tethering_title .big::after{
    content: "※";
    position: absolute;
    top: 1vw;
    right: -3vw;
    font-size: 2.34vw;
    font-weight: 400;
    color: #000;
}
.tethering_1_img {
    width: 70.74vw;
    margin: 7.81vw auto 0;
}
.tethering_text_1 {
    font-size: 4.43vw;
    font-weight: 700;
    margin: 7.86vw auto 0;
    width: max-content;
    text-align: center;
    line-height: 1.8823;
}
.tethering_text_1 span {
    font-weight: 900;
    color: #ff008c;
    background: #fff;
}
.tethering_text_1_comment {
    font-size: 2.34vw;
    width: 89.97vw;
    margin: 5.21vw auto 0;
}
.tethering_text_2 {
    font-size: 7.68vw;
    font-weight: 900;
    width: max-content;
    margin: 8.98vw auto 0;
    text-align: center;
}
.tethering_text_2 .color {
    color: #ff008c;
}
.tethering_text_2 .mini {
    font-size: 6.38vw;
}
.annotation_1,
.annotation_2 {
    position: relative;
}
.annotation_1::after {
    content: "※1";
    position: absolute;
    top: 0.5vw;
    right: -2vw;
    font-size: 2.34vw;
    font-weight: 400;
    color: #000;
}
.annotation_2::after {
    content: "※2";
    position: absolute;
    top: 0.6vw;
    right: -3.6vw;
    font-size: 2.34vw;
    font-weight: 400;
    color: #000;
}
.tethering_text_3 {
    font-size: 4.43vw;
    font-weight: 700;
    margin: 7.16vw auto 0;
    width: max-content;
    text-align: center;
    line-height: 1.8823;
}
.tethering_text_3 span {
    font-weight: 900;
    color: #ff008c;
    background: #fff;
    position: relative;
    margin-right: 3vw;
}
.tethering_text_3 span::after {
    content: "※2";
    position: absolute;
    top: 0.6vw;
    right: -3.6vw;
    font-size: 2.34vw;
    font-weight: 400;
    color: #000;
}
.tethering_2_img {
    margin: 8.59vw 0 0;
}
@media screen and (min-width: 769px) {
    .tethering {
        padding: 5.21vw 0 6.58;
    }

    .tethering_title .mini {
        font-size: 2.99vw;
        line-height: 2.195;
    }
    .tethering_title .big {
        font-size: 5.4vw;
        line-height: 1.21;
    }
    .tethering_title .big::after {
        top: -4.8vw;
        right: 4vw;
        font-size: 1.04vw;
    }
    .tethering_1_img {
        width: 35.37vw;
        margin: 3.91vw auto 0;
    }
    .tethering_text_1 {
        font-size: 2.21vw;
        margin: 3.86vw auto 0;
    }
    .tethering_text_1_comment {
        font-size: 1.17vw;
        width: 78.19vw;
        margin: 2.6vw auto 0;
        text-align: center;
    }
    .tethering_text_2 {
        font-size: 3.84vw;
        margin: 6.51vw auto 0;
    }
    .tethering_text_2 .mini {
        font-size: 3.19vw;
    }
    .annotation_1::after {
        top: 0.2vw;
        right: -1.1vw;
        font-size: 1.17vw;
    }
    .annotation_2::after {
        top: 0.2vw;
        right: -2vw;
        font-size: 1.17vw;
    }
    .tethering_text_3 {
        font-size: 2.21vw;
        margin: 1.95vw auto 0;
    }
    .tethering_text_3 span {
        margin-right: 1.4vw;
    }
    .tethering_text_3 span::after {
        top: 0.2vw;
        right: -2vw;
        font-size: 1.17vw;
    }
    .tethering_2_img {
        margin: 4.43vw 0 0;
    }
}
/*  ----------------------------------------------------------

area

----------------------------------------------------------  */
.area {
    padding: 10.42vw 0 13.02vw;
}
.area_title {
    font-size: 11.72vw;
    font-weight: 900;
    letter-spacing: -0.05em;
    line-height: 1.122;
    color: #ff008c;
    text-align: center;
}
.area_1_img {
    width: 91.41vw;
    margin: 3.13vw auto 0;
}
.area_text {
    font-size: 6.9vw;
    font-weight: 900;
    letter-spacing: -0.05em;
    line-height: 1.905;
    margin: 4.68vw auto 0;
    width: max-content;
    position: relative;
}
.area_text::after {
    content: "※1";
    position: absolute;
    top: 2vw;
    right: -3vw;
    font-size: 2.34vw;
    font-weight: 400;
}
.area_2_img {
    width: 69.79vw;
    margin: 1.17vw auto 0;
}
.area_text_comment {
    font-size: 2.34vw;
    width: 91.87vw;
    margin: 5.21vw auto 0;
}
@media screen and (min-width: 769px) {
    .area {
        padding: 6.51vw 0 7.81vw;
    }
    .area-wrap {
        display: flex;
        justify-content: center;
        width: 78.13vw;
        margin: 0 auto;
        gap: 7.94vw;
        padding-left: 5.7vw;
    }
    .area_title {
        font-size: 4.17vw;
        line-height: 1.1235;
        padding-left: 15.1vw;
        text-align: left;
    }
    .area_1_img {
        width: 24.19vw;
        margin: 1.56vw 0 0;
    }
    .area_text {
        font-size: 2.99vw;
        line-height: 2.195;
        margin: 0 auto ;
    }
    .area_2_img {
        width: 34.9vw;
        margin: 0.33vw 0 0;
    }
    .area_text::after {
        top: 1.4vw;
        right: -1.6vw;
        font-size: 1.04vw;
    }
    .area_text_comment {
        font-size: 1.04vw;
        width: 78.13vw;
        margin: 2.93vw auto 0;
    }
}
/*  ----------------------------------------------------------

voice

----------------------------------------------------------  */
.voice {
    padding: 14.32vw 0 10.29vw;
    background: #fff;
}
.voice_title {
    font-weight: 900;
    font-size: 7.29vw;
    letter-spacing: -0.05em;
    line-height: 1.25;
    text-align: center;
}
.voice_title .big {
    font-size: 12.11vw;
    line-height: 1.086;
    color: #ff008c;
    margin-top: 2.73vw;
    display: block;
}
.voice_title .strong {
    position: relative;
}
.voice_title .strong::before {
    content: "";
    background: #000;
    position: absolute;
    top: -0.3vw;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 1.3vw;
    height: 1.3vw;
    border-radius: 50%;
}
.swiper {
    margin-top: 10.42vw;
}
.swiper-wrapper {
    margin-left: -2.82vw;
}
.swiper-pagination {
    display: flex;
    width: 55.99vw !important;
    position: initial;
    background: #f7f7f7;
    border-radius: 1.3vw;

}
.swiper-pagination-bullet {
    width: 100%;
    height: 1.95vw;
    border-radius: 0;
    margin: 0 !important;
    background-color: #f7f7f7;
}
.swiper-pagination-bullet-active {
    background-color: #ff008c;
    border-radius: 1.3vw;
}
.swiper-button-next, .swiper-button-prev {
    width: 11.33vw;
    height: 11.33vw;
    position: initial;
    margin-top: initial;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    background: url(../images/icon_next.png) no-repeat;
    background-size: cover;
    width: 11.33vw;
    height: 11.33vw;
    content: "";
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    background: url(../images/icon_prev.png) no-repeat;
    background-size: cover;
    width: 11.33vw;
    height: 11.33vw;
    content: "";
}
.swiper-button-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11.33vw;
    margin: 3.26vw auto 0;
    width: 90.23vw;
}
@media screen and (min-width: 769px) {
    .voice {
        padding: 7.81vw 0 5.24vw;
        background: #fff;
    }
    .voice_title {
        font-size: 2.99vw;
        line-height: 1.521;
    }
    .voice_title .strong::before {
        top: -0.3vw;
        width: 0.52vw;
        height: 0.52vw;
    }
    .voice_title .big {
        font-size: 5.4vw;
        line-height: 1.216;
        margin-top: 0;
    }
    .swiper {
        margin-top: 4.56vw;
    }
    .swiper-wrapper {
        margin-left: initial;
    }
    .swiper-button-wrap {
        height: 4.33vw;
        margin: 2.6vw auto 0;
        width: 52.25vw;
    }
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        width: 4.33vw;
        height: 4.33vw;
    }
    .swiper-pagination-bullet {
        height: 0.98vw;
    }
}
/*  ----------------------------------------------------------

point

----------------------------------------------------------  */
.point {
    padding: 10.42vw 0;
    background: #fff2f9;
}
.point_title {
    font-weight: 900;
    font-size: 80px;
    letter-spacing: -0.05em;
    line-height: 1.25;
    text-align: center;
    padding-bottom: 0.65vw;
}
.point_title .color {
    color: #ff008c
}
.point_img {
    width: 79.95vw;
    margin: 7.16vw auto 0;
}
@media screen and (min-width: 769px) {
    .point {
        padding: 6.64vw 0 6.51vw;
        background: #fff2f9;
    }
    .point_title {
        font-size: 34px;
        padding-bottom: 0;
    }
    .point_title .color {
        font-size: 80px;
        line-height: 1.803;
    }
    .point_img {
        width: 36.85vw;
        margin: 0;
    }
    .point_img_wrap {
        display: flex;
        gap: 4.56vw;
        margin: 3.91vw auto 0;
        width: max-content;
    }
    .point_3_img {
        width: 52.15vw;
        margin: 3.24vw auto 0;
    }
}
/*  ----------------------------------------------------------

zero

----------------------------------------------------------  */
.zero {
    padding: 10.42vw 0;
    background: #ff008c;
}
.zero_title {
    font-size: 7.29vw;
    font-weight: 900;
    color: #fff;
    letter-spacing: -0.05em;
    line-height: 1.25;
    text-align: center;
}
.zero_1_img {
    width: 89.14vw;
    margin: 3.26vw auto 0;
}
.zero_2_img {
    width: 89.84vw;
    margin: 10.42vw auto 0;
}
.zero_comment {
    color: #fff;
    font-size: 2.47vw;
    font-weight: 500;
    width: 89.84vw;
    margin: 7.81vw auto 0;
}

@media screen and (min-width: 769px) {
    .zero {
        padding: 6.51vw 0;
    }
    .zero_title {
        font-size: 2.99vw;
        line-height: 1.521;
    }
    .zero_1_img {
        width: 44.57vw;
        margin: 1.3vw auto 0;
    }
    .zero_2_img {
        width: 78.19vw;
        margin: 5.14vw auto 0;
    }
    .zero_comment {
        font-size: 1.04vw;
        width: 78.19vw;
        margin: 0.98vw auto 0;
    }
}
/*  ----------------------------------------------------------

campaign

----------------------------------------------------------  */
.campaign {
    padding: 10.42vw 0;
}
.campaign_title {
    color: #ff008c;
    font-size: 7.94vw;
    font-weight: 900;
    text-align: center;
    line-height: 1.131;
    letter-spacing: -0.05em;
}
.campaign_text {
    font-size: 4.69vw;
    font-weight: 700;
    text-align: center;
    line-height: 1.6111;
    letter-spacing: -0.05em;
    margin: 3.91vw auto 0;
}
.campaign_1_img {
    width: 79.95vw;
    margin: 5.86vw auto 0;
}
@media screen and (min-width: 769px) {
    .campaign {
        padding: 6.51vw 0;
    }
    .campaign_title {
        font-size: 3.91vw;
        line-height: 1.15;
    }
    .campaign_text {
        font-size: 2.34vw;
        margin: 1.3vw auto 0;
    }
    .campaign_1_img {
        width: 52.15vw;
        margin: 4.56vw auto 0;
    }
}
/*  ----------------------------------------------------------

open

----------------------------------------------------------  */
.open {
    padding: 9.11vw 0 12.26vw;
    background: #ff008c;
    position: relative;
}
.open::after {
    content: "";
    position: absolute;
    bottom: -3.78vw;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 0;
    height: 0;
    border-right: 2.6vw solid transparent;
    border-left: 2.6vw solid transparent;
    border-top: 4.69vw solid #ff008c;
    border-bottom: 0;
}

@media screen and (min-width: 769px) {
    .open {
        padding: 2.6vw 0;
    }
    .open::after {
        bottom: -1.89vw;
        border-right: 1.3vw solid transparent;
        border-left: 1.3vw solid transparent;
        border-top: 2.34vw solid #ff008c;
        border-bottom: 0;
    }
}
/*  ----------------------------------------------------------

cta

----------------------------------------------------------  */
.cta {
    padding: 9.11vw 0 7.81vw;
    background: #000;
}
/* .cta_button_1{
    background: url(../images/cta_btn_1_sp.png) no-repeat;
    background-size: cover;
    width: 89.97vw;
    height: 20.57vw;
    margin: 0 auto;
    display: block;
    transition: 0.3s;
}
.cta_button_1:hover {
    background: url(../images/cta_btn_1_sp_hover.png) no-repeat;
    background-size: cover;
} */

.cta_btn {
    width: 89.84vw;
    margin: 0 auto;
    border: 3px solid #cc0170;
    border-radius: 100px;
    background-color: #FFF302;
    position: relative;
}

.cta_link {
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    padding: 5vw 0 5.7vw;
    border-radius: 100px;
}

.cta_text {
    color: #000;
    font-weight: 800;
    font-size: 6vw;
    line-height: 1;
}
.cta_text_little {
    font-weight: 600;
    font-size: 4.5vw;
    margin: 0 3px;
}

.cta_text::after {
    position: absolute;
    content: "";
    background-image: url(../images/btn-icn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 3.2vw;
    height: 3.2vw;
    top: 50%;
    right: 14vw;
    transform: translateY(-50%);
    font-size: 5vw;
}

.cta_comment {
    font-size: 2.47vw;
    font-weight: 500;
    color: #fff;
    width: 89.97vw;
    margin: 7.81vw auto 0;
}
@media screen and (min-width: 769px) {
    .cta {
        padding: 4.95vw 0 2.6vw;
    }
    /* .cta_button_1 {
        background: url(../images/cta_btn_1.png) no-repeat;
        background-size: cover;
        width: 52.08vw;
        height: 5.85vw;
    }
    .cta_button_1:hover {
        background: url(../images/cta_btn_1_hover.png) no-repeat;
        background-size: cover;
    } */
    .cta_btn {
        width: 52%;
        margin: 0 auto;
        border: 3px solid #cc0170;
        border-radius: 100px;
        background-color: #FFF302;
        position: relative;
        transition: .3s;
    }
    .cta_link {
        text-align: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: inline-block;
        transition: .3s;
        padding: 1.6vw 0 1.7vw;
        border-radius: 100px;
        transition: .3s;
    }
    .cta_text {
        color: #000;
        font-weight: 800;
        font-size: 2vw;
        line-height: 1;
        transition: .3s;
    }
    .cta_text_little {
        font-weight: 600;
        font-size: 1.5vw;
        margin: 0 3px;
    }

    .cta_text::after {
        position: absolute;
        content: "";
        background-image: url(../images/btn-icn.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 1.2vw;
        height: 1.2vw;
        top: 50%;
        right: 14vw;
        transform: translateY(-50%);
        font-size: 5vw;
        transition: .3s;
    }

    .cta_btn:hover {
        background-color: #cc0170;
        border: 3px solid #fff;
    }

    .cta_link:hover .cta_text {
        color: #fff;
    }

    .cta_link:hover .cta_text::after {
        background-image: url(../images/btn-icn-wh.png);
    }

    .cta_comment {
        font-size: 1.04vw;
        width: 78.19vw;
        margin: 1.95vw auto 0;
    }
}
/*  ----------------------------------------------------------

reason

----------------------------------------------------------  */
.reason {
    padding: 10.42vw 0 6.77vw;
    background: #fff2f9;
}
.reason_title {
    font-weight: 900;
    font-size: 6.9vw;
    letter-spacing: -0.05em;
    line-height: 1.905;
    text-align: center;
}
.reason_title .big{
    font-size: 11.72vw;
    line-height: 1.122;
    color: #ff008c;
}
.reason_1_img {
    width: 89.97vw;
    margin: 10.94vw auto 0;
}
.reason_2_img {
    width: 89.97vw;
    margin: 6.77vw auto 0;
}
.reason_img_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 9.51vw;
    row-gap: 5.86vw;
    width: 89.71vw;
    margin: 11.2vw auto 0;
}
.reason_3_img {
    width: 40.1vw;
}
.reason_comment {
    font-size: 2.47vw;
    font-weight: 500;
    width: 91.87vw;
    margin: 2.47vw auto 0;
}
@media screen and (min-width: 769px) {
    .reason {
        padding: 5.21vw 0 6.51vw;
    }
    .reason_title {
        font-size: 2.8vw;
        line-height: 2.348;
    }
    .reason_title .big{
        font-size: 5.21vw;
        line-height: 1.262;
    }
    .reason_img_wrap_pc {
        display: flex;
        width: 78.13vw;
        margin: 4.56vw auto 0;
        gap: 3.85vw;
    }
    .reason_1_img,
    .reason_2_img  {
        width: 37.14vw;
        margin: 0 auto;
    }
    .reason_3_img {
        width: 16.54vw;
    }
    .reason_img_wrap {
        gap: 3.91vw;
        row-gap: 2.9vw;
        width: 77.90vw;
        justify-content: center;
        margin: 5.86vw auto 0;
    }
    .reason_img_wrap img:nth-of-type(1) {
        margin-left: 1vw;
    }
    .reason_img_wrap img:nth-of-type(3) {
        margin-right: 1vw;
    }
    .reason_comment {
        font-size: 1.04vw;
        font-weight: 500;
        width: 78.26vw;
        margin: 4.56vw auto 0;
    }
}
/*  ----------------------------------------------------------

faq

----------------------------------------------------------  */
.faq {
    padding: 10.42vw 0;
}
.faq_title {
  font-size: 9.11vw;
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 130%;
  color: #ff008c;
  text-align: center;
  margin-bottom: 9.11vw;
}
.faq_wrap {
    margin: 6.51vw auto 0;
    width: 87.91vw;
    border: 0.53vw solid #000;
    box-sizing: border-box;
    border-radius: 1.3vw;
}
.faq_q {
    font-size: 3.65vw;
    font-weight: 900;
    color: #fff;
    letter-spacing: -0.05em;
    line-height: 130%;
    background: #000;
    padding: 5.73vw 0 5.73vw 14.19vw;
    position: relative;
}
.faq_q::before {
    content: "";
    background: url(../images/icon_q.png) no-repeat;
    background-size: contain;
    width: 5.86vw;
    height: 5.34vw;
    position: absolute;
    top: 50%;
    left: 5.08vw;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.faq_a {
    font-size: 3.65vw;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.05em;
    line-height: 170%;
    padding: 5.86vw 1.7vw 5.86vw 14.19vw;
    position: relative;
}
.faq_a::before {
    content: "";
    background: url(../images/icon_a.png) no-repeat;
    background-size: contain;
    width: 5.34vw;
    height: 5.34vw;
    position: absolute;
    top: 50%;
    left: 5.08vw;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

@media screen and (min-width: 769px) {
    .faq {
        padding: 5.21vw 0 6.51vw;
    }
    .faq_title {
        font-size: 3.91vw;
        margin-bottom: 1.3vw;
    }
    .faq_wrap {
        margin: 3.26vw auto 0;
        width: 78.06vw;
        border: 0.26vw solid #000;
        box-sizing: border-box;
        border-radius: 0.65vw;
    }
    .faq_q {
        font-size: 1.43vw;
        padding: 2.12vw 0 2.12vw 6.64vw;
    }
    .faq_a {
        font-size: 1.43vw;
        padding: 1.95vw 3.39vw 1.95vw 6.64vw;
    }
    .faq_q::before {
        width: 2.47vw;
        height: 2.21vw;
        left: 2.54vw;
    }
    .faq_a::before {
        width: 2.21vw;
        height: 2.21vw;
        left: 2.54vw;
    }
}
/*  ----------------------------------------------------------

footer

----------------------------------------------------------  */
.footer {
    padding: 13.02vw 0 39.06vw;
    background: #f7f7f7;
}
.footer_title {
    font-size: 5.99vw;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2.6vw;
}
.footer_text {
    font-size: 3.65vw;
    font-weight: 700;
    line-height: 180%;
    width: 93.07vw;
    margin: 5.86vw auto 0;
}
.footer_text span {
    font-size: 2.47vw;
    font-weight: 500;
    display: block;
}
.footer small {
    font-size: 2.34vw;
    font-weight: 700;
    text-align: center;
    margin: 13.02vw 0 auto;
    display: block;
}
@media screen and (min-width: 769px) {
    .footer {
        padding: 6.51vw 0 16.28vw;
    }
    .footer_title {
        font-size: 2.99vw;
        margin-bottom: 1.3vw;
    }
    .footer_text {
        font-size: 1.5vw;
        width: 79.13vw;
        margin: 2.93vw auto 0;
    }
    .footer_text span {
        font-size: 1.24vw;
    }
    .footer small {
        font-size: 1.17vw;
        margin: 6.51vw 0 auto;
    }
}
/*  ----------------------------------------------------------

cta_auto

----------------------------------------------------------  */
.cta_auto {
    padding: 1.04vw 0 1.3vw;
    background: rgba(0,0,0,0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.cta_auto_button {
    background: url(../images/cta_auto_btn_sp.png) no-repeat;
    background-size: cover;
    width: 89.97vw;
    height: 16.8vw;
    margin: 0 auto;
    display: block;
    transition: 0.3s;
}
.cta_auto_button:hover {
    background: url(../images/cta_auto_btn_sp_hover.png) no-repeat;
    background-size: cover;
}
.cta_auto_comment {
    font-size: 2.08vw;
    color: #fff;
    width: 90.23vw;
    margin: 0.52vw auto 0;
}

.cta_auto.active {
    opacity: 1;
    visibility: visible;
}
@media screen and (min-width: 769px) {
    .cta_auto {
        padding: 0.46vw 0 0.65vw;
    }
    .cta_auto_button {
        background: url(../images/cta_auto_btn.png) no-repeat;
        background-size: cover;
        width: 52.08vw;
        height: 5.73vw;
    }
    .cta_auto_button:hover {
        background: url(../images/cta_auto_btn_hover.png) no-repeat;
        background-size: cover;
    }
    .cta_auto_comment {
        font-size: 0.91vw;
        color: #fff;
        width: 78.06vw;
        margin: 0.33vw auto 0;
    }
}












/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/
.step {
    padding-top: 70px;
    margin: 0 auto;
    background: #FFF2F9;
}

.p20 p {
    font-size: 20px;
}

.title_01 {
    margin: 0 auto;
    max-width: 1000px;
    height: 100px;
    background: #FF008C;
    /* MNP予約番号は不要　楽天モバイルだけで手続き完結 */
    font-style: normal;
    font-weight: 700;
    font-size: 37.3333px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.title_01 + h3 {
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    margin-top: 70px;
    margin-bottom: 1em;
}

.title_01 + h3 .p_big {
    color: #ff008c;
    font-size: 83px;
}

.d_flex {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img_box {
    max-width: 330px;
}

.d_flex + div {
    max-width: 1050px;
    margin: 0 auto;
    margin-top: 50px;
}

.d_flex + div h4 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 1em;
}

.d_flex + div p.small {
    font-size: 16px;
    margin-top: 1em;
}

/*アコーディオン全体*/
.accordion-area{
    list-style: none;
    max-width: 650px;
    margin:0 auto;
    background-color: #fff;
    margin-top: 2em;

}

.accordion-area li{
    margin: 10px 0;
}

.accordion-area section {
    border: 2px solid #000000;
    box-shadow: 0px 2px 0px #000000;
    border-radius: 5px;
}

/*アコーディオンタイトル*/
.title {
    position: relative;/*+マークの位置基準とするためrelative指定*/
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    padding: 2% 3% 2% 50px;
    transition: all .5s ease;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;

}
.title::before{
    top:48%;
    left: 15px;
    transform: rotate(0deg);

}
.title::after{
    top:48%;
    left: 15px;
    transform: rotate(90deg);

}

.kome_base .yellow {
    position: relative;
}

.kome::after {
    color: #fff;
    content: "※1";
    display: block;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    right: 0;
    top: 0;
}

/*　closeというクラスがついたら形状変化　*/
.title.close::before{
  transform: rotate(45deg);
}

.title.close::after{
  transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
    display: none;/*はじめは非表示*/
    margin:0 3% 3% 3%;
    padding: 3%;
    border-top: 2px solid #000;
}

h2.dots {
    font-size: 64px;
    font-weight: 900;
    text-align: center;
    letter-spacing: -0.05em;
}

.dots span {
    position: relative; /* 基準値とする */
  }
  .dots span::before {
    content: "・";       /* 文字の上に置くものを指定 */
    position: absolute; /* 相対位置とする */
    top: -0.8em;          /* 縦方向の表示位置を調整（-1emくらいがちょうどいいかんじ） */
    left: 0;            /* 横方向の表示位置を調整 */
    color: #FF008C;
    line-height: 1.0;
  }

.impact {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.impact span {
    color: #FF008C;
    background: linear-gradient(transparent 70%, yellow 30%);
    display: inline-block;
    margin-inline: 3px;
}

.impact span b {
    font-size: 50px;
    position: relative;
    top: 3px;
}

.text_content {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 2;
    margin-top: 5em;
}

.triangle {
    position: relative;
    height: 160px;
}

.triangle::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translatex(50%);
    box-sizing: border-box;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
    border-top: 190px solid#FFF2F9;
    z-index: 1;
 }

.pink_req_bg {
    position: relative;
    background-color: #ff008c;
    padding-top: 200px;
    padding-bottom: 2em;
  }


.pink_req_bg div:first-child {
    color: #fff;
    margin: 0 auto;
}

.pink_req_bg div h2 {
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.pink_req_bg div h3 {
    font-size: 45px;
    margin-top: -20px;
    text-align: center;
}

.pink_req_bg div h3 span {
    font-size: 53px;
}

.pink_req_bg div h3 span.yellow {
    color: #FFF302;
}

.pink_req_bg div h3 b {
    font-size: 70px;
    position: relative;
    top: 1px;
}



.pink_req_bg .text_left {
    text-align: left;
}

.pink_req_bg div .w1100 {
    max-width: 1100px;
    margin: 0 auto;
}


.pink_circle_bg {
    background: #FF008C;
    text-align: center;
    padding: 4em 0 4em;
    position: relative;
}

.pink_circle_bg h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 900;
}

.pink_circle_bg h3 {
    color: #FFF302;
    font-size: 85px;
    font-weight: 900;
}

.pick {
    margin: 0 auto;
    max-width: 366px;
    position: relative;
    z-index: 1;
    padding-top: 1em;
}

.picks_content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -14px;
    margin: auto;
    overflow: hidden;
    width: 100%;
    height: 115px;
    background : #fff;
    border-radius:40% 40% 0px 0px / 93% 93% 0px 0px;
}

.p2_img {
    max-width: 684px;
    margin: 0 auto;
}

.analy-sec02 {
    margin-top: 4em;
    background: #FF008C;
    padding: 4em 0 4em;
}

.analy-sec02 .pick {
    margin-bottom: 2em;
}

.point-wrap img {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2em;
}

.point-wrap img:first-child {
    margin-top: 1em;
}

.point-wrap img.w {
    width: 96px;
}

.point-wrap p {
    font-size: 48px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 80px;
    margin-bottom: 1em;
}

.point-wrap p span {
    color: #FFF302;
    font-size: 62px;
}

.analy-sec03 .pick {
    margin-bottom: 4em;
}

.attent_txt {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.point_title .bg_white {
    background: #fff;
    color: #FF008C;
    padding: 0 10px;
    margin: 0 10px;
    position: relative;
}

.point_title .k1:after {
    content: "※4";
    position: absolute;
    top: -22px;
    right: 0;
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.point_title .k2:after {
    content: "※5";
    position: absolute;
    top: -22px;
    right: 0;
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

@media screen and (max-width: 768px) {
    .fv_cta_sub {
        width: 80%;
    }
    .title_01 {
        width: 80%;
        font-size: 20px;
        line-height: 33px;
        height: 70px;
    }
    .d_flex {
        width: 90%;
        display: block;
    }
    .d_flex img {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 2em;
    }
    .d_flex + div {
        width: 94%;
        margin-top: 30px;
    }
    .d_flex + div h4 {
        font-size: 15px;
        text-align: center;
    }
    .p20 p {
        font-size: 12px;
    }
    .d_flex + div p.small {
        font-size: 11px;
        margin-top: 2em;
    }
    .pink_req_bg div .w1100 {
        width: 80%;
    }
    .intro_dotted {
        width: 80%;
    }
    .accordion-area {
        width: 88%;
    }
    .title {
        font-size: 12px;
        padding: 4% 3% 4% 50px;
    }
    h2.dots {
        font-size: 33px;
    }
    .impact {
        font-size: 18px;
    }
    .impact span b {
        font-size: 28px;
        top: 2px;
    }
    .triangle::after {
        content: "";
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translatex(50%);
        box-sizing: border-box;
        border-right: 50vw solid transparent;
        border-left: 50vw solid transparent;
        border-top: 70px solid #FFF2F9;
        z-index: 1;
    }
    .pink_req_bg {
        padding-top: 80px;
    }
    .pink_req_bg div h2 {
        font-size: 20px;
    }
    .pink_req_bg div h3 {
        font-size: 28px;
    }
    .pink_req_bg div h3 b {
        font-size: 52px;
        top: 3px;
    }
    .pink_req_bg div h3 span {
        font-size: 28px;
    }
    .p2_img {
        width: 80%;
    }
    .pink_circle_bg h2 {
        font-size: 26px;
    }
    .pink_circle_bg h3 {
        font-size: 39px;
        line-height: 48px;
    }
    .pick {
        width: 200px;
    }
    .picks_content {
        border-radius: 51% / 96% 96% 0% 0%;
    }
    .point-wrap img.w {
        width: 50px;
    }
    .point-wrap p {
        font-size: 26px;
        line-height: 42px;
    }
    .point-wrap p span {
        font-size: 34px;
    }
    .point_title  {
        font-size: 17px;
        line-height: 1.85;
    }
    .point_title .color {
        font-size: 40px;
    }
    .point_title .bg_white {
        padding: 0px 5px;
        margin: 0px 5px;
    }
    .point_title .k1:after,.point_title .k2:after {
        font-size: 10px;
        top: -20px;
    }
    .kome_base {
        margin-bottom: 20px;
    }
    .intro_3_img {
        width: 88%;
    }
    .auto-sc {
        overflow: auto;
    }
    .title_price {
        width: 92%;
        margin: 2em auto;
        padding-bottom: 0.3em;
        text-align: center;
        border-bottom: 2px solid #000;
    }
    .intro_4_img {
        width: 150%;
        margin-inline: 4px;
    }
    .point-wrap img {
        width: 90%;
    }
    .attent_txt {
        width: 90%;
        font-size: 11px;
    }
    .analy-cta02 .fv_cta_btn {
        margin-top: 1.5em;
    }
    .kome::after {
        font-size: 10px;
        top: -0.8em;
    }
}
/**/


@media screen and (max-width: 768px) {
    .fv_main_text .mini {
        font-size: 18px;
        line-height: 3;
    }
    .fv_main_text .mini-2 {
        font-size: 26px;
    }
    .fv_main_text .big {
        font-size: 60px;
        line-height: 1.5;
    }
    .lead_txt {
        font-size: 17px;
        margin-top: 0;
    }
    .lead_txt span {
        font-size: 3vw;
    }
    .fv_box {
        padding: 2.86vw 5.03vw 0;
    }
    .fv_cta_btn {
        margin-top: 3em;
    }
    .fv_cta_sub {
        font-size: 14px;
        top: -6px;
    }
    .fv_cta_link {
        padding: 5vw 0 5vw;
    }
    .fv_cta_text {
        font-size: 22px;
    }
    .fv_cta_text::after {
        right: 6vw;
    }
    .fv_sub_text_comment {
        font-weight: 300;
        font-size: 12px;
    }
    .title_01 + h3 {
        font-size: 24px;
        font-weight: 900;
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .title_01 + h3 .p_big {
        font-size: 30px;
    }
    .intro_1_img {
        padding: 4.98vw 5.03vw 0;
    }

    .lead_txt {
        left: 0;
    }
}

@media screen and (max-width: 384px) {
    .fv_cta_sub {
        font-size: 3.6vw;
    }

    .fv_main_text .mini {
        font-size: 5vw;
    }
    .fv_main_text .mini-2 {
        font-size: 6.8vw;
    }
    h2.dots {
        font-size: 8.8vw;
        line-height: 1.0;
    }
    .fv_cta_text {
        font-size: 5.6vw;
    }
    .lead_txt {
        font-size: 4.3vw;
    }
    .impact {
        font-size: 5vw;
    }
    .title_price {
        font-size: 4vw;
    }
    .pink_req_bg div h3 {
        font-size: 6vw;
    }
    .pink_circle_bg h2 {
        font-size: 6.8vw;
    }
    .pink_circle_bg h3 {
        font-size: 10vw;
    }
    .point-wrap p {
        font-size: 6.8vw;
    }
    .point-wrap p span {
        font-size: 8.9vw
    }
    .point_title {
        font-size: 4.2vw;
    }
    .point_title .color {
        font-size: 10.4vw;
    }
}