<% const pagetitle = "OPPO A5 2020" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"information/software/", label:"ソフトウェアアップデート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'OPPO A5 2020（オッポ エーファイブ ニーゼロニーゼロ）のアップデート情報とアップデート方法のご案内。最新ソフトウェアバージョンについてはこちらをご確認ください',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'information/software/a5-2020/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
