<%-
 include('/_header', {
    pagetitle: '',
    directories: [],
    description: '',
    noindex: true,
    pathname: '',
    redirect: {url: 'product/smartphone/rakuten-mini/support/exchange-setting/'}
  });
-%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
