<%-
 include('/_header', {
    pagetitle: '',
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'fee/saikyo-plan/'}
  });
%>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
