<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2217</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
        Web　2024年3月22日（金）10:00～2024年4月15日（月）10:00<br>
        店舗（楽天モバイルショップ）　2024年3月22日（金）開店～2024年4月14日（日）閉店
      </p>
      <p><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
        2024年4月30日（火）23:59まで
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方
      </p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります。</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>Webまたは店舗（楽天モバイルショップ）で「Rakuten最強プラン」へお申し込み</p>
        <p class="c-Txt_Emp-01">【Webでお申し込みの場合】本キャンペーンページのお申し込みボタンより「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
        <p class="c-Txt_Emp-01">【店舗でお申し込みの場合】店舗でのお申し込み手続き開始時に、店舗のお申し込み画面にてお客様自身で本キャンペーンのクーポンコード「RKCMJT00000001」を入力後、下記（1）～（3）いずれかの方法にてお申し込み</p>
        <ul class="c-Cpn_List-ordered-lv2">
          <li>新規お申し込み</li>
          <li>他社からの乗り換え（MNP）でお申し込み</li>
          <li>楽天モバイル（ドコモ回線・au回線）のメンバーズステーションにてMNP予約番号を取得し、お申し込み</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
          <li>下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</li>
        </ul>
        <p class="u-Adjust_Mt-8">・オプションサービスを引き継ぎたい場合<br>
          本ページからお申し込みした際、オプションサービスはすべて解約となります。</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から 「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        </ul>
        <p>【お申し込み時の注意事項】<br>
          ・Webでお申し込みの場合、キャンペーン特典の適用は、本ページのお申し込みボタンからのお手続きが必要となります。<br>
          ・Webでお申し込みの場合、お手続き中に時間超過等でセッションが切れた場合、再度本ページのお申し込みボタンよりお手続きが必要になります。<br>
          ・楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合は、キャンペーン特典の適用はございません。メンテナンスの終了後に改めてお申し込みください。<br>
          ・楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、メンバーズステーションより、プラン変更（移行）した場合、キャンペーンの適用はございません。<br>
          ・お手続き完了前に、「受け取りとお支払い方法」ページのお申し込み内容にて、クーポンコードが表示されることを必ずご確認ください。</p>
          <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
            <li>店舗でのお申し込み手続きの際に、お客様自身でクーポンコードをご入力いただきます。本キャンペーンのクーポンコードは、お申し込み後に入力することはできませんのでご了承ください。</li>
          </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」利用開始</p>
        <p class="c-Txt_Cap nav-Pad">【プラン利用開始日とは】</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
          （1）当社に配送完了データが通知された日<br>
          （2）プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 他社から乗り換え（MNP）の場合</span><br>
          プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
          プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>対象カード</dt>
    <dd>楽天カード<br>
      （楽天ブラックカード、楽天プレミアムカード、楽天ゴールドカード、楽天ANAマイレージクラブカード、楽天PINKカード、楽天銀行カード、楽天カード アカデミー、アルペングループ 楽天カードを含む）</dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ 特典内容</p>
        <p class="u-Adjust_Mt-8">20,000ポイントプレゼント</p>
        <ul class="c-Cpn_List-mark-1">
          <li>特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります。</li>
        </ul>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■ ポイント進呈日</p>
        <p class="u-Adjust_Mt-8">2024年6月より5か月間にわたり、各月末日ごろに4,000ポイントを進呈</p>
        <ul class="c-Cpn_List-mark-1">
          <li>例）2024年6月末日ごろに1回目のポイント進呈となり、7月末日ごろに2回目、8月末日ごろに3回目、9月末日ごろに4回目、10月末日ごろに5回目の進呈となります。</li>
          <li>楽天ポイントの進呈は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■ ポイント有効期間</p>
        <p class="u-Adjust_Mt-8">ポイント進呈日の3カ月後の月末日まで有効</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
          <li>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンより進呈ポイント数やクーポン割引額が多いRakuten最強プランお申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合（複数のRakuten最強プランお申し込みでポイントまたはクーポンプレゼントキャンペーンの対象となった場合、進呈ポイント数やクーポン割引額が一番多いキャンペーンのみが適用されます。）</li>
        <li>Webでお申し込み時に、本ページのお申し込みボタン以外からお申し込みされた場合</li>
        <li>Webでお申し込み時に、本ページのお申し込みボタンよりお手続き中に時間超過等でセッションが切れた場合</li>
        <li>Webでお申し込み時に、楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合</li>
        <li>楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、メンバーズステーション経由でプラン変更（移行）した場合</li>
        <li>Webでのお申し込み途中で、他のお申し込みボタンからお申し込みを開始したり、ブラウザ、スマートフォンやパソコンを変えるなどして「受け取りとお支払い方法」ページのお申し込み内容で、クーポンコードが表示されていない場合<br>
            クーポンコードは、キャンペーンページの「クーポンコード」に記載の14桁の英数字です</li>
        <li>お申し込み途中で、クーポンを解除した場合</li>
        <li>店舗でお申し込み時に、お申し込み手続き前に本キャンペーンページのクーポンコードを提示しなかった場合</li>
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>2024年4月末日時点で、ご利用可能な楽天カードをお持ちでない場合</li>
        <li>楽天モバイルショップ、楽天モバイルオンライン、楽天モバイル公式 楽天市場店以外で購入した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等によりお申し込みキャンセルとなった場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合<br>
          -プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
        <li>ポイント進呈までに楽天会員から退会している場合</li>
        <li>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
      <ul class="u-Adjust_Mt-8">
        <li>・Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で割引キャンペーン（キャンペーンコード：2169）</li>
        <li>・Rakuten最強プランご契約とiPhone対象製品を買い替え超トクプログラム利用のご購入でポイントバックキャンペーン（キャンペーンコード：2231）</li>
      </ul>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li class="c-Txt_Emp-02">Webで端末の予約購入をお申し込みの場合は本キャンペーンは対象外になります。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーン特典が適用になっている場合、本キャンペーンは対象外となります。その他の全てのキャンペーンは本キャンペーンとの併用不可となります</p>
      <ul class="u-Adjust_Mt-8">
        <li>・楽天モバイル公式 楽天市場店 対象Android製品とRakuten最強プランセットご注文で6,000円OFFクーポン（キャンペーンコード：1833）</li>
        <li>・楽天モバイル公式 楽天市場店 対象Apple製品とRakuten最強プランセットご注文で6,000円OFFクーポン（キャンペーンコード：1834）</li>
        <li>・Rakutenオリジナル製品 1円キャンペーン（キャンペーンコード：1875）</li>
        <li>・【Android対象製品限定】特価キャンペーン（キャンペーンコード：2178）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li>楽天モバイルの契約に紐づけられている楽天ID（ユーザID）が、契約時から特典ポイント進呈日までに変更された場合、ポイント進呈の対象外となる場合がございます。</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から 「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        <li>記載の内容は2024年3月27日（水）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>