<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2200</p>
      <ul class="c-Txt_Cap c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <ul>
        <li>2024年2月20日（火）9:00~2024年2月29日（木）8:59</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】【2】【3】の条件を満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>楽天モバイル地域Xアカウントいずれかをフォロー</p>
        <ul class="c-List_Text-disc">
          <li>楽天モバイル北海道エリア版</li>
          <li>楽天モバイル東北エリア版</li>
          <li>楽天モバイル北関東・甲信越エリア版</li>
          <li>楽天モバイル首都圏エリア版</li>
          <li>楽天モバイル東海・北陸エリア版</li>
          <li>楽天モバイル関西エリア版</li>
          <li>楽天モバイル中国エリア版</li>
          <li>楽天モバイル四国エリア版</li>
          <li>楽天モバイル九州エリア版</li> 
          <li>楽天モバイル沖縄エリア版</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>フォローしたアカウントの当該キャンペーンの投稿をリポスト</p>
        <p class="c-Cpn_Title-lv1"><span>【3】</span>当選者のXアカウントにお送りするダイレクトメッセージ内のリンクから、7日以内に楽天会員アカウントにログイン</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典（楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ 特典内容</p>
        <p class="c-Txt_Emp-01">各アカウント20名、合計200名に5,000ポイント</p>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">2024年4月末日ごろに付与</p>
        <ul class="c-Txt_Cap c-Cpn_List-mark-1">
          <li>当選者の方には、ご応募いただいたＸアカウントへ2024年3月末日頃にダイレクトメッセージにてご連絡いたします。</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
            <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt-inline" target="_blank">期間限定ポイント<span class="c-Icon_New-window-l"></span></a>について</li>
            <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
          </ul>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Txt_Cap c-Cpn_List-mark-1">
        <li>アカウントが<span class="c-Txt_Emp-01">非公開</span>の場合</li>
        <li>ご自身のXアカウントのDM受信設定がオフになっている場合。</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">併用不可キャンペーンはございません</p>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Txt_Cap c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合がございます。あらかじめご了承ください。</li>
        <li>各楽天モバイル地域版アカウントに対し、お1人様につき1回のみの応募となります。複数の楽天モバイル地域版アカウントをフォロー&リポストした場合でも、お1人様につき1回のみの当選（獲得上限ポイント5,000ポイント）となります。</li>
        <li>2024年3月31日時点で楽天モバイル地域版X公式アカウントをフォローしていない方は対象外となります。</li>
        <li>当選のご連絡をDMにて行いますので、メッセージリクエスト設定をオンにしてください。オフになっている場合、対象外となります。</li>
        <li>取得した個人情報は、本キャンペーンにおける楽天ポイント付与のために用いるものとします。また、個人情報の取扱いに当たっては当社の個人情報保護方針に従います。</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合がございます。</li>
        <li>楽天モバイルの契約有無は問いません</li>
        <li>当選に関わる個別のお問い合わせについては、対応しておりません。予めご了承ください。</li>
        <li>記載の内容は2024年2月20日（火）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
