<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2310</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ プランのお申し込み期間</p>
        <ul>
          <li>
            <span class="c-Txt_Emp-01">Web</span><br>2024年5月13日（月）9:00～終了日未定
          </li>
          <li>
            <span class="c-Txt_Emp-01">店舗（楽天モバイルショップ）</span><br>2024年5月13日（月）開店～終了日未定
          </li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■ プラン利用開始期限</p>
        <p>プランのお申し込みの翌月末日23:59まで</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>本キャンペーンページ「同意してキャンペーンに申し込む」ボタン（【WEBでプランご契約】または【ショップでプランご契約】）を押下する</p>
        <ul class="c-Txt_Cap">
          <li>※特典は本キャンペーン期間中、おひとり様1度のみになります</li>
          <li>※本キャンペーンページの「同意してキャンペーンに申し込む」ボタンを押下してからお申し込み完了まで同月内に実施してください</li>
          <li>※【店舗でのお申し込みの場合】店舗へのご来店前までに、お客様自身で本キャンペーンページから「同意してキャンペーンに申し込む」ボタンを押下してください。<br>店舗でのお申し込み手続き開始時に、店頭スタッフにチラシまたは本キャンペーンページを提示の上、お申し込みください。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
        <div class="u-Adjust_Mt-8">
          <ol class="c-Cpn_List-ordered-lv2">
            <li>新規お申し込み</li>
            <li>他社からの乗り換え（MNP）でお申し込み</li>
            <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
          </ol>
          <p class="c-Txt_Cap">
            ※本キャンペーンページの「同意してキャンペーンに申し込む」ボタンを押下してからお申し込み完了まで、同月内に実施がされなかった場合は、本キャンペーンが適用されません。<br>
            お申し込みが未完了の場合、もしくは「同意してキャンペーンに申し込む」ボタン押下から月をまたいでお申し込みを完了された場合は、お申し込み完了と同月内に再度本キャンペーンページから「同意してキャンペーンに申し込む」ボタンを押下していただくことで、本キャンペーンの適用が可能です。
          </p>
        </div>
        <ul class="u-Adjust_Mt-16 c-Txt_Cap c-Cpn_List-mark-1">
          <li>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から 「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
          <li class="c-Txt_Emp-01">本キャンペーンSTEP1からSTEP4まで同じ楽天会員IDをご利用ください</li>
        </ul>
        <div class="u-Adjust_Mt-16">
          <p class="c-Cpn_Title-lv1"><span>【3】</span>「Rakuten最強プラン」利用開始</p>
          <p class="u-Adjust_Mb-8 u-Adjust_Mt-8">【プラン利用開始日とは】</p>
          <ul class="c-Cpn_List-mark-2-normal">
            <li>
              <p>新規お申し込みの場合<span class="c-Txt_Cap">※（1）（2）のいずれか早い方がプラン利用開始日となります</span></p>
              <ol class="c-Cpn_List-ordered-lv2">
                <li>当社に配送完了データが通知された日</li>
                <li>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</li>
              </ol>
            </li>
            <li class="u-Adjust_Mt-8">
              <p>他社から乗り換え（MNP）の場合</p>
              <p>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
            </li>
            <li class="u-Adjust_Mt-8">
              <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
              <p>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
            </li>
          </ul>
        </div>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典（楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■特典内容</p>
      </div>
      <div class="c-Txt_Emp-01">
        <p>他社からの乗り換え（MNP）でお申し込みの場合、14,000ポイントプレゼント</p>
        <p>新規お申し込み、もしくは楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込みの場合、7,000ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■ポイント付与日</p>
        <p class="c-Txt_Emp-01">「Rakuten最強プラン」の利用開始が確認された月の4ヶ月後ごろに付与</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>例）5月にすべての条件を達成した場合には、その4ヶ月後である9月末日ごろにポイント付与となります</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <div>
          <p class="c-Txt_Emp-01">■ポイント有効期間</p>
        </div>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6ヶ月</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532?l-id=mi_rmb_web_20240415_corporation_rule_pointperiod" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <div class="u-Adjust_Mt-16">
        <ul class="c-Cpn_List-mark-1">
          <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
          <li>「【特別なお客様向け】Rakuten最強プランのお申し込みで楽天ポイントプレゼントキャンペーン」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
          <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
          <li>「Rakuten最強プラン」の利用開始がされなかった場合<br>
            -プラン利用開始の手続き方法につきましては、こちらの<a href="<%= sitepath %>faq/detail/00001648/" target="_blank">SIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
          <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
          <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
          <li>そのほか、当社が<span class="c-Txt_Emp-01">会員として不適格である</span>と合理的に判断した場合</li>
          <li>本キャンペーンより付与ポイント数やクーポン割合が多いRakuten最強プランお申し込みで、ポイントまたはクーポンプレゼントキャンペーンが適用となった場合
            <br>（複数のRakuten最強プランお申し込みでポイントまたはクーポンプレゼントキャンペーンの対象となった場合、付与ポイント数やクーポン割引額が一番多いキャンペーンのみ適用されます）
          </li>
          <li>本キャンペーンページの「同意してキャンペーンに申し込む」ボタンを押下していない場合</li>
          <li>お申し込みに際し何らかの不備があり、お申し込みが完了しなかった場合</li>
          <li>Webでお申し込み時に、楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合</li>
          <li>本キャンペーンページの「同意してキャンペーンに申し込む」ボタンを押下してからお申し込み完了まで同月内に実施がされなかった場合</li>
          <li>店舗でお申し込み時に、お申し込み手続き前に対象のチラシまたは本キャンペーンページを提示しなかった場合</li>
          <li>本キャンペーン申し込み時の楽天会員IDと回線申し込み時の楽天会員IDが一致しない場合</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります</p>
      <ul class="c-Cpn_List-mark-2-normal u-Adjust_Mt-16 c-Txt_Cap">
        <li>楽天モバイル公式 楽天市場店 対象Android製品とRakuten最強プランセットご注文で6,000円OFFクーポン（キャンペーンコード：1833）</li>
        <li>楽天モバイル公式 楽天市場店 対象Apple製品とRakuten最強プランセットご注文で6,000円OFFクーポン（キャンペーンコード：1834）</li>
      </ul>
      <p class="c-Txt_Cap u-Adjust_Mt-16">※上記キャンペーンのいずれかを適用し、他社からの乗り換え（MNP）でお申し込みの場合は本キャンペーンの特典は8,000ポイントとなります</p>
      <ul class="c-Cpn_List-mark-2-normal u-Adjust_Mt-16 c-Txt_Cap">
        <li>Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で20,000円割引キャンペーン（キャンペーンコード：2169）</li>
        <li>【15分（標準）通話かけ放題】料金1カ月無料特典（キャンペーンコード：1977）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります</p>
      <p class="c-Txt_Emp-01">本キャンペーン条件を満たす前、または満たした後に、以下のキャンペーンの条件を満たした場合には、以下のキャンペーンのみが優先的に適用となります</p>
      <ul class="c-Cpn_List-mark-2-normal u-Adjust_Mt-16 c-Txt_Cap">
        <li>Rakutenオリジナル製品 1円キャンペーン（キャンペーンコード：1875）</li>
        <li>【Android対象製品限定】特価キャンペーン（キャンペーンコード：2178）</li>
        <li>【お得意様向けプラン（福利厚生・スポンサー特典）】​ Rakuten最強プランのお申し込みで、20,000ポイントプレゼントキャンペーン​（キャンペーンコード：2258）</li>
        <li>【お得意様向け（福利厚生・スポンサー特典）】Rakuten最強プランご紹介で、合計20,000ポイントプレゼント（キャンペーンコード：2259）</li>
        <li>【楽天従業員から紹介された方限定】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：2162）</li>
      </ul>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります</p>
      <ul class="c-Cpn_List-mark-2-normal u-Adjust_Mt-16 c-Txt_Cap">
        <li>【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）</li>
        <li>【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼント（キャンペーンコード：2091）</li>
        <li>【Rakuten最強プランはじめてお申し込み特典】新規ご契約・プラン変更（移行）で2,000ポイントプレゼントキャンペーン（キャンペーンコード：2142）</li>
        <li>iPhone 対象端末ポイントバックキャンペーン（キャンペーンコード：1819）</li>
        <li>「Rakuten最強プラン」＋対象のAndroid製品ご購入でポイント還元キャンペーン（キャンペーンコード：2006）<br>
        ※新規お申し込み、もしくは楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込みの場合、上記2キャンペーン（キャンペーンコード：1819、2006）は本キャンペーンと併用可能となります</li>
        <li>リワード広告キャンペーン （キャンペーンコード：1755）<br>
        ※本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント付与の対象外となる場合がございます</li>
        <li>ポイント付与後に不正と判断した場合には、当該ポイントの無効化、口座の凍結もしくは当該ポイント相当分を何らかの手段にてご請求等をする場合があります</li>
        <li>ポイントを付与後はポイント口座の当該ポイントを利用停止する場合があります</li>
        <li>付与ポイントを既に利用済みの場合、当該ポイント分の金額を楽天モバイルに登録している決済手段により引き落としする場合があります</li>
        <li class="c-Txt_Emp-02">2回線目以降の契約または再契約の方の場合でも特典付与の対象となります（本キャンペーンの特典は期間中、おひとり様1度のみになります）</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から 「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        <li>記載の内容は2024年5月13日（月）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
