<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2103</p>
      <p class="c-Txt_Cap">※ 本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p class="c-Txt_Emp-01">■ エントリー期間</p>
      <p>2024年2月1日（木）10:00 ～2月29日（木）23:59</p>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">■ データ利用期間</p>
      <p>エントリー月の月初から月末まで</p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方</p>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【1】キャンペーンへのエントリー</p>
      <p>エントリー期間内に本キャンペーンページでエントリー</p>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【2】本キャンペーンの開始時点で「Rakuten最強プラン」ご利用中、且つご契約開始から一度も3GBを超えたデータ利用をしたことがない</p>
      <p class="c-Txt_Cap">※本キャンペーン開始後（2024年2月1日（木）10:00以降）に楽天モバイルRakuten最強プランに新規に契約された回線は、本キャンペーン対象外になります</p>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【3】データ利用期間中に3GBを超過するデータ利用を行う</p>
      <p>
        エントリー月の月初から月末までのデータ利用量の通算で判定いたします<br>
        ご自身のデータ利用量はmy楽天モバイルの「ホーム」、または「利用状況」からご確認いただけます
      </p>
      <p class="c-Txt_Cap">
        ※ my 楽天モバイルで表示されるデータ利用量は概算となり、実際のデータ利用量と異なる場合があります<br>
        ※月を跨いでデータ通信を行った場合、当該通信は翌月分のデータ利用量として算定いたします。また、当月末日のデータ通信の一部は翌月分のデータ利用量として算定される場合がございます<br>
        ※リチャージ分（1GBあたり500円でのデータチャージ）はキャンペーン対象となるデータ利用に加算されません<br>
        ※おひとり様1回限りとなります<br>
        （エントリーした楽天IDに紐づく回線が複数ある場合は、過去にデータ利用量が3GBを超えておらず、本キャンペーン期間中にはじめて3GBを超過した最初の回線のみポイント付与の対象となります。また、過去に一回線でも3GBを超過した利用があった場合は本キャンペーンの対象外となります。）<br>
        ※「Rakuten最強プラン」のデータ利用量のみ対象となり、楽天モバイル（ドコモ回線・au回線）でのデータ利用は対象外となります
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <p class="c-Txt_Emp-01">■ 特典内容</p>
      <p class="c-Txt_Emp-01">500ポイントプレゼント</p>
      <p class="c-Txt_Cap">
        ※ 特典内容はキャンペーン開催月により増減する場合がございます。
      </p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ ポイント付与日</p>
      <p class="c-Txt_Emp-01">翌々月末日ごろ</p>
      <p class="c-Txt_Cap">
        ※ 楽天ポイントの付与は、楽天モバイルより行います<br>
        ※ 権利の譲渡はできません
      </p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ ポイント有効期間</p>
      <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
      <p class="c-Txt_Cap">
        ※ <a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a><br>
        ※ 有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません
      </p>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <p class="c-Txt_Cap u-Adjust_Mt-16">
        ※ 過去に3GBを超過するデータ利用を行っていた場合（Rakuten UN-LIMIT VII等、過去のプランで３GBを超過していた場合も対象外となります）<br>
        ※ エントリーはしたがデータ利用量が3GB以下だった場合<br>
        ※ エントリーした楽天IDと異なる楽天IDに紐づく回線でデータ利用をした場合<br>
        ※ キャンペーン開始後に新規に契約した回線にて3GB超過利用があった場合<br>
        ※ 当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合<br>
        ※ ポイント付与までに楽天会員から退会している場合<br>
        ※ 当社または楽天グループ株式会社が定める規約などに違反した場合
      </p>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります</p>
      <p class="c-Txt_Cap u-Adjust_Mt-16">
        - 楽天モバイル 初めての20GB超過利用で1,500ポイントプレゼントキャンペーン（1723）<br>
        ※ 楽天モバイル 初めての20GB超過利用で1,500ポイントプレゼントキャンペーンと本キャンペーンを同時に達成した場合、楽天モバイル初めての20GB超過利用で1,500ポイントプレゼントキャンペーンが適用され、本キャンペーンは対象外となります（1723）
      </p>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <p class="c-Txt_Cap">
        ※ 本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください<br>
        ※ 本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります<br>
        ※ 製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります<br>
        ※ 本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます<br>
        ※ 記載の内容は2024年2月1日（木）時点の情報となります
      </p>
    </dd>
  </div>
</dl>
