<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1815</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
        Web　2024年2月1日（木）09:00～2024年3月1日（金）08:59
      </p>
      <p><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
        2024年3月31日（日）23:59まで
      </p>
      <p><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
        2024年3月31日（日）23:59まで
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p>
        上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>特典はおひとり様1回のみ。楽天回線を初めてお申し込みいただいた場合に適用となります。</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>本キャンペーンページの「お申し込みはこちら」ボタンより「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
        <ul class="c-Cpn_List-ordered-lv2">
          <li>新規お申し込み</li>
          <li>他社からの乗り換え（MNP）でお申し込み</li>
          <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
          <li>下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください。</li>
        </ul>
        <p class="u-Adjust_Mt-16">・オプションサービスを引き継ぎたい場合<br>
          本ページからお申し込みした際、オプションサービスはすべて解約となります。</p>
        <p>【お申し込み時の注意事項】<br>
          ・キャンペーン特典の適用は、本ページの「お申し込みはこちら」ボタンからのお手続きが必要となります<br>
          ・お手続き中に時間超過等でセッションが切れた場合、再度本ページの「お申し込みはこちら」ボタンよりお手続きが必要になります<br>
          ・楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合は、キャンペーン特典の適用はございません。メンテナンスの終了後に改めてお申し込みください<br>
          ・楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、<a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten" class="c-Link_Txt-inline" target="_blank">メンバーズステーション<span class="c-Icon_New-window-l"></span></a>より、プラン変更（移行）した場合、キャンペーンの適用はございません<br>
          ・お手続き完了前に、「受け取りとお支払い方法」ページのお申し込み内容にて、クーポンコードが表示されることを必ずご確認ください</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」利用開始</p>
        <p class="c-Txt_Cap">【プラン利用開始日とは】</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
          （1）当社に配送完了データが通知された日<br>
          （2）プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 他社から乗り換え（MNP）の場合</span><br>
          プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
          プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>「Rakuten Link」のご利用</p>
        <p>「Rakuten最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
        <p class="u-Adjust_Mt-16">【Rakuten Link アプリご利用方法】<br>
          Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
        <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
            「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001919/" target="_blank" class="c-Link_Txt-inline">キャンペーンにおけるRakuten Linkの利用について<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>電話の発信時、（0570）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典（楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p>3,000ポイントプレゼント</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>特典はおひとり様1回限り（過去キャンペーンコード1815が適用されている場合は非対象となります）</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント進呈日</p>
        <p>2024年6月末ごろに進呈</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>楽天ポイントの進呈は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p>ポイント進呈日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
          <li>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより進呈ポイント数やクーポン割引額が多いRakuten最強プランお申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合（複数のRakuten最強プランお申し込みでポイントまたはクーポンプレゼントキャンペーンの対象となった場合、進呈ポイント数やクーポン割引額が一番多いキャンペーンのみが適用されます。）</li>
        <li>過去に同一名義で楽天モバイル（Rakuten UN-LIMIT V、Rakuten UN-LIMIT VI含む）をご契約いただいたことがある場合</li>
        <li>本ページの「お申し込みはこちら」ボタン以外からお申し込みされた場合</li>
        <li>本ページの「お申し込みはこちら」ボタンよりお手続き中に時間超過等でセッションが切れた場合</li>
        <li>楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合</li>
        <li>楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、メンバーズステーション経由でプラン変更（移行）した場合</li>
        <li>お申し込み途中で、他のお申し込みボタンからお申し込みを開始したり、ブラウザ、スマートフォンやパソコンを変えるなどして「受け取りとお支払い方法」ページのお申し込み内容で、クーポンコードが表示されていない場合<br>
            クーポンコードは、キャンペーンページの「クーポンコード」に記載の14桁の英数字です</li>
        <li>お申し込み途中で、クーポンを解除した場合</li>
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>「楽天ペイメントサービスご利用者様へ【毎月開催】楽天モバイル初めてのお申し込みでポイントプレゼント」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
        <li>店舗（楽天モバイルショップ）でのお申し込みの場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合<br>
          -プラン利用開始の手続き方法につきましては、こちらの<a href="<%= sitepath %>assets/pdf/product/STARTGUIDE-SIM-CARD.pdf?240321">SIMカード版スタートガイド</a>または<a href="<%= sitepath %>assets/pdf/product/STARTGUIDE-eSIM.pdf?240216">eSIM版スタートガイド</a>を参照ください</li>
        <li>期限までに「Rakuten Link」を利用されなかった場合</li>
        <li>ポイント進呈までに楽天会員から退会している場合</li>
        <li>当社または楽天ペイメント株式会社、楽天Edy株式会社が定める規約などに違反した場合</li>
        <li>楽天ペイメントサービス（楽天ペイ、楽天ポイントカード、楽天Edy、楽天チェック）利用者でない場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」のご契約が過去にある場合</li>
        <li>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
      <ul class="u-Adjust_Mt-8">
        <li>①【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼント（キャンペーンコード：2091）</li>
        <li>②【Rakuten最強プランはじめてお申し込み特典】新規ご契約・プラン変更（移行）で2,000ポイントプレゼントキャンペーン（キャンペーンコード：2142）</li>
        <li><s>③【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）</s></li>
      </ul>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>2024年2月1日より③は併用不可となりました。③の条件が満たされている場合、本キャンペーンは対象外となり、③が優先適用となります。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。特典は今後の開催時に増減する場合もあります。あらかじめご了承ください。</li>
        <li>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        <li>記載の内容は2024年2月1日（木）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>