<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2253</p>
      <ul class="c-Txt_Cap c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ エントリー期間</p>
        <ul>
          <li>2024年3月16日（土）00:00～2024年4月16日（火）9:59</li>
        </ul>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ プランのお申し込み期間</p>
        <ul class="u-Adjust_Mt-16">
          <li>
            <p class="c-Txt_Emp-01">【1】本キャンペーン開始時点で「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」ご利用中の方</p>
            <p>新規申し込み不要</p>
          </li>
          <li>
            <p class="c-Txt_Emp-01">【2】本キャンペーン開始時点で「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」未契約者の方</p>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-8">Web<p>
              <p>2024年3月16日（土）00:00～2024年4月30日（火）9:59</p>
            <p class="c-Txt_Emp-01">店舗（楽天モバイルショップ）</p>
              <p>2024年3月16日（土）開店～2024年4月29日（月）閉店</p>
          </li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-8">
        <p class="c-Txt_Emp-01">■ プラン利用開始期限</p>
        <p>2024年4月30日（火）23:59まで</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】【2】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーンへのエントリー</p>
        <ul>
          <li>エントリー期間内に本キャンペーンページでエントリー</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」プランご利用中または利用開始</p>
        <ul class="u-Adjust_Mt-8">
          <li>本キャンペーン開始時点で「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」の未契約者である場合は、2024年3月16日（土）00:00～2024年4月30日（火）23:59までに、以下(ⅰ)(ⅱ)を満たすことで対象となります。</li>
          <p class="c-Cpn_Title-lv1 u-Adjust_Mt-8"><span>(ⅰ)</span>「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」お申し込み</p>
          <ol class="c-Cpn_List-ordered-lv2">
            <li>新規お申し込み</li>
            <li>他社からの乗り換え（MNP）でお申し込み</li>
            <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
          </ol>
        </ul>
        <ul class="u-Adjust_Mt-16">
          <p class="c-Cpn_Title-lv1"><span>(ⅱ)</span>「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」利用開始</p>
          <p class="u-Adjust_Mb-8 u-Adjust_Mt-8">【プラン利用開始日とは】</p>
          <ul class="c-Cpn_List-mark-2-normal">
            <li>
              <p>新規お申し込みの場合<span class="c-Txt_Cap">※（1）（2）のいずれか早い方がプラン利用開始日となります</span></p>
              <ol class="c-Cpn_List-ordered-lv2">
                <li>当社に配送完了データが通知された日</li>
                <li>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</li>
              </ol>
            </li>
            <li class="u-Adjust_Mt-8">
              <p>他社から乗り換え（MNP）の場合</p>
              <p>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
            </li>
            <li class="u-Adjust_Mt-8">
              <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
              <p>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
            </li>
          </ul>
          <li class="u-Adjust_Mt-16">
            （i）（ii）を以下対象店舗において満たすことで対象になります。
          </li>
        </ul>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">対象店舗</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li class="c-List_Text-disc">3月16日INAC神戸レオネッサvsジェフ千葉レディース試合会場特設ブース、web、全国楽天ショップ店舗</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>ドコモ回線・au回線用プランのスーパーホーダイ、組み合わせプラン、コミコミプランは、本キャンペーンの対象外となります。</li>
          <li>旧FREETEL SIM、DMM mobile SIMは本キャンペーンの対象外となります。</li>
          <li>本キャンペーン開始前に、「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」をお申し込みされた方は、エントリー期間内のプラン利用開始が必要です。</li>
          <li>店頭でのお申し込みは、2024年4月29日（火）閉店までが期限となります。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典（楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ 特典内容</p>
        <p class="c-Txt_Emp-01">条件達成で抽選で19名様に以下の賞品をプレゼント</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li class="c-List_Text-disc">キャンペーンエントリーおよび楽天モバイルにご契約中または新規ご契約いただいた方</li>
          <li class="c-List_Text-disc">未契約者である場合は、上記キャンペーン期間内にお申込み・利用開始いただいた方</li>
        </ul>
        <ul class="u-Adjust_Mt-8">
          <p class="c-Txt_Emp-01">S賞</p>
          <li>選手サイン入りサッカーボール　1名様</li>
        </ul>
        <ul class="u-Adjust_Mt-8">
          <p class="c-Txt_Emp-01">A賞</p>
          <li>選手サイン入りモンダミンTシャツ　3名様</li>
        </ul>
        <ul class="u-Adjust_Mt-8">
          <p class="c-Txt_Emp-01">B賞</p>
          <li>選手サイン入り応援メッセージハリセン　5名様</li>
        </ul>
        <ul class="u-Adjust_Mt-8">
          <p class="c-Txt_Emp-01">C賞</p>
          <li>サポーターズクラブ限定A5クリアファイル　10名様</li>
          <p class="c-Txt_Cap">※賞品・選手・カラーを指定して応募することはできません</p>
        </ul>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ 賞品発送日</p>
        <p class="c-Txt_Emp-01">2024年7月末日ごろに発送</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>賞品は、楽天モバイルにご登録いただいている氏名、住所に発送いたします</li>
          <li>当選者の方には楽天モバイルで登録をしているメールアドレス宛にご連絡致します</li>
          <li>配送先は、日本国内に限らせていただきます</li>
          <li>景品発送後のトラブルにつきましては、弊社は一切の責任を負いかねます</li>
          <li>宛先不明で返送された場合、当選は無効とさせていただきます</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <div class="u-Adjust_Mt-16">
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
          <li>期間中に契約者変更（譲渡・承継）を受けた場合</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li>当選する景品はおひとり様につき１つまでです</li>
        <li>記載の内容は2024年3月14日（木）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
