
<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1723</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">■ エントリー期間</span><br>
        　- 2024年3月1日（金）10:00〜3月31日（日）23:59
      </p>
      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ データ利用期間</span><br>
        　- エントリー月の月初から月末まで
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下【1】、【2】、【3】の条件をすべて満たした楽天会員の方<br>
        <span class="c-Txt_Cap c-Txt_Emp-02">※データ利用量が20GBを超過する前にエントリーが必要となりますのでご注意ください</span>
      </p>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【1】キャンペーンへのエントリー</p>
      <p>エントリー期間内に本キャンペーンページにてエントリー</p>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【2】本キャンペーンの開始時点で「Rakuten最強プラン」ご利用中、且つご契約開始から一度も20GBを超えたデータ利用をしたことがない</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーン開始後（2024年3月1日（金）10:00以降）に楽天モバイルRakuten最強プランに新規に契約された回線は、本キャンペーン対象外になります</li>
      </ul>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">【3】データ利用期間中に20GBを超過するデータ利用を行う</p>
      <p>
        エントリー月の月初から月末までのデータ利用量の通算で判定いたします<br>
        ご自身のデータ利用量はmy楽天モバイルの「ホーム」、または「利用状況」からご確認いただけます
      </p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li> my 楽天モバイルで表示されるデータ利用量は概算となり、実際のデータ利用量と異なる場合があります</li>
        <li>月を跨いでデータ通信を行った場合、当該通信は翌月分のデータ利用量として算定いたします。また、当月末日のデータ通信の一部は翌月分のデータ利用量として算定される場合がございます</li>
        <li>リチャージ分（1GBあたり500円でのデータチャージ）はキャンペーン対象となるデータ利用に加算されません</li>
        <li>おひとり様1回限りとなります（エントリーした楽天IDに紐づく回線が複数ある場合は、過去にデータ利用量が20GBを超えておらず、本キャンペーン期間中にはじめて20GBを超過した最初の回線のみポイント付与の対象となります。また、過去に一回線でも20GBを超過した利用があった場合は本キャンペーンの対象外となります。）</li>
        <li>「Rakuten最強プラン」のデータ利用量のみ対象となり、楽天モバイル（ドコモ回線・au回線）でのデータ利用は対象外となります</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典</dt>
    <dd>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">■ 特典内容<br>
        　1,500ポイントプレゼント
      </p>
      <ul class="u-Adjust_Pl-16 c-Cpn_List-mark-1 c-Txt_Cap">
        <li>特典内容はキャンペーン開催月により増減する場合がございます。</li>
      </ul>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">■ ポイント付与日<br>
        　翌々月末日ごろに付与
      </p>
      <ul class="u-Adjust_Pl-16 c-Cpn_List-mark-1 c-Txt_Cap">
        <li>楽天ポイントの付与は、楽天モバイルより行います</li>
        <li>権利の譲渡はできません</li>
      </ul>
      <p class="u-Adjust_Mt-16 c-Txt_Emp-01">■ ポイント有効期間<br>
        　ポイント付与日を含めて6カ月
      </p>
      <ul class="u-Adjust_Pl-16 c-Cpn_List-mark-1 c-Txt_Cap">
        <li>期間限定ポイントについて（<a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt-inline">https://ichiba.faq.rakuten.net/detail/000006532</a>）</li>
        <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>過去に20GBを超過するデータ利用を行っていた場合</li>
        <li>エントリーはしたがデータ利用量が20GB以下だった場合</li>
        <li>エントリーした楽天IDと異なる楽天IDに紐づく回線でデータ利用をした場合</li>
        <li>キャンペーン開始後に新規に契約した回線にて20GB超過利用があった場合</li>
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_emp-02">併用不可</span>となります</p>
      <p class="u-Adjust_Mt-8">- 楽天モバイル　はじめての3GB超過利用で1,000ポイントプレゼントキャンペーン（キャンペーンコード：2103）</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap u-Adjust_Mt-8">
        <li>楽天モバイル　はじめての3GB超過利用で1,000ポイントプレゼントキャンペーンと本キャンペーンを同時に達成した場合、本キャンペーンが適用され、楽天モバイル　はじめての3GB超過利用で1,000ポイントプレゼントキャンペーンは対象外となります（キャンペーンコード：2103）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li>記載の内容は2024年3月1日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>