<%
const entryData = "2024年5月13日（月）9:00～2024年10月31日(木)23:59"
const periodCut = "2024年5月13日（月）"
_%>
<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2259</p>
      <ul class="c-Txt_Cap c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>

  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ ご紹介者様エントリー期間</p>
        <ul>
          <li><%= entryData %></li>
        </ul>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ 被紹介者様ログイン期間</p>
        <ul>
          <li><%= entryData %></li>
        </ul>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ 被紹介者様プランのお申し込み期間</p>
        <ul>
          <li>
            <p>Web <%= entryData %></p>
            <p>店舗（楽天モバイルショップ）2024年5月13日（月）開店～2024年10月31日(木)閉店</p>
          </li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-8">
        <p class="c-Txt_Emp-01">■ 被紹介者様プラン利用開始期限</p>
        <p>プランのお申し込みの翌月末日23:59まで</p>
      </div>
    </dd>
  </div>

  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方
      </p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">＜紹介する方(ご紹介者様)＞</p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーンへのエントリー</p>
        <p>エントリー期間内に本キャンペーンページでエントリー</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>キャンペーンページ内エントリーボタンよりご契約者様の楽天IDを入力しアンケートフォームに入り、アンケートに回答したらエントリー完了</li>
          <li>エントリ―にはご契約者様の楽天IDが必要です</li>
          <li>ご自身とご家族がそれぞれご契約する場合は、楽天IDが異なれば、同じ従業員様氏名で複数アンケート回答いただいた場合でもキャンペーン適用対象になります</li>
          <li>エントリーとお申し込みが確認できなかった場合、キャンペーンの適用対象外となります</li>
          <li>(紹介された方)被紹介者様の申し込み月<span class="c-Txt_Emp-01">以前</span>にエントリーする必要があります</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>キャンペーン紹介URLの送信</p>
        <ul class="u-Adjust_Mt-8">
          <li>上記キャンペーン期間中に、本キャンペーンページからLINE/X/Viber/メール/SMS・その他でキャンペーン紹介URLを送信</li>
          <li class="c-Txt_Cap">※紹介された方（被紹介者様）が複数の方から紹介を受けた場合、最も早く紹介ログインがあったご紹介者様のURLが特典対象となります</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">＜紹介された方（被紹介者様）＞</p>
        <p class="c-Cpn_Title-lv1 u-Adjust_Mt-8"><span>【3】</span>受信したキャンペーン紹介URLに記載のURL（メールは「キャンペーンに参加する＞リンク」）をクリックして楽天IDで紹介ログイン</p>
        <ul class="u-Adjust_Mt-8">
          <li>LINE/X/Viber/メール/SMS・その他から紹介ログイン後、キャンペーンページに遷移します。</li>
          <li class="c-Txt_Cap">※紹介ログイン後に店舗（楽天モバイルショップ）にてお申し込みをする方も対象となります。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【4】</span>Webか店舗（楽天モバイルショップ）で「Rakuten最強プラン」へお申込み「お申し込みはこちら」ボタンより「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
        <ol class="c-Cpn_List-ordered-lv2">
          <li>新規お申し込み</li>
          <li>他社からの乗り換え（MNP）でお申し込み</li>
          <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
        </ol>
        <ul class="c-Cpn_List-mark-1">
          <li class="c-Txt_Cap">「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
          <li class="c-Txt_Cap"> エントリー前のお申し込みはポイント付与の対象になりません。</li>
          <li class="c-Txt_Cap c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です。</li>
          <li class="c-Txt_Cap c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から 「Rakuten最強プラン」へプラン変更した場合は対象外です。</li>
        </ul>
        <p class="u-Adjust_Mb-8 u-Adjust_Mt-16">【WEBでのお申し込み時の注意事項】</p>
        <ul class="c-List_Text-disc">
          <li>キャンペーン特典の適用は、本ページの「お申し込みはこちら」ボタンからのお手続きが必要となります</li>
          <li>お手続き中に時間超過等でセッションが切れた場合、再度本ページの「お申し込みはこちら」ボタンよりお手続きが必要になります</li>
          <li>楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合は、キャンペーン特典の適用はございません。メンテナンスの終了後に改めてお申し込みください</li>
          <li>楽天モバイル(ドコモ回線・au回線)をお使いのお客様が、メンバーズステーションより、プラン変更（移行）した場合、キャンペーンの適用はございません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【5】</span>「Rakuten最強プラン」利用開始</p>
        <p class="u-Adjust_Mb-8 u-Adjust_Mt-8">【プラン利用開始日とは】</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>
            <p>新規お申し込みの場合<span class="c-Txt_Cap">※（1）（2）のいずれか早い方がプラン利用開始日となります</span></p>
            <ol class="c-Cpn_List-ordered-lv2">
              <li>当社に配送完了データが通知された日</li>
              <li>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</li>
            </ol>
          </li>
          <li class="u-Adjust_Mt-8">
            <p>他社から乗り換え（MNP）の場合</p>
            <p>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
          </li>
          <li class="u-Adjust_Mt-8">
            <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
            <p>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
          </li>
        </ul>
      </div>
    </dd>
  </div>

  <div>
    <dt>キャンペーン特典（楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ 特典内容</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">＜紹介する方（ご紹介者様）＞</p>
        <p>10,000ポイント</p>
        <ul class="c-Cpn_List-mark-1">
          <li class="c-Txt_Cap">紹介された方（被紹介者様）がキャンペーン条件を満たした場合、1名につき上記の10,000ポイントを進呈します。</li>
          <li class="c-Txt_Cap">紹介された方（被紹介者様）が「Rakuten最強プラン（データタイプ）」をお申し込みいただいた場合は特典適用対象外となります。</li>
          <li class="c-Txt_Cap">紹介する方（ご紹介者様）の特典の上限はありません。</li>
          <li class="c-Txt_Cap">1カ月に利用できるポイントは、ダイヤモンド会員の方は500,000ポイントまで、それ以外の会員の方は100,000ポイントまでとなります。</li>
        </ul>
        <p class="u-Adjust_Mt-8"> ポイントがご利用いただけないまま失効する事がありますので、あらかじめご了承ください</p>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">＜紹介された方（被紹介者様）＞</p>
          <p>10,000ポイント</p>
          <ul class="c-Cpn_List-mark-1">
            <li class="c-Txt_Cap">適用回線数は、おひとり様1回線までとなります</li>
            <li class="c-Txt_Cap">「Rakuten最強プラン（データタイプ）」をお申し込みいただいた場合は特典適用対象外となります</li>
            <li class="c-Txt_Cap">ご契約が1回線目でなくても本キャンペーンの適用が初めての場合は対象となります　例）2回線目の方、再契約する方</li>
          </ul>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
          ■ポイント付与日
        </p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">「Rakuten最強プラン」の利用開始が確認された月の4ヶ月後の末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li class="c-Txt_Cap">例）5月にすべての条件を達成した場合には、その4ヶ月後である9月末日ごろにポイント付与となります</li>
          <li class="c-Txt_Cap">楽天ポイントの付与は、楽天モバイルより行います</li>
          <li class="c-Txt_Cap">権利の譲渡はできません</li>
        </ul>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
          ■ポイント有効期間
        </p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
          ポイント付与日を含めて6カ月
        </p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※<a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</p>
      </div>
    </dd>
  </div>

  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <div class="u-Adjust_Mt-16">
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>紹介する方（ご紹介者様）と紹介された方（被紹介者様）が同一人物の場合</li>
          <li>紹介された方（被紹介者様）がRakuten最強プランをお申し込み後に紹介ログインした場合</li>
          <li>紹介された方（被紹介者様）が「Rakuten最強プラン」の利用開始がなかった場合</li>
          <li>「Rakuten最強プラン」の利用開始がされなかった場合<br>
            -プラン利用開始の手続き方法につきましては、こちらの<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/" target="_blank">SIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください
          </li>
          <li>紹介された方（被紹介者様）から契約者変更（譲渡・承継）を受けた場合</li>
          <li>紹介された方（被紹介者様）が、本ページの「お申し込みはこちら」ボタン以外からweb申し込みされた場合</li>
          <li>紹介された方（被紹介者様）が、本ページの「お申し込みはこちら」ボタンよりお手続き中に時間超過等でセッションが切れた場合</li>
          <li>紹介された方（被紹介者様）が、楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合</li>
          <li>紹介された方（被紹介者様）が楽天モバイル(ドコモ回線・au回線)をお使いのお客様で、メンバーズステーション経由でプラン変更（移行）した場合</li>
          <li class="c-Txt_Emp-02">紹介された方（被紹介者様）のログイン月と申込月が異なる場合</li>
          <ul class="c-Cpn_List-mark-2-normal">
            <li>ログイン月を確認したい場合は、日本郵政グループ従業員・ご家族様限定キャンペーン窓口▶︎050-5443-6493(営業時間9:00-17:00※定休日無し)までお問い合わせをお願いいたします。</li>
          </ul>
          <li>紹介された方（被紹介者様）が、回線お申し込みの翌月末日までに回線開通を行わなかった場合</li>
          <ul class="u-Adjust_Mt-8">
            <li class="c-Txt_Emp-02 c-Txt_Normal">紹介された方（被紹介者様）が本キャンペーン条件を満たす前、または満たした後に、以下のキャンペーンの条件を満たした場合には、以下のキャンペーンのみが優先的に適用となります</li>
          </ul>
          <ul class="c-Cpn_List-mark-2-normal u-Adjust_Mt-8 c-Txt_Cap c-Cpn_List-mark-1">
            <li>「【お得意様向け（福利厚生・スポンサー特典）】Rakuten最強プランのお申し込みで、20,000ポイントプレゼントキャンペーン」(キャンペーンコード:2258)</li>
            <li>Rakutenオリジナル製品 1円キャンペーン(キャンペーンコード:1875)</li>
            <li>【Android対象製品限定】特価キャンペーン(キャンペーンコード:2178)</li>
            <li>楽天モバイル公式楽天市場店対象Android製品とRakuten最強プランセットご注文で6,000円OFFクーポン(キャンペーンコード:1833)</li>
            <li>楽天モバイル公式楽天市場店対象Apple製品とRakuten最強プランセットご注文で6,000円OFFクーポン(キャンペーンコード:1834)</li>
          </ul>
        </ul>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
          ■法令制限による場合
        </p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>特典総額が景品表示法・電気通信事業法の範囲内に制限される場合</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li class="u-Adjust_Mt-8 c-Txt_Cap">紹介された方（被紹介者様）が「Rakuten最強プラン」お申し込みと同時にWi-Fiルーターをご購入する場合</li>
        </ul>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
          ■未納・未払い・キャンセル・退会による場合
        </p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>紹介する方（ご紹介者様）または紹介された方（被紹介者様）が当社の提供するサービス等の料金のお支払いを、お支払い期限までに行わず、未納・未払いが発生した場合</li>
          <li>ポイント進呈までに楽天会員から<span class="c-Txt_Cap u-Weight_Bold">退会</span>している場合</li>
          <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Cap u-Weight_Bold">申し込みキャンセル</span>となった場合</li>
        </ul>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
          ■弊社規定・判断基準による場合
        </p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>紹介する方（ご紹介者様）がメッセージ送信した際に利用した楽天IDと楽天モバイルにご登録の楽天IDが同一でない場合</li>
          <li>紹介された方（被紹介者様）が紹介ログインした楽天IDと楽天モバイルにご登録の楽天IDが同一でない場合</li>
          <li>当社または楽天グループ株式会社が定める規約等に違反した場合</li>
          <li>そのほか、<span class="c-Txt_Cap u-Weight_Bold">当社が会員として不適格である</span>と合理的に判断した場合</li>
          <li>不正利用であると運営側が判断した場合</li>
          <li class="c-Txt_Emp-02">紹介された方（被紹介者様）が「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd class="c-Txt_Emp-02">本キャンペーン条件を満たした場合、紹介された方は他のキャンペーンは併用不可となります。</dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から 「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        <li>権利の譲渡はできません</li>
        <li>楽天ポイントの進呈は、楽天モバイルより行います</li>
        <li>お申し込み後、利用の実態がないと判断できる場合等を含めて、不正と運営側が判断した場合には、ポイント進呈の対象外とさせて頂く場合があります</li>
        <li>不正の内容によっては、今後楽天ポイント進呈の停止をさせて頂く場合があります</li>
        <li>ポイント進呈後に不正と判断した場合には、当該ポイントの無効化、口座の凍結もしくは当該ポイント相当分を何らかの手段にてご請求等をする場合があります</li>
        <li>ポイントを進呈後はポイント口座の当該ポイントを利用停止する場合があります</li>
        <li>進呈ポイントを既に利用済みの場合、当該ポイント分の金額を楽天モバイルに登録している決済手段により引き落としする場合があります</li>
        <li>キャンペーンの対象者以外への転送等の不正利用、不正転売等の違反が見つかった場合、キャンペーンを終了する場合があります</li>
        <li>紹介する方（ご紹介者様）から紹介された方（被紹介者様）の個人情報（契約状況等）をお問い合わせいただいてもお答えできませんのでご了承ください</li>
        <li>記載の内容は<%= periodCut %>時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
