<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2179</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p>ポスト期間：2024年3月21日（木）09:00～2024年4月11日（木）8:59<br>
        第1週：2024年3月21日（木）09:00～2024年3月28日（木）8:59<br>
        第2週：2024年3月28日（木）09:00～2024年4月4日（木）8:59<br>
        第3週：2024年4月4日（木）09:00～2024年4月11日（木）8:59</p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方
      </p>
      <p>以下の条件をすべて満たした楽天会員様</p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>Xアカウントをお持ちの方</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>本キャンペーンにご応募いただくにはXのユーザー登録（無料）が必要です。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>キャンペーンへのエントリー</p>
        <p>エントリー期間内に本キャンペーンページでエントリー</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>楽天モバイル公式Xアカウント</p>
        <p>（[@Rakuten_Mobile]）をフォローされた方</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>対象期間中にフォローを外された場合、本キャンペーンの対象外となります。</li>
        </ul>
        <p class="c-Cpn_Title-lv1"><span>【4】</span>ご自身のXアカウントを公開状態にしている方</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>ご自身のアカウントが非公開の場合、または楽天モバイル公式Xアカウント（@Rakuten_Mobile）をフォローしていない場合は、応募とみなされません。</li>
        </ul>
        <p class="c-Cpn_Title-lv1"><span>【5】</span>対象期間中に引用ポストでクイズの正解をポストした方</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>ご応募は1週間ごとにお1人様1回限りとなります。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p>楽天ポイント1,000ポイント</p>
        <p>各週抽選で10名様</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p>キャンペーン条件</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>条件に当てはまった方には、6月末日ごろにポイント付与となります。</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p>ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
          <li>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>抽選、および賞品の発送時点でフォローを外したり、引用ポストを削除された場合、本キャンペーンの対象外となります。</li>
        <li>ポイント付与までに楽天会員から退会している場合</li>
        <li>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
        <li>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
        <li>賞品引き換えに関する権利は、本キャンペーン対象者のみに帰属し、第三者への譲渡および換金はできません。</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります。</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント付与の対象外となる場合がございます。</li>
        <li>楽天グループ社員およびキャンペーンの関係者による応募は禁止とします。</li>
        <li>楽天モバイルの契約有無は問いません。</li>
        <li>記載の内容は2024年3月21日（木）時点の情報となります。</li>
      </ul>
    </dd>
  </div>
</dl>