<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2227</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ エントリー期間</p>
        <p>2024年3月15日（金）9:00～2024年4月30日（火）23:59</p>
        <ul class="c-Cpn_List-mark-1">
          <li>楽天モバイルショップでのお申し込み前にエントリーが必要です。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プランのお申し込み期間</p>
        <p>店舗（楽天モバイルショップ）　2024年3月15日（金）開店～2024年4月30日（火）閉店</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プラン利用開始期限</p>
        <p>プランのお申し込みの翌月末日23:59まで</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【Ⅰ】、【Ⅱ】の条件をすべて満たした楽天会員の方<br>
        ※ 特典はおひとり様1回限り
      </p>
      <div class="u-Adjust_Mt-24">
        <p class="c-Cpn_Title-lv1 c-Txt_Emp-02"><span>【Ⅰ】</span>本キャンペーンにエントリー後、「Rakuten最強プラン」利用開始</p>
        <div class="u-Adjust_Mt-16">
          <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーンへのエントリー</p>
          <p class="u-Adjust_Mt-8">エントリー期間内に本キャンペーンページでエントリー</p>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Cpn_Title-lv1"><span>【2】</span>楽天モバイルショップにて、「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
          <ol class="c-Cpn_List-ordered-lv2">
            <li>新規お申し込み</li>
            <li>他社からの乗り換え（MNP）でお申し込み</li>
            <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
          </ol>
          <ul class="c-Cpn_List-mark-1">
            <li>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります</li>
            <li>エントリー前のお申し込みはポイント付与の対象になりません</li>
            <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
            <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Cpn_Title-lv1"><span>【3】</span>「Rakuten最強プラン」利用開始</p>
          <p class="u-Adjust_Mb-8 u-Adjust_Mt-8">【プラン利用開始日とは】</p>
          <ul class="c-Cpn_List-mark-2-normal">
            <li>
              <p>新規お申し込みの場合 ※（1）（2）のいずれか早い方がプラン利用開始日となります。</p>
              <ol class="c-Cpn_List-ordered-lv2">
                <li>当社に配送完了データが通知された日</li>
                <li>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</li>
              </ol>
            </li>
            <li class="u-Adjust_Mt-16">
              <p>他社から乗り換え（MNP）の場合</p>
              <p>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
            </li>
            <li class="u-Adjust_Mt-16">
              <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
              <p>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="u-Adjust_Mt-24">
        <p class="c-Cpn_Title-lv1 c-Txt_Emp-02"><span>【Ⅱ】</span>上記【Ⅰ】のプラン利用開始時点で、【Ⅰ】の回線を含め「Rakuten最強プラン」を2回線以上ご利用中である</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">3,000ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">「Rakuten最強プラン」のお申し込み月の、4カ月後末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li>例）3月にすべての条件を達成した場合には、その4か月後である7月末日ごろにポイント付与となります</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt" target="_blank" rel="noopener">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合 </li>
        <li>「【ショップ限定】もう1回線お申し込みで3,000ポイントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
        <li>楽天モバイルショップ以外で購入した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合
          <ul class="c-Cpn_List-mark-2 u-Adjust_Mt-0">
            <li>プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
          </ul>
        </li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
      <ul class="c-Cpn_List-mark-2">
        <li>「Rakuten最強プラン」＋対象のAndroid製品ご購入でポイント還元キャンペーン（2006）</li>
        <li>Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で割引キャンペーン（2169）</li>
        <li>Rakuten最強プランご契約とiPhone対象製品を買い替え超トクプログラム利用のご購入でポイントバックキャンペーン（2231）</li>
        <li>楽天モバイル販売パートナーご紹介特典（1098）</li>
        <li>【月刊ポピー会員限定】楽天モバイル契約で2,000ポイントプレゼント（2177）</li>
        <li>あなただけに特別なご案内！楽天モバイル新規契約で1,000ポイントプレゼントキャンペーン（2213）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンを適用した場合、本キャンペーンは<span class="c-Txt_Emp-02">併用不可</span>となります。</p>
      <ul class="c-Cpn_List-mark-2">
        <li>Rakutenオリジナル製品 1円キャンペーン（1875）</li>
        <li>【Android対象製品限定】特価キャンペーン（2178）</li>
        <li>【毎月開催】ただいまキャンペーン（2207）</li>
      </ul>
      <ul class="c-Cpn_List-mark-1">
        <li>そのほか、同一回線で楽天回線を初めてお申し込みを条件とするキャンペーンを適用した場合、本キャンペーンは併用不可となります。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        <li>記載の内容は2024年4月1日（月）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
