<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2267</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ エントリー期間</p>
        <ul>
          <li>2024年3月22日（金）9:00～2024年4月1日（月）23:59</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■ プラン利用開始期限</p>
        <p>2024年4月1日（月）23:59まで</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">【1】キャンペーンへのエントリー</p>
        <ul>
          <li>エントリー期間内に本キャンペーンページでエントリー<br>
            お好きな景品を1つ選んでエントリーしてください（※一部景品には応募条件がございます）
          </li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">【2】本キャンペーン終了時点（2024年4月1日（月）23:59）で「Rakuten最強プラン」または「Rakuten最強プラン（データタイプ）」プランご利用中の方</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ 特典内容</p>
        <p class="c-Txt_Emp-02">抽選で14組、最大40名様に以下の景品をプレゼント</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■対象試合日</p>
        <p class="c-Txt_Emp-01">2024年4月24日（水）18:00試合開始</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■共通注意事項</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li class="c-List_Text-disc">席位置の指定はできません。</li>
          <li class="c-List_Text-disc">対象試合日にご来場いただかなかった場合は無効となります。</li>
          <li class="c-List_Text-disc">観戦チケット引き換え後の観戦チケットの紛失・盗難に関して、再発行はいたしません。取り扱いには十分ご注意ください。</li>
          <li class="c-List_Text-disc">抽選結果の連絡は楽天モバイルに登録されているメールアドレス宛に、本キャンペーン事務局からメールが配信されます。メールが受信できるよう、ドメイン指定等のご設定をお願いします。</li>
          <li class="c-List_Text-disc">特典の獲得の権利について、第三者への譲渡はできません。</li>
          <li class="c-List_Text-disc">取得した個人情報は、楽天グループ株式会社が取扱い、抽選・当選案内または賞品の発送・諸連絡等、本キャンペーンの目的にのみ利用いたします。</li>
          <li class="c-List_Text-disc">雨天等でやむを得ず試合、もしくはイベント等が中止になる場合がございますのでご了承ください。</li>
          <li class="c-List_Text-disc">現地集合・解散です。</li>
          <li class="c-List_Text-disc">楽天モバイルパーク宮城までの往復交通費は当選者各自のご負担とさせていただきます。</li>
          <li class="c-List_Text-disc">当選は楽天モバイルに登録いただいているメールアドレス宛の当選メールをもってお知らせさせていただきます。</li>
          <li class="c-List_Text-disc">一部対象年齢が設定されている景品がございます。当選者の方へは年齢確認をさせていただく可能性がございますので、当日は年齢を確認できる書類をお持ちの上ご来場ください。</li>
          <li class="c-List_Text-disc">景品は当日の試合運営に関わるため、集合時間・集合場所が設定されています。必ず集合時間厳守でお越しいただくようお願いいたします。</li>
          <li class="c-List_Text-disc">詳細や注意事項は楽天モバイルに登録いただいているご連絡先に、事前にご連絡させていただきます。</li>
          <li class="c-List_Text-disc">当日の集合が確認できなかった場合、弊社にて権利を行使させていただきます。</li>
        </ul>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【A賞：始球式投球権】</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">＜応募条件＞</p>
        <p>2024年4月24日（水）時点で小学校4年生以上の方<br>
          試合開始30分前に集合場所（楽天モバイルパーク宮城内）へお越しいただける方</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※男女ともに高校生はご参加いただけません。</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">＜賞品＞</p>
        <p>始球式投球権 1名<br>
          同伴者1名様分を含む当日観戦チケット 2枚</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>ご自身のグローブをお持ち込みでご使用いただけます。また、球団でも大人左右用/キッズ右用をご用意いたしております。</li>
          <li>服装は基本自由ですが、過度な露出のある服装はご遠慮ください。</li>
          <li>サンダルやヒールなど、脱げやすいお履き物はご着用いただけません。また金具のスパイクもご着用いただけません。</li>
          <li>投球前に投球者の肩書とお名前がビジョン掲載及び読み上げがございます。</li>
          <li>試合運営に関わりますので、時間厳守でご集合ください。集合場所は当選のご連絡と共にお知らせいたします。</li>
        </ul>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【B賞：スターティングファミリー参加権】</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">＜応募条件＞</p>
        <p>2024年4月24日（水）時点で5歳～小学生のお子様と、その保護者様<br>
          試合開始45分前に集合場所（楽天モバイルパーク宮城内）へお越しいただける方</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">＜賞品＞</p>
        <p>スターティングファミリー参加権　　10組20名<br>
          イベント中に選手から直接、直筆サイン入りボールを手渡しいたします。<br>
          各親子2名1組の当日観戦チケット</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>服装は基本自由ですが、過度な露出のある服装はご遠慮ください。</li>
          <li>サンダルやヒールなど、脱げやすいお履き物はご着用いただけません。</li>
          <li>試合運営に関わりますので、時間厳守でご集合ください。全員がお揃いになりませんと実施できません。集合場所は当選のご連絡と共にお知らせいたします。</li>
          <li>車いす等補助が必要な場合は、事前にご相談ください。</li>
          <li>ポジションはお選びいただけません。</li>
          <li>同伴者の方などは、場内までお付き添いいただけません。</li>
        </ul>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【C賞：選手との記念撮影参加権】</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">＜応募条件＞</p>
        <p>2024年4月24日（水）時点で満3歳以上の方<br>
          試合開始30分前に集合場所（楽天モバイルパーク宮城内）へお越しいただける方</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">＜賞品＞</p>
        <p>球団オフィシャルカメラマンによる選手との記念撮影＋本人、同伴者様分の当日観戦チケット（1組最大6名様）</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>撮影を行う選手を指定することはできません。</li>
          <li>記念撮影は楽天イーグルスの選手のみです。ビジターチーム選手との撮影はございません。</li>
          <li>服装は基本自由ですが、過度な露出のある服装はご遠慮ください。サンダルやヒールなど、脱げやすいお履き物はご着用いただけません。</li>
          <li>ベビーカーでは参加いただけません。 また車イス等、補助が必要は場合は必ず事前にご相談ください。</li>
          <li>記念撮影を行うイベントの為、それ以外（サインや握手など）を求める行為はご遠慮ください。</li>
          <li>試合運営に関わりますので、時間厳守でご集合ください。集合場所は当選のご連絡と共にお知らせいたします。</li>
        </ul>

        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【D賞：コカ・コーラボックスシート観戦権】</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">＜応募条件＞</p>
        <p>2024年4月1日（月）23:59時点で最強家族プログラムをご利用中かつ、最強家族プログラムの同一グループより2名以上エントリーいただける方</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">＜賞品＞</p>
        <p>コカ・コーラボックスシート観戦権　2組12名様<br>
          1組あたり最大6名様分の当日観戦チケット</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>1グループより複数名のエントリーが確認できない場合には応募条件を満たさないものとし、抽選から除外します。</li>
          <li>抽選は最強家族プログラムのグループを1単位として実施します。</li>
        </ul>

      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <div class="u-Adjust_Mt-16">
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
          <li>「【4月24日開催】楽天モバイル最強DAY特別ご招待」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
          <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
          <li>「Rakuten最強プラン」の利用開始がされなかった場合<br>
            -プラン利用開始の手続き方法につきましては、こちらのSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
          <li>2024年4月1日（月）23:59時点で楽天モバイルを解約している場合</li>
         <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
          <li>そのほか、当社が<span class="c-Txt_Emp-01">会員として不適格である</span>と合理的に判断した場合</li>
          <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
          <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
          <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典進呈の対象外となる場合がございます</li>
          <li>記載の内容は2024年3月22日（金）時点の情報となります</li>
        </ul>
      </div>
    </dd>
  </div>
</dl>
