<%
const entryData = "2024年5月13日（月）9:00～2024年10月31日(木)23:59"
const periodCut = "2024年5月13日（月）"
_%>
<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2262</p>
      <ul class="c-Txt_Cap c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>

  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ エントリー期間</p>
        <ul>
          <li><%= entryData %></li>
        </ul>
      </div>
    </dd>
  </div>

  <div>
    <dt>対象者</dt>
    <dd>
      <p>お得意企業従業員様・ご家族様かつ、楽天モバイル「Rakuten最強プラン」のご契約者様</p>
    </dd>
  </div>

  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーンへのエントリー</p>
        <p class="c-Txt_Normal">エントリー期間内に本キャンペーンページでエントリー</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>キャンペーンページ内エントリーボタンよりご契約者様の楽天IDを入力しアンケートフォームに入り、アンケートに回答したらエントリー完了</li>
          <li>エントリ―にはご契約者様の楽天IDが必要です</li>
          <li>ご自身とご家族がそれぞれご契約する場合は、楽天IDが異なれば、同じ社員番号で複数アンケート回答いただいた場合でもキャンペーン適用対象になります</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>本キャンペーンにエントリー後、キャンペーン期間内に「Rakuten最強プラン」のご利用を開始していること</p>
        <ul class="c-Txt_Normal c-Txt_Cap">
          <li>※エントリー及び開通が確認された月より、特典が適用されます</li>
          <li>※例)10月にエントリーした場合、10月末時点での「Rakuten最強プラン」のご利用が確認されない場合は対象外となります</li>
          <li>※特典の対象は、おひとり様1回線のみとなります</li>
          <li>※本キャンペーンにエントリー後、楽天モバイルを解約して再契約いただいた場合、再エントリーは不要となります。その場合の起算は開通月からとなります</li>
        </ul>
      </div>
    </dd>
  </div>

  <div>
    <dt>キャンペーン特典（楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">
          ■ 特典内容
        </p>
        <p>500ポイントプレゼント</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
          ■ポイント付与日
        </p>
        <p class="u-Adjust_Mt-8">キャンペーン期間中にエントリー及び「Rakuten最強プラン」のご利用が確認された場合、6ヶ月後の末日ごろから毎月付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li class="c-Txt_Cap">例）8月にエントリーし、その翌月の9月に「Rakuten最強プラン」のご利用を確認できた場合、その6ヶ月後である3月末日ごろより毎月ポイント付与となります</li>
          <li class="c-Txt_Cap c-Txt_Emp-02">ポイント付与期間は、2025年10月31日（金）までとなります</li>
          <li class="c-Txt_Cap">最大ポイント付与数は500×12ヶ月(5月にエントリー及び「Rakuten最強プラン」のご利用が確認された場合、6ヶ月後である11月より、ポイント付与期間の2025年10月31日まで)の6,000ポイントとなります</li>
          <li class="c-Txt_Cap">楽天ポイントの付与は、楽天モバイルより行います</li>
          <li class="c-Txt_Cap">権利の譲渡はできません</li>
        </ul>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
          ■ポイント有効期間
        </p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
          ポイント付与日を含めて6カ月
        </p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※<a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</p>
      </div>
    </dd>
  </div>

  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <div class="u-Adjust_Mt-16">
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li> 当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
          <li>「【お得意様向け（福利厚生・スポンサー特典）】楽天モバイルご契約者様なら毎月500ポイントバックキャンペーンキャンペーン」の適用回数が、おひとり様月1回を超える場合は対象外となります</li>
          <li> ポイント付与までに楽天会員から<span class="c-Txt_Cap" style="font-weight: bold;">退会</span>している場合</li>
          <li> 当社または楽天グループ株式会社が定める<span class="c-Txt_Cap" style="font-weight: bold;">規約などに違反</span>した場合</li>
          <li> そのほか、当社が会員として不適格であると合理的に判断した場合</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li> 本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li> 本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li> 本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li> 記載の内容は<%= periodCut %>時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
