<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2124</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ キャンペーン期間</p>
      <p>
        2024年2月1日（木）開店～2024年2月29日（木）閉店
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>楽天モバイルショップへ来店</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>QRコードの読み取りとキャンペーンへのエントリー</p>
        <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-8 c-Txt_Cap">
          <li>QRコードはお客様のスマートフォンやタブレット等で読み取っていただきます。</li>
          <li>楽天会員ログインが必要です。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>店舗コードの入力</p>
        <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-8 c-Txt_Cap">
          <li>入力するコードは店舗スタッフにご確認ください。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">参加者全員で100万ポイント山分け</p>
        <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-8 c-Txt_Cap">
          <li>おひとり様あたりのポイント上限は100ポイントとなります</li>
        </ul>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-8">■ ポイント付与日</p>
        <p class="u-Adjust_Mt-8 c-Txt_Emp-01">
          2024年3月末日ごろに付与
        </p>
        <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-8 c-Txt_Cap">
          <li>楽天ポイントの付与は、<span class="c-Txt_Emp-02">楽天グループ株式会社</span>より行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-8">■ ポイント有効期間</p>
        <p class="u-Adjust_Mt-8 c-Txt_Emp-01">
          ポイント付与日を含めて<span class="c-Txt_Emp-02">6カ月</span>
        </p>
        <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-8 c-Txt_Cap">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>個人情報の利用目的</dt>
    <dd>
      <div>
        <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-8 c-Txt_Cap">
          <li>
            お申し込み情報は楽天グループ株式会社により取得され、ポイント進呈、および楽天の個人情報保護方針に則って利用されます。<br>
            楽天グループ株式会社の個人情報保護方針に同意の上、お申し込みください。<br>
            <a href="https://privacy.rakuten.co.jp/" class="c-Link_Txt">楽天グループ株式会社の個人情報保護方針はこちら</a><br>
          </li>
          <li>
            アンケートでご入力いただいた情報は、楽天モバイル株式会社によって取得され、楽天モバイル株式会社の個人情報保護方針に規定する目的で利用されます。<br>
            <a href="https://corp.mobile.rakuten.co.jp/guide/privacy/policy/" class="c-Link_Txt">楽天モバイル株式会社の個人情報保護方針はこちら</a>
          </li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>特典はおひとり様、月毎に1回限り有効です（2回以上の利用不可）。</li>
        <li>ご参加には、事前に楽天への会員登録（無料）が必要です。</li>
        <li>付与ポイントが1ポイントを下回ってしまうため、先着100万名様に到達次第終了とさせていただきます。</li>
        <li>楽天モバイルリモートショップ郵便局店は対象外です。</li>
        <li>店舗スタッフからの案内や説明を受けられなかった方は、ポイント進呈の対象外となります。</li>
        <li>ポイントはQRコードの読み取り後にログインした楽天会員IDに進呈いたします。</li>
        <li>進呈されるポイントの有効期限は、ポイント進呈日を含めて6カ月です。</li>
        <li>
          以下の条件に当てはまる場合は、ポイント進呈の対象外となります。<br>
          ・何らかの理由により指定のお申込みステップを完了されなった場合<br>
          ・同一会員とおぼしき複数回のご参加が確認された場合<br>
          ・ポイント進呈までに楽天会員から退会している場合<br>
          ・当社または楽天グループ株式会社が定める規約などに違反した場合<br>
          ・そのほか、当社が会員として不適格であると判断した場合
        </li>
        <li>ご登録されている楽天会員情報に虚偽や誤りがあった場合は、ポイント進呈の対象外となる場合があります。</li>
        <li>ポイント進呈時、お電話等でのポイント進呈報告はいたしません。あらかじめご了承ください。</li>
        <li>メンテナンス等の理由により、ご参加いただけない場合がございます。あらかじめご了承ください。</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合がございます。</li>
        <li>不正行為、その他運営上の趣旨に反していると弊社が判断した場合はポイント進呈の対象外とし、本キャンペーン参加資格の剥奪、アカウントの停止などの対応をさせていただきます。</li>
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>記載の内容は2024年2月1日（木）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
