<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1373</p>
    </dd>
  </div>
  <div>
    <dt>エントリー期間</dt>
    <dd>
      <p>
        2024年3月1日（金）09:00～2024年4月1日（月）08:59
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p>
        楽天ポイントカードご利用期間／楽天ペイ・楽天Edyお支払い期間<br>
        2024年3月1日（金）09:00～2024年4月1日（月）08:59
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p>
        以下の条件を満たした楽天会員の方が対象となります。
      </p>
      <div class="u-Adjust_Mt-16">
        <p>1.エントリー期間中に当キャンペーンページよりエントリーが完了された方</p>
        <p>2.以下のいずれかを達成した方</p>
        <p class="u-Adjust_Ml-24">A.キャンペーン期間中に楽天ポイントカードを提示して5ポイント以上獲得された方のうち、<a href="https://pointcard.rakuten.co.jp/register/" class="c-Link_Txt-inline" target="_blank">楽天ポイントカードの利用登録<span class="c-Icon_New-window-l"></span></a>がお済みの方（お済みでない方は、キャンペーン終了日までに楽天ポイントカードの利用登録を完了してください）<br>
          B.キャンペーン期間中に対象店舗にて楽天ペイ（コード／QR／セルフ払い）で500円（税込）以上お支払いをされた方<br>
          C.キャンペーン期間中に対象店舗にて対象の楽天Edyで500円（税込）以上お支払いをされた方</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>キャンペーンにエントリーをした楽天ID、楽天ポイントカードを提示した楽天ID、支払いに利用した楽天のお支払いサービスの楽天IDが異なる場合は、当キャンペーンの対象外となります。</li>
          <li>エントリー、楽天ポイントカードを提示してのお買い物、または楽天ペイアプリ・楽天Edyでのお支払い、利用登録の順序は問いません。</li>
          <li>Edyでの支払いの場合、楽天ポイントを貯める設定をされた方が対象です。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典（楽天ポイント）</dt>
    <dd>
      <div>
        <p>
          エントリー期間中に、当キャンペーンにエントリーのうえ、キャンペーン期間中に、『楽天ポイントカードを提示しての5ポイント以上の獲得』または『楽天のお支払いサービス（楽天ペイアプリ・楽天Edy）のいずれか1つで500円（税込）以上のお支払い』をされた方の中から抽選で100名様に、10,000ポイントを進呈いたします。
        </p>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典ポイント進呈</dt>
    <dd>
      <p>[3月開催] 2024年6月30日（日）頃までに2024年7月31日（水）までご利用いただける期間限定ポイントで進呈いたします。</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>特典ポイントは楽天ペイメントより進呈いたします。</li>
        <li>獲得された特典ポイントは、<a href="https://point.rakuten.co.jp/history/" class="c-Link_Txt-inline" target="_blank">ポイント実績<span class="c-Icon_New-window-l"></span></a>よりご確認ください。</li>
        <li>期間限定ポイントの詳細は<a href="https://r10.to/hvoTD0" class="c-Link_Txt-inline" target="_blank">こちら<span class="c-Icon_New-window-l"></span></a>でご確認ください。</li>
        <li>特典ポイントをご利用いただける期間が短いのでご注意ください。</li>
        <li>登録されている楽天IDが複数ある場合、いずれか1つの楽天IDにポイント進呈いたします。</li>
        <li>当選者の発表は特典ポイントの進呈をもってかえさせていただきます。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン対象サービス</dt>
    <dd>
      <p>【楽天ポイントカード】</p>
      <p>楽天ポイントカード（楽天ポイントカードアプリまたは楽天ポイントカード機能が搭載されたアプリを含む）、Edy-楽天ポイントカード、楽天ポイントカード機能付き楽天カード、楽天ペイアプリの楽天ポイントカード機能</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap u-Adjust_Mt-16">
        <li>アプリにログインしていない状態でバーコードを提示された方はキャンペーン終了までにログインを行ってください。</li>
      </ul>
      <p class="u-Adjust_Mt-16">【楽天ペイアプリ】</p>
      <p>楽天ペイアプリのコード、QR、セルフ払い</p>
      <p>【楽天Edy】</p>
      <p>楽天ポイントが貯まる設定がされている楽天Edy</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap u-Adjust_Mt-16">
        <li>設定状況のご確認は<a href="https://edy.rakuten.co.jp/my/login/rspedy" class="c-Link_Txt-inline" target="_blank">こちら<span class="c-Icon_New-window-l"></span></a>からご確認ください。</li>
        <li>ログイン後、お持ちのEdyカードが表示されていれば、ポイントの設定は完了しています。</li>
        <li>楽天Edyの種類によって設定方法が異なりますので、楽天ポイントを貯める設定がされていない場合は以下より設定方法をご確認のうえ、設定を行ってください。</li>
      </ul>
      <p class="u-Adjust_Ml-24 u-Adjust_Mt-16"><a href="https://edy.rakuten.co.jp/howto/osaifukeitai/point/?scid=we_grp_campaign_linkage_edytype_osaifukeitai_pc" class="c-Link_Txt-inline" target="_blank">おサイフケータイの方<span class="c-Icon_New-window-l"></span></a></p>
      <p class="u-Adjust_Ml-24"><a href="https://edy.rakuten.co.jp/card/edydeptop/rakuten/select?scid=we_grp_campaign_linkage_edytype_edycard_pc" class="c-Link_Txt-inline" target="_blank">カード、グッズの方<span class="c-Icon_New-window-l"></span></a></p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap u-Adjust_Mt-16">
        <li>Edy機能付き楽天カードはすでに設定されているため、別途設定の必要はありません。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>対象店舗</dt>
    <dd>
      <p>【楽天ポイントカード】</p>
      <p>ファミリーマート、ファミマ!!、TOMONY を除く、楽天ポイントカードの提示でポイントを獲得できる全店舗</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>一部ポイント進呈対象外の店舗・商品・サービス・決済方法・申し込み方法等がございます。詳しくは、<a href="https://pointcard.rakuten.co.jp/partner/" class="c-Link_Txt-inline" target="_blank">こちら<span class="c-Icon_New-window-l"></span></a>から各お店の詳細ページよりご確認いただくか、店頭もしくは楽天ポイントカードお客様サポートセンターへお問い合わせください。</li>
      </ul>
      <p class="u-Adjust_Mt-16">【楽天ペイアプリ】</p>
      <p>ファミリーマート、ファミマ!!、TOMONY を除く、楽天ペイアプリでコード表示・QR読み取り・セルフでのお支払いが利用できる店舗</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>楽天ペイアプリでのお支払いについては、一部店舗でのご利用分はポイント進呈対象外となります。詳しくは必ず<a href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/rule/shop/" class="c-Link_Txt-inline" target="_blank">こちら<span class="c-Icon_New-window-l"></span></a>からご確認ください。</li>
      </ul>
      <p class="u-Adjust_Mt-16">【楽天Edy】</p>
      <p>ファミリーマート、ファミマ!!、TOMONY を除く、楽天Edyの使える全店舗</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>楽天Edyが使える店舗は<a href="https://edy.rakuten.co.jp/search/merchant/" class="c-Link_Txt-inline" target="_blank">こちら<span class="c-Icon_New-window-l"></span></a></li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>楽天ポイントカードのご利用に関する注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>お会計の際に提示された楽天ポイントカードの登録を削除された方、もしくは楽天会員を退会された方は対象外となります。</li>
        <li>一部ポイント進呈対象外の店舗・商品・サービス・決済方法・申し込み方法等がございます。詳しくは、<a href="https://pointcard.rakuten.co.jp/partner/" class="c-Link_Txt-inline" target="_blank">こちら<span class="c-Icon_New-window-l"></span></a>から各お店の詳細ページよりご確認いただくか、店頭もしくは楽天ポイントカードお客様サポートセンターへお問い合わせください。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>楽天ペイアプリでのお支払いに関する注意事項</dt>
    <dd>
      <p>【キャンペーン対象となるご利用】</p>
      <p>当キャンペーンは楽天ペイアプリによるコード、QR、セルフでのお支払いを対象としています。</p>
      <p class="u-Adjust_Mt-16">【キャンペーン対象外のご利用】</p>
      <p>以下のお支払い分は対象外となります。</p>
      <p class="u-Adjust_Mt-16">・楽天ペイ（請求書払い）によるお支払い分<br>
        ・楽天ペイアプリ内の楽天ポイントカードによるお支払い分<br>
        ・楽天ペイアプリ内の楽天Edyへのチャージ分、楽天Edyによるお支払い分<br>
        ・楽天ペイアプリ内の楽天カードタッチ決済によるお支払い分<br>
        ・楽天ペイアプリ内のSuicaへのチャージ分、Suicaによるお支払い分<br>
        ・ネットでの楽天ペイのお支払い分</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>楽天ペイアプリでのお支払いをキャンセルされた場合、キャンセル分の金額はキャンペーン対象外となります。</li>
        <li>楽天ペイアプリの対応機種は<a href="https://support.pay.rakuten.net/faq/show/1152?site_domain=appuser" class="c-Link_Txt-inline" target="_blank">こちら<span class="c-Icon_New-window-l"></span></a>からご確認いただけます。</li>
        <li>楽天ペイアプリに設定可能なカードは、すべての楽天カード、およびその他のVisa、Mastercardとなります。前述以外のカードは、<a href="https://my.rakuten.co.jp/" class="c-Link_Txt-inline" target="_blank">楽天会員情報<span class="c-Icon_New-window-l"></span></a>に登録されていても、楽天ペイアプリのお支払い元の選択画面には表示されません。</li>
        <li>楽天カード以外のJCB、American Expressのカードをお支払い元に設定した場合、一部の店舗でお支払いいただけません。</li>
        <li>お支払いの設定に楽天カードを設定してお支払いの場合、通常進呈いたします[楽天カードご利用通常ポイント分のポイント1％]とは別に本特典を進呈いたします。</li>
        <li>楽天ペイアプリでのお支払いについては、一部店舗でのご利用分はポイント進呈対象外となります。詳しくは必ず<a href="https://pay.rakuten.co.jp/campaign/2020/pointprogram/rule/shop/" class="c-Link_Txt-inline" target="_blank">こちら<span class="c-Icon_New-window-l"></span></a>からご確認ください。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>楽天Edyでのお支払いに関する注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>特典進呈までに楽天ポイントを貯める設定を解除または楽天会員を退会した場合、特典進呈の対象外となります。</li>
        <li>特典進呈の時点で携帯電話の機種変更や楽天Edyアプリの再発行等の理由により当キャンペーン参加に利用された楽天EdyのEdy番号が変更になっていた場合は特典進呈対象外となります。</li>
        <li>楽天Edyのお支払いにはEdyの受け取り（Edyギフト）は含みませんので、ご注意ください。</li>
        <li>エントリーと楽天Edyのお支払いの順序は問いません。</li>
        <li>本キャンペーン期間中に楽天Edyのお支払いが完了している必要がありますので、ご注意ください。</li>
        <li>楽天Edyのご利用のキャンセル等により、特典進呈対象外となる場合がございます。</li>
        <li>楽天Edyから楽天キャッシュへのチャージは対象外となります。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>事前に告知のうえ特典内容を変更する可能性がございます。</li>
        <li>楽天会員でない方は、エントリーと同時に楽天会員登録（無料）が必要です。</li>
        <li>楽天グループの役職員および関係者は応募できません。</li>
        <li>同一の方が複数回エントリーされていると判断した場合や、弊社が不正と合理的に判断した場合は、特典ポイント進呈の対象外となる場合がございます。</li>
        <li>メンテナンス等でキャンペーンにご参加いただけない場合がございます。</li>
        <li>当キャンペーン参加にかかる費用（通信費等含む）は、お客様のご負担となりますので、あらかじめご了承ください。</li>
        <li>当ページをアプリでご覧の際、一部のリンク先が表示されない場合があります。大変お手数ですが、推奨環境にてご覧ください。</li>
        <li>当キャンペーンのポイント進呈対象者は、同時期に行われている他のキャンペーンの対象から除外、または景品総額が景品表示法上の範囲内に制限される場合がございます。</li>
        <li>当キャンペーンは、楽天ペイメント株式会社・楽天Edy株式会社が主催しております。天災地変や大規模システム障害などの影響により、実施または継続が困難と弊社が判断した場合、予告なく中止する場合がございます。</li>
      </ul>
    </dd>
  </div>
</dl>