<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2215</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ スマホ料金をチェックする期間</p>
        <p>2024年2月1日（木）0:00～終了日未定</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        期間内に条件を満たした楽天会員の方
      </p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">
        本ページよりキャンペーン期間中に料金シミュレーションの結果をご確認
      </p>
      <div class="u-Adjust_Mt-8">
        <ul class="c-Cpn_List-mark-1">
          <li>料金シミュレーションの結果を確認するには楽天会員ログインが必要です。「シミュレーション結果を見る」をタップすると、自動でログイン画面に遷移します。</li>
          <li>「Rakuten最強プラン」にご契約中の場合は対象外。</li>
          <li>特典は、おひとり様1度のみ。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p>100ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p>条件達成月の翌々月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li>条件達成後、ポイントの進呈まで期間があります。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p>ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li>期間限定ポイントについて（<a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt">https://ichiba.faq.rakuten.net/detail/000006532</a>）</li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本ページの「シミュレーション結果を見る」ボタン以外からシミュレーションされた場合。</li>
        <li>「Rakuten最強プラン」にご契約中の場合。</li>
        <li>特典は、おひとり様1度のみ（2024年2月1日以降に本キャンペーンの特典が適用されていた場合）。</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合。</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合。</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
        <li>記載の内容は2024年2月1日（木）時点の情報となります。</li>
      </ul>
    </dd>
  </div>
</dl>
