<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2252</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">■ 投稿期間</span><br>
        2024年3月6日（水）10:00～2024年3月20日（水）09:59
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p>
        上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>楽天モバイル公式X（旧Twitter）アカウント（@Rakuten_Mobile）をフォロー</p>
        <p>投稿期間中に楽天モバイル公式Xをフォロー</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>①〜③の内容を記載して、ご自身のXに投稿</p>
        <p>①料金チェックの結果のスクリーンショットをXに貼り付け</p>
        <p>②以下の案内文とURLをXの本文に記載<br>
          スマホ料金をチェックで100ポイント! → https://r10.to/hUapQT</p>
        <p>③ハッシュタグ「#楽天モバイル料金チェック」をつける</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p>抽選で20名様に10,000ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 当選連絡時期</p>
        <p>2024年4月末日ごろ</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>当選者には楽天モバイルX公式アカウントよりダイレクトメッセージ（DM）にて、2024年4月末日頃にご連絡をいたします</li>
          <li>権利の譲渡はできません（当選者DMの転送を行った場合、当選は無効となります）</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント獲得期間</p>
        <p>2024年5月31日（金）23:59</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p>ポイント獲得日を含めて3カ月</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
          <li>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>アカウントが<span class="c-Txt_Emp-01">非公開</span>の場合</li>
        <li>アカウントにDM送付ができない場合</li>
        <li>当選者のXアカウントにお送りするDM内のリンクから、ポイント獲得期限（2024年5月31日（金）23:59）までにポイントを獲得されない場合</li>
        <li>ポイント獲得期限までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>投稿はお1人様につき1回のみ。複数投稿の場合、当選は無効になります</li>
        <li>2024年4月30日時点で楽天モバイルX公式アカウント（@Rakuten_Mobile）のフォローをしていない方は対象外となります</li>
        <li>当選連絡のために取得した個人情報は、本キャンペーンにおける楽天ポイント進呈のために用いるものとし、キャンペーン終了後に破棄いたします。また、個人情報の取り扱いに当たっては、当社の個人情報保護方針に従います</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li>楽天モバイルの契約有無は問いません</li>
        <li>記載の内容は2024年3月6日（水）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>