<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2169</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p class="c-Txt_Emp-01">■ プランのお申し込み期間</p>
      <ul class="c-Cpn_List-mark-2-normal u-Adjust_Mt-8">
        <li>Web　2024年1月17日（水）09:00～終了日未定</li>
        <li>店舗（楽天モバイルショップ）　2024年1月17日（水）開店～終了日未定</li>
      </ul>
      <p class="c-Txt_Emp-01">■ 製品のご購入期間</p>
      <ul class="c-Cpn_List-mark-2-normal u-Adjust_Mt-8">
        <li>Web　2024年1月17日（水）09:00～終了日未定</li>
        <li>店舗（楽天モバイルショップ）　2024年1月17日（水）開店～終了日未定</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span> 「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
        <ul class="c-Cpn_List-ordered-lv2">
          <li>新規お申し込み</li>
          <li>他社からの乗り換え（MNP）でお申し込み</li>
          <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から 「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」お申し込みと同時に対象製品を一括払いもしくは24回払いでご購入</p>
        <p class="u-Adjust_Mt-8">対象製品</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>iPhone 15 Pro Max</li>
          <li>iPhone 15 Pro</li>
          <li>iPhone 15 Plus</li>
          <li>iPhone 15</li>
          <li>iPhone 14 Plus</li>
          <li>iPhone 14</li>
          <li>iPhone 13</li>
          <li>iPhone SE（第3世代）</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>
            2024年2月21日より対象製品をiPhone 14 128GBからiPhone 15 Pro
            Max、iPhone 15 Pro、iPhone 15 Plus、iPhone 15、iPhone 14
            Plus、iPhone 14、iPhone 13に変更しました。
          </li>
          <li>
            2024年3月27日より対象製品にiPhone SE（第3世代）を追加しました。
          </li>
          <li>
            「楽天モバイル買い替え超トクプログラム」利用でのご購入は対象外となります。
          </li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>「Rakuten最強プラン」利用開始</p>
        <p id="campaign-rule-plan">【プラン利用開始日とは】</p>
        <ul class="c-Cpn_List-mark-2-normal u-Adjust_Mt-8">
          <li>新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります
            <ul class="c-Cpn_List-ordered-lv2">
              <li>当社に配送完了データが通知された日</li>
              <li>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</li>
            </ul>
          </li>
          <li>他社から乗り換え（MNP）の場合<br>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</li>
          <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">20,000円割引（税込）</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>iPhone 15 Pro Max</li>
          <li>iPhone 15 Pro</li>
          <li>iPhone 15 Plus</li>
          <li>iPhone 15</li>
          <li>iPhone 14 Plus</li>
          <li>iPhone 14</li>
          <li>iPhone 13</li>
        </ul>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">10,000円割引（税込）</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>
            iPhone SE（第3世代）<br>
            <span class="c-Txt_Cap u-Adjust_Mt-8">※iPhone SE（第3世代）64GBについては、2024年3月27日からの楽天モバイルの販売価格からの値引です。</span>
          </li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>
            当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合
        </li>
        <li>
          楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合
        </li>
        <li>
          ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合
        </li>
        <li>
          「Rakuten最強プラン」の利用開始がされなかった場合
          <ul class="c-Cpn_List-mark-2-normal">
            <li>
              プラン利用開始の手続き方法につきましては、こちらのSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください
            </li>
          </ul>
        </li>
        <li>
          当社または楽天グループ株式会社が定める規約などに違反した場合
        </li>
        <li class="c-Txt_Emp-02">
          「Rakuten最強プラン（データタイプ）」をお申し込みした場合
        </li>
        <li>
          そのほか、当社が会員として不適格であると合理的に判断した場合
        </li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。</p>
      <ul class="c-Cpn_List-mark-2-normal c-Txt_Cap">
        <li>
          【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）
        </li>
        <li>
          iPhone 対象端末ポイントバックキャンペーン（キャンペーンコード：1819）
        </li>
        <li>
          【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼント（キャンペーンコード：2091）
        </li>
        <li>
          【Rakuten最強プランはじめてお申し込み特典】新規ご契約・プラン変更（移行）で2,000ポイントプレゼントキャンペーン（キャンペーンコード：2142）
        </li>
        <li>
          【ショップ限定】Rakuten最強プランをもう1回線お申し込みで3,000ポイント（キャンペーンコード：2227）
        </li>
      </ul>
      <ul class="c-Cpn_List-mark-1">
        <li>
          【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）適用の場合、【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼント（キャンペーンコード：2091）、【Rakuten最強プランはじめてお申し込み特典】新規ご契約・プラン変更（移行）で2,000ポイントプレゼントキャンペーン（キャンペーンコード：2142）は適用されません。
        </li>
        </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります</p>
      <ul class="c-Cpn_List-mark-2-normal c-Txt_Cap">
        <li>
          Rakutenオリジナル製品 1円キャンペーン（キャンペーンコード：1875）
        </li>
        <li>
          【Android対象製品限定】特価キャンペーン（キャンペーンコード：2178）
        </li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>
          本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください
        </li>
        <li>
          本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります
        </li>
        <li>
          製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります
        </li>
        <li>
          本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります
        </li>
        <li class="c-Txt_Emp-02">
          「Rakuten最強プラン（データタイプ）」は対象外です
        </li>
        <li class="c-Txt_Emp-02">
          「Rakuten最強プラン（データタイプ）」から
          「Rakuten最強プラン」へプラン変更した場合は対象外です
        </li>
        <li>記載の内容は2024年3月27日（水）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
