<p class="u-Adjust_Mt-24">
  各対処方法を行っても改善できない場合、スマートフォン本体が故障している可能性があります。<a href="<%= sitepath %>guide/inquiry/" class="c-Link_Txt">製品メーカーへお問い合わせ</a>ください。<br>
  <br>
  製品保証のオプションサービスに加入している場合、修理・交換を受けることができます。詳細は「<a href="<%= sitepath %>faq/detail/00001105/" class="c-Link_Txt">製品の初期不良・修理・故障時のお手続きや問い合わせ先が知りたい</a>」ページをご確認ください。
</p>
