<h2 class="c-Heading_Lv2">対処方法をお試しください。</h2>
<p class="u-Adjust_Mt-24">
  以下対処方法を上から順に行っていただくことで、問題が改善できる場合があります。
</p>
<p class="u-Adjust_Mt-16 c-Txt_Cap">
<span class="c-Txt_Emp-01">
【注意事項】
</span><br>
※対処方法はAQUOS sense4 liteの操作方法を基準にご案内しています。製品やソフトウェアのバージョンによって手順や表記が異なる場合がありますので、詳細はご利用している製品の取扱説明書をご確認ください。<br>
<br>
※再起動やアプリの初期化、アンインストールなど、保存データに影響する可能性がある対処方法を行う際は、あらかじめデータのバックアップなどをとってから実施してください。<br>
各解決方法の実施により生じる直接的および間接的損害について、一切の責任を負いかねます。あらかじめご了承ください。<br>
</p>
