<% const pagetitle = "Galaxy S23" -%>
<%-
 include('/_header', {
    pagetitle,
    description: "Galaxy S23（サムスン）の価格・特徴・スペックの確認と購入はこちら。最大12,000ポイント還元※も！オンライン簡単手続きが便利！※初めて申込等条件あり",
    noindex: true,
    pathname: filepath,
    redirect: {url: 'product/smartphone/galaxy-s23/'},
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
