<% const pagetitle = "Rakuten Linkで電話をかける" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '電話・メッセージ・SMSがこれひとつ。楽天モバイルの便利なダイヤルアプリ「Rakuten Link（リンク）」で電話をかける方法をご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<meta http-equiv="refresh" content="0;URL=https://service.link.link/guide/call/voicecall_number.html">
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
