  <div class="g-hikari-Footer_Nav">
    <ul>
      <li><a href="https://corp.mobile.rakuten.co.jp/" data-lid_parts="footer" target="_blank" rel="noopener" class="c-Link_Txt-inline">会社概要<span class="c-Link_Txt-inline-icon c-Icon_New-window-l"></span></a></li>
      <li><a href="https://corp.mobile.rakuten.co.jp/guide/privacy/" data-lid_parts="footer" target="_blank" rel="noopener" class="c-Link_Txt-inline">個人情報の取扱いについて<span class="c-Link_Txt-inline-icon c-Icon_New-window-l"></span></a></li>
      <li><a href="https://corp.mobile.rakuten.co.jp/guide/security/" data-lid_parts="footer" target="_blank" rel="noopener" class="c-Link_Txt-inline">情報セキュリティポリシー<span class="c-Link_Txt-inline-icon c-Icon_New-window-l"></span></a></li>
      <li><a href="https://corp.mobile.rakuten.co.jp/guide/trademark/" data-lid_parts="footer" target="_blank" rel="noopener" class="c-Link_Txt-inline">商標・登録商標について<span class="c-Link_Txt-inline-icon c-Icon_New-window-l"></span></a></li>
      <li><a href="<%= sitepath %>hikari/terms/" data-lid_parts="footer">利用規約・重要事項説明書</a></li>
    </ul>
    <small class="g-hikari-Footer_Copyright">&copy; Rakuten Mobile, Inc.</small>
  </div>

  <div class="g-Footer_Rgroup">
    <% if (typeof page != 'undefined') { %>
    <% if (page == 'top') { %>
      <%# バナー復活時はこの行と閉じタグを削除　と`<###%= sitepath %###>`の###を削除
      <div class="g-Footer_Rgroup-bnr">
        <ul class="c-Banner_List js-Banner">
          <li class="c-Banner_List-item">
            <a href="https://corp.rakuten.co.jp/donation/covid19_ja/covid19_ja.html" data-lid_parts="footer"><img src="<###%= sitepath %###>assets/img/common/bnr_covid480x270.png" width="240" height="135" alt="新型コロナウイルス感染症対策支援募金"></a>
          </li>
        </ul>
        <div class="c-Banner_Nav"></div>
      </div>
      %>
    <% } %>
    <% } else { %>
      <%# バナー復活時はこの行と閉じタグを削除　と`<###%=sitepath %###>`の###を削除
      <div class="u-Adjust_Mb-16 u-Adjust_Mt-16">
        <a href="###" data-lid_parts="footer" target="_blank" rel="noopener noreferrer"></a>
      </div>
      %>
    <% } %>

    <ul class="g-Footer_Rgroup-link">
      <li>楽天グループ</li>
      <li><a href="https://www.rakuten.co.jp/sitemap/" data-lid_parts="footer">サービス一覧</a></li>
      <li><a href="https://www.rakuten.co.jp/sitemap/inquiry.html" data-lid_parts="footer">お問い合わせ一覧</a></li>
      <li><a href="https://corp.rakuten.co.jp/sustainability/" data-lid_parts="footer">サステナビリティ</a></li>
    </ul>
  </div>
