<header class="g-hikari-Header">
  <div class="g-hikari-Header_Container">
    <div class="g-hikari-Header_Logo"><span>Rakuten Mobile</span></div>
    <% if (typeof islink != 'undefined') { if (islink == 'true') { %><div class="g-hikari-Header_Sitename"><a href="<%= rootpath %>hikari/" data-lid_parts="header">楽天ひかり</a></div>
    <% } else { %><div class="g-hikari-Header_Sitename">楽天ひかり</div>
    <% } } else { %><div class="g-hikari-Header_Sitename">楽天ひかり</div>
    <% } %></div>
</header>
