<!-- ReX UX Survey: Mounting point for embedded components -->
<style>
  .sc-dIsUp {
    margin-top: 32px;
    margin-bottom: 32px;
  }
</style>
<div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
<!-- ReX UX Survey: Config -->
<script>
window.rexSurveyConfig = {"surveyId":"36602","cId":{"name":"answers[36602_251897]","value":""},"embedded":true,"url":{"name":"answers[36602_251898]"},"triggerIdName":"trigger","expirationPeriod":0,"enableDisplaySuppressionPerPage":false,"enableFormAction":false,"permission":{"inquiryTxt":"キャンペーンをより分かりやすくするためにアンケートにご協力ください (選択式1問) ","yesBtnTxt":"協力する","noBtnTxt":"今は協力しない","available":true},"thanks":{"txt0":"ご協力ありがとうございました","txt1":"お客様よりご提供いただいた情報はサービス向上のためご利用させていただきます。"},"nps":{"available":true,"question":{"label":"このページはわかりやすかったですか？"},"options":[{"name":"answers[36602_251899]","value":"699501"},{"name":"answers[36602_251899]","value":"699502"},{"name":"answers[36602_251899]","value":"699503"},{"name":"answers[36602_251899]","value":"699504"},{"name":"answers[36602_251899]","value":"699505"}],"txt0":"わかりにくい","txt1":"わかりやすい","checked":4},"inquiry":{"checkList":{"available":true,"question":"キャンペーンやページについて感じたことで、当てはまるものを選択してください 。（複数選択可）","options":[{"name":"answers[36602_251900][]","value":"699506","label":"1. キャンペーンの適用条件がわかりにくい"},{"name":"answers[36602_251900][]","value":"699507","label":"2. 料金に関する説明がわかりにくい"},{"name":"answers[36602_251900][]","value":"699508","label":"3. ポイントに関する説明がわかりにくい"},{"name":"answers[36602_251900][]","value":"699509","label":"4. 回線速度に関する説明がわかりにくい"},{"name":"answers[36602_251900][]","value":"699510","label":"5. 楽天ひかりの申し込み方法がわかりにくい"},{"name":"answers[36602_251900][]","value":"699511","label":"6. 文字数や情報量が多すぎてわかりにくい"},{"name":"answers[36602_251900][]","value":"699512","label":"7. 色や文字サイズ等のデザインが見にくい"}]},"freeInput":{"available":true,"name":"answers[36602_251901]","title":"ご回答いただいた内容の理由や、その他のご意見・ご要望を記入してください（任意）【1000文字】"},"sendBtnTxt":"送信する","footerNote":{"available":true,"text":"お客様よりご提供いただく情報はサービス向上のためご利用させていただきます。","link":"https://corp.mobile.rakuten.co.jp/guide/privacy/","htmlText":""}},"inquiryNegative":{"checkList":{"available":false,"options":[{"name":"answers[36602_251900][]","value":"699506","label":""},{"name":"answers[36602_251900][]","value":"699507","label":""},{"name":"answers[36602_251900][]","value":"699508","label":""},{"name":"answers[36602_251900][]","value":"699509","label":""},{"name":"answers[36602_251900][]","value":"699510","label":""},{"name":"answers[36602_251900][]","value":"699511","label":""},{"name":"answers[36602_251900][]","value":"699512","label":""}]}},"ua":{"name":"answers[36602_251902]"},"href":{"name":"answers[36602_251903]"},"cookie":{"available":false},"assetPaths":{"closeButton":"","checkIcon":""}}
</script>
<!-- ReX UX Survey: Script -->
<script type="text/javascript" src="https://cdn.rex.contents.rakuten.co.jp/rex-ips/1.5.0/js/main.js" defer></script>
