<%_
  let containerClass = ''
  if (typeof noContainer === 'undefined') {
    containerClass = 'l-System_Container'
  }
_%>
<div class="<%= containerClass %>">
  <div class="c-Theme-Light">
    <p class="c-Txt_Normal-l c-Txt_Emp u-Adjust_Align-center">89%が速いと実感！<br class="u-Adjust_Display-sp">ご利用者様の声&アンケート</p>
    <div class="l-Media_Grid u-Adjust_Mt-16">
      <div class="l-Media_Image c-hikari-Review_Media-img">
        <img src="<%= sitepath %>assets/img/hikari/common-v2/img-voice.png" width="240" alt="">
      </div>
      <div>
        <p>実際に楽天ひかりを利用しているお客様にアンケートを実施。<br>
          すでに早さを実感されているお客様からの評判をご確認いただけます。
        </p>
        <div class="u-Adjust_Mt-24">
          <a href="<%= sitepath %>hikari/review/" class="c-Link_Txt-inline">ご利用者様の声＆アンケートを見る<span class="c-Icon_Arrow-right-l"></span></a>
        </div>
      </div>
    </div>
  </div>
  <p class="u-Adjust_Mt-16 c-Txt_Cap">※ 本サービスはベストエフォート方式。高速性、常時接続性に関し保証するものではなく、機器や回線混雑状況等により変動。</p>
</div>
