<% const namespace="hikari" -%>
<div class="c-Accordion">
  <button id="accordion-22" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-22"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーンルールを見る</button>
  <div id="accordion-content-22" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-22" aria-hidden="true">
    <table class="c-Table_Container <%= namespace %>-Rule_Table">
      <tbody>
        <tr>
          <th>キャンペーンコード</th>
          <td>
            <p>1325</p>
            <p class="c-Txt_Cap u-Adjust_Pl-16 u-Adjust_Mt-8">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
          </td>
        </tr>
        <tr>
          <th>キャンペーン申込期間</th>
          <td>
            <p>Web</p>
            <p class="u-Adjust_Pl-16">2021年11月25日（木）10:00～2021年12月28日（火）9:59</p>
            <p class="u-Adjust_Mt-8">店舗（楽天モバイルショップ）</p>
            <p class="u-Adjust_Pl-16">2021年11月25日（木）開店～2021年12月27日（月）閉店</p>
          </td>
        </tr>
        <tr>
          <th>特典対象</th>
          <td>以下①、②、③の条件をすべて満たした楽天会員の方
            <ul class="c-List_Note u-Adjust_Mt-16">
              <li>
                <span>①</span>「楽天ひかり」のお申し込み
              </li>
              <p class="u-Adjust_Pl-16">はじめて楽天ひかりにお申し込みいただいた方</p>
            </ul>
            <ul class="c-List_Note u-Adjust_Mt-16">
              <li><span>②</span>「楽天ひかり」の開通</li>
            </ul>
            <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">キャンペーン期間中に楽天ひかりにお申し込みいただき、お申し込み月を1カ月目として４カ月目末日以内に開通した方</p>
            <ul class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
              <li><span>※</span>"開通"とは下記を指します<br>
                開通とは、楽天ひかりを使ってインターネット接続を行った状態を指します。なお、開通工事は新規で光回線を敷設する方が対象となり、すでにフレッツ光をご利用中の方（転用）、他社光コラボをご利用中の方（事業者変更）は宅内工事不要です。なおVDSL・LAN配線方式のお客様は工事予定日をもって開通となります。
              </li>
              </ul>
            <ul class="c-List_Note u-Adjust_Mt-16">
              <li><span>③</span>楽天モバイル「Rakuten UN-LIMIT VI」のプラン利用開始条件</li>
            </ul>
            <div class="u-Adjust_Pl-16">
              <p class="u-Adjust_Mt-8">条件（1） か（2）のいずれかに当てはまる必要があります</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">（1）「楽天ひかり」お申し込み時点で、楽天モバイル「Rakuten UN-LIMIT VI」がプラン利用開始済み</p>
              <p class="u-Adjust_Pl-16">（2）「楽天ひかり」のお申し込みの翌月15日23:59までに「Rakuten UN-LIMIT VI」のお申し込み</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※新規お申し込み、他社から乗り換え（MNP）、楽天モバイル（ドコモ回線・au回線）からの移行すべて対象となります</p>
              <p class="c-Txt_Cap u-Adjust_Pl-16">※プラン（SIMカード、eSIM)、製品+プラン（SIMカード、eSIM)のどちらのお申し込みでも対象となります</p>
            </div>
            <ul class="c-List_Note u-Adjust_Mt-32">
              <li>プラン利用開始日とは</li>
            </ul>
            <div class="u-Adjust_Pl-16">
              <p class="u-Adjust_Mt-8">新規お申し込みの場合</p>
              <p class="u-Adjust_Mt-8">①②のいずれか早い方がプラン利用開始日となります。</p>
              <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">①当社に配送完了データが通知された日</p>
              <p class="u-Adjust_Pl-16">②プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</p>
              <p class="u-Adjust_Mt-32">他社から乗り換え（MNP）の場合</p>
              <p class="u-Adjust_Pl-16">プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</p>
              <p class="u-Adjust_Mt-32">楽天モバイル（ドコモ回線・au回線）の料金プランから移行した場合</p>
              <p class="u-Adjust_Pl-16">プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</p>
            </div>
          </td>
        </tr>
        <tr>
          <th>特典</th>
          <td>
            <ul class="c-List_Note">
              <li>標準工事費 無料</li>
            </ul>
            <div class="u-Adjust_Pl-16">
              <p class="u-Adjust_Mt-8">
                派遣工事費／戸建：最大19,800円（税込）<br>
                集合住宅：最大16,500円（税込）<br>
                無派遣工事費／最大2,200円（税込）
              </p>
            </div>
            <ul class="c-Txt_Cap u-Adjust_Mt-16">
              <li><span>※</span>居宅設備の都合等で追加工事費が発生する場合があります。また、工事時間の指定や夜間・深夜および土日・祝日工事をご希望の場合、別途加算・割増工事費がかかります。楽天ひかり工事受付センターから電話でご利用開始のご案内をする際に、追加の工事費の有無をお知らせします。なお、標準工事費を超えて追加で工事費が発生する場合は、追加費用をお支払いいただきます。</li>
              <li><span>※</span>楽天ひかり開通時に引き継がれた工事費残債は本キャンペーンの対象外です。</li>
              <li><span>※</span>権利の譲渡はできません</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>対象サービス</th>
          <td>
            <p>楽天モバイル</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">Rakuten UN-LIMIT VI</p>
            <p class="u-Adjust_Mt-16">楽天ひかり</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">全プラン(マンションプラン、ファミリープラン)</p>
          </td>
        </tr>
        <tr>
          <th>契約期間</th>
          <td>
            <p>楽天モバイル</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">最低利用期間：なし</p>
            <p class="u-Adjust_Mt-24">楽天ひかり（マンションプラン、ファミリープラン）</p>
            <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">3年間（36カ月）／自動更新あり</p>
            <ul class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
              <li><span>※</span>契約期間（36カ月）は、開通月の翌月を起算点とします</li>
              <li><span>※</span>36カ月ご利用後、37カ月目から新たな契約期間（36カ月）が始まり、以降36カ月ごと同様に繰り返します</li>
              <li><span>※</span>36カ月目～38カ月目に解約申請、または事業者変更承諾番号の発行を行い、 36カ月目～40カ月目以内に回線撤去もしくは他社光コラボに事業者変更が完了した場合、契約解除料は発生しません<br></li>
              <li class="u-Adjust_Mt-8"><span>※</span>工事費の分割払い期間中に解約される場合は残債額を一括でお支払いいただきます</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>契約解除料</th>
          <td>
            <p>楽天モバイル</p>
            <p class="u-Adjust_Pl-16">契約解除料：なし</p>
            <p class="u-Adjust_Mt-24">楽天ひかり</p>
            <p class="u-Adjust_Pl-16">9,500円（税込 10,450円）</p>
            <ul class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
              <li><span>※</span>無料解約申請期間（36カ月目～38カ月目）以外に解約申請し、解約が完了した場合は、契約解除料 10,450円が発生（本キャンペーンの特典期間中も含みます）</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th>特典適用対象外</th>
          <td>以下の条件に当てはまる場合は、特典適用対象外となります
            <ul class="c-Txt_Cap u-Adjust_Mt-8">
              <li><span>※</span>楽天ひかりに申し込みをした当月に、楽天ひかりを開通をした場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>本キャンペーン開始時点で楽天ひかりをご利用中の場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>現在、すでに楽天ひかりをお申し込みされている場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>過去に楽天ひかりをご利用いただいたことがある場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>NTT東日本・NTT西日本のフレッツ光回線をご利用中で、プロバイダーが楽天ブロードバンドの方の転用お申し込みの場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>楽天モバイル、楽天ひかりのいずれか、もしくは両方のお申し込みをキャンセルされた場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>異なるサービス・プランへの変更や設置場所変更（引っ越し等）を行った場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>楽天モバイルおよび楽天ひかりにご登録の楽天IDを別の楽天IDに変更した場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>楽天ひかりお申し込み時にログインされた楽天IDが楽天モバイルへ登録されているものと異なる場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>楽天モバイルの申し込みが、本人確認の不備や、MNP手続きの不備等によりキャンセルとなった場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>「Rakuten UN-LIMIT VI」がプラン利用開始されなかった場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>お申し込み後、楽天会員を退会した場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>楽天ひかりを解約、もしくは、解約予定である場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>楽天ひかりを利用されている方と同居されている方が、同じ設置先住所で、新たに楽天ひかりをお申し込みされた場合（契約者の名義変更含む）</li>
              <li class="u-Adjust_Mt-8"><span>※</span>過去楽天ひかりを利用されている方と同居されていた方が、過去楽天ひかりを利用していた場所と同じ設置先住所で、新たに楽天ひかりをお申し込みされた場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>当社または楽天グループの提供するサービスなどの料金のお支払いを、お支払い期限までに行わなかった場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>当社または楽天グループが定める規約などに違反した場合</li>
              <li class="u-Adjust_Mt-8"><span>※</span>そのほか、当社または楽天グループが会員として不適格であると判断した場合</li>

            </ul>
          </td>
        </tr>
        <tr>
          <th>その他注意事項</th>
          <td>
            <ul class="c-Txt_Cap">
              <li><span>※</span>「冬の工事費無料キャンペーン」の適用状況は、開通翌月末以降に会員専用ページでご確認ください。</li>
              <li class="u-Adjust_Mt-8"><span>※</span>工事費無料特典の適用対象外に当てはまった場合、発生した工事費は分割でご請求いたします。</li>
              <li class="u-Adjust_Mt-8"><span>※</span>初回の標準工事費以外に発生した費用は、ご負担いただきます。</li>
              <li class="u-Adjust_Mt-8"><span>※</span>追加の工事や異なるサービス・プランへの変更や設置場所変更（引っ越し等）を行った場合の費用は本施策の適用対象外です。</li>
              <li class="u-Adjust_Mt-8"><span>※</span>本キャンペーンは「<a href="<%= sitepath %>campaign/hikari/?l-id=rhk_top_cp#campaing_rule" class="c-Link_Txt">楽天ひかりUN-LIMITキャンペーン</a>」の併用が可能です。月額料金および特典は、「<a href="<%= sitepath %>campaign/hikari/?l-id=rhk_top_cp#campaing_rule" class="c-Link_Txt">楽天ひかりUN-LIMITキャンペーン</a>」をご確認ください</li>
              <li class="u-Adjust_Mt-8"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
              <li class="u-Adjust_Mt-8"><span>※</span>本キャンペーンの特典進呈対象者は、同時期に行われている他のキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
              <li class="u-Adjust_Mt-8"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合がございます</li>
              <li class="u-Adjust_Mt-8"><span>※</span>記載の内容は2021年11月25日（木）時点の情報となります</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>