<%_
  const namespace="hikari"
  const originalDlClass = typeof originalNameSpace !== 'undefined' ? ` ${originalNameSpace}-Dl` : ''
_%>
<%_ if (typeof isDl !== 'undefined') { _%>
<dl class="c-Dl_Origin<%= originalDlClass %>">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      1109<br>
      <p class="c-Txt_Cap">※ 本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      [Web]：2020年10月7日（水）9:00～終了日未定<br>
      [店舗（楽天モバイルショップ）]：2020年10月7日（水）開店～終了日未定
    </dd>
  </div>
  <div>
    <dt>対象者・適用条件</dt>
    <dd>
      以下①、②、③の条件を全て満たした楽天会員の方
      <div class="u-Adjust_Mt-16"><span>①</span>「楽天ひかり」のお申し込み</div>
      <div class="u-Adjust_Mt-16"><span>②</span>「楽天ひかり」の開通</div>
      <p class="u-Adjust_Mt-8">キャンペーン期間中に楽天ひかりにお申し込みいただき、お申し込み月を1カ月目として４カ月目末日以内に開通した方</p>
      <p class="u-Adjust_Mt-8 c-Txt_Cap">
        <span>※</span>”開通“とは下記を指します<br>
        ・開通とは、楽天ひかりを使ってインターネット接続を行った状態を指します。なお、開通工事は新規で光回線を敷設する方が対象となり、すでにフレッツ光をご利用の方（転用）、他社光コラボをご利用の方（事業者変更）は宅内工事不要です
      </p>
      <div class="u-Adjust_Mt-16"><span>③</span>楽天モバイル「Rakuten UN-LIMIT VI」のプラン利用開始条件</div>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 条件(1) か(2)のいずれかに当てはまる必要があります</p>
      <p class="u-Adjust_Mt-8"><span>(1)</span>「楽天ひかり」お申し込み時点で、楽天モバイル「Rakuten UN-LIMIT VI」がプラン利用開始済</p>
      <p class="u-Adjust_Mt-8"><span>(2)</span>「楽天ひかり」のお申し込みの翌月15日23:59までに「Rakuten UN-LIMIT VI」のお申し込み</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 新規お申し込み、他社から乗り換え（MNP）、楽天モバイル（ドコモ回線・au回線）からの移行すべて対象となります</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ プラン（SIMカード、eSIM)、製品+プラン（SIMカード、eSIM)のどちらのお申し込みでも対象となります</p>
      <p class="u-Adjust_Mt-8 u-Adjust_Mt-24">【プラン利用開始日とは】</p>
      <ul class="c-List_Text-disc u-Adjust_Mt-8">
        <li>
          新規お申し込みの場合<br>
          <p class="c-Txt_Cap u-Adjust_Mt-8">※①②のいずれか早い方がプラン利用開始日となります。</p>
          <p class="u-Adjust_Mt-8"><span>①</span>当社に配送完了データが通知された日</p>
          <p class="u-Adjust_Mt-8"><span>②</span>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</p>
        </li>
        <li>他社から乗り換え（MNP）の場合<br>
          プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
        <li>楽天モバイル（ドコモ回線・au回線）の料金プランから移行した場合<br>
          プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>特典内容</dt>
    <dd>
      最大一年、楽天ひかりの月額基本料無料
      <ul class="c-List_Text-disc">
        <li>開通月から最大12カ月間月額基本料0円</li>
      </ul>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 権利の譲渡はできません</p>
    </dd>
  </div>
  <div>
    <dt>対象サービス</dt>
    <dd>
      <p><strong>楽天モバイル</strong></p>
      <ul class="c-List_Text-disc">
        <li>Rakuten UN-LIMIT VI</li>
      </ul>
      <p class="u-Adjust_Mt-16"><strong>楽天ひかり</strong></p>
      <ul class="c-List_Text-disc">
        <li>全プラン(マンションプラン、ファミリープラン)</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>契約期間</dt>
    <dd>
      <p><strong>楽天モバイル</strong><br>
        最低利用期間：なし</p>
      <p class="u-Adjust_Mt-16"><strong>楽天ひかり　マンションプラン、ファミリープラン</strong><br>
        3年間（36カ月）／自動更新あり
      </p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 契約期間（36カ月）は、開通月の翌月を起算点とします</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 36カ月ご利用後、37カ月目から新たな契約期間（36カ月）が始まり、以降36カ月ごと同様に繰り返します</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 契約更新月は、開通月翌月を1カ月目として36カ月ご利用後、翌月の1カ月間（37カ月目）です<br>
        また、36カ月満了の次の1カ月間は契約解除料が発生しません<br>
        2021年6月29日以降は36カ月目～38カ月目に解約申請、または事業者変更承諾番号の発行を行い、 36カ月目～40カ月目以内に回線撤去もしくは他社光コラボに事業者変更が完了した場合、契約解除料は発生しません</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 工事費の分割払い期間中に解約される場合は残債額を一括でお支払いいただきます</p>
    </dd>
  </div>
  <div>
    <dt>契約解除料</dt>
    <dd>
      <p><strong>楽天モバイル</strong><br>
        契約解除料：なし</p>
      <p class="u-Adjust_Mt-16"><strong>楽天ひかり</strong><br>
        9,500円（税込 10,450円）</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 更新月以外の契約期間内（本キャンペーンの特典期間中も含みます）に解約する場合には、契約解除料が発生いたします</p>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 本キャンペーン開始時点で楽天ひかりをご利用中の場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 現在、すでに楽天ひかりをお申し込みされている場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 過去に楽天ひかりをご利用いただいた事がある場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ NTT東日本・NTT西日本のフレッツ光回線をご利用中で、プロバイダーが楽天ブロードバンドの方の転用お申し込みの場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 楽天モバイル、楽天ひかり　いずれか　もしくは　両方のお申し込みをキャンセルされた場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 楽天モバイルおよび楽天ひかりにご登録の楽天IDを別の楽天IDに変更した場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 楽天ひかりお申し込み時にログインされた楽天IDが楽天モバイルへ登録されているものと異なる場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 楽天モバイルの申し込みが、本人確認の不備や、MNP手続きの不備等によりキャンセルとなった場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 「Rakuten UN-LIMIT VI」がプラン利用開始されなかった場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 異なるサービス・プランへの変更や設置場所変更（引っ越し等）を行った場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ お申し込み後、楽天会員を退会した場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 楽天ひかりを利用されている方と同居されている方が、同じ設置先住所で、新たに楽天ひかりをお申し込みされた場合（契約者の名義変更含む）</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 過去楽天ひかりを利用されている方と同居されていた方が、過去楽天ひかりを利用していた場所と同じ設置先住所で、新たに楽天ひかりをお申し込みされた場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 当社または楽天グループの提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ 当社または楽天グループが定める規約などに違反した場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ そのほか、当社または楽天グループが会員として不適格であると判断した場合</p>
    </dd>
  </div>
  <div>
    <dt>その他注意事項</dt>
    <dd>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※ 本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※ 本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※ 本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合がございます</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※ 記載の内容は2021年6月28日（月）時点の情報となります</p>
    </dd>
  </div>
</dl>
<%_ } else { _%>
<table class="c-Table_Container <%= namespace %>-Rule_Table">
  <tbody>
    <tr>
      <th>キャンペーンコード</th>
      <td>1109<br>
        <ul class="c-Txt_Cap">
          <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>キャンペーン期間</th>
      <td>
        [Web]：2020年10月7日（水）9:00～終了日未定<br>
        [店舗（楽天モバイルショップ）]：2020年10月7日（水）開店～終了日未定
      </td>
    </tr>
    <tr>
      <th>対象者・適用条件</th>
      <td>以下①、②、③の条件を全て満たした楽天会員の方
        <ul class="c-List_Note u-Adjust_Mt-16">
          <li><span>①</span>「楽天ひかり」のお申し込み</li>
        </ul>
        <ul class="c-List_Note u-Adjust_Mt-16">
          <li><span>②</span>「楽天ひかり」の開通</li>
        </ul>
        <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">キャンペーン期間中に楽天ひかりにお申し込みいただき、お申し込み月を1カ月目として４カ月目末日以内に開通した方</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>※</span>”開通“とは下記を指します<br>
            ・開通とは、楽天ひかりを使ってインターネット接続を行った状態を指します。なお、開通工事は新規で光回線を敷設する方が対象となり、すでにフレッツ光をご利用の方（転用）、他社光コラボをご利用の方（事業者変更）は宅内工事不要です</li>
        </ul>
        <ul class="c-List_Note u-Adjust_Mt-16">
          <li><span>③</span>楽天モバイル「Rakuten UN-LIMIT VI」のプラン利用開始条件</li>
        </ul>
        <ul class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>※</span>条件(1) か(2)のいずれかに当てはまる必要があります </li>
        </ul>
        <ul class="c-List_Note u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>(1)</span>「楽天ひかり」お申し込み時点で、楽天モバイル「Rakuten UN-LIMIT VI」がプラン利用開始済</li>
          <li><span>(2)</span>「楽天ひかり」のお申し込みの翌月15日23:59までに「Rakuten UN-LIMIT VI」のお申し込み</li>
        </ul>
        <ul class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>※</span>新規お申し込み、他社から乗り換え（MNP）、楽天モバイル（ドコモ回線・au回線）からの移行すべて対象となります</li>
          <li><span>※</span>プラン（SIMカード、eSIM)、製品+プラン（SIMカード、eSIM)のどちらのお申し込みでも対象となります</li>
        </ul>
        <p class="u-Adjust_Mt-8 u-Adjust_Mt-24">【プラン利用開始日とは】</p>
        <ul class="c-List_Text-disc u-Adjust_Mt-8">
          <li>新規お申し込みの場合</li>
        </ul>
        <ul class="c-Txt_Cap c-List_Note u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>※</span>①②のいずれか早い方がプラン利用開始日となります。</li>
        </ul>
        <ul class="c-List_Note u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>①</span>当社に配送完了データが通知された日</li>
          <li><span>②</span>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
        </ul>
        <ul class="c-List_Text-disc u-Adjust_Mt-16">
          <li>他社から乗り換え（MNP）の場合<br>
            プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
          <li>楽天モバイル（ドコモ回線・au回線）の料金プランから移行した場合<br>
            プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>特典内容</th>
      <td>最大一年、楽天ひかりの月額基本料無料
        <ul class="c-List_Text-disc">
          <li>開通月から最大12カ月間月額基本料0円</li>
        </ul>
        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li><span>※</span>権利の譲渡はできません</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>対象サービス</th>
      <td>
        <p><strong>楽天モバイル</strong></p>
        <ul class="c-List_Text-disc">
          <li>Rakuten UN-LIMIT VI</li>
        </ul>
        <p class="u-Adjust_Mt-16"><strong>楽天ひかり</strong></p>
        <ul class="c-List_Text-disc">
          <li>全プラン(マンションプラン、ファミリープラン)</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>契約期間</th>
      <td>
        <p><strong>楽天モバイル</strong><br>
          最低利用期間：なし</p>
        <p class="u-Adjust_Mt-16"><strong>楽天ひかり　マンションプラン、ファミリープラン</strong><br>
          3年間（36カ月）／自動更新あり
        </p>
        <ul class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>※</span>契約期間（36カ月）は、開通月の翌月を起算点とします</li>
          <li><span>※</span>36カ月ご利用後、37カ月目から新たな契約期間（36カ月）が始まり、以降36カ月ごと同様に繰り返します</li>
          <li><span>※</span>契約更新月は、開通月翌月を1カ月目として36カ月ご利用後、翌月の1カ月間（37カ月目）です<br>
            また、36カ月満了の次の1カ月間は契約解除料が発生しません<br>
            2021年6月29日以降は36カ月目～38カ月目に解約申請、または事業者変更承諾番号の発行を行い、 36カ月目～40カ月目以内に回線撤去もしくは他社光コラボに事業者変更が完了した場合、契約解除料は発生しません</li>
          <li><span>※</span>工事費の分割払い期間中に解約される場合は残債額を一括でお支払いいただきます</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>契約解除料</th>
      <td>
        <p><strong>楽天モバイル</strong><br>
          契約解除料：なし</p>
        <p class="u-Adjust_Mt-16"><strong>楽天ひかり</strong><br>
          9,500円（税込 10,450円）</p>
        <ul class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">
          <li><span>※</span>更新月以外の契約期間内（本キャンペーンの特典期間中も含みます）に解約する場合には、契約解除料が発生いたします</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>特典適用対象外</th>
      <td>以下の条件に当てはまる場合は、特典適用対象外となります
        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li><span>※</span>本キャンペーン開始時点で楽天ひかりをご利用中の場合</li>
          <li><span>※</span>現在、すでに楽天ひかりをお申し込みされている場合</li>
          <li><span>※</span>過去に楽天ひかりをご利用いただいた事がある場合</li>
          <li><span>※</span>NTT東日本・NTT西日本のフレッツ光回線をご利用中で、プロバイダーが楽天ブロードバンドの方の転用お申し込みの場合</li>
          <li><span>※</span>楽天モバイル、楽天ひかり　いずれか　もしくは　両方のお申し込みをキャンセルされた場合</li>
          <li><span>※</span>楽天モバイルおよび楽天ひかりにご登録の楽天IDを別の楽天IDに変更した場合</li>
          <li><span>※</span>楽天ひかりお申し込み時にログインされた楽天IDが楽天モバイルへ登録されているものと異なる場合</li>
          <li><span>※</span>楽天モバイルの申し込みが、本人確認の不備や、MNP手続きの不備等によりキャンセルとなった場合</li>
          <li><span>※</span>「Rakuten UN-LIMIT VI」がプラン利用開始されなかった場合</li>
          <li><span>※</span>異なるサービス・プランへの変更や設置場所変更（引っ越し等）を行った場合</li>
          <li><span>※</span>お申し込み後、楽天会員を退会した場合</li>
          <li><span>※</span>楽天ひかりを利用されている方と同居されている方が、同じ設置先住所で、新たに楽天ひかりをお申し込みされた場合（契約者の名義変更含む）</li>
          <li><span>※</span>過去楽天ひかりを利用されている方と同居されていた方が、過去楽天ひかりを利用していた場所と同じ設置先住所で、新たに楽天ひかりをお申し込みされた場合</li>
          <li><span>※</span>当社または楽天グループの提供するサービスなどの料金のお支払いを、お支払期限までに行わなかった場合</li>
          <li><span>※</span>当社または楽天グループが定める規約などに違反した場合</li>
          <li><span>※</span>そのほか、当社または楽天グループが会員として不適格であると判断した場合</li>
        </ul>
      </td>
    </tr>
    <tr>
      <th>その他注意事項</th>
      <td>
        <ul class="c-Txt_Cap">
          <li><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
          <li><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります</li>
          <li><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合がございます</li>
          <li><span>※</span>記載の内容は2021年6月28日（月）時点の情報となります</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table><%_ } _%>
