<%_
if (typeof key === 'undefined') {
  key = '';
}
_%>
<div class="inquiry-drilldown-Info u-Adjust_Mt-24">
  <div class="u-Adjust_Align-left">
    <div><span class="inquiry-drilldown-telnum"><span><a href="tel:050-5434-4653" data-ratId="inquiry-tel_06<%= key %>" data-ratEvent="click" data-ratParam="all">050-5434-4653</a></span></span></div>
    <ul class="c-List_Cap u-Adjust_Mt-16">
      <li class="c-Txt_Cap"><span>※</span><b><a href="<%= sitepath %>service/rakuten-link/index.html">Rakuten Link</a> での発信は、通話料無料。</b></li>
    </ul>
    <p class="u-Adjust_Mt-16">
      受付時間24時間（年中無休）<br>自動音声にて対応しております。
    </p>
    <ul class="c-List_Cap u-Adjust_Mt-16">
      <li><span>※</span>音声ガイダンスより選択いただきました項目に関する「よくあるご質問」をご案内するリンクをショートメッセージにて送付しております。</li>
      <li><span>※</span>問題が解決できない場合、「よくあるご質問」に記載の電話番号までお問い合わせいただきますようお願い申し上げます。</li>
    </ul>
    <h4 class="c-Heading_Lv4 u-Adjust_Mt-32 c-Txt_Emp-02">楽天回線対応製品をご利用中で、楽天回線エリアでの接続が急に不安定になった方はこちら</h4>
    <div class="u-Adjust_Mt-16"><span class="inquiry-drilldown-telnum"><span><a href="tel:050-5434-4647" data-ratId="inquiry-tel_02<%= key %>" data-ratEvent="click" data-ratParam="all">050-5434-4647</a></span></span></div>
    <ul class="c-List_Cap u-Adjust_Mt-16">
      <li class="c-Txt_Cap"><span>※</span><b><a href="<%= sitepath %>service/rakuten-link/index.html">Rakuten Link</a> での発信は、通話料無料。</b></li>
    </ul>
    <p class="u-Adjust_Mt-16">受付時間 24時間 （年中無休）</p>
  </div>
</div>
