<%_
if (typeof key === 'undefined') { 
  key = '';
}
_%>
<h4 class="c-Heading_Lv3 u-Adjust_Mt-32">短縮番号</h4>
<div class="c-Table_Wrap-scroll u-Adjust_Mt-24">
  <table class="c-Table_Container">
    <colgroup>
      <col>
      <col>
    </colgroup>
    <thead>
      <tr>
        <th scope="col">お問い合わせ内容</th>
        <th scope="col">短縮番号</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>新しい電話番号でお申し込み</td>
        <td>11</td>
      </tr>
      <tr>
        <td>他社からご利用中の電話番号でお申し込み（MNP）
          スーパーホーダイ・組み合わせプランから移行（移行手続き済み）
        </td>
        <td>12</td>
      </tr>
    </tbody>
  </table>
</div>