<%_
if (typeof key === 'undefined') {
  key = '';
}
_%>
<!-- 【c01】Webチャット -->
<h2 class="c-Heading_Lv2 u-Adjust_Pt-64">解決しない場合は、お問い合わせください</h2>
<h3 class="c-Heading_Lv3 u-Adjust_Mt-24 inquiry-drilldown_Title-border">チャットでお問い合わせ</h3>
<p class="u-Adjust_Mt-16">チャット相談なら24時間受付、履歴が残るのでメモも不要。</p>
<p class="js-waiting-non_member-message u-Adjust_Mt-8"></p>
<%- include('/include/inquiry/_inquiry-wait-c.ejs', {key: key + '-c'}) %>
<div class="inquiry-drilldown-Info u-Adjust_Mt-24">

  <div class="inquiry-Layout_Btn-auto u-Adjust_Align-left u-Adjust_Mt-0">
    <div id="mno_messaging_support_pc_on" class="target-messaging" data-ratId="inquiry-web_chat<%= key %>" data-ratEvent="click" data-ratParam="all"></div>
    <div id="mno_messaging_support_pc_off" class="target-messaging"></div>
  </div>
  <p class="u-Adjust_Mt-16">受付時間 9:00 ～ 24:00</p>
</div>
<p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>こちらの窓口では、お申し込み後に関するご質問にはご回答できません。</p>
<!-- //【c01】Webチャット -->
