<%_
if (typeof key === 'undefined') {
  key = '';
}
_%>
<p class="u-Adjust_Mt-16">回答までお時間をいただく場合がございます。ご迷惑おかけしますが、ご了承の程よろしくお願いいたします。</p>
<div class="inquiry-drilldown-Info u-Adjust_Mt-24">
  <div class="u-Adjust_Align-left">
    <div>電話番号 <span class="inquiry-drilldown-telnum"><span><a href="tel:050-5212-6913" data-ratId="inquiry-tel_03<%= key %>" data-ratEvent="click" data-ratParam="all">050-5212-6913</a></span></span></div>
    <ul class="c-List_Cap u-Adjust_Mt-16">
      <li class="c-Txt_Cap"><span>※</span>通常の通話料金が発生いたします。スーパーホーダイ/楽天でんわ10分かけ放題をご契約中のお客様につきましては、10分以内の楽天でんわアプリからの発信は無料通話対象となります。</li>
    </ul>
    <p class="u-Adjust_Mt-16">受付時間　9:00 ～ 20:00 （年中無休）</p>
  </div>
</div>
<ul class="c-List_Cap u-Adjust_Mt-8">
  <li class="c-Txt_Cap"><span>※</span><b>アナウンス開始後、短縮番号「15」を押してください。</b></li>
  <li class="c-Txt_Cap"><span>※</span><b>19 ～ 20時は特に混み合います。</b></li>
</ul>
