<%_
if (typeof key === 'undefined') {
  key = '';
}
_%>
<p class="js-waiting-member-call-data u-Adjust_Mt-16"></p>
<%- include('/include/inquiry/_inquiry-wait-t-simple.ejs', {key: key + '-t'}) %>
<div class="inquiry-drilldown-Info u-Adjust_Mt-24">

  <div class="u-Adjust_Align-left">
    <div><span class="inquiry-drilldown-telnum"><span><a href="tel:050-5434-4647" data-ratId="inquiry-tel_02<%= key %>" data-ratEvent="click" data-ratParam="all">050-5434-4647</a></span></span></div>
    <ul class="c-List_Cap u-Adjust_Mt-16">
      <li class="c-Txt_Cap"><span>※</span><b><a href="<%= sitepath %>service/rakuten-link/index.html">Rakuten Link</a> での発信は、通話料無料。</b></li>
    </ul>
    <p class="u-Adjust_Mt-16">受付時間 24時間 （年中無休）</p>
  </div>

</div>
