<%_
if (typeof key === 'undefined') {
  key = '';
}
_%>
<p class="js-waiting-member-call-global u-Adjust_Mt-16"></p>
<%- include('/include/inquiry/_inquiry-wait-t-simple.ejs', {key: key + '-t'}) %>
<div class="inquiry-drilldown-Info u-Adjust_Mt-24">
  <div class="u-Adjust_Align-left">
    <div><span class="inquiry-drilldown-telnum"><span><a href="tel:050-5434-4633" data-ratId="inquiry-tel_08<%= key %>" data-ratEvent="click" data-ratParam="all">050-5434-4633</a></span></span></div>
    <p class="u-Adjust_Mt-16">受付時間 24時間（年中無休）</p>
  </div>
</div>
<div class="l-Media_Icon u-Adjust_Mt-24">
  <div>
    <a href="https://app.adjust.com/31tox3v_bpdya2y?deeplink=viber://keypad?number=05054344633" target="_blank"><img src="/assets/img/common/icon-viber-app.png?210311" alt=""></a>
  </div>
  <div class="_sample-bg">
    <p class="u-Adjust_Mt-16">Viberなら通話料無料でお問い合わせできます。</p>
    <p class="u-Adjust_Mt-16"><a href="https://app.adjust.com/31tox3v_bpdya2y?deeplink=viber://keypad?number=05054344633" target="_blank" class="c-Link_Txt-icon">インストールはこちら<span class="c-Icon_Chevron-right"></span></a></p>
  </div>
</div>
