<%_
if (typeof key === 'undefined') {
  key = '';
}
_%>
<p class="js-waiting-non_member-call-general u-Adjust_Mt-16"></p>
<h4 class="c-Heading_Lv-4">新規お申し込み／MNP（電話番号乗り換え）を検討中のお客様の専用の窓口</h4>
<p class="c-Txt_Cap u-Adjust_Mt-8">※ Webお申し込み中のエラーに関するお問い合わせ、お申し込み後のお客様サポートはご対応いたしかねます。</p>
<%- include('/include/inquiry/_inquiry-wait-t-nonmember.ejs', {key: key + '-t'}) %>
<div class="inquiry-drilldown-Info u-Adjust_Mt-24">
  <div class="u-Adjust_Align-left">
    <div><span class="inquiry-drilldown-telnum"><span><a href="tel:0800-805-0090" data-ratId="inquiry-tel_01<%= key %>" data-ratEvent="click" data-ratParam="all">0800-805-0090</a></span></span></div>
    <ul class="c-List_Cap u-Adjust_Mt-16">
      <li class="c-Txt_Cap"><span>※</span><b>通話料無料でご利用になれます。</b></li>
    </ul>
    <p class="u-Adjust_Mt-16">受付時間　9:00 ～ 20:00 （年中無休）</p>
  </div>
</div>
<p class="c-Txt_Cap u-Adjust_Mt-8">※ お客様のお問い合わせ内容によっては、別窓口の電話番号へのおかけ直しをお願いさせていただきます。</p>
