<% const pagetitle = "Apple Watch Series 8／Apple Watch Ultra／Apple Watch SE（第2世代）の取り扱いについて" -%>
<%-
 include('/_header', {
    pagetitle: 'Apple Watch Series 8／Apple Watch Ultra／Apple Watch SE（第2世代）の取り扱いについて',
    description: '楽天モバイルにてApple Watch Series 8／Apple Watch SE（第2世代）／Apple Watch Ultraを取り扱いいたします。9/9（金） 21:00より予約受付を開始いたします。',
    noindex: true,
    pathname: filepath,
    redirect: {
      url: 'product/apple-watch/'
    }
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
