<% const pagetitle = "プラン料金1年間1,980円&合計21,200ポイントプレゼントキャンペーン" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'Rakuten Turboプラン料金1年間1,980円&合計21,200ポイントプレゼントキャンペーン実施中。楽天モバイルのホームルーターRakuten Turbo（ラクテン ターボ）は工事不要、コンセントにさすだけですぐに使えるおうちのWiFi。5G対応の高速インターネットがデータ無制限で使い放題。',
    noindex: false,
    pathname: filepath
  });
%>
<meta http-equiv="refresh" content="0;URL=<%= sitepath %>internet/turbo/campaign/rank/d/">
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
