<% const pagetitle = "楽天モバイル買い替え超トクプログラムで購入する（iPhone）" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'service/replacement-program/ichiba-entry-iphone/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
