<div class="l-System_Container">
  <div class="<%= namespace %>-Kv_Attention">
    <p><span class="c-Icon_Sign-warning-f"></span>お申し込み前に必ずご確認ください</p>
    <ul class="u-Adjust_Mt-8">
      <li class="c-Txt_Cap"><span>・</span>本ページの「お申し込みはこちら」ボタンよりお手続きください。本ページ以外からお手続きされた場合は特典適用対象外となります。</li>
      <li class="c-Txt_Cap"><span>・</span>「お申し込み内容」画面でクーポンコード14桁の英数字が表示されていることをご確認のうえ、お申し込みを完了してください。表示されていない場合は特典適用対象外となるため、再度本ページの「お申し込みはこちら」ボタンよりお申し込みをやり直してください。</li>
      <li class="c-Txt_Cap"><span>※</span>詳細は<a href="#campaign-caution" class="js-scroll">お申し込み時の注意点</a>をご確認ください。</li>
    </ul>
  </div>
</div>