<% const pagetitle = "以前使っていた方も対象！15分（標準）通話かけ放題が1カ月相当おトク！※一部対象外番号あり※エントリー等条件あり" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'service/standard-free-call/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
