<% const pagetitle = "" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath,
  });
%>
<script src="//r.r10s.jp/com/ap/target/phoenix-tracker-2.9.0.min.js"></script>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<script>
  location.href = '//portal.mobile.rakuten.co.jp/?l-id=fee_un_limit_1a_mnp_normal';
</script>
<%- include('/include/_append-body') %>
</body>
</html>
