<% const pagetitle = "" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath
  });
%>
<script src="https://www.rakuten.co.jp/com/advance/mobile/mnoprj_onb_oneclick_new/responsive/condition.js"></script>
<script src="https://r.r10s.jp/com/ap/target/phoenix-2.9.0.min.js"></script>
<%- include('/include/_append-head') %>
</head>
<body data-phoenix-mnoprj_onb_oneclick_new_responsive>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
