<% const pitariType = "plan-c" -%>
<% const h1Txt = "ご存知ですか？今の携帯電話会社からの乗り換えは契約解除料0円。さらに番号もメールアドレスもそのまま（※ 各社の有料オプション利用時。SIMロック解除無料はWebのみ等条件あり。2022年11月15日時点。対応製品が必要）。Rakuten UN-LIMIT VIIはおトクなワンプラン。3GBまで980円/月(税込1,078円) 3GB 20GBまで1,980円/月(税込2,178円) 20GB〜どれだけ使っても2,980円/月(税込3,278円)100GBでも楽天回線エリアはデータ無制限 (無制限は楽天回線エリアのみ。エリア外は最大1Mbps)。会員特典で楽天市場のお買い物が常時大幅アップで最大16倍や、アプリ利用で国内通話無料、無料コンテンツキャンペーン中。会員特典には条件あり。" -%>
<% const pagetitle = "Rakuten UN-LIMIT VII（料金プラン）" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'おトクなワンプラン「Rakuten UN-LIMIT VII（ラクテンアンリミットセブン）」！どれだけ使っても月々2,980円（税込3,278円）使わない月はドンドン安くなる！楽天市場でのお買い物がポイント最大16倍や、アプリ利用で国内通話無料など、特典も盛りだくさん！※アンリミテッドではありません',
    keywords: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'fee/saikyo-plan/'}
  });
%>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
