<% const pagetitle = "楽天モバイル　システムメンテナンスのお知らせ" -%>
<% const directories = [{path:"maintenance/", label:"メンテナンスのお知らせ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「楽天モバイル　システムメンテナンス(2019年12月16日)」についてのお知らせ(楽天モバイル)',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'maintenance/133/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>


