<p class="c-Txt_Emp-01 u-Adjust_Mb-16">楽天銀行口座開設申込期間は特典進呈の関係上、集計期間を設けております<br>
  楽天銀行ハッピープログラムにエントリーしてから登録完了するまでには約2～3日かかります</p>
<dl class="c-Dl_Origin">
  <div>
    <dt>4月度</dt>
    <dd>■ 楽天銀行口座開設申込期間:<br>
      2024年4月1日（月）0:00～2024年4月30日（火）23:59<br>
      ■ 楽天銀行開設完了＆入金期限:<br>
      2024年5月31日（金）23:59<br>
      ■ 楽天銀行ハッピープログラムエントリー＆完了期限:<br>
      2024年5月31日（金）23:59<br>
      ■特典付与日<br>
      2024年7月中旬<br>
      <br>
      楽天銀行の新規口座開設＆入金でもれなく1,000ポイント<br>
      ■特典有効期限<br>
      2024年8月31日（土）23:59<br>
      <br>
      <br>
      【常時開催】楽天モバイル×楽天銀行 同時申し込みで3,000ポイント<br>
      ■特典有効期限<br>
      ポイント進呈日を含めて6カ月<br>
      ■楽天モバイルのお申し込み<br>
      Web:2021年7月1日（木）9:00～常時開催<br>
      店舗（楽天モバイルショップ）:2021年7月1日（木）開店～常時開催<br>
      ■ 楽天モバイルプラン利用開始期限- 楽天銀行口座開設完了期限と同一<br>
      ■「Rakuten Link」利用期限- 楽天銀行口座開設完了期限と同一<br>
    </dd>
  </div>
  <div>
    <dt>5月度</dt>
    <dd>■ 楽天銀行口座開設申込期間:<br>
      2024年5月1日（水）0:00～2024年5月31日（金）23:59<br>
      ■ 楽天銀行開設完了＆入金期限:<br>
      2024年6月30日（日）23:59<br>
      ■ 楽天銀行ハッピープログラムエントリー＆完了期限:<br>
      2024年6月30日（日）23:59<br>
      ■特典付与日<br>
      2024年8月中旬<br>
      <br>
      楽天銀行の新規口座開設＆入金でもれなく1,000ポイント<br>
      ■特典有効期限<br>
      2024年9月30日（月）23:59<br>
      <br>
      <br>
      【常時開催】楽天モバイル×楽天銀行 同時申し込みで3,000ポイント<br>
      ■特典有効期限<br>
      ポイント進呈日を含めて6カ月<br>
      ■楽天モバイルのお申し込み<br>
      Web:2021年7月1日（木）9:00～常時開催<br>
      店舗（楽天モバイルショップ）:2021年7月1日（木）開店～常時開催<br>
      ■ 楽天モバイルプラン利用開始期限- 楽天銀行口座開設完了期限と同一<br>
      ■「Rakuten Link」利用期限- 楽天銀行口座開設完了期限と同一<br>
    </dd>
  </div>
  <div>
    <dt>6月度</dt>
    <dd>■ 楽天銀行口座開設申込期間:<br>
      2024年6月1日（土）0:00～2024年6月30日（日）23:59<br>
      ■ 楽天銀行開設完了＆入金期限:<br>
      2024年7月31日（水）23:59<br>
      ■ 楽天銀行ハッピープログラムエントリー＆完了期限:<br>
      2024年7月31日（水）23:59<br>
      ■特典付与日<br>
      2024年9月中旬<br>
      <br>
      楽天銀行の新規口座開設＆入金でもれなく1,000ポイント<br>
      ■特典有効期限<br>
      2024年10月31日（木）23:59<br>
      <br>
      <br>
      【常時開催】楽天モバイル×楽天銀行 同時申し込みで3,000ポイント<br>
      ■特典有効期限<br>
      ポイント進呈日を含めて6カ月<br>
      ■楽天モバイルのお申し込み<br>
      Web:2021年7月1日（木）9:00～常時開催<br>
      店舗（楽天モバイルショップ）:2021年7月1日（木）開店～常時開催<br>
      ■ 楽天モバイルプラン利用開始期限- 楽天銀行口座開設完了期限と同一<br>
      ■「Rakuten Link」利用期限- 楽天銀行口座開設完了期限と同一<br>
    </dd>
  </div>
  <div>
    <dt>7月度</dt>
    <dd>■ 楽天銀行口座開設申込期間:<br>
      2024年7月1日（月）0:00～2024年7月31日（水）23:59<br>
      ■ 楽天銀行開設完了＆入金期限:<br>
      2024年8月31日（土）23:59<br>
      ■ 楽天銀行ハッピープログラムエントリー＆完了期限:<br>
      2024年8月31日（土）23:59<br>
      ■特典付与日<br>
      2024年10月中旬<br>
      <br>
      楽天銀行の新規口座開設＆入金でもれなく1,000ポイント<br>
      ■特典有効期限<br>
      2024年11月30日（土）23:59<br>
      <br>
      <br>
      【常時開催】楽天モバイル×楽天銀行 同時申し込みで3,000ポイント<br>
      ■特典有効期限<br>
      ポイント進呈日を含めて6カ月<br>
      ■楽天モバイルのお申し込み<br>
      Web:2021年7月1日（木）9:00～常時開催<br>
      店舗（楽天モバイルショップ）:2021年7月1日（木）開店～常時開催<br>
      ■ 楽天モバイルプラン利用開始期限- 楽天銀行口座開設完了期限と同一<br>
      ■「Rakuten Link」利用期限- 楽天銀行口座開設完了期限と同一<br>
    </dd>
  </div>
</dl>
