<% const pagetitle = "AQUOS sense8" -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    description: "AQUOS sense8（アクオス）の価格・特徴・スペックの確認と購入はこちら。最大12,000ポイント還元※も！オンライン簡単手続きが便利！※初めて申込等条件あり",
    noindex: true,
    redirect: {url: 'product/smartphone/aquos-sense8/'},
    pathname: filepath
  });
%>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>