<% const pagetitle = "Rakuten UN-LIMIT VII (Price plan)" -%>
<% const sitetitle = "Top" -%>

<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: "Rakuten Mobile offers only one plan, “Rakuten UN-LIMIT VII”. 2,980 yen per month (3,278 yen including tax); no matter the amount of data you use or the months you don't use much, it gets cheaper! You can enjoy many member benefits, such as free domestic calls with the app!",
    noindex: true,
    redirect: {url: 'https://network.mobile.rakuten.co.jp/fee/saikyo-plan/en/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
