<% const pagetitle = "受け取り時に自宅で確認とは" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/verify/", label:"本人確認書類"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Webからのお申し込みで、商品のお届け時に本人確認書類を提示するだけで本人確認が完了する「受け取り時に自宅で確認」をご案内します。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'guide/verify/home-kyc/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
