<% const pagetitle = "iPhone 14 Pro Max／iPhone 14 Pro／iPhone 14 Plus／iPhone 14の取り扱いについて" -%>
<% const directories = [{path:"product/", label:"製品"}] -%>
<%-
 include('/_header', {
    pagetitle: 'iPhone 14 Pro Max／iPhone 14 Pro／iPhone 14 Plus／iPhone 14の取り扱いについて',
    directories: directories,
    description: '楽天モバイルにてiPhone 14 Pro Max／iPhone 14 Pro／iPhone 14 Plus／iPhone 14を取り扱いいたします。9/9（金） 21:00より順次予約受付を開始いたします。Air Pods Pro（第2世代）もお取り扱いいたします。',
    noindex: true,
    pathname: filepath,
    redirect: { url: 'product/iphone/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
