<table class="c-Table_Container">
	<colgroup>
	  <col width="15%">
	  <col width="15%">
	  <col>
	</colgroup>
	<tbody class="c-Dl_Origin">
	  <tr>
		<th colspan="2">キャンペーンコード</th>
		<td>
		  <p>1847</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
		</td>
	  </tr>
	  <tr>
		<th colspan="2">キャンペーン期間</th>
		<td>
		  <p>プランのお申し込み・製品のご購入期間</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">店舗（楽天モバイルショップ）</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-32">2023年3月10日（金）開店 ～2023年5月9日（火）閉店</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※2023年4月25日（火）終了日を変更しました。</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">「Rakuten Turbo」利用開始期限</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-32">「Rakuten Turbo」と「Rakuten Turbo 5G」の申し込みの翌月末日23：59まで</p>
		</td>
	  </tr>
	  <tr>
		<th colspan="2">キャンペーン条件</th>
		<td>
		  <p>上記各項目の期間内に①、②の条件をすべて満たした楽天会員の方</p>
		  <p class="u-Adjust_Mt-8">①店舗（楽天モバイルショップ）にて、「Rakuten Turbo」と「Rakuten Turbo 5G」を申し込み</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8">本ルール内では、Rakuten Turboはプラン名、Rakuten Turbo 5Gは製品名のことを指します</p>
		  <p class="u-Adjust_Mt-8">②「Rakuten Turbo」を期限までにご利用開始</p>
		  <p class="u-Adjust_Mt-8">利用開始日とは下記のいずれか早い方を1日目として、9日目に該当する日となります</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">（1）当社に配送完了データが通知されたこと</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">（2）「Rakuten Turbo」にて楽天回線の電波が利用できるようになったこと</p>
		</td>
	  </tr>
	  <tr>
		<th rowspan="3">キャンペーン特典 （キャッシュバック）</th>
		<th>特典内容</th>
		<td>6,000円（税込）をキャッシュバック<br><span class="c-Txt_Cap">※権利の譲渡はできません</span></td>
	  </tr>
	  <tr>
		<th>キャッシュバック日</th>
		<td>
		  <p>「Rakuten Turbo」の利用が確認された月の翌々月末日ごろに進呈</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8">※例）3月に「Rakuten Turbo」の利用開始が確認された場合には、その翌々月である5月末日ごろに進呈となります
		  </p>
		</td>
	  </tr>
	  <tr>
		<th>詳細</th>
		<td>
		  <p>
			楽天銀行のメール送金サービス「かんたん振込（メルマネ）」を利用して、キャッシュバック特典の送金を行います。<br>
			事前に連絡先メールアドレスの設定や受け取り方法をご確認ください。<br>
			誤った情報の入力など、受け取りの手続きの不備によりキャッシュバックの受け取りができなかった場合でも、再送はいたしません。あらかじめご了承ください。</p>
		  <p class="u-Adjust_Mt-8">＜メールの配信先＞</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">送金通知メールは、Rakuten Turboご利用開始月から翌月の時点でRakuten Turboに登録されている連絡先メールアドレス宛にお送りいたします</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※送金通知メールの受信にあたり、『～@ac.rakuten-bank.co.jp』『～@mobile.rakuten.co.jp』のすべてを受け取れる連絡先メールアドレスであること、受信拒否の設定をしているなど、配信先メールアドレスを必ずご確認ください<br>※キャッシュバック進呈月まではメールアドレスを変更されないようお願いいたします。メールアドレスを変更されますと、「送金通知メール」が不達となる可能性がございます</p>
		  <p class="u-Adjust_Mt-8">＜メール配信日＞</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">楽天銀行からの送金通知メール配信：Rakuten Turboご利用開始月の翌々月末頃</p>
		  <p class="u-Adjust_Mt-8">＜受け取り方法＞</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">受取手続きが不要なお客様</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">▼楽天銀行の口座を既にお持ちで、楽天銀行にご登録のサービス用メールアドレスと同一のメールアドレスでRakuten Turboにご登録されている方</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※お持ちの楽天銀行の口座に自動入金となり、受取手続きは必要ありません。なお、その他の方法での受取はできませんのでご注意ください<br>※Rakuten Turboにご登録のメールアドレスは、my 楽天モバイルに<a class="c-Link_Txt-inline" href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile?l-id=rmt_ecare_01" target="_blank" data-ratid="rmt_ecare_01" data-ratevent="click" data-ratparam="all">ログイン</a>後、「契約者情報」→「連絡先情報」にてご確認ください<br>※楽天銀行にご登録のメールアドレスは、楽天銀行口座にログイン後、「登録情報の変更」→「メール設定」にてご確認ください。確認方法は<a class="c-Link_Txt-inline" href="https://www.rakuten-bank.co.jp/guide/register/service-mail-address.html" target="_blank" data-lid_no="12" data-ratid="rmt_www.rakuten-bank.co.jp_12" data-ratevent="click" data-ratparam="all">こちら</a>をご確認ください</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">受取手続きが必要なお客様</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※「受取手続きが不要なお客様」に該当しない場合は受取手続きが必要となります。送金通知メールに沿って下記いずれかのお手続きを行ってください</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">▼楽天銀行口座で受け取る場合（楽天銀行口座をお持ちの方）</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※<a class="c-Link_Txt-inline" href="https://www.rakuten-bank.co.jp/guide/transfer/mailmoney/receive-rakuten-bank.html" target="_blank" data-lid_no="08">受け取り方法の詳細</a>をご確認いただき、お手続きをお願いいたします</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">▼楽天銀行口座を開設して受け取る場合</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※<a class="c-Link_Txt-inline" href="https://www.rakuten-bank.co.jp/guide/transfer/mailmoney/receive-account.html" target="_blank" data-lid_no="09">受け取り方法の詳細</a>をご確認いただき、お手続きをお願いいたします</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">▼他行口座で受け取る</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※受け取り方法、<a class="c-Link_Txt-inline" href="https://www.rakuten-bank.co.jp/guide/transfer/mailmoney/receive-other.html" target="_blank" data-lid_no="10">受け取り可能な金融機関の詳細</a>をご確認いただき、お手続きをお願いいたします</p>
		  <p class="u-Adjust_Mt-8">＜注意事項＞</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">・お受け取りの口座名義は、Rakuten Turboに登録された契約者名義（カナ）と同一である必要があり、異なる名義の口座ではお受け取りになれませんのでご注意ください</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">・以下に該当する場合、送金通知メールが不達となる可能性があります</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-32">過去に楽天銀行の口座情報として登録したメールアドレスを変更し、かつ、変更前のメールアドレスをRakuten Turboに登録している場合<br>楽天銀行口座に利用制限（停止等）がかかっている場合<br>Rakuten Turboの契約者名（カナ）と楽天銀行の口座名義（カナ）が同一ではない場合</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">・送金通知メールの送信より45日以内にお手続きいただけなかった場合、特典は無効となります</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">・お客様情報の変更は、Rakuten Turboご利用開始月から翌月までにご対応ください</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">・誤った情報の入力等、受け取りの手続きの不備によりキャッシュバックの受け取りができなかった場合でも、再送はいたしませんので、あらかじめご了承ください</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">・送金通知メール送信にあたり、楽天銀行株式会社にお客様のお名前、Rakuten Turboにてご登録いただきましたメールアドレスの受け渡しを行います。特典進呈後、楽天銀行の送金履歴としてお客様の情報が残りますので事前にご了承ください。お客様の情報の取扱いについて、詳しくは<a class="c-Link_Txt-inline" href="https://www.rakuten-bank.co.jp/policy/privacy/" target="_blank" data-lid_no="11" data-ratid="rmt_www.rakuten-bank.co.jp_11" data-ratevent="click" data-ratparam="all">「楽天銀行のプライバシーポリシー」</a>をご確認ください</p>
		</td>
	  </tr>
	  <tr>
		<th colspan="2">特典適用対象外</th>
		<td>
		  <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8">
			※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合<br>
			※「【ショップ限定】Rakuten Turbo利用開始で6,000円キャッシュバックキャンペーン」の適用回数が、おひとり様1契約1回を超える場合<br>
			※楽天モバイルショップ以外で購入した場合<br>
			※期限までに「Rakuten Turbo」を利用されなかった場合<br>
			※キャッシュバック進呈までに「Rakuten Turbo」の解約手続きを行なった場合<br>
			※キャッシュバック進呈までに楽天会員から退会している場合<br>
			※当社または楽天グループ株式会社が定める規約などに違反した場合<br>
			※そのほか、当社が会員として不適格であると判断した場合</p>
		</td>
	  </tr>
	  <tr>
		<th colspan="2">併用可能キャンペーン</th>
		<td>
		  <p>以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8">
			おトクなプラン料金キャンペーン（キャンペーンコード：1635）<br>
			契約事務手数料無料キャンペーン（キャンペーンコード：1636）<br>
			3カ月間プラン料金割引キャンペーン（キャンペーンコード：1822）<br>
			Rakuten TurboとRakuten UN-LIMIT VII利用開始で1,000円キャッシュバックキャンペーン（キャンペーンコード：1837）</p>
		</td>
	  </tr>
	  <tr>
		<th colspan="2">注意事項</th>
		<td>
		  <p class="c-Txt_Cap">
			※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください<br>
			※本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります<br>
			※製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります<br>
			※本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります<br>
			※記載の内容は2023年4月25日（火）時点の情報となります</p>
		</td>
	  </tr>
	</tbody>
  </table>