<table class="c-Table_Container">
	<colgroup>
	  <col width="15%">
	  <col width="15%">
	  <col>
	</colgroup>
	<tbody class="c-Dl_Origin">
	  <tr>
		<th colspan="2">キャンペーンコード</th>
		<td>
		  <p>1822</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8 u-Adjust_Pl-16">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
		</td>
	  </tr>
	  <tr>
		<th colspan="2">キャンペーン期間</th>
		<td>
		  <p>プランのお申し込み期間</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">Web</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-32">2023年3月10日（金）9：00～2023年5月10日（水）8：59</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">店舗</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-32">2023年3月10日（金）開店～2023年5月9日（火）閉店</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">「Rakuten Turbo」利用開始期限</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-32">「Rakuten Turbo」と「Rakuten Turbo 5G」の申し込みの翌月末日23：59まで</p>
		</td>
	  </tr>
	  <tr>
		<th colspan="2">キャンペーン条件</th>
		<td>
		  <p>上記各項目の期間内に①、②の条件をすべて満たした楽天会員の方</p>
		  <p class="u-Adjust_Mt-8">①「Rakuten Turbo」と「Rakuten Turbo 5G」の同時申し込み</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8">Rakuten Turboはプラン、Rakuten Turbo 5Gは製品のことを指します</p>
		  <p class="u-Adjust_Mt-8">②「Rakuten Turbo」を期限までにご利用開始</p>
		  <p class="u-Adjust_Mt-8">【利用開始とは】<br>利用開始日は下記のいずれか早い方を1日目として、9日目に該当する日となります</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">（1）当社に配送完了データが通知されたこと</p>
		  <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">（2）プランにて楽天回線の電波が利用できるようになったこと</p>
		</td>
	  </tr>
	  <tr>
		<th>キャンペーン特典</th>
		<th>特典内容</th>
		<td>プラン料金を3カ月間3,583円割引<br><span class="c-Txt_Cap">※4カ月目以降のプラン料金は月額3,685円となり、37カ月目以降のプラン料金は月額4,840円となります（おトクなプラン料金キャンペーン適用の場合）<br>※お支払い開始当月の割引金額は特典割引金額3,583円の日割り金額となります。4カ月目の割引金額はお支払い開始当月の3,583円の割引額の残額となります<br>（例）課金開始日が3月22日の場合、1カ月目は3,583円の日割り額の1,155円を割引いたします。4カ月目は3,583円と1,155円の差額2,428円を割引いたします</span></td>
	  </tr>
	  <tr>
		<th colspan="2">特典適用対象外</th>
		<td>
		  <p>以下の条件に当てはまる場合は、特典適用対象外となります</p>
		  <p class="c-Txt_Cap u-Adjust_Mt-8">
			※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合<br>※楽天モバイルショップ、楽天モバイルオンライン、以外で購入した場合<br>※本人確認の不備等により申し込みキャンセルとなった場合<br>※期限までに「Rakuten Turbo」を利用されなかった場合<br>※楽天会員から退会している場合<br>※当社または楽天グループ株式会社が定める規約などに違反した場合<br>※そのほか、当社が会員として不適格であると判断した場合</p>
		</td>
	  </tr>
	  <tr>
		<th colspan="2">注意事項</th>
		<td>
		  <p class="c-Txt_Cap">※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください<br>※本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります<br>※製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります<br>※本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります<br>※記載の内容は2023年3月10日（金）時点の情報となります</p>
		</td>
	  </tr>
	</tbody>
  </table>