Localized Code:
    <!DOCTYPE html> 
    <html> 
    <head> 
    <title><%= t('files_to_loc/ejs/index2.ejs:title') %></title> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <meta name="robots" content="noindex, nofollow, noarchive"> 
    </head> 
    <body> 
    <script type="text/javascript" charset="utf-8" src="https://tagserver-rcp.ui-ndep.stg-s.rmnkiba.local/chatskins/launch/inqChatLaunch10007358.js"></script> 
    </body> 
    </html>