<% const pagetitle = "楽天ひかりのIPv6（クロスパス）対応ルーター" -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    description: '楽天ひかりIPv6（クロスパス）のインターネット接続の利用に必要なクロスパス対応ルーターを掲載しています',
    noindex: true,
    pathname: filepath,
    ishikari: true,
    redirect: {url: 'hikari/support/wifi-router/'},
    isdivide: true,
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
