<div>
  <picture>
    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/area/<%= namespace %>/img-data-price-sp-230224.png" width="688" height="1346">
    <img src="<%= sitepath %>assets/img/area/<%= namespace %>/img-data-price-pc-230224.png" width="1712" height="903" alt="楽天回線エリアデータ無制限※1で2,980円/月税込3,278円さらに使わなければ勝手に安くなる!">
  </picture>
</div>