<%_
const namespace = "area-city"
const imgPath = "/assets/img/area/city/"
_%>
<div>
  <div id="js-disaster" class="l-System_Container top-Disaster_Msgboard-wrapper" aria-hidden="true">
    <div class="c-Accordion top-Disaster_Accordion">
      <button type="button" id="accordion-disaster" class="c-Accordion_Trigger js-Accordion_Trigger top-Disaster_Accordion-trigger" aria-expanded="false" aria-controls="accordion-content-disaster"><span class="c-Icon_Chevron-right c-Accordion_Arrow top-Disaster_Accordion-arrow"></span>災害用伝言板 提供中</button>
      <div id="accordion-content-disaster" class="c-Accordion_Panel js-Accordion_Panel top-Disaster_Accordion-panel" role="region" aria-labelledby="accordion-disaster" aria-hidden="true">
        <div class="top-Disaster_Msgboard">
          <p class="top-Disaster_Msgboard-txt">パソコンや携帯電話からもご利用できます。<br class="u-Show_Oox"><a href="<%= sitepath %>service/disaster_board/" class="c-Link_Txt">ご利用方法はこちら</a></p>
          <p class="top-Disaster_Msgboard-btn-wrap">
            <a href="https://public-safety.mobile.rakuten.co.jp/?lang=ja" class="c-Btn_Primary top-Disaster_Msgboard-btn" target="_blank"><span>安否情報を確認・登録する</span></a>
            <a href="https://public-safety.mobile.rakuten.co.jp/?lang=en" class="c-Link_Txt-inline" target="_blank">[ENG] Disaster Message Board<span class="c-Icon_Chevron-right"></span></a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="js-disaster-preview" class="top-Disaster_MsgboardTrial-wrapper" aria-hidden="true">
    <div class="l-System_Container">
      <div class="top-Disaster_MsgboardTrial">
        <p class="c-Txt_Emp-01">災害用伝言板 体験サービス実施中</p>
        <ul>
          <li><a href="<%= sitepath %>service/disaster_board/#trial-services" class="c-Link_Txt-inline">体験サービスの詳細を見る<span class="c-Icon_Chevron-right"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
