<section class="u-Adjust_My-56">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv3" id="cautions">■注意事項</h2>
    <p class="c-Txt_Normal u-Adjust_Mt-24">■他社プラン比較条件について</p>
    <p class="c-Txt_Normal-s u-Color_Light-black">
      <span class="u-Weight_Bold u-Color_Primary">※その他、各種キャンペーンによって、割引が適用される場合があります。</span><br>
      ※製品代、契約事務手数料、データチャージを含むオプション料、通話料等は別費用。
    </p>
    <p class="c-Txt_Normal-s u-Color_Light-black u-Adjust_Mt-24">
      【ドコモについて】<br>
      ※「5Gギガホ プレミア」は、加入の場合の金額。<br>
      ※「5Gギガホ プレミア」の家族割は「みんなドコモ割」が適用される。3回線以上適用で1,100円／月（税込）の割引。
    </p>
  </div>
</section>
