<section>
  <div class="l-System_Container">
    <div class="u-Adjust_Pt-24 u-Adjust_Pb-24 u-Adjust_Align-center">
      <a href="#modal1" class="area-city-Nav_Link c-Link_Txt-icon-front js-Modal" data-ratid="<%_ if( jData.directory2 ) { _%>city<%_ } else { _%>prefecture<%_ } _%>_nav" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Zoom-in-l"></span>他のエリア情報を見る</a>
      <div id="modal1" style="display:none;">
        <div class="area-city-Nav_Wrap">
          <h3 class="c-Heading_Lv3 u-Adjust_Mb-24">他のエリア情報を見る</h3>
          <div id="city-nav"></div>
        </div>
      </div>
    </div>
  </div>
</section>
