<% if (isClosed === 'true') { %>
    <div class="i-turbo-campaign-close l-System_Container u-Adjust_Align-center">
      <p class="i-turbo-campaign-close_Title u-Adjust_Align-center u-Adjust_Mt-24">本キャンペーンは終了しました</p>
      <a href="<%= sitepath %>internet/turbo/" class="c-Btn_Regular u-Adjust_Mt-24 i-turbo-campaign-close_Btn">Rakuten Turboトップページを見る</a>
      <p class="c-Txt_Cap u-Adjust_Align-center u-Adjust_Mt-16">※ページの情報はキャンペーン開催時点の情報です</p>
    </div>
    <style>
      footer {
        padding-bottom: 0!important;
      }
    </style>
  <% } %>
  