<% const pagetitle = "お知らせ" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイル（楽天回線）のお知らせページ。新着情報や各種お知らせ情報をご案内します',
    keywords: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'information/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
