<% const namespace = "mno-dm" -%>

<% if (typeof tag != 'undefined') { %>
  <% if (tag == 'h4') { %>
    <h4 class="c-Heading_Lv4">楽天ひかりの実測値公開中</h4>
  <% } %>
<% } else { %>
  <h3 class="c-Heading_Lv4">楽天ひかりの実測値公開中</h3>
  <p class="u-Adjust_Mt-8">
    IPv6対応の楽天ひかりなら、<br>
    国内どこでも高速通信で快適。
  </p>
  <div class="u-Adjust_Mt-32 <%= namespace %>-Period_Show-pc">
    <img src="/assets/img/hikari/campaign/mno-dm/img-mno-dm-sec4-01.png?211020" alt="" width="225">
  </div>
<% } %>

