<% if (typeof tag != 'undefined') { %>
  <% if (tag == 'h4') { %>
    <h4 class="c-Heading_Lv4">楽天ひかり実測結果公開中</h4>
  <% } %>
<% } else { %>
  <h3 class="c-Heading_Lv4">楽天ひかり実測結果公開中</h3>
<% } %>
<p class="u-Adjust_Mt-8">IPv6対応の楽天ひかりなら、国内どこでも高速通信で快適。</p>
<p class="c-Txt_Cap u-Adjust_Mt-8">
  ※ 本サービスはベストエフォート方式。高速性、常時接続性に関し保証するものではなく、インターネット利用時の速度は機器や回線混雑状況等により異なります。<br>
  ※ ただいまの実測結果：東京都で1日3回通信速度を計測し、過去10回分の平均を表示。
</p>
