<div id="hikari-gauge-scroll" class="i-hikari-Gauge-b_Wrapper">
  <svg
    class="i-hikari-Gauge-b_Scale-pc"
    width="296"
    height="227">
    <circle
      class="i-hikari-Gauge-b_Scale-pc-circle"
      stroke="#BFBFBF"
      stroke-width="10"
      fill="transparent"
      r="143"
      cx="148"
      cy="148"
      transform="rotate(29.25,148,148)"
    />
  </svg>
  <svg
    class="i-hikari-Gauge-b_Scale-sp"
    width="208"
    height="160">
    <circle
      class="i-hikari-Gauge-b_Scale-sp-circle"
      stroke="#BFBFBF"
      stroke-width="6"
      fill="transparent"
      r="101"
      cx="104"
      cy="104"
      transform="rotate(29,104,104)"
    />
  </svg>
  <div class="i-hikari-Gauge-b_Data u-Adjust_Align-center"><p id="js-avg-Tokyo"><span class="countup i-hikari-Gauge-b_Data-number">0</span><br><span class="i-hikari-Gauge-b_Data-unit">Mbps</span></p></div>
  <div class="i-hikari-Gauge-b_Container">
    <div class="i-hikari-Gauge-b_Back"></div>
    <div class="i-hikari-Gauge-b_Front-<%= typeof displayColor === 'undefined' ? 'white' : displayColor %>"></div>
  </div>
</div>
