<% const pagetitle = "ご意見・ご要望を送信する（iOSのお客様）" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'https://service.link.link/guide/feedback/send_feedback.html'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
