<div class="l-System_Container">
  <div class="product-top_FindUsed">
    <p class="c-Txt_Emp-02 u-Adjust_Pt-16">＼ iPhoneは使えるの？ ／</p>
    <p class="c-Txt_Normal-l u-Adjust_Pt-8"><b>お持ちのスマホが使えるか<br>確認してみませんか？</b></p>
    <div class="product-top_FindUsed-btn u-Adjust_Pt-8">
    <%_ if (typeof lid !== 'undefined') { _%>
      <a href="<%= sitepath %>product/byod/?l-id=<%= lid %>" class="c-Btn_Secondly-large">楽天モバイルで使えるか調べる</a>
    <%_ } else { _%>
      <a href="<%= sitepath %>product/byod/" class="c-Btn_Secondly-large">楽天モバイルで使えるか調べる</a>
    <%_ } _%>
    </div>
  </div>
</div>
