<div class="l-System_Container u-Adjust_Mt-48">
  <a class="c-Banner_Hover-act" href="<%= sitepath %>campaign/applewatch-insurance/?l-id=<%- cp_l_id %>_campaign_applewatch-insurance">
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-campaign-watch-insurance-343-108-221101.png">
      <img src="<%= sitepath %>assets/img/bnr/bnr-campaign-watch-insurance-1032-160-230215.png" alt="楽天モバイルでApple Watchご購入でワークアウト保険が2年間無料" style="border: 1px solid #D1D1D1;">
    </picture>
  </a>
</div>