<%#-
<div class="product-iphone_Chat">
  <div class="l-System_Container">
    <div class="c-Theme-Borderbox">
      <div class="product-iphone_Chat-inner">
        <div class="product-iphone_Chat-title u-Adjust_Align-center">
          <span class="c-Icon_Chat-l"></span>
          <h3>チャットでお問い合わせ</h3>
        </div>
        <div class="u-Adjust_Mt-16 u-Adjust_Align-center">
          <a href="#" class="c-Btn_Regular"><span>iPhone・Apple製品購入のご相談はこちら</span></a>
          <p class="u-Adjust_Mt-8">営業時間 9:00〜24:00</p>
        </div>
      </div>
    </div>
  </div>
</div>
%>
