<div id="scroll-product-iphone-list" class="product-iphone_List">
  <div class="l-System_Container">
    <%# スクロール計測 %>
    <div class="u-Rat_Appear-height" data-ratid="<%= currentDir %>_scroll-13_product-lineup" data-ratevent="appear">&nbsp;</div>
    <h2 class="c-Heading_Lv2">iPhone一覧</h2>
    <div class="product-iphone_List-model">
      <ul>
        <li class="c-Card_Normal">
          <%_ if (l_id) { _%>
            <a href="/product/iphone/iphone-12/?l-id=<%- l_id %>_iphone-12">
          <%_ } else { _%>
            <a href="/product/iphone/iphone-12/">
          <%_ } _%>
            <div>
              <img src="/assets/img/product/iphone/iPhone_12_lineup.png" alt="iPhone_12">
              <h3 class="c-Heading_Lv4">iPhone 12</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="product-iphone_List-button u-Adjust_Mt-40">
      <ul>
        <li>
          <%_ if (l_id) { _%>
            <a href="/product/iphone/?l-id=<%- l_id %>_iphone" class="c-Btn_Regular"><span>iPhone一覧を見る</span></a>
          <%_ } else { _%>
            <a href="/product/iphone/" class="c-Btn_Regular"><span>iPhone一覧を見る</span></a>
          <%_ } _%>
        </li>
        <li>
          <%_ if (l_id) { _%>
            <a href="/product/iphone/comparison/?l-id=<%- l_id %>_comparison" class="c-Btn_Regular"><span>iPhoneを比較する</span></a>
          <%_ } else { _%>
            <a href="/product/iphone/comparison/" class="c-Btn_Regular"><span>iPhoneを比較する</span></a>
          <%_ } _%>
        </li>
      </ul>
    </div>
  </div>
</div>
