        <li class="c-Theme-Light">
          <p class="c-Txt_Emp-01"><a href="/service/iphone/applecare-icloud/?l-id=product_iphone_<%- currentDir %>_service_iphone_applecare-icloud" class="c-Link_Txt">故障紛失保証 with AppleCare Services & iCloud+</a></p>
          <div class="product-iphone_Recommend-service-apple-care u-Adjust_Mt-16">
            <div class="product-iphone_Recommend-service-apple-care-img">
              <div>
                <img src="/assets/img/product/iphone/apple_care.png?220413" width="100" height="100" alt="" loading="lazy">
              </div>
              <div>
                <img src="<%= sitepath %>assets/img/product/icon-i-cloud.png" width="100" height="100" alt="" loading="lazy">
              </div>
            </div>
            <div>
              <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
              <p class="u-Adjust_Mt-8">iPhoneもデータもオールインワンで守ります。</p>
            </div>
          </div>
        </li>
