<% const pagetitle = "春の新生活！スマホもネットも！最大64,000円相当分おトクなキャンペーンなどお得情報をご案内！" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "new-life" -%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: '春の新生活シーズン乗り換え応援！スマホも、おうちのネットもおトクが満載！最大64,000円相当分おトクなキャンペーンなどお得情報をご案内！',
    noindex: true,
    pathname: filepath,
    redirect: {url: ''}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
