<%_ if (typeof orglid1 !=='undefined' ) { _%>
  <a class="c-Banner_Hover-act" href="<%= sitepath %>internet/turbo/campaign/six-month-free/?l-id=<%= orglid1 %>" data-ratid="<%= orglid1 %>" data-ratevent="click" data-ratparam="all">
<%_ } else { _%>
  <a class="c-Banner_Hover-act" href="<%= sitepath %>internet/turbo/campaign/six-month-free/">
<%_ } _%>
  <picture>
    <source media="(max-width: 834px)" srcset="/assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-343-108.png" width="343" height="108">
    <img src="/assets/img/internet/turbo/bnr/bnr-turbo_campaign_6mf-1032-160.png" alt="Rakuten Turbo 工事不要！！すぐに使える おうちのWi-Fi プラン料金6カ月0円 さらにスマホとセットで使うと20,000ポイント還元 ※製品代金 別途41,580円 ※プラン料金7カ月目以降4,840円 ※その他条件あり" width="1032" height="160" loading="lazy">
  </picture>
  </a>
