<a class="c-Banner_Hover-act" href="<%= sitepath %>hikari/campaign/six-month-free/" data-lid_parts="<%= lidparts %>">
  <picture>
    <source media="(max-width: 834px)" srcset="/assets/img/hikari/bnr/bnr-six-month-free-343-108-240122.png" width="343" height="108">
    <img src="/assets/img/hikari/bnr/bnr-six-month-free-1032-160-240122.png" alt="楽天ひかり初めてお申し込み&楽天モバイルご利用で楽天ひかりの月額基本料6カ月0円 ※契約解除料、その他条件あり さらに楽天市場のお買い物がポイント毎日全員7倍" width="1032" height="160" loading="lazy">
  </picture>
</a>
