<% const pagetitle = "" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath
  });
%>
<script src="https://www.rakuten.co.jp/com/advance/mobile/mnoprj_bank_card/responsive/5436/condition.js"></script>
<script src="https://r.r10s.jp/com/ap/target/phoenix-2.7.2.min.js"></script>
<%- include('/include/_append-head') %>
</head>
<body data-phoenix-mnoprj_bank_card_responsive>
<%- include('/include/_prepend-body') %>
<script type="text/javascript">
  setTimeout(function(){
    location.href = "/guide/application/card-bank-campaign/";
  }, 2000);
</script>
<%- include('/include/_append-body') %>
</body>
</html>
