<div class="u-Adjust_Pl-16 u-Adjust_Pr-16">
  <h3 class="c-Heading_Lv3">混雑予測</h3>
  <p class="u-Adjust_Mt-16 faq-Wait_Message">下記は本日の時間帯ごとの混雑予測の目安です。</p>
  <table class="u-Adjust_Mt-16 faq-Wait_Table">
    <thead>
      <tr>
        <th>時間帯</th>
        <th>チャット相談</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><span>09:00～12:00</span></th>
        <td><span class="faq-Wait_Icon-negative c-Icon_Product-negative"></span><span>返信にお時間をいただきます</span></td>
      </tr>
      <tr>
        <th><span>12:00～18:00</span></th>
        <td><span class="faq-Wait_Icon-positive c-Icon_Product-positive"></span><span>比較的、早く返信できます</span></td>
      </tr>
      <tr>
        <th><span>18:00～21:00</span></th>
        <td><span class="faq-Wait_Icon-negative c-Icon_Product-natural"></span><span>返信に少しお時間をいただきます</span></td>
      </tr>
      <tr>
        <th><span>21:00～23:00</span></th>
        <td><span class="faq-Wait_Icon-negative c-Icon_Product-negative-2"></span><span>返信が翌日以降になる場合があります</span></td>
      </tr>
      <!-- <tr>
        <th><span>24:00～09:00</span></th>
        <td><span class="faq-Wait_Icon-close c-Icon_Product-close"></span><span>翌朝9:00より順次返信します</span></td>
      </tr> -->
    </tbody>
  </table>
  <p class="u-Adjust_Mt-16 faq-Wait_Message">お問い合わせいただいた時間帯により応答状況が表示と異なる場合がございます。</p>
  <div class="c-Infobox_Standing-border u-Adjust_Mt-16 faq-Wait_List">
    <dl><dt>混雑度1：</dt><dd><span class="faq-Wait_Icon-positive c-Icon_Product-positive-2"></span><span>すぐに返信できます</span></dd></dl>
    <dl><dt>混雑度2：</dt><dd><span class="faq-Wait_Icon-positive c-Icon_Product-positive"></span><span>比較的、早く返信できます</span></dd></dl>
    <dl><dt>混雑度3：</dt><dd><span class="faq-Wait_Icon-negative c-Icon_Product-natural"></span><span>返信に少しお時間をいただきます</span></dd></dl>
    <dl><dt>混雑度4：</dt><dd><span class="faq-Wait_Icon-negative c-Icon_Product-negative"></span><span>返信にお時間をいただきます</span></dd></dl>
    <dl><dt>混雑度5：</dt><dd><span class="faq-Wait_Icon-negative c-Icon_Product-negative-2"></span><span>返信が翌日以降になる場合があります</span></dd></dl>
  </div>
</div>
