<% const pagetitle = "iOS14.4以降を搭載するiPhoneの楽天回線対応について" -%>
<% const directories = [{path:"information/", label:"お知らせ"}, {path:"information/news/", label:"新着情報"}, {path:"information/news/product/", label:"製品のお知らせ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: false,
    pathname: filepath,
    redirect: {url: 'information/news/product/655/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
