<% const pagetitle = "楽天モバイルからiPhone 12シリーズがまもなく登場" -%>
<% const directories = [] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    <!-- directories: directories, -->
    description: '楽天モバイルから、人気のiPhone 12、iPhone 12 Pro、iPhone 12 Pro Max、iPhone 12 mini、iPhone SE（第2世代）などがまもなく登場します。',
    noindex: false,
    pathname: filepath
  });
%>
<meta http-equiv="refresh" content="0;URL=<%= sitepath %>product/iphone/">
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
