<div>
  <p class="u-Adjust_Align-center c-Txt_Emp-01">【キャンペーン期間】</p>
  <p class="u-Adjust_Align-center u-Adjust_Mt-8">ショップ：2023年6月10日（土）～2023年7月6日（木）閉店（土日祝日・その他休日に類する日（お盆等））</p>
  <p class="u-Adjust_Align-center u-Adjust_Mt-8 c-Txt_Emp-02">
    [開催日]<br>
    6月：10日、11日、17日、18日、24日、25日　7月：1日、2日
  </p>
  <ul class="u-Adjust_Mt-16 <%= namespace %>-Util_Flex-center">
    <li>
      <a href="#campaign-step" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Chevron-down"></span>ポイント進呈の流れ</a>
    </li>
    <li>
      <a href="#campaign-rule1526" class="c-Link_Txt-icon-front js-scroll"><span class="c-Icon_Chevron-down"></span>キャンペーンルール</a>
    </li>
  </ul>
  <div class="u-Adjust_Mt-32 u-Adjust_Align-center">
    <a href="<%= sitepath %>shop/?l-id=campaign_shop-limited-byod_shop_01" class="c-Btn_Primary-large">お近くのショップを探す・来店予約</a>
  </div>
</div>
