<div class="u-Adjust_Mt-64">
  <h2 class="c-Heading_Lv2" id="campaign-rule1943">【ショップ＆土日祝日限定】回線のみ契約で、さらに2,000ポイントプレゼント</h2>
  <dl class="c-Dl_Origin u-Adjust_Mt-24">
    <div>
      <dt>キャンペーンコード</dt>
      <dd>
        <p>1943</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">
          ※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください
        </p>
      </dd>
    </div>
    <div>
      <dt>キャンペーン期間</dt>
      <dd>
        <p>- 店舗（楽天モバイルショップ）　2023年6月10日（土）開店～2023年7月6日（木）閉店　のうち土曜日・日曜日・祝日・その他休日に類する日（お盆等）</p>
        <p class="u-Adjust_Mt-16">
         [開催日]<br>
         6月：10日、11日、17日、18日、24日、25日<br>
         7月：1日、2日
        </p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※2023年6月28日（水）に終了日を終了日未定から2023年7月6日（木）閉店に変更しました。</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ プラン利用開始期限</p>
        <p>プランのお申し込みの翌月末日23:59まで</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■「Rakuten Link」利用期限</p>
        <p>プランのお申し込みの翌月末日23:59まで</p>
      </dd>
    </div>
    <div>
      <dt>キャンペーン条件</dt>
      <dd>
        <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方</p>
        <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Mt-8">※ 特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【1】店頭で<span class="c-Txt_Emp-02">「Rakuten最強プラン」</span>へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
        <div class="u-Adjust_Mt-8 u-Adjust_Pl-16">
          <ul>
            <li><span>（1）</span>新規お申し込み</li>
            <li><span>（2）</span>他社からの乗り換え（MNP）でお申し込み</li>
            <li><span>（3）</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み
              <p class="c-Txt_Emp-02 c-Txt_Cap u-Adjust_Pl-16 u-Adjust_Mt-8">
                ※「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります<br>
                ※「Rakuten最強プラン（データタイプ）」は対象外です</p>
            </li>
          </ul>
        </div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【2】「Rakuten最強プラン」利用開始</p>
        <div class="u-Adjust_Mt-8 u-Adjust_Pl-16">
          <p>【プラン利用開始日とは】</p>
          <p class="u-Adjust_Mt-8">
            - 新規お申し込みの場合　　※（1）（2）のいずれか早い方がプラン利用開始日となります<br>
            （1）当社に配送完了データが通知された日<br>
            （2）プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
          </p>
          <p class="u-Adjust_Mt-8">
            - 他社から乗り換え（MNP）の場合<br>
            プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
          </p>
          <p class="u-Adjust_Mt-8">
            - 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
            プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
          </p>
        </div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【3】お持ちの楽天回線対応製品※1を利用し「Rakuten Link」のご利用</p>
        <div class="u-Adjust_Mt-8 u-Adjust_Pl-16">
          <p>「Rakuten最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
          <p class="u-Adjust_Mt-8">【Rakuten Link アプリご利用方法】</p>
          <div class="u-Adjust_Pl-8">
            <p class="u-Adjust_Mt-8">下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
              <a href="<%= sitepath %>guide/rakuten-link/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a>
            </p>
            <p class="u-Adjust_Mt-8">- 通話方法：『電話をかける』の項目をご確認ください</p>
          </div>
          <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】</p>
          <div class="u-Adjust_Pl-8">
            <p class="u-Adjust_Mt-8">「キャンペーンにおけるRakuten Linkの利用について」をご確認ください<br>
              <a href="<%= sitepath %>faq/detail/00001919/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/faq/detail/00001919/</a>
            </p>
            <p class="c-Txt_Cap u-Adjust_Mt-8">※ 電話の発信時、（0570）（0180）などの他社接続サービス、#ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
          </div>
        </div>
        <ul class="u-Adjust_Mt-16">
          <li class="c-Txt_Cap"><span>※1</span>キャンペーン対象製品について
            <p>【iOS版】<br>
            iOS 14.4以降（推奨）を搭載したiPhone
            </p>
            <p>
              【Android版】<br>
              Android 9以降を搭載した<a href="<%= sitepath %>product/certified-products/" class="c-Link_Txt">楽天回線対応製品</a>
            </p>
          </li>
          <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>
            ご利用いただく製品によっては、次の機能が利用できない場合があります（接続回線の自動切替、緊急地震速報などの受信、高精度な位置情報測位など）<br>
            <a href="<%= sitepath %>product/byod/" class="c-Link_Txt">ご利用予定の製品の対応状況の確認 </a>
          </li>
          <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>ご利用いただける機能であっても、OSやソフトウェアの更新等により、機能のご利用が制限される場合があります</li>
          <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>SIMロックの解除等が必要な場合があります</li>
        </ul>
      </dd>
    </div>
    <div>
      <dt>キャンペーン特典 （楽天ポイント）<br>特典内容</dt>
      <dd>
        <p class="c-Txt_Emp-01">2,000ポイント</p>
      </dd>
    </div>
    <div>
      <dt>ポイント付与日</dt>
      <dd>
        <p class="c-Txt_Emp-01">「Rakuten最強プラン」のプランお申し込みの4カ月後の末日ごろに付与</p>
        <ul class="u-Adjust_Mt-16">
          <li class="c-Txt_Cap"><span>※</span>例）6月に「Rakuten最強プラン」のお申し込みをし、7月末日までにすべての条件を達成した場合、プランお申し込みの4カ月後である2023年10月末日ごろに付与となります</li>
          <li class="c-Txt_Cap"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li class="c-Txt_Cap"><span>※</span>権利の譲渡はできません</li>
        </ul>
      </dd>
    </div>
    <div>
      <dt>ポイント有効期間</dt>
      <dd>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="u-Adjust_Mt-16">
          <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt" target="_blank">期間限定ポイントについて</a></li>
          <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </dd>
    </div>
    <div>
      <dt>特典適用対象外</dt>
      <dd>
        <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
        <ul class="u-Adjust_Mt-16">
          <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
          <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ以外で購入した場合</li>
          <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
          <li class="c-Txt_Cap"><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった</span>場合</li>
          <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
          <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
          <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
          <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」のご契約が過去にある場合</li>
          <li class="c-Txt_Cap"><span>※</span>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
        </ul>
      </dd>
    </div>
    <div>
      <dt>併用可能キャンペーン</dt>
      <dd>
        <p class="c-Txt_Emp-01">以下のキャンペーンは<span class="c-Txt_Emp-02">併用可能</span>となります。以下記載のキャンペーン以外は併用不可となります。</p>
        <ul class="u-Adjust_Mt-16">
          <li class="c-Txt_Cap"><span>-</span>【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</li>
          <li class="c-Txt_Cap"><span>-</span>【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）</li>
        </ul>
      </dd>
    </div>
    <div>
      <dt>注意事項</dt>
      <dd>
        <ul>
          <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
          <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
          <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
          <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です</li>
          <li class="c-Txt_Cap"><span>※</span>記載の内容は2023年7月3日（月）時点の情報となります</li>
        </ul>
      </dd>
    </div>
  </dl>
</div>
