<% const pagetitle = "シミュレーション結果" -%>
<% const directories = [{path:"fee/saikyo-plan/", label:"Rakuten最強プラン（料金プラン）"}, {path:"fee/simulation/index_cpn39814.html", label:"料金シミュレーション"}] -%>

<%-
  include('/_header', {
    pagetitle,
    directories,
    description: '料金シミュレーションの結果画面です。楽天モバイルだと毎月いくらになるのか、他社と比較するとどのくらいの月額料金になるのかご確認いただけます。楽天モバイルのおすすめポイントも伝授します！',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'fee/simulation/index_cpn39814.html'}
  });
%>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/_append-body') %>
</body>
</html>
