<h2 id="faq" class="c-Heading_Lv2">よくあるご質問</h2>
  <div class="u-Adjust_Mt-24">
    <div class="c-Accordion">
      <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1" data-ratid="mi_rmb_web_20240415_corporation_faq1" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントはいつ付与されますか？</button>
      <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="true">
        <p>「Rakuten最強プラン」の利用開始が確認された月の4カ月後の月末ごろにポイントが付与されます。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2" data-ratid="mi_rmb_web_20240415_corporation_faq2" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン対象になるための申し込みは必要ですか？</button>
      <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="true">
        <p>必要です。STEP 1、STEP 2をご確認ください。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3" data-ratid="mi_rmb_web_20240415_corporation_faq3" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>本キャンペーンの特典は何回適用することができますか？</button>
      <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="true">
        <p>おひとり様につき1回限りとなります。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4" data-ratid="mi_rmb_web_20240415_corporation_faq4" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>既に契約した回線があります。本キャンペーン経由で新たに回線を契約した場合、特典対象になりますか？（2回線目以降の申し込みでも対象になりますか）</button>
      <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="true">
        <p>2回線目以降も条件を満たすことで対象となります。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5" data-ratid="mi_rmb_web_20240415_corporation_faq5" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>「同意してキャンペーンに申し込む」ボタンを押下後、回線申し込み完了までには期限がありますか？</button>
      <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="true">
        <p>はい、どちらも同月内に完了してください。月を跨いだ場合は、「同意してキャンペーンに申し込む」ボタンを押下し、回線申し込みを完了してください。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-6" data-ratid="mi_rmb_web_20240415_corporation_faq6" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>併用できるキャンペーンはありますか？</button>
      <div id="accordion-content-faq-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-6" aria-hidden="true">
        <p>キャンペーンルールの「併用可能キャンペーン」欄をご確認ください。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-7" data-ratid="mi_rmb_web_20240415_corporation_faq7" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン適用条件を満たしているか確認できますか？</button>
      <div id="accordion-content-faq-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-7" aria-hidden="true">
        <p><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001802/?l-id=mi_rmb_web_20240415_corporation_faq7_2" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a>に記載の手順でご確認ください。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-8" data-ratid="mi_rmb_web_20240415_corporation_faq8" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ポイントが付与されていません</button>
      <div id="accordion-content-faq-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-8" aria-hidden="true">
        <p>キャンペーン条件を達成しているかご確認ください。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-9" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-9" data-ratid="mi_rmb_web_20240415_corporation_faq9" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>対象のキャンペーンページ以外から回線を申し込んでしまった場合、どうすればよいですか？</button>
      <div id="accordion-content-faq-9" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-9" aria-hidden="true">
        <p>回線お申し込み完了と同月内にキャンペーンページの「同意してキャンペーンに申し込む」ボタンを押下していただければ、回線お申し込み後でも対象となります。</p>
      </div>
    </div>
  </div>
