<h2 id="faq" class="c-Heading_Lv2">よくあるご質問</h2>
  <div class="u-Adjust_Mt-24">
    <div class="c-Accordion">
      <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン対象になるためのエントリーは必要ですか</button>
      <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="true">
        <p>本キャンペーンにエントリーは必要ございません。<br>参加条件を満たしていればキャンペーンの対象となります。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン適用条件を満たしているか確認できますか</button>
      <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="true">
        <p>Rakuten最強プランと一緒に対象製品を選択すると値引きされた金額が表示されます。</p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>キャンペーン期間内に楽天モバイルに申し込みができているか、確認方法はありますか？</button>
      <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="true">
        <p class="u-Adjust_Mt-16">以下2種類の方法があります。<br>
          ①お申し込み完了メールを確認する<br>
          ②「<a href="https://portal.mobile.rakuten.co.jp/my-rakuten-mobile">my 楽天モバイル</a>」の申し込み履歴から確認する<br>
          詳しい手順は<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001827/">こちら</a>からもご確認いただけます。
        </p>
      </div>
    </div>
    <div class="c-Accordion">
      <button id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>景品の発送はいつごろになりますか？</button>
      <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="true">
        <p>2024年3月末日ごろです。</p>
      </div>
    </div>
  </div>
