<%-
 include('/_header', {
    top: true,
    pagetitle: 'トップ',
    description: '楽天モバイル公式。楽天の携帯キャリアサービス、本格始動。これまでの常識をくつがえす料金プラン「Rakuten UN-LIMIT」申込受付中！Rakuten Miniなど人気のAndroidスマートフォンも続々登場。',
    noindex: true,
    pathname: '/',
    redirect: {url: ''}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
