<div class="l-System_Container">
  <div class="top-Layout_Disaster">
    <div class="l-System_Grid top-Disaster">
      <div class="c-Infobox_Standing-light top-Disaster_Box">
        <p class="c-Txt_Normal-m c-Txt_Emp-01 u-Adjust_Mb-16"><span class="c-Icon_Review-edit-l"></span>安否情報の確認・登録</p>
        <p class="u-Adjust_Mb-16">Google パーソンファインダーで、安否情報の登録や、登録された安否情報の確認ができます。</p>
        <a href="https://google.org/personfinder/japan" class="c-Btn_Regular" target="_blank"><span>安否情報の確認・登録はこちら</span><span class="c-Icon_New-window-l u-Adjust_Pl-8"></span></a>
      </div>
      <div class="c-Infobox_Standing-light top-Disaster_Box">
        <p class="c-Txt_Normal-m c-Txt_Emp-01 u-Adjust_Mb-16"><span class="c-Icon_Voice-input-l"></span>災害用伝言板 (Web 171)</p>
        <p class="u-Adjust_Mb-16">災害発生時の安否情報登録にはNTT東日本／西日本が提供する「災害用伝言板（web171）」を推奨いたします。</p>
        <p class="c-Txt_Normal-s u-Adjust_Mb-16">災害用伝言板（web171）は、加入電話・ISDN・ひかり電話・携帯電話（090、080）・PHS（070）・IP電話（050）を含め全ての電話番号で登録が可能です。<br>
        また、災害用伝言板(web171)はNTT docomo・au・SoftBankの災害伝言掲示板システムと連携しており、災害用伝言板(web171)に登録した情報は、携帯電話各社の災害伝言掲示板からも検索することが出来ます。</p>
        <a href="https://www.web171.jp/" class="c-Btn_Regular" target="_blank"><span>災害用伝言板はこちら</span><span class="c-Icon_New-window-l u-Adjust_Pl-8"></span></a>
      </div>
    </div>
    <p class="c-Txt_Emp-01 u-Adjust_Mt-16">「安否情報の確認・登録（Google パーソンファインダー）」、「災害用伝言版(Web 171)」をご利用いただけます。<br>
    両サービスのご利用をおすすめいたします。</p>
  </div>
</div>
