<div class="l-System_Container">
  <div class="top-Layout_Disaster">
    <div class="l-System_Grid top-Disaster-small">
      <div class="c-Infobox_Standing-light top-Disaster_Box">
        <p class="c-Txt_Normal-m c-Txt_Emp-01 u-Adjust_Mb-16"><span class="c-Icon_Review-edit-l"></span>安否情報の確認・登録</p>
        <a href="https://google.org/personfinder/japan" class="c-Btn_Regular" target="_blank"><span>安否情報の確認・登録はこちら</span><span class="c-Icon_New-window-l u-Adjust_Pl-8"></span></a>
      </div>
      <div class="c-Infobox_Standing-light top-Disaster_Box">
        <p class="c-Txt_Normal-m c-Txt_Emp-01 u-Adjust_Mb-16"><span class="c-Icon_Voice-input-l"></span>災害用伝言板 (Web 171)</p>
        <a href="https://www.web171.jp/" class="c-Btn_Regular" target="_blank"><span>災害用伝言板はこちら</span><span class="c-Icon_New-window-l u-Adjust_Pl-8"></span></a>
      </div>
    </div>
  </div>
</div>
