<% const pagetitle = "Apple Watch Series 9／Apple Watch Ultra 2／Apple Watch SE（第2世代）のお取り扱いについて" -%>
<% const directories = [{path:"product/", label:"製品"}] -%>
<%-
 include('/_header', {
    pagetitle: 'Apple Watch Series 9／Apple Watch Ultra 2／Apple Watch SE（第2世代）のお取り扱いについて',
    directories: directories,
    description: '楽天モバイルにてApple Watch Series 9／Apple Watch Ultra 2／Apple Watch SE（第2世代）をお取り扱いいたします。9/15（金） 21:00より順次予約受付を開始いたします。',
    noindex: true,
    pathname: filepath,
    redirect: { url: 'product/apple-watch/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
