<% const pagetitle = "メンテナンスのお知らせ" -%>
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title><%= pagetitle %> | 楽天モバイル</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="楽天モバイル">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="/favicon.ico?yymmdd">
<style>
  body { margin: 0; padding: 0; font-family: sans-serif;}
  #s-Header { padding: 18px 16px 10px; background: #FF008C; box-sizing: border-box;}
  #s-Header > div { max-width: 1064px; width: 100%; margin: 0 auto;}
  #s-Footer { padding: 20px 0; text-align: center; background: #000033; position: absolute; bottom: 0; width: 100%; box-sizing: border-box;}
  #s-Container { max-width: 1064px; width: 100%; margin: 0 auto; padding: 0 16px; box-sizing: border-box;}
  h1 { margin: 80px 0 64px; font-size: 34px; font-weight: bold; color: #FF008C; }
  small { font-size: 12px; color : #CACADB;}
  .s-Btn { margin-top: 40px; }
  .s-Btn > a { display: inline-block; width: 100%; position: relative; text-align: center; background-color: #fff; border: 1px solid #cecef5; color: #3b3ba3; font-size: 16px; font-weight: 700; text-decoration: none; padding: .6em 1.5em; line-height: 1.2; box-sizing: border-box; }
  .s-Btn > a:hover { background-color: #3b3ba3; color: #fff;}
  @media screen and (max-width: 768px) { #s-Logo_L { display: none;}}
  @media screen and (min-width: 769px) { #s-Logo_S { display: none;} .s-Btn > a { width: auto;}}
</style>
</head>
<body>

<header id="s-Header">
  <a href="<%= rootpath %>">
  <div id="s-Logo_S">
    <svg fill="none" height="40" viewbox="0 0 74 40" width="74" xmlns="http://www.w3.org/2000/svg"><g fill="#fff"><path d="m53.6529 37.2906c-.9849 1.552-2.5873 2.3893-4.6103 2.3893-3.1144 0-5.3025-2.5013-5.3025-6.0587 0-3.5413 2.0763-6.0053 5.0842-6.0053 2.7896 0 4.9724 2.448 4.9724 5.568 0 .3093-.016.5493-.0745.896h-8.2306c.0905 1.3333.4366 2.224 1.1659 3.0133.6549.7094 1.512 1.1147 2.3851 1.1147 1.4587 0 2.6619-.7093 3.2581-1.936zm-1.7302-4.688c-.1437-2.1174-1.3841-3.504-3.0771-3.504-1.1286 0-2.1508.6026-2.7524 1.6053-.33.5653-.4898 1.056-.5803 1.8987z"/><path d="m40.5407 39.3919v-15.312h1.6397v15.312z"/><path d="m36.7231 26.4692v-1.8986h1.8952v1.8986zm.1278 12.9227v-11.4987h1.6397v11.4987z"/><path d="m26.9065 29.2959c.8358-1.1307 1.8952-1.68 3.2954-1.68 3.0079 0 5.0842 2.448 5.0842 6.0213 0 3.5947-2.0603 6.0427-5.0842 6.0427-1.3097 0-2.3478-.4907-3.2262-1.552l-.2555 1.2587h-1.4588v-15.3067h1.6398v5.216zm-.0586 4.3467c0 2.608 1.4002 4.5066 3.3327 4.5066s3.3539-1.8986 3.3539-4.4906c0-2.608-1.4214-4.5067-3.3699-4.5067-1.9112 0-3.3167 1.8987-3.3167 4.4907z"/><path d="m23.7017 33.6426c0 3.5946-2.0603 6.0426-5.1002 6.0426-3.0398 0-5.1001-2.448-5.1001-6.0426 0-3.5947 2.0762-6.0214 5.1214-6.0214 2.9973 0 5.0789 2.464 5.0789 6.0214zm-8.4541 0c0 2.608 1.4214 4.5066 3.3539 4.5066s3.354-1.8986 3.354-4.4906c0-2.6294-1.4002-4.5067-3.3699-4.5067-1.9166 0-3.338 1.8987-3.338 4.4907z"/><path d="m11.9308 25.0292v14.3627h-1.6397v-12.304l-4.28028 6.992-4.28029-6.992v12.2986h-1.6397097v-14.3573h2.2040297l3.71597 6.1493 3.71597-6.1493z"/><path d="m59.3281 18.5439h-44.5171l3.5456 3.552z"/><path d="m66.4459 16.2772v-7.1093c0-1.33334.9157-2.45867 2.2466-2.45867s2.2466 1.12533 2.2466 2.45867v7.1093h2.7418v-7.1093c0-2.91734-1.9911-5.29067-4.9032-5.29067-1.3469 0-2.3318.74667-2.3318.74667v-.448h-2.7417v12.1013z"/><path d="m57.3634 3.86659c-3.173 0-5.4515 2.79466-5.4515 6.35731 0 3.7494 2.8588 6.3574 5.723 6.3574 1.448 0 3.3007-.4961 4.8552-2.7094l-2.4223-1.4026c-1.8739 2.768-4.9936 1.36-5.3556-1.4027h7.8951c.6814-4.34135-2.1242-7.20001-5.2439-7.20001zm2.3903 4.79466h-4.9404c.5803-2.832 4.4081-2.992 4.9404 0z"/><path d="m51.0283 13.4132c-.2449.1654-.559.2987-.9157.2987-.4472 0-1.2937-.3413-1.2937-1.4827v-5.17862h2.3425v-2.87467h-2.3425v-3.01333h-2.7417v3.01333h-1.448v2.87467h1.448v5.21602c0 2.704 2.0337 4.3146 4.078 4.3146.7613 0 1.8207-.2506 2.6832-.7626z"/><path d="m40.8969 4.17593v7.10937c0 1.3333-.9157 2.4586-2.2466 2.4586-1.331 0-2.2466-1.1253-2.2466-2.4586v-7.10937h-2.7418v7.10937c0 2.9173 1.9911 5.2906 4.9032 5.2906 1.3469 0 2.3318-.7466 2.3318-.7466v.448h2.7417v-12.10137z"/><path d="m28.4931 9.84525 4.7008-5.66934h-3.8437l-3.2901 4.21334v-8.229338h-2.8216v16.117288h2.8216v-4.9706l4.0461 4.9706h3.8437z"/><path d="m18.9316 4.1759v.53867c-.8252-.528-1.5705-.832-2.582-.832-3.1197 0-5.4888 2.848-5.4888 6.34663 0 3.4987 2.3691 6.3467 5.4888 6.3467 1.0168 0 1.7568-.304 2.582-.832v.5387h2.7417v-12.1067zm-2.582 9.4827c-1.5386 0-2.6619-1.5147-2.6619-3.4347 0-1.91467 1.1287-3.43467 2.6619-3.43467 1.5386 0 2.6246 1.52 2.6246 3.43467 0 1.92-1.086 3.4347-2.6246 3.4347z"/><path d="m2.96032 16.2772v-4.688h2.02834l3.51367 4.688h3.58817l-4.24299-5.6586c1.32029-.94936 2.18809-2.49602 2.18809-4.25069 0-2.87467-2.33715-5.21067-5.20665-5.21067h-4.7381297v15.11996zm0-12.24529h1.86863c1.28834 0 2.34245 1.05067 2.34245 2.34133 0 1.296-1.05411 2.34667-2.34245 2.34667h-1.86863z"/></g></svg>
  </div>
  <div id="s-Logo_L">
    <svg width="194" height="32" viewbox="0 0 194 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M193.019 20.4542C191.576 22.7182 189.227 23.9397 186.261 23.9397C181.696 23.9397 178.489 20.2908 178.489 15.1014C178.489 9.93535 181.532 6.34089 185.941 6.34089C190.031 6.34089 193.23 9.91201 193.23 14.4634C193.23 14.9147 193.207 15.2648 193.121 15.7705H181.048C181.181 17.7156 181.688 19.0149 182.757 20.1663C183.717 21.2011 184.974 21.7924 186.253 21.7924C188.392 21.7924 190.155 20.7576 191.029 18.9682L193.019 20.4542ZM190.483 13.6076C190.272 10.5189 188.454 8.49601 185.973 8.49601C184.318 8.49601 182.82 9.37518 181.938 10.8379C181.454 11.6626 181.22 12.3783 181.087 13.6076H190.483Z" fill="white"/>
      <path d="M173.791 23.5118V1.17481H176.195V23.5118H173.791Z" fill="white"/>
      <path d="M168.196 1.89837H170.974V4.66812H168.196V1.89837ZM168.383 23.5118V6.73766H170.787V23.5118H168.383Z" fill="white"/>
      <path d="M153.805 8.79163C155.03 7.14223 156.583 6.34087 158.636 6.34087C163.045 6.34087 166.088 9.91199 166.088 15.1247C166.088 20.3686 163.068 23.9397 158.636 23.9397C156.716 23.9397 155.194 23.2239 153.907 21.6757L153.532 23.5118H151.394V1.17481H153.797V8.79163H153.805ZM153.727 15.1247C153.727 18.9293 155.779 21.699 158.612 21.699C161.445 21.699 163.529 18.9293 163.529 15.1481C163.529 11.3435 161.445 8.57379 158.589 8.57379C155.779 8.57379 153.727 11.3435 153.727 15.1247Z" fill="white"/>
      <path d="M149.108 15.1248C149.108 20.3686 146.088 23.9397 141.632 23.9397C137.176 23.9397 134.156 20.3686 134.156 15.1248C134.156 9.88089 137.199 6.34089 141.663 6.34089C146.065 6.34089 149.108 9.93535 149.108 15.1248ZM136.716 15.1248C136.716 18.9293 138.799 21.699 141.632 21.699C144.465 21.699 146.548 18.9293 146.548 15.1481C146.548 11.3125 144.496 8.57382 141.609 8.57382C138.799 8.57382 136.716 11.3436 136.716 15.1248Z" fill="white"/>
      <path d="M131.861 2.55964V23.5118H129.457V5.57058L123.183 15.7704L116.909 5.57058V23.5118H114.505V2.55964H117.736L123.183 11.5302L128.63 2.55964H131.861Z" fill="white"/>
      <path d="M86.8336 26.8184H21.5701L26.7753 32L86.8336 26.8184Z" fill="white"/>
      <path d="M97.259 23.5118V13.1408C97.259 11.1957 98.6012 9.55408 100.552 9.55408C102.503 9.55408 103.845 11.1957 103.845 13.1408V23.5118H107.864V13.1408C107.864 8.88498 104.946 5.42279 100.677 5.42279C98.7027 5.42279 97.259 6.51202 97.259 6.51202V5.85848H93.24V23.5118H97.259Z" fill="white"/>
      <path d="M83.9454 5.40723C79.2943 5.40723 75.9542 9.48406 75.9542 14.6812C75.9542 20.1507 80.1449 23.9553 84.3434 23.9553C86.466 23.9553 89.1817 23.2317 91.4605 20.0029L87.9097 17.9567C85.1628 21.9946 80.5897 19.9407 80.059 15.9105H91.6321C92.631 9.57742 88.5184 5.40723 83.9454 5.40723ZM87.4571 12.4094H80.2151C81.0657 8.27035 86.6767 8.03694 87.4571 12.4094Z" fill="white"/>
      <path d="M74.6666 19.3338C74.3077 19.575 73.8472 19.7695 73.3244 19.7695C72.6688 19.7695 71.428 19.2716 71.428 17.6066V10.052H74.8617V5.8585H71.428V1.46268H67.4091V5.8585H65.2864V10.052H67.4091V17.6689C67.4091 21.6134 70.3901 23.9631 73.3868 23.9631C74.5028 23.9631 76.0557 23.5974 77.3199 22.8505L74.6666 19.3338Z" fill="white"/>
      <path d="M59.8164 5.85847V16.2295C59.8164 18.1745 58.4742 19.8162 56.5232 19.8162C54.5723 19.8162 53.23 18.1745 53.23 16.2295V5.85847H49.211V16.2295C49.211 20.4853 52.1297 23.9475 56.3984 23.9475C58.3727 23.9475 59.8164 22.8582 59.8164 22.8582V23.5118H63.8354V5.85847H59.8164Z" fill="white"/>
      <path d="M41.633 14.1366L48.5238 5.8585H42.8894L38.0667 12.0049V0H33.9306V23.5118H38.0667V16.2606L43.9976 23.5118H49.6242L41.633 14.1366Z" fill="white"/>
      <path d="M27.6179 5.85851V6.64431C26.4083 5.87407 25.3158 5.4306 23.8331 5.4306C19.26 5.4306 15.7873 9.58523 15.7873 14.6891C15.7873 19.7929 19.26 23.9475 23.8331 23.9475C25.3236 23.9475 26.4083 23.504 27.6179 22.7338V23.5196H31.6369V5.85851H27.6179ZM23.8331 19.6917C21.5778 19.6917 19.9312 17.4822 19.9312 14.6813C19.9312 11.8882 21.5856 9.67082 23.8331 9.67082C26.0884 9.67082 27.6804 11.8882 27.6804 14.6813C27.6804 17.4822 26.0884 19.6917 23.8331 19.6917Z" fill="white"/>
      <path d="M4.20627 23.5118V16.673H7.17953L12.3301 23.5118H17.5899L11.3702 15.257C13.3055 13.8721 14.5776 11.6158 14.5776 9.05614C14.5776 4.8626 11.1517 1.45487 6.94542 1.45487H0V23.5118H4.20627ZM4.20627 5.64841H6.94542C8.83395 5.64841 10.3791 7.18111 10.3791 9.06392C10.3791 10.9545 8.83395 12.4872 6.94542 12.4872H4.20627V5.64841Z" fill="white"/>
    </svg>
  </div>
  </a>
</header>

<div id="s-Container">
  <h1>メンテナンスのお知らせ</h1>
  <p>現在、システムメンテナンスのため、一時的にサービスのご利用を停止させていただいております。</p>
  <p>メンテナンスが終了次第、サービスを復旧いたしますので、今しばらくお待ちいただけますよう、お願い申し上げます。</p>
  <div class="s-Btn">
    <a href="<%= sitedomain %>">楽天モバイルトップへ</a>
  </div>
</div>

<footer id="s-Footer">
  <small>&copy; Rakuten Mobile, Inc.</small>
</footer>
</body>
</html>


