<% const pagetitle = "受信リスト／拒否リストの設定・変更・削除（楽メール）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/rakumail/", label:"楽メール（ご利用方法）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル「楽メール」のフィルター機能の受信リスト／拒否リストの操作方法をご案内します。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'guide/rakumail/filter/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
