<% const namespace = "dmm" -%>
<li class="<%= namespace %>-Flow_List-item">
  <h3 class="c-Heading_Lv3">4. MNP開通手続きを行う</h3>
  <div class="l-Media_Grid u-Adjust_Mt-24">
    <div class="l-Media_Image">
      <img src="<%= sitepath %>assets/img/guide/migration/dmm/img-10.png" alt="">
    </div>
    <div>
      <p class="c-Txt_Emp-02">必ず、製品／SIMカードがお手元に届いてからお手続きください。</p>
      <p class="u-Adjust_Mt-16">お手持ち※のスマートフォンやタブレット、パソコンから「my 楽天モバイル」にアクセスし、お手続きください。以下よりお手続き方法をご確認いただけます。</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルで新しくご利用いただく製品（SIM）以外で、アクセスしてください。</p>
      <div class="u-Adjust_Mt-24">
        <a href="<%= sitepath %>guide/mnp/flow/" class="c-Btn_Primary-semiauto">
          MNP開通手続き方法を見る
        </a>
      </div>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>faq/detail/00001494/" class="c-Link_Txt-inline-icon">発送・お届けについてよくあるお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
    </div>
  </div>
</li>
