<% const namespace = "dmm" -%>
<li class="<%= namespace %>-Flow_List-item">
  <h3 class="c-Heading_Lv3">1. DMM mobileの解約お手続きを行う</h3>
  <p class="u-Adjust_Mt-24">以下よりご確認のうえ、お手続きください。</p>
  <p class="u-Adjust_Mt-16"><a href="https://help.dmm.com/-/detail/=/qid=43667/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">DMM mobile解約方法を確認する<span class="c-Icon_New-window-l"></span></a></p>
</li>
