<% const namespace = "dmm" -%>
<div class="<%= namespace %>-Flow_List-item">
  <h3 class="c-Heading_Lv3">2. 楽天回線対応製品を確認する</h3>
  <div class="l-Media_Grid u-Adjust_Mt-24">
    <div class="l-Media_Image">
      <img src="<%= sitepath %>assets/img/guide/migration/img-11.png" alt="">
    </div>
    <div>
      <p>事前に製品ラインアップをご確認ください。</p>
      <div class="u-Adjust_Mt-24">
        <a href="<%= sitepath %>product/certified-products/" class="c-Btn_Secondly-semiauto">
          楽天回線対応製品を確認する
        </a>
      </div>
    </div>
  </div>
</div>