<% const namespace = "dmm" -%>
<li class="<%= namespace %>-Flow_List-item">
  <h3 class="c-Heading_Lv3">4. 製品の初期設定を行い、ご利用開始</h3>
  <div class="l-Media_Grid u-Adjust_Mt-24">
    <div class="l-Media_Image">
      <img src="<%= sitepath %>assets/img/guide/migration/dmm/img-11.png" alt="">
    </div>
    <div>
      <p>製品／SIMカードがお手元に届きましたら初期設定を行い、ご利用を開始してください。</p>
      <div class="u-Adjust_Mt-24">
        <a href="<%= sitepath %>guide/setting/" class="c-Btn_Primary-semiauto">
          各種製品の初期設定方法を見る
        </a>
      </div>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>faq/detail/00001494/" class="c-Link_Txt-inline-icon">発送・お届けについてよくあるお問い合わせ<span class="c-Icon_Chevron-right"></span></a></p>
    </div>
  </div>
</li>
