<% const namespace = "dmm" -%>
<div class="<%= namespace %>-Flow_List-item">
  <h3 class="c-Heading_Lv3">2. お持ちのスマホが楽天回線対応製品かを確認する</h3>
  <div class="l-Media_Grid u-Adjust_Mt-24">
    <div class="l-Media_Image">
      <img src="<%= sitepath %>assets/img/guide/migration/dmm/img-06.png" alt="">
    </div>
    <div>
      <p>
        楽天回線対応製品をお持ちのお客様は、今お使いの製品のSIMを差し替えるだけ<sup>※</sup>で、ご利用いただけます。<br>
        ご利用可能な製品を必ず事前にご確認ください。
      </p>
      <div class="u-Adjust_Mt-24">
        <a href="<%= sitepath %>product/byod/" class="c-Btn_Secondly-semiauto">
          お持ちの製品が使えるか確認する
        </a>
      </div>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※eSIMの場合、SIMの入れ替えは不要で、別途設定が必要です。</p>
    </div>
  </div>
  <div class="c-Theme-Light u-Adjust_Mt-24">
    <h4 class="c-Heading_Lv4">SIMロック解除済であることをご確認ください。</h4>
    <p class="u-Adjust_Mt-24">NTTドコモ、au、SoftBankなど他の携帯電話会社でご契約されていた製品は、その会社でしか利用できないよう「SIMロック」がかけられています。 SIMロックがかかっているか確認するには、現在契約中の携帯電話会社へお問い合わせください。SIMロック解除の必要がない場合、次の手順にお進みください。</p>
    <p class="u-Adjust_Mt-24">
      <a href="https://www.nttdocomo.co.jp/support/unlock_simcard/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">NTTドコモ SIMロック解除手続き<span class="c-Icon_New-window-l"></span></a>
    </p>
    <p class="u-Adjust_Mt-16">
      <a href="https://www.au.com/support/service/mobile/procedure/simcard/unlock/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">au SIMロック解除手続き<span class="c-Icon_New-window-l"></span></a>
    </p>
    <p class="u-Adjust_Mt-16">
      <a href="https://www.softbank.jp/mobile/support/usim/unlock_procedure/" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener noreferrer">SoftBank SIMロック解除手続き<span class="c-Icon_New-window-l"></span></a>
    </p>
  </div>
</div>
