<% const namespace = "dmm" -%>
<li class="<%= namespace %>-Flow_List-item">
  <h3 class="c-Heading_Lv3">3. ショップで楽天モバイル（楽天回線）に申し込む</h3>
  <div class="l-Media_Grid u-Adjust_Mt-24">
    <div class="l-Media_Image">
      <img src="<%= sitepath %>assets/img/guide/migration/dmm/img-point-11.png" alt="">
    </div>
    <div>
      <p>楽天モバイルショップにて、お申し込み手続きを行ってください。<br>当日ご持参いただくものを、ご来店前に必ずご確認ください。</p>
      <div class="u-Adjust_Mt-24">
        <a href="<%= sitepath %>shop/" class="c-Btn_Primary-semiauto">
          お近くのショップを探す
        </a>
      </div>
      <p class="u-Adjust_Mt-16"><a href="<%= sitepath %>shop/guide/" class="c-Link_Txt-inline-icon">ご来店の前に<span class="c-Icon_Chevron-right"></span></a></p>
    </div>
  </div>
</li>
