<% const namespace = "dmm" -%>
<div class="u-Adjust_Mt-32">
  <p class="u-Adjust_Align-center">
    <a href="<%= sitepath %>fee/saikyo-plan/?l-id=guide_migration_dmm_fee_saikyo-plan" class="c-Btn_Primary-large">Rakuten最強プランの詳細を見る</a>
  </p>
</div>
