<% const pagetitle = "楽天モバイル買い替え超トクプログラム各種お手続き方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/application/flow/", label:"お申し込み方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル買い替え超トクプログラムのお申し込み方法のほか、他のiPhoneへの機種変更手続きや、返却時の注意事項などをご案内しています。盗難・紛失の場合のお手続きもこちらをご覧ください。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'https://network.mobile.rakuten.co.jp/guide/replacement-program/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
