<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "楽天ひかりUN-LIMITキャンペーン" -%>
<% const directories = [{path: hikariroot.path + "campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "mno-dm" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    // directories: directories,
    description: '楽天モバイルをお使いの方限定、楽天ひかりにお申し込むとひかりの月額基本料1年無料、他社光コラボをお使いの場合初年度最大60,600円（税込66,660円）もおトク',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/hikari/campaign/one-year-free/',
    redirect: {url: 'hikari/campaign/one-year-free/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
