<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "次世代規格IPv6とは" -%>
<% const directories = [{path: hikariroot.path + "about/", label:"楽天ひかりについて"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天ひかりは、IPv6（IPoE／Pv4 over IPv6）によるIPv6インターネット接続を提供しています。混雑時でも速く、快適な通信方式のため、時間帯や回線利用者数に左右されない回線速度の理由をご紹介しています。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    redirect: {url: 'hikari/internet/ipv6/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
