<% const pagetitle = "MagSafe対応iPhone 12 miniレザーケース" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/accessory/apple/", label:"Apple純正アクセサリ"}] -%>
<% const currentDir = 'apple-rm213014' %>
<% const l_id = `product_accessory_${currentDir}` %>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: `スマホアクセサリ「${pagetitle}」の製品ご購入はこちら。価格・スペック情報・特長ほか`,
    noindex: false,
    pathname: `product/accessory/${currentDir}/`
  });
_%>
<meta http-equiv="refresh" content="0;URL=<%= sitepath %>product/accessory/apple-rm213013/">
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
