<% const pagetitle = "世界初、完全仮想化クラウドネイティブモバイルネットワーク" -%>
<% const directories = [{path:"area/", label:"通信・エリア"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '低価格で高品質なサービスをあなたに。楽天モバイルは、全く新しいコンセプトのネットワークで、通信サービスに革命をもたらします。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'https://corp.mobile.rakuten.co.jp/innovation/cloud-network/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
