<div class="g-Footer_Related">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv3">続けてこちらをチェック</h2>
    <ul class="l-System_Grid">
      <li class="g-Footer_Related-product-v2">
        <a href="<%= sitepath %>product/?l-id=footer_product">
          <span class="g-Footer_Related-hdg">製品</span>
          <span class="g-Footer_Related-txt">楽天モバイル対応、5G対応スマートフォンはこちら</span>
        </a>
      </li>
      <li class="g-Footer_Related-area-v2">
        <a href="<%= sitepath %>area/?l-id=footer_area">
          <span class="g-Footer_Related-hdg">通信・エリア</span>
          <span class="g-Footer_Related-txt">楽天モバイル対応サービスエリア（4G LTE、5G、海外ローミングエリア）はこちらから</span>
        </a>
      </li>
      <li class="g-Footer_Related-support-v2">
        <a href="<%= sitepath %>support/?l-id=footer_support ">
          <span class="g-Footer_Related-hdg">お客様サポート</span>
          <span class="g-Footer_Related-txt">お申し込み、ご利用にあたっての疑問はここで解決</span>
        </a>
      </li>
    </ul>
  </div>
</div>
