<div class="l-System_Container u-Adjust_Pt-16">
  <div><a href="<%= sitepath %>support/" class="c-Btn_Regular-semiauto"><span>お客様サポートトップにもどる</span></a></div>
  <div class="u-Adjust_Mt-16"><a href="<%= sitepath %>" class="c-Btn_Regular-semiauto"><span>楽天モバイルトップへ</span></a></div>
</div>

