<div class="g-Footer_Related">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv3">続けてこちらをチェック</h2>
    <ul class="l-System_Grid">
      <li class="g-Footer_Related-product">
        <a href="<%= sitepath %>product/?l-id=footer_product">
          <span class="g-Footer_Related-tag">PRODUCT</span>
          <span class="g-Footer_Related-hdg">製品</span>
          <span class="g-Footer_Related-txt">楽天モバイル対応、5G対応スマートフォンはこちら</span>
        </a>
      </li>
      <li class="g-Footer_Related-service">
        <a href="<%= sitepath %>service/?l-id=footer_service">
          <span class="g-Footer_Related-tag">OPTION SERVICE</span>
          <span class="g-Footer_Related-hdg">オプションサービス</span>
          <span class="g-Footer_Related-txt">モバイル生活がさらに充実する、安心・便利な機能</span>
        </a>
      </li>
      <li class="g-Footer_Related-support">
        <a href="<%= sitepath %>support/?l-id=footer_support ">
          <span class="g-Footer_Related-tag">SUPPORT</span>
          <span class="g-Footer_Related-hdg">お客様サポート</span>
          <span class="g-Footer_Related-txt">お申し込み、ご利用にあたっての疑問はここで解決</span>
        </a>
      </li>
    </ul>
  </div>
</div>
