<div class="g-Footer_Related">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv3">続けてこちらをチェック</h2>
    <ul class="l-System_Grid">
      <li class="g-Footer_Related-accessory">
        <a href="<%= sitepath %>product/accessory/?l-id=footer_accessory">
          <span class="g-Footer_Related-tag">ACCESSORY</span>
          <span class="g-Footer_Related-hdg">アクセサリ</span>
          <span class="g-Footer_Related-txt">スマートフォンと同時購入で送料無料</span>
        </a>
      </li>
      <li class="g-Footer_Related-plan">
        <a href="<%= sitepath %>fee/saikyo-plan/?l-id=footer_fee_saikyo">
          <span class="g-Footer_Related-tag">PLAN</span>
          <span class="g-Footer_Related-hdg">料金プラン</span>
          <span class="g-Footer_Related-txt">Rakuten最強プランの詳細、お申し込みはこちらから</span>
        </a>
      </li>
      <li class="g-Footer_Related-shop">
        <a href="<%= sitepath %>shop/?l-id=footer_shop">
          <span class="g-Footer_Related-tag">SHOP</span>
          <span class="g-Footer_Related-hdg">ショップ</span>
          <span class="g-Footer_Related-txt">お近くの楽天モバイルショップ検索はこちらから</span>
        </a>
      </li>
    </ul>
  </div>
</div>
