<div class="g-Footer_Related">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv3">続けてこちらをチェック</h2>
    <ul class="l-System_Grid">
      <li class="g-Footer_Related-plan-v2">
        <a href="<%= sitepath %>fee/saikyo-plan/?l-id=footer_fee_saikyo">
          <span class="g-Footer_Related-hdg">料金プラン</span>
          <span class="g-Footer_Related-txt">Rakuten最強プランの詳細、お申し込みはこちらから</span>
        </a>
      </li>
      <li class="g-Footer_Related-payment-v2">
        <a href="<%= sitepath %>guide/payment/?l-id=footer_payment">
          <span class="g-Footer_Related-hdg">お支払い方法</span>
          <span class="g-Footer_Related-txt">お申し込み時にご利用いただけるお支払い方法</span>
        </a>
      </li>
      <li class="g-Footer_Related-support-v2">
        <a href="<%= sitepath %>support/?l-id=footer_support ">
          <span class="g-Footer_Related-hdg">お客様サポート</span>
          <span class="g-Footer_Related-txt">お申し込み、ご利用にあたっての疑問はここで解決</span>
        </a>
      </li>
    </ul>
  </div>
</div>
