<div class="g-Footer_Related">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv3">続けてこちらをチェック</h2>
    <ul class="l-System_Grid">
      <li class="g-Footer_Related-plan">
        <a href="<%= sitepath %>fee/un-limit/?l-id=product_iphone_footer_fee_un-limit">
          <span class="g-Footer_Related-tag">PLAN</span>
          <span class="g-Footer_Related-hdg">料金プラン</span>
          <span class="g-Footer_Related-txt">Rakuten UN-LIMIT VIIの詳細、お申し込みはこちらから</span>
        </a>
      </li>
      <li class="g-Footer_Related-shop">
        <a href="<%= sitepath %>shop/?l-id=product_iphone_footer_shop">
          <span class="g-Footer_Related-tag">SHOP</span>
          <span class="g-Footer_Related-hdg">ショップ</span>
          <span class="g-Footer_Related-txt">お近くの楽天モバイルショップ検索はこちらから</span>
        </a>
      </li>
      <li class="g-Footer_Related-service">
        <a href="<%= sitepath %>service/?l-id=product_iphone_footer_service">
          <span class="g-Footer_Related-tag">OPTION SERVICE</span>
          <span class="g-Footer_Related-hdg">オプションサービス</span>
          <span class="g-Footer_Related-txt">モバイル生活がさらに充実する、安心・便利な機能</span>
        </a>
      </li>
    </ul>
  </div>
</div>
