<% const pagetitle = "Rakuten UN-LIMIT VII（料金プラン）" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'おトクなワンプラン「Rakuten UN-LIMIT VII（ラクテンアンリミットセブン）」！どれだけ使っても月々2,980円（税込3,278円）使わない月はドンドン安くなる！楽天市場でのお買い物がポイント最大16倍や、アプリ利用で国内通話無料など、特典も盛りだくさん！※アンリミテッドではありません',
    keywords: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'fee/saikyo-plan/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
