<% const pagetitle = "緊急事態宣言にともなう楽天モバイルショップ（店舗）の休業、営業時間の変更について" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    pagetitle: '緊急事態宣言にともなう楽天モバイルショップ（店舗）の休業、営業時間の変更について',
    description: '2021年4月24日 12:00更新お客様各位平素は楽天モバイルをご利用いただき、誠にありがとうございます。新型コロナウイルス感染症における... UN-LIMIT」申込受付中！Rakuten Miniなど人気のAndroidスマートフォンも続々登場。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'shop/state-of-emergency/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
