<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "利用規約・重要事項説明書" -%>
<% const directories = [] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath,
    ishikari: true,
    redirect: {url: "hikari/terms/"}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
