<h3 id="起動しているアプリの終了">起動しているアプリの終了</h3>
<p>以下の方法をお試しいただき、症状が改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリの終了方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で画面下部から上方向へスワイプし、途中で指を止めて指を放す</p></li>
<li><p>起動しているアプリの一覧が表示</p></li>
<li><p>終了したいアプリを上にスワイプ</p></li>
<li><p>画面下部から上方向へ素早くスワイプするとホーム画面へ戻る</p></li>
</ol>
