<h3
id="osバージョンが最新であることを確認">OSバージョンが最新であることを確認</h3>
<p>OSが最新のバージョンであるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">システムアップデートの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「システム」を選択</p></li>
<li><p>「詳細設定」を選択</p></li>
<li><p>「システムアップデート」を選択</p></li>
<li><p>アップデート状況が表示</p></li>
<li><p>OSが最新のバージョンになっていない場合はスマートフォンを電源に接続し、Wi-Fi環境下で更新を行ってください。</p></li>
</ol>