<h3 id="支払い状況の確認">支払い状況の確認</h3>
<p>楽天モバイルのご利用料金が未払いの場合、サービスをご利用いただけない可能性があります。支払い状況をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">支払い状況の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#billing">my
楽天モバイル</a>」にログインし、「利用料金」を開く</p>
<p class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br>
※アプリの場合は、画面下メニューの「利用料金」を選択してください<br>※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p></li>
<li><p>請求ステータスが「確定」となっているかを確認<br />
<span class="c-Txt_Cap">※実際にお支払いされてから「確定」と反映されるまで時間がかかります</span></p></li>
</ol>
