<h3 id="wi-fiのonoff">Wi-FiのON／OFF</h3>
<p>Wi-Fiの設定を一度OFFにして、再度ONにすることで症状が改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Wi-FiのON／OFF方法1</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「ネットワークとインターネット」を選択</p></li>
<li><p>Wi-FiをON／OFF</p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Wi-FiのON／OFF方法2</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で画面上部から下部にスワイプ</p></li>
<li><p>Wi-Fiのマークをタップ</p></li>
<li><p>画面上部にWi-Fiのマークが表示されているかを確認</p></li>
</ol>
