<h3 id="サービスエリアの確認">サービスエリアの確認</h3>
<p>通信できない事象が発生している住所が、楽天モバイルのサービス提供エリアであるか「<a href="https://network.mobile.rakuten.co.jp/area/">サービスエリアマップ</a>」にてご確認いただけます。データ高速無制限エリアに該当しない場合、楽天モバイルのデータ通信及び通話サービスはご利用できません。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※電波起因でお困りごとが発生している場合もございます。気になる方は<a target="_blank" href="https://r10.to/hUBW8s">電波改善・調査専用フォーム</a>から状況の調査を行います。</p>
