<h3 id="高速データ容量を確認">高速データ容量を確認（海外でのご利用のみ）</h3>
<p>毎月付与される海外ローミングエリアの高速データ容量（2GB）を全て消費すると、データ高速モードがONでも、通信速度が128kbpsに制限されます。高速データの残容量をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">高速データ残容量の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#home">my
楽天モバイル</a>」にログインする</p><p class="c-Txt_Cap">※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p></li>
<li><p>「ホーム」からご利用中のご契約電話番号を確認</p></li>
<li><p>「高速データ容量」下部にあるデータ高速モードを確認</p></li>
</ol>
