<h3 id="smsセンター番号の設定">SMSセンター番号の設定</h3>
<p>通話はできるがSMS送信ができない場合、以下をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">SMSセンター番号の設定方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>製品のメッセージアプリを開き、メニュー（3つの点）を選択</p></li>
<li><p>「設定」を選択</p></li>
<li><p>テキストメッセージ（SMS）の項目にある、「SMSセンター番号」を選択</p></li>
<li><p>「+817085811998」という番号が表示されていない場合、「+817085811998」に変更する</p></li>
</ol>
