<h3 id="usbケーブルの接続状況を確認">USBケーブルの接続状況を確認</h3>
<p>USBケーブルで接続先の製品と接続されていることをご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">USB設定の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「接続済みデバイス」を選択</p></li>
<li><p>「USB」を選択</p></li>
<li><p>USBの接続用途で「USBテザリング」が選択されていることを確認</p></li>
</ol>
<p class="u-Adjust_Mt-32">接続元の製品の設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">USBテザリング設定の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「ネットワークとインターネット」を選択</p></li>
<li><p>「テザリング」を選択</p></li>
<li><p>「USBテザリング」がONになっていることを確認</p></li>
</ol>
<p>もし接続状況が改善しない場合、接続先の製品に問題が考えられます。<br>
接続先の製品をご確認ください。</p>
