<h3 id="bluetoothの接続状況を確認">Bluetoothの接続状況を確認</h3>
<p>Bluetoothで接続先の製品とペアリング接続済みであることをご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ペアリング接続の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「接続済みデバイス」を選択</p></li>
<li><p>ペア設定済のデバイスで「すべて表示」を選択</p></li>
<li><p>接続先の製品名が表示されていることを確認</p></li>
</ol>
<p class="u-Adjust_Mt-32">接続元の製品の設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Bluetoothテザリング設定の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「ネットワークとインターネット」を選択</p></li>
<li><p>「テザリング」を選択</p></li>
<li><p>「Bluetoothテザリング」がONになっていることを確認</p></li>
</ol>
<p>もし接続状況が改善しない場合、接続先の製品に問題が考えられます。接続先の製品をご確認ください。</p>
