<h3 id="wi-fiの接続状況を確認">Wi-Fiの接続状況を確認</h3>
<p>Wi-Fiテザリングが接続されていることをご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Wi-Fiテザリング設定の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「ネットワークとインターネット」を選択</p></li>
<li><p>「テザリング」を選択</p></li>
<li><p>「Wi-Fiテザリング」を選択</p></li>
<li><p>「Wi-Fiテザリングの使用」がONであることを確認</p></li>
</ol>
<p class="u-Adjust_Mt-32">Wi-Fiテザリングの接続台数をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">接続台数の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「ネットワークとインターネット」を選択</p></li>
<li><p>「テザリング」を選択</p></li>
<li><p>「Wi-Fiテザリング」の下に記載されている接続台数が接続している台数になっていることを確認</p></li>
</ol>
