<h3
id="wi-fiテザリングのセキュリティ設定を確認">Wi-Fiテザリングのセキュリティ設定を確認</h3>
<p>Wi-Fiテザリングのセキュリティ設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">セキュリティ設定の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「ネットワークとインターネット」を選択</p></li>
<li><p>「テザリング」を選択</p></li>
<li><p>「Wi-Fiテザリング」を選択</p></li>
<li><p>「セキュリティ」の下に記載しているセキュリティ設定を確認</p></li>
<li><p>上記で表示されたセキュリティ設定と接続先の製品に設定したセキュリティ設定が一致していることを確認</p></li>
</ol>
