<h3 id="apn設定の確認">APN設定の確認</h3>
<p>APN設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">APN設定の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「ネットワークとインターネット」を選択</p></li>
<li><p>「モバイルネットワーク」を選択</p></li>
<li><p>「アクセスポイント名」を選択</p></li>
<li><p><a target="_blank" href="https://network.mobile.rakuten.co.jp/faq/detail/00001495/">こちら</a>を参考にAPNが正しいことを確認</p></li>
</ol>
