<h3
id="別の機器がwi-fi接続可能か確認">別の機器がWi-Fi接続可能か確認</h3>
<p>別の機器がWi-Fi接続できるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">別の機器ではWi-Fi接続できる場合</h4>
<p>「<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/inquiry/">メーカー別
問い合わせ先</a>」をご確認のうえ、症状をお伝えください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">別の機器でもWi-Fi接続先として表示されない場合</h4>
<p>ルーターが問題である可能性があります。</p>
<p>ご使用のルーターの製造元にお問い合わせください。</p>
