<h3
id="ルーターの設置場所の変更と再起動">ルーターの設置場所の変更と再起動</h3>
<p>ルーターの設置場所により、製品が電波を受信しづらくなる可能性があります。</p>
<p>ルーターを移動して改善するかご確認ください。</p>
<p>ルーターを移動させるのが難しい場合、製品をルーターの近くに移動し、状況が改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">電波に影響を与える設置場所について</h4>
<p>ルーターを他の家庭用電気製品や水回りの近くに置くと、電波に影響が出る場合があります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ルーターの再起動方法</h4>
<p>ルーターの再起動方法については、ご利用している製品の取扱説明書をご確認ください。</p>
