<h3 id="別のネットワークへの切り替え">別のネットワークへの切り替え</h3>
<p>製品を別のネットワークで正常に利用できるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ネットワークの切り替え方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「ネットワークとインターネット」を選択</p></li>
<li><p>「Wi-Fi」を選択</p></li>
<li><p>別のSSIDを選択</p></li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※パスワードを求められる場合、ルーターの設定を確認してください。</p>
