<h3 id="着信時の通知設定の確認変更">着信時の通知設定の確認・変更</h3>
<p>通知に関する各設定を切り替えることで改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">OS標準の電話アプリの通知設定確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「アプリと通知」を選択</p></li>
<li><p>「〇〇個のアプリをすべて表示」を選択</p></li>
<li><p>アプリ一覧の中からOS標準の電話アプリを選択</p></li>
<li><p>「通知」を選択</p></li>
<li><p>すべての通知がONになっていることを確認</p></li>
</ol>
