<h3
id="os標準の電話アプリの無効再有効化">OS標準の電話アプリの無効／再有効化</h3>
<p>OS標準の電話アプリを一度無効にし、再度有効化することで改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">OS標準の電話アプリの無効化方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「アプリと通知」を選択</p></li>
<li><p>「〇〇個のアプリをすべて表示」を選択</p></li>
<li><p>アプリ一覧の中からOS標準の電話アプリを選択</p></li>
<li><p>「無効にする」をタップ</p></li>
<li><p>再度タップし、有効にする</p></li>
</ol>
