<h3
id="os標準の電話アプリのキャッシュを削除">OS標準の電話アプリのキャッシュを削除</h3>
<p>OS標準の電話アプリのキャッシュを削除して改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">OS標準の電話アプリのキャッシュ削除方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「アプリと通知」を選択</p></li>
<li><p>「〇〇個のアプリをすべて表示」を選択</p></li>
<li><p>アプリ一覧の中からOS標準の電話アプリを選択</p></li>
<li><p>「ストレージとキャッシュ」を選択</p></li>
<li><p>「キャッシュを削除」を選択</p></li>
</ol>
