<h3
id="近接センサー付近のアクセサリを確認">近接センサー付近のアクセサリを確認</h3>
<p>近接センサーはスマートフォンに物が近づいたことを感知して画面を調整する機能です。<br />
一般的にスマートフォン画面上部に近接センサーがありますので、アクセサリ（ケース、フィルム）で近接センサーがふさがれていないかご確認ください。<br />
必要に応じてアクセサリを取り外して改善するかご確認ください。</p>
