<h3 id="アプリのキャッシュを削除">アプリのキャッシュを削除</h3>
<p>ご利用中のアプリのキャッシュを削除し、改善するかご確認ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※アプリのデータ保存先がSDカードであれば、キャッシュを削除することでSDカードが反応しない症状が改善する場合があります。</p>
<p class="c-Txt_Cap">※キャッシュの削除によって、アプリ内の情報が消える場合がありますので、事前に各アプリの仕様をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリのキャッシュ削除方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「アプリと通知」を選択</p></li>
<li><p>「〇〇個のアプリをすべて表示」を選択</p></li>
<li><p>アプリ一覧の中から対象のアプリを選択</p></li>
<li><p>「ストレージとキャッシュ」を選択</p></li>
<li><p>「キャッシュを削除」を選択</p></li>
</ol>
