<h3 id="ノイズキャンセラー機能を利用">ノイズキャンセラー機能を利用</h3>
<p>ノイズキャンセラー機能を利用して、改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ノイズキャンセラー機能の設定方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「通話設定」をタップ</p></li>
<li><p>「マイクのノイズ抑制」をONにする</p></li>
</ol>

