<h3 id="マイク付きのイヤホンで確認">マイク付きのイヤホンで確認</h3>
<p>マイク付きのイヤホンでマイクが利用できるかご確認ください。</p>
<p>正常にご利用できる場合、製品のマイクが故障している可能性があります。</p>
<p>「<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/inquiry/">メーカー別
問い合わせ先</a>」をご確認のうえ、症状をお伝えください。</p>
