<h3 id="設定した音量の確認">設定した音量の確認</h3>
<p>設定されている音量をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">音量の設定方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「音」を選択</p></li>
<li><p>音に関する設定を行う</p></li>
</ol>
