<h3 id="os標準の電話アプリの権限確認">OS標準の電話アプリの権限確認</h3>
<p>特定のアプリで発生している事象であるかご確認ください。</p>
<p>OS標準の電話アプリで通話や録音が可能かアプリの権限をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">OS標準の電話アプリの権限確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「アプリと通知」を選択</p></li>
<li><p>「〇〇個のアプリをすべて表示」を選択</p></li>
<li><p>アプリ一覧の中からOS標準の電話アプリを選択</p></li>
<li><p>「権限」を選択</p></li>
<li><p>許可の一覧に「マイク」があることを確認</p></li>
</ol>
