<h3 id="製品の利用状況の確認">製品の利用状況の確認</h3>
<p>以下の状況で製品を利用していないかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">製品を鞄やポケットに入れている場合</h4>
<p>保温性の高い布などで包まれると製品の温度が高くなることがあります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">外気温の高い場所で利用している場合</h4>
<p>直射日光の差し込む窓際や車のフロントガラス付近、暖房機の吹き出し口付近でご利用していると製品の温度が高くなることがあります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">充電している場合</h4>
<p>純正もしくは付属のACアダプターや充電ケーブルを利用しているかご確認ください。</p>
