<h3
id="製品の利用を一旦中止し症状を確認">製品の利用を一旦中止し、症状を確認</h3>
<p>以下の内容をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">通話中に製品が発熱した場合</h4>
<p>通話を中止し、改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">テザリング中に製品が発熱した場合</h4>
<p>テザリングを中止し、改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">充電中に製品が発熱した場合</h4>
<p>充電を中止し改善するかご確認ください</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリ起動中に製品が発熱した場合</h4>
<p>開いているアプリをすべて終了させて改善するかご確認ください。アプリが起動したまま動作していることにより、製品の温度が高くなる場合があります。</p>
<p>アプリのアップデートにより改善する場合がありますので、最新版へのアップデートで症状が改善するかご確認ください。</p>
