<h3 id="液晶画面の確認">液晶画面の確認</h3>
<p>該当する項目がないかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">液晶画面の破損がある場合</h4>
<p>落下・衝撃などによる破損が原因で正しく表示されない場合があります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">液晶画面の破損がない場合</h4>
<p>画面が真っ黒になっている、または線が表示されるなどの場合、製品の再起動を行って改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">液晶画面にフィルムを貼っている場合</h4>
<p>フィルムが原因で正常に表示されない場合があります。フィルムをはがして改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">特定のアプリのみ発生する場合</h4>
<p>特定のアプリでのみ不具合が発生している場合、アプリ側に原因がある場合があります。アプリの設定をご確認ください。それでも改善しない場合は、アプリ提供会社へお問い合わせください。</p>
