<h3 id="pinコードの確認">PINコードの確認</h3>
<p>お買い上げ時の「PIN1コード」および「PIN2コード」ともに、 「0000」
に設定されています。</p>
<p>PINコードを変更された場合は、変更後の番号を入力してください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※PINコードを3回連続して間違えるとPINロック状態となり、PUK解除コードが必要となります。</p>
