<h3 id="pukコードの確認">PUKコードの確認</h3>
<p>PINコードは入力を3回連続して間違えるとロックがかかり、PINロック状態となります。<br />
PINロック状態では、圏外となり電話が利用できなくなります。<br />
ロック状態を解除するには、PUK解除コードの入力が必要です。<br />
<br />
PUK解除コードが必要な場合、コミュニケーションセンターへご契約者本人様からお問い合わせください。<br />
<br />
<span class="c-Txt_Cap">※PUK解除コードを10回間違えてしまった場合、完全にSIMカードがロックされます。<br />
完全にロックされたSIMカードは、無効化され利用ができなくたるため、SIMカードを再発行する必要があります。</span></p>
