<h3 id="ライトのonoffを切り替える">ライトのON／OFFを切り替える</h3>
<p>ライトのON／OFFを切り替えて改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ライトのON／OFF切り替え方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で画面上部から下部にスワイプする</p></li>
<li><p>ライトのアイコンをタップし、ON／OFFができるかを確認する</p></li>
</ol>
