<h3
id="bluetooth機器が接続されているか確認">Bluetooth機器が接続されているか確認</h3>
<p>Bluetooth機器に接続されたままになっていないかご確認ください。</p>
<p>ワイヤレスのイヤホン、スピーカーなどに接続している場合、イヤホン、スピーカーに音が流れて製品本体から音が出ません。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Bluetooth接続先の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「接続済みのデバイス」を選択</p></li>
<li><p>「接続の設定」を選択</p></li>
<li><p>「Bluetooth」を選択</p></li>
<li><p>現在接続中のBluetooth機器がないかを確認</p></li>
</ol>
