<h3 id="アプリ内の音量設定を確認">アプリ内の音量設定を確認</h3>
<p>再生アプリ・ゲームアプリ内の音量設定を変更して症状が改善するかご確認ください。</p>
<p>アプリ内の音量に問題がない場合、「設定」から音量設定を変更して症状が改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">音量の設定方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「音」を選択</p></li>
<li><p>音に関する設定を行う</p></li>
</ol>
