<h3
id="インターネットの接続状況を確認">インターネットの接続状況を確認</h3>
<p>インターネットに接続できているかご確認ください。</p>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>アンテナマークの近くに5G、4G、LTEなどが表示されていることをご確認ください。アンテナマークの本数が電波の強弱となります。</li>
<li>画面上部にWi-Fiのアイコンが表示され、Wi-Fiに接続されていることをご確認ください。</li>
</ul>
