<h3
id="nfcおサイフケータイの設定を確認">NFC／おサイフケータイの設定を確認</h3>
<p>NFC／おサイフケータイがONになっているかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">NFC／おサイフケータイの設定方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「接続済みのデバイス」を選択</p></li>
<li><p>「接続の設定」を選択</p></li>
<li><p>「NFC／おサイフケータイ」を選択</p></li>
<li><p>「NFC／おサイフケータイ」がONになっていることを確認</p></li>
</ol>
