<h3 id="日時設定の確認">日時設定の確認</h3>
<p>製品に設定されている日時が正しいかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">日時の確認・設定方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「システム」を選択</p></li>
<li><p>「日付と時刻」を選択</p></li>
<li><p>「ネットワークの時刻を使用する」がONになっていることを確認</p></li>
<li><p>「ネットワークから提供されたタイムゾーンを使用する」がONになっていることを確認</p></li>
</ol>
