<h3
id="対象アプリの位置情報の権限を確認">対象アプリの位置情報の権限を確認</h3>
<p>対象アプリの「位置情報」が許可されていることをご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">各アプリの位置情報の権限確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で対象アプリを長押し</p></li>
<li><p>「アプリ情報」を選択</p></li>
<li><p>「権限」を選択</p></li>
<li><p>許可一覧に「位置情報」があることを確認<br />
<span class="c-Txt_Cap">※「許可しない」になっている場合、「常に許可」／「アプリの使用中のみ許可」のどちらかを選択してください。</span></p></li>
</ol>
