<h3 id="google-マップアプリを確認">Google マップアプリを確認</h3>
<p>Google マップアプリでも症状が発生するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Google マップアプリでの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で「Google マップ」を選択</p></li>
<li><p>現在位置と地図を確認</p></li>
</ol>
