<h3 id="bluetooth機器の再接続">Bluetooth機器の再接続</h3>
<p>Bluetooth機器のペアリングモードを有効にし、再度製品と接続を行って改善するかご確認ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※Bluetooth機器の取扱説明書もご参照ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Bluetoothの再接続方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「接続済みのデバイス」を選択</p></li>
<li><p>「接続の設定」を選択</p></li>
<li><p>「Bluetooth」を選択</p></li>
<li><p>「Bluetooth」がONの場合はOFFにする</p></li>
<li><p>「Bluetooth」を再度ONにし、表示されたBluetooth機器をタップ</p></li>
</ol>
