<h3
id="別のbluetooth機器をペアリング">別のBluetooth機器をペアリング</h3>
<p>別のBluetooth機器で電波が受信できるかご確認ください。</p>
<p>別のBluetooth機器がペアリング先として表示されない場合、製品のBluetoothに問題がある可能性があります。</p>
<p>「<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/inquiry/">メーカー別
問い合わせ先</a>」をご確認のうえ、症状をお伝えください。</p>
<p>ペアリング方法は接続するBluetooth機器の取扱説明書を参照してください。</p>
