<h3 id="sdカードの抜き挿し">SDカードの抜き挿し</h3>
<p>SDカードの抜き挿しを行い、改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">SDカードの抜き挿し方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>SDカードを抜く</p></li>
<li><p>SDカードの接点を柔らかい布で掃除する</p></li>
<li><p>SDカードスロットを掃除する</p></li>
<li><p>SDカードを挿れる</p></li>
</ol>
