<h3 id="google-play-ストアアプリの再インストール">Google Play
ストアアプリの再インストール</h3>
<p>以下の手順で操作を行い、症状が改善するかご確認ください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>安定した Wi-Fi ネットワークに接続していることを確認する</p></li>
<li><p>製品のホーム画面またはアプリ画面で Google Play
ストアアプリを探す</p></li>
<li><p>Google Play ストア アプリを長押し</p></li>
<li><p>アプリ情報アイコン「i 」を選択</p></li>
<li><p>画面上部のその他アイコンを選択</p></li>
<li><p>「アンインストール」を選択</p></li>
<li><p>Google Play
ストアアプリを出荷時のバージョンに戻すかどうかを尋ねるメッセージが表示されたら、「OK」を選択</p></li>
</ol>
