<h3 id="google-play-開発者サービスのキャッシュデータ削除">Google Play
開発者サービスのキャッシュ／データ削除</h3>
<p>Google Play
開発者サービスからキャッシュとデータを削除し、症状が改善するかご確認ください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>設定アプリを開く</p></li>
<li><p>「アプリと通知」を選択</p></li>
<li><p>「アプリ情報」または「アプリをすべて表示」を選択</p></li>
<li><p>「Google Play 開発者サービス」を選択</p></li>
<li><p>「ストレージ」を選択</p></li>
<li><p>「キャッシュを削除」を選択</p></li>
<li><p>「ストレージを消去」を選択</p></li>
<li><p>「データをすべて消去」を選択</p></li>
<li><p>「OK」を選択</p></li>
</ol>
