<h3 id="googleアカウントの削除">Googleアカウントの削除</h3>
<p>Googleアカウントを削除し症状が改善するかご確認ください。</p>
<p>アカウントを削除すると一部の情報が製品から削除されます。重要な情報をバックアップした後にご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Googleアカウントの削除方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「パスワードとアカウント」を選択<br />
「アカウント」が表示されない場合は、「ユーザーとアカウント」を選択</p></li>
<li><p>「アカウント」 で、削除するアカウントを選択</p></li>
<li><p>「アカウントを削除」を選択</p></li>
<li><p>「OK」を選択</p></li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※このアカウントがスマートフォンで使用している唯一の
Googleアカウントである場合は、セキュリティのため、スマートフォンに登録したパターン、PIN、またはパスワードを入力する必要があります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Googleアカウントの追加方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「アカウント」を選択<br />
「アカウント」が表示されない場合は、「ユーザーとアカウント」を選択</p></li>
<li><p>画面下部の「アカウントを追加」を選択</p></li>
<li><p>追加するアカウントの種類を選択</p></li>
<li><p>Googleアカウントを追加する場合は、「Google」を選択<br />
Googleアカウントでログインすると、メール、連絡先、カレンダーの予定など、そのアカウントに関連付けられているすべてのデータがスマートフォンに自動で同期されます。<br />
別の個人用アカウントを追加する場合は、「個人用（IMAP）」 または
「個人用（POP3）」 を選択します。<br />
これらは通常、Microsoft Outlookや Apple Mailなどのメール
プログラムを使用する場合に選択します。<a target="_blank" href="https://support.google.com/mail/answer/7126229">GmailでIMAPまたはPOP3を使用する方法</a>をご確認ください。</p></li>
<li><p>画面上の手順に沿って操作する</p></li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※アカウントを追加する際には、セキュリティのため、スマートフォンに登録したパターン、PIN、またはパスワードの入力を求められる場合があります。</p>
