<h3 id="顔認証時の利用環境の確認">顔認証時の利用環境の確認</h3>
<p>顔認証がうまくできない場合、以下の対応で改善するかご確認ください。</p>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>明るい場所へ移動</li>
<li>サングラス、マスクなどを外す</li>
<li>インカメラが隠れていないかを確認</li>
</ul>
