<h3 id="顔認証の再設定">顔認証の再設定</h3>
<p>顔認証の設定をご確認のうえ、再設定してください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">顔認証の設定方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「セキュリティ」を選択</p></li>
<li><p>「顔認証」を選択</p></li>
<li><p>画面の指示に従って設定</p></li>
</ol>
