<h3
id="マイクと対象アプリの権限を確認">マイクと対象アプリの権限を確認</h3>
<p>製品のマイクが 正常に動作するかご確認ください。</p>
<p>そのうえで、対象アプリにマイクの権限があるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">製品のマイク動作確認方法</h4>
<p class="u-Adjust_Mt-24">OS標準の電話アプリでの通話など、マイクを利用する別のアプリで利用できるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">各アプリの権限確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面でアプリを長押し</p></li>
<li><p>「アプリ情報」を選択</p></li>
<li><p>「権限」を選択</p></li>
<li><p>許可の一覧に「マイク」があることを確認</p></li>
</ol>
