<h3 id="googleアカウントの登録確認">Googleアカウントの登録確認</h3>
<p>Googleアカウントの登録ができているかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Googleアカウントの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「アカウント」を選択</p></li>
<li><p>アカウント画面に登録したアカウントがあることを確認</p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Googleアカウントの新規作成方法</h4>
<p>以下の手順を参考にGoogleアカウントを作成してください。</p>
<p>Googleアカウントの新規作成手順は<a target="_blank" href="https://support.google.com/accounts/answer/27441?hl=ja">こちら</a></p>
