<h3
id="googleアシスタントの設定を確認">Googleアシスタントの設定を確認</h3>
<p>Googleアシスタント設定が完了しているかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Googleアシスタントの設定方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>Googleアプリの設定画面から「Voice Match」をタップ</p></li>
<li><p>「OK Google」をON</p></li>
<li><p>「次へ」をタップし、音声を登録</p></li>
</ol>
