<h3 id="消音モードの設定確認">消音モードの設定確認</h3>
<p>スピーカーから再生される音声は着信／サイレントスイッチでコントロールすることができます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">消音モードの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>製品の左側にある着信／サイレントスイッチを動かす</p></li>
<li><p>オレンジ色が見えないことを確認</p></li>
</ol>
