<h3 id="カードの有効期限の更新">カードの有効期限の更新</h3>
<p>有効期限が切れたクレジットカードまたはデビットカードを更新する場合、新しくカードの登録が必要です。</p>
<p class="c-Txt_Cap u-Adjust_Mt-16">※新しい支払い方法をご登録いただく際に、本人認証（3Dセキュア2.0）に推移する場合がございます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">登録方法</h4>
<ol class="c-List_Ordered u-Adjust_Mt-16">
  <li>
    「<a href="https://portal.mobile.rakuten.co.jp/dashboard#billing" class="c-Link_Txt-inline-icon" target="_blank">my 楽天モバイル<span class="c-Icon_New-window-l"></span></a>」にログインし、「利用料金」を開く
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※上記リンクにアクセスしていただくと、手順2の画面に直接遷移します。<br>
      ※アプリの場合は、画面下メニューの「利用料金」を選択してください。<br>
      ※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
    </p>
  </li>
  <li>「お支払い情報」内の「お支払い方法設定」を選択</li>
  <li>「支払い情報」内の「お支払い方法」のプルダウンを選択</li>
  <li>ご登録希望の「新しい有効期限のカード」とは別のカードを、カードの登録がない場合は新たに振替口座を月額支払い方法に設定</li>
  <li>有効期限切れになるカード情報を削除</li>
  <li>「新しい有効期限のカード」を登録のうえ月額支払いに設定</li>
  <li>
    手順4で登録した別のカードを削除
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※手順4でご登録いただいた口座は、my 楽天モバイルからは削除できません。
    </p>
  </li>
</ol>
