<h3 id="製品の持ち方を確認（Rakuten Hand5Gのみ）">製品の持ち方を確認（Rakuten Hand5Gのみ）</h3>
<p>口をマイクから離した状態で通話すると、相手に届く声が小さくなります。通話の際は口をマイクに近づけてください。</p>
<div class="u-Adjust_Align-center u-Adjust_Mt-24">
  <img class="guide-trouble-check_accoridion-image" src="/assets/img/guide/trouble-check/solution/image_7.png" width="600" alt="通話の際のご注意点">
</div>
