<h3 id="製造業者へ問い合わせ">製造業者へ問い合わせ</h3>
<p><a target="_blank" href="https://support.apple.com/ja-jp">Apple
サポート</a>へお問い合わせください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※ 楽天モバイルにおけるApple製品の初期不良対応は
製品到着日（店頭購入日）から14日であることに加え、製品開封時点で化粧箱や外観上の傷が見受けられる場合のみとなります。それ以外の初期不良はApple
サポートにお問い合わせください。</p>
