<h3 id="apnプロファイル削除">APNプロファイル削除</h3>
<p>APNプロファイルを削除いただき、症状が改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">APNプロファイルの削除方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「一般」を選択</p></li>
<li><p>「VPNとデバイス管理」を選択</p></li>
<li><p>構成プロファイルを確認し、該当のプロファイルを選択</p></li>
<li><p>「プロファイルを削除」を選択</p></li>
</ol>
