<h3 id="製品が海外ローミング利用できるかを確認">製品が海外ローミング利用できるかを確認</h3>
<p>ご利用中の製品が渡航先で海外ローミングを利用できるか、以下をご確認ください。</p>
<p class="u-Adjust_Mt-16"><a href="/support/international-roaming/area/" class="c-Link_Txt-inline" target="_blank">海外ローミング 対応エリア・料金<span class="c-Icon_New-window-l"></span></a></p>
