<h3 id="キャリア設定が最新のバージョンであることを確認">キャリア設定が最新のバージョンであることを確認</h3>
<p>キャリア設定が最新のバージョンであるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">キャリア設定のバージョンの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「一般」を選択</li>
<li>「情報」を選択</li>
<li>「キャリア」のバージョンを確認</li>
</ol>
<p class="u-Adjust_Mt-24">最新のバージョンになっていない場合は更新ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">キャリア設定のアップデート方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「一般」を選択</li>
<li>「情報」を選択</li>
<li>「キャリア」を選択</li>
<li>「アップデート」を選択</li>
</ol>
