<h3 id="モバイルデータ通信の確認">モバイルデータ通信の確認</h3>
<p>デュアルSIMを利用している場合、モバイルデータ通信が楽天モバイルになっているかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">モバイルデータ通信の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「モバイル通信」を選択</li>
<li>「モバイデータ通信」を選択</li>
<li>データ通信が「Rakuten」になっていることを確認</li>
</ol>
