<h3 id="モバイルデータ通信の切り替えを許可設定を確認">モバイルデータ通信の切り替えを許可設定を確認</h3>
<p>デュアルSIMを利用している場合、モバイルデータ通信設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">モバイルデータ通信の切り替え設定の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「モバイル通信」を選択</li>
<li>「モバイルデータ通信の切り替えを許可」をON</li>
</ol>
