<h3 id="アプリ画面のリフレッシュ">アプリ画面のリフレッシュ</h3>
<p>海外ローミング設定をONにしたのち、「サービスを変更中です。処理が完了するまでお待ちください。」と表示され30秒ほど待っても消えない場合、以下の手順をお試しください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">登録方法</h4>
<ol class="c-List_Ordered u-Adjust_Mt-16">
  <li>画面右上3本線アイコンのメニューをタップする</li>
  <li>「my 楽天モバイル」をタップする</li>
  <li>画面下部の「ホーム」アイコンをタップする</li>
  <li>画面下部の「契約プラン」アイコンをタップする</li>
  <li>「サービスを変更中です。」の表示が消えていることを確認する</li>
</ol>
