<h3 id="海外利用時はデータローミング設定を確認">海外利用時はデータローミング設定を確認</h3>
<p>製品を海外で利用する場合はデータローミング設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">データローミング設定の確認方法</h4>
<ol class="c-List_Ordered u-Adjust_Mt-16">
  <li>ホーム画面で「設定」アプリを開く</li>
  <li>「ネットワークとインターネット」をタップする</li>
  <li>「モバイルネットワーク」をタップする</li>
  <li>「ローミング」がONか確認する</li>
</ol>
<p class="u-Adjust_Mt-32">出国前に「my 楽天モバイル」の「海外ローミング（データ通信）」をONにする必要があります。詳細は「<a href="/guide/international-roaming/#setting-before" class="c-Link_Txt-inline-icon" target="_blank">出国前（サービスの開始方法）<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>
