<h3 id="att-の-3g-ネットワーク利用時はosバージョンが最新であることを確認">AT&T
の 3G ネットワーク利用時はOSバージョンが最新であることを確認</h3>
<p>AT&T の 3G
ネットワークを利用する場合、OSが最新のバージョンであるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">OSバージョンの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「一般」を選択</li>
<li>「情報」を選択</li>
<li>「ソフトウェアアップデート」を選択し、「iOSは最新です」と表示されていることを確認</li>
</ol>
<p class="u-Adjust_Mt-24">最新のバージョンになっていない場合は、スマートフォンを電源に接続し、Wi-Fi環境下で更新ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">OSのアップデート方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「一般」を選択</li>
<li>「ソフトウェアアップデート」を選択</li>
<li>「ダウンロードしてインストール」を選択</li>
<li>パスコードを入力</li>
<li>「同意する」を選択</li>
<li>「今すぐインストール」を選択</li>
<li>「アップデートを検証中」と表示</li>
<li>Apple ロゴが表示され再起動する</li>
</ol>
