<h3 id="既に登録されているカードへの変更">既に登録されているカードへの変更</h3>
<p>月額の利用料金を支払うために設定するお支払い方法は、my 楽天モバイルから変更が可能です。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">変更方法</h4>
<ol class="c-List_Ordered u-Adjust_Mt-16">
  <li>
    「<a href="https://portal.mobile.rakuten.co.jp/dashboard#billing" class="c-Link_Txt-inline-icon" target="_blank">my 楽天モバイル<span class="c-Icon_New-window-l"></span></a>」にログインし、「利用料金」を開く

    <p class="c-Txt_Cap u-Adjust_Mt-8">
      ※上記リンクにアクセスしていただくと、手順2の画面に直接遷移します。<br>
      ※アプリの場合は、画面下メニューの「利用料金」を選択してください。<br>
      ※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
    </p>
  </li>
  <li>「お支払い情報」内の「お支払い方法設定」を選択</li>
  <li>「支払い情報」内の「お支払い方法」のプルダウンを選択</li>
  <li>既に登録されている別のカードに変更する場合、支払いに使用するカードを選択</li>
  <li>「保存する」ボタンを押す</li>
</ol>
