<h3 id="wi-fi-パスワードの入力">Wi-Fi パスワードの入力</h3>
<p>Wi-Fi パスワードの入力画面が表示された場合、ご入力ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※正しいパスワードを入力しても、「ネットワークに接続できません」や「パスワードが間違っています」といったメッセージが表示される場合があります。製品をすべて再起動してから、パスワードをもう一度ご入力ください。</p>
