<h3 id="おやすみモードの確認">おやすみモードの確認</h3>
<p>「おやすみモード」がONになっている場合、製品がロックされている間の着信音、警告音、通知音が消音になります。設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">おやすみモードの確認方法1</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>集中モードを選択</li>
<li>「おやすみモード」がOFFになっていることを確認</li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">おやすみモードの確認方法2</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面の右上から下にスワイプ</li>
<li>集中モードを選択</li>
<li>「おやすみモード」がOFFになっていることを確認</li>
</ol>
