<h3 id="着信拒否設定の確認">着信拒否設定の確認</h3>
<p>特定の電話番号、連絡先、メールアドレスからの着信を拒否していないかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">着信拒否の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「電話」を選択</li>
<li>「着信拒否した連絡先」を選択し、連絡先があるかを確認</li>
</ol>
