<h3 id="ボイスメモに録音し再生できるかを確認">ボイスメモに録音し再生できるかを確認</h3>
<p>ボイスメモに録音し再生できるかをご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ボイスメモアプリを開く</li>
<li>録音ボタンをタップし、iPhone下部に向かって話す</li>
<li>録音を停止</li>
<li>メモを再生し、音声が鮮明に聞こえるかを確認</li>
</ol>
