<h3 id="レシーバーやスピーカーの清掃">レシーバーやスピーカーの清掃</h3>
<p>レシーバーやスピーカーをご清掃ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">レシーバーやスピーカーの清掃方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>保護シート、フィルム、ケースを使用している場合は全て取り外す</li>
<li>スピーカーの開口部がふさがっていないことや汚れがないことを確認</li>
<li>レシーバーの開口部がふさがっていないことや汚れがないことを確認</li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※異物がある場合は毛先の柔らかい小さなブラシで掃除する</p>
