<h3 id="フラッシュ設定の確認">フラッシュ設定の確認</h3>
<p>フラッシュ設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">フラッシュ設定の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>カメラアプリを開く</li>
<li>左上のフラッシュマークがONになっていることを確認</li>
</ol>
