<h3 id="ストレージの空き容量の確認">ストレージの空き容量の確認</h3>
<p>製品ストレージの空き容量が十分に確保されているかご確認ください。<br />
使用していないアプリ／不要な写真や動画を削除することで、空き容量を増やすことができます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ストレージの空き容量の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「一般」を選択</li>
<li>「iPhoneのストレージ」を選択して確認</li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ストレージの空き容量を増やす方法</h4>
<p class="u-Adjust_Mt-24">不要なアプリをアンインストールする</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※アプリのアンインストールによるデータ消失等への責任は負いかねますのでご了承ください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面でアンインストールしたいアプリを長押し</li>
<li>「Appを削除」を選択</li>
<li>「削除」を選択</li>
</ol>
<p class="u-Adjust_Mt-32">不要な写真・動画を削除する</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>写真アプリを起動し、不要な写真・動画を選択</li>
<li>画面右下に表示されるゴミ箱マークを選択</li>
</ol>
