<h3 id="バッテリーの状態を確認">バッテリーの状態を確認</h3>
<p>製品の変形や歪み、カバーが浮いている場合、バッテリーの状態をご確認ください。</p>
<p>バッテリーが劣化すると、製品の動作にも影響がでる場合があります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">バッテリー状態の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「バッテリー」を選択</p></li>
<li><p>「バッテリーの状態」を選択し、確認する</p></li>
</ol>
<p>バッテリーが劣化していないにもかかわらず、症状が続く場合、バッテリーに異常がある可能性があります。</p>
<p>ご利用を中止し、<a target="_blank" href="https://support.apple.com/ja-jp">Apple
サポート</a>へお問い合わせください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※ 楽天モバイルにおけるApple製品の初期不良対応は
製品到着日（店頭購入日）から14日であることに加え、製品開封時点で化粧箱や外観上の傷が見受けられる場合のみとなります。それ以外の初期不良はApple
サポートにお問い合わせください。</p>
