<h3 id="bluetooth機器と製品の再接続">Bluetooth機器と製品の再接続</h3>
<p>Bluetooth機器のペアリングモードを有効にし、再度製品と接続を行って改善するかご確認ください。<br />
<span class="c-Txt_Cap">※Bluetooth機器の取扱説明書もご参照ください。</span></p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Bluetoothの再接続方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「Bluetooth」を選択</li>
<li>「自分のデバイス」の中でペアリングを解除したいBluetooth機器のiマークを選択</li>
<li>「このデバイスの登録を解除」を選択</li>
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「Bluetooth」を選択</li>
<li>ペアリングしたいBluetooth機器を選択</li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※PIN やパスコードの入力が必要な場合があります</p>
