<h3 id="アプリの手動アップデート">アプリの手動アップデート</h3>
<p>アプリのアップデートを行い、改善するかご確認ください。<br />
<span class="c-Txt_Cap">※アプリのアップデートによるデータ消失等への責任は負いかねますのでご了承ください。</span></p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリのアップデート方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>App Storeを開く</li>
<li>画面上部にあるプロフィールアイコンを選択</li>
<li>特定のアプリの横に表示されている「アップデート」を選択</li>
</ol>
