<h3 id="支払い方法のエラー確認">支払い方法のエラー確認</h3>
<p>登録している支払い方法を確認し、有効期限切れや拒否、エラーが発生していないかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">支払い方法の変更方法</h4>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※新しい有効なお支払い方法を追加してから、古いお支払い方法を削除するようお願いいたします。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>自分の名前を選択</li>
<li>「お支払いと配送先」を選択<br />
<span class="c-Txt_Cap">※サインアウトしている場合は、Apple IDでサインインする必要があります。</span></li>
<li>「お支払い方法を追加」を選択</li>
<li>新しいお支払い方法の情報を入力し、「完了」を選択</li>
<li>「編集」を選択</li>
<li>古いお支払い方法の横にある赤い削除ボタンを選択し、「削除」を選択</li>
</ol>
