<h3 id="ダウンロードの優先設定">ダウンロードの優先設定</h3>
<p>ダウンロードしているアプリが複数ある場合、以下の方法で特定のアプリを優先的にダウンロードすることができます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリのダウンロードの優先方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ダウンロード中のアプリのアイコンを長押し</li>
<li>「ダウンロードを優先」を選択</li>
</ol>
