<h3 id="touch-idの設定を確認">Touch IDの設定を確認</h3>
<p>Touch IDの設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Touch IDの設定の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「Touch IDとパスコード」を選択</li>
<li>パスコードを入力</li>
<li>「iPhoneのロックを解除」又は「iTunes StoreとApp
Store」がONになっていて、指紋を1つ以上登録済みであることを確認</li>
</ol>
