<h3 id="別の指を登録し確認">別の指を登録し確認</h3>
<p>別の指で登録を試し、改善されるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Touch ID の設定方法</h4>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※Touch IDを設定する前に、デバイスのパスコードを作成しておく必要があります。その上で、以下の手順を実行してください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>Touch ID センサーと指が清潔で乾いていることを確認</li>
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「Touch ID とパスコード」を選択</li>
<li>パスコードを入力</li>
<li>「指紋を追加」を選択</li>
<li>登録していない指で Touch ID センサーに触れる</li>
<li>Touch ID
センサーに指先を置くと（ボタンは押しません）、製品で指紋の認識作業開始</li>
<li>ブルッという振動を感じるまで、または指先を上げるように指示されるまで指を置いたままにする</li>
<li>指先を持ち上げては置くことをゆっくり繰り返し、毎回指先の位置を少しずつ調整する</li>
<li>最初にスキャンした指の中央部分ではなく、指紋の外側の境界部で
Touch ID センサーにタッチする</li>
</ol>
