<h3 id="hey-siriが有効であるかを確認">「Hey
Siri」が有効であるかを確認</h3>
<p>「Hey Siri」が有効になっているかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">「Hey Siri」の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「Siri と検索」を選択</li>
<li>「"Hey Siri" を聞き取る」がONになっていることを確認</li>
</ol>
