<h3 id="siriでご自身の声が認識されるように設定">Siriでご自身の声が認識されるように設定</h3>
<p>Siri でご自身の声が認識されるように設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">「Hey Siri」の設定方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「Siri と検索」を選択</li>
<li>「"Hey Siri" を聞き取る」をOFFにし、ONに戻す</li>
<li>「Siriを有効にする」を選択</li>
<li>「"Hey Siri" 設定」画面が表示されたら「続ける」を選択</li>
<li>画面に表示されるコマンドをそれぞれ読み上げる</li>
<li>「完了」を選択</li>
</ol>
