<h3 id="hey-siri-を常に聞き取る設定がonになっていることを確認">「"Hey
Siri" を常に聞き取る」設定がONになっていることを確認</h3>
<p>「"Hey Siri" を常に聞き取る」設定になっているかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">「"Hey Siri" を常に聞き取る」設定の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「アクセシビリティ」を選択</li>
<li>「Siri」を選択</li>
<li>「"Hey Siri" を常に聞き取る」がONになっていることを確認</li>
</ol>
