<h3 id="修理・交換を希望する場合">修理・交換を希望する場合</h3>
<p>楽天モバイルまたは楽天市場で購入した製品をお持ちの方は下記の「修理・交換依頼する」ボタンをタップしてください。</p>
<ul class="c-Txt_Cap u-Adjust_Mt-8">
    <li>※修理料金は故障機の検査後に正式なお見積もりをお送りいたします。</li>
    <li>※譲渡品は譲渡元（購入者）からのご申告のみ修理・交換対応の可能です。ご購入者様の確認が取れない場合、 修理受付はできません。</li>
    <li>※中古品は修理受付できません。</li>
</ul>
<p class="u-Adjust_Mt-8">楽天モバイル以外で購入した方は購入先にお問い合わせください。</p>
<p class="u-Adjust_Mt-8 u-Adjust_Align-center"><a href="/support/inquiry/repair-product/?l-id=guide_trouble-check_solutions_207_inquiry_repair-product" class="c-Btn_Regular-large" target="_blank">修理・交換依頼する</a></p>