<h3 id="充電マークの確認">充電マークの確認</h3>
<p>充電時に充電マークが表示されるかご確認ください。<br />
<span class="c-Txt_Cap">※Apple Watchのバッテリーが空になった場合は、充電を始めてから数分経たないと充電マークが表示されない場合があります。<br />
※充電中は、Apple Watch はナイトスタンドモードになります。</span></p>
