<h3 id="利用コンセントの変更">利用コンセントの変更</h3>
<p>ACアダプターを挿しているコンセントをほかのコンセントに変更して、Apple
Watchが充電できるかご確認ください。<br />
<span class="c-Txt_Cap">※Apple Watchのバッテリーが空になった場合は、充電を始めてから数分経たないと充電マークが表示されない場合があります。<br />
※充電中は、Apple Watch はナイトスタンドモードになります。</span></p>
