<h3 id="充電ケーブルの確認交換">充電ケーブルの確認・交換</h3>
<p>Apple Watch
の背面とマグネット式充電器がきれいな状態であることをご確認ください。<br />
充電器の上に Apple Watch の裏蓋を向けて置き、Apple Watch
が正しい位置に収まると文字盤に充電マークが表示されます。<br />
<span class="c-Txt_Cap">※Apple Watchのバッテリーが空になった場合は、充電を始めてから数分経たないと充電マークが表示されない場合があります。<br />
※充電中は、Apple Watch はナイトスタンドモードになります。</span></p>
<p class="u-Adjust_Mt-24">ほかのApple
watchをお持ちの場合、純正もしくは付属の充電ケーブルで充電できるかご確認ください。<br />
また、充電ケーブルとACアダプターの抜き挿しを行い充電できるかご確認ください。<br />
もし充電できない場合、充電ケーブル自体の不良が考えられます。別の充電ケーブルでご確認ください。</p>
