<h3 id="iphoneのモバイルデータ通信のonoff">iPhoneのモバイルデータ通信のON／OFF</h3>
<p>iPhoneのモバイルデータの設定を一度OFFにして、5秒以上経ってから再度ONにすることで症状が改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">モバイルデータのON／OFF切り替え方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>iPhoneのホーム画面で 「設定」アプリを開く</li>
<li>「モバイル通信」を選択</li>
<li>「モバイルデータ通信」をOFFにし、5秒以上待つ</li>
<li>「モバイルデータ通信」を再度ONにする</li>
</ol>
