<h3 id="apple-watchの機内モードのonoff">Apple
Watchの機内モードのON／OFF</h3>
<p>Apple
Watchの機内モードを一度ONにし、再度OFFにすることで症状が改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">機内モードのON／OFF方法1</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>Apple Watchのホーム画面で 「設定」アプリを開く</li>
<li>機内モードを選択し、スイッチをONにする</li>
<li>緑色になったことを確認し、数秒待つ</li>
<li>スイッチをOFFにする</li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">機内モードのON／OFF方法2</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>Apple Watch の文字盤を上にスワイプ</li>
<li>機内モードのアイコンをタップしてONにする</li>
<li>オレンジ色になったことを確認し、数秒待つ</li>
<li>機内モードのアイコンをタップしてOFFにする</li>
</ol>
