<h3 id="apple-watchのosバージョンが最新であることを確認">Apple
WatchのOSバージョンが最新であることを確認</h3>
<p>Apple WatchのOSが最新のバージョンであるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">OSバージョンの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>Apple Watchのホーム画面で 「設定」アプリを開く</li>
<li>「一般」を選択</li>
<li>「情報」を選択し、OSバージョンを確認</li>
</ol>
<p class="u-Adjust_Mt-24">最新のバージョンになっていない場合は、最新バージョンのwatchOSをApple
Watch で直接入手するか、iPhone を使ってアップデートください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Apple WatchでのOSのアップデート方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>Apple Watchのホーム画面で「設定」を選択</li>
<li>「一般」を選択</li>
<li>「ソフトウェアアップデート」を選択</li>
<li>ソフトウェアアップデートが提供されている場合は「インストール」をタップし、画面の指示に従ってインストールする</li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">iPhoneでのOSのアップデート方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>iPhone で Apple Watch アプリを開く</li>
<li>「マイウォッチ」タブを選択</li>
<li>「一般」を選択</li>
<li>「ソフトウェア・アップデート」を選択</li>
<li>「ダウンロードとインストール」が表示されている場合は選択し、最新のOSにアップデートしてください。</li>
</ol>
<p>「Apple Watch
は最新の状態」と表示されていれば最新のOSにアップデートされています。</p>
