<h3 id="apple-watchのキャリア設定が最新であることを確認">Apple
Watchのキャリア設定が最新であることを確認</h3>
<p>楽天モバイルのモバイルデータ通信プランである電話番号シェアサービスに契約するとiPhone
が近くになくても電話をかける、メッセージを送る、通知を受け取るなどをApple
Watch単体でできます。<br />
Apple
Watchのキャリア設定が最新のバージョンであるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">キャリア設定のバージョンの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>iPhoneとApple Watchをペアリングする</li>
<li>電話番号シェアサービスを契約する<br />
    <span class="c-Txt_Cap">※月額料金が発生します</span></li>
<li>契約完了後、ペアリングした状態でApple
Watchのホーム画面で「設定」を選択</li>
<li>「一般」を選択</li>
<li>「情報」を選択し、通信事業者の欄を確認する</li>
</ol>
<p class="u-Adjust_Mt-24">最新のバージョンになっていない場合は更新ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アップデート方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>iPhoneのホーム画面で 「設定」アプリを開く</li>
<li>「一般」を選択</li>
<li>「情報」を選択</li>
<li>ポップアップが表示されるので「アップデート」を選択</li>
<li>アップデート完了後、iPhoneの再起動を行う</li>
</ol>
