<h3 id="不要なプロファイル設定が削除済みかを確認">不要なプロファイル設定が削除済みかを確認</h3>
<p>Apple
Watch内の不要なプロファイル設定が削除済みであるかをご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>iPhone でWatchアプリを開く</li>
<li>「マイウォッチ」タブを選択</li>
<li>「一般」を選択</li>
<li>「プロファイル」を選択</li>
<li>削除するベータプロファイルを選択して「プロファイルを削除」を選択</li>
<li>iPhone のパスコードを求められたら入力する</li>
<li>iPhoneのホーム画面で「設定」を選択</li>
<li>「一般」を選択</li>
<li>「プロファイルとデバイス管理」を選択</li>
<li>削除するベータプロファイルを選択して「プロファイルを削除」を選択</li>
<li>iPhone のパスコードを求められたら入力する</li>
<li>プロファイルを削除したらiPhoneとApple Watchを再起動する</li>
<li>アップデートがないか再度確認する</li>
</ol>
