<h3 id="別のapple-watchとペアリングしていないかを確認">別のApple
Watchとペアリングしていないかを確認</h3>
<p>「Apple Watch に接続できない」というメッセージが iPhone
に表示される場合や、Apple Watch に文字盤が表示される場合、その Apple
Watch はすでにペアリング済みである可能性があります。</p>
<p>ペアリングの解除し、症状が改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ペアリングの解除方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>Apple WatchとiPhoneを互いに近い場所に置く</p></li>
<li><p>iPhone でWatchアプリを開く</p></li>
<li><p>「マイウォッチ」タブを選択</p></li>
<li><p>画面上部の「すべてのWatch」を選択</p></li>
<li><p>ペアリングを解除したい Apple Watch
の横にあるiボタンを押す</p></li>
<li><p>「Apple Watchとのペアリングの解除」を選択</p></li>
<li><p>しばらくするとApple Watchとのペアリングが解除される</p></li>
</ol>
