<h3 id="apple-watchの消去">Apple Watchの消去</h3>
<p>Apple Watchにペアリングされている iPhoneが手元にない場合、Apple Watch
を消去することでペアリングは解除できます。</p>
<p>Apple Watchを消去した場合でも、Apple
Watchは引き続きアクティベーションロックで保護されています。</p>
<p>Apple Watchを再びペアリングするには、設定時に使ったApple
IDとパスワードの入力が必要となります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ペアリングの消去方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>Apple Watchのホーム画面で 「設定」アプリを開く</p></li>
<li><p>「マイウォッチ」タブを選択</p></li>
<li><p>「一般」を選択</p></li>
<li><p>「リセット」を選択</p></li>
<li><p>「すべてのコンテンツと設定を消去」を選択</p></li>
<li><p>確認のためもう一度「すべてのコンテンツと設定を消去」を選択</p></li>
<li><p>しばらくするとApple Watchとのペアリングが解除される</p></li>
</ol>
