<h3
id="バッテリー残量の確認iphoneapple-watch">バッテリー残量の確認（iPhone／Apple
Watch）</h3>
<p>iPhoneやApple Watchのバッテリー残量をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">iPhoneの確認手順</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面の右上から下にスワイプ</p></li>
<li><p>電池のマークを選択</p></li>
<li><p>バッテリー残量を確認</p></li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※iPhone ではバッテリーのウィジェットを追加すると、接続されている
Apple Watch のバッテリー残量が表示される</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">AppleWatchの確認手順1</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>文字盤を上にスワイプ</p></li>
<li><p>コントロールセンターを開いて、バッテリー残量 を確認</p></li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※Apple
watchの文字盤によっては、バッテリーのコンプリケーションを追加できます</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">AppleWatchの確認手順2</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>Apple WatchまたはiPhoneでナイトスタンドモードをONにする</p></li>
<li><p>Apple Watchに充電ケーブルを接続し、横向きに置く<br />
<span class="c-Txt_Cap">※Apple Watchは自動的にナイトスタンドモードになります</span></p></li>
<li><p>充電ボタンを選択し、バッテリー残量を確認</p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">AppleWatchの確認手順3</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>Apple watchのホーム画面で 「設定」アプリを開く</p></li>
<li><p>「バッテリー」を選択し、充電残量を確認</p></li>
</ol>
