<h3 id="ペアリング状況の確認">ペアリング状況の確認</h3>
<p>iPhoneとApple Watchの接続状況をご確認ください。<br />
接続が切れている場合は、Apple Watchの文字盤に赤い iPhone
のアイコンまたは赤い×アイコンが表示されます。コントロールセンターでも接続状況を確認できます。Apple
Watch が再び接続されると、緑の iPhone のアイコンが表示されます。</p>
