<h3 id="スマホ交換保証サポートへ問い合わせ">スマホ交換保証サポートへ問い合わせ</h3>
<p>楽天モバイルスマホ交換保証プラスの利用不具合につきましては、my 楽天モバイルに表示されるスマホ交換保証サポートまでお問い合わせください。</p>
<p>お問い合わせ方法については、「<a target="_blank" href="https://r10.to/h5X93X">スマホ交換保証プラスについて問い合わせたい場合、どうすればよいですか？</a>」をご確認ください。</p>