<h3 id="apple-watchのwi-fiのonoff">Apple WatchのWi-FiのON／OFF</h3>
<p>Apple
WatchのWi-Fiの設定を一度OFFにして、再度ONにすることで症状が改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Wi-FiのON／OFF方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>文字盤を上にスワイプ</li>
<li>Wi-FiのマークをタップしOFFにする</li>
<li>Wi-Fiマークがグレーになり、製品が接続していたネットワークから切断される<br />
<span class="u-Adjust_Mt-24 c-Txt_Cap">※Apple Watch GPS + Cellular モデルに限り、Wi-Fi
ネットワークとの接続を解除できる<br />
※接続解除された Wi-Fi ネットワークに Apple Watch
が自動的に再接続することはありません</span></li>
<li>文字盤を上にスワイプ</li>
<li>Wi-FiのマークをタップしONにする</li>
</ol>
