<h3
id="デュアルsimの場合他社simの無効設定を確認">デュアルSIMの場合、他社SIMの無効設定を確認</h3>
<p>デュアルSIMの場合、他社SIMを無効にして症状が改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">手順</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>iPhoneのホーム画面で 「設定」アプリを開く</p></li>
<li><p>「モバイル通信」を選択</p></li>
<li><p>「モバイルデータ通信」を選択</p></li>
<li><p>表示される候補のうち、主にデータ通信で使いたい回線を選択する</p></li>
</ol>
