<h3 id="apple-watchのおやすみモードの確認">Apple
Watchのおやすみモードの確認</h3>
<p>Apple Watchの設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">おやすみモードの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>文字盤を上にスワイプ</li>
<li>三日月のマークをタップしOFFにする</li>
</ol>
