<h3 id="apple-idでサインインしているか確認">Apple
IDでサインインしているか確認</h3>
<p>Apple IDでサインインしているかを確認してください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>iPhoneでWatchアプリを開く</li>
<li>「マイウォッチ」タブを選択</li>
<li>「一般」を選択</li>
<li>「Apple ID」を選択し、サインインしているかを確認</li>
</ol>
