<h3 id="imessageのサインイン">iMessageのサインイン</h3>
<p>iMessageへ再度サインインし症状が改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>iPhoneのホーム画面で 「設定」アプリを開く</li>
<li>「メッセージ」を選択</li>
<li>「iMessage」をONにする</li>
<li>iPhoneのホーム画面で「設定」を選択</li>
<li>「メッセージ」を選択</li>
<li>「送受信」を選択</li>
<li>「iMessageにApple ID を使用」を選択し、サインインする</li>
</ol>
