<h3 id="iphoneのデフォルト通話が可能であるかを確認">iPhoneのデフォルト通話が可能であるかを確認</h3>
<p>iPhoneのデフォルト通話が可能であるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「電話」Appを選択</li>
<li>キーパッドで番号を入力するか、よく使う項目または履歴をタップするか、連絡先リストにある番号を選択</li>
<li>通話ボタン（緑） をタップして電話をかける</li>
<li>通話を終了するには、通話終了ボタン（赤）をタップする</li>
</ol>
