<h3 id="音量を確認">音量を確認</h3>
<p>Apple Watch
の音量を上げる／下げることで症状が改善されるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>Apple Watch のホーム画面で 「設定」アプリを開く</li>
<li>「サウンドと触覚」を選択</li>
<li>音量を下げるボタンをタップすると音量が下がり、音量を上げるボタン
をタップすると音量が上がる。（スライダをタップして、Digital
Crownを回して調整することも可能）</li>
</ol>
