<h3 id="apple-watchの画面ロックを確認">Apple
Watchの画面ロックを確認</h3>
<p>画面ロック時の通知設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>Apple Watchのホーム画面で 「設定」アプリを開く</li>
<li>「通知」を選択し、設定内容を確認</li>
</ol>
