<h3 id="apple-watchのシアターモードを確認">Apple
Watchのシアターモードを確認</h3>
<p>シアターモードに設定すると手首を上げても画面が点灯しなくなり、消音モードも同時にONになります。<br />
設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>文字盤を上にスワイプ</li>
<li>シアターモードのマークをタップし、OFFになっていることを確認</li>
</ol>
