<h3 id="apple-watchの通知設定を確認">Apple Watchの通知設定を確認</h3>
<h4 class="c-Heading_Lv4">通知の停止方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>文字盤の上部を長押し</li>
<li>しばらくして通知センターが表示されたら、下にスワイプ</li>
<li>停止したい通知を左にスワイプして、詳細ボタンをタップ</li>
<li>その
アプリで利用できるオプションの中から選択し、通知を停止する</li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">通知の再開方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>iPhone で Apple Watchアプリを開く</li>
<li>「マイウォッチ」タブをタップ</li>
<li>「通知」をタップ</li>
<li>下にスクロールして、インストール済みのアプリのリストを表示し、通知を受信したい
アプリをONにする</li>
</ol>
