<h3 id="apple-watchの容量を確認">Apple Watchの容量を確認</h3>
<p>ストレージの空き容量が十分に確保されているかご確認ください。<br />
使用していないアプリ／不要な写真や動画を削除することで、空き容量を増やすことができます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ストレージの空き容量の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「一般」を選択</li>
<li>「使用状況」を選択して確認</li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ストレージの空き容量を増やす方法</h4>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>Apple Watchに同期している音楽や写真を削除する</li>
<li>不要なアプリをアンインストールする<br />
<span class="c-Txt_Cap">※アプリのアンインストールによるデータ消失等への責任は負いかねますのでご了承ください。</span></li>
</ul>
