<h3 id="apple-payのシステム状況を確認">Apple
payのシステム状況を確認</h3>
<p>Appleの「<a target="_blank" href="https://www.apple.com/jp/support/systemstatus/">システム状況</a>」をご確認ください。<br />
障害が起きている場合は、復旧後にもう一度お試しください。特に障害が起きていない場合は、交通機関にお問い合わせの上、ご利用の製品にカードを追加できるかどうかご確認ください。</p>
