<h3
id="suicaやpasmoを追加できるかを確認">SuicaやPASMOを追加できるかを確認</h3>
<p>SuicaやPASMOをApple WatchのAppleウォレットに追加すると、Apple
Payで交通機関を利用したりお買い物をしたりできます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">カードの追加方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>金属製ではない平らな面にプラスチックカードを置く</p></li>
<li><p>その上に iPhone を置く<br />
<span class="c-Txt_Cap">※iPhone の上部がカードの中央に来るように（iPhone
がカードの下半分を隠すように）置く。<br />
※転送が終わるまでそのまま動かさないようにしてください。<br />
※カードの残額が 19,500 円以下であることをご確認ください。<br />
※Suica や PASMO の機能が付いたクレジットカードは、Wallet
でカードの種類として「クレジット／プリペイドカード」を選択することで
Apple Pay に追加できます。ただし、Apple Pay
にはそのカードのクレジットカード機能しか取り込まれません。Suica や PASMO
の機能は取り込まれず、Suica または PASMO
の残高はプラスチックカード側に残ります。<br />
※一部の Suica または PASMO（たとえば通学定期券など）は、Apple Pay
に追加する前に確認が必要になる場合があります。Wallet App の Suica や
PASMO の追加機能を利用するには、iPhone 上で JR 東日本の Suica App
または株式会社パスモの PASMO App をダウンロードして App
内で会員登録してください。</span></p></li>
</ol>
<div class="u-Adjust_Align-center u-Adjust_Mt-24">
<img class="guide-trouble-check_accoridion-image" src="/assets/img/guide/trouble-check/solution/image_1.jpg" alt="">
</div>