<h3 id="製造業者へ修理を依頼">製造業者へ修理を依頼</h3>
<p>まずは<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/trouble-check/#/member/s-1-1" data-ratid="guide_trouble-check_solution-253_trouble-check" data-ratevent="click" data-ratparam="all">トラブル解決ナビ</a>の診断をお試しいただき、改善しない場合は「<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/inquiry/">メーカー別問い合わせ先</a>」へお問い合わせください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※楽天モバイルにおける他社製品の初期不良対応は
製品到着日（店頭購入日）から14日であることに加え、製品開封時点で化粧箱や外観上の傷が見受けられる場合のみとなります。それ以外の初期不良は製造業者にお問い合わせください。</p>
