<h3 id="Appleサポートに電話で問い合わせ">Appleサポートに電話で問い合わせ</h3>
<p>AppleCareの利用不具合に関しては、Appleサポートまでお問い合わせください。</p>
<div class="u-Adjust_Mt-24">
<p class="c-Txt_Emp-01">Appleサポート</p>
<p><a href="tel:0120-227-535">0120-227-535</a></p>
<p>営業時間：9:00～17:00</p>
</div>