<h3 id="ソフトウェアのバージョンを確認">ソフトウェアのバージョンを確認</h3>
<p>ソフトウェアのバージョンをご確認ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※最新版ではない場合、アップデートを行うことで改善の可能性があります</p>
<p class="c-Txt_Cap">※パソコンでの接続を推奨しています</p>
<p class="c-Txt_Cap">※取扱説明書もご参照ください（<a target="_blank" href="https://network.mobile.rakuten.co.jp/assets/pdf/product/Rakuten-WiFi-Pocket-manual.pdf">Rakuten
WiFi Pocket</a>、<a target="_blank" href="https://network.mobile.rakuten.co.jp/assets/pdf/product/Rakuten-WiFi-Pocket-2B-manual.pdf">Rakuten
WiFi Pocket 2B</a>、<a target="_blank" href="https://network.mobile.rakuten.co.jp/assets/pdf/product/Rakuten-WiFi-Pocket-2C-manual.pdf">Rakuten
WiFi Pocket 2C</a>）</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ソフトウェアのバージョンの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>製品とパソコン（またはスマートフォン）をWi-Fi接続する</li>
<li>ブラウザから「<a target="_blank" href="http://192.168.0.1">管理画面</a>」にアクセスする</li>
<li>「パスワード」を入力してログインする<br />
<span class="c-Txt_Cap">※初期状態では「パスワード」は「admin」に設定されています</span></li>
<li>「詳細設定」を選択</li>
<li>製品情報一覧から、「ソフトウェアバージョン」を確認</li>
</ol>
