<h3 id="転入を開始するボタン押下の確認">「転入を開始する」ボタン押下の確認</h3>
<p>MNP転入 ⁄ プラン変更（移行）をお手続きください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※受付時間によりMNP転入／プラン変更（移行）完了時間が異なります。</p>
<p class="u-Adjust_Mt-24">また、MNP転入／プラン変更（移行）が完了すると、現在の回線はご利用できなくなります。</p>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>9:00～21:00受付の場合
･･･当日中にMNP転入／プラン変更（移行）完了（受付から10分～30分程度で完了）</li>
<li>21:01～翌日8:59受付の場合 ･･･
翌日9:00以降にMNP転入／プラン変更（移行）完了</li>
</ul>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">MNP転入 ⁄ プラン変更（移行）の手続き方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#home">my
楽天モバイル</a>」にログインする
<p class="c-Txt_Cap">※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>
</li>
<li>「申込番号」を選択</li>
<li>ページ下部の「転入を開始する」を選択</li>
<li>「注意事項」を確認し、「MNP転入を開始する」を選択</li>
<li>申し込み履歴画面で「開通手続き中です」と表示されることを確認</li>
</ol>
