<h3 id="製品が楽天回線対応製品であるかを確認">製品が楽天回線対応製品であるかを確認</h3>
<p>お使いの製品が「<a target="_blank" href="https://network.mobile.rakuten.co.jp/product/certified-products/?l-id=search_top">楽天回線対応製品</a>」であるかをご確認ください。</p>
