<h3 id="インジケーターの点灯状態から対処方法を確認">インジケーターの点灯状態から対処方法を確認</h3>
<p><a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/rakuten-casa/connection/#indicator">インジケーターランプ別の症状事例</a>をご確認ください。</p>
<div class="u-Adjust_Align-center u-Adjust_Mt-24">
    <img class="guide-trouble-check_accoridion-image" src="/assets/img/guide/trouble-check/solution/image_3.jpg" alt="">
</div>