<h3 id="製品の再起動">製品の再起動</h3>
<h4 class="c-Heading_Lv4">再起動方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>Rakuten Casaアプリを開く</li>
<li>登録したRakuten Casaを選択</li>
<li>デバイス情報が表示されるので「デバイスを再起動する」を選択</li>
<li>10－15分時間を要することに問題がなければ、「同意して実行する」を選択</li>
<li>アンケートの協力依頼</li>
<li>再起動完了</li>
</ol>
