<h3 id="bluetooth接続が有効であるかを確認">Bluetooth接続が有効であるかを確認</h3>
<p>Bluetooth接続が有効になっていることをご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>iPhoneのホーム画面で 「設定」アプリを開く</li>
<li>「Bluetooth」を選択し、ONになっていることを確認</li>
</ol>
