<h3 id="airpodsの接続状況を確認">AirPodsの接続状況を確認</h3>
<p>AirPodsがiPhoneに接続されていることをご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>iPhoneのホーム画面で 「設定」アプリを開く</p></li>
<li><p>「Bluetooth」を選択</p></li>
<li><p>AirPodsが接続されている場合は、「オーディオデバイス」として選択されているかを確認</p></li>
</ol>
<p class="u-Adjust_Mt-24">接続されていない場合は以下をお試しください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ケースの蓋を閉じて、15秒ほど待ってから蓋を開ける</p></li>
<li><p>充電ケースの背面にある設定ボタンを最長10秒間長押し</p></li>
<li><p>充電ケースの前面にあるステータスランプが白く点滅しているかを確認</p></li>
<li><p>充電ケースの中にAirPodsを入れ、蓋を開いたまま充電ケースを持ち、iPhoneに近付ける</p></li>
<li><p>iPhoneの画面に表示される手順を実行する</p></li>
</ol>
