<h3 id="my-楽天モバイルでの手続き">my 楽天モバイルでの手続き</h3>
<p>my 楽天モバイルからお手続きいただけます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">利用停止の方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#home">my
楽天モバイル</a>」にログインし、「契約プラン」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「契約プラン」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>「その他のお手続き」内の「手続きへ進む」を選択</li>
<li>「盗難紛失時などのお手続き」内にある「利用停止（紛失・盗難時など）」を選択</li>
<li>「SIMカード・eSIMを一時利用停止する」を選択</li>
<li>「次へ」を選択</li>
<li>ポップアップの内容をご確認のうえ、「利用停止」を選択するとご利用中の回線が停止されます</li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">利用再開の方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#home">my
楽天モバイル</a>」にログインし、「契約プラン」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「契約プラン」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>「利用停止中の回線のお手続き」内の「各種手続きはこちら」を選択</li>
<li>「利用再開のお手続き」内にある「利用再開」を選択</li>
<li>ポップアップの内容をご確認のうえ、「利用再開」を選択すると停止されていた回線が再開されます</li>
</ol>
