<h3 id="キャリア決済の設定を確認">キャリア決済の設定を確認</h3>
<p>
楽天モバイルのキャリア決済は、楽天回線対応のAndroid製品をご利用のご契約者様のみ、ご利用いただけます。<br>
キャリア決済を利用するには、「my 楽天モバイル」の月額料金のお支払い方法をクレジットカードまたはデビットカードに設定する必要があります（口座振替の場合、楽天モバイルのキャリア決済は利用できません）。
</p>
<p class="c-Txt_Cap u-Adjust_Mt-16">※口座振替の場合、楽天モバイルのキャリア決済は利用できません。</p>
<p class="c-Txt_Cap u-Adjust_Mt-16">※iPhoneで楽天モバイルのキャリア決済をご利用いただくことはできません。</p>
<p class="u-Adjust_Mt-24">
設定方法・ご利用方法は<a target="_blank" href="https://r10.to/huB7lZ">こちら</a>をご確認ください。
</p>