<h3 id="バッテリー残量の確認">バッテリー残量の確認</h3>
<p>バッテリー残量をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>AirPodsが中に入ったままケースの蓋を開け、ケースごと
iPhoneに近付ける</li>
<li>数秒間待つと、iPhoneにAirPods の充電状況が表示される</li>
</ol>
