<h3 id="airpodsの再充電">AirPodsの再充電</h3>
<p>左右両方の AirPods を充電ケースに入れて30
秒間充電し、バッテリー残量を再度ご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>AirPodsを充電ケースに入れ、30秒間充電する</li>
<li>充電ケースの蓋を開け、ケースごと iPhoneに近付ける</li>
<li>数秒間待つと、iPhoneにAirPods の充電状況が表示される</li>
</ol>
