<h3 id="バランス設定の確認">バランス設定の確認</h3>
<p>バランス設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>iPhoneのホーム画面で 「設定」アプリを開く</li>
<li>「アクセシビリティ」を選択</li>
<li>「オーディオ／ビジュアル」を選択</li>
<li>「バランス」が中央に設定されていることを確認</li>
</ol>
