<h3 id="【重要】楽天モバイル 名義人相違による開通手続き中断のお知らせメールの確認">「【重要】楽天モバイル 名義人相違による開通手続き中断のお知らせ」メールの確認</h3>
<p>「【重要】楽天モバイル 名義人相違による開通手続き中断のお知らせ」メールはMNPでお申し込みいただいた際、MNP転入元の携帯電話会社の名義と楽天モバイルにご登録いただいた名義に相違がある場合にお送りしております。</p>
<p>本メールを受信後のお手続き方法は以下をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">お手続き方法</h4>
<p class="u-Adjust_Mt-16">〇楽天モバイルの申し込み時の名義に誤りがあった場合<br>
(例)結婚して姓が変わったが、楽天モバイルに登録した契約者情報の名義が旧姓のままだったなど</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>申し込みをキャンセルする</li>
<li>正しい契約者情報で再度楽天モバイルの申し込みを行う</li>
</ol>
<p class="u-Adjust_Mt-32">〇転入元の名義に誤りがあった場合<br>
(例)結婚して姓が変わったが、転入元の名義が旧姓のままだったなど</p>
<p class="u-Adjust_Mt-32">＜MNPワンストップ転入の場合＞</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>転入元の携帯電話会社で名義変更を行う<br>
<span class="c-Txt_Cap">
※楽天モバイルをご契約になるお客様の名義に変更してください。<br>
※携帯電話会社によって、名義変更不可の場合があります。
</span>
</li>
<li>再度my楽天モバイルの転入元の携帯電話会社選択から転入元マイページへ行き、MNP転入を申し込む</li>
</ol>
<p class="u-Adjust_Mt-32">＜MNPワンストップ未対応の携帯電話会社からの転入の場合＞</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>転入元の携帯電話会社で名義変更を行う<br>
<span class="c-Txt_Cap">
※楽天モバイルをご契約になるお客様の名義に変更してください
</span>
</li>
<li>転入元の携帯電話会社通信事業者で、再びMNP予約番号を取得する</li>
<li>
my 楽天モバイルより、以前のお申し込みのMNP予約番号を更新する<br>
MNP予約番号の更新方法は「<a href="/faq/detail/00001526/" class="c-Link_Txt-inline-icon" target="_blank">MNP検証失敗後、有効なMNP予約番号を再取得したのでその後の手続き方法を知りたい<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>転入元携帯電話会社でのご契約者様の名義で楽天モバイル契約を行う（本人確認が必要です）</p></li>
<li><p>「<a href="/guide/contract-transfer/" class="c-Link_Txt-inline-icon" target="_blank">my楽天モバイル<span class="c-Icon_New-window-l"></span></a>」から回線譲渡のお手続きを行う</p></li>
</ol>
