<h3 id="契約中の通信プランを確認">契約中の通信プランを確認</h3>
<p>
楽天モバイルキャリア決済は、通話もできる通常タイプのRakuten最強プランを契約中の場合にご利用いただけます。<br>
Rakuten最強プラン（データタイプ）ではご利用いただけません。
</p>
<p class="u-Adjust_Mt-24">
Rakuten最強プラン（データタイプ）から通常タイプへの変更方法については、<a target="_blank" href="https://r10.to/hNtnM4">こちら</a>をご確認ください。
</p>