<h3
id="新しいiphoneでのicloudサインイン">新しいiPhoneでのiCloudサインイン</h3>
<p>新しいiPhoneでiCloudにサインインを行ってください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">iCloud のサインイン方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「iPhoneにサインイン」を選択<br />
<span class="c-Txt_Cap">※ご自身のAppleID名が表示されている場合、すでにiCouudにサインインされています。</span></p></li>
<li><p>Apple ID とパスワードを入力<br />
<span class="c-Txt_Cap">※サインインできない場合は「パスワードをお忘れか Apple ID
をお持ちでない場合」を選択ください<br />
表示される画面で、Apple ID またはパスワードを回復するか、Apple ID
を作成することができます。</span></p></li>
<li><p>表示される画面に従ってご対応ください。</p></li>
</ol>
