<h3
id="simカードお申し込み履歴の確認">SIMカードお申し込み履歴の確認</h3>
<p>SIMカードと製品を同時購入している場合、SIMカードと製品を一緒に郵送いたします。</p>
<p>そのため、製品が予約販売や自然災害などにより配送が遅れている場合は、SIMカードも同様に配送に遅れが生じます。</p>
<p>「my 楽天モバイル」より申し込み履歴をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">申し込み履歴の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=contactInfo#personal-info">my
楽天モバイル</a>」にログインし、「契約者情報」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「契約者情報」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>「ご登録情報の表示・設定」を選択</p></li>
<li><p>「契約情報」を確認</p></li>
</ol>
