<h3
id="simカードを挿入simカードの抜き挿し">SIMカードを挿入（SIMカードの抜き挿し）</h3>
<p>Wi-FiルーターにはmicroSIMが必要となります。詳しくはSIMカードに同封のスタートガイドをご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">SIMカードの抜き挿し方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered" type="1">
<li><p>Wi-Fiルーターの電源を切る</p></li>
<li><p>SIMカード挿入口のカバーを開く<br />
<span class=" c-Txt_Cap">※SIMカード挿入口のくぼみに指（爪）をかけてカバーを外す</span></p></li>
<li><p>SIMカードを抜く</p></li>
<li><p>SIMカードを挿し込む</p></li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※「SIMを認識していません」と製品上部に表示される、アンテナの状態が「圏外（バツ印）」、「4G」「5G」が表示されない状態が改善されない場合は、ご利用の製品や設定に原因があるか、SIMカードの不良が考えられます。SIMカードの不良が考えられる場合は、SIM再発行を行ってください。</p>
