<h3 id="ユーザid確認とパスワードの再設定">ユーザID確認とパスワードの再設定</h3>
<p>パソコン・スマートフォン等でユーザID確認、パスワード再設定のお手続きが可能です。</p>
<p class="u-Adjust_Mt-24">お客様ご自身でユーザIDを設定していない場合は、登録メールアドレスがそのままユーザIDになります。</p>
<p class="u-Adjust_Mt-24">「<a target="_blank" href="https://member.id.rakuten.co.jp/rms/nid/upkfwd">ユーザIDの確認・パスワードの再設定</a>」から再設定を行ってください。</p>
<p>なお、お手続きに際し、楽天会員に登録されているメールアドレスが必要となります。事前にご確認をお願いいたします。</p>
<p class="u-Adjust_Mt-24">ユーザID・パスワードにつきましては、楽天市場の管理となります。</p>
