<h3 id="メールアドレスの再確認">メールアドレスの再確認</h3>
<p>メールアドレスの入力に間違いがないかご確認ください。</p>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>メールアドレスが間違っている</li>
<li>入力欄に半角・全角スペースが入っている</li>
<li>@以降のドメイン部分など、メールアドレスの一部を間違えて入力している</li>
</ul>
<p class="u-Adjust_Mt-24">＜スペースが含まれる入力例＞</p>
<p>[誤1]xxxxxx␣@rakuten.co.jp</p>
<p>[誤2]xxxxxx@rakuten.co.jp␣</p>
<p>[誤3]␣xxxxxx@rakuten.co.jp</p>
<p>[正]xxxxxx@rakuten.co.jp</p>
<p class="u-Adjust_Mt-24">お申し込みの際に登録のメールアドレス宛に「[楽天モバイル]
お申し込み完了のお知らせ」という件名のメールをお届けしておりますので、確認メールを受信したメールアドレスにてログインをお試しください。</p>
