<h3 id="秘密の質問を登録している場合">秘密の質問を登録している場合</h3>
<p>登録しているメールアドレスが解約等で受信できず、パスワード再設定が行えない場合でも、秘密の質問を登録している場合はユーザIDの確認およびパスワードの再設定が可能です。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">メールアドレスの変更方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=contactInfo#personal-info">my
楽天モバイル</a>」にログインし、「契約者情報」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「契約者情報」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>「連絡先情報」欄に表示される「変更」を選択し、メールアドレスを変更する</li>
</ol>
