<h3 id="パスワードの再確認">パスワードの再確認</h3>
<p>パスワードを入力後にエラーメッセージが表示される場合、以下の点をご確認ください。</p>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>全角で入力している</li>
<li>大文字・小文字などが混合している</li>
<li>入力したい数字・文字が入力されていない</li>
<li>入力欄に半角・全角スペースが入っている</li>
</ul>
<p class="u-Adjust_Mt-24">＜誤った入力例＞</p>
<p>[誤]aBcd␣1２34</p>
<p>[正]abcd1234</p>
