<h3 id="お申し込み時の楽天idを利用">お申し込み時の楽天IDを利用</h3>
<p>楽天モバイルにお申し込みいただいた際の楽天IDではなく、別の楽天IDでログインされている可能性があります。</p>
<p>お申し込み時にご利用いただいた楽天IDで再度ログインをお試しください。</p>
<p>お客様ご自身でユーザIDを設定していない場合は、登録メールアドレスがそのままユーザIDになります。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※楽天IDを複数持つことは禁止されており、利用停止、会員資格の取り消し等にもなりますのでご注意ください。万が一複数のアカウントをお持ちの場合は「<a target="_blank" href="https://ichiba.faq.rakuten.net/detail/000006449">楽天会員から退会したい</a>」よりお手続きしてください。</p>
