<h3 id="キャリア決済の利用上限額を確認">キャリア決済の利用上限額を確認</h3>
<p>
楽天モバイルキャリア決済は1ヶ月の利用上限額を超えたご利用はできません。<br>
年齢に応じた利用限度額に達していない場合は、月額利用可能額を変更できます。詳しくは<a target="_blank" href="https://r10.to/hN3liA">こちら</a>をご確認ください。
</p>
<p class="c-Txt_Cap u-Adjust_Mt-24">
※基本的には、お客様の年齢に応じた利用限度額の範囲内で月額最大利用料を設定できますが、お客様によっては異なる上限額を設定させていただく場合もございます。
</p>