<h3
id="osバージョンが最新であることを確認">OSバージョンが最新であることを確認</h3>
<p>最新のアップデート情報は「<a target="_blank" href="https://network.mobile.rakuten.co.jp/information/software/?a8=UnOGgnV4Raqlj4dS00LraOYyS0jaoI1AZ4Y_vOjP2BWqEymPEaW4EyOUiS2ydbO-2nM1RajrGItTxs00000015198001%E3%80%8D">ソフトウェアアップデート</a>」からご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Android製品の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「システム」を選択</p></li>
<li><p>「詳細設定」を選択</p></li>
<li><p>「システムアップデート」を選択</p></li>
<li><p>アップデート状況が表示</p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">iPhoneの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「一般」を選択</p></li>
<li><p>「情報」を選択</p></li>
<li><p>「ソフトウェアアップデート」を選択し、「iOSは最新です」と表示されていることを確認</p></li>
</ol>
