<h3 id="web版のmy-楽天モバイルにログイン">WEB版のmy
楽天モバイルにログイン</h3>
<p>パソコン等からWEB版の「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#home">my
楽天モバイル</a>」にアクセスし、ログインできるかお試しください。</p>
<p class="c-Txt_Cap">※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>
