<h3 id="エラーメッセージが表示された場合">エラーメッセージが表示された場合</h3>
<p>
エラーメッセージが表示された場合は、コミュニケーションセンターまでお問い合わせください。
</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-48">お申し込み済み・ご契約中の方</h4>
<p class="u-Adjust_Mt-16">営業時間 9:00〜23:00</p>
<p class="c-Txt_Cap u-Adjust_Mt-16">
※チャット相談のご利用にはmy 楽天モバイルへのログインが必要です。
</p>
<p class="c-Txt_Cap u-Adjust_Mt-8">
※ご利用開始前の方は、こちらの「<a target="_blank" href="h/inquiry/chat_contact/" data-ratid="guide_trouble-check_chat_pre-member_solutions_319" data-ratevent="click" data-ratparam="all">チャット相談を利用する</a>」をご利用ください。
</p>
<p class="u-Adjust_Mt-16 u-Adjust_Align-center">
<a target="_blank" href="https://portal.mobile.rakuten.co.jp/technical-operation?action=supportChat" class="c-Btn_Regular"data-ratid="guide_trouble-check_chat_member_solutions_319" data-ratevent="click" data-ratparam="all">チャット相談を利用する</a>
</p>