<h3 id="アプリアイコンの表示">アプリアイコンの表示</h3>
<p>Android製品をご利用の場合、アプリのアップデートを行うと、アプリの表示場所が変わる可能性があります。</p>
<p>ご利用製品のアプリ一覧より、必要に応じてアプリをホーム画面に追加してください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリをホーム画面へ追加する方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面を下から上にスワイプ</li>
<li>追加したいアプリを長押しし、画面上部にドラッグ</li>
<li>追加したいアプリを配置したい場所までドラッグし、指を離す</li>
</ol>
