<h3 id="トラブル診断の実施">トラブル診断の実施</h3>
<p><a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/trouble-check/#/member/s-1-1" data-ratid="guide_trouble-check_solution-321_trouble-check" data-ratevent="click" data-ratparam="all">トラブル解決ナビ</a>の診断をお試しください。それでも改善しない場合はコミュニケーションセンターへお問い合わせください。</p>
