<h3 id="修理を依頼">修理を依頼</h3>
<p>まずは<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/trouble-check/#/member/s-1-1" data-ratid="guide_trouble-check_solution-324_trouble-check" data-ratevent="click" data-ratparam="all">トラブル解決ナビ</a>の診断をお試しいただき、改善しない場合は「<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/replacement-warranty-plus/">スマホ交換保証プラス</a>」のご利用方法をご確認ください。</p>
