<h3 id="トラブル診断の実施">トラブル診断の実施</h3>
<p><a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/trouble-check/#/member/s-1-1" data-ratid="guide_trouble-check_solution-326_trouble-check" data-ratevent="click" data-ratparam="all">トラブル解決ナビ</a>の診断をお試しください。それでも改善しない場合は「<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/inquiry/">メーカー別問い合わせ先</a>」へお問い合わせください。</p>
<p>また、楽天モバイル製品の修理交換に関しては、コミュニケーションセンターへお問い合わせください。</p>
