<h3 id="my-楽天モバイルの確認">my 楽天モバイルの確認</h3>
<p>保証サービスの加入状況はmy 楽天モバイルでご確認いただけます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#home">my
楽天モバイル</a>」にログインし、「ホーム画面」を開く</p>
<p class="c-Txt_Cap">※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>
</li>
<li><p>「製品情報」の「全ての製品情報」を選択<br />
<span class="c-Txt_Cap">※アプリの場合は、「モバイル製品情報」の「製品の詳細・保証のお手続き」を選択してください</span></p></li>
<li><p>ご契約の保証サービスが表示されます</p></li>
</ol>
