<h3 id="お申し込み履歴の確認">お申し込み履歴の確認</h3>
<p>お申し込み履歴は「my
楽天モバイル」あるいは申し込み完了後に配信される「お申し込み完了のお知らせ」よりご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">「my 楽天モバイル」での確認方法</h4>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※事前に楽天モバイルにお申し込みいただいた楽天IDの「ユーザID」と「パスワード」をご用意ください</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#orders">my
楽天モバイル</a>」にログインし、「申し込み履歴」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「申し込み履歴」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>該当の申込番号を確認する<br />
<span class="c-Txt_Cap">※お申し込み番号が複数ある場合は、申込番号の下にあるお申し込み日をご参照ください。</span></p></li>
<li><p>申込番号の下に、お届け中と言う記載があれば、製品を発送する準備をしております</p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">申し込み完了メールでの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「[楽天モバイル]お申し込み完了のお知らせ」という件名のメールが届いているか確認する</p></li>
<li><p>届いていればお申し込みは完了しています<br />
<span class="c-Txt_Cap">※お申し込みの詳細やメールが確認できない場合は、「my
楽天モバイル」にてご確認ください。</span></p></li>
</ol>
