<h3 id="お申し込み後は変更不可">お申し込み後は変更不可</h3>
<p>お申し込み時に、「お申し込み完了」のボタンを押下した後は、お申し込み内容の変更や修正はできません。</p>
<p>申込番号の横に「お届け準備中」と表示がある方はお申し込みのキャンセルが可能です。</p>
<p>お申し込みをキャンセルいただき、再度お申し込みください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">お申し込み状況の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#orders">my
楽天モバイル</a>」にログインし、「申し込み履歴」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「申し込み履歴」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>申込番号の横に「お届け準備中」という表示があることを確認する</p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">お申し込みのキャンセル方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>該当する申込番号を選択</p></li>
<li><p>下部にある「申し込みのキャンセルを申請する」を選択</p></li>
<li><p>申込番号にキャンセルの記載があることを確認後、お申し込みください。</p></li>
</ol>
<p>SIMのみお申し込みの方でタイプをお間違えの方は、開通後SIMの再発行の手続きにてタイプをご変更ください。</p>
