<h3 id="ブラウザの確認シークレットモードの利用">ブラウザの確認／シークレットモードの利用</h3>
<h4 class="c-Heading_Lv4">1.ブラウザを確認する</h4>
<p>楽天モバイルではGoogle
Chrome、Firefox、Safariでの閲覧を推奨しており、 Internet
Explorerでは表示されない可能性があります。現在ご利用中のブラウザをご確認いただき、推奨ブラウザで再度お試しください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">2.推奨ブラウザのシークレットモードを利用する</h4>
<p>インターネット検索した際にはページの履歴、閲覧時間、ダウンロードしたデータ、Cookie
などが履歴として残りますが、プライベートブラウジングと呼ばれるシークレットモードを利用すると閲覧履歴やcookieなどのデータが保存されず、ブラウザを閉じたときに閲覧履歴が削除されます。シークレットモードでお試しください。</p>
