<h3
id="申し込み途中のものがないか確認">申し込み途中のものがないか確認</h3>
<p>「my 楽天モバイル」にてお申し込み履歴をご確認ください。</p>
<p>お申し込み途中の場合、申込番号の右端にお手続き中、またはお届け中（自宅で本人確認でお申し込みの場合）と表示されます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#orders">my
楽天モバイル</a>」にログインし、「申し込み履歴」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「申し込み履歴」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>該当の申込番号欄を開き、お申し込みステータスを確認</p></li>
</ol>
<p>2つ目のお申し込みをされる場合は、1つ目のお申し込みが上記確認方法にて申込番号の右端に、お届け中または、お届け完了（自宅で本人確認でお申し込みの場合）となってから、お申し込みください。</p>
