<h3
id="各エラーの詳細と対処方法の確認">各エラーの詳細と対処方法の確認</h3>
<p>お支払い方法の変更時にエラーコード（0001、0002、0003、0004等）が表示され、登録できない場合がございます。</p>
<p>以下をお試しください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">エラーコード：0001</h4>
<p>製品購入時に楽天カード以外のカードで48回払いを選択されているためのエラーです。</p>
<p>楽天カードで48回払い、もしくは楽天カード以外で24回払い／一括払いを選択したうえで再度お申し込みください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">エラーコード：0002</h4>
<p>＜製品購入時に発生した場合＞</p>
<p>利用ポイント数の入力で「製品代金の全額分をポイントで支払う」設定にしているにもかかわらず、決済回数に分割支払いが設定されている可能性があります。</p>
<p>ポイント数を調整いただくか一括払いへ変更ください。</p>
<p class="u-Adjust_Mt-24">＜お支払い方法をご登録した時に発生した場合＞</p>
<p>カード作成時にご登録された「カナ（ふりがな）」と、楽天モバイルにご登録されている「カナ（ふりがな）」が一致していない可能性がございます。</p>
<p>カード会社のご登録情報と楽天モバイルのご登録情報を確認したうえで、再度お支払い情報のご登録をお試しください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">エラーコード：0003</h4>
<p>不正検知システムの作動とクレジットカード会社からクレジットカードでのお支払いを承認できない旨の通知があった可能性がございます。</p>
<p>クレジットカード会社にご連絡いただき、エラーの解消をおこなっていただいたうえで、再度支払い方法のご登録をお試しください。</p>
<p>不正検知システムの解除については、お問い合わせをいただくことで、担当部署からのメール返信にて解除可否を確認することができます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">エラーコード：0004</h4>
<p>クレジットカード会社から、クレジットカードでのお支払いを承認できない旨の通知があった場合に表示されます。</p>
<p>クレジットカード会社にカードの利用可否をご確認いただき、エラーの解消をおこなっていただいたうえで、再度支払い方法のご登録をお試しください。</p>
<p>お支払い方法のご登録をやり直してもエラーが表示される場合は、コミュニケーションセンターまでお問い合わせください。</p>
