<h3 id="推奨ブラウザの利用">推奨ブラウザの利用</h3>
<p>本人確認書類のアップロードが正常に行えない場合、推奨ブラウザを利用して再アップロードをお試しください。</p>
<p>推奨ブラウザは以下の最新版となります。</p>
<p>パソコン：Safari、Microsoft Edge、Mozilla Firefox、Google Chrome</p>
<p>スマートフォン：Safari、Google Chrome、Mozilla Firefox</p>
