<h3 id="本人確認不備となるケースを確認">本人確認不備となるケースを確認</h3>
<p>本人確認書類不備となる理由は以下の通りです。再度ご確認ください。</p>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>画像の不鮮明（ぼやけている、ぶれている、画質が粗い等）および反射している</li>
<li>書類の有効期限切れ</li>
<li>端等が切れており、画像全体が確認できない（文字、公安印等が切れている）</li>
<li>登録情報と本人確認書類の情報が一致していない（登録情報側に建物名が入ってない、旧姓になっているなど）</li>
<li>運転免許証が破損している、穴が開いている</li>
<li>個人番号カードご提出の際に通知カードがアップロードされている</li>
<li>公共料金領収書の名前が、ご契約ご本人様と異なっている（家族名不可）</li>
<li>補助書類に氏名または住所の記載がない</li>
<li>ミドルネームがある方：「名」の欄にラストネームからミドルネームまでが入力されていない</li>
<li>ラストネームのみの方：「姓」の欄にラストネームの2文字、「名」の欄にラストネームの3文字以降が入力されていない</li>
</ul>
