<h3 id="my-楽天モバイルでの手続き">my 楽天モバイルでの手続き</h3>
<p>まずは「my楽天モバイル」のお申し込み履歴をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#orders">my
楽天モバイル</a>」にログインし、「申し込み履歴」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「申し込み履歴」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>キャンセルしたい申込番号の右側のステータスを確認する</p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ステータス表示が何も無い、「準備中」、または「準備中」と「お届け準備中」の表示がある場合</h4>
<p>以下のいずれかでお手続きください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>お申し込みいただいたWEB画面の、右上にあるカートのマークを押下し、該当のお申し込みを削除してください</p></li>
<li><p>キャンセルしたい申込番号を押下し、下部にある「申込のキャンセルを申請する」を押下する<br />
<span class="c-Txt_Cap">※お手続き後申込番号欄に「キャンセル」と表示されます</span></p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">「準備中」かつ「お届け中」や「お届け完了」の表示がある場合</h4>
<p>お客様ご自身でのキャンセルはできません。</p>
<p>コミュニケーションセンターへお問い合わせください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">注意事項（必ずご確認ください）</h4>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>キャンセルのお申し込みの取り消しはできません。</li>
<li>プラン（SIM）と製品をセットでお申し込みされた場合、SIMのみ、または製品のみをキャンセルすることはできません。</li>
<li>申込番号に「キャンセル」と表示されましたら、改めてお申し込みください。</li>
</ul>
