<h3 id="楽天モバイル買い替え超トクプログラムはキャンセル不可">「楽天モバイル買い替え超トクプログラム」はキャンセル不可</h3>
<p>楽天モバイル買い替え超トクプログラムはお申し込み完了後、キャンセルすることはできません。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※お申し込み時の重要事項や利用規約でご確認いただき、「同意」チェックを入れてお申し込みいただいております。</p>
