<h3 id="製品受け取り後のキャンセル不可">製品受け取り後のキャンセル不可</h3>
<p>本サービスの提供を開始した日、もしくは後日お送りする「ご契約内容のご案内」の書面をお客様が受領した日のいずれか遅い日が、料金の起算日となります。起算日から8日以内であれば、初期契約解除のお手続きができます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">手続き方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>初期契約解除申請書をダウンロード、印刷する</li>
<li>必要事項を記入し、初期契約解除申請書を郵送する</li>
<li>SIMカードを破棄する</li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※製品・アクセサリーは対象外です</p>
<p class="c-Txt_Cap">※オプションサービスは別途申込が必要です</p>
<p class="c-Txt_Cap">※契約解除までにご利用頂いた通信・通話料については請求いたします</p>
