<h3 id="my-楽天モバイルでの手続き">my 楽天モバイルでの手続き</h3>
<p>キャンセルが完了する前に新たにお申し込みされた場合、2回線目のご契約となってしまいます。1回線目であることが条件となるキャンペーンの対象外になってしまうためご注意ください。</p>
<p>お申し込みがキャンセルになったことをご確認いただき、再度お申し込みください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#orders">my
楽天モバイル</a>」にログインし、「申し込み履歴」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「申し込み履歴」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>該当の申込番号欄の右端にあるステータスが「キャンセル」になっていることを確認</p></li>
</ol>
