<h3 id="コミュニケーションセンターへ問い合わせ">コミュニケーションセンターへ問い合わせ</h3>
<p>コミュニケーションセンターへご連絡ください。</p>
<p>その後の対応につきまして、説明させていただきます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">注意事項</h4>
<p>届きました製品につきましては、後程ご返送いただきますので、開封しないようお願いします。</p>
<p>製品やアクセサリを開封されますと、製品の代金をお支払いいただく場合があります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">お申し込み済み・ご契約中の方</h4>
<p class="u-Adjust_Mt-16">営業時間 9:00〜23:00</p>
<p class="u-Adjust_Mt-16 c-Txt_Cap">
  ※チャット相談のご利用にはmy 楽天モバイルへのログインが必要です。<br>
  ※ご利用開始前の方は、こちらの「<a href="https://network.mobile.rakuten.co.jp/inquiry/chat_contact/" target="_blank" class="c-Link_Txt" data-ratid="guide_trouble-check_chat_pre-member_solutions_343" data-ratevent="click" data-ratparam="all">チャット相談を利用する</a>」をご利用ください。
</p>
<div class="u-Adjust_Mt-16">
  <a href="https://portal.mobile.rakuten.co.jp/technical-operation?action=supportChat" target="_blank" class="c-Btn_Regular" data-ratid="guide_trouble-check_chat_member_solutions_343" data-ratevent="click" data-ratparam="all"><span>チャット相談を利用する</span></a>
</div>
