<h3 id="不在票を見て再送依頼">不在票を見て再送依頼</h3>
<p>受取時にご不在の場合は、配送会社より不在票が投函されます。</p>
<p>不在票に記載されている再配達方法に従いお手続きいただき、お受け取りください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※ヤマト運輸：ご不在連絡票または連絡票、佐川急便：ご不在連絡票、日本郵便：郵便物等の到着のお知らせ</p>
<p class="u-Adjust_Mt-24 ">配送会社にてお届けができない場合は、コミュニケーションセンターへご連絡ください。</p>
<p>また、既にお申し込みがキャンセルになっている場合があります。</p>
<p>キャンセルとなった場合は、再申し込みください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">キャンセルの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#orders">my
楽天モバイル</a>」にログインし、「申し込み履歴」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「申し込み履歴」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>該当の申込番号欄の右端にあるステータスが「キャンセル」になっているかを確認</p></li>
</ol>
