<h3 id="my-楽天モバイルの確認">my 楽天モバイルの確認</h3>
<p>「my 楽天モバイル」にて申し込みの状況をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
    <li>
        「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#orders">my
楽天モバイル</a>」にログインし、「申し込み履歴」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「申し込み履歴」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span>
    </li>
    <li>
      <p>該当の申込番号欄の右端にあるステータスを確認する</p>
      <ul class="c-List_Text-disc">
        <li>キャンセル：お申し込みがキャンセルとなっています。詳細については楽天モバイルからのメールをご確認ください</li>
        <li>準備中：以下にてご確認ください。</li>
      </ul>
    </li>
</ol>
<p class="u-Adjust_Mt-24">該当の申込番号を押下し、表示された画面の申込番号の下の表示をご確認ください。</p>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>準備中のみ、準備中とお届け準備中の表示もある：お申し込み内容を確認しています。今しばらくお待ちください。<br />
また、「[重要]楽天モバイル
本人確認書類の不備による再アップロードのお願い」という件名のメールが届いている場合がございます。その場合はメールの内容に従い、本人確認のお手続きをお願いします。</li>
<li>お届け中の表示がある：在庫状況を確認し、配送の準備をしています。<br />
伝票番号欄に12桁ほどの数字がある場合は、出荷手続きが進んでおります。<br />
伝票番号の下にある　配送状況　を押下しますと、配送会社のお荷物確認ページが表示され、状況の確認をすることができます。</li>
</ul>
