<h3 id="配送業者の状況を確認">配送業者の状況を確認</h3>
<p>配送業者の状況をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#orders">my
楽天モバイル</a>」にログインする
<p class="c-Txt_Cap">※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>
</li>
<li>画面右上の三本線のアイコンを選択</li>
<li>「お申し込み履歴」を選択</li>
<li>該当の申込番号を開く</li>
<li>表示された画面の申込番号の下に「準備中」と「お届け中」の表示があることを確認する</li>
<li>伝票番号欄に12桁ほどの数字があることを確認する<br />
<span class="c-Txt_Cap">※伝票番号がある場合、下にある「配送状況」を押下すると、配送会社のお荷物確認ページが表示され、状況の確認をすることができます。<br />
※伝票番号がない場合は、出荷準備中、もしくはお申し込みいただきました製品の入荷を待ちの状態です。</span></li>
</ol>
