<h3 id="esimの単品注文ekycのみ">eSIMの単品注文（eKYCのみ）</h3>
<p>AIかんたん本人確認（eKYC）にてeSIMをお申し込みの場合、お客様への送付物はございません。</p>
<p>開通方法は「<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/verify/ekyc/esim-activation/">eKYCでお申し込みいただいた方の楽天回線（eSIM）開通方法</a>」をご確認ください。</p>
