<h3 id="コミュニケーションセンターへ問い合わせ">コミュニケーションセンターへ問い合わせ</h3>
<p>お申し込み内容をご確認ください。</p>
<p>万が一お申し込み内容とは違う製品が届いた場合は、コミュニケーションセンターまでご連絡ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">お申し込み内容の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#orders">my
楽天モバイル</a>」にログインし、「申し込み履歴」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「申し込み履歴」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>該当の申込番号を開く</li>
<li>お申し込みいただいた製品等の情報を確認</li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※お申し込み自体をお間違えの場合、製品の交換対応はお受けできません。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">お申し込み済み・ご契約中の方</h4>
<p class="u-Adjust_Mt-16">営業時間 9:00〜23:00</p>
<p class="u-Adjust_Mt-16 c-Txt_Cap">
  ※チャット相談のご利用にはmy 楽天モバイルへのログインが必要です。<br>
  ※ご利用開始前の方は、こちらの「<a href="https://network.mobile.rakuten.co.jp/inquiry/chat_contact/" target="_blank" class="c-Link_Txt" data-ratid="guide_trouble-check_chat_pre-member_solutions_349" data-ratevent="click" data-ratparam="all">チャット相談を利用する</a>」をご利用ください。<br />
  ※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</p>
<div class="u-Adjust_Mt-16">
  <a href="https://portal.mobile.rakuten.co.jp/technical-operation?action=supportChat" target="_blank" class="c-Btn_Regular" data-ratid="guide_trouble-check_chat_member_solutions_349" data-ratevent="click" data-ratparam="all"><span>チャット相談を利用する</span></a>
</div>
