<h3 id="配送先の変更不可">配送先の変更不可</h3>
<p>お申し込みのお客様手続きが完了しますと「[楽天モバイル]
お申し込み完了のお知らせ」という件名のメールが送信されます。</p>
<p>このメールをお受け取りいただいた後は、お届け先の変更はできません。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ご契約プランをお申し込みの場合</h4>
<p>製品の送付先を契約住所以外に設定することができません。</p>
<p>お申し込み後にご移転された場合、コミュニケーションセンターまでお問い合わせください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※製品のみお申し込みの場合は、お申し込み時にお届け先の設定をすることができます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">AIかんたん本人確認（eKYC）にてeSIMのみお申し込みの場合</h4>
<p>お客様にお送りするものはございません。</p>
