<h3 id="my-楽天モバイルでの手続き">my 楽天モバイルでの手続き</h3>
<p>製品お届け時にご契約者様の本人確認ができず、製品をお渡しできなかった場合、製品が返送され2～3日程度でお申し込みがキャンセルとなります。（配送等の関係により、1週間ほどお時間をいただく場合があります。）</p>
<p>お申し込みがキャンセルになりますと　「[重要]楽天モバイル
お申し込みキャンセルのお知らせ」という件名のメールが送信されます。</p>
<p>また以下の手順でも、お申し込みがキャンセルになっているかをご確認いただけます。<br>
    お申し込みがキャンセルになったことをご確認いただき、お客様情報を訂正いただいた上で、再度お申し込みください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">お申し込み内容確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#orders">my
楽天モバイル</a>」にログインし、「申し込み履歴」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「申し込み履歴」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>該当の申込番号欄の右端にあるステータスが「キャンセル」になっているかを確認</li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※キャンセル完了後、お申し込みのお客様情報を確認できる本人確認書類をご用意いただき、再度お申し込みください。</p>
<p class="c-Txt_Cap">※お申し込みのお客様情報に訂正が必要な場合は、キャンセル完了後にmy
楽天モバイルからお手続きください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">お客様情報の訂正方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=contactInfo#personal-info">my
楽天モバイル</a>」にログインし、「契約者情報」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「契約者情報」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>契約者情報の必要な項目を訂正する<br />
<span class="c-Txt_Cap">※楽天モバイルのご利用を既に開始している場合、契約者名の変更はできません。</span></li>
</ol>
