<h3 id="コミュニケーションセンターへ問い合わせ">コミュニケーションセンターへ問い合わせ</h3>
<p>おもて面の左上にピンク背景の白文字で「Rakuten Mobile」と記載されているコンビニ払込票 （ハガキ）は 楽天モバイルの請求書類です。</p>
<p class="u-Adjust_Mt-24">おもて面に表示されているバーコードの上に記載されている数字の並びの1から始まる先頭番号、記載の住所、氏名を確認させていただきます。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※数字の並び例：100328655512-1-20221011-35228</p>
<p>お手元にコンビニ払込票（ハガキ）をご準備のうえ、コミュニケーションセンターまでご連絡ください。</p>
<div class="guide-trouble-check_Hagaki-sample">
  <img src="/assets/img/guide/payment/invoice/unpaid/img-01-230126.png" width="343" height="171" alt="">
</div>

<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">お申し込み済み・ご契約中の方</h4>
<p class="u-Adjust_Mt-16">営業時間 9:00〜23:00</p>
<p class="u-Adjust_Mt-16 c-Txt_Cap">
  ※チャット相談のご利用にはmy 楽天モバイルへのログインが必要です。<br>
  ※ご利用開始前の方は、こちらの「<a href="https://network.mobile.rakuten.co.jp/inquiry/chat_contact/" target="_blank" class="c-Link_Txt" data-ratid="guide_trouble-check_chat_pre-member_solutions_352" data-ratevent="click" data-ratparam="all">チャット相談を利用する</a>」をご利用ください。
</p>
<div class="u-Adjust_Mt-16">
  <a href="https://portal.mobile.rakuten.co.jp/technical-operation?action=supportChat" target="_blank" class="c-Btn_Regular" data-ratid="guide_trouble-check_chat_member_solutions_352" data-ratevent="click" data-ratparam="all"><span>チャット相談を利用する</span></a>
</div>
