<h3 id="申し込み内容を確認">申し込み内容を確認</h3>
<p>お申し込みした製品（スマートフォン、アクセサリ、SIM）が届いていない場合は、お申し込み内容をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">お申し込み内容の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#orders">my
楽天モバイル</a>」にログインし、「申し込み履歴」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「申し込み履歴」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>該当の申込番号を開く</p></li>
<li><p>お申し込みいただいた製品等の情報を確認</p></li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※ご希望の製品がお申し込み内容に含まれているものの製品が届いていない場合、コミュニケーションセンターまでお問い合わせください。</p>
<p class="c-Txt_Cap">※ご希望の製品がお申し込み内容に含まれていない場合、ご希望の製品を再度お申し込みください。</p>
<p class="u-Adjust_Mt-24">尚、eSIMをお申し込みの場合は、スタートガイドのみの送付となります。</p>
<p>また、AIかんたん本人確認（eKYC）にて、eSIMのみをお申し込みの場合は、送付物はございません。</p>
