<h3 id="my-楽天モバイルの確認">my 楽天モバイルの確認</h3>
<p>ご契約時に登録された情報は、my 楽天モバイルでご確認いただけます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「 <a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#plans">my
楽天モバイル</a>」にログインし、「契約プラン」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「契約プラン」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>プラン名の右にある「i」マークを選択</li>
<li>ポップアップが表示されるので「プラン・サービスの利用開始日を見る」を選択</li>
<li>ご契約のプラン・サービスとその利用開始日が表示される</li>
</ol>
