<h3 id="書面での手続き">書面での手続き</h3>
<p>ご契約者様の氏名の変更（改姓・改名）をされる場合は、以下1～3をすべて確認の上、該当する書類をご郵送ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※ご契約者を他の方（ご家族、第三者）へ変更される場合は「<a
    href="https://network.mobile.rakuten.co.jp/guide/contract-transfer/">契約者変更手続き（譲渡）</a>」をご覧ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ご契約者様の氏名の変更（改姓／改名）時の必要書類</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
  <li>
    「楽天モバイル 名義変更（改姓）届」を準備します
    <p class="c-Txt_Cap">※<a target="_blank" href="https://network.mobile.rakuten.co.jp/assets/pdf/download/kaisei.pdf">「楽天モバイル
        名義変更（改姓）届」をダウンロードする</a><br />
      ※太字の文字は必ずご確認ください<br />
      ※A4サイズで印刷ください。</p>
  </li>
  <li>
    <p>ご契約者様の変更前と変更後の氏名が確認できる公的書類のコピーを準備してください</p>
    <p class="c-Txt_Cap">※原本ではなく、コピーのご準備をお願いします</p>
    <p class="u-Adjust_Mt-32"><strong>本人確認書類の注意事項</strong></p>
    <p class="u-Adjust_Mt-24">〈運転免許証〉</p>
    <ul class="u-Adjust_Mt-24 c-List_Text-disc">
      <li>公安委員会発行のもの<br />
        <span class="c-Txt_Cap">※表面と裏面両方必要</span>
      </li>
    </ul>
    <p class="u-Adjust_Mt-24">〈個人番号カード（マイナンバーカード）〉</p>
    <ul class="u-Adjust_Mt-24 c-List_Text-disc">
      <li>表面（顔写真が確認できる面）のみご送付ください。</li>
      <li>裏面の画像が送付された場合、弊社にてデータ破棄の上、再度ご提出のお願いをいたします。</li>
      <li>マイナンバー通知カードは本人確認書類・補助書類として受付できません。</li>
    </ul>
    <p class="u-Adjust_Mt-24">〈住民票〉</p>
    <ul class="u-Adjust_Mt-24 c-List_Text-disc">
      <li>発行から3か月以内のもの</li>
      <li>マイナンバーの記載がないもの<br />
        <span class="c-Txt_Cap">※マイナンバーの記載があるものは隠したもの</span>
      </li>
    </ul>
    <p class="u-Adjust_Mt-24">〈戸籍謄（抄）本〉</p>
    <ul class="u-Adjust_Mt-24 c-List_Text-disc">
      <li>発行から３か月以内のもの</li>
    </ul>
    <p class="u-Adjust_Mt-24">〈健康保険証〉</p>
    <ul class="u-Adjust_Mt-24 c-List_Text-disc">
      <li>カード型の場合は裏面に住所が記載されているもの<br />
        <span class="c-Txt_Cap">※表面と裏面両方必要</span>
      </li>
      <li>紙型の場合、被扶養者はご自身の氏名が記載されている部分も必要</li>
    </ul>
    <p class="u-Adjust_Mt-32"><strong>大切なお知らせ</strong></p>
    <p>2020年10月1日施行の健康保険法改正に基づき、「記号」「番号」「保険者番号」情報は見えないようマスキング処理（付箋などで隠す、塗りつぶす等）を行った状態でコピーをお願いいたします。</p>
    <p>詳細は<a target="_blank" href="https://network.mobile.rakuten.co.jp/faq/detail/00001860/">こちら</a>をご確認ください。</p>
  </li>
  <li>
    <p>ご契約者様の新姓の本人確認書類（免許証など）</p>
    <p class="c-Txt_Cap">※2では氏名が変更されたことを確認する書類であり、3は契約者であることの確認書類です。</p>
    <p class="u-Adjust_Mt-24">個人番号カード（マイナンバーカード）、運転免許証の場合は、１つで2、3を兼ねております。（運転免許証は裏面のコピーも必要です）</p>
    <p class="c-Txt_Cap">※詳細は「<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/verify/?l-id=support_category_guide">本人確認書類</a>」をご確認ください。</p>
    <p class="u-Adjust_Mt-24">本人確認書類は原本ではなく、コピーのご準備をお願いします。</p>
    <p class="c-Txt_Cap">※本人確認書類に記載の住所とご登録の住所（現住所）が異なる場合、あらかじめ
      「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=contactInfo#personal-info">my
        楽天モバイル</a>」にてご変更手続きをお願いします。</p>
  </li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">郵送先</h4>
<p>〒158－0094</p>
<p>東京都世田谷区玉川1-14-1</p>
<p>楽天クリムゾンハウス</p>
<p>楽天コミュニケーションズ（株）内</p>
<p>「楽天モバイル　氏名/名義変更受付係」」宛</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※本お申込みに関する送料は、お客様負担となります。</p>
<p class="u-Adjust_Mt-24">なお、名義変更が完了いたしましたら、
  ご登録メールアドレス宛に、「[楽天モバイル]ご契約者様情報の変更完了のお知らせ」という件名のメールが送られます。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※目安として、お手続き完了まで1ヶ月ほど掛かります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">クレジットカード・デビットカード・銀行口座の名義変更のお願い</h4>
<p class="u-Adjust_Mt-24">今後、クレジットカード・デビットカード・銀行口座の名義を変更する場合、設定されているお支払い方法も併せて変更をお願いいたします。</p>
<p>お支払い方法の名義を変更されていない場合、引き落としができず未払いとなる可能性がございます。</p>
<p>改姓・改名のタイミングでご変更していただくと、安心してご利用いただけます。</p>
<p>お支払い方法変更は<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/payment/change/">こちら</a>をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">注意事項</h4>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
  <li>必要書類の注意事項を必ずお読みいただき、お申し込みください。</li>
  <li>各種申請書類をお送りいただく際、送料はお客様負担となります。</li>
  <li>必要書類の受領をもって氏名の変更手続きを行います。</li>
  <li>書面に不備がある場合のみご申告者様にご連絡いたします。</li>
  <li>本人確認書類はコピーでお願いしておりますが、原本を送付いただいた場合もお手続きは可能です。<br />
    ただし、誤って運転免許証や健康保険証などの重要な書類の原本を郵送いただいた場合も返却にお時間を要する場合がございますので、ご注意ください。</li>
  <li>手続き完了（書面到着から処理完了）まで1か月程度かかります。</li>
  <li>氏名の変更（改姓・改名）は郵送手続きのみ承っています。</li>
</ul>
