<h3 id="webでの手続き">WEBでの手続き</h3>
<h4 class="c-Heading_Lv4">譲渡元（現在のご契約者様）の対応手順</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#plans">my
楽天モバイル</a>」にログインし、「契約プラン」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「契約プラン」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>「その他のお手続き」内の「手続きへ進む」を選択</li>
<li>「契約者変更のお手続き」内の「契約者変更（譲渡）」を選択</li>
<li>新しいご契約者様の情報を入力し、「登録情報を確認する」を選択<br />
<span class="c-Txt_Cap">※「新しいご契約者様の情報」は登録後に変更できません。お間違いないように入力してください。</span></li>
<li>登録情報を確認し、「契約者変更手続きを申請する」を選択</li>
<li>契約者変更手続き（譲渡）のURLを新しいご契約者様に共有する<br />
<span class="c-Txt_Cap">※新しいご契約者様にてお申し込みが完了すると「[楽天モバイル]契約者変更手続き（譲渡）受付完了のお知らせ」というメールが届きます。<br />
※契約者変更手続きを行った当日を含め15日以内にお手続きが行われない場合、申請は自動的にキャンセルされます。</span></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">譲渡先（新規のご契約者様）の対応手順</h4>
<p class="u-Adjust_Mt-24">現在のご契約者様から契約者変更手続きのURLが共有されましたら、以下の流れでお手続きしてください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>URLにアクセスして「手続きを開始する」を選択</li>
<li>新しいご契約者様の楽天IDでログインする<br />
<span class="c-Txt_Cap">※楽天IDをお持ちでない場合は作成していただく必要があります。</span></li>
<li>契約者情報を入力し、「次へ進む」をタップする<br />
<span class="c-Txt_Cap">※登録情報が十分の場合は、入力が不要な場合があります。</span></li>
<li>契約者情報を確認し、チェックのうえ「次へ進む」を選択</li>
<li>新しいご契約者様の情報、譲渡される回線が正しいことを確認し、チェックのうえ「手続きを続ける」をタップする<br />
<span class="c-Txt_Cap">※18歳未満の方が楽天モバイルをご利用いただく場合、「<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/i-filter/">あんしんコントロール
by i-フィルター</a>」のご契約が必須となります。</span></li>
<li>本人確認方法を選択し、「次へ進む」をタップする<br />
<span class="c-Txt_Cap">※新しいご契約者様が18歳未満の場合、「法定代理人同意書 兼
支払名義人同意書」を親権者様にてご記入いただき、アップロードいただくほか、親権者情報としてお名前、生年月日、ご連絡先をご入力いただく必要があります。</span></li>
<li>お支払い方法を選択し、申し込みを行う<br />
<span class="c-Txt_Cap">※申し込みが完了すると、「[楽天モバイル]契約者変更手続き（譲渡）お申し込み完了のお知らせ」というメールが届くためご確認ください。</span></li>
</ol>
<p class="u-Adjust_Mt-24">本人確認完了後、翌日より順次旧ご契約者様・新しいご契約者様それぞれに「[楽天モバイル]契約者変更手続き（譲渡）完了のお知らせ」というメールが届き、新しいご契約者様への譲渡が完了します。</p>
