<h3 id="my-楽天モバイルでの手続き">my 楽天モバイルでの手続き</h3>
<p>意図しない楽天IDで楽天モバイルをご契約した場合、以下の手順で楽天モバイルの契約に紐づけられている楽天IDを変更することができます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">注意事項</h4>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>複数の楽天IDを作成／保有することは禁止しております。（詳細は<a target="_blank" href="https://corp.rakuten.co.jp/terms/">楽天会員規約</a>をご確認ください）</li>
<li>既に楽天モバイルをご契約いただいている楽天IDに変更することはできませんのでご注意ください。</li>
</ul>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">楽天IDの変更手順</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>楽天モバイルご契約時に使用した楽天IDで「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard?scrollTo=contactInfo#personal-info">my
楽天モバイル</a>」にログインし、「契約者情報」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面右上の三本線のアイコンを選択し「契約者情報」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>[楽天会員情報を変更する]を選択</li>
<li>[楽天会員情報を変更する]を選択</li>
<li>変更したい楽天IDでログインする</li>
<li>「楽天IDが変更されました」と表示され、お手続き完了<br />
<span class="c-Txt_Cap">※ご登録されているメールアドレス宛に「[楽天モバイル]楽天ポイント口座情報変更完了のお知らせ」のメールが送られます。</span></li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※手順4の変更したい楽天IDでログインする際、既に楽天モバイルをご契約いただいている楽天IDを入力した場合は「楽天IDはすでにお客様のアカウントで使用されているため変更はできません」と表示されます。<br>
楽天IDを確認の上、改めてご入力ください。</p>
