<h3 id="my-楽天モバイルでの確認発行">my 楽天モバイルでの確認・発行</h3>
<p>ご購入から12ヶ月以内の場合、my
楽天モバイルからダウンロードができます。</p>
<p>13ヶ月以上経過している場合は、データ保有をしておりませんのでmy
楽天モバイルからダウンロードできません。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※メーカー保証などを受ける際に必要な場合は、楽天モバイルではなくご提出先にご相談ください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#home">my
楽天モバイル</a>」にログインし、「ホーム画面」を開く
<p class="c-Txt_Cap">※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>
</li>
<li>「製品情報」の「全ての製品情報」を選択<br />
<span class="c-Txt_Cap">※アプリの場合は、「モバイル製品情報」の「製品の詳細・保証のお手続き」を選択してください</span></li>
<li>確認したい証明書を選択</li>
<li>ダウンロードされた証明書を確認</li>
</ol>
<p class="u-Adjust_Mt-16 c-Txt_Cap">※利用明細や証明書の印刷方法は、「<a target="_blank" href="/faq/detail/10000648/?l-id=guide_trouble-check_solutions_358_faq_10000648">プリンターを持っていませんが、利用明細や各種証明書が欲しいです。どうすればよいですか？</a>」をご確認ください。</p>
