<h3 id="my-楽天モバイルでの確認発行">my 楽天モバイルでの確認・発行</h3>
<p>ご利用月から12ヶ月以内の場合、my
楽天モバイルからダウンロードができます。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※支払い証明書はご請求が0円の場合は表示／ダウンロードを行うことはできません。</p>
<p class="u-Adjust_Mt-24">13ヶ月以上経過している場合は、データ保有をしておりませんのでmy
楽天モバイルからダウンロードできません。ご提出などで必要な場合は、生成されない旨ご提出先にご相談ください。</p>
<p>また、以下の手順4を行った際に表示できない旨のメッセージなどが出る場合がございますが、5分〜10分後に再度ボタンを押下すると支払い証明書（PDF）の表示が行われますのでお試しください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#billing">my
楽天モバイル</a>」にログインし、「利用料金」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「利用料金」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>確認したい請求月（利用月）を「＜」「＞」で表示させる</li>
<li>「利用明細を見る」を選択</li>
<li>画面下部の利用明細ダウンロードから「支払い証明書」を選択</li>
<li>ダウンロード後、支払い証明書を確認</li>
</ol>
<p class="u-Adjust_Mt-16 c-Txt_Cap">※利用明細や証明書の印刷方法は、「<a target="_blank" href="/faq/detail/10000648/?l-id=guide_trouble-check_solutions_359_faq_10000648">プリンターを持っていませんが、利用明細や各種証明書が欲しいです。どうすればよいですか？</a>」をご確認ください。</p>
