<h3 id="自分用に設定しているかを確認">自分用に設定しているかを確認</h3>
<p>Apple
WatchとiPhoneペアリング時に「自分用に設定」を選択しているかをご確認ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※楽天モバイルではファミリー共有機能に対応しておりません。ご了承ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ペアリング方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「Watch」アプリを起動する</p></li>
<li><p>「ペアリングを開始」を選択し、「自分用に設定」を選択する</p></li>
<li><p>iPhoneとのペアリングを開始する<br />
<span class="c-Txt_Cap">※iPhoneの画面に表示される枠内にApple
Watchがおさまるようにカメラを向けるとペアリングが開始されます。</span></p></li>
<li><p>「Apple Watchのペアリングが完了しました」と表示されたら、「Apple
Watchを設定」を選択する</p></li>
</ol>
