<h3 id="ご利用のカード会社へ問い合わせ">ご利用のカード会社へ問い合わせ</h3>
<p>本人認証サービス（3Dセキュア2.0）のパスワードを間違えていないかご確認ください。</p>
<p>ワンタイムパスワードやカード発行会社へ登録したパスワードを間違えて入力した場合、エラーとなります。</p>
<p>なお、何度か入力を間違えるとロックがかかる場合がありますのでご注意ください。</p>
<p>楽天モバイルでは、本人認証サービス（3Dセキュア2.0）のパスワード再発行などの対応ができないため、再発行含めご利用方法などの確認はご利用のカード会社へ直接お問い合わせください。</p>
