<h3 id="シリアルIDとパスワードを確認">シリアルIDとパスワードを確認</h3>
<p>
オプションご利用開始時に送付される通知メールにシリアルIDと初期パスワードが記載されています。<br>
ご契約者が18歳未満の場合、親権者様宛てに「楽天モバイル[あんしんコントロール by i-フィルター]ご利用開始のお知らせ」という件名の通知メールをお送りしていますのでご確認ください。<br>
通知メールを削除してしまった場合や、パスワードが分からなくなってしまった場合は、お手数ですが下記の方法でご確認ください。
</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">シリアルIDの確認方法</h4>
<p class="u-Adjust_Mt-16">シリアルIDはmy 楽天モバイルでご確認いただけます。</p>
<ol class="u-Adjust_Mt-16 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp//dashboard#plans/">my 楽天モバイル</a>」にログインし、「契約プラン」画面を開く<br>
<span class="c-Txt_Cap">※ログインができない場合は、「<a target="_blank" href="/faq/detail/00001207/">[my 楽天モバイル] ログインできない場合どうしたらよいですか？</a>」をご確認ください。</span></li>
<li>「あんしんコントロール by i-フィルター」の右にある「i」マークを選択</li>
<li>画面下部のシリアルIDを確認</li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">パスワードの確認方法</h4>
<p class="u-Adjust_Mt-16">
パスワードが分からなくなってしまった場合はパスワードの再設定手続きが必要です。<br>
詳しくは<a target="_blank" href="https://r10.to/hNcnjU">こちら</a>をご確認ください。
</p>