<h3 id="my-楽天モバイルでの登録変更">my 楽天モバイルでの登録・変更</h3>
<p>月額の利用料金を支払うために設定したお支払い方法は、my 楽天モバイルから登録・変更が可能です。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">登録方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#billing">my
楽天モバイル</a>」にログインし、「利用料金」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「利用料金」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>「お支払い情報」内の「お支払い方法設定」を選択</p></li>
<li><p>「お支払い情報」内にある「お支払い方法」のプルダウンを選択</p></li>
<li><p>「口座振替」を選択</p></li>
<li><p>ネット口座振替受付サービスのページに推移するため、ご登録希望の銀行を選択し必要情報を入力する</p></li>
</ol>
