<h3
id="my 楽天モバイルでの手続き">my 楽天モバイルでの手続き</h3>
<p>紛失・盗難により回線を利用停止中に解約を希望される場合、ご解約前にご利用再開手続きを行う必要があります。</p>
<p>my 楽天モバイルからのお手続きが困難な場合、またお電話窓口で利用停止をご依頼された方のご利用再開手続きは、ご契約者様本人よりコミュニケーションセンターまでお問い合わせください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">楽天回線の利用再開方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#plans">my
楽天モバイル</a>」にログインし、「契約プラン」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「契約プラン」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>「利用停止中の回線のお手続き」内の「各種手続きはこちら」を選択</p></li>
<li><p>「利用再開のお手続き」内にある「利用再開」を選択</p></li>
<li><p>ポップアップの内容をご確認のうえ、「利用再開」を選択すると停止されていた回線が再開されます</p></li>
</ol>
<p class="c-Txt_Cap u-Adjust_Mt-16">
  ※お電話窓口で利用停止をご依頼された方のご利用再開手続きは、my 楽天モバイルではできません。
</p>
