<h3 id="契約解約後の再開不可">契約解約後の再開不可</h3>
<p>契約解除された回線契約の再開については承っておりません。</p>
<p>楽天モバイルのご利用をご希望される場合は、再度お申し込みください。</p>
<p>また、未納金がある場合はお支払いいただいた後にお申し込みください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※お申込みには審査がございますので、審査によってはご利用いただけない場合もございます。</p>
