<h3 id="simの破棄">SIMの破棄</h3>
<p>解約や機種変更などにより不要になったSIMカードは、各地域に合わせた分別で破棄をお願いいたします。</p>
<p>弊社にて破棄をご希望の場合は、SIMカードを普通郵便で以下住所へご返却ください。楽天モバイルショップへの返却は受け付けておりません。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※送料はお客様の負担となります</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">SIMカードの郵送先</h4>
<p>〒143-0006</p>
<p>東京都大田区平和島3-5-1 B棟2F</p>
<p>楽天モバイル RSIM回収係</p>
