<h3 id="mnp予約番号の再発行">MNP予約番号の再発行</h3>
<p>発行済みのMNP予約番号の有効期限が切れた場合、再度お手続きください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#plans">my
楽天モバイル</a>」にログインし、「契約プラン」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「契約プラン」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>各種手続きの「その他のお手続き」から「手続きへ進む」を選択</p></li>
<li><p>「他社へのお乗り換え（MNP）」を選択</p></li>
<li><p>必要事項を入力し、「MNP予約番号を発行する」を選択<br />
<span class="c-Txt_Cap">※楽天モバイルを複数回線ご利用の場合は、上部に記載の電話番号が、転出希望の回線の電話番号であることをご確認ください</span></p></li>
<li><p>以上でお手続き完了です<br />
<span class="c-Txt_Cap">※MNP予約番号、有効期限、対象の電話番号をご確認ください</span></p></li>
</ol>
