<h3 id="my-楽天モバイルでの手続き">my 楽天モバイルでの手続き</h3>
<p>持ち込みスマホあんしん保証は、以下いずれかの場合でのみ追加いただけます。</p>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>SIMカードまたはeSIMのみでプランお申し込み時</li>
<li>SIMカードまたはeSIMをアクティベーション（開通）してから30日以内の場合</li>
</ul>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">新規で楽天モバイルをお申し込みされる場合</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>お申し込み画面で「プランを選択する」を選択</li>
<li>オプションサービスの選択画面で、「持ち込みスマホあんしん保証」を選択</li>
<li>画面の案内に沿って、お申し込みを完了してください</li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">楽天モバイルをご利用中の場合</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#plans">my
楽天モバイル</a>」にログインし、「契約プラン」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「契約プラン」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>「オプションサービスの追加・解約」を選択</li>
<li>「持ち込みスマホあんしん保証」にチェックを入れ、「変更する」を選択</li>
</ol>
