<h3 id="my-楽天モバイルでの手続き">my 楽天モバイルでの手続き</h3>
<h4 class="c-Heading_Lv4">解約方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#plans">my
楽天モバイル</a>」にログインし、「契約プラン」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「契約プラン」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>「オプションサービスの追加・解約」を選択</li>
<li>解約したいオプションのチェックを外すと月額料金が表示される</li>
<li>問題が無ければ「変更する」を選択し、お手続き完了</li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※お手続き完了後、ご登録のメールアドレス宛に手続き完了メールをお送りいたします。</p>

<ul class="c-Txt_Cap u-Adjust_Mt-24">
<li>※解約後、再契約を承ることができませんのでご注意ください。</li>
<li>※月途中で解約された場合、月額使用料が日割りでご請求いたします。</li>
</ul>