<h3 id="キャンペーンルールの確認">キャンペーンルールの確認</h3>
<p><a target="_blank" href="https://network.mobile.rakuten.co.jp/campaign/">キャンペーンページ</a>より、お客様の申し込み時期や条件に合致しているものをご確認ください。</p>
<p>キャンペーンルールのキャンペーン条件、併用可・併用不可キャンペーン、特典適用対象外をご確認ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※Rakuten最強プランのお申し込み日時は、登録のメールアドレス宛にお届けしております。「[楽天モバイル]
お申し込み完了のお知らせ」という件名のメールにてご確認いただけます。</p>
