<h3 id="ポイント付与状況の確認">ポイント付与状況の確認</h3>
<h4 class="c-Heading_Lv4">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#home">my
楽天モバイル</a>」の画面左上℗マークを選択、もしくはRakutenPointClubよりポイントが付与されていないかご確認ください。</p></li>
<li><p>キャンペーン一覧より、お客様の申し込み時期や条件に合致しているものをご確認ください。キャンペーンルールのキャンペーン条件、併用可・併用不可キャンペーン、特典適用対象外をご確認ください。</p></li>
<li><p>各キャンペーンルールの「ポイント付与日」の項目をご確認ください。</p></li>
</ol>
<p class="u-Adjust_Mt-24">※以下は代表的な記載例となります。</p>
<p class="u-Adjust_Mt-24">＜○○○○年○月末頃に付与＞</p>
<p>記載月の末日頃にポイントを付与します。</p>
<p class="u-Adjust_Mt-24">＜「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与＞</p>
<p>「Rakuten
Link」を用いた発信で10秒以上の通話が確認された翌々月末ごろにポイントを付与します。</p>
<p class="u-Adjust_Mt-24">＜利用期限月の○か月後末日ごろに付与＞</p>
<p>キャンペーンルールの「キャンペーン期間」の項目に、「プラン利用開始期限」や「Rakuten
Link利用期限」などの利用期限が記載されています。そこから起算し○か月後の末日ごろにポイントを付与します。</p>
