<h3 id="キャンペーンルールの確認">キャンペーンルールの確認</h3>
<p>各キャンペーンルールの「ポイント付与日」の項目をご確認ください。</p>
<p>ポイント進呈時期が記載されています。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※以下は代表的な記載例となります。</p>
<p class="u-Adjust_Mt-24">＜○○○○年○月末頃に付与＞</p>
<p>記載月の末日頃にポイントを付与します。</p>
<p class="u-Adjust_Mt-24">＜「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与＞</p>
<p>「Rakuten
Link」を用いた発信で10秒以上の通話が確認された翌々月末ごろにポイントを付与します。</p>
<p class="u-Adjust_Mt-24">＜利用期限月の○か月後末日ごろに付与＞</p>
<p>キャンペーンルールの「キャンペーン期間」の項目に、「プラン利用開始期限」や「Rakuten
Link利用期限」などの利用期限が記載されています。そこから起算し○か月後の末日ごろにポイントを付与します。</p>
