<h3
id="スマートフォンの設定を確認">スマートフォンの設定を確認</h3>
<p>インストール時の不具合については、以下の設定をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Androidをご利用の方</h4>
<p>ファミリーリンクが有効になっている場合、初期設定ではGoogle
Play外からのあんしんコントロール by
i-フィルターアプリのインストールができませんので、設定を変更していただく必要があります。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>保護者のファミリーリンクを起動</p></li>
<li><p>設定を変更するお子さまのアカウントを選択</p></li>
<li><p>画面下部にある製品名の「設定」を選択</p></li>
<li><p>提供元不明のアプリの項目を「許可」に変更</p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">iOSをご利用の方</h4>
<p>スクリーンタイムの設定がされている場合は、あんしんコントロール by
i-フィルターアプリのインストールが正常に完了しない可能性があります。</p>
<p>以下の手順で設定のご確認・変更ください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「設定」＞「スクリーンタイム」＞「コンテンツプライバシーの制限」を開く</p></li>
<li><p>「iTunesおよびApp Storeでの購入」のアプリのインストールが制限されている場合、「許可」に変更</p></li>
<li><p>「iTunesおよびApp Storeでの購入」のパスワードを要求する設定が「常に必要」になっている場合、「必須ではない」に変更</p></li>
<li><p>「コンテンツ制限」＞「App」で、「Appを許可しない」になっている場合、「すべてのAppを許可」に変更</p></li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※上記で解決できない場合は、コミュニケーションセンターまでお問い合わせください。</p>
