<h3
id="スマホ操作遠隔サポートセンターへ問い合わせ">スマホ操作遠隔サポートセンターへ問い合わせ</h3>
<p>お申し込み後に配信される「ご利用開始後のお知らせメール」に記載のURLから、専用アプリをインストールいただき、以下のスマホ操作遠隔サポートセンターへご連絡ください。</p>
<p>スマホ操作遠隔サポートセンターでは、お客様のご不明、ご不安な点を担当オペレーターが受け付けております。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">スマホ操作遠隔サポートセンター</h4>
<p>営業時間：9：00～18：00（年中無休）</p>
<p>電話番号はお申し込み後、「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#home">my
楽天モバイル</a>」にてご確認ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※専用アプリからのお電話、もしくは専用の電話番号を直接ダイヤルしてご利用ください。</p>
