<h3
id="ノートンサポート窓口へ問い合わせ">ノートンサポート窓口へ問い合わせ</h3>
<p>「ノートンアカウントにログインできない」「PINコードの入力が上手くいかない」などの技術的な不具合については、ノートンサポート窓口までお問い合わせください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">ノートンサポート窓口</h4>
<p>03-6362-8224</p>
<p>営業時間：10:00～19:00（平日のみ）</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">チャットサポート</h4>
<p>営業時間：24時間（年中無休）</p>
<p>チャットサポートは<a target="_blank" href="http://www.norton.com/chat/">こちら</a></p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※それ以外の不具合に関しては、コミュニケーションセンターまでお問い合わせください。</p>
