<h3 id="利用額超過による一時停止">利用額超過による一時停止</h3>
<p>国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）の毎月のご利用額が5,000円を超過するごとに、利用を一時停止させていただきます。</p>
<p>再開をご希望のお客様は、my
楽天モバイルにより「国際通話（海外でOS標準の電話アプリ・メッセージアプリ利用時）」サービスをONにしてください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">再開方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#plans">my
楽天モバイル</a>」にログインし、「契約プラン」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「契約プラン」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>「国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）」サービスをONにする</li>
</ol>
