<h3 id="利用限度額超過による停止">利用限度額超過による停止</h3>
<p>国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）は当社にて毎月のご利用限度額を20,000円に設定しております。<br />
国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）の毎月のご利用額の合計が、上記ご利用限度額を超過したことを当社にて確認できた時点で、国際通話・国際SMS（海外でOS標準の電話アプリ・メッセージアプリ利用時）サービスの利用を停止させていただきます。</p>
<p><span class="c-Txt_Cap">※サービス利用再開をご希望のお客様は、コミュニケーションセンターまでお問い合わせください。</span></p>
