<h3
id="接続先の海外事業者ネットワーク対応">接続先の海外事業者ネットワーク対応</h3>
<p>海外ローミングは海外指定国と地域でデータ通信が利用できるサービスです。</p>
<p>海外の対象国と地域以外は、Wi-Fi接続時のみ利用可能です。</p>
<p>海外ローミングの対応エリア及び事業者名*1は<a target="_blank" href="https://network.mobile.rakuten.co.jp/support/international-roaming/area/">こちら</a>でご確認いただけます。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※現地事業者の事情により、接続ができない場合がございますのでご了承ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">*1：事業者名はご利用の製品によって表示が異なります。</p>
