<h3 id="対応製品の確認etws">対応製品の確認（ETWS）</h3>
<p>緊急速報を受け取るにはご利用の製品がETWS対応製品である必要があります。</p>
<p>楽天回線対応製品やETWS対応製品であるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://network.mobile.rakuten.co.jp/product/certified-products/?l-id=search_top&amp;a8=UnOGgnV4Raqlj4dS00LraOYyS0jaoI1AZ4Y">楽天回線対応製品</a>」を開く</li>
<li>ご利用している製品を選択し、表示された詳細から「ETWS（緊急地震速報、津波警報など）」の欄が「受信可」になっていることをご確認ください</li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※ETWSとは「Earthquake and Tsunami Warning
System」の略で、自治体や政府などから提供される地震速報などの緊急情報をお客様のスマートフォンなどに届けるためのシステムです。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※楽天回線対応製品で、ETWS対応製品の場合でも、他社の回線を利用している場合は、楽天モバイルの緊急速報メールは受信できません。</p>
