<h3
id="osキャリア設定のバージョンが最新であることを確認">OS／キャリア設定のバージョンが最新であることを確認</h3>
<p>OSバージョンが最新でない場合、または、キャリアアップデートを行っていない場合は緊急速報メールを受信できない場合があります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">バージョンのアップデート方法</h4>
<p class="u-Adjust_Mt-16">iOS製品をご利用の場合は以下よりアップデートをご確認ください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「一般」を選択</p></li>
<li><p>「ソフトウェアアップデート」を選択</p></li>
</ol>
<p class="u-Adjust_Mt-16">Android製品をご利用の場合は以下よりアップデートをご確認ください。</p>
<p class="c-Txt_Cap">※以下手順はOPPOの場合となります。設定方法は製品によって異なります。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「ソフトウェアアップデート」を選択</p></li>
<li><p>最新の状態であれば「ソフトウェアは最新です」と表示されます</p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">キャリアアップデート方法</h4>
<p class="u-Adjust_Mt-16">iOS製品をご利用の場合は以下よりアップデートをご確認ください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「一般」を選択</p></li>
<li><p>「情報」を選択</p></li>
<li><p>「キャリア」を選択</p></li>
<li><p>「アップデート」を選択</p></li>
</ol>
<p class="u-Adjust_Mt-16">Android製品をご利用の場合は以下よりアップデートをご確認ください。</p>
<p class="c-Txt_Cap">※以下手順はOPPOの場合となります。設定方法は製品によって異なります。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」アプリを開く</p></li>
<li><p>「ソフトウェアアップデート」を選択</p></li>
<li><p>最新の状態であれば「ソフトウェアは最新です」と表示されます</p></li>
</ol>
