<h3 id="通知設定の確認">通知設定の確認</h3>
<p>iOS製品をご利用のお客様は以下をご確認ください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「通知」を選択</li>
<li>画面の下までスクロールします</li>
<li>「緊急速報」を選択し、ONまたはOFFを切り替える</li>
</ol>
<p class="u-Adjust_Mt-24">Android製品をご利用のお客様は以下をご確認ください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>ホーム画面で 「設定」アプリを開く</li>
<li>「アプリと通知」を選択</li>
<li>「詳細設定」を選択</li>
<li>「緊急速報メール」を選択</li>
<li>「緊急速報メールの許可」で設定</li>
</ol>
