<h3 id="当社が指定する無料対象外の電話番号に発信をされた場合">当社が指定する無料対象外の電話番号に発信をされた場合</h3>
<p>当社が指定する一部の電話番号*1はRakuten
Linkでの発信ではなく、標準のアプリで発信となり、通話料金が発生いたします。</p>
<p>料金が発生した通話が無料通話対象外の番号（特番）へ発信していないかをご確認ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※Rakuten
Linkで発信しようとした場合でも、電話番号によっては標準の電話アプリに切り替えて発信する場合がございます。詳細は<a target="_blank" href="https://network.mobile.rakuten.co.jp/faq/detail/00001873/">こちら</a>をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">無料通話対象外の番号（特番）への発信かどうかの確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「Rakuten Link」アプリを選択</li>
<li>「通話」を選択</li>
<li>「通話履歴」で料金が発生している通話の右側に表示されている受話器マークの色を確認<br />
<span class="c-Txt_Cap">※マゼンタピンク→Linkから発信<br />
※グリーン→無料通話対象外の番号（特番）への発信</span></li>
</ol>
<p class="u-Adjust_Mt-24 c-Txt_Cap">*1：一部特番（188など）や他社接続サービス（0570から始まる番号など）、短縮番号（#9110など）等、当社が指定する電話番号（機械的な発信などにより、長時間又は多数の通信を一定期間継続して接続する電話番号）。</p>
<p class="c-Txt_Cap">詳細は<a target="_blank" href="https://network.mobile.rakuten.co.jp/faq/detail/00001887/">こちら</a>をご確認ください。</p>
