<h3 id="os標準の電話アプリを利用している場合">OS標準の電話アプリを利用している場合</h3>
<p>Rakuten
Linkを使用せずにOS標準の電話アプリを使用して通話をした場合、通話料金が発生いたします。</p>
<p>料金が発生した通話がOS標準電話アプリからの発信ではないかをご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">OS標準電話アプリからの発信かどうかの確認方法</h4>
<p class="u-Adjust_Mt-24">＜Android＞</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>OS標準の「電話」アプリを選択</li>
<li>「履歴」を選択</li>
<li>料金が発生した通話の履歴が残っている場合、OS標準の電話アプリを使用している</li>
</ol>
<p class="u-Adjust_Mt-24">＜iOS＞</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>OS標準の「電話」アプリを選択</li>
<li>「履歴」を選択</li>
<li>料金が発生した通話の電話番号または連絡先名下部に「携帯電話」と表示されている場合、OS標準の電話アプリを使用している</li>
</ol>
