<h3
id="楽天モバイルからの請求が重複して発生している場合">楽天モバイルからの請求が重複して発生している場合</h3>
<p>楽天モバイルでは毎月のお支払い方法に設定されているお支払い方法にご請求を行なっております。</p>
<p>ご家族やご友人のお支払い方法に設定されてるお支払い情報が、ご自身のお支払い方法になっていないか、それぞれのmy
楽天モバイルからお支払い情報の確認と金額が一致するかご確認ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※楽天モバイルにお問い合わせいただきましても、クレジットカードのご利用明細からご契約者の特定はできません。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#billing">my
楽天モバイル</a>」にログインし、「利用料金」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「利用料金」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>「利用明細を見る」を選択する</p></li>
<li><p>「お支払い情報」内にある「お支払い方法」に記載されている情報が、該当の請求月（利用月）の請求を行ったお支払い方法です</p></li>
<li><p>金額に関しては、合計に記載されている金額が請求金額となります。<br />
<span class="c-Txt_Cap">※ポイント利用の場合は表示金額と実際のご請求金額が異なりますので、「利用料金」画面内の楽天ポイント利用履歴をご確認ください</span></p></li>
</ol>
