<h3 id="楽天モバイルドコモ回線au回線を解約しているのに請求されている場合">楽天モバイル（ドコモ回線・au回線）を解約しているのに請求されている場合</h3>
<p>お客様のご利用状況に応じて「楽天モバイル（ドコモ回線・au回線）」と「楽天モバイル（楽天回線）」の両方から請求させていただく場合がございます。</p>
<p>「楽天モバイル（ドコモ回線・au回線）」の請求スケジュールに応じて、解約後2ヶ月間は請求が続く仕組みです。</p>
<p>楽天モバイル（ドコモ回線・au回線）の請求内容詳細は、メンバーズステーションにてご確認ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※移行後は、ra番号（ユーザーID）でのログインとなります。</p>
