<h3 id="利用した覚えのない通話料金sms料金が発生している場合">利用した覚えのない通話料金・SMS料金が発生している場合</h3>
<p>my 楽天モバイルの料金明細と実際の利用履歴をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#billing">my
楽天モバイル</a>」にログインし、「利用料金」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「利用料金」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>「利用明細を見る」を選択</li>
<li>「利用内訳」を選択し、「通話／SMS」の利用料金を確認</li>
<li>ページ下部の「通話／SMS／データ利用明細」をダウンロードし、利用履歴から「通信年月日」や「通信先」、「通信料」を確認</li>
<li>OS標準の通話・SMSアプリを開き、利用明細に記載されている発信日時などとの相違を確認</li>
</ol>
