<h3 id="キャリア決済で請求が発生している場合">キャリア決済で請求が発生している場合</h3>
<p>利用した覚えのないキャリア決済の料金があった場合はお客様とGoogleとの間でのお取引となりますので、Googleへお問い合わせください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※Googleのお問い合わせ先はインターネットで「Google
playストア　問い合わせ」で検索し、ご確認ください。</p>
<p class="u-Adjust_Mt-24">my 楽天モバイルからもキャリア決済の利用履歴をご確認いただけます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#billing">my
楽天モバイル</a>」にログインし、「利用料金」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「利用料金」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>キャリア決済の「設定・ご利用明細確認」を選択する</li>
<li>キャリア決済画面が表示されます。利用履歴の年月選択を選択する</li>
<li>確認したい年月を一つ選択し、「OK」を選択する</li>
<li>選択した年月の利用履歴が表示されますので、クレジットカードの利用明細と同金額のサービスがあるかご確認ください</li>
</ol>
