<h3 id="同じ楽天idで複数契約している場合">同じ楽天IDで複数契約している場合</h3>
<p>楽天モバイルを2回線以上契約されている場合は、以下の手順で表示する電話番号を切り替えることができます。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#home">my
楽天モバイル</a>」にログインし、「ホーム画面」を開く
<p class="c-Txt_Cap">※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>
</li>
<li>ご利用中の契約電話番号を確認する
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>画面で表示されている電話番号をタップする</li>
<li>回線を表示したい電話番号をタップする</li>
<li>表示されている電話番号が切り替わっていることを確認する</li>
</ol></li>
<li>円グラフ内のデータ利用量を確認する</li>
</ol>
