<h3 id="お申し込みいただいた際の楽天idとは別の楽天idでログインしている場合">お申し込みいただいた際の楽天IDとは別の楽天IDでログインしている場合</h3>
<p>お申し込みいただいた際の楽天IDではなく、別の楽天IDでログインされている可能性がございます。</p>
<p>楽天モバイルのアカウントを複数お持ちの可能性があるため、お心当たりがある別の楽天IDでログインをお試しください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※解決しない場合は、「<a target="_blank" href="https://member.id.rakuten.co.jp/rms/nid/upkfwd">ユーザIDの確認・パスワードの再設定</a>」から確認していただくか、コミュニケーションセンターまでお問い合わせください。</p>
