<h3 id="カード会社へお問い合わせ">カード会社へお問い合わせ</h3>
<p>お客さまがご選択いただいた決済回数にて、カード会社を通じて決済させていただいております。</p>
<p>カード会社の判断で決済回数の変更を行うことがございますため、詳細はカード会社へお問い合わせください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※楽天モバイルの判断で製品の支払い回数を分割から一括などへ変更することはございません。</p>
