<h3 id="回線と同時解約されないオプションサービスに加入している場合">回線と同時解約されないオプションサービスに加入している場合</h3>
<p>「スマホ交換保証プラス」「故障紛失保証with Apple care  Services」「故障紛失保証 with AppleCare Services & iCloud+」「あんしん保証with AppleCare Services for Apple Watch」「楽天モバイル買い替え超トクプログラム」は回線の解約とは同時に解約されないオプションのため、オプションの解約がされるまで、ご請求が続いている可能性がございます。</p>
<p>オプションの加入状況や解約方法は以下をご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">オプションの加入状況の確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#home">my
楽天モバイル</a>」にログインし、ホーム画面を開く
<p class="c-Txt_Cap">※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>
</li>
<li>「製品情報」の「全ての製品情報」を選択<br>
<span class="c-Txt_Cap">※アプリの場合は、「モバイル製品情報」の「製品の詳細・保証のお手続き」を選択してください</span></li>
<li>ご契約の保証サービスが表示されます</li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">オプションの解約方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#home">my
楽天モバイル</a>」にログインし、ホーム画面を開く
<p class="c-Txt_Cap">※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>
</li>
<li>解約したいオプションサービス部分にある「解約する」を選択</li>
<li>内容を確認し、OKを選択</li>
<li>お手続き完了</li>
</ol>
<p class="u-Adjust_Mt-24">※楽天モバイル買い替え超トクプログラムに加入している場合、製品の返却または買い取りが必要となります。詳細は<a target="_blank" href="https://network.mobile.rakuten.co.jp/service/replacement-program/">こちら</a>をご確認ください。</p>
