<h3 id="my-楽天モバイルでの確認発行">my 楽天モバイルでの確認・発行</h3>
<p>ご利用月から12ヶ月以内の場合、my
楽天モバイルからダウンロードができます。</p>
<p>なお、13ヶ月以上経過している場合は、データ保有をしておりませんのでmy
楽天モバイルから閲覧・ダウンロードできません。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#billing">my
楽天モバイル</a>」にログインし、「利用料金」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「利用料金」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></li>
<li>確認したい請求月（利用月）を「＜」「＞」で表示させる</li>
<li>「利用明細を見る」を選択</li>
<li>利用明細ダウンロードから「通話／SMS／データ利用明細（毎月4日頃より順次）」を選択すると表示されます</li>
</ol>
<p class="u-Adjust_Mt-16 c-Txt_Cap">※利用明細や証明書の印刷方法は、「<a target="_blank" href="/faq/detail/10000648/?l-id=guide_trouble-check_solutions_415_faq_10000648">プリンターを持っていませんが、利用明細や各種証明書が欲しいです。どうすればよいですか？</a>」をご確認ください。</p>
