<h3 id="未払い料金が発生するケース">未払い料金が発生するケース</h3>
<p>楽天モバイルでのご請求日は、お支払い方法によって異なります。</p>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>クレジットカード（デビットカード）：毎月11日ごろ</li>
<li>口座振替：毎月27日（土日祝の場合は翌営業日）</li>
</ul>
<p>ご指定のお支払い方法で請求／引き落としができなかった場合、未払い料金となります。</p>
<p>理由については楽天モバイルで確認ができないため、ご利用の金融機関にお問い合わせください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">請求／引き落としができない例</h4>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>指定銀行口座の残高不足</li>
<li>指定クレジット／デビットカード情報の不備、または有効期限切れ</li>
<li>利用ポイント数が不足しており、お申し込み時に選択したクレジット／デビットカードが上記いずれかに該当する場合</li>
</ul>
