<h3 id="my-楽天モバイルでの支払い">my 楽天モバイルでの支払い</h3>
<p>有効なクレジットカードまたはデビットカード（楽天銀行のみ）をお持ちの場合、未払い料金を「my
楽天モバイル」からお支払いいただくことが可能です。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※より詳細な手順は<a target="_blank" href="https://network.mobile.rakuten.co.jp/guide/payment/invoice/flow/">こちら</a>からもご確認いただけます。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「<a target="_blank" href="https://portal.mobile.rakuten.co.jp/dashboard#billing">my
楽天モバイル</a>」にログインし、「利用料金」を開く<br />
<span class="c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します<br />
※アプリの場合は、画面下メニューの「利用料金」を選択してください<br />
※ログインができない場合は、「<a href="/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">[my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。
</span></p></li>
<li><p>利用料金画面に表示されている「未払い料金を支払う」を選択</p></li>
<li><p>未払い料金が発生している月を選択</p></li>
<li><p>お支払い方法を確認</p></li>
<li><p>登録している有効なクレジットカード・デビットカードを選択、または「新しいカードを追加」を選択し、情報を入力・登録を行う<br />
<span class="c-Txt_Cap">※有効期限切れのカードが登録されている場合は、新たにカード情報の入力・登録が必要です。</span></p></li>
<li><p>情報を入力後、新しく登録したクレジットカード・デビットカードを選択して「この内容で支払う」を選択<br />
<span class="c-Txt_Cap">※楽天ポイントもご利用になる場合は、楽天ポイントの選択・入力を行い、「この内容で支払う」を選択</span></p></li>
</ol>
<p class="u-Adjust_Mt-24">お支払いが完了しましたの文言と「ホームへ」が表示されている場合は、未払い料金はございません。</p>
<p>他の月にも未払い料金が残っている場合は「続けて残りの未払い分を支払う」と表示されますので、上記手順3から同じ手順でお支払いください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※コンビニ払込票（ハガキ）と重複してお支払いを行わないよう、ご注意ください。</p>
