<h3 id="コンビニ払込票ハガキでの支払い">コンビニ払込票（ハガキ）での支払い</h3>
<p>ご登録の請求先住所にお送りしたコンビニ払込票（ハガキ）にて、対象のコンビニエンスストアで支払い期日内にお支払いください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※ご請求金額・ご利用のコンビニエンスストアにより、コンビニ支払い手数料がご請求金額に加算される場合がございます</p>
