<h3 id="コンビニ払込票ハガキの再送スケジュール">コンビニ払込票（ハガキ）の再送スケジュール</h3>
<p>コンビニ払込票（ハガキ）は、以下メール送信日より現在登録されている請求先住所へ発送され、約4～7日で到着いたします。</p>
<ul class="u-Adjust_Mt-24 c-List_Text-disc">
<li>[重要]楽天モバイル 請求書発送のお知らせ</li>
<li>[重要]楽天モバイル 督促状発送のお知らせ</li>
</ul>
<p>請求先住所が正しく登録され、メール送信日より8日以上経過している場合は、<a target="_blank" href="https://network.mobile.rakuten.co.jp/support/cvs-payment-form/">フォーム</a>より再発行をご依頼ください。</p>
