<h3 id="未払い料金のお支払いが完了しているか確認">未払い料金のお支払いが完了しているか確認</h3>
<p class="c-Txt_Cap c-Txt_Emp-02">※「請求書発行手数料」220円のお支払い漏れが多く発生しておりますので、ご注意ください。</p>
<p class="u-Adjust_Mt-16">お支払いが完了しているか、ほかにお支払いが完了していない料金があるか、下記手順でご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="c-List_Ordered u-Adjust_Mt-16">
  <li>
    「<a href="https://portal.mobile.rakuten.co.jp/dashboard#billing" class="c-Link_Txt-inline-icon" target="_blank">my 楽天モバイル<span class="c-Icon_New-window-l"></span></a>」にログインし「利用料金」を開く
    <p class="u-Adjust_Mt-8 c-Txt_Cap">※上記リンクにアクセスしていただくと、手順2のページに直接遷移します。</p>
    <p class="u-Adjust_Mt-8 c-Txt_Cap">※アプリの場合は、画面下メニューの「利用料金」を選択してください。</p>
    <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインができない場合は、「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>
  </li>
  <li>
    利用月ごとに表示を確認する
    <p>確認したい請求月を「＜」「＞」で表示させてください。</p>
  </li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">未払い料金がない場合</h4>
<p class="u-Adjust_Mt-16">ステータスが「確定」と表示されていれば、全ての未払い料金が完了していますので、お支払い手続きは不要です。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">未払い料金がある場合</h4>
<p class="u-Adjust_Mt-16">未払い料金のお支払いが完了していない場合、画面上部に未払い料金に関する案内や、選択した各月のステータスに「未払い」と表示されます。</p>
