<h3 id="watchアプリでの手続き">Watchアプリでの手続き</h3>
<p>電話番号シェアサービスは、楽天回線を利用しているiPhone（親回線）と、Apple
Watch（Series
3以降のCellularモデル）の両方をお持ちの場合のみご加入いただけます。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※iPhoneおよびApple
Watchは、それぞれ最新OSにアップデートが必要となります（iOSは15.
4以上）。また「キャリア設定アップデート」のポップアップが表示された場合は、必ずアップデートを行ってください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">申し込み方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>Apple Watchを新しいiPhoneに近付ける</p></li>
<li><p>「iPhone を使用してこの Apple Watch を設定」というメッセージが
iPhone に表示されたら、「続ける」を選択<br />
※このメッセージが表示されない場合は、iPhone で Apple
Watchアプリを開いて「すべての
Watch」を選択し、「Watchを追加」を選択する</p></li>
<li><p>「自分用に設定」を選択</p></li>
<li><p>iPhone をアニメーションの上にかざす</p></li>
<li><p>しばらくすると、Apple
Watchのペアリングが終わったというメッセージが表示される</p></li>
<li><p>iPhoneで「Watch」アプリを開く</p></li>
<li><p>「モバイル通信」を選択</p></li>
<li><p>「モバイル通信を設定」を選択し、待機する<br />
※「モバイル通信を設定」が表示されない場合は、iPhoneの再起動を行ってください。</p></li>
<li><p>楽天IDでログインする</p></li>
<li><p>リダイレクトが完了するまで待機する</p></li>
<li><p>内容を確認し、「次へ進む」を選択</p></li>
<li><p>内容を確認し、「申し込む」を選択</p></li>
<li><p>お申し込み完了</p></li>
<li><p>「閉じる」を選択</p></li>
<li><p>iPhoneの機内モードをON・OFFし、アンテナマークが表示されることを確認する</p></li>
</ol>
