<h3 id="製品の強制再起動">製品の強制再起動</h3>
<p>製品を強制終了後に再起動を行い改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">強制終了・再起動の方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>電源キーを10秒程度長押し</p></li>
<li><p>電源が切れたことを確認</p></li>
<li><p>電源キーを長押し</p></li>
<li><p>電源が入ったことを確認</p></li>
</ol>
<p>長押しする時間は、製品によって異なる場合があります。</p>
