<h3 id="rakuten-linkアプリの再インストールログイン">Rakuten
Linkアプリの再インストール／ログイン​</h3>
<p>Rakuten
Linkアプリを一度アンインストールして、再度アプリストアからインストールし、ご利用の楽天IDでログインをお試しください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※アプリのアンインストールによるデータ消失等への責任は負いかねますのでご了承ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>Rakuten Linkアプリを開く</p></li>
<li><p>左上のメニューにある「ログアウト」を選択</p></li>
<li><p>ホーム画面に戻り、Rakuten
Linkアプリを長押しし「Appを削除」を選択</p></li>
<li><p>Google Playストアより再度Rakuten
Linkアプリをインストール</p></li>
<li><p>アプリを起動後、同意ボタンを選択しインストールを完了させる</p></li>
<li><p>楽天IDでログイン</p></li>
<li><p>電話番号を入力して認証する</p></li>
</ol>
<p>解決しない場合は、お使いの製品の再起動をお試しください。</p>
