<h3 id="airpodsのリセット">AirPodsのリセット</h3>
<h4 class="c-Heading_Lv4">リセット方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>AirPods を充電ケースに入れて、蓋を閉じる</p></li>
<li><p>30秒間待つ</p></li>
<li><p>充電ケースの蓋を開ける</p></li>
<li><p>AirPodsを耳に着けた状態で iPhoneに接続し、「設定」を選択</p></li>
<li><p>「Bluetooth」を選択し、AirPodsの横にある「詳細情報ボタン」をタップ<br />
<span class="c-Txt_Cap">※または「お使いの AirPods」を選択し、AirPodsの横にある詳細情報ボタン
をタップ<br />
※AirPods
が表示されない場合は、そのまま次の手順に進んでください。</span></p></li>
<li><p>「このデバイスの登録を解除」をタップし、確認のため、もう一度タップ</p></li>
<li><p>蓋を開いた状態で、ケース背面の設定ボタンを15秒ほど長押し（ケース前面のステータスランプがオレンジ色で点滅し、続いて白く点滅するまで）</p></li>
<li><p>AirPods を再接続する。<br />
AirPods を充電ケースに入れて蓋を開けたまま、iPhone、iPad、iPod touch
の近くに置き、画面に表示される手順を実行する</p></li>
</ol>
