<h3 id="セーフモードでの確認">セーフモードでの確認</h3>
<p>セーフモードを起動して症状が改善するかご確認ください。</p>
<p>一時的にスマートフォンを初期状態で起動させるセーフモードを利用し、症状の原因がインストールしたアプリであるかを確認できます。</p>
<p>セーフモードで起動させて不具合が出なければ、購入以降にインストールしたアプリに原因がある可能性があります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">セーフモード起動方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>いずれか片方の音量調節ボタンとサイドボタンを長押し</p></li>
<li><p>「スライドで電源オフ」と表示されるので、右にスライドする</p></li>
<li><p>音量を上げるボタンと再度ボタンを長押し</p></li>
<li><p>Appleロゴが表示されたら音量を上げるボタンを押し続ける</p></li>
<li><p>ホーム画面が表示</p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">セーフモード解除方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>いずれか片方の音量調節ボタンとサイドボタンを長押し</p></li>
<li><p>「スライドで電源オフ」と表示されるので、右にスライドする</p></li>
<li><p>サイドボタンをAppleロゴが表示されるまで長押し</p></li>
</ol>