<h3 id="simが認識されているか確認">SIMが認識されているか確認</h3>
<p>製品がSIMを認識しているかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">eSIM</h4>
<p class="u-Adjust_Mt-24">〈 SIMが認識されているかの確認方法〉</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」を選択</p></li>
<li><p>「デバイス情報」を選択</p></li>
<li><p>電話番号が表示されていることを確認</p></li>
</ol>
<p>電話番号が「不明」と表示されている場合は次の対処方法をお試しください。</p>
<p>なお、ステータスバーの電波アイコンが以下のように表示されている場合、SIMが認識されている状態となりますのでご利用に支障はございません。</p>
<div class="u-Adjust_Align-center u-Adjust_Mt-24">
<img class="guide-trouble-check_accoridion-image" src="/assets/img/guide/trouble-check/solution/image_4.jpg" alt="">
</div>
<div class="u-Adjust_Align-center u-Adjust_Mt-24">
<img class="guide-trouble-check_accoridion-image" src="/assets/img/guide/trouble-check/solution/image_5.jpg" alt="">
</div>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※電波アイコンの枠に×が表示されている場合にはSIMが認識されておりません。</p>
<div class="u-Adjust_Align-center u-Adjust_Mt-24">
<img class="guide-trouble-check_accoridion-image" src="/assets/img/guide/trouble-check/solution/image_6.jpg" alt="">
</div>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">SIMカード</h4>
<p class="u-Adjust_Mt-24">〈 SIMが認識されているかの確認方法 〉</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面で 「設定」を選択</p></li>
<li><p>「デバイス情報」を選択</p></li>
<li><p>電話番号が表示されていることを確認</p></li>
</ol>
<p>電話番号が「不明」等で表示されている場合はSIMが認識されておりません。</p>
<p>SIMカードの抜き挿しを行い、改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">SIMカードの抜き挿し方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>製品付属のSIMピンを利用して、SIMトレイを取り出す<br />
<span class="c-Txt_Cap">※SIMピンを利用しない製品もあります。</span></p></li>
<li><p>SIMカードにホコリなどが付着している場合、布などで拭く</p></li>
<li><p>SIMカードをトレイにセットする</p></li>
<li><p>SIMトレイを製品にセットする</p></li>
</ol>
