<h3 id="アプリの再インストール">アプリの再インストール</h3>
<p>アプリを一度アンインストールし、再インストールすることで改善するかご確認ください。</p>
<p>使っていないアプリはバックグラウンドでメモリを消費していることがあり、不要なアプリをアンインストールすることで、メモリ不足が解消され、症状が改善される場合があります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリのアンインストール方法</h4>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※アプリのアンインストールによるデータ消失等への責任は負いかねますのでご了承ください。</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>ホーム画面でアンインストールしたいアプリを長押し</p></li>
<li><p>「Appを削除」を選択</p></li>
<li><p>「削除」を選択</p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリのインストール方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>App Storeアプリを開く</p></li>
<li><p>App Store内で対象のアプリを検索</p></li>
<li><p>「インストール」を選択</p></li>
</ol>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">アプリの更新方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>App Storeアプリを開く</p></li>
<li><p>App Store内で対象のアプリを検索</p></li>
<li><p>「更新」を選択<br />
<span class="c-Txt_Cap">※すでに最新版がインストールされている場合、「開く」が表示されます。</span></p></li>
</ol>
