<h3
id="製品の再起動後時間をあけて症状を確認">製品の再起動後、時間をあけて症状を確認</h3>
<p>製品を再起動後、1分程度放置して状況が改善するかをご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">再起動の方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>電源キーを長押し</p></li>
<li><p>「再起動をする」をタップ</p></li>
<li><p>再起動するまで待つ</p></li>
</ol>
