<h3 id="製品の再起動">製品の再起動</h3>
<p>再度電源ボタン長押しにて起動できるかをご確認ください。</p>
<p>充電マークが点灯している場合は充電を10分以上行ってから、電源ボタン長押しにて起動できるかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">再起動の方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>電源ボタンを長押しし、Wi-Fiルーターの電源を切る</p></li>
<li><p>再度電源ボタンを長押しして、電源を入れる</p></li>
</ol>
