<h3 id="製品の強制再起動">製品の強制再起動</h3>
<p>製品の強制再起動を行い改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">強制終了・再起動の方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>音量を上げるボタンを押して、すぐに放す</p></li>
<li><p>音量を下げるボタンを押して、すぐに放す</p></li>
<li><p>サイドボタンを Apple ロゴが表示されるまで長押し</p></li>
<li><p>電源が入ったことを確認</p></li>
</ol>
