<h3 id="製品のリセットフォーマット">製品のリセット（フォーマット）</h3>
<p>製品を出荷時の設定にリセット（フォーマット）し、症状が改善するかご確認ください。</p>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※出荷時の設定にリセットすると、スマートフォンの全データが消去されます。<a target="_blank" href="https://support.google.com/android/answer/6088915">こちら</a>を事前にご確認いただき、設定リセットによるデータ消失等への責任は負いかねますのでご了承ください。</p>
<p class="u-Adjust_Mt-24">ほとんどのスマートフォンでは、設定アプリからスマートフォンをリセットできます。</p>
<p>スマートフォンの設定アプリを開けない場合は、電源ボタンと音量ボタンを使用してスマートフォンを出荷時の設定にリセットしてみてください。</p>
<p>製品固有の手順については、製造業者のサポートサイトをご確認ください。</p>
