<h3 id="apple-watchのリセット">Apple Watchのリセット</h3>
<p>パスコードを忘れてしまいApple Watch
のペアリング解除や消去ができない場合は、Apple Watch
をリセットできます。</p>
<p>Apple Watchを消去した場合でも、Apple
Watchは引き続きアクティベーションロックで保護されています。</p>
<p>Apple Watchを再びペアリングするには、設定時に使ったApple
IDとパスワードの入力が必要となります。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">Apple watchのリセット方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>Apple Watch を充電器に載せる</p></li>
<li><p>サイドボタンを長押し</p></li>
<li><p>画面の右上隅に電源ボタンが表示されたら、サイドボタンから指を放す</p></li>
<li><p>赤い「リセット」ボタンが表示されるまで、Digital
Crownを長押し</p></li>
<li><p>「リセット」を選択</p></li>
<li><p>確認のためもう一度「リセット」を選択</p></li>
<li><p>しばらくするとApple Watchとのペアリングが解除される</p></li>
</ol>
