<h3 id="製品の初期化">製品の初期化</h3>
<p>初期化を行い、症状が改善するかご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">初期化方法1</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>SIMカード挿入口のカバーを開く<br />
<span class="c-Txt_Cap">※SIMカード挿入口のくぼみに指（爪）をかけてカバーを外す</span></p></li>
<li><p>細い棒状のものでリセットボタン（丸いくぼみにあるボタン）を5秒程度長押し</p></li>
</ol>
<div class="u-Adjust_Align-center u-Adjust_Mt-24">
<img class="guide-trouble-check_accoridion-image" src="/assets/img/guide/trouble-check/solution/image_2.jpg" alt="">
</div>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">初期化方法2</h4>
<p class="u-Adjust_Mt-24 c-Txt_Cap">※パソコンでの接続を推奨しています</p>
<p class="c-Txt_Cap">※取扱説明書もご参照ください（<a target="_blank" href="https://network.mobile.rakuten.co.jp/assets/pdf/product/Rakuten-WiFi-Pocket-manual.pdf">Rakuten
WiFi Pocket</a>、<a target="_blank" href="https://network.mobile.rakuten.co.jp/assets/pdf/product/Rakuten-WiFi-Pocket-2B-manual.pdf">Rakuten
WiFi Pocket 2B</a>、<a target="_blank" href="https://network.mobile.rakuten.co.jp/assets/pdf/product/Rakuten-WiFi-Pocket-2C-manual.pdf">Rakuten
WiFi Pocket 2C</a>）</p>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>製品とパソコン（またはスマートフォン）をWi-Fi接続する</p></li>
<li><p>ブラウザから「<a href="http://192.168.0.1" class="c-Link_Txt">管理画面</a>」にアクセスする</p></li>
<li><p>「パスワード」を入力してログインする<br />
<span class="c-Txt_Cap">※初期状態では「パスワード」は「admin」に設定されています</span></p></li>
<li><p>「詳細設定」を選択</p></li>
<li><p>「その他」を選択</p></li>
<li><p>「オールリセット」を選択</p></li>
<li><p>「実行」を選択すると自動で再起動がはじまり、工場出荷時の設定に戻る</p></li>
</ol>
