<h3 id="契約解除済みでないか確認">契約解除済みでないか確認</h3>
<p>ご利用製品をWi-Fiに接続いただくか、別のPCやタブレットからご確認ください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">確認方法</h4>
<ol class="c-List_Ordered u-Adjust_Mt-16">
  <li>
    「<a href="https://portal.mobile.rakuten.co.jp/dashboard#home" class="c-Link_Txt-inline-icon" target="_blank">my 楽天モバイル<span class="c-Icon_New-window-l"></span></a>」にログインし「ホーム」を開く
    <p class="u-Adjust_Mt-8 c-Txt_Cap">※ログインができない場合は、「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001207/" class="c-Link_Txt-inline-icon" target="_blank">my 楽天モバイル] ログインできない場合どうしたらよいですか？<span class="c-Icon_New-window-l"></span></a>」をご確認ください。</p>
  </li>
  <li>
    ご利用中の契約電話番号を確認する
    <p>
      （1）画面で表示されている電話番号をタップする<br>
      （2）表示したい電話番号をタップする。
    </p>
  </li>
</ol>
<p class="u-Adjust_Mt-8 c-Txt_Cap">※契約解除により解約となった電話番号は「解約済み」と表示されます。</p>
