<h3 id="新しいiphoneとのペアリング">新しいiPhoneとのペアリング</h3>
<h4 class="c-Heading_Lv4">ペアリング方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「Watch」アプリを起動する</p></li>
<li><p>「ペアリングを開始」を選択し、「自分用に設定」を選択する</p></li>
<li><p>iPhoneとのペアリングを開始する<br />
※iPhoneの画面に表示される枠内にApple
Watchがおさまるようにカメラを向けるとペアリングが開始されます。</p></li>
<li><p>「Apple Watchのペアリングが完了しました」と表示される</p></li>
</ol>
