<h3 id="バックアップの復元">バックアップの復元</h3>
<p>Apple WatchはペアリングされたiPhoneに自動的にバックアップしているため、保存されているバックアップからApple Watchを復元できます。<br>
Apple Watchを同じiPhoneに再度ペアリングした場合や新しいApple Watchを入手した場合は、お試しください。</p>
<h4 class="c-Heading_Lv4 u-Adjust_Mt-32">バックアップの復元方法</h4>
<ol class="u-Adjust_Mt-24 c-List_Ordered">
<li><p>「バックアップから復元」を選択</p></li>
<li><p>お使いのiPhoneに保存されているバックアップを選択</p></li>
<li><p>iPhoneおよびApple Watchに表示される指示に従って、設定する</p></li>
</ol>