<% const pagetitle = "Rakuten BIGの修理・交換手続き方法" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-big/", label:"Rakuten BIG"}, {path:"product/smartphone/rakuten-big/support/", label:"Rakuten BIGサポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten BIGの修理・交換手続き方法についてご案内します',
    noindex: true,
    pathname: 'product/smartphone/rakuten-big/support/repair/',
    redirect: {url: 'product/smartphone/rakuten-big/support/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
