<% const pagetitle = "特別なお客様へ: Rakuten最強プランのご案内" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%><%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten最強プランのご案内ページです。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'campaign/rakuten-employee/entry/vip/'}
  });
%>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/_append-body') %>
</body>

</html>
