<% const pagetitle = "お急ぎ便 Delivered with Uber Eats（即日開通）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<% const namespace = 'ubereats' -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'お申し込み完了後、最短30分で”スマホ・SIM”を自宅にお届けし、当日にスマホを即日利用できる「お急ぎ便 Delivered with Uber Eats」。サービスの特長やご利用の流れ、お申し込み前にご確認いただきたい内容等をご案内します。機種変更、端末のみ、お急ぎで中古スマホを探している方におすすめ※配達可能エリア内。配達パートナーの稼働状況や混雑状況によりお届け時間が前後する可能性があります',
    noindex: false,
    pathname: filepath,
    redirect: {url: ''}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
