<% const pagetitle = "iPhoneトク得乗り換え！対象のiPhoneが最大24,000ポイント還元！" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイル（楽天回線）をお申し込み ＆ 対象iPhone購入 ＆ iPhoneアップグレードプログラムご利用 ＆ 対象iPhone下取りで最大24,000ポイント還元！最新機種（ iPhone 14 Pro Max / iPhone 14 Pro / iPhone 14 Plus / iPhone14 ）も対象！',
    keywords: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'campaign/iphone-point/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
