<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1836</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ エントリー期間</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>2023年8月31日（木）10:00～2023年9月29日（金）9:59</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プランのお申し込み期間</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>Web　2023年8月31日（木）10:00～2023年9月29日（金）9:59</li>
          <li>店舗（楽天モバイルショップ）2023年8月31日（木）開店～2023年9月28日（木）閉店</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プラン利用開始期限</p>
        <p>2023年10月31日（火）9:59まで</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方<br>（【1】、【2】、【3】、【4】は順不同）</p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>本キャンペーンのご案内が届いた方</p>
        <ul class="c-Cpn_List-mark-1">
          <li>ご案内はメール、Push通知のお知らせを予定しております。</li>
          <li>他の方から転送されたメール、URLリンクは対象外となります。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>キャンペーンへのエントリー</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>エントリー期間内に本キャンペーンページでエントリー</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>対象の生命保険をご契約中の方</p>
        <ul class="c-Cpn_List-mark-1">
          <li>2023年11月1日（水）時点で契約されている方が対象となります。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="u-Adjust_Mb-8">＜対象の生命保険＞</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>楽天生命スーパー定期保険</li>
          <li>楽天生命スーパー終身保険</li>
          <li>楽天生命スーパー医療保険 戻るんです</li>
          <li>楽天生命スーパー医療保険</li>
          <li>楽天生命スーパーたよれる医療保険</li>
          <li>楽天生命スーパーがん保険</li>
          <li>楽天生命あんしんプラス（女性サポート）</li>
          <li>楽天生命のスーパー2000</li>
          <li>楽天生命認知症保険</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【4】</span>「Rakuten最強プラン」ご利用中の方</p>
        <p class="u-Adjust_Mt-8">本キャンペーン開始時点で「Rakuten最強プラン」の未契約者である場合は、2023年8月31日（木）10:00～2023年9月29日（金）9:59までに、以下（i）（ii）にて対象となります。</p>

        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8">（i）「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
          <ul class="c-Cpn_List-mark-2-normal">
            <li>（1）新規お申し込み</li>
            <li>（2）他社からの乗り換え（MNP）でお申し込み</li>
            <li>（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
          </ul>
        </div>

        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8">（ii）「Rakuten最強プラン」利用開始</p>
          <ul class="c-Cpn_List-mark-1">
            <li>【プラン利用開始日とは】<br><br>
              <span class="c-Txt_Emp-01">新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
              （1）楽天モバイル株式会社に配送完了データが通知された日<br>
              （2）プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日<br><br>
              <span class="c-Txt_Emp-01">他社から乗り換え（MNP）の場合</span><br>
              プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日<br><br>
              <span class="c-Txt_Emp-01">楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
              プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
            </li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <ul class="c-Cpn_List-mark-1">
            <li>ドコモ回線・au回線用プランのスーパーホーダイ、組み合わせプラン、コミコミプランは、本キャンペーンの対象外となります。</li>
            <li>旧FREETEL SIM、DMM mobile SIMは本キャンペーンの対象外となります。</li>
            <li>本キャンペーン開始前に、「Rakuten最強プラン」をお申し込みされた方は、エントリー期間内のプラン利用開始が必要です。</li>
            <li>店頭でのお申し込みは、2023年9月28日（木）閉店までが期限となります。</li>
          </ul>
        </div>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">600ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">
          ポイント付与は2023年11月末ごろになります。
        </p>
        <ul class="c-Cpn_List-mark-1">
          <li>楽天ポイントの付与は、楽天モバイルより行います。</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank"
              class="c-Link_Txt">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等によりお申し込みキャンセルとなった場合</li>
        <li>ポイント付与までに楽天会員から退会している場合</li>
        <li>そのほか、当社が会員として不適格であると合理的な根拠に基づき判断した場合</li>
        <li>期間内に楽天モバイルの契約者変更（譲渡・承継）を受けた方</li>
        <li>楽天モバイル株式会社、楽天生命保険株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
        <li>キャンペーン開始前に楽天モバイルを解約されている場合</li>
        <li>エントリーした楽天IDが、楽天モバイル・楽天生命にご登録の楽天IDと同一でない場合</li>
        <li>対象の保険にお申し込みいただいても、ご契約内容や健康状態によって、お見積り、ご契約できない場合</li>
        <li>楽天生命が定める基準日において楽天会員を退会されている場合</li>
        <li>楽天生命が定める基準日において対象保険商品の契約が解約等により有効ではない場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります。</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント付与の対象外となる場合がございます。</li>
        <li>記載の内容は2023年8月31日（木）時点の情報となります。</li>
        <li>本キャンペーン参加にかかる費用（通信費等含む）は、お客様のご負担となりますので、あらかじめご了承ください。</li>
        <li>メンテナンス等でキャンペーンにご参加いただけない場合があります。</li>
        <li>本キャンペーン期間内でのポイント付与はおひとり様1回のみ対象です。</li>
        <li>ポイント付与のため、キャンペーン対象者様の楽天IDを楽天モバイル株式会社と楽天生命株式会社間で受け渡しいたします。あらかじめご了承ください。</li>
      </ul>
    </dd>
  </div>
</dl>
