<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1900</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 製品のご購入期間</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>Web　2023年6月1日（木）0:00～2023年9月12日（火）8:59</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>店舗（楽天モバイルショップ）、および楽天モバイル公式 楽天市場店でのご購入は対象外となります</li>
          <li class="c-Txt_Emp-02">2023年9月4日（月）にキャンペーンの終了日時を変更しました。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■ ご購入製品の受け取り期限</p>
        <p>対象製品ご購入申し込み後～翌々月末日23:59まで</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-02">
          上記各項目の期間内に以下条件を満たした楽天会員の方
        </p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">製品のご購入期間中に楽天モバイルオンライン(Web)にて、以下いずれかを「楽天モバイル買い替え超トクプログラム」利用で新規ご購入</p>
        <ol class="c-Cpn_List-mark-2-normal">
          <li>iPhone 14 Pro Max</li>
          <li>iPhone 14 Pro</li>
          <li>iPhone 14 Plus</li>
          <li>iPhone 14</li>
          <li>iPhone SE（第3世代）</li>
          <li>iPhone 13</li>
          <li>iPhone 13 mini</li>
        </ol>
        <ul class="c-Cpn_List-mark-1">
          <li>「Rakuten最強プラン」とセット、製品単体購入どちらの場合もキャンペーン対象となります</li>
          <li class="c-Txt_Emp-02">「楽天モバイル買い替え超トクプログラム」のお申し込みは、18歳以上のお客様が対象です。18歳未満のお客様からのお申し込みは受け付けておりません。</li>
          <li class="c-Txt_Emp-02">「楽天モバイル買い替え超トクプログラム」のお支払いは、お申し込み時、ご利用中ともに、ご契約者本人の楽天カードのみご利用いただけます。楽天カード以外のカード、およびご契約者以外の方ご名義のカードはご利用いただけませんので、ご注意ください。</li>
          <li>キャンペーン期間外のご購入は特典適用の対象外となります</li>
          <li>購入申し込みを中止、もしくはキャンセルした場合は特典適用の対象外となります</li>
          <li>回線と同時購入をされた場合には、回線の利用が確認されるまで購入が完了とみなされないためご注意ください</li>
          <li>製品が受け取り期限内にお手元に届いた時点で、条件達成となります</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">10,000ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">キャンペーン条件達成の翌々月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li>例）2023年6月にご購入の製品がお手元に届いた場合には、その翌々月である2023年8月末日ごろにポイント付与となります</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>指定期間内に、キャンペーン条件を満たさなかった場合</li>
        <li>18歳未満のお客様の場合（「楽天モバイル買い替え超トクプログラム」、および「スマホ下取りサービス」のお申し込みは、18歳以上のお客様が対象です ）</li>
        <li>楽天モバイル買い替え超トクプログラムを利用してiPhone購入で10,000ポイント還元！キャンペーン」の適用回数が、おひとり様1回を超える場合</li>
        <li>楽天モバイルオンライン以外で購入した場合(楽天モバイルショップ、楽天モバイル公式 楽天市場店でのご購入は対象外)</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込み<span class="c-Txt_Emp-01">キャンセル</span>となった場合</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li>記載の内容は2023年9月4日（月）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
