<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1934</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ヴィッセル神戸応援プランへのエントリー</p>
        <ul class="c-Cpn_List-ordered-lv2">
          <li>2023年9月13日（水）09:00～2023年9月25日（月）08:59</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ チケットプレゼント抽選へのエントリー</p>
        <ul class="c-Cpn_List-ordered-lv2">
          <li>2023年9月13日（水）09:00～2023年9月25日（月）08:59</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">【Rakuten最強プランをご利用中でない場合】</p>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プランのお申し込み期間</p>
        <p>Web　2023年9月25日（月）08:59まで</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プラン利用開始期限</p>
        <p>2023年9月25日（月）08:59まで</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※【1】【2】【3】の順序は問いません</p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>ヴィッセル神戸応援プランへのエントリー</p>
        <ul class="c-Cpn_List-ordered-lv2">
          <li>2023年9月25日（月）08:59までに本キャンペーンページでエントリー</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>ヴィッセル神戸応援プランのエントリーとチケットプレゼント抽選エントリーの順序は問いません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>チケットプレゼント抽選へのエントリー</p>
        <ul class="c-Cpn_List-ordered-lv2">
          <li>2023年9月25日（月）08:59までに本キャンペーンページでエントリー</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>ヴィッセル神戸応援プランのエントリーとチケットプレゼント抽選エントリーの順序は問いません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>2023年9月25日（月）08:59時点で「Rakuten 最強プラン」ご利用中である</p>
        <p class="u-Adjust_Mb-8 u-Adjust_Mt-8">「Rakuten最強プラン」の未契約者の方は、上記期間内に以下(ⅰ)(ⅱ)を満たすことで対象となります。</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>
            <p>(ⅰ)「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
            <p>(1)新規お申し込み</p>
            <p>(2)他社からの乗り換え(MNP)でお申し込み</p>
            <p>(3)楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
          </li>
          <li class="u-Adjust_Mt-16">
            <p>(ⅱ)「Rakuten最強プラン」プラン利用開始</p>
            <p>【プラン利用開始日とは】</p>
            <p>-新規お申し込みの場合 ※(1)(2)のいずれか早い方がプラン利用開始日となります。</p>
            <p>(1)当社に配送完了データが通知された日</p>
            <p>(2)プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</p>
            <p>- 他社から乗り換え（MNP）の場合</p>
            <p>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</p>
            <p>- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
            <p>プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日</p>
            <p class="c-Txt_Cap">※本キャンペーン開始前に、「Rakuten最強プラン」をお申し込みされた方は、キャンペーン期間内のプラン利用開始が必要です。</p>
          </li>

        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典</dt>
    <dd>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">2023年10月21日(土)に国立競技場で行われるRakuten SUPER MATCH(ヴィッセル神戸 vs. 鹿島アントラーズ)の観戦チケットを抽選で150組300名様にプレゼント</p>
        <ul class="c-Cpn_List-mark-1">
          <li>QRチケットでのプレゼントとなります。</li>
          <li>ペアチケットでのプレゼントとなります。席の追加や変更のご要望はお受けできません。</li>
          <li>席種はクラブ指定の指定席となります。ヴィッセル神戸の応援席となりますので、ビジターチームの応援およびユニフォーム等の着用はできません。</li>
          <li>プレゼントされたチケットは、申込者ご本人または申込同伴者のみ有効です。第三者への譲渡、転売交換等はお断りします。</li>
          <li>未就学児童は、大人入場者1名様につき1名無料でご入場いただけますが、大人の方のお膝の上での観戦となります。お席をご利用の場合は1名分としてお申し込みください。</li>
          <li>当選メール配信後のメール/チケットの再発行はできかねます。当選メールを大切に保管ください。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典進呈日</p>
        <p class="c-Txt_Emp-01">2023年10⽉6日（金）ごろ<br>ヴィッセル神戸応援プランへのエントリーとチケットプレゼント抽選エントリー済み　かつ楽天モバイルのご契約が確認できた方へ送付される当選メール</p>
        <ul class="c-Cpn_List-mark-1">
          <li>本メールの送付先は楽天会員情報にご登録されているものとなります。楽天モバイルのご契約情報として設定しているメールアドレスには届きませんのでご注意ください。</li>
          <li>会員情報の確認はこちら（<a href="https://my.rakuten.co.jp/">https://my.rakuten.co.jp/</a>）</li>
          <li>当選結果は、当選連絡をもってかえさせていただきます。</li>
          <li>観戦チケットの取得方法についての詳細はメールにてご確認ください。</li>
          <li>権利の譲渡はできません。</li>
          <li>本申し込みメールはrmobile-notification@mobile.rakuten.co.jpから配信されます。「mobile.rakuten.co.jp」ドメインからのメールが受信できるように設定してください</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>楽天モバイルを解約された場合（ご契約中の回線をお持ちでない場合）</li>
        <li>エントリーした楽天IDが、楽天モバイルにご登録の楽天IDと同一でない場合</li>
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合<br>-プラン利用開始の手続き方法につきましては、こちらのSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
        <li>特典対象を確認する日までに楽天会員から退会している場合</li>
        <li>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li>記載の内容は2023年9月13日（水）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>

