<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1934</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p>■キャンペーン期間</p>
      <p class="u-Adjust_Pl-16"><s>2023年8月23日（水）09:00 ～ 終了日未定</s></p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【Rakuten最強プランをご利用中でない場合】</p>
      <p>■プランのお申し込み期間</p>
      <p class="u-Adjust_Pl-16"><s>- Web　2023年8月23日（水）09:00～終了日未定</s></p>
      <p class="c-Txt_Emp-02 u-Adjust_Pl-16">2024年4月30日をもってキャンペーン終了となります。</p>
      <p class="u-Adjust_Pl-16">楽天モバイルのプラン利用が開始された月から特典対象となります</p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p>【1】、【2】の条件をすべて満たした楽天会員の方</p>
      <p class="c-Txt_Cap">※特典のご案内はおひとり様１度のみ、エントリーいただいた楽天会員アカウントが対象となります</p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【1】キャンペーンへのエントリー</p>
      <p class="u-Adjust_Pl-16">
        エントリー期間内に本キャンペーンページでエントリー <br>
        <span class="c-Txt_Cap">※プラン未契約者の方のエントリーとプラン申し込みの順序は問いません</span>
      </p>

      <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【2】「Rakuten最強プラン」を利用開始中、または本キャンペーンページの「お申し込みはこちら」ボタンより「Rakuten最強プラン」へ下記（1）～（3）いずれかの方法にてお申し込み</p>

      <p class="u-Adjust_Mt-16">「Rakuten最強プラン」の未契約者の方は、上記期間内に以下(ⅰ)(ⅱ)を満たすことで対象となります</p>
      <p class="u-Adjust_Pl-16">(ⅰ)「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
      <ul class="u-Adjust_Pl-32">
        <li>(1)新規お申し込み</li>
        <li>(2)他社からの乗り換え(MNP)でお申し込み</li>
        <li>(3)楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
      </ul>

      <p class="u-Adjust_Mt-16 u-Adjust_Pl-16">
        ・オプションサービスを引き継ぎたい場合<br>
        本ページからお申し込みした際、オプションサービスはすべて解約となります<br>
        【お申し込み時の注意事項】<br>
        ・キャンペーン特典の適用は、本ページの「お申し込みはこちら」ボタンからのお手続きが必要となります<br>
        ・お手続き中に時間超過等でセッションが切れた場合、再度本ページの「お申し込みはこちら」ボタンよりお手続きが必要になります<br>
        ・楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合は、キャンペーン特典の適用はございません。メンテナンスの終了後に改めてお申し込みください<br>
        ・楽天モバイル(ドコモ回線・au回線)をお使いのお客様が、メンバーズステーションより、プラン変更（移行）した場合、キャンペーンの適用はございません<br>
        ・お手続き完了前に、「受け取りとお支払い方法」ページのお申し込み内容にて、クーポンコードが表示されることを必ずご確認ください
      </p>

      <p class="u-Adjust_Mt-16 u-Adjust_Pl-16">(ⅱ)「Rakuten最強プラン」プラン利用開始</p>
      <p class="u-Adjust_Pl-16">
        【プラン利用開始日とは】<br>
        -新規お申し込みの場合 ※(1)(2)のいずれか早い方がプラン利用開始日となります<br>
        (1)当社に配送完了データが通知された日<br>
        (2)プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
        - 他社から乗り換え（MNP）の場合<br>
        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
        - 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
        プラン（SIMカード、eSIM）にて楽天回線またはパートナー回線の電波が利用できるようになった日<br>
        <span class="c-Txt_Cap">※本キャンペーン開始前に、「Rakuten最強プラン」をお申し込みされた方は、キャンペーン期間内のプラン利用開始が必要です</span><br>
        <span class="c-Txt_Cap c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です</span>
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典</dt>
    <dd>
      <p class="c-Txt_Emp-01">
        ①ヴィッセル神戸のチーム強化に貢献<br>
        <del>②ホームゲームご来場時、毎試合ソフトドリンク1杯引換券プレゼント</del>
      </p>
      <p class="u-Adjust_Mt-16">チーム強化貢献について</p>
      <p class="u-Adjust_Pl-16">・キャンペーン参加者数（エントリー人数）に応じて、楽天モバイルから売上の一部をヴィッセル神戸に還元します</p>
      <del>
        <p class="u-Adjust_Mt-16">ソフトドリンク1杯引換券プレゼントについて</p>
        <p class="u-Adjust_Pl-16">
          ・対象試合：キャンペーン期間中にノエビアスタジアム神戸で開催されるすべてのヴィッセル神戸主催のホームゲーム（リーグ戦/ルヴァンカップグループステージが対象）<br>
          ・対象ドリンク：試合日にノエビアスタジアム神戸コンコース内に出店している飲食売店で販売しているソフトドリンク（自動販売機は除く）<br>
          ・利用上限は1試合につき、お一人さま1杯のみ<br>
          ・キャンペーン参加中のご契約者さまご本人以外の特典利用は不可となります
        </p>
      </del>
      <p>2024年2月29日をもって②ホームゲームご来場時、毎試合ソフトドリンク1杯引換券プレゼントは終了となりました。</p>
    </dd>
  </div>
  <div>
    <dt><del>特典受け取り方法</del></dt>
    <dd>
      <del>
        <p class="u-Adjust_Pl-16">
          ・ノエビアスタジアム神戸来場時に、楽天モバイルブースで観戦チケットとRakutenLinkアプリをご提示いただき、ドリンク引換券をお受け取り<br>
          ・スタジアム内の各ドリンク販売店舗でドリンク引換券をご提示で、対象のソフトドリンクと交換<br>
          ・引換券の枚数には限りがあります。また、引換券は当日限り有効
        </p>
      </del>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※本ページの「お申し込みはこちら」ボタン以外からお申し込みされた場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※本ページの「お申し込みはこちら」ボタンよりお手続き中に時間超過等でセッションが切れた場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイル(ドコモ回線・au回線)をお使いのお客様が、メンバーズステーション経由でプラン変更（移行）した場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※お申し込み途中で、他のお申し込みボタンからお申し込みを開始したり、ブラウザ、スマートフォンやパソコンを変えるなどして「受け取りとお支払い方法」ページのお申し込み内容で、クーポンコードが表示されていない場合<br>
        <span class="u-Adjust_Pl-8">クーポンコードは、キャンペーンページの「クーポンコード」に記載の14桁の英数字です</span>
      </p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※お申し込み途中で、クーポンを解除した場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルを解約された場合（ご契約中の回線をお持ちでない場合）</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※エントリーした楽天IDが、楽天モバイルにご登録の楽天IDと同一でない場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※「Rakuten最強プラン」の利用開始がされなかった場合<br>
        -プラン利用開始の手続き方法につきましては、こちらのSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください"
      </p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※特典対象を確認するまでに楽天会員から退会している場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※当社または楽天グループ株式会社が定める規約などに違反した場合</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-02"> ※「Rakuten最強プラン（データタイプ）」をお申し込みした場合</span></p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※そのほか、当社が会員として不適格であると合理的に判断した場合</p>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <p class="c-Txt_Cap">※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</p>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※「Rakuten最強プラン（データタイプ）」は対象外です</p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※記載の内容は2024年4月15日（月）時点の情報となります</p>
    </dd>
  </div>
</dl>
