
<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1979</p>
      <ul class="c-Txt_Cap u-Adjust_Mt-8">
        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p>
        <span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
        　- 店舗（楽天モバイルショップ）　2023年7月7日（金）開店～2023年8月31日（木）閉店<br>
        <span class="c-Txt_Cap">※2023年8月22日（火）に終了日を変更（追記）しました</span>
      </p>
      <p class="u-Adjust_Mt-16">
        <span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
        　プランのお申し込みの翌月末日23:59まで
      </p>
      <p class="u-Adjust_Mt-16">
        <span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
        　プランのお申し込みの翌月末日23:59まで
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります</p>
      <div class="u-Adjust_Mt-16">
        <span class="c-Txt_Emp-01">【1】店頭で「Rakuten最強プラン」へ下記いずれかの方法にてお申し込み</span><br>
        <ul class="c-List_Note u-Adjust_Mt-8">
          <li><span>(1)</span>他社からの乗り換え（MNP）でお申し込み
            <p>
              <span class="c-Txt_Cap">※楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</span><br>
              <span class="c-Txt_Cap">※MNPワンストップを利用したお申し込みは対象外です。</span><br>
            </p>
          </li>
          <li class="u-Adjust_Mt-16"><span>(2)</span>「Rakuten最強プラン（データタイプ）」は対象外です
            <p><span class="c-Txt_Cap c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です</span></p>
          </li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <span class="c-Txt_Emp-01">【2】「Rakuten最強プラン」利用開始</span><br>
        【プラン利用開始日とは】<br>
        プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
      </div>
      <div class="u-Adjust_Mt-16">
        <span class="c-Txt_Emp-01">【3】「Rakuten Link」のご利用</span><br>
        「Rakuten最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話<br>
        <div class="u-Adjust_Mt-8">【Rakuten Link アプリご利用方法】</div>
        Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください<br>
        <div class="u-Adjust_Mt-8">【Rakuten Link利用履歴の確認方法】</div>
        「<a href="<%= sitepath %>faq/detail/00001919/" target="_blank" class="c-Link_Txt-inline">キャンペーンにおけるRakuten Linkの利用について<span class="c-Icon_New-window-l"></span></a>」をご確認ください<br>
      </div>
      <p class="u-Adjust_Mt-8 c-Txt_Cap">※　電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">4,000ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">「Rakuten最強プラン」のお申し込みの4カ月後の末日ごろに付与</p>
        <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）7月に条件を達成した場合には、その4カ月後である11月末日ごろにポイント付与となります</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="u-Adjust_Mt-8">
          <li class="c-Txt_Cap"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
          <li class="c-Txt_Cap"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="u-Adjust_Mt-16">
        <li class="c-Txt_Cap"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li class="c-Txt_Cap"><span>※</span>MNPワンストップを利用したお申し込みの場合</li>
        <li class="c-Txt_Cap"><span>※</span>「他社からのお乗り換え&回線のみ契約で4,000ポイントプレゼント」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
        <li class="c-Txt_Cap"><span>※</span>楽天モバイルショップ以外で購入した場合</li>
        <li class="c-Txt_Cap"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
        <li class="c-Txt_Cap"><span>※</span>「Rakuten最強プラン」の利用開始がされなかった場合<br>
          <p>　 -プラン利用開始の手続き方法につきましては、こちらのSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</p>
        </li>
        <li class="c-Txt_Cap"><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった</span>場合</li>
        <li class="c-Txt_Cap"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li class="c-Txt_Cap"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li class="c-Txt_Cap"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります</p>
      <p>【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）<br>
      【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）</p>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul>
        <li class="c-Txt_Cap"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li class="c-Txt_Cap"><span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li class="c-Txt_Cap"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li class="c-Txt_Cap c-Txt_Emp-02"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li class="c-Txt_Cap"><span>※</span>記載の内容は2023年9月1日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
