<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーン名称</dt>
    <dd>
      <p class="c-Txt_Emp-01">楽天カード新規入会＋楽天モバイルを初めてお申し込みで20,000ポイントプレゼントキャンペーン</p>
    </dd>
  </div>
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2075</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>対象期間</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">■ 楽天カード新規入会、楽天モバイルプランのお申し込み期間</span><br>
        2023年11月10日（金）10:00～2023年11月20日（月）10:00
      </p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>楽天モバイルショップ（店舗）によって営業時間が異なります。くわしくは<a href="https://network.mobile.rakuten.co.jp/shop/?l-id=campaign_card-30k_shop02">ショップページ</a>をご確認ください。</li>
      </ul>
      <p><span class="c-Txt_Emp-01">■ 楽天モバイルプラン利用開始期限</span><br>
        2023年11月30日（木）23:59まで
      </p>
    </dd>
  </div>
  <div>
    <dt>特典</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">20,000ポイント</span></p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>特典はおひとり様1回限り、楽天回線を初めてお申し込みいただいた場合に適用となります。</li>
        <li>2024年1月から5月にかけて、各月末日に4,000ポイントを進呈します。</li>
        <li>例）2024年1月末日ごろに1回目のポイント進呈となり、2月末日ごろに2回目、3月末日ごろに3回目、4月末日ごろに4回目、5月末日ごろに5回目の進呈となります。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>ポイント進呈予定日</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">2024年1月から5月の5カ月間にわたり進呈</span></p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>楽天ポイントの進呈は、楽天モバイルより行います</li>
        <li>権利の譲渡はできません</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>ポイント有効期間</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">ポイント進呈日の3カ月後末まで有効</span></p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
        <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>進呈対象</dt>
    <dd>
      <p>
        上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>特典はおひとり様1回限り、楽天回線を初めてお申し込みいただいた場合に適用となります</li>
        <li>【1】【2】【3】の順序は問いません</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーン期間内に楽天カードに新規入会</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>楽天カードのお申し込み時には審査がございます。カードが発行されなかった方は対象外となりますので、あらかじめご了承ください。</li>
          <li>2023年11月末時点で、本カード会員様が楽天会員もしくは楽天カード会員を退会されている場合、いずれかの会員規約に違反もしくは会員資格を取り消されている場合は対象外となります。</li>
          <li>2023年11月末時点で、ご利用可能なカードをお持ちでない場合は対象外となります</li>
        </ul>
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
        <ul class="c-Cpn_List-ordered-lv2">
          <li>新規お申し込み</li>
          <li>他社からの乗り換え（MNP）でお申し込み</li>
          <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li class="c-Txt_Emp-02">「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        </ul>
        <p class="u-Adjust_Mt-8">【Webでお申し込み時の注意事項】<br>
          ・キャンペーン特典の適用は、本ページのお申し込みボタンからのお手続きが必要となります<br>
          ・お手続き中に時間超過等でセッションが切れた場合、再度本ページのお申し込みボタンよりお手続きが必要になります<br>
          ・楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合は、キャンペーン特典の適用はございません。メンテナンスの終了後に改めてお申し込みください<br>
          ・楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、<a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten" target="_blank" class="c-Link_Txt-inline">メンバーズステーション<span class="c-Icon_New-window-l"></span></a>より、プラン変更（移行）した場合、キャンペーンの適用はございません<br>
          ・お手続き完了前に、「受け取りとお支払い方法」ページのお申し込み内容にて、クーポンコードが表示されることを必ずご確認ください</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>「Rakuten最強プラン」利用開始</p>
        <p id="campaign-rule-plan" class="nav-Pad">【プラン利用開始日とは】</p>
        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
          （1）当社に配送完了データが通知された日<br>
          （2）プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 他社から乗り換え（MNP）の場合</span><br>
          プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
        <p class="u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
          プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>進呈対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンより進呈ポイント数やクーポン割引額が多いRakuten最強プランお申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合（複数のRakuten最強プランお申し込みでポイントまたはクーポンプレゼントキャンペーンの対象となった場合、進呈ポイント数やクーポン割引額が一番多いキャンペーンのみが適用されます。）</li>
        <li>（Webでお申し込みの場合）本ページのお申し込みボタン以外からお申し込みされた場合</li>
        <li>（Webでお申し込みの場合）本ページのお申し込みボタンよりお手続き中に時間超過等でセッションが切れた場合</li>
        <li>（Webでお申し込みの場合）楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合</li>
        <li>（Webでお申し込みの場合）楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、メンバーズステーション経由でプラン変更（移行）した場合</li>
        <li>（Webでお申し込みの場合）お申し込み途中で、他のお申し込みボタンからお申し込みを開始したり、ブラウザ、スマートフォンやパソコンを変えるなどして「受け取りとお支払い方法」ページのお申し込み内容で、クーポンコードが表示されていない場合<br>
            クーポンコードは、キャンペーンページの「クーポンコード」に記載の14桁の英数字です</li>
        <li>（Webでお申し込みの場合）お申し込み途中で、クーポンを解除した場合</li>
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>楽天モバイルショップ、楽天モバイルオンライン、楽天モバイル公式 楽天市場店以外で購入した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等によりお申し込みキャンセルとなった場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合<br>
          -プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
        <li>ポイント進呈までに楽天会員から退会している場合</li>
        <li>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン」お申し込みの際にiPhone 15/iPhone 15 Plus/iPhone 15 Pro/iPhone 15 Pro Maxを同時にご予約注文され、開通期限までに配送が完了しない場合</li>
        <li>楽天カード株式会社会員規約（第19条）に基づく楽天カード会員資格の失効、もしくは楽天カード会員および楽天会員を退会されている場合</li>
        <li>楽天モバイルにお申し込みの楽天IDと楽天カードにお申し込みの楽天IDが同一でない場合</li>
        <li>家族カードでお申し込みされた場合</li>
        <li>楽天カードに登録されている楽天IDが複数ある場合</li>
        <li>アルペングループ楽天カードのお申し込みをされた場合</li>
        <li>「楽天カード新規入会＆利用特典進呈条件」に記載の進呈対象外に該当する場合</li>
        <li>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可の楽天モバイル株式会社キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーン特典が適用になっている場合、本キャンペーンは対象外となります。その他の全てのキャンペーンは本キャンペーンとの併用不可となります。</p>
      <p class="u-Adjust_Mt-8">・Androidスマホ割引キャンペーン（キャンペーンコード：1550）</p>
      <p class="u-Adjust_Mt-8">・楽天モバイル公式 楽天市場店 対象Android製品とRakuten最強プランセットご注文で6,000円OFFクーポン（キャンペーンコード：1833）</p>
      <p class="u-Adjust_Mt-8">・楽天モバイル公式 楽天市場店 対象Apple製品とRakuten最強プランセットご注文で6,000円OFFクーポン（キャンペーンコード：1834）</p>
      <p class="u-Adjust_Mt-8">・Rakuten Hand 5G / Rakuten WiFi Pocket 1円キャンペーン（キャンペーンコード：1875）</p>
    </dd>
  </div>
  <div>
    <dt>お問い合わせ</dt>
    <dd>
      <p>＜楽天モバイルに関するお問い合わせ先＞<br>
        楽天モバイル株式会社 お客様サポート<br>
        <a href="https://network.mobile.rakuten.co.jp/support/">https://network.mobile.rakuten.co.jp/support/</a></p>
      <p>＜楽天カードに関するお問い合わせ先＞<br>
        楽天カード株式会社 お客様サポート<br>
        <a href="https://www.rakuten-card.co.jp/support/">https://www.rakuten-card.co.jp/support/</a></p>
    </dd>
  </div>
  <div>
    <dt>備考</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>本キャンペーンは楽天モバイル株式会社主催になります。</li>
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li>記載の内容は2023年11月10日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>