<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>
        1888<br>
        <span class="c-Txt_Cap">※本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</span>
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div class="c-Txt_Emp-01">■ 製品のご購入期間</div>
      <ul>
        <li>- 店舗（楽天モバイルショップ）　2023年5月1日（月）開店～2023年7月31日（月）閉店</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8">※上記期間中にご購入を完了させる必要があります。</li>
        <li class="c-Txt_Cap">※例）7月に来店予約をし、8月以降に店頭でご購入された方は対象外となります。</li>
        <li class="c-Txt_Cap">※2023年6月30日（金）に終了日を2023年9月30日（土）閉店から2023年7月31日（月）閉店に変更しました。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に以下の条件を満たした楽天会員の方<br>
        <span class="c-Txt_Cap c-Txt_Emp-02">※お一人様１回限りの適用となります。</span>
      </p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">対象製品いずれかを楽天モバイルショップでご購入　</p>
      <ul>
        <li>- iPhone 14</li>
        <li>- iPhone 13</li>
        <li>- iPhone 13 mini</li>
        <li class="c-Txt_Cap">※Rakuten最強プランとセット、製品単体購入どちらの場合もキャンペーン対象となります。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">10,000ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-02">製品ご購入月の翌々月末日ごろに付与</p>
        <ul class="c-Txt_Cap">
          <li>※例）5月にすべての条件を達成した場合には、その翌々月である7月末日ごろにポイント付与となります</li>
          <li>※楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>※権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Txt_Cap">
          <li>※<a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt-inline-icon" target="_blank" rel="noopener">期間限定ポイント<span class="c-Icon_New-window-l"></span></a>について</li>
          <li>※有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Txt_Cap">
        <li>※当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>※「【ショップ限定】iPhone対象機種 10,000ポイント還元キャンペーン」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
        <li>※楽天モバイルショップ以外で購入した場合</li>
        <li>※ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
        <li>※ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>※当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>※そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります</p>
      <p class="c-Txt_Emp-01">以下のキャンペーン特典が適用となっている場合、本キャンペーンは対象外になります。</p>
      <ul class="c-Txt_Cap u-Adjust_Mt-8">
        <li>- 【ショップ限定】iPhone 13 128GBポイントバックキャンペーン （キャンペーンコード：1903）<br>
          ※　2023年7月1日より、【ショップ限定】iPhone 13 128GBポイントバックキャンペーン（キャンペーンコード：1903）は併用不可となりました。
        </li>
        <li>- 【ショップ限定】iPhone 14 128GBポイントバックキャンペーン （キャンペーンコード：1982）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Txt_Cap">
        <li>※本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>※本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>※製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li>※iPhoneのご購入時にネット接続を確認させていただきます。同意いただけない場合、販売をお断りさせていただきます。ご了承ください</li>
        <li>※本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます。</li>
        <li>※記載の内容は2023年6月30日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
