<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2048</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ エントリー期間</p>
        <p>2023年11月10日（金）10:00～2023年11月17日（金）23:59</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ データ利用期間</p>
        <ul>
          <li>2023年11月1日（水）00:00～2023年11月30日（木）23:59</li>
          <li>2023年12月1日（金）00:00～2023年12月31日（日）23:59</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        エントリー期間中に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーンへのエントリー</p>
        <p class="u-Adjust_Mt-8">エントリー期間内に本キャンペーンページでエントリー</p>
        <p>お好きな景品を選んでエントリーしてください</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」をご利用中</p>
        <p>キャンペーン開始時点（2023年11月10日（金）10:00）で「Rakuten最強プラン」をご利用中の方が対象となります</p>
        <ul class="c-Cpn_List-mark-1">
          <li>「Rakuten最強プラン（データタイプ）」は対象外です</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>キャンペーン対象となるデータ利用量を使用する</p>
        <p>キャンペーン開催月である11月1日から30日、または12月1日から31日までの各月のデータ利用量の通算で判定いたします</p>
        <ul class="c-Cpn_List-mark-1">
          <li>上記のどちらかの月において対象となるデータ利用量を超えていた場合、本キャンペーンの対象となります</li>
          <li>ご自身のデータ利用量はmy楽天モバイルの「ホーム」、または「利用状況」からご確認いただけます</li>
          <li> my 楽天モバイルで表示されるデータ利用量は概算となり、実際のデータ利用量と異なる場合があります</li>
          <li> 「Rakuten最強プラン」のデータ利用量のみ対象となり、「Rakuten最強プラン（データタイプ）」や「楽天モバイル（ドコモ回線・au回線）」でのデータ利用は対象外となります</li>
          <li>月を跨いでデータ通信を行った場合、当該通信は翌月分のデータ利用量として算定いたします。また、当月末日のデータ通信の一部は翌月分のデータ利用量として算定される場合がございます</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">抽選で554名様に以下の景品をプレゼント</p>
        <ul class="c-Cpn_List-mark-1">
          <li>当選は商品の発送・ポイントの付与をもってお知らせさせていただきます</li>
        </ul>
        <ol class="c-Cpn_List-ordered-lv2">
          <li>対象月のデータ利用量20GBを超過した方<br>
            <ul class="c-Cpn_List-mark-2">
              <li>選手直筆サイン入りボール（2名様）または選手直筆サイン入りユニフォーム（2名様）</li>
              <li>1,000ポイント（300名様）</li>
            </ul>
            <ul class="c-Cpn_List-mark-1">
              <li>選手を指定して応募することはできません</li>
            </ul>
          </li>
          <li>対象月のデータ利用料が3GBを超過した方かつ（１）に当選しなかった方<br>
            <ul class="c-Cpn_List-mark-2">
              <li>チケットホルダー（250名様）</li>
            </ul>
          </li>
        </ol>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 景品発送日</p>
        <p class="c-Txt_Emp-01">2024年3月末日ごろに発送</p>
        <ul class="c-Cpn_List-mark-1">
          <li>景品は、楽天モバイルにご登録いただいている氏名、住所に発送いたします</li>
          <li>配送先は、日本国内に限らせていただきます</li>
          <li>景品発送後のトラブルにつきましては、弊社は一切の責任を負いかねます</li>
          <li>宛先不明で返送された場合、当選は無効とさせていただきます</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">2024年3月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li>期間限定ポイントについて（<a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt-inline">https://ichiba.faq.rakuten.net/detail/000006532</a>）</li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーン開始後（2023年11月10日（金）10:00以降）に「Rakuten最強プラン」に新規に契約された回線は、本キャンペーン対象外になります</li>
        <li>エントリーした楽天IDと異なる楽天IDに紐づく回線でデータ利用をした場合</li>
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>景品の発送またはポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li>当選する景品はお1人につき１つまでです。</li>
        <li>「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li>記載の内容は2023年11月10日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
