<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1525</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ お申し込み期間</p>
      <ul class="c-Cpn_List-mark-2-normal">
        <li>Web 2022年7月1日（金）0:00～<span class="c-Txt_Emp-02">2023年8月31日（木）23:59</span></li>
        <li>店舗（楽天モバイルショップ）　2022年7月1日（金）開店～<span class="c-Txt_Emp-02">2023年8月31日（木）閉店</span></li>
      </ul>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンの終了日が記載されていますが、2023年9月1日（金）00:00以降、初めてお申し込みの方は1カ月無料となります。詳細は2023年9月1日（金）00:00から開始する新キャンペーンをご確認ください。</li>
        <li>新キャンペーンの準備状況によっては、本キャンペーン終了日の記載に関わらず延長する場合があります。</li>
        <li>2023年8月1日（火）に、キャンペーンの終了日を、終了日未定から変更しました。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">上記キャンペーン期間内に【1】及び【2】の条件を満たした楽天会員の方</p>
      <ol class="c-Cpn_List-ordered-lv1">
        <li class="c-Txt_Emp-01">「15分（標準）通話かけ放題」オプションに、はじめてのお申し込み</li>
        <li class="c-Txt_Emp-01">「Rakuten最強プラン」ご利用中、または、キャンペーン期間中に「Rakuten最強プラン」へのお申し込み＆プラン利用開始</li>
      </ol>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーン申し込み時点で「Rakuten最強プラン」の未契約者である場合は、下記(1)-(3)いずれかの方法で「お申し込み」いただく必要があります。
          <ol class="c-Cpn_List-ordered-lv2">
            <li>新規お申し込み</li>
            <li>他社からの乗り換え（MNP）でお申し込み</li>
            <li>楽天モバイル(ドコモ回線・au回線)の料金プランからプラン変更(移行)手続き後、お申し込み</li>
          </ol>
        </li>
        <li><del>本キャンペーン開始前に楽天モバイル(Rakuten UN-LIMIT VI)をご利用の場合、キャンペーン開始と同時に「Rakuten UN-LIMIT VII」プランに移行しております。</del></li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p>【プラン利用開始日とは】</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>
            <p>新規お申し込みの場合 ※（1）（2）のいずれか早い方がプラン利用開始日となります</p>
            <ol class="c-Cpn_List-ordered-lv2">
              <li>当社に配送完了データが通知された日</li>
              <li>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</li>
            </ol>
          </li>
          <li class="u-Adjust_Mt-16">
            <p>他社から乗り換え（MNP）の場合</p>
            <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
          </li>
          <li class="u-Adjust_Mt-16">
            <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
            <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
          </li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典</dt>
    <dd>
      <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
      <p class="c-Txt_Emp-01">「15分（標準）通話かけ放題」料金3カ月無料</p>
      <ul class="c-Cpn_List-mark-1">
        <li>オプション契約開始日から3カ月後の月末まで、オプション料金が無料となります。<br>
          例）2022年7月15日にオプション契約開始の場合、お申し込み3ヶ月後の10月末まで、オプション料金が無料となります。
        </li>
        <li>オプション契約開始日とは以下を指します
          <ul class="c-Cpn_List-mark-2 u-Adjust_Mt-0">
            <li>プランと同時にご契約された場合：プラン利用開始日</li>
            <li>プランお申し込み後にご契約された場合：オプション契約日</li>
          </ul>
        </li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li class="c-Txt_Emp-02">2022年5月12日（木）23:59以前に、「10分（標準）通話かけ放題」を申込みされていた場合</li>
        <li>「15分（標準）通話かけ放題」オプションの申し込みがキャンセルとなった場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合</li>
        <li>本キャンペーンの特典が適用されてから、3ヵ月間以上経過をしている場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反した場合</span></li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンの特典は、おひとり様1回線のみ。</li>
        <li class="c-Txt_Emp-02"><del>「Rakuten UN-LIMIT VI」から「Rakuten UN-LIMIT VII」へ移行された場合でも、2022年5月13日（金）以降、初めて「10分（標準）通話かけ放題」に加入した場合は、2022年7月1日（金）に「15分（標準）通話かけ放題」へ自動移行され、2022年7月1日（金）から月額料金が3カ月無料となります。</del></li>
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li>記載の内容は2023年8月1日（火）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
