<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1526</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プランのお申し込み期間</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>Web　2022年7月1日（金）0:00～2023年10月31日（火）23:59</li>
          <li>店舗（楽天モバイルショップ）　2022年7月1日（金）開店～2023年10月31日（火）閉店</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li class="c-Txt_Emp-02">2023年10月13日（金）にキャンペーン期間が変更となりました。ご了承ください。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プラン利用開始期限</p>
        <p>プランのお申し込みの翌月末日23:59まで</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■「Rakuten Link」利用期限</p>
        <p>プランのお申し込みの翌月末日23:59まで</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <ul class="c-Cpn_List-mark-1">
        <li class="c-Txt_Emp-02">特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
        <ol class="c-Cpn_List-ordered-lv2">
          <li>
            <p>新規お申し込み</p>
          </li>
          <li>
            <p>他社からの乗り換え（MNP）でお申し込み</p>
            <ul class="c-Cpn_List-mark-1 u-Adjust_Mb-8">
              <li>楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</li>
            </ul>
          </li>
          <li>
            <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</p>
          </li>
        </ol>
        <ul class="c-Cpn_List-mark-1">
          <li class="c-Txt_Emp-02">「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」利用開始</p>
        <p class="u-Adjust_Mb-8">【プラン利用開始日とは】</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>
            <p>新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</p>
            <ol class="c-Cpn_List-ordered-lv2">
              <li>当社に配送完了データが通知された日</li>
              <li>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</li>
            </ol>
          </li>
          <li class="u-Adjust_Mt-16">
            <p>他社から乗り換え（MNP）の場合</p>
            <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
          </li>
          <li class="u-Adjust_Mt-16">
            <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
            <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
          </li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>対象製品※1を利用し「Rakuten Link」のご利用</p>
        <p class="u-Adjust_Mb-8">「Rakuten最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
        <ul class="c-Cpn_List-mark-1">
          <li class="c-Txt_Emp-02">iPhoneをご購入の場合、製品到着または店頭で購入した日の翌月末日23:59までに【2】【3】の条件を満たすことでキャンペーン適用となります。</li>
          <li class="c-Txt_Emp-02">製品到着とは、当社に配送完了データが通知された日を指します。</li>
          <li class="c-Txt_Emp-02">Xperia 10 Vを2023年5月11日（木）から2023年7月上旬発売時点までに楽天モバイル回線とともに予約し、購入された方は製品到着日の翌月末日23:59までに【2】【3】の条件を満たすことでキャンペーン適用となります。</li>
        </ul>
        <div class="u-Adjust_Mt-16 ">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8">【Rakuten Link アプリご利用方法】</p>
          <p>下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
            <a target="_blank" href="/guide/rakuten-link/" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
          </p>
          <ul class="c-Cpn_List-mark-1">
            <li>通話方法：『電話をかける』の項目をご確認ください</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16 ">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8">【Rakuten Link利用履歴の確認方法】</p>
          <p>
            「キャンペーンにおけるRakuten Linkの利用について」をご確認ください<br>
            <a href="/faq/detail/00001919" class="u-Adjust_Txt-break">https://network.mobile.rakuten.co.jp/faq/detail/00001919/</a>
          </p>
          <ul class="c-Cpn_List-mark-1">
            <li>電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
          </ul>
        </div>
      </div>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-16">
        <li class="c-Txt_Emp-02">1 キャンペーン対象製品について<br>
          <p>
          【iOS版】<br>
          iOS 14.4以降（推奨）を搭載したiPhone</p>
          <p>【Android版】<br>
          Android 9以降を搭載した<a href="/product/certified-products/" class="u-Adjust_Txt-break">楽天回線対応製品</a></p></li>
        <li class="c-Txt_Emp-02">楽天回線対応のモバイルルーターで使用されるためにお申し込みいただいた場合は、「Rakuten Link」のご利用は必要ございません。</li>
        <li class="c-Txt_Emp-02">ご利用いただく製品によっては、次の機能が利用できない場合があります（接続回線の自動切替、緊急地震速報などの受信、高精度な位置情報測位など）ので、ご利用予定の製品の対応状況を<a href="/product/byod/">こちら</a>でご確認ください。</li>
        <li class="c-Txt_Emp-02">ご利用いただける機能であっても、OSやソフトウェアの更新等により、機能のご利用が制限される場合があります。</li>
        <li class="c-Txt_Emp-02">SIMロックの解除等が必要な場合があります。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">3,000ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">「Rakuten最強プラン」の利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li>例）7月にすべての条件を達成した場合には、その翌々月である9月末日ごろにポイント付与となります</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01 u-Adjust_Mb-8">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>「【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
        <li>楽天モバイルショップ、楽天モバイルオンライン、楽天モバイル公式 楽天市場店以外でお申し込みした場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合<br>
          プラン利用開始の手続き方法につきましては、<a href="/faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
        <li>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった場合</span></li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>楽天モバイル公式 楽天市場店でRakuten WiFi Pocket 2Cを楽天回線プラン（Rakuten最強プラン）セットでご注文した場合</li>
        <li>楽天モバイルショップ、楽天モバイルオンラインでRakuten Hand 5GまたはRakuten WiFi Pocket 2Cを「Rakuten最強プラン」ご契約と同時に購入した場合</li>
        <li>2023年4月14日（金）9:00より特典適用対象外を追加いたしました。</li>
        <li>「【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）」のご紹介経由でお申し込みした場合</li>
        <li>2023年8月1日（火）9:00より特典適用対象外を追加いたしました。</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」のご契約が過去にある場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li>記載の内容は2023年10月13日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
