<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1978</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ キャンペーン期間</p>
        <p>2023年9月1日（金）0:00～2023年12月26日（火）23:59</p>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ エントリー期間</p>
        <p>2023年9月1日（金）0:00～2023年12月26日（火）23:59</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <ul class="c-Cpn_List-mark-1">
        <li class="c-Txt_Emp-02">2023年8月31日23:59以前に「15分（標準）通話かけ放題」オプションを解約されている方が対象です。</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーンへのエントリー</p>
        <p>エントリー期間内に本キャンペーンページでエントリー</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>エントリー後、本キャンペーン開始以降に「15分（標準）通話かけ放題」をお申し込み</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>「Rakuten最強プラン」ご利用中、または、キャンペーン期間中に「Rakuten最強プラン」へのお申し込み＆プラン利用開始</p>
        <ul class="c-Cpn_List-mark-1">
          <li>「Rakuten最強プラン」の未契約者である場合は、下記(1)-(3)いずれかの方法で「お申し込み」いただく必要があります。</li>
        </ul>
        <ol class="c-Cpn_List-ordered-lv2">
          <li>新規お申し込み</li>
          <li>他社からの乗り換え（MNP）でお申し込み</li>
          <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
        </ol>
        <ul class="c-Cpn_List-mark-1">
          <li>「Rakuten最強プラン（データタイプ）」は対象外です</li>
        </ul>

        <p class="u-Adjust_Mb-8 u-Adjust_Mt-8">【プラン利用開始日とは】</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>
            <p>新規お申し込みの場合　　<span class="c-Txt_Cap">※（1）（2）のいずれか早い方がプラン利用開始日となります</span></p>
            <ol class="c-Cpn_List-ordered-lv2">
              <li>当社に配送完了データが通知された日</li>
              <li>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</li>
            </ol>
          </li>
          <li class="u-Adjust_Mt-16">
            <p>他社から乗り換え（MNP）の場合</p>
            <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
          </li>
          <li class="u-Adjust_Mt-16">
            <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
            <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
          </li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">15分（標準）通話かけ放題１カ月相当の1,100円分の楽天ポイントをプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">キャンペーン条件【1】～【3】が確認された月の翌々月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li>例）2023年9月にすべての条件を達成した場合には、その翌々月である2023年11月末日ごろにポイント付与となります</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <div>
          <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
          <ul class="c-Cpn_List-mark-1">
            <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt" target="_blank" rel="noopener">期間限定ポイントについて</a></li>
            <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
          </ul>
        </div>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>エントリー前に「15分（標準）通話かけ放題」をお申し込みした場合</li>
        <li>キャンペーンエントリー後に回線譲渡を行った場合</li>
        <li>本キャンペーン期間中に「15分（標準）通話かけ放題」の利用料金無料特典が適用中の場合</li>
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合
          <ul class="c-Cpn_List-mark-2">
            <li>プラン利用開始の手続き方法につきましては、こちらのSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
          </ul>
        </li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります</p>
      <ul class="c-Cpn_List-mark-2">
        <li>【15分（標準）通話かけ放題】料金1カ月無料特典（1977）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーン期間中に「15分（標準）通話かけ放題」の利用料金無料特典が付与される場合、本キャンペーンによるポイント付与特典はございません。あらかじめご了承ください</li>
        <li>本キャンペーンの特典は、おひとり様1回限り</li>
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li>「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li>記載の内容は2023年9月1日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
