<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1875</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プランのお申し込み期間</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>Web　2023年4月14日（金）09:00～終了日未定</li>
          <li>店舗（楽天モバイルショップ）　2023年4月14日（金）開店～終了日未定</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 製品のご購入期間</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>Web　2023年4月14日（金）09:00～終了日未定</li>
          <li>店舗（楽天モバイルショップ）　2023年4月14日（金）開店～終了日未定</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方
      </p>
      <ul class="c-Cpn_List-mark-1">
        <li class="c-Txt_Emp-02">おひとり様につき、Rakuten WiFi Pocket 2Cを1点までの適用となります</li>
        <li class="c-Txt_Emp-02">2023年11月24日（金）に台数制限を変更しました</li>
        <li class="c-Txt_Emp-02">ただし、2023年11月24日（金）以前にRakuten Hand 5Gを購入している場合はおひとり様につき、Rakuten Hand 5GとRakuten WiFi Pocket 2Cをそれぞれ1点までの適用となります</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
        <ul class="c-Cpn_List-ordered-lv2">
          <li>新規お申し込み</li>
          <li>他社からの乗り換え（MNP）でお申し込み
            <ul class="c-Cpn_List-mark-1">
              <li>楽天モバイル（旧FREETEL）通話SIMからの乗り換え（MNP）、DMMモバイル通話SIMからの乗り換え（MNP）の場合も含む</li>
            </ul>
          </li>
          <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li class="c-Txt_Emp-02">「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります</li>
          <li>一度に複数製品のお申し込みをされた場合、キャンペーンは1製品にしか適用されません</li>
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」お申し込みと同時に対象製品いずれかをご購入</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li><s>Rakuten Hand 5G</s></li>
          <li>Rakuten WiFi Pocket 2C</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <div>
          <p><s>Rakuten Hand 5G</s></p>
          <p><s>本体価格から19,000円割引（税込）</s></p>
        </div>
        <div class="u-Adjust_Mt-16">
          <p>Rakuten WiFi Pocket 2C</p>
          <p>本体価格から7,979円割引（税込）</p>
        </div>
        <ul class="c-Cpn_List-mark-1">
          <li>Rakuten Hand 5Gは2023年11月24日（金）9:00に販売終了しました</li>
        </ul>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">本キャンペーン適用で、お申し込み画面にて上記割引が適用された金額が表示されます</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>2023年11月24日（金）9:00以降、「Rakutenオリジナル製品 1円キャンペーン」を適用した購入で、おひとり様につきRakuten WiFi Pocket 2Cが1点を超える場合は対象外となります</li>
        <li>「Rakuten Hand 5G / Rakuten WiFi Pocket 1円キャンペーン」を適用した購入で、おひとり様あたりRakuten Hand 5GとRakuten WiFi Pocket 2Cがそれぞれ1点を超える場合は対象外となります</li>
        <li><span class="c-Txt_Emp-01">楽天モバイルショップ、楽天モバイルオンライン</span>以外で購入した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>不正利用、不正転売などの目的で本キャンペーンを適用、又はそのおそれがあると当社がみなした場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります</p>
      <ul class="c-Cpn_List-mark-2">
        <li>【15分（標準）通話かけ放題】料金3カ月無料特典（キャンペーンコード：1525）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります</p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">・本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります</p>
      <ul class="c-Cpn_List-mark-2">
        <li>iPhone 対象端末ポイントバックキャンペーン（キャンペーンコード：1819）</li>
        <li>【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）</li>
        <li>【ショップ限定】対象製品と楽天回線同時申込でさらに3,000ポイントキャンペーン（キャンペーンコード：1825）</li>
        <li>Androidスマホ割引キャンペーン（キャンペーンコード：1550）</li>
        <li>【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</li>
        <li>楽天モバイルもう1回線追加お申し込みで3,000ポイントプレゼント（キャンペーンコード：1896）</li>
        <li>【ショップ&土日祝日限定】回線のみ契約で、さらに2,000ポイントプレゼント​ (キャンペーンコード：1943)</li>
        <li>【Android対象製品限定】ガンガン！ポイント還元キャンペーン（キャンペーンコード：1980）</li>
        <li>【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼント（キャンペーンコード：2091）</li>
        <li>【Rakuten最強プランはじめてお申し込み特典】新規ご契約・プラン変更（移行）で2,000ポイントプレゼントキャンペーン（キャンペーンコード：2142）</li>
        <li>新規ご契約・プラン変更（移行）の方対象！Rakuten最強プランご契約とiPhone 対象製品ご購入でさらに2,000ポイントバックキャンペーン（キャンペーンコード：2144）</li>
        <li>Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で割引キャンペーン（キャンペーンコード：2169）</li>
        <li class="c-Txt_Emp-01">【ショップ限定】Rakuten最強プランをもう1回線お申し込みで3,000ポイント（キャンペーンコード：2227）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法上の範囲内に制限される場合があります</li>
        <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        <li>記載の内容は2024年3月27日（水）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
