<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1896</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ エントリー期間</p>
        <p>2023年4月14日（金）9:00～2023年10月31日（火）23:59</p>
        <ul class="c-Cpn_List-mark-1">
          <li class="c-Txt_Emp-02">ただし、毎月1日0:00～8:59はエントリーいただけません</li>
          <li class="c-Txt_Emp-02">2023年10月13日（金）に、キャンペーンの終了日を、終了日未定から変更しました。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プランのお申し込み期間</p>
        <p>エントリー月の末日23:59まで</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プラン利用開始期限</p>
        <p>プランのお申し込みの翌月末日23:59まで</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【Ⅰ】、【Ⅱ】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-24">
        <p class="c-Cpn_Title-lv1 c-Txt_Emp-02"><span>【Ⅰ】</span>本キャンペーンにエントリー後、「Rakuten最強プラン」利用開始</p>
        <div class="u-Adjust_Mt-16">
          <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーンへのエントリー</p>
          <p class="u-Adjust_Mt-8">エントリー期間内に本キャンペーンページでエントリー</p>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
          <ol class="c-Cpn_List-ordered-lv2">
            <li>新規お申し込み</li>
            <li>他社からの乗り換え（MNP）でお申し込み</li>
            <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
          </ol>
          <ul class="c-Cpn_List-mark-1">
            <li>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります</li>
            <li>エントリー前のお申し込みはポイント付与の対象になりません</li>
            <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
            <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Cpn_Title-lv1"><span>【3】</span>「Rakuten最強プラン」利用開始</p>
          <p class="u-Adjust_Mb-8 u-Adjust_Mt-8">【プラン利用開始日とは】</p>
          <ul class="c-Cpn_List-mark-2-normal">
            <li>
              <p>新規お申し込みの場合 ※(1)(2)のいずれか早い方がプラン利用開始日となります。</p>
              <ol class="c-Cpn_List-ordered-lv2">
                <li>当社に配送完了データが通知された日</li>
                <li>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</li>
              </ol>
            </li>
            <li class="u-Adjust_Mt-16">
              <p>他社から乗り換え（MNP）の場合</p>
              <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
            </li>
            <li class="u-Adjust_Mt-16">
              <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
              <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="u-Adjust_Mt-24">
        <p class="c-Cpn_Title-lv1 c-Txt_Emp-02"><span>【Ⅱ】</span>上記【Ⅰ】のプラン利用開始時点で、【Ⅰ】の回線を含め「Rakuten最強プラン」を2回線以上ご利用中である</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">3,000ポイントプレゼント</p>
        <ul class="u-Adjust_Mt-16">
          <li>ポイント進呈初月：1,000ポイント</li>
          <li>ポイント進呈初月の翌月：1,000ポイント</li>
          <li>ポイント進呈初月の翌々月：1,000ポイント</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">「Rakuten最強プラン」のお申し込み月の、4カ月後から6カ月後の3カ月間にわたり進呈</p>
        <ul class="c-Cpn_List-mark-1">
          <li>例）8月にお申し込みいただいた場合には、4カ月後である12月末日ごろに1回目のポイント進呈となり、2024年1月末日頃に2回目のポイント進呈、2月末日頃に3回目のポイント進呈となります</li>
          <li>2023年8月1日9:00以降のお申し込み分より付与日が変更になっております。それ以前のお申し込み分に関しては以前のルール通り「Rakuten最強プラン」の利用開始が確認された月の、翌々月から3カ月にわたり進呈させて頂きます</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt" target="_blank" rel="noopener">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合 </li>
        <li>「楽天モバイルもう1回線追加お申し込みで3,000ポイントプレゼント」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
        <li>上記キャンペーン条件の【Ⅰ】のプラン利用開始時点で、【Ⅰ】の回線を含め「Rakuten最強プラン」を2回線以上ご利用中でない場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合
          <ul class="c-Cpn_List-mark-2 u-Adjust_Mt-0">
            <li>プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
          </ul>
        </li>
        <li>エントリーした楽天IDと楽天モバイルにご登録の楽天IDが同一でない場合</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
      <ul class="c-Cpn_List-mark-2">
        <li>ダイヤモンド、プラチナ、ゴールド会員の方へ　Rakuten最強プランのお申し込みで最大3,000ポイントプレゼントキャンペーン（キャンペーンコード：1067）</li>
        <li>楽天生命販売員ご紹介特典（キャンペーンコード：1098）</li>
        <li>【常時開催】楽天カード会員様へ 楽天モバイルお申し込みでもれなく3,000ポイントプレゼント（キャンペーンコード：1234）</li>
        <li>【常時開催】楽天モバイル×楽天カード 同時申込でもれなく3,000ポイントプレゼント（キャンペーンコード：1238）</li>
        <li>【常時開催】楽天証券会員様へ 楽天モバイルお申し込みでもれなく3,000ポイントプレゼント（キャンペーンコード：1239）</li>
        <li>【常時開催】楽天銀行会員様へ 楽天モバイルお申し込みでもれなく3,000ポイントプレゼント（キャンペーンコード：1241）</li>
        <li>【常時開催】楽天モバイル×楽天銀行 同時申込でもれなく3,000ポイントプレゼント（キャンペーンコード：1242）</li>
        <li>Androidスマホ割引キャンペーン（キャンペーンコード：1550）</li>
        <li>【毎月開催】楽天サービスご利用中のお客様へ「Rakuten最強プラン」のオンラインお申し込みで3,000ポイントプレゼントキャンペーン（キャンペーンコード：1555）</li>
        <li>【毎月開催】メール読者限定　今月お誕生月のあなたに、楽天モバイル「Rakuten最強プラン」をお申し込みで3,000ポイントプレゼントキャンペーン（キャンペーンコード：1571）</li>
        <li>リワード広告キャンペーン（キャンペーンコード：1755）</li>
        <li><del>【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）</del>（※2023年8月1日9:00更新）</li>
        <li>【楽天学割メンバー限定】楽天学割春特集　楽天モバイルオンライン申し込みで2,000ポイントプレゼントキャンペーン（キャンペーンコード：1801）</li>
        <li>楽天ペイメントサービスご利用者様へ【毎月開催】楽天モバイルお申し込みでポイントプレゼント（キャンペーンコード：1815）</li>
        <li>【ショップ限定】対象製品と楽天回線同時申込でさらに3,000ポイントキャンペーン（キャンペーンコード：1825）</li>
        <li>楽天モバイル公式 楽天市場店 対象Android製品とRakuten最強プランセットご注文で6,000円OFFクーポン（キャンペーンコード：1833）</li>
        <li>楽天モバイル公式 楽天市場店 対象Apple製品とRakuten最強プランセットご注文で6,000円OFFクーポン（キャンペーンコード：1834）</li>
        <li>楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント+9倍キャンペーン（キャンペーンコード：1835/1859/1877/1881）</li>
        <li>【ショップ限定】iPhone SE（第3世代）64GBポイントバックキャンペーン（キャンペーンコード：1629）（※2023年8月1日9:00追加）</li>
        <li>【ショップ限定】iPhone 13 128GBポイントバックキャンペーン （キャンペーンコード：1903）（※2023年8月1日9:00追加）</li>
        <li>【ショップ限定】iPhone 14 128GBポイントバックキャンペーン （キャンペーンコード：1982）（※2023年8月1日9:00追加）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li>本キャンペーンの条件達成後、楽天モバイルに登録している楽天IDを変更した場合も、ポイントはエントリーいただいた楽天IDに付与されます</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        <li>記載の内容は2023年10月25日（水）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
