<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p class="u-Adjust_Mt-8">
        1592
      </p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 製品のご購入期間</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>Web　2022年7月22日（金）9:00～2023年12月22日（金）8:59</li>
          <li>店舗（楽天モバイルショップ）　2022年7月22日（金）開店～2023年12月21日（木）閉店</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>2023年11月17日（金）に終了日を未定から上記期間に変更しました。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">上記項目の期間内に以下の条件を満たした楽天会員の方</p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">
        対象製品いずれかを購入
      </p>
      <ul class="c-Cpn_List-mark-2-normal">
        <li>iPhone SE（第3世代）</li>
        <li>iPhone 13</li>
        <li><s>iPhone 13 mini</s></li>
        <li><s>iPhone 13 Pro Max</s></li>
        <li><s>iPhone 13 Pro</s></li>
        <li><s>iPhone 12</s></li>
        <li><s>iPhone 12 mini</s></li>
      </ul>
      <ul class="c-Cpn_List-mark-1">
        <li>2022年10月7日よりiPhone 12 miniは対象外となりました。</li>
        <li>2023年3月24日よりiPhone 13 Pro Max、iPhone 13 Pro、iPhone 12は対象外となりました。</li>
        <li>2023年11月24日9:00よりiPhone 13 miniは対象外となりました。</li>
        <li class="c-Txt_Emp-02">Rakuten最強プランとセット、製品単体購入どちらの場合もキャンペーン対象となります。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">キャンペーン期間中、以下価格（税込）での販売</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>iPhone SE（第3世代） 64GB 62,800円</li>
          <li>iPhone SE（第3世代） 128GB 69,800円</li>
          <li>iPhone SE（第3世代） 256GB 84,800円</li>
          <li>iPhone 13 128GB 108,900円（10月25日 8:59まで117,800円）</li>
          <li>iPhone 13 256GB 123,900円（10月25日 8:59まで132,800円）</li>
          <li>iPhone 13 512GB 153,910円（10月25日 8:59まで162,800円）</li>
          <li><s>iPhone 13 mini 128GB 93,900円（10月25日 8:59まで 99,800円）</s></li>
          <li><s>iPhone 13 mini 256GB 108,900円（10月25日 8:59まで114,800円）</s></li>
          <li><s>iPhone 13 mini 512GB 128,800円（10月25日9:00から12月12日 8:59まで138,900円）（10月25日 8:59まで144,800円）</s></li>
          <li><s>iPhone 13 Pro Max 128GB 159,800円</s></li>
          <li><s>iPhone 13 Pro Max 256GB 174,810円</s></li>
          <li><s>iPhone 13 Pro Max 512GB 204,800円</s></li>
          <li><s>iPhone 13 Pro Max 1TB 234,800円</s></li>
          <li><s>iPhone 13 Pro 128GB 144,800円</s></li>
          <li><s>iPhone 13 Pro 256GB 159,800円</s></li>
          <li><s>iPhone 13 Pro 512GB 189,800円</s></li>
          <li><s>iPhone 13 Pro 1TB 219,800円</s></li>
          <li><s>iPhone 12 64GB 93,900円（10月25日 8:59まで102,800円）</s></li>
          <li><s>iPhone 12 128GB 100,900円（10月25日 8:59まで109,800円）</s></li>
          <li><s>iPhone 12 256GB 115,900円（10月25日 8:59まで124,800円）</s></li>
          <li><s>iPhone 12 mini 64GB 87,800円</s></li>
          <li><s>iPhone 12 mini 128GB 94,800円</s></li>
          <li><s>iPhone 12 mini 256GB 109,800円</s></li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>2022年10月7日よりiPhone 12 miniは対象外となりました。</li>
          <li>2023年3月24日よりiPhone 13 Pro Max、iPhone 13 Pro、iPhone 12は対象外となりました。</li>
          <li>2023年11月24日9:00よりiPhone 13 miniは対象外となりました。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li>記載の内容は2023年11月24日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
