<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2128</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p>2023年11月24日（金）14:00～2023年11月30日（木）13:59</p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        キャンペーン期間中に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>楽天モバイルX（旧Twitter）公式アカウント（@Rakuten_Mobile）をフォロー</p>
        <p>　- キャンペーン期間中にフォロー</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>紹介リンクを生成し、X（旧Twitter）で投稿</p>
        <p>　- <a href="https://r10.to/hNC4f8" class="c-Link_Txt-inline">紹介キャンペーンページ内</a>の「Xで紹介する」からの生成内容をそのままの投稿で問題ございません</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>楽天モバイルX（旧Twitter）公式アカウント（@Rakuten_Mobile）の対象キャンペーン投稿をリポスト</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典　（楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ 特典内容</p>
        <p class="c-Txt_Emp-01">抽選で100名様に5,000ポイントプレゼント</p>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">2024年1月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>当選者には楽天モバイルX公式アカウントよりダイレクトメッセージ（DM）にて、12月末日ごろにご連絡をいたします。</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて3カ月</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt-inline" target="_blank">期間限定ポイント<span class="c-Icon_New-window-l"></span></a>について</li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>お一人様（1つの楽天会員ID）につき1回のみの応募となります。複数応募の場合、当選は無効となります</li>
        <li>紹介リンクを投稿いただくアカウントが<span class="c-Txt_Emp-01">非公開</span>の場合。</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">併用不可キャンペーンはございません</p>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>2023年12月31日時点で楽天モバイルX公式アカウント（@Rakuten_Mobile）のフォローをしていない方は対象外となります</li>
        <li>取得した個人情報は、本キャンペーンにおける楽天ポイント付与のために用いるものとし、キャンペーン終了後に破棄いたします。また、個人情報の取扱いに当たっては、当社の個人情報保護方針に従います</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li>楽天モバイルの契約有無は問いません</li>
        <li>記載の内容は2023年11月24日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>