<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2060</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">■ エントリー期間</span><br>
        2023年12月1日（金）10:00～2023年12月26日（火）23:59　（先着1万名に到達次第、受付終了となります）
      </p>
      <p><span class="c-Txt_Emp-01">■ データ利用期間</span><br>
        2023年12月1日（金）0:00～2023年12月31日（日）23:59
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーンへのエントリー</p>
        <p>エントリー期間内に本キャンペーンページでエントリー</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>本キャンペーンの開始時点で「Rakuten最強プラン」ご利用中</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーン開始後（2023年12月1日（金） 10:00以降）に[Rakuten最強プラン]を契約された回線は、本キャンペーン対象外になります</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>データ利用期間中にテザリングを利用する</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【4】</span>データ利用期間中に3GB（テザリング利用量を含む）を超過するデータ利用を行う</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>my 楽天モバイルで表示されるデータ利用量は概算となり、実際のデータ利用量と異なる場合があります</li>
          <li>月を跨いでデータ通信を行った場合、当該通信は翌月分のデータ利用量として算定いたします。また、当月末日のデータ通信の一部は翌月分のデータ利用量として算定される場合がございます</li>
          <li>リチャージ分（1GBあたり500円でのデータチャージ）はキャンペーン対象となるデータ利用に加算されません</li>
          <li>「Rakuten最強プラン」のデータ利用量のみ対象となり、楽天モバイル（ドコモ回線・au回線）でのデータ利用は対象外となります</li>
          <li>おひとり様1回限りとなります</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ 特典内容</p>
        <p class="u-Adjust_Mt-8">200ポイントプレゼント</p>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■ ポイント付与日</p>
        <p class="u-Adjust_Mt-8">2024年2月末日ごろに付与予定</p>
        <ul class="c-Cpn_List-mark-1">
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■ ポイント有効期間</p>
        <p class="u-Adjust_Mt-8">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーン開始後（2023年12月1日（金） 10:00以降）に新規に契約された回線の場合</li>
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>本キャンペーンの達成者への連絡は、ポイント付与をもって代えさせて頂きます。</li>
        <li>本キャンペーンにエントリーされた場合は、テザリング利用情報の取得・利用に同意することと見なします。</li>
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li>記載の内容は2023年12月1日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
