<dl class="c-Dl_Origin">
  <div class="u-Adjust_Mt-24">
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1960</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 製品のご購入期間</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>Web　2023年7月6日（木）9:00～2023年9月29日（金）18:00</li>
          <li>店舗（楽天モバイルショップ）　2023年7月6日（木）開店～2023年9月29日（金）閉店</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>対象製品「Xperia 10 V」については、以下の期間にご予約購入された方もキャンペーン適用対象です
            <ul class="c-Cpn_List-mark-2">
              <li>Web　2023年5月11日（木）14:00～2023年7月6日（木）8:59</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ご購入製品の受け取り期限</p>
        <p>2023年10月31日（火）23:59まで</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ スマホ下取りサービスのお申し込み期間</p>
        <p>2023年7月6日（木）9:00～2023年9月29日（金）18:00</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ スマホ下取りサービスの成約期限</p>
        <p>2023年10月31日（火）23:59まで</p>
        <ul class="c-Cpn_List-mark-1">
          <li>成約とは、査定が完了したタイミングを指します。査定が完了いたしましたら、査定完了メールにてお知らせいたします。</li>
          <li>製品の新規購入とスマホ下取りサービスのお申し込みの順序は問いません。ただし、対象製品購入のお申し込みも「スマホ下取りサービス」のお申し込みも9月29日までに完了する必要があります。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方</p>
      <ul class="c-Cpn_List-mark-1">
        <li class="c-Txt_Emp-02">【1】と【2】の順序は問いません。ただし、【1】と【2】はキャンペーン期間内に完了する必要があります</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>Android対象製品を新規購入</p>
        <p>製品のご購入期間中に楽天モバイルオンライン(Web)、もしくは楽天モバイルショップで以下いずれかを購入(楽天モバイル公式 楽天市場店は対象外)</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">対象製品</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>Xperia 5 IV</li>
          <li>Xperia 10 V</li>
          <li>AQUOS sense7</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>「Rakuten最強プラン」とセット、製品単体購入どちらの場合もキャンペーン対象となります</li>
          <li>キャンペーン期間外のご購入は特典適用の対象外となります</li>
          <li>購入申し込みを中止、もしくはキャンセルした場合は特典適用の対象外となります</li>
          <li>製品が受け取り期限内にお手元に届いた時点で、【1】の条件達成となります</li>
          <li>回線と同時購入をされた場合には、回線の利用が確認されるまで購入が完了していないとみなされるためご注意ください</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「スマホ下取りサービス」の利用</p>
        <ol class="c-Cpn_List-ordered-lv2">
          <li>
            <p>「<a href="<%= sitepath %>service/tradein/">スマホ下取りサービス</a>」ページにて、すでにお持ちのスマートフォンを下取りに出す</p>
            <p class="c-Txt_Emp-01 u-Adjust_Mt-8">下取り対象製品</p>
            <p class="c-Txt_Emp-01">「スマホ下取りサービス」で取り扱っているすべてのAndroid、iPhone製品</p>
            <ul class="c-Cpn_List-mark-1">
              <li class="c-Txt_Emp-02">iPad、Apple Watchの下取りお申し込みは本キャンペーンの対象外となります</li>
              <li>日本国内にて楽天モバイル以外でご購入された製品でも、下取り対象製品であればお申し込み可能です</li>
              <li>本サービスは18歳以上のお客様のみご利用いただけます</li>
            </ul>
          </li>
          <li>
            <p>14日以内にお持ちの製品を発送する</p>
            <ul class="c-Cpn_List-mark-1">
              <li>「<a href="<%= sitepath %>assets/pdf/service/tradein/tradein_application_flow.pdf?230414">お申し込みの流れ</a>」に従って、手続きを進めてください</li>
            </ul>
          </li>
          <li>
            <p>「スマホ下取りサービス」の査定完了メールを確認する</p>
            <ul class="c-Cpn_List-mark-1">
              <li>「スマホ下取りサービス」が成約期限内に完了した時点で、【2】の条件達成となります</li>
              <li>「スマホ下取りサービス」のお申し込み状況は「スマホ下取りサービス」ページの「手続き状況」にてご確認いただけます</li>
              <li>製品実査定は弊社に製品到着後、7日程度かかります</li>
              <li>査定後、製品の状態により下取り価格が変更になる場合がございます。査定結果に変更がある場合でも、お申し込み後にキャンセルを行うことはできません</li>
              <li>査定後の価格が0円と判断された場合、本キャンペーンの対象外となります（ご送付いただいた製品は返送いたします）</li>
            </ul>
          </li>
        </ol>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <ul>
          <li class="c-Txt_Emp-01">Xperia 5 IVの新規購入＆下取りの成立で5,000ポイントプレゼント</li>
          <li class="c-Txt_Emp-01">Xperia 10 Vの新規購入＆下取りの成立で3,000ポイントプレゼント</li>
          <li class="c-Txt_Emp-01">AQUOS sense7の新規購入＆下取りの成立で3,000ポイントプレゼント</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>同月内で、上記対象製品を2台以上購入してキャンペーン条件を達成した場合は、特典ポイントの多い製品を対象といたします</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">キャンペーン条件達成の翌々月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li>例）7月にキャンペーン条件を達成した場合には、その翌々月である9月末日ごろにポイント付与となります</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>指定期間内に、キャンペーン条件を満たさなかった場合</li>
        <li class="c-Txt_Emp-02">18歳未満のお客様の場合（「スマホ下取りサービス」のお申し込みは、18歳以上のお客様が対象です ）</li>
        <li>対象製品購入時の楽天IDと「スマホ下取りサービス」申込時の楽天IDが異なる場合<br> ( お申し込み後、ポイント付与が行われるまでに楽天IDを変更された場合は対象外となります )</li>
        <li class="c-Txt_Emp-02">「対象Android製品購入&下取りで最大5,000ポイント還元！！キャンペーン」の適用回数が、キャンペーン期間中おひとり様につき1回を超える場合</li>
        <li>「スマホ下取りサービス」にて申し込んだ製品が状態により査定後の価格が0円と判断された場合（ご送付いただいた製品は返送いたします）</li>
        <li>楽天モバイル公式 楽天市場店でご購入した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは、併用不可となります。以下記載のキャンペーン以外は併用可能となります。</p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">・本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります。</p>
      <ul class="c-Cpn_List-mark-2">
        <li>楽天モバイル買い替え超トクプログラムを利用してiPhone購入&iPhone下取りで5,000ポイント還元！（キャンペーンコード：1899）</li>
        <li>iPhone購入＆対象のiPhone下取りで、5,000ポイント還元キャンペーン（キャンペーンコード：2004）</li>
      </ul>
      <ul class="c-Cpn_List-mark-1">
        <li>同月内に上記キャンペーンと本キャンペーンを条件達成した場合、上記キャンペーンが優先して適用され、本キャンペーンは対象外となります</li>
        <li>過去に上記キャンペーンを適用した場合、本キャンペーンは対象外となります</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li>記載の内容は2023年9月1日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
