<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2087</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">■ エントリー期間</span><br>
        2023年12月1日（金）00:00～2024年1月31日（水）23:59
      </p>
      <p><span class="c-Txt_Emp-01">■ キャンペーン期間</span><br>
        2023年12月1日（金）00:00～2024年1月31日（水）23:59
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーンへのエントリー</p>
        <p>エントリー期間内に本キャンペーンページでエントリー</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>キャンペーン期間中に、 楽天モバイル「Rakuten最強プラン」をご利用の回線でGoogle Play ストアで有料のアプリやサービスなどの料金を、はじめて楽天モバイルキャリア決済でお支払い</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>楽天回線対応のAndroid製品をご利用の方のみ対象となります。</li>
          <li>「Rakuten最強プラン（データタイプ）」は対象外です</li>
          <li>【1】のエントリーが先であれば、【2】の達成は、エントリー同月内でなくても構いません。</li>
          <li>【2】を達成をした月内であれば、【1】のエントリーの順序は問いません。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典（楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">はじめて楽天モバイルキャリア決済を利用した月のGoogle Play ストアでお支払いされた金額（税込）の8%分の楽天ポイントをもれなくプレゼント</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>ポイント付与は、お一人様毎月最大16,000ポイントを上限とさせていただきます。</li>
          <li>楽天回線対応のAndroid製品をご利用の方のみ対象となります。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">2024年3月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>楽天モバイルキャリア決済でのお支払いをキャンセルされた場合</li>
        <li>月の購入金額が13円に満たない場合</li>
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>デジタルコンテンツのご購入ごとにクレジットカードまたはデビットカードで決済処理を実施いたします。ご利用日に対する引き落とし時期は、ご利用のカード会社またはデビットカード発行会社の規定に準じます。</li>
        <li>利用設定を「無効」にしている状態では、Google Play ストアで本サービスをご利用いただくことはできません。ご利用の際は、「my 楽天モバイル」にてご利用設定を「有効」にしてください。初期設定時には「有効」に設定されています。</li>
        <li>楽天モバイルキャリア決済でのお支払い分は、楽天モバイルが毎月のご利用料金に対して付与するポイントの対象外です。</li>
        <li>楽天モバイルキャリア決済サービスは、楽天回線対応のAndroid製品をご利用の方のみを対象としております。</li>
        <li>本キャンペーンの特典は、キャンペーン期間中のキャリア決済額の合計ではなく、キャリア決済の初決済月の月間決済額に対して、付与いたします。</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li>記載の内容は2023年12月1日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
