<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2152</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 料金シミュレーションのご回答期間</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>2023年12月19日（火）09:00～2024年1月19日（金）08:59</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン適用条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方
      </p>
      <ul class="c-Cpn_List-mark-1">
        <li>特典は、おひとり様1度のみ。下記手順に沿ってご対応ください。</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>『お知らせ』をお受取り</p>
        <ul class="c-Cpn_List-mark-1">
          <li>本企画の『お知らせ』を受け取っていない方は対象外となります。（他の方から転送された『お知らせ』については、進呈対象外となります。）</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>本ページよりキャンペーン期間中に料金シミュレーションの結果をご確認</p>
        <ul class="c-Cpn_List-mark-1">
          <li>料金シミュレーションの結果を確認するには楽天会員ログインが必要です。「シミュ―レーション結果を見る」をタップすると、自動でログイン画面に遷移します。</li>
          <li>過去に「Rakuten最強プラン」にご契約された方は対象外です。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p>100ポイントプレゼント（先着10万名様限定）</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p>2024年2月末ごろ</p>
        <ul class="c-Cpn_List-mark-1">
          <li>条件達成後、ポイントの進呈まで期間があります。</li>
          <li>条件達成順の先着キャンペーンとなります。1月19日（金）8:59までに上限である10万名に達した場合は、特典対象外となりますのであらかじめご了承ください。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p>ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li>期間限定ポイントについて（<a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt">https://ichiba.faq.rakuten.net/detail/000006532</a>）</li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合。</li>
        <li>『お知らせ』を受け取られた方の楽天IDと、料金シミュレーションを回答された方の楽天IDが同一でない場合。</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合。</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
        <li>権利の譲渡はできません。</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合があります。</li>
        <li>記載の内容は2023年12月19日（火）時点の情報となります。</li>
      </ul>
    </dd>
  </div>
</dl>
