<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1993</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap u-Adjust_Mt-8">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■エントリー期間</p>
      <p>2023年8月10日（木）9:00～2023年12月28日（木）23:59</p>
      <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-16">■被紹介者ログイン期間</p>
      <p>2023年8月10日（木）9:00～2023年12月28日（木）23:59</p>
      <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-16">■プランのお申込み期間</p>
      <ul class="c-Cpn_List-mark-2-normal">
        <li>Web　2023年8月10日（木）9:00～ 2023年12月28日（木）23:59</li>
        <li>店舗（楽天モバイルショップ）　2023年8月10日（木）開店～ 2023年12月28日（木）閉店</li>
      </ul>
      <p class="c-Txt_Emp-01 u-Adjust_Mb-8 u-Adjust_Mt-16">■プラン利用開始期限</p>
      <p>プランをお申込みした日の翌々月末日または2024年2月29日（木）23:59のいずれか早い時点まで</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">
        <li>2023年12月13日（水）にキャンペーン期間の変更を行いました</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方
      </p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap u-Adjust_Mt-8">
        <li>下記手順に沿ってご対応ください</li>
      </ul>
      <div class="u-Adjust_Mt-24">
        <p class="c-Txt_Emp-01">＜紹介する方（ご紹介者様）＞</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">【1】キャンペーンへのエントリー</p>
        <p>エントリー期間内に本キャンペーンページでエントリー</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>キャンペーンページ内エントリーボタンよりご契約者様の楽天IDを入力しアンケートへ入り、ご自身、もしくはご家族様が所属されている会社名を選択し、事業所名、従業員様氏名を入力し、エントリー完了</li>
          <li>エントリ―にはご契約者様の楽天IDが必要です</li>
          <li>ご自身とご家族がそれぞれご契約する場合は、楽天IDが異なれば、同じ従業員様氏名で複数アンケート回答いただいた場合でもキャンペーン適用対象になります</li>
          <li>エントリーとお申し込みが確認できなかった場合、キャンペーンの適用対象外となります</li>
        </ul>
        <div class="u-Adjust_Mt-8">
          <p class="c-Txt_Emp-01">【2】キャンペーン紹介URLの送信</p>
          <p>上記キャンペーン期間中に、本キャンペーンページからLINE/X/Viber/メール/SMS・その他でキャンペーン紹介URLを送信</p>
          <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
            <li>紹介する方（ご紹介者様）がRakuten最強プランご契約者様であることが条件です</li>
            <li>紹介された方（被紹介者様）が複数の方から紹介を受けた場合、最も早く紹介ログインがあった紹介者様のURLが特典対象となります</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-24">
          <p class="c-Txt_Emp-01">＜紹介された方（被紹介者様）＞</p>
          <p class="c-Txt_Emp-01">【3】受信したキャンペーン紹介URLに記載のURL（メールは「キャンペーンに参加する＞リンク」）をクリックして楽天IDで紹介ログイン</p>
          <p>　LINE/X/Viber/メール/SMS・その他から紹介ログイン後、キャンペーンページに遷移します</p>
          <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
            <li>紹介ログイン後に店舗（楽天モバイルショップ）にてお申し込みをする方も対象となります</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01">【4】Webか店舗（楽天モバイルショップ）で「Rakuten最強プラン」へお申し込み</p>
          <p class="c-Txt_Emp-01">【Webでお申し込みの場合】本キャンペーンページの「お申し込みはこちら」ボタンより「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
          <p class="c-Txt_Emp-01">【店舗でお申し込みの場合】店舗でのお申し込み手続き開始時に、店舗のお申し込み画面にてお客様自身で本キャンペーンのクーポンコード「JPRFRL00000002」を入力後、下記（1）～（3）いずれかの方法にてお申し込み</p>
          <ol>
            <li>　（1）新規お申し込み</li>
            <li>　（2）他社からの乗り換え（MNP）でお申し込み</li>
            <li>　（3）楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み
              <ul class="c-Txt_Cap">
                <li>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります</li>
                <li>「Rakuten最強プラン（データタイプ）」は対象外です</li>
                <li class="c-Txt_Emp-02">　※ 「Rakuten最強プラン（データタイプ）」から「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
                <li>下記に当てはまる方はメンバーズステーション経由のプラン変更（移行）をご検討ください</li>
                <li>
                  　・オプションサービスを引き継ぎたい場合<br>
                  　　本ページからお申し込みした際、オプションサービスはすべて解約となります
                </li>
              </ul>
            </li>
          </ol>
          <p class="u-Adjust_Mt-16">【お申し込み時の注意事項】</p>
          <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
            <li>キャンペーン特典の適用は、本ページの「お申し込みはこちら」ボタンからのお手続きが必要となります</li>
            <li>お手続き中に時間超過等でセッションが切れた場合、再度本ページの「お申し込みはこちら」ボタンよりお手続きが必要になります</li>
            <li>楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合は、キャンペーン特典の適用はございません。メンテナンスの終了後に改めてお申し込みください</li>
            <li>楽天モバイル(ドコモ回線・au回線)をお使いのお客様が、メンバーズステーションより、プラン変更（移行）した場合、キャンペーンの適用はございません</li>
            <li>お手続き完了前に、「受け取りとお支払い方法」ページのお申し込み内容にて、クーポンコードが表示されることを必ずご確認ください</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01">【5】「Rakuten最強プラン」利用開始</p>
          <p>　【プラン利用開始日とは】</p>
          <ul class="c-Cpn_List-mark-2-normal">
            <li>新規お申し込みの場合　　<span class="c-Txt_Cap">※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
            　（1）当社に配送完了データが通知された日<br>
            　（2）プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
            </li>
            <li>他社から乗り換え（MNP）の場合<br>
              プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
            </li>
            <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
              プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
            </li>
          </ul>
        </div>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <div>
          <p class="c-Txt_Emp-01">＜紹介する方（ご紹介者様）＞</p>
          <p class="c-Txt_Emp-01">10,000ポイント</p>
          <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
            <li>紹介された方（被紹介者様）がキャンペーン条件を満たした場合、1名につき上記の10,000ポイントを進呈します</li>
            <li>紹介された方（被紹介者様）が「Rakuten最強プラン（データタイプ）」をお申し込みいただいた場合は特典適用対象外となります</li>
            <li>紹介する方（ご紹介者様）の特典の上限はありません</li>
            <li>1カ月に利用できるポイントは、ダイヤモンド会員の方は500,000ポイントまで、それ以外の会員の方は100,000ポイントまでとなります。ポイントがご利用いただけないまま失効する事がありますので、あらかじめご了承ください</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01">＜紹介された方（被紹介者様）＞</p>
          <p class="c-Txt_Emp-01">10,000ポイント</p>
          <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
            <li>適用回線数は、おひとり様1回線までとなります</li>
            <li>「Rakuten最強プラン（データタイプ）」をお申し込みいただいた場合は特典適用対象外となります</li>
            <li>ご契約が1回線目でなくても本キャンペーンの適用が初めての場合は対象となります　例）2回線目の方、再契約する方</li>
          </ul>
        </div>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント進呈日</p>
        <p class="c-Txt_Emp-01">＜紹介する方（ご紹介者様）＞</p>
        <p>
          紹介された方（被紹介者様）がプラン利用開始した月の、翌々月に進呈
        </p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>例）紹介された方（被紹介者様）のプラン利用開始が7月に確認できた場合には、その2カ月後である9月末日ごろにポイント進呈となります</li>
        </ul>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01">＜紹介された方（被紹介者様）＞</p>
          <p>
            紹介された方（被紹介者様）がプラン利用開始した月の翌々月に進呈
          </p>
          <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
            <li>例）紹介された方（被紹介者様）のプラン利用開始が8月に確認できた場合には、その2か月後である10月末日ごろにポイント進呈となります</li>
          </ul>
        </div>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <div>
          <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
          <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
            　<li><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt" target="_blank" rel="noopener">期間限定ポイントについて</a></li>
            　<li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
          </ul>
        </div>
      </div>
    </dd>
  </div>
  <div>
    <dt class="">特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <div>
        <p class="c-Txt_Emp-01">■キャンペーン期間・条件による場合</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>紹介する方（ご紹介者様）と紹介された方（被紹介者様）が同一人物の場合</li>
          <li>紹介された方（被紹介者様）がRakuten最強プランをお申し込み後に紹介ログインした場合</li>
          <li>紹介された方（被紹介者様）が「Rakuten最強プラン」の利用開始がなかった場合<br>
            -プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/" class="c-Link_Txt">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください
          </li>
          <li>紹介された方（被紹介者様）から契約者変更（譲渡・承継）を受けた場合</li>
          <li>紹介された方（被紹介者様）が、本ページの「お申し込みはこちら」ボタン以外からお申し込みされた場合</li>
          <li>紹介された方（被紹介者様）が、本ページの「お申し込みはこちら」ボタンよりお手続き中に時間超過等でセッションが切れた場合</li>
          <li>紹介された方（被紹介者様）が、楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合</li>
          <li>紹介された方（被紹介者様）が楽天モバイル(ドコモ回線・au回線)をお使いのお客様で、メンバーズステーション経由でプラン変更（移行）した場合</li>
          <li>紹介された方（被紹介者様）がお申し込み途中で、他のお申し込みボタンからお申し込みを開始したり、ブラウザ、スマートフォンやパソコンを変えるなどして「受け取りとお支払い方法」ページのお申し込み内容で、クーポンコードが表示されていない場合<br>
            クーポンコードは、キャンペーンページの「クーポンコード」に記載の14桁の英数字です
          </li>
          <li>紹介された方（被紹介者様）がお申し込み途中で、クーポンを解除した場合</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■法令制限による場合</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>特典総額が景品表示法・電気通信事業法の範囲内に制限される場合</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>紹介された方（被紹介者様）が「Rakuten最強プラン」お申し込みと同時にWi-Fiルーターをご購入する場合</li>
          <li>紹介された方（被紹介者様）が楽天モバイルオンライン、楽天モバイルショップで「Rakuten最強プラン」お申し込みと同時にRakuten Hand 5Gをご購入する場合</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■未納・未払い・キャンセル・退会による場合</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>紹介する方（ご紹介者様）または紹介された方（被紹介者様）が当社の提供するサービス等の料金のお支払いを、お支払い期限までに行わず、未納・未払いが発生した場合</li>
          <li>ポイント進呈までに楽天会員から退会している場合</li>
          <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■弊社規定・判断基準による場合</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>紹介する方（ご紹介者様）がメッセージ送信した際に利用した楽天IDと楽天モバイルにご登録の楽天IDが同一でない場合</li>
          <li>紹介された方（被紹介者様）が紹介ログインした楽天IDと楽天モバイルにご登録の楽天IDが同一でない場合</li>
          <li>当社または楽天グループ株式会社が定める規約等に違反した場合</li>
          <li>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
          <li>不正利用であると運営側が判断した場合</li>
          <li class="c-Txt_Emp-02">紹介された方（被紹介者様）がRakuten最強プラン（データタイプ）をお申し込みした場合</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        本キャンペーン条件を満たした場合、紹介された方は他のキャンペーンは併用ができません
      </p>
      <p class="c-Txt_Emp-01">
        紹介された方（被紹介者様）が本キャンペーン条件を満たす前、または満たした後に、以下のキャンペーンの条件を満たした場合には、以下のキャンペーンのみが優先的に適用となります
      </p>
      <ul class="c-Cpn_List-mark-2-normal c-Txt_Cap u-Adjust_Mt-16">
        <li>【ショップ限定】iPhone SE（第3世代）64GBポイントバックキャンペーン（キャンペーンコード：1629）</li>
        <li><del>【ショップ限定】iPhone 13 128GBポイントバックキャンペーン（キャンペーンコード：1903）</del></li>
        <li><del>【ショップ限定】iPhone 14 128GBポイントバックキャンペーン（キャンペーンコード：1982）</del></li>
      </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>2023年8月31日（木）ショップ閉店をもって上記（キャンペーンコード：1903, 1982）は終了しました</li>
        </ul>
      <ul class="c-Cpn_List-mark-2-normal c-Txt_Cap u-Adjust_Mt-8">
        <li>Rakuten Hand 5G / Rakuten WiFi Pocket 1円キャンペーン（キャンペーンコード：1875）</li>
        <li>Androidスマホ/Wi-Fiルーター割引キャンペーン （キャンペーンコード：1550）</li>
      </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>紹介された方（被紹介者様）がAndroid製品を同時に購入される場合、本キャンペーンの特典10,000ポイントから「Androidスマホ割引キャンペーン（1550）」の特典を差し引いた楽天ポイントを翌々月末日頃に進呈します。特典の詳細は<a href="<%= sitepath %>campaign/start-point/" class="c-Link_Txt">キャンペーンページ</a>をご確認ください</li>
        <li>以下機種については「Androidスマホ割引キャンペーン（1550）」のキャンペーンページに記載の特典が進呈されます<br>
          　　- OPPO A55s 5G<br>
          　　- Xpeia 10 IV
        </li>
        </ul>
      <ul class="c-Cpn_List-mark-2-normal c-Txt_Cap u-Adjust_Mt-8">
        <li>【日本郵政グループ従業員様・ご家族様限定】Rakuten最強プランのお申し込みで、20,000ポイントプレゼントキャンペーン（キャンペーンコード：1992）</li>
      </ul>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
      <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
      <li>紹介する方（ご紹介者様）に併用不可キャンペーンはありません</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt class="">注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>権利の譲渡はできません</li>
        <li>楽天ポイントの進呈は、楽天モバイルより行います</li>
        <li>お申し込み後、利用の実態がないと判断できる場合等を含めて、不正と運営側が判断した場合には、ポイント進呈の対象外とさせて頂く場合があります</li>
        <li>不正の内容によっては、今後楽天ポイント進呈の停止をさせて頂く場合があります</li>
        <li>ポイント進呈後に不正と判断した場合には、当該ポイントの無効化、口座の凍結もしくは当該ポイント相当分を何らかの手段にてご請求等をする場合があります</li>
        <li>ポイントを進呈後はポイント口座の当該ポイントを利用停止する場合があります</li>
        <li>進呈ポイントを既に利用済みの場合、当該ポイント分の金額を楽天モバイルに登録している決済手段により引き落としする場合があります</li>
        <li>混んキャンペーンの対象者以外への転送等の不正利用、不正転売等の違反が見つかった場合、キャンペーンを終了する場合があります</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li>紹介する方（ご紹介者様）から紹介された方（被紹介者様）の個人情報（契約状況等）をお問い合わせいただいてもお答えできませんのでご了承ください</li>
        <li>「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        <li>記載の内容は2023年12月28日（木）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
