<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2045</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ エントリー期間</p>
        <p>2023年9月15日（金）開店～2023年12月14日（木）閉店</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 製品のご購入期間</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>店舗（楽天モバイルショップ） 2023年9月15日（金）開店～2023年12月14日（木）閉店</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        エントリー期間中に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>広島県福山市内に住所があり、1959年（昭和34年）4月1日以前に生まれた方</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>キャンペーンへのエントリー</p>
        <ul class="c-Cpn_List-mark-1">
          <li>エントリー期間内に「楽天モバイルゆめタウン福山店」にてご本人確認後、エントリー用ページをご案内します。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>「楽天モバイルゆめタウン福山店」でスマートフォンをご購入</p>
        <ul class="c-Cpn_List-mark-1">
          <li>アクセサリ、ポケットWi-Fiなどスマートフォン以外の商品は対象外</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">最大10,000ポイントプレゼント</p>
        <ul class="c-Cpn_List-mark-1">
          <li>楽天モバイルが実施する製品キャンペーン（値引き、ポイント付与等）に加え、製品代金の実質支払い額相当のポイントを最大10,000ポイント還元いたします。</li>
          <li>製品代金の実質価格が10,000円未満の機種の場合、実質価格相当のポイント付与になります。（例：実質価格8,000円の場合、8,000ポイント付与）</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">製品ご購入月の翌々月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li>例）9月にすべての条件を達成した場合には、その翌々月である11月末日ごろにポイント付与となります</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">通常ポイント</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>広島県福山市内に住所のない方</li>
        <li>1959年（昭和34年）4月2日以降に生まれた方</li>
        <li>楽天モバイルが指定する本人確認書類にて、生年月日、ならびに住所が確認できない場合</li>
        <li>「福山市高齢者デジタル支援事業」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
        <li>「楽天モバイルゆめタウン福山店」以外で購入した場合</li>
        <li>キャンペーンエントリーと製品購入時とで異なる楽天会員IDを利用した場合</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li>記載の内容は2023年9月15日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>