<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1819</p>
      <ul class="c-Txt_Cap u-Adjust_Mt-8">
        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
        　- Web　2023年2月15日(水)07:00～終了日未定<br>
        　- 店舗（楽天モバイルショップ）　2023年2月15日（水）開店～終了日未定<br>
      </p>
      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
        　- Web　2023年2月15日(水)07:00～終了日未定<br>
        　- 店舗（楽天モバイルショップ）　2023年2月15日（水）開店～終了日未定
      </p>
      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
        　　製品到着または店頭で購入した日の翌月末日23:59まで
      </p>
      <p class="u-Adjust_Mt-16"><span class="c-Txt_Emp-01">■「Rakuten Link」利用期限</span><br>
        　　製品到着または店頭で購入した日の翌月末日23:59まで
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方
      </p>
      <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">※ 特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります。</p>
      <div class="u-Adjust_Mt-16">
        <span class="c-Txt_Emp-01">【1】「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</span><br>
        <ul class="c-List_Note u-Adjust_Mt-8">
          <li><span>(1)</span>新規お申し込み</li>
          <li><span>(2)</span>他社からの乗り換え（MNP）でお申し込み</li>
          <li><span>(3)</span>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
        </ul>
        <ul class="c-Txt_Cap u-Adjust_Mt-8">
          <li>※「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
          <li class="c-Txt_Emp-02">※「Rakuten最強プラン（データタイプ）」は対象外です</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">【2】「Rakuten最強プラン」お申し込みと同時に対象製品いずれかをご購入　</p>
        <p class="u-Adjust_Mt-8">
          　- iPhone 14 Pro Max<br>
          　- iPhone 14 Pro<br>
          　- iPhone 14 Plus<br>
          　- iPhone 14<br>
          　- iPhone SE（第3世代）<br>
          　- iPhone 13<br>
          　- iPhone 13 mini<br>
          　<s>- iPhone 13 Pro Max</s><br>
          　<s>- iPhone 13 Pro</s><br>
          　<s>- iPhone 12</s>
        </p>
        <p class="c-Txt_Cap">　※2023年3月24日よりiPhone 13 Pro Max、iPhone 13 Pro、iPhone 12は対象外となりました。</p>
        <p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8">　※在庫が少ない製品もございます。あらかじめご了承ください。<br>
          　※製品の購入がRakuten最強プランお申し込みと同時の場合のみキャンペーン適用となります。</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">【3】製品到着※または店頭で購入した日の翌月末日23:59までに「Rakuten最強プラン」の利用開始</p>
        <p class="u-Adjust_Mt-8 c-Txt_Cap">※当社に配送完了データが通知された日</p>
        <p class="u-Adjust_Mt-16">【プラン利用開始日とは】</p>
        　　- 新規お申し込みの場合　　※（1）（2）のいずれか早い方がプラン利用開始日となります<br>
        　　　（1）当社に配送完了データが通知された日<br>
        　　　（2）プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日<br>
        　　- 他社から乗り換え（MNP）の場合<br>
        　　　プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日<br>
        　　- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合<br>
        　　　プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日
        <p class="c-Txt_Emp-01">【4】製品到着※または店頭で購入した日の翌月末日23:59までに「Rakuten Link」のご利用</p>
        <p class="c-Txt_Cap">※当社に配送完了データが通知された日</p>
        「Rakuten最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話<br>
        <span class="c-Txt_Emp-01">【Rakuten Link アプリご利用方法】</span><br>
        　　下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
        <a
          href="https://network.mobile.rakuten.co.jp/guide/rakuten-link/">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a><br>
        　　- 通話方法：『電話をかける』の項目をご確認ください
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】</p>
        　　下記URLの「キャンペーンにおけるRakuten Linkの利用について」をご確認ください<br>
        <a
          href="https://network.mobile.rakuten.co.jp/faq/detail/00001919/">https://network.mobile.rakuten.co.jp/faq/detail/00001919/</a><br>
        <p class="c-Txt_Cap">　※　電話の発信時、（0570）（0180）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">6,000ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">「Rakuten最強プラン」のプラン利用開始および「Rakuten Link」の利用が確認された月の翌々月末日ごろに付与</p>
        <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）2月にすべての条件を達成した場合には、その翌々月である4月末日ごろにポイント付与となります</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="u-Adjust_Mt-8">
          <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a>
          </li>
          <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="u-Adjust_Mt-16">
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>「Rakuten最強プラン」のプラン利用開始がされなかった場合<br>
          -プラン利用開始の手続き方法につきましては、<a
            href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください
        </li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」を利用されなかった</span>場合</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
        <li class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8"><span>※</span>「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8"><span>※</span>「Rakuten最強プラン（データタイプ）」のご契約が過去にある場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
      <p class="u-Adjust_Mt-16 c-Txt_Cap">
        　- iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1383）<br>
        　- 【15分（標準）通話かけ放題】料金3カ月無料特典（キャンペーンコード：1525）<br>
        　- 【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼントキャンペーン（キャンペーンコード：1526）<br>
        　- 【ショップ限定】iPhone SE（第3世代）64GBポイントバックキャンペーン（キャンペーンコード：1629）<br>
        　- iPhone新規購入&下取りで、10,000ポイント還元！！キャンペーン（キャンペーンコード：1743）<br>
        　- 【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）<br>
        　- 【ショップ限定】対象製品と楽天回線同時申込でさらに3,000ポイントキャンペーン（キャンペーンコード：1825）<br>
        　- 【ショップ限定】iPhone 13 128GBポイントバックキャンペーン （キャンペーンコード：1903）<br>
        　- 【ショップ限定】iPhone 14 128GBポイントバックキャンペーン （キャンペーンコード：1982）<br>
        　<span
          class="c-Txt_Cap">※【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）と【ショップ限定】対象製品と楽天回線同時申込でさらに3,000ポイントキャンペーン（キャンペーンコード：1825）のどちらかが適用されます</span>
      </p>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります</p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">・以下のキャンペーン特典が適用となっている場合、本キャンペーンは対象外になります。</p>
      <p class="c-Txt_Cap">- Androidスマホ/Wi-Fiルーター割引キャンペーン​ (キャンペーンコード：1550)</p>
      <p class="c-Txt_Cap">- Rakuten Hand 5G/Rakuten WiFi Pocket 1円キャンペーン（キャンペーンコード：1875）</p>
      <p class="c-Txt_Emp-01 u-Adjust_Mt-8">・本キャンペーン特典が適用となっている場合、以下キャンペーンは対象外になります。</p>
      <p class="c-Txt_Cap">- 【ショップ&土日祝日限定】回線のみ契約で、さらに2,000ポイントプレゼント​ (キャンペーンコード：1943)</p>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8">
          <span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-8"><span>※</span>「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>記載の内容は2023年8月1日（火）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
