<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1680</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ キャンペーン期間</p>
      <p>2023年5月16日（火）9:00～終了日未定</p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方</p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>「Rakuten最強プラン」ご利用中である。</p>
        <p>本キャンペーン開始時点で「Rakuten最強プラン」の未契約者のかたは、以下(ⅰ)(ⅱ)にて対象となります。</p>
        <div class="u-Adjust_Mt-16">
          <p><span>(ⅰ)</span>「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
          <ol class="c-Cpn_List-ordered-lv2">
            <li>新規お申し込み</li>
            <li>他社からの乗り換え（MNP）でお申し込み</li>
            <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
          </ol>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="u-Adjust_Mt-16">(ⅱ)「Rakuten最強プラン」利用開始</p>
          <p class="u-Adjust_Mt-8">【プラン利用開始日とは】</p>
          <ul class="c-Cpn_List-mark-2-normal">
            <li>
              <p>新規お申し込みの場合</p>
              <ul class="c-Cpn_List-mark-1">
                <li>（1）（2）のいずれか早い方がプラン利用開始日となります</li>
              </ul>
              <ol class="c-Cpn_List-ordered-lv2">
                <li>楽天モバイル株式会社に配送完了データが通知された日</li>
                <li>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</li>
              </ol>
            </li>
            <li class="u-Adjust_Mt-16">
              <p>他社から乗り換え（MNP）の場合</p>
              <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
            </li>
            <li class="u-Adjust_Mt-16">
              <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
              <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>YouTube Premiumのお申し込み</p>
        <p>my 楽天モバイルで対象クーポンを利用し、その案内に従ってYouTube Premiumにお申し込みください。</p>
        <p class="u-Adjust_Mt-8">
          現在および過去に以下サービスを定期購入や無料期間のお試しを行っていない方のみが特典の対象となります。<br>
          ・YouTube Premium<br>
          ・YouTube Music Premium<br>
          ・YouTube Red<br>
          ・Google Play Music<br>
          キャンペーン終了日から1カ月後までに、特典の利用を開始してください。
          利用開始時に有効なお支払い方法をご登録いただく必要がありますが、無料期間が終了するまで料金が請求されることはありません。
        </p>
        <p class="u-Adjust_Mt-8">
          無料期間が終了すると、通常の定期購入料金（月額1,280円 2023年12月20日時点）が自動的に課金されます。
          終了する前であれば、いつでも無料でキャンセルできます。<br>
          特典の利用には Google アカウントが必要です。<br>
          利用規約の全文は<a href="https://www.youtube.com/t/premium_restrictions" target="_blank" class="c-Link_Txt-inline">こちら<span class="c-Icon_New-window-l"></span></a>からご確認ください。
        </p>
        <p>主催者：Google Ireland Limited at Gordon House, Barrow Street, Dublin 4, Ireland</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典</dt>
    <dd>
      <p>「YouTube Premium」の月額利用料が3カ月間無料</p>
      <ul class="c-Cpn_List-mark-1">
        <li>例）2023年6月1日に「YouTube Premium」のお申し込みを完了した場合、お申し込み完了直後から3カ月後の2023年8月31日まで無料でご利用いただけます</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>YouTube Premium、YouTube Music Premium、YouTube Red、Google Play Music のうち、いずれかの定期購入や無料お試しを行ったことがある場合</li>
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合<br>
        -プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/" class="c-Link_Txt">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
        <li>ポイント付与までに楽天会員から退会している場合</li>
        <li>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
        <li>そのほか、当社が会員として不適格であると判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンは、Google Asia Pacific Pte. Limitedが実施しています</li>
        <li>特典の利用にはGoogleアカウントが必要です</li>
        <li>YouTube Premium に関する他のキャンペーンとの併用はできません</li>
        <li>本利用規約は随時Googleの裁量に基づき変更することができます</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li>記載の内容は2023年6月1日（木）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
