<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1825</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プランのお申し込み期間</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>店舗（楽天モバイルショップ）　2023年2月15日（水）7:00～2023年8月20日（日）閉店</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>2023年8月1日（火）に終了日を変更（追記）しました</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 製品のご購入期間</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>店舗（楽天モバイルショップ）　2023年2月15日（水）7:00～2023年8月20日（日）閉店</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>2023年8月1日（火）に終了日を変更（追記）しました</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プラン利用開始期限</p>
        <p>製品を受け取った日の翌々月末日23:59まで</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■「Rakuten Link」利用期限</p>
        <p>製品を受け取った日の翌々月末日23:59まで</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">上記各項目の期間内に【1】、【2】、【3】、【4】の条件をすべて満たした楽天会員の方</p>
      <ul class="c-Cpn_List-mark-1">
        <li class="c-Txt_Emp-02">特典はおひとり様1度のみ。</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
        <ol class="c-Cpn_List-ordered-lv2">
          <li>新規お申し込み</li>
          <li>他社からの乗り換え（MNP）でお申し込み</li>
          <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
        </ol>
        <ul class="c-Cpn_List-mark-1">
          <li>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
          <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」お申し込み日と同時に対象製品いずれかをご購入</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li><s>AQUOS wish</s></li>
          <li>AQUOS wish3</li>
          <li>AQUOS sense7</li>
          <li>AQUOS sense6s</li>
          <li><s>AQUOS sense6</s></li>
          <li><s>AQUOS zero6</s></li>
          <li>Xperia 10 V</li>
          <li><s>Xperia 10 IV</s></li>
          <li>Xperia 5 IV</li>
          <li>OPPO A55s 5G</li>
          <li><s>OPPO Reno5 A</s></li>
          <li>OPPO Reno7 A</li>
          <li>OPPO Reno9 A</li>
          <li>Redmi Note 11​ Pro 5G​</li>
          <li>Galaxy Z Flip 4</li>
          <li>Galaxy A23 5G</li>
          <li>Galaxy S23</li>
          <li>iPhone 14 Pro Max</li>
          <li>iPhone 14 Pro</li>
          <li>iPhone 14 Plus</li>
          <li>iPhone 14</li>
          <li>iPhone SE（第3世代）</li>
          <li>iPhone 13</li>
          <li>iPhone 13 mini</li>
          <li><s>iPhone 13 Pro Max</s></li>
          <li><s>iPhone 13 Pro</s></li>
          <li><s>iPhone 12</s></li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>2023年3月24日にiPhone 12、iPhone 13 Pro、iPhone 13 Pro Maxを削除しました。</li>
          <li>2023年4月20日にGalaxy S23を追加しました。</li>
          <li>2023年5月16日にAQUOS sense6、OPPO Reno5 Aを削除しました。</li>
          <li>2023年6月9日にAQUOS wish、AQUOS zero6を削除しました。</li>
          <li>2023年6月22日にOPPO Reno9 Aを追加しました。</li>
          <li>2023年7月4日にXperia 10 IVとOPPO A55s 5Gを削除しました。</li>
          <li>2023年7月6日にAQUOS Wish3、Xperia 10 Vを追加しました。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>製品を受け取った日の翌々月末日23:59までに「Rakuten最強プラン」利用開始</p>
        <p class="u-Adjust_Mb-8 u-Adjust_Mt-8">【プラン利用開始日とは】</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>
            <p>新規お申し込みの場合 <span>※(1)(2)のいずれか早い方がプラン利用開始日となります。</span></p>
            <ol class="c-Cpn_List-ordered-lv2">
              <li>当社に配送完了データが通知された日</li>
              <li>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</li>
            </ol>
          </li>
          <li class="u-Adjust_Mt-16">
            <p>他社から乗り換え（MNP）の場合</p>
            <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
          </li>
          <li class="u-Adjust_Mt-16">
            <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
            <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
          </li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【4】</span>製品を受け取った日の翌々月末日23:59までに「Rakuten Link」のご利用</p>
        <p class="u-Adjust_Mt-8">「Rakuten最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8">【Rakuten Link アプリご利用方法】</p>
          <p>下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
            <a href="<%= sitepath %>guide/rakuten-link/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a>
          </p>
          <ul class="c-Cpn_List-mark-2-normal">
            <li>通話方法：『電話をかける』の項目をご確認ください</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8">【Rakuten Link利用履歴の確認方法】</p>
          <p>
            「<a href="<%= sitepath %>faq/detail/00001919/" class="c-Link_Txt">キャンペーンにおけるRakuten Linkの利用について</a>」をご確認ください
          </p>
          <ul class="c-Cpn_List-mark-1">
            <li>電話の発信時、（0570）（0180）などの他社接続サービス、#ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
          </ul>
        </div>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">3,000ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">
          「Rakuten最強プラン」のお申し込みの4カ月後の末日ごろに付与
        </p>
        <ul class="c-Cpn_List-mark-1">
          <li>例）2月にお申し込み後、すべてのキャンペーン条件を期限内に達成した場合には、お申込みの4カ月後である6月末日ごろにポイント付与となります</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>キャンペーンの適用回数が、おひとり様1回を超える場合は対象外となります</li>
        <li>「Rakuten最強プラン」お申し込みと同時にWi-Fiルーターをご購入の場合</li>
        <li>「Rakuten最強プラン」お申し込みと同時にRakuten Hand 5Gをご購入の場合</li>
        <li>同一回線で併用不可キャンペーンに参加された場合、ポイント付与対象にはなりませんのでご了承ください</li>
        <li>楽天モバイルショップ以外で購入した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合
          <ul class="c-Cpn_List-mark-2 u-Adjust_Mt-0">
            <li>プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
          </ul>
        </li>
        <li>期限までに<span class="c-Txt_Emp-01">「Rakuten Link」の利用条件を満たさなかった</span>場合</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
      <ul class="c-Cpn_List-mark-2">
        <li>Androidスマホ割引キャンペーン （キャンペーンコード：1550）</li>
        <li>【15分（標準）通話かけ放題】料金3カ月無料特典（キャンペーンコード：1525）</li>
        <li>【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</li>
        <li>【ショップ限定】対象製品購入でさらにポイント還元キャンペーン（キャンペーンコード：1584）</li>
        <li>iPhone 対象端末ポイントバックキャンペーン（キャンペーンコード：1819）</li>
        <li>iPhoneアップグレードプログラム適用で5,000ポイント還元キャンペーン（キャンペーンコード：1383）</li>
        <li>iPhone新規購入&下取りで、10,000ポイント還元！！キャンペーン（キャンペーンコード：1743）</li>
        <li>【ショップ限定】春限定！対象製品購入でさらにポイント還元キャンペーン（キャンペーンコード：1849）</li>
        <li>楽天モバイルもう1回線追加お申し込みで3,000ポイントプレゼント（キャンペーンコード：1896）</li>
        <li>【ショップ限定】iPhone対象機種 10,000ポイント還元キャンペーン（キャンペーンコード：1888）</li>
        <li>Android新製品ご購入キャンペーン（キャンペーンコード：1921）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります。</p>
        <ul class="c-Cpn_List-mark-2">
          <li>【ショップ&土日祝日限定】回線のみ契約で、さらに2,000ポイントプレゼント（キャンペーンコード：1943）</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">本キャンペーン条件を満たす前、または満たした後に、以下のキャンペーンの条件を満たした場合には、以下のキャンペーンが優先的に適用されます。</p>
        <ul class="c-Cpn_List-mark-2">
          <li>【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）</li>
          <li>楽天モバイル公式 楽天市場店 対象Apple製品と楽天回線セットご注文で16,000円OFFクーポン（キャンペーンコード：1545）</li>
          <li>楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で16,000円OFFクーポン（キャンペーンコード：1547）</li>
          <li>【ショップ限定】iPhone SE（第3世代）64GBポイントバックキャンペーン（キャンペーンコード：1629）</li>
          <li>Rakuten Hand 5G / Rakuten WiFi Pocket 1円キャンペーン（キャンペーンコード：1875）</li>
          <li>【ショップ限定】iPhone 13 128GBポイントバックキャンペーン （キャンペーンコード：1903）</li>
          <li>【ショップ限定】iPhone 14 128GBポイントバックキャンペーン （キャンペーンコード：1982）</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li>記載の内容は2023年8月1日（火）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
