<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2008</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap u-Adjust_Mt-8">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■エントリー期間</p>
      <p>
        2023年8月10日（木）9:00～2023年12月28日（木）23:59
      </p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap u-Adjust_Mt-8">
        <li>キャンペーン期間内にキャンペーン条件を満たしたお客様へのポイント付与期間は、2024年9月30日（土）までとなります</li>
        <li class="c-Txt_Emp-02">2023年12月13日（水）にキャンペーン期間の変更を行いました</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>対象者</dt>
    <dd>
      日本郵政グループ従業員様・ご家族様かつ、楽天モバイル「Rakuten最強プラン」のご契約者様
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">【1】キャンペーンへのエントリー</p>
        <p class="u-Adjust_Mt-16">
          エントリー期間内に本キャンペーンページでエントリー
        </p>
        <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-8 c-Txt_Cap">
          <li>キャンペーンページ内エントリーボタンよりご契約者様の楽天IDを入力しアンケートへ入り、<br>
          ご自身、もしくはご家族様が所属されている会社名を選択し、事業所名、従業員様氏名​を入力し、エントリー完了</li>
          <li>エントリ―にはご契約者様の楽天IDが必要です</li>
          <li>ご自身とご家族がそれぞれご契約する場合は、楽天IDが異なれば、同じ従業員様氏名で複数アンケート回答いただいた場合でもキャンペーン適用対象になります</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">【2】本キャンペーンのエントリー後の月末時点で、「Rakuten最強プラン」をご利用していること</p>
        <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-8 c-Txt_Cap">
          <li>本キャンペーン開始後に楽天モバイルRakuten最強プランに新規に契約された回線は、開通した当月より適用されます</li>
          <li>エントリーの翌月以降は、翌月以降の月末時点での「Rakuten最強プラン」のご利用状況により、特典が適用されます</li>
          <li>特典の対象は、おひとり様1回線のみとなります</li>
          <li>楽天モバイルを解約して再契約いただいた場合、本キャンペーンに再エントリ―いただき、月末時点で「Rakuten最強プラン」のご利用が確認できましたら当月より適用されます</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <div>
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
          <p class="c-Txt_Emp-01">500ポイントプレゼント</p>
        </div>

        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
          <p class="c-Txt_Emp-01">エントリー及び「Rakuten最強プラン」のご利用が確認された月の、毎月翌々月末日ごろに付与</p>
          <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-8 c-Txt_Cap">
            <li>例）8月にエントリー及び「Rakuten最強プラン」のご利用を確認できた場合には、その翌々月である10月末日ごろにポイント付与となります</li>
            <li>楽天ポイントの付与は、楽天モバイルより行います</li>
            <li>権利の譲渡はできません</li>
            <li>ポイント付与期間は、2024年9月30日（土）までとなります</li>
          </ul>
        </div>

        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
          <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
          <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-8 c-Txt_Cap">
            <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt" target="_blank" rel="noopener">期間限定ポイントについて</a></li>
            <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
          </ul>
        </div>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-16 c-Txt_Cap">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>「(仮)【日本郵政グループ従業員様・ご家族様で、楽天モバイル契約者様限定】毎月500ポイントバックキャンペーンキャンペーン」の適用回数が、おひとり様1契約1回を超える場合は対象外となります</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li>記載の内容は2023年12月28日（木）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
