<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2150</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ エントリー期間</p>
        <ul>
          <li>2023年12月11日（月）0:00～2024年1月31日（水）9:59</li>
        </ul>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16">■ プランのお申し込み期間</p>
        <p class="c-Txt_Cap">※Rakuten最強プランご利用中でない場合</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>
            <span class="c-Txt_Emp-01">Web</span><br>2023年12月16日（土）0:00～2024年1月31日（水）9:59
          </li>
          <li>
            <span class="c-Txt_Emp-01">店舗（楽天モバイルショップ）</span><br>2023年12月16日（土）開店～2024年1月30日（火）閉店
          </li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■ プラン利用開始期限</p>
        <p>2024年1月31日（水）23:59まで</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        キャンペーン期間内に【1】【2】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーンへのエントリー</p>
        <ul>
          <li>エントリー期間内に本ページでエントリー</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」プランご利用中または利用開始</p>
        <ul class="u-Adjust_Mt-8">
          <li>本キャンペーン開始時点で「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」の未契約者である場合は、2024年1月31日（水）23:59までに、以下(ⅰ)(ⅱ)を満たすことで対象となります。</li>
          <p class="c-Cpn_Title-lv1 u-Adjust_Mt-8"><span>(ⅰ)</span>「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
          <ol class="c-Cpn_List-ordered-lv2">
            <li>新規お申し込み</li>
            <li>他社からの乗り換え（MNP）でお申し込み</li>
            <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
          </ol>
        </ul>
        <ul class="u-Adjust_Mt-16">
          <p class="c-Cpn_Title-lv1"><span>(ⅱ)</span>「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」利用開始</p>
          <p class="u-Adjust_Mb-8 u-Adjust_Mt-8">【プラン利用開始日とは】</p>
          <ul class="c-Cpn_List-mark-2-normal">
            <li>
              <p>新規お申し込みの場合<span class="c-Txt_Cap">※（1）（2）のいずれか早い方がプラン利用開始日となります</span></p>
              <ol class="c-Cpn_List-ordered-lv2">
                <li>当社に配送完了データが通知された日</li>
                <li>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</li>
              </ol>
            </li>
            <li class="u-Adjust_Mt-8">
              <p>他社から乗り換え（MNP）の場合</p>
              <p>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
            </li>
            <li class="u-Adjust_Mt-8">
              <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
              <p>プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
            </li>
          </ul>
          <li class="u-Adjust_Mt-16">
            （i）（ii）を以下対象ショップにおいて満たすことで対象になります
          </li>
        </ul>
        <ul class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01">対象ショップ</p>
          <ul class="u-Adjust_Mt-8">
            <li class="u-Adjust_Pl-8">
              アダストリアみとアリーナ楽天モバイル出張ブース
            </li>
            <li class="u-Adjust_Mt-8 u-Adjust_Pl-8">
              <a href="https://network.mobile.rakuten.co.jp/shop-detail/6031/?l-id=mi_rmb_web_20231215_ibarakirobots_shop1">楽天モバイル イオンモールつくば店</a>
            </li>
            <li class="u-Adjust_Mt-8 u-Adjust_Pl-8">
              <a href="https://network.mobile.rakuten.co.jp/shop-detail/6841/?l-id=mi_rmb_web_20231215_ibarakirobots_shop2">楽天モバイル イオンモール土浦店</a>
            </li>
            <li class="u-Adjust_Mt-8 u-Adjust_Pl-8">
              <a href="https://network.mobile.rakuten.co.jp/shop-detail/7933/?l-id=mi_rmb_web_20231215_ibarakirobots_shop3">楽天モバイル イオンタウン守谷店</a>
            </li>
            <li class="u-Adjust_Mt-8 u-Adjust_Pl-8">
              <a href="https://network.mobile.rakuten.co.jp/shop-detail/8214/?l-id=mi_rmb_web_20231215_ibarakirobots_shop4">楽天モバイル ファッションクルーズひたちなか店</a>
            </li>
            <li class="u-Adjust_Mt-8 u-Adjust_Pl-8">
              <a href="https://network.mobile.rakuten.co.jp/shop-detail/8335/?l-id=mi_rmb_web_20231215_ibarakirobots_shop5">楽天モバイル イオンモール水戸内原店</a>
            </li>
            <li class="u-Adjust_Mt-8 u-Adjust_Pl-8">
              <a href="https://onboarding.mobile.rakuten.co.jp/?l-id=mi_rmb_web_20231215_ibarakirobots_shop6">楽天モバイルWebサイト</a>
            </li>
          </ul>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>ドコモ回線・au回線用プランのスーパーホーダイ、組み合わせプラン、コミコミプランは、本キャンペーンの対象外となります</li>
          <li>旧FREETEL SIM、DMM mobile SIMは本キャンペーンの対象外となります</li>
          <li>本キャンペーン開始前に、「Rakuten最強プラン」「Rakuten最強プラン（データタイプ）」をお申し込みされた方は、エントリー期間内のプラン利用開始が必要です</li>
          <li>店頭でのお申し込みは、2023年1月30日（火）閉店までが期限となります</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">条件達成された方の中から抽選で15名様に以下の賞品をプレゼント</p>
        <ul class="u-Adjust_Mt-8">
          <p class="c-Txt_Emp-01">S賞</p>
          <li class="c-Txt_Emp-01">・オーセンティックユニフォームユニフォーム（2名様）</li>
        </ul>
        <ul class="u-Adjust_Mt-8">
          <p class="c-Txt_Emp-01">A賞</p>
          <li class="c-Txt_Emp-01">・23-24 選手ナンバーTシャツ（5名様）</li>
          <li class="c-Txt_Emp-01">・茨城ロボッツオリジナルバスケットボール（5号球）（1名様）</li>
        </ul>
        <ul class="u-Adjust_Mt-8">
          <p class="c-Txt_Emp-01">B賞</p>
          <li class="c-Txt_Emp-01">・ロボスケぬいぐるみSサイズ（1名様）</li>
          <li class="c-Txt_Emp-01">・アガロー！スローガンマフラータオル（1名様）</li>
          <li class="c-Txt_Emp-01">・選手ネームタオル（3名様）</li>
          <li class="c-Txt_Emp-01">・茨城ロボッツゴルフマーカー（1名様）</li>
          <li class="c-Txt_Emp-01">・ミニバスケットゴール（1名様）</li>
        </ul>
        <p class="c-Txt_Cap">※賞品・選手・カラーを指定して応募することはできません</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>賞品発送日</dt>
    <dd>
      <p class="c-Txt_Emp-01">2024年4月末日ごろに発送</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>当選者された方にはエントリー時のメールアドレス宛てにご連絡いたします</li>
        <li>賞品は、エントリー時の氏名、ご住所宛てに発送いたします</li>
        <li>配送先は、日本国内に限らせていただきます</li>
        <li>賞品発送後のトラブルにつきましては、弊社は一切の責任を負いかねます</li>
        <li>宛先不明で返送された場合、当選は無効とさせていただきます</li>
        <li>権利の譲渡はできません</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <div class="u-Adjust_Mt-16">
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
          <li>期間中に契約者変更（譲渡・承継）を受けた場合</li>
          <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
          <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
          <li>そのほか、当社が<span class="c-Txt_Emp-01">会員として不適格である</span>と合理的に判断した場合</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典進呈の対象外となる場合がございます</li>
        <li>当選する景品はおひとり様につき１つまでです</li>
        <li>記載の内容は2023年12月11日（月）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
