<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2004</p>
      <ul class="c-Txt_Cap u-Adjust_Mt-8">
        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ 製品のご購入期間</p>
        <ul class="c-Cpn_List-mark-2-normal u-Adjust_Ml-16">
          <li>Web　2023年9月1日（金）9:00～2023年12月22日（金）8:59</li>
          <li>店舗（楽天モバイルショップ）　2023年9月1日（金）開店～2023年12月21日（木）閉店</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>上記期間中にご購入を完了させる必要があります。</li>
          <li>例）12月21日以前に来店予約をし、12月22日以降に店頭でご購入された方は対象外となります。</li>
          <li>2023年11月17日（金）に終了日を未定から変更しました。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■ ご購入製品の受け取り期限</p>
        <p>対象製品ご購入申し込み後～翌々月末日23:59まで</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■ 「スマホ下取りサービス」のお申し込み期間</p>
        <p>対象製品ご購入申し込み後～翌々月末日23:59まで</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■ 「スマホ下取りサービス」の成約期限</p>
        <p>対象製品ご購入申し込み後～3カ月後の末日23:59まで</p>
        <ul class="c-Cpn_List-mark-1">
          <li>成約とは、査定が完了したタイミングを指します。査定が完了いたしましたら、査定完了メールにてお知らせいたします</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】の条件をすべて満たした楽天会員の方
      </p>
      <ul class="c-Cpn_List-mark-1">
        <li class="c-Txt_Emp-02">【1】のお申し込みの後に【2】を完了する必要があります。ただし、【1】と【2】が同月内であれば、お申し込みの順序は問いません。</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>iPhoneの対象製品を新規購入</p>
        <p>製品のご購入期間中に楽天モバイルオンライン(Web)、もしくは楽天モバイルショップで以下いずれかを購入(楽天モバイル公式 楽天市場店は対象外)</p>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8">対象製品</p>
          <ul class="c-Cpn_List-mark-2-normal">
            <li>iPhone 15 Pro Max</li>
            <li>iPhone 15 Pro</li>
            <li>iPhone 15 Plus</li>
            <li>iPhone 15</li>
            <li>iPhone 14 Pro Max</li>
            <li>iPhone 14 Pro</li>
            <li>iPhone 14 Plus</li>
            <li>iPhone 14</li>
            <li>iPhone 13</li>
            <li>iPhone SE (第3世代)</li>
            <li><del>iPhone 13 mini</del></li>
          </ul>
        </div>
        <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-16">
          <li>2023年9月15日よりiPhone 15 Pro Max、iPhone 15 Pro、iPhone 15 Plus、iPhone 15を追加しました。</li>
          <li>2023年11月24日9:00よりiPhone 13 miniは対象外となりました。</li>
          <li>「Rakuten最強プラン」とセット、製品単体購入どちらの場合もキャンペーン対象となります</li>
          <li>キャンペーン期間外のご購入は特典適用の対象外となります</li>
          <li>購入申し込みを中止、もしくはキャンセルした場合は特典適用の対象外となります</li>
          <li>製品が受け取り期限内にお手元に届いた時点で、【1】の条件達成となります</li>
          <li>回線と同時購入をされた場合には、回線の利用が確認されるまで購入が完了していないとみなされるためご注意ください</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「スマホ下取りサービス」の利用</p>
        <ol class="c-Cpn_List-ordered-lv2">
          <li>
            <p>「<a href="https://network.mobile.rakuten.co.jp/service/tradein/">スマホ下取りサービス</a>」ページにて、すでにお持ちのスマートフォンを下取りに出す</p>
            <div class="u-Adjust_Mt-16">
              <p class="c-Txt_Emp-01">下取り対象製品</p>
              <ol class="c-Cpn_List-mark-2-normal">
                <li>iPhone 7 / iPhone 7 Plus</li>
                <li>iPhone 8 / iPhone 8 Plus</li>
                <li>iPhone X</li>
              </ol>
            </div>
            <ul class="c-Cpn_List-mark-1">
              <li>日本国内にて楽天モバイル以外でご購入された製品でも、下取り対象製品であればお申し込み可能です</li>
              <li>本サービスは18歳以上のお客様のみご利用いただけます</li>
            </ul>
          </li>
          <li class="u-Adjust_Mt-16">
            <p>14日以内にお持ちの製品を発送する</p>
            <ul class="c-Cpn_List-mark-1">
              <li>「<a href="<%= sitepath %>assets/pdf/service/tradein/tradein_application_flow.pdf?231004">お申し込み手順書</a>」に従って、手続きを進めてください</li>
            </ul>
          </li>
          <li class="u-Adjust_Mt-16">
            <p>「スマホ下取りサービス」の査定完了メールを確認する</p>
            <ul class="c-Cpn_List-mark-1">
              <li>「スマホ下取りサービス」が成約期限内に完了した時点で、【2】の条件達成となります</li>
              <li>「スマホ下取りサービス」のお申し込み状況は「スマホ下取りサービス」ページの「手続き状況」にてご確認いただけます</li>
              <li>製品実査定は弊社に製品到着後、7日程度かかります</li>
              <li>査定後、製品の状態により下取り価格が変更になる場合がございます。査定結果に変更がある場合でも、お申し込み後にキャンセルを行うことはできません</li>
              <li>査定後の価格が0円と判断された場合、本キャンペーンの対象外となります（ご送付いただいた製品は返送いたします）</li>
            </ul>
          </li>
        </ol>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">5,000ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">キャンペーン条件達成の翌々月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li>例）9月にキャンペーン条件を達成した場合には、その翌々月である11月末日ごろにポイント付与となります</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>指定期間内にキャンペーン条件を満たさなかった場合</li>
        <li>18歳未満のお客様の場合（「スマホ下取りサービス」のお申し込みは、18歳以上のお客様が対象です ）</li>
        <li>対象製品購入時の楽天IDと「スマホ下取りサービス」申込時の楽天IDが異なる場合 <br> ( お申し込み後、ポイント付与が行われるまでに楽天IDを変更された場合は対象外となります )</li>
        <li>「iPhone購入＆対象のiPhone下取りで、5,000ポイント還元キャンペーン」の適用回数が、キャンペーン期間中おひとり様につき1回を超える場合</li>
        <li>「スマホ下取りサービス」にて申し込んだ製品が状態により査定後の価格が0円と判断された場合（ご送付いただいた製品は返送いたします）</li>
        <li>「楽天モバイル買い替え超トクプログラム」を25カ月以上ご利用し、新しい製品に機種変更する場合</li>
        <li>楽天モバイル公式 楽天市場店でご購入した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
        <li>ポイント付与までに楽天会員から退会している場合</li>
        <li>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
        <li>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります。以下記載のキャンペーン以外は併用可能となります。</p>
      <p class="c-Txt_Emp-01">・本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります</p>
      <ul class="c-Cpn_List-mark-2">
        <li>【ショップ限定】iPhone SE（第3世代）64GB 実質1円キャンペーン（キャンペーンコード：1629）</li>
        <li>対象Android製品購入&下取りで最大5,000ポイント還元！！キャンペーン（キャンペーンコード：1960）</li>
      </ul>
      <ul class="c-Cpn_List-mark-1">
        <li>過去に上記キャンペーンを適用した場合、本キャンペーンは対象外となります</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li>記載の内容は2023年11月24日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
