<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1784</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プランのお申し込み期間</p>
        <p>2023年2月15日（水）7:00～終了日未定</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ プランお申し込み、プラン利用開始、「Rakuten Link」利用期限</p>
        <p>紹介された方（被紹介者様）が受信したメッセージに記載のURL（メールは「キャンペーンに参加する＞リンク」）をクリックして楽天IDでログイン（以下、「紹介ログイン」といいます）した日の翌々月末日23:59まで</p>
      </div>
    </dd>
  </div>
  <div>
    <dt id="campaign-rule-table">キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に【1】、【2】、【3】、【4】、【5】の条件をすべて満たした楽天会員の方
      </p>
      <ul class="c-Cpn_List-mark-1">
        <li>下記手順に沿ってご対応ください</li>
      </ul>
      <div class="u-Adjust_Mt-24">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">＜紹介する方（ご紹介者様）＞</p>
        <div>
          <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーン紹介URLの送信</p>
          <p>上記キャンペーン期間中に、本キャンペーンページからLINE/X/Viber/メール/Rakuten Link/SMS・その他でキャンペーン紹介URLを送信</p>
          <ul class="c-Cpn_List-mark-1">
            <li class="c-Txt_Emp-02">紹介する方（ご紹介者様）が「Rakuten最強プラン」もしくは「Rakuten最強プラン（データタイプ）」のご契約者様であることが条件です</li>
            <li>紹介された方（被紹介者様）が複数の方から紹介を受けた場合、最も早く紹介ログインがあった紹介者のURLが特典対象となります</li>
          </ul>
        </div>
      </div>
      <div class="u-Adjust_Mt-24">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">＜紹介された方（被紹介者様）＞</p>
        <div>
          <p class="c-Cpn_Title-lv1"><span>【2】</span>受信したキャンペーン紹介URLに記載のURL（メールは「キャンペーンに参加する＞リンク」）をクリックして楽天IDで紹介ログイン</p>
          <p>LINE/X/Viber/メール/Rakuten Link/SMS・その他から紹介ログイン後、キャンペーンページに遷移します</p>
          <ul class="c-Cpn_List-mark-1">
            <li>紹介ログイン後に店舗（楽天モバイルショップ）にてお申し込みをする方も対象となります</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Cpn_Title-lv1"><span>【3】</span>「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
          <ul class="c-Cpn_List-mark-1">
            <li class="c-Txt_Emp-02">特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります（2023年9月22日（金）8:00以降のRakuten最強プランお申し込み分より変更）</li>
          </ul>
          <ol class="c-Cpn_List-ordered-lv2">
            <li>新規お申し込み</li>
            <li>他社からの乗り換え（MNP）でお申し込み</li>
            <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
          </ol>
          <ul class="c-Cpn_List-mark-1">
            <li>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります</li>
            <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
            <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Cpn_Title-lv1"><span>【4】</span>「Rakuten最強プラン」利用開始</p>
          <p class="u-Adjust_Mb-8 u-Adjust_Mt-8">【プラン利用開始日とは】</p>
          <ul class="c-Cpn_List-mark-2-normal">
            <li>
              <p>新規お申し込みの場合　　<span class="c-Txt_Cap">※（1）（2）のいずれか早い方がプラン利用開始日となります</span></p>
              <ol class="c-Cpn_List-ordered-lv2">
                <li>当社に配送完了データが通知された日</li>
                <li>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</li>
              </ol>
            </li>
            <li class="u-Adjust_Mt-16">
              <p>他社から乗り換え（MNP）の場合</p>
              <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
            </li>
            <li class="u-Adjust_Mt-16">
              <p>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</p>
              <p>プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
            </li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Cpn_Title-lv1"><span>【5】</span>「Rakuten Link」のご利用</p>
          <p>「Rakuten最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
          <div class="u-Adjust_Mt-16">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8">【Rakuten Link アプリご利用方法】</p>
            <p>
              下記URLの「Rakuten Linkのご利用方法」をご確認ください<br>
              <a href="<%= sitepath %>guide/rakuten-link/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a>
            </p>
            <ul class="c-Cpn_List-mark-2-normal">
              <li>通話方法：『電話をかける』の項目をご確認ください</li>
            </ul>
          </div>
          <div class="u-Adjust_Mt-16">
            <p class="c-Txt_Emp-01 u-Adjust_Mb-8">【Rakuten Link利用履歴の確認方法】</p>
            <p>
              「キャンペーンにおけるRakuten Linkの利用について」をご確認ください<br>
              <a href="<%= sitepath %>faq/detail/00001919/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/faq/detail/00001919/</a>
            </p>
          </div>
          <ul class="c-Cpn_List-mark-1">
            <li>電話の発信時、（0570）などの他社接続サービス、#ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
          </ul>
        </div>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <div>
          <p class="c-Txt_Emp-01">＜紹介する方（ご紹介者様）＞</p>
          <p class="c-Txt_Emp-01">7,000ポイント</p>
          <ul>
            <li>ポイント進呈初月：2,000ポイント</li>
            <li>ポイント進呈初月の翌月：2,000ポイント</li>
            <li>ポイント進呈初月の翌々月：3,000ポイント</li>
          </ul>
          <ul class="c-Cpn_List-mark-1">
            <li>紹介された方（被紹介者様）がキャンペーン条件を満たした場合、1名につき上記の7,000ポイントを進呈します</li>
            <li class="c-Txt_Emp-02">紹介された方（被紹介者様）が「Rakuten最強プラン（データタイプ）」をお申し込みいただいた場合は特典適用対象外となります</li>
            <li><del>紹介する方（ご紹介者様）の特典の上限は、毎月10名様分までとなります</del></li>
            <li>2023年6月より紹介する方（ご紹介者様）の上限を削除しました。上限削除の適用はポイント進呈の初月が2023年10月以降のポイント付与分からとなります（2023年6月15日（木）に追記）</li>
            <li>1カ月に利用できるポイントは、ダイヤモンド会員の方は500,000ポイントまで、それ以外の会員の方は100,000ポイントまでとなります。ポイントがご利用いただけないまま失効する事がありますので、あらかじめご了承ください</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01">＜紹介された方（被紹介者様）＞</p>
          <p class="c-Txt_Emp-01">他社からの乗り換え（MNP）でお申し込みの場合</p>
          <p class="c-Txt_Emp-01">13,000ポイント</p>
          <ul>
            <li>ポイント進呈初月：4,000ポイント</li>
            <li>ポイント進呈初月の翌月：4,000ポイント</li>
            <li>ポイント進呈初月の翌々月：5,000ポイント</li>
          </ul>
          <ul class="c-Cpn_List-mark-1">
            <li class="c-Txt_Emp-02">2024年2月1日（木）0:00以降の「Rakuten最強プラン」のお申し込み分より、紹介された方（被紹介者様）のポイント進呈額が6,000ポイントから13,000ポイントに変更となりました</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01">※楽天モバイル公式 楽天市場店にて6,000円OFFクーポンを使用された方は以下の特典となります。</p>
          <p class="c-Txt_Emp-01">7,000ポイント</p>
          <ul>
            <li>ポイント進呈初月：2,000ポイント</li>
            <li>ポイント進呈初月の翌月：2,000ポイント</li>
            <li>ポイント進呈初月の翌々月：3,000ポイント</li>
          </ul>
          <ul class="c-Cpn_List-mark-1">
            <li class="c-Txt_Emp-02">2024年2月1日（木）0:00以降の楽天モバイル公式 楽天市場店での注文分より、紹介された方（被紹介者様）のポイント進呈額が6,000ポイントから7,000ポイントに変更となりました</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01">新規お申し込み、もしくは楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込みの場合</p>
          <p class="c-Txt_Emp-01">6,000ポイント</p>
          <ul>
            <li>ポイント進呈初月：2,000ポイント</li>
            <li>ポイント進呈初月の翌月：2,000ポイント</li>
            <li>ポイント進呈初月の翌々月：2,000ポイント</li>
          </ul>
          <ul class="c-Cpn_List-mark-1">
            <li>2023年8月1日（火）9:00以降のRakuten最強プランお申し込み分より、紹介された方（被紹介者様）のポイント進呈額が3,000ポイントから6,000ポイントに変更となりました</li>
            <li>2023年9月22日（金）8:00以降の「Rakuten最強プラン」お申し込み分より、紹介された方（被紹介者様）のポイント進呈日を変更しました</li>
            <li>適用回線数は、おひとり様1回線までとなります（2023年8月1日（火）8:59以前の第1弾のキャンペーン期間に、回線をお申し込み、かつ紹介された方（被紹介者様）として特典適用済み（特典適用予定含む）の場合は本キャンペーンの対象外となります）</li>
            <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みいただいた場合は特典適用対象外となります</li>
            <li><del>ご契約が1回線目でなくても本キャンペーンの適用が初めての場合は対象となります　例）2回線目の方、再契約する方</del></li>
            <li class="c-Txt_Emp-02">2023年9月22日（金）8:00以降のRakuten最強プランお申し込み分より、初めてお申し込みいただいた場合のみ対象となります</li>
            <li><del>紹介された方（被紹介者様）の特典は、紹介する方（ご紹介者様）の特典上限である、「毎月10名様」を超えたご紹介の場合でもキャンペーン条件を満たしていれば進呈されます</del></li>
            <li>2023年6月より紹介する方（ご紹介者様）の上限を削除しました</li>
          </ul>
        </div>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント進呈日</p>
        <div>
          <p class="c-Txt_Emp-01">＜紹介する方（ご紹介者様）＞</p>
          <p>紹介された方（被紹介者様）が紹介ログインした月の、4カ月後から6カ月後の3カ月間にわたり進呈</p>
          <ul class="c-Cpn_List-mark-1">
            <li>例）紹介された方（被紹介者様）の紹介ログインが2月に確認できた場合には、その4カ月後である6月末日ごろに1回目のポイント進呈となり、7月末日ごろに2回目の進呈、8月末日ごろに3回目の進呈となります</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01">＜紹介された方（被紹介者様）＞</p>
          <p>紹介された方（被紹介者様）が紹介ログインした月の、4カ月後から6カ月後の3カ月間にわたり進呈</p>
          <ul class="c-Cpn_List-mark-1">
            <li>例）紹介された方（被紹介者様）の紹介ログインが2月に確認できた場合には、その4カ月後である6月末日ごろに1回目のポイント進呈となり、7月末日ごろに2回目の進呈、8月末日ごろに3回目の進呈となります</li>
            <li>2023年9月22日（金）8:00以降の「Rakuten最強プラン」お申し込み分より、紹介された方（被紹介者様）のポイント進呈日を変更しました</li>
          </ul>
          <p><del>紹介された方（被紹介者様）が紹介ログインした月の4カ月後に進呈</del></p>
          <ul class="c-Cpn_List-mark-1">
            <li><del>例）紹介された方（被紹介者様）の紹介ログインが2月に確認できた場合には、その4カ月後である6月末日ごろにポイント進呈となります</del></li>
          </ul>
        </div>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント進呈日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt" target="_blank" rel="noopener">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正等が生じた場合には返還されません</li>
          <li>1カ月に利用できるポイント上限は会員ランクによって異なります。<a href="https://point.rakuten.co.jp/guidance/usemethod/" class="c-Link_Txt" target="_blank" rel="noopener">こちら</a>をご確認ください（<a href="https://point.rakuten.co.jp/" class="c-Link_Txt" target="_blank" rel="noopener">PointClubページ</a>では、あなたの会員ランク情報を確認できます）</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <div class="u-Adjust_Mt-8">
        <p class="c-Txt_Emp-01">■キャンペーン期間・条件による場合</p>
        <ul class="c-Cpn_List-mark-1">
          <li>紹介する方（ご紹介者様）と紹介された方（被紹介者様）が同一人物の場合</li>
          <li>紹介された方（被紹介者様）がRakuten最強プランをお申し込み後に紹介ログインした場合</li>
          <li>紹介された方（被紹介者様）が「Rakuten最強プラン」の利用開始がなかった場合
            <ul class="c-Cpn_List-mark-2">
              <li>プラン利用開始の手続き方法につきましては、<a href="<%= sitepath %>faq/detail/00001648/" class="c-Link_Txt">こちらのSIMカード版スタートガイドまたはeSIM版スタートガイド</a>を参照ください</li>
            </ul>
          </li>
          <li>紹介された方（被紹介者様）が期限までに「Rakuten Link」のご利用がなかった場合</li>
          <li>紹介された方（被紹介者様）から契約者変更（譲渡・承継）を受けた場合</li>
          <li>iPhone等の製品到着の遅延により、キャンペーン条件達成期限を過ぎた場合（製品到着とは、当社に配送完了データが通知された日を指します）</li>
          <li>紹介された方（被紹介者様）が 過去に同一名義で楽天モバイル回線（Rakuten UN-LIMIT V、Rakuten UN-LIMIT VI、Rakuten UN-LIMIT VII、Rakuten最強プラン、Rakuten最強プラン（データタイプ） 含む）をご契約いただいたことがある場合</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■法令制限による場合</p>
        <ul class="c-Cpn_List-mark-2-normal">
          <li>特典総額が景品表示法・電気通信事業法の範囲内に制限される場合</li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>紹介された方（被紹介者様）が「Rakuten最強プラン」お申し込みと同時にWi-Fiルーターをご購入する場合</li>
          <li>2023年3月15日（水）9:00より楽天モバイル公式 楽天市場店でご注文する場合も本キャンペーンの特典適用対象となります</li>
          <li><s>紹介された方（被紹介者様）が楽天モバイルオンライン、楽天モバイルショップで「Rakuten最強プラン」お申し込みと同時にRakuten Hand 5Gをご購入する場合</s></li>
          <li><s>紹介された方（被紹介者様）が楽天モバイル公式 楽天市場店でご注文する場合</s></li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■未納・未払い・キャンセル・退会による場合</p>
        <ul class="c-Cpn_List-mark-1">
          <li>紹介する方（ご紹介者様）または紹介された方（被紹介者様）が当社の提供するサービス等の料金のお支払いを、お支払い期限までに行わず、未納・未払いが発生した場合</li>
          <li>ポイント進呈までに楽天会員から退会している場合</li>
          <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■弊社規定・判断基準による場合</p>
        <ul class="c-Cpn_List-mark-1">
          <li>紹介する方（ご紹介者様）がメッセージ送信した際に利用した楽天IDと楽天モバイルにご登録の楽天IDが同一でない場合</li>
          <li>紹介する方（ご紹介者様）が楽天モバイルにご登録の楽天IDを変更し、変更前に取得したキャンペーン紹介URLでご紹介を行い紹介される方（被紹介者様）がログインした場合</li>
          <li>紹介された方（被紹介者様）が紹介ログインした楽天IDと楽天モバイルにご登録の楽天IDが同一でない場合</li>
          <li>当社または楽天グループ株式会社が定める規約等に違反した場合</li>
          <li>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
          <li>不正利用であると運営側が判断した場合</li>
          <li class="c-Txt_Emp-02">紹介された方（被紹介者様）が「Rakuten最強プラン（データタイプ）」をお申し込みいただいた場合</li>
        </ul>
      </div>
    </dd>
  </div>
  <div id="campaign-rule-table2">
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">紹介された方（被紹介者様）は、以下のキャンペーンが併用可能となります。以下記載のキャンペーン以外は併用不可となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>2023年6月29日（木）に併用可能キャンペーンの記載を明確にしました</li>
      </ul>
      <ul class="c-Cpn_List-mark-2">
        <li>楽天モバイル公式 楽天市場店 対象Android製品とRakuten最強プランセットご注文で6,000円OFFクーポン（キャンペーンコード：1833）</li>
        <li>楽天モバイル公式 楽天市場店 対象Apple製品とRakuten最強プランセットご注文で6,000円OFFクーポン（キャンペーンコード：1834）</li>
      </ul>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>上記キャンペーンのいずれかを適用し、他社からの乗り換え（MNP）でお申し込みの場合、本キャンペーンの紹介された方（被紹介者様）の特典は7,000ポイントとなります</li>
      </ul>
      <ul class="c-Cpn_List-mark-2">
        <li>Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で割引キャンペーン（キャンペーンコード：2169）</li>
        <li>Rakuten最強プランご契約とiPhone対象製品を買い替え超トクプログラム利用のご購入でポイントバックキャンペーン（キャンペーンコード：2231）</li>
      </ul>

      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>2023年8月1日（火）9:00以降のRakuten最強プランお申し込み分より、以下のキャンペーンは併用可能の対象外となりました
          <ul class="c-Cpn_List-mark-2">
            <li><del>【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</del></li>
            <li><del>楽天モバイルもう1回線追加お申し込みで3,000ポイントプレゼント（キャンペーンコード：1896）</del></li>
          </ul>
        </li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">紹介された方（被紹介者様）は、以下のキャンペーンが<span class="c-Txt_Emp-02">併用不可</span>となります</p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">本キャンペーン条件を満たす前、または満たした後に、以下のキャンペーンの条件を満たした場合には、以下のキャンペーンのみが優先的に適用となります</p>
        <ul class="c-Cpn_List-mark-2">
          <li>【ショップ限定】iPhone SE（第3世代）64GBポイントバックキャンペーン（キャンペーンコード：1629）</li>
          <li>【ショップ限定】iPhone 13 128GBポイントバックキャンペーン（キャンペーンコード：1903）</li>
          <li>【ショップ限定】iPhone 14 128GBポイントバックキャンペーン（キャンペーンコード：1982）</li>
          <li>Rakutenオリジナル製品 1円キャンペーン（キャンペーンコード：1875）</li>
        </ul>
        <div class="u-Adjust_Mt-8">
          <ul class="c-Cpn_List-mark-1">
            <li>キャンペーン名を「Rakuten Hand 5G/Rakuten WiFi Pocket 1円キャンペーン」から「Rakutenオリジナル製品 1円キャンペーン」に変更しました。</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-8">
          <ul class="c-Cpn_List-mark-2">
            <li>【Android対象製品限定】特価キャンペーン（キャンペーンコード：2178）</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-8">
          <ul class="c-Cpn_List-mark-2">
            <li><s>Rakuten Hand 5G / Rakuten WiFi Pocket 1円キャンペーン（キャンペーンコード：1875）</s></li>
            <li><s>楽天モバイル公式 楽天市場店 対象Apple製品と楽天回線セットご注文で16,000円OFFクーポン（キャンペーンコード：1545）</s></li>
            <li><s>楽天モバイル公式 楽天市場店 対象Android製品と楽天回線セットご注文で16,000円OFFクーポン（キャンペーンコード：1547）</s></li>
          </ul>
          <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
            <li>2023年3月15日（水）9:00に上記（キャンペーンコード：1545, 1547）は終了しました</li>
          </ul>
          <ul class="c-Cpn_List-mark-2">
            <li><s>リワード広告キャンペーン （キャンペーンコード：1755）</s></li>
            <li><s>Androidスマホ割引キャンペーン （キャンペーンコード：1550）<br>一部機種は併用可能の場合もありますので、<a href="<%= sitepath %>campaign/start-point/" class="c-Link_Txt">キャンペーンページ</a>をご確認ください</s></li>
          </ul>
          <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
            <li>2023年10月31日（木）23:59に上記（キャンペーンコード：1550）は終了しました</li>
          </ul>
          <ul class="c-Cpn_List-mark-2">
            <li><s>【楽天カード会員様限定】楽天モバイル初めてお申し込みで20,000ポイントプレゼント（キャンペーンコード：2155）</s></li>
          </ul>
          <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
            <li>2024年1月9日（火）9:59に上記（キャンペーンコード：2155）は終了しました</li>
          </ul>
          <ul class="c-Cpn_List-mark-2">
            <li><s>【楽天カード会員様限定】楽天モバイル初めてお申し込みで20,000ポイントプレゼント（キャンペーンコード：2217）</s></li>
          </ul>
          <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
            <li>2024年４月15日（月）10:00に上記（キャンペーンコード：2217）は終了しました</li>
          </ul>
        </div>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります</p>
        <ul class="c-Cpn_List-mark-2">
          <li>【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼント（キャンペーンコード：2091）</li>
          <li>【Rakuten最強プランはじめてお申し込み特典】新規ご契約・プラン変更（移行）で2,000ポイントプレゼントキャンペーン（キャンペーンコード：2142）</li>
          <li>iPhone 対象端末ポイントバックキャンペーン（キャンペーンコード：1819）</li>
          <li>「Rakuten最強プラン」＋対象のAndroid製品ご購入でポイント還元キャンペーン（キャンペーンコード：2006）</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
          <li>新規お申し込み、もしくは楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込みの場合、上記2キャンペーン（キャンペーンコード：1819、2006）は本キャンペーンと併用可能となります</li>
        </ul>
        <ul class="c-Cpn_List-mark-2">
          <li>リワード広告キャンペーン （キャンペーンコード：1755）</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
          <li>2024年2月1日（木）0:00に上記（キャンペーンコード：1755）は対象外となりました</li>
        </ul>

        <ul class="c-Cpn_List-mark-2">
          <li><s>【ショップ限定】対象製品と楽天回線同時申込でさらに3,000ポイントキャンペーン（キャンペーンコード：1825）</s></li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01"><s>2023年8月1日（火）9:00以降のRakuten最強プランお申し込み分より、以下のキャンペーンは併用不可となります</s></p>
        <ul class="c-Cpn_List-mark-2">
          <li><s>【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</s></li>
          <li><s>楽天モバイルもう1回線追加お申し込みで3,000ポイントプレゼント（キャンペーンコード：1896）</s></li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <ul class="c-Cpn_List-mark-1">
          <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
          <li>紹介する方（ご紹介者様）に併用不可キャンペーンはありません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合がありますので、あらかじめご了承ください</li>
        <li>権利の譲渡はできません</li>
        <li>楽天ポイントの進呈は、楽天モバイルより行います</li>
        <li>お申し込み後、利用の実態がないと判断できる場合等を含めて、不正と運営側が判断した場合は、ポイント進呈の対象外とさせて頂く場合があります</li>
        <li>不正の内容によっては、今後楽天ポイント進呈の停止をさせて頂く場合があります</li>
        <li>ポイント進呈後に不正と判断した場合には、当該ポイントの無効化、口座の凍結もしくは当該ポイント相当分を何らかの手段にてご請求等をする場合があります</li>
        <li>ポイントを進呈後はポイント口座の当該ポイントを利用停止する場合があります</li>
        <li>進呈ポイントを既に利用済みの場合、当該ポイント分の金額を楽天モバイルに登録している決済手段により引き落としする場合があります</li>
        <li>本キャンペーンの対象者以外への転送等の不正利用、不正転売等の違反が見つかった場合、キャンペーンを終了する場合があります</li>
        <li>紹介する方（ご紹介者様）から紹介された方（被紹介者様）の個人情報（契約状況等）をお問い合わせいただいてもお答えできませんのでご了承ください</li>
        <li class="c-Txt_Emp-02">紹介された方（被紹介者様）が「Rakuten最強プラン（データタイプ）」をお申し込みいただいた場合は対象外です</li>
        <li class="c-Txt_Emp-02">紹介された方（被紹介者様）が「Rakuten最強プラン（データタイプ）」から 「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        <li>記載の内容は2024年5月20日（月）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
