<dl class="c-Dl_Origin">
  <div>
    <dt>Campaign Code</dt>
    <dd>
      <p>1784</p>
      <ul class="c-Cpn_List-mark-1-en">
        <li>Please mention the "Campaign Code" above when inquiring about this campaign.</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>Campaign Period</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ Plan Application Period</p>
        <p>From February 15, 2023 (Wed) 7:00 and end date TBD</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ Plan application, start using a plan, and use "Rakuten Link" deadline</p>
        <p>The referred customer clicks on the URL or button in the message received and logs in with Rakuten ID. Until 23:59 on
          the last day of the second month following the day of that click and login.</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>Campaign Conditions</dt>
    <dd>
      <p class="c-Txt_Emp-02">Rakuten members who fulfil all the conditions in 【1】, 【2】, 【3】, 【4】, and 【5】 within the time period of each item above.</p>
      <ul class="c-Cpn_List-mark-1-en">
        <li>Please follow the steps below.</li>
      </ul>
      <div class="u-Adjust_Mt-24">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">＜Referrer＞</p>
        <div>
          <p class="c-Cpn_Title-lv1"><span>【1】</span>Send the Campaign Referral URL</p>
          <p>Send the campaign referral URL via LINE, X, Viber, email, Rakuten Link, etc. from the campaign page during the campaign period above.</p>
          <ul class="c-Cpn_List-mark-1-en">
            <li class="c-Txt_Emp-02">The referrer must be a "Rakuten SAIKYO Plan" including "Rakuten SAIKYO Plan (Data Type)" subscriber.</li>
            <li>In case the referred customer is referred by more than one person, the referrer with the earliest referral login will be eligible for the reward.</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-24">
          <p class="c-Txt_Emp-01 u-Adjust_Mb-8">＜Referred customer＞</p>
          <div>
            <p class="c-Cpn_Title-lv1"><span>【2】</span>Click on the campaign referral URL received and log in with your Rakuten ID</p>
            <p>You will be redirected to the campaign page after logging in from LINE, X, Viber, email, Rakuten Link, etc.</p>
            <ul class="c-Cpn_List-mark-1-en">
              <li>This campaign also applies to those who apply at shops (Rakuten Mobile shop) after logging in with the referral.</li>
            </ul>
          </div>
          <div class="u-Adjust_Mt-16">
            <p class="c-Cpn_Title-lv1"><span>【3】</span>Apply for "Rakuten SAIKYO Plan" by any of the following ways (1) to (3)</p>
            <ul class="c-Cpn_List-mark-1-en">
              <li class="c-Txt_Emp-02">Reward is eligible only once per person. Only your first line is eligible with the application of "Rakuten SAIKYO Plan" starting from 8:00 a.m. Friday, September 22, 2023.</li>
            </ul>
            <ol class="c-Cpn_List-ordered-lv2-en">
              <li>New application</li>
              <li>Apply by switching to Rakuten Mobile from another company with MNP</li>
              <li>Apply after changing the plan from Rakuten Mobile (docomo line or au line).</li>
            </ol>
            <ul class="c-Cpn_List-mark-1-en">
              <li>Transfer from "Rakuten UN-LIMIT VII" to "Rakuten SAIKYO Plan" is not eligible for the campaign.</li>
              <li class="c-Txt_Emp-02">"Rakuten SAIKYO Plan (Data Type)" is not eligible for the campaign.</li>
              <li class="c-Txt_Emp-02">If the referee change the plan from "Rakuten SAIKYO Plan (Data Type)" to "Rakuten SAIKYO Plan", it is not eligible for the campaign.</li>
            </ul>
          </div>
          <div class="u-Adjust_Mt-16">
            <p class="c-Cpn_Title-lv1"><span>【4】</span>Start using "Rakuten SAIKYO Plan"</p>
            <p>【Plan usage start date】</p>
            <ul class="c-Cpn_List-mark-2-normal">
              <li>
                <p>In case of a new application　　<span class="c-Txt_Cap">*The earlier of (1) or (2) will be the plan usage start date.</span></p>
                <ol class="c-Cpn_List-ordered-lv2-en">
                  <li>The date when the delivery completion data is notified to us</li>
                  <li>The date for when the Rakuten Mobile signal becomes applicable on the SIM card or eSIM</li>
                </ol>
              </li>
              <li>
                <p>In case of switching to Rakuten Mobile from another company with MNP</p>
                <p>The date for when the Rakuten Mobile signal becomes applicable on the SIM card or eSIM</p>
              </li>
              <li>
                <p>In case of changing the plan from Rakuten Mobile (docomo line or au line)</p>
                <p>The date for when the Rakuten Mobile signal becomes applicable on the SIM card or eSIM</p>
              </li>
            </ul>
          </div>
          <div class="u-Adjust_Mt-16">
            <p class="c-Cpn_Title-lv1"><span>【5】</span>"Rakuten Link" usage</p>
            <p>Call with "Rakuten Link" on an applied line for which you have applied for "Rakuten SAIKYO Plan", and talk for more than 10 seconds.</p>
            <div class="u-Adjust_Mt-16">
              <p class="c-Txt_Emp-01 u-Adjust_Mb-8">【How to use the Rakuten Link】</p>
              <p>Please refer to "How to use Rakuten Link" at the URL below.<br>
                <a href="<%= sitepath %>guide/rakuten-link/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/guide/rakuten-link/</a>
              </p>
              <ul class="c-Cpn_List-mark-2-normal">
                <li>How to call: Please refer to the "Making a call"</li>
              </ul>
            </div>
            <div class="u-Adjust_Mt-16">
              <p class="c-Txt_Emp-01 u-Adjust_Mb-8">【How to check your Rakuten Link usage history】</p>
              <p>
                Please check "About the use of Rakuten Link in the campaign"<br>
                <a href="<%= sitepath %>faq/detail/00001919/" class="c-Link_Txt">https://network.mobile.rakuten.co.jp/faq/detail/00001919/</a>
              </p>
            </div>
            <ul class="c-Cpn_List-mark-1-en">
              <li>When you make a call, it is not eligible for this campaign if you use another company's connection service such as
                (0570), #dialing number, or prefix number.</li>
            </ul>
          </div>
        </div>
      </div>
    </dd>
  </div>
  <div>
    <dt>Campaign Rewards (Rakuten Points)</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ Reward Details</p>
        <div>
          <p class="c-Txt_Emp-01">＜Referrer＞</p>
          <p class="c-Txt_Emp-01">7,000 points</p>
          <ul>
            <li>First month of point award: 2,000 points</li>
            <li>The month after the first month of point award: 2,000 points</li>
            <li>Two months after the first month of point award: 3,000 points</li>
          </ul>
          <ul class="c-Cpn_List-mark-1-en">
            <li>If the referred customer meets the campaign conditions, the above 7,000 points will be awarded per person.</li>
            <li class="c-Txt_Emp-02">If the referee applies for "Rakuten SAIKYO Plan (Data Type)", it is not eligible for the campaign.</li>
            <li><del>The maximum number of benefits for the referrer is 10 people per month.</del></li>
            <li>The maximum number of referrals (referrer) has been removed from June 2023.<br>
              The removal of the upper limit will be applied to points awarded after October 2023, which is the first month of the point awarding period. (Added on June 15, 2023 (Thu.)).
            </li>
            <li>Diamond members can use up to 500,000 points per month, and other members can use up to 100,000 points per month. Please note that points may expire without being used.</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01">＜Referred customer＞</p>
          <p class="c-Txt_Emp-01">In the case of application by switching to Rakuten Mobile from other carriers with MNP</p>
          <p class="c-Txt_Emp-01">13,000 points</p>
          <ul>
            <li>First month of point award: 4,000 points</li>
            <li>The month after the first month of point award: 4,000 points</li>
            <li>Two months after the first month of point award: 5,000 points</li>
          </ul>
          <ul class="c-Cpn_List-mark-1-en">
            <li class="c-Txt_Emp-02">The amount of points awarded to the person who is referred (referrer) was changed from 6,000 points to 13,000 points with the application of Rakuten SAIKYO Plan starting from 0 a.m. Thursday, February 1, 2024.</li>
          </ul>

          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">*If you use the 6,000 yen OFF coupon at official Rakuten Ichiba store of  Rakuten Mobile, you will receive the following benefits.</p>
          <p class="c-Txt_Emp-01">7,000 points</p>
          <ul>
            <li>First month of point award: 2,000 points</li>
            <li>The month after the first month of point award: 2,000 points</li>
            <li>Two months after the first month of point award: 3,000 points</li>
          </ul>
          <ul class="c-Cpn_List-mark-1-en">
            <li class="c-Txt_Emp-02">*The amount of points awarded to the person who is referred (referrer) was changed from 6,000 points to 7,000 points with the order at official Rakuten Ichiba store of Rakuten Mobile starting from 0 a.m. Thursday, February 1, 2024.</li>
          </ul>

          <p class="c-Txt_Emp-01 u-Adjust_Mt-16">In the case of New application or Application after changing the plan from Rakuten Mobile (docomo line or au line)</p>
          <p class="c-Txt_Emp-01">6,000 points</p>
          <ul>
            <li>First month of point award: 2,000 points</li>
            <li>The month after the first month of point award: 2,000 points</li>
            <li>Two months after the first month of point award: 2,000 points</li>
          </ul>
          <ul class="c-Cpn_List-mark-1-en">
            <li>Date of point awarding of referred customer was changed with the application of "Rakuten SAIKYO Plan" starting from 8:00 a.m. Friday, September 22, 2023.</li>
            <li>The amount of points awarded to the person who is referred (referrer) was changed from 3,000 points to 6,000 points with the application of Rakuten SAIKYO Plan starting from 9 a.m. Tuesday, August 1, 2023.</li>
            <li>The number of applicable line is limited to one per person. (If you applied for Rakuten Mobile during the first campaign period before 8:59 a.m. Tuesday, August 1, 2023 and have already applied for the rewards as the person who was referred (the referee), you are not eligible for this campaign (including the rewards to be applied).)</li>
            <li class="c-Txt_Emp-02">"Rakuten SAIKYO Plan (Data Type)" is not eligible for the campaign.</li>
            <li><del>Even if this is not your first line, you are eligible for this campaign if it is your first application for this campaign. For example, second line and re-signing.</del></li>
            <li class="c-Txt_Emp-02">Only your first line is eligible with the application of "Rakuten SAIKYO Plan" starting from 8:00 a.m. Friday, September 22, 2023.</li>
            <li><del>The rewards for the referred customer will be awarded if the campaign conditions are met, even if the referrer exceeds the monthly limit of "10 referrals" (the maximum number of referral per month).</del></li>
            <li>The maximum number of referrals (referrer) has been removed from June 2023.</li>
          </ul>
        </div>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ Date of point award</p>
        <div>
          <p class="c-Txt_Emp-01">＜Referrer＞</p>
          <p>Points will be awarded for a period of 3 months from 4 to 6 months after the month which the referred customer logs in.</p>
          <ul class="c-Cpn_List-mark-1-en">
            <li>Example: If the referee's login is confirmed in February, the first 2,000 points will be awarded around the end of June which is four months later from the login, the second 2,000 points will be awarded around the end of July, and the third 3,000 points will be awarded around the end of August.</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01">＜Referred customer＞</p>
          <p>Points will be awarded for a period of 3 months from 4 to 6 months after the month which the referee logs in.</p>
          <ul class="c-Cpn_List-mark-1-en">
            <li>Example: If the referee's login is confirmed in February, the first 2,000 points will be awarded around the end of June which is four months later from the login, the second 2,000 points will be awarded around the end of July, and the third 2,000 points will be awarded around the end of August.</li>
            <li>Date of point awarding of referred customer was changed with the application of "Rakuten SAIKYO Plan" starting from 8:00 a.m. Friday, September 22, 2023.</li>
          </ul>
          <p><del>The referred customer will receive the points 4 months after the month in which the referred customer logs in.</del></p>
          <ul class="c-Cpn_List-mark-1-en">
            <li><del>Example: If the referred customer's login is confirmed in February, the points will be awarded around the end of June,
              four months later.</del></li>
          </ul>
        </div>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ Point validity period</p>
        <p class="c-Txt_Emp-01">6 months including the date of point award</p>
        <ul class="c-Cpn_List-mark-1-en">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" class="c-Link_Txt" target="_blank" rel="noopener">For more details on time-limited points</a></li>
          <li>Points will not be refunded in the event of cancellation or modification after the expiration date, even if the points are used before the expiration date.</li>
          <li>The maximum number of points that can be used in a month depends on your membership rank. Please check <a href="https://point.rakuten.co.jp/guidance/usemethod/" class="c-Link_Txt" target="_blank" rel="noopener">here</a> (You can check your membership rank information on the <a href="https://point.rakuten.co.jp/en/" class="c-Link_Txt" target="_blank" rel="noopener">PointClub page</a>).</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>These cases are not eligible for this campaign</dt>
    <dd>
      <p class="c-Txt_Emp-02">The following cases are not eligible for the award.</p>
      <div>
        <p class="c-Txt_Emp-01">■ The cases with the campaign period and conditions</p>
        <ul class="c-Cpn_List-mark-1-en">
          <li>In case of the referrer and the referred customer are the same person.</li>
          <li>In case of the referred customer logs in after applying for Rakuten SAIKYO Plan.</li>
          <li>In case of the referred customer has not started using the plan of Rakuten SAIKYO Plan.
            <ul class="c-Cpn_List-mark-2 u-Adjust_Mt-0">
              <li>Please refer to <a href="<%= sitepath %>faq/detail/00001648/" class="c-Link_Txt">the SIM Card Version Start Guide or eSIM Version Start Guide for the procedure to start using the plan.</a></li>
            </ul>
          </li>
          <li>In case of the referred customer has not used "Rakuten Link" by the expiration date.</li>
          <li>In case of the referred customer changes the subscriber (transfer or succession).</li>

          <li>In case of the referee is unable to fulfill the campaign conditions by the campaign period due to a delay in the arrival of the iPhone or other products (product arrival is defined as the date when the delivery completion data is notified to Rakuten Mobile).</li>
          <li>In case of the referee has previously used Rakuten Mobile (including Rakuten UN-LIMIT V, Rakuten UN-LIMIT VI, Rakuten UN-LIMIT VII, Rakuten SAIKYO Plan, and Rakuten SAIKYO Plan (Data Type)) under the same name.</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ In case of legal restrictions</p>
        <p>In case the total amount of the reward is restricted within the scope of the Act against Unjustifiable Premiums and
        Misleading Representations and the Telecommunications Business Act</p>
        <ul class="c-Cpn_List-mark-1-en">
          <li>In case the referred customer applies for "Rakuten SAIKYO Plan" and purchases a Wi-Fi router at the same time.</li>
          <li>Placing an order at Rakuten Mobile's official Rakuten Ichiba shop becomes eligible for this campaign from 9:00 a.m Wednesday, March 15, 2023.</li>
          <li><s>In case the referee purchases Rakuten Hand 5G at the same time as applying for "Rakuten SAIKYO Plan" at Rakuten Mobile Online or Rakuten Mobile Shop.</s></li>
          <li><s>In case the referred customer places an order at Rakuten Mobile official Rakuten Ichiba store.</s></li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■ In case of unpaid, cancellation, or withdrawal from membership.</p>
        <ul class="c-Cpn_List-mark-1-en">
          <li>In case the referrer or referred customer fails to make payment for our services by the due date, and unpaid has occurred.</li>
          <li>In case of the person who has withdrawn from Rakuten Membership by the time the points are awarded.</li>
          <li>In case of cancellation of the application due to inadequate identification of the subscriber/user, inadequate MNP procedures, etc.</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">■ In case of our regulations or judgment criteria.</p>
        <ul class="c-Cpn_List-mark-1-en">
          <li>In case of Rakuten ID used by the referrer when sending a message is not the same as your Rakuten ID registered with Rakuten Mobile.</li>
          <li>In case of the referee logs in to use the campaign referral URL which is sent before referrer change the Rakuten ID registered with Rakuten Mobile.</li>
          <li>In case of the Rakuten ID registered with Rakuten Mobile for the new application and the ID used to login are not the same.</li>
          <li>In case of confirmation of violate any terms and conditions of Rakuten Group, Inc. or Rakuten Mobile, Inc.</li>
          <li>In addition to the above, in case Rakuten Mobile,Inc reasonably determines that the Member is unqualified to be a Member.</li>
          <li>In case Rakuten Mobile,Inc determines that the use of Rakuten ID is fraudulent.</li>
          <li class="c-Txt_Emp-02">In case the referee applies for "Rakuten SAIKYO Plan (Data Type)".</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>Campaigns that can be used in conjunction</dt>
    <dd>
      <p class="c-Txt_Emp-01">The person who is referred (the referred person) can apply the following campaigns together. Campaigns other than those listed below can not be combined with any other campaigns.</p>
      <ul class="c-Cpn_List-mark-1-en">
        <li>Campaigns that can be combined have been clarified on Wednesday, June 28, 2023.
          <ul class="c-Cpn_List-mark-2 u-Adjust_Mt-0">
            <li>Official Rakuten Ichiba Store of Rakuten Mobile 6,000 yen OFF coupon for ordering in a set of applicable Android products and Rakuten SAIKYO Plan（Campaign Code:1833）</li>
            <li>Official Rakuten Ichiba Store of Rakuten Mobile 6,000 yen OFF coupon for ordering in a set of applicable iPhone products and Rakuten SAIKYO Plan（Campaign Code:1834）</li>
          </ul>
        </li>
        <li>If you apply for one of the above campaigns and apply by switching to Rakuten Mobile from another company with MNP, referred customer will receive 7,000 points for this campaign.
          <ul class="c-Cpn_List-mark-2 u-Adjust_Mt-0">
            <li>Discount campaign for subscription of Rakuten SAIKYO Plan and purchase an applicable iPhone product with a lump-sum payment or 24 payments（Campaign Code:2169）</li>
            <li>Points back campaign for subscription of Rakuten SAIKYO Plan and purchase an applicable iPhone product with Rakuten Mobile Kaikae Chotoku Program（Campaign Code：2231）</li>
          </ul>
        </li>
        <li>The following campaigns are no longer applicable with the application of SAKIYO Plan starting from 9 a.m. Tuesday, August 1, 2023.
          <ul class="c-Cpn_List-mark-2 u-Adjust_Mt-0">
            <li><del>[Rakuten SAIKYO Plan Application Privilege] 3,000 points grant for everyone (Campaign Code: 1526)</del></li>
            <li><del>Applying for another Rakuten Mobile line and receive 3,000 points (Campaign Code: 1896)</del></li>
          </ul>
        </li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>Campaigns that cannot be used in conjunction</dt>
    <dd>
      <p class="c-Txt_Emp-01">The following campaigns cannot be used in conjunction with this campaign.</p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">If you fulfill the conditions of the following campaigns before or after fulfilling the conditions of this campaign, the
        following campaigns will be given priority.</p>

        <ul class="c-Cpn_List-mark-2">
          <li>【Store Exclusive】 iPhone SE (3rd generation) 64GB Point Back Campaign. (Campaign Code: 1629)</li>
          <li>【Store Exclusive】 iPhone 13 128GB Point Back Campaign. (Campaign Code: 1903)</li>
          <li>【Store Exclusive】 iPhone 14 128GB Point Back Campaign. (Campaign Code: 1982)</li>
          <li>Rakuten original products 1 yen campaign.（Campaign Code: 1875）</li>
        </ul>
        <div class="u-Adjust_Mt-8">
          <ul class="c-Cpn_List-mark-1-en">
            <li>The campaign name was changed from ”Rakuten Hand 5G / Rakuten WiFi Pocket 1 yen campaign” to ”Rakuten original products 1 yen campaign”.</li>
            <li>【Limited on Android Eligible Products】Special price campaign（Campaign Code：2178）</li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-8">
        <ul class="c-Cpn_List-mark-2">
          <li><s>Rakuten Hand 5G / Rakuten WiFi Pocket 1 yen campaign.（Campaign Code: 1875）</s></li>
          <li><s>Rakuten Mobile official Rakuten Ichiba store 16,000 yen OFF coupon for orders of specific Apple product and Rakuten line
            set. (Campaign Code: 1545)</s></li>
          <li><s>Rakuten Mobile Rakuten Ichiba Store 16,000yen OFF coupon for orders of Rakuten line and specific Android products set.
            (Campaign Code: 1547)</s></li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>The above campaign (Campaign Codes: 1545, 1547) ends at 9:00 a.m Wednesday, March 15, 2023.</li>
        </ul>
        <ul class="c-Cpn_List-mark-2">
          <li><s>Reward Advertising Campaign. (Campaign code: 1755)</s></li>
          <li><s>Android smartphone/Wi-Fi router discount campaign. (Campaign code: 1550)</s></li>
          <li><s>Some models can be used in conjunction with this campaign, please check the campaign page.</s></li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>The above campaign (Campaign Codes: 1550) ended at  11:59 p.m Thursday, October 31, 2023.</li>
        </ul>
        <ul class="c-Cpn_List-mark-2">
          <li><s>【Limited on Rakuten Card users】Receive 20,000 Points for your first application of Rakuten Mobile (Campaign Code: 2155)</s></li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>The above campaign (Campaign Codes: 2155) ended at 9:59 a.m Tuesday, January 9, 2024.</li>
        </ul>
        <ul class="c-Cpn_List-mark-2">
          <li><s>【Limited on Rakuten Card users】Receive 20,000 Points for your first application of Rakuten Mobile (Campaign Code: 2217)</s></li>
        </ul>
        <ul class="c-Cpn_List-mark-1">
          <li>The above campaign (Campaign Codes: 2217) ended at 10:00 a.m Monday, April 15, 2024.</li>
        </ul>
        </div>
      </div>
      <div class="u-Adjust_Mt-16">
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01">The following campaign benefits are not applicable when this campaign is applied.</p>
          <ul class="c-Cpn_List-mark-2">
            <li>【First Time Signup Benefit for the Rakuten SAIKYO Plan】 Receive Points for switching to Rakuten Mobile from another company with MNP (Campaign Code: 2091)</li>
            <li>【First Time Signup Benefit for the Rakuten SAIKYO Plan】 Receive 2,000 Points for New application or Changing the plan (Campaign Code: 2142)</li>
            <li>Applicable iPhone Products Point-Back Campaign（Campaign Code:1819）</li>
            <li>Point rebate campaign with Rakuten SAIKYO Plan +  purchase of applicable Android products（Campaign Code:2006）</li>
          </ul>
          <ul class="c-Cpn_List-mark-1">
            <li>In the case of New application or Application after changing the plan from Rakuten Mobile (docomo line or au line), above those 2 campaigns （Campaign Code:1819, 2006） can be applied together.</li>
          </ul>
          <ul class="c-Cpn_List-mark-2">
            <li>Reward Advertising Campaign. (Campaign code: 1755)</li>
          </ul>
          <ul class="c-Cpn_List-mark-1">
            <li>The above campaign (Campaign Codes: 1775) became not applicable at 0:00 a.m. Thursday, February 1, 2024.</li>
          </ul>
          <ul class="c-Cpn_List-mark-2">
            <li><s>【Store only】 3,000 points for orders of specific product and Rakuten line set. (Campaign code: 1825)</s></li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <p class="c-Txt_Emp-01"><s>The following campaigns cannot be combined starting from the application for Rakuten SAIKYO Plan on 9 a.m. Tuesday, August 1, 2023.</s></p>
          <ul class="c-Cpn_List-mark-2">
            <li><s>[Rakuten SAIKYO Plan Application Privilege] 3,000 points grant for everyone (Campaign Code: 1526)</s></li>
            <li><s>Applying for another Rakuten Mobile line and receive 3,000 points (Campaign Code: 1896)</s></li>
          </ul>
        </div>
        <div class="u-Adjust_Mt-16">
          <ul class="c-Cpn_List-mark-1-en">
            <li>The person who is eligible for this Campaign may be excluded from other campaigns being offered at the same time, or
              the total amount of benefits may be limited within the scope of the Act against Unjustifiable Premiums and Misleading
              Representations and the Telecommunications Business Act.</li>
            <li>There is no campaign that cannot be used in conjunction with referrer.</li>
          </ul>
        </div>
      </div>
    </dd>
  </div>
  <div>
    <dt>Notes</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1-en u-Adjust_Mt-0">
        <li>This campaign is subject to modify, cancellation, or extension without notice.</li>
        <li>Rights cannot be transferred</li>
        <li>Rakuten Points are rewarded by Rakuten Mobile, Inc.</li>
        <li>Rakuten Points may not be awarded when the management deems the new application fraudulent, including cases that there is no actual usage of the plan.</li>
        <li>Depending on the nature of the fraud, Rakuten Points may be suspended in the future depending on the content of the fraudulent.</li>
        <li>If the fraud is determined after the points are awarded, the points may be invalidated, the account may be frozen, or the amount equivalent to the points may be charged to the customer's account by any means.</li>
        <li>We may suspend the use of the points in your account after the points have been awarded.</li>
        <li>If you have already used the Points, the amount of the Points might be debited from your Rakuten Mobile account by by the payment method registered with Rakuten Mobile acocunt.</li>
        <li>The Campaign may be terminated in the event that any unauthorized use or resale of the Points is found, such as transferring the Points to other parties not eligible for the Campaign.</li>
        <li>Please note that we will not be able to respond to any inquiries from referrer regarding the personal information(contract status, etc.) of referred customer the person being referred.</li>
        <li class="c-Txt_Emp-02">If the referee applies for "Rakuten SAIKYO Plan (Data Type)", it is not eligible for the campaign.</li>
        <li class="c-Txt_Emp-02">If the referee change the plan from "Rakuten SAIKYO Plan (Data Type)" to "Rakuten SAIKYO Plan", it is not eligible for the campaign.</li>
        <li>The information contained herein is current as of Monday, May 20, 2024.</li>
      </ul>
    </dd>
  </div>
</dl>
