<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2080</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p>以下【1】～【3】の条件をすべて満たした楽天会員の方</p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>キャンペーンへのエントリー</p>
        <p>2023年11月1日（水）9:00～2023年12月1日（金）8:59まで本キャンペーンページでエントリー</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>本ページから証券口座申込・開設</p>
        <p>2023年12月1日（金）8:59までに新規お申し込みし、2023年12月15日（金）23:59までに開設</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap u-Adjust_Mt-8">
          <li>エントリー前の楽天証券口座開設はポイント進呈の対象外です。</li>
          <li>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
          <li>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>「Rakuten最強プラン」を利用開始している。または、キャンペーン期間中に「Rakuten最強プラン」へのお申し込み</p>
        <p>本キャンペーン開始時点で「Rakuten最強プラン」の未契約者である場合は、各種期日までに下記（1）-（3）いずれかの方法で「お申し込み」にて適用となります。</p>
        <p>[Web]：2023年11月1日（水）9:00～2023年12月1日（金）8:59まで</p>
        <p>[店舗（楽天モバイルショップ）]：2023年11月1日（水）開店～2023年11月30日（木）閉店まで</p>
        <ul class="c-Cpn_List-ordered-lv2">
          <li>新規お申し込み</li>
          <li>他社からの乗り換え（MNP）でお申し込み</li>
          <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>楽天モバイル未契約の方は、エントリー後、楽天証券口座開設の順序が満たされていれば、「Rakuten最強プラン」のお申し込みの順序については問いません。</li>
          <li>エントリー前の楽天証券口座開設は対象外となりますので、ご注意ください。<br>
          （例1）楽天モバイルにお申し込み後、期間中に本ページにてエントリーしてから楽天証券口座を開設された場合は、ポイント進呈の対象となります。<br>
          （例2）期間中に本ページにてエントリーし、楽天証券口座を開設後、楽天モバイルにお申し込みの場合はポイント進呈の対象となります。<br>
          （例3）楽天証券口座を開設後、期間中に本ページにてエントリーされた場合はポイント進呈の対象外です。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ 特典内容</p>
        <p class="u-Adjust_Mt-8">2,000ポイントプレゼント（期間限定ポイント）</p>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■ ポイント進呈日</p>
        <p class="u-Adjust_Mt-8">該当するキャンペーン開始月の翌々月末日ごろに進呈</p>
        <ul class="c-Cpn_List-mark-1">
          <li>楽天ポイントの進呈は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">■ ポイント有効期間</p>
        <p class="u-Adjust_Mt-8">ポイント進呈日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
          <li>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>楽天モバイル株式会社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>「【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で、もれなく2,000円相当分ポイントプレゼント！」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
        <li>期間中に契約者変更（譲渡・承継）を受けた場合</li>
        <li>ポイント進呈までに楽天会員から退会している場合</li>
        <li>楽天モバイル株式会社または楽天グループ株式会社が定める規約などに違反した場合</li>
        <li>そのほか、当社が会員として不適格であると合理的な根拠に基づき判断した場合</li>
        <li>未成年のお客様、法人のお客様、IFA（金融商品仲介業）のお客様の場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください。</li>
        <li>キャンペーンの特典は今後の開催時に増額または減額、条件変更される場合があります。</li>
        <li>本キャンペーンの特典進呈対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法上の範囲内に制限される場合があります。</li>
        <li>本キャンペーン開始前に「Rakuten最強プラン」を解約された場合でも、キャンペーン期間中に「Rakuten最強プラン」を再度お申し込みいただければ対象となります。</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます。</li>
        <li>ポイント進呈のため、キャンペーン対象者様の楽天IDを楽天モバイル株式会社と楽天証券株式会社間で受け渡しいたします。あらかじめご了承ください。</li>
        <li>楽天証券口座をお持ちでない方が対象となります。</li>
        <li>楽天証券口座のお申し込み後に口座開設が完了した方のみが対象です。</li>
        <li>口座開設には本人確認書類のアップロードが必要です。</li>
        <li>期間中に、本ページより楽天証券口座をお申し込み、開設することが必要となります。</li>
        <li>本ページ経由以外で楽天証券口座をお申し込みされた場合は対象外となります。</li>
        <li>楽天証券株式会社の方針に基づき、口座開設をご遠慮いただくことがございます。</li>
        <li>口座開設には、数日お時間がかかる場合がございます。締切間際でのお手続きの際はご注意ください。</li>
        <li>エントリーした楽天ID、証券口座を開設した楽天ID、楽天モバイルにご登録の楽天IDが同一でない場合、ポイントは進呈されませんのでご注意ください。</li>
        <li>記載の内容は2023年11月1日（水）時点の情報となります。</li>
      </ul>
    </dd>
  </div>
</dl>