<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1584</p>
      <ul class="c-Txt_Cap u-Adjust_Mt-8">
        <li><span>※</span>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">■ 製品のご購入期間</span><br>
        - 店舗（楽天モバイルショップ）　2022年7月29日（金）開店～2023年8月30日（水）閉店<br>
      </p>
      <p class="c-Txt_Cap u-Adjust_Mt-8">※2023年8月1日（火）に終了日を変更（追記）しました</p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">
        上記各項目の期間内に以下の条件を満たした楽天会員の方<br>
        ※お一人様１回限りの適用となります。<br>
        ※複数台ご購入された場合、ポイントが最大の製品分のみ付与となります。
      </p>
      <div class="u-Adjust_Mt-16">
        <span class="c-Txt_Emp-01">対象製品いずれかをご購入</span><br>
        <ul class="c-List_Text-disc u-Adjust_Mt-8">
          <li>AQUOS sense6s</li>
          <li><s>AQUOS sense6</s></li>
          <li><s>OPPO A55s 5G</s></li>
          <li><s>OPPO Reno5 A</s></li>
          <li><s>Xperia 10 IV</s></li>
          <li>OPPO Reno7 A</li>
          <li>Galaxy A23 5G</li>
        </ul>
        <p class="u-Adjust_Mt-8 c-Txt_Cap c-Txt_Emp-02">※2023年7月3日閉店時をもちまして、Xperia 10 IV、OPPO A55s 5Gは本キャンペーンの対象外になりました。</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">
          AQUOS sense6sご購入で楽天ポイント5,980円相当のポイントをプレゼント<br>
          <s>AQUOS sense6ご購入で楽天ポイント5,980円相当のポイントをプレゼント</s><br>
          <s>OPPO A55s 5Gご購入で楽天ポイント2,100円相当のポイントをプレゼント</s><br>
          <s>OPPO Reno5 Aご購入で楽天ポイント5,780円相当のポイントをプレゼント</s><br>
          <s>Xperia 10 IVご購入で楽天ポイント5,000円相当のポイントをプレゼント</s><br>
          OPPO Reno7 Aご購入で楽天ポイント10,000円相当のポイントをプレゼント<br>
          Galaxy A23 5G ご購入で楽天ポイント11,000円相当のポイントをプレゼント
        </p>
        <p class="c-Txt_Cap">
          <s>※2022年7月29日より、AQUOS sense6、OPPO A55s 5G、OPPO Reno5 Aのポイント額を変更しました。</s><br>
          ※2022年7月29日より、AQUOS sense6sが本キャンペーン対象製品となりました。<br>
          <s>※2023年1月20日より、Xperia 10 IVが本キャンペーン対象製品となりました。</s><br>
          ※2023年2月10日より、OPPO Reno7 Aが本キャンペーン対象製品となりました。<br>
          ※2023年4月25日より、Galaxy A23 5Gが本キャンペーン対象製品となりました。<br>
          ※2023年5月16日に、AQUOS sense6とOPPO Reno5 Aは販売を終了しました。<br>
          ※2023年7月3日閉店時をもちまして、Xperia 10 IV、OPPO A55s 5Gは本キャンペーンの対象外となりました。<br>
          ※2023年7月4日より、OPPO Reno7 Aのポイント額を変更しました。
        </p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">製品ご購入月の翌々月末日ごろに付与</p>
        <p class="c-Txt_Cap u-Adjust_Mt-16"><span>※</span>例）7月にすべての条件を達成した場合には、その翌々月である9月末日ごろにポイント付与となります</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天ポイントの付与は、楽天モバイルより行います</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>権利の譲渡はできません</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="u-Adjust_Mt-8">
          <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span><a
              href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
          <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません。</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="u-Adjust_Mt-16">
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8">
          <span>※</span>「【ショップ限定】対象製品購入でさらにポイント還元キャンペーン（キャンペーンコード：1584）」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>楽天モバイルショップ以外で購入した場合</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01"><span class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。</span></p>
      <ul class="u-Adjust_Mt-16">
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>-</span>【15分（標準）通話かけ放題】料金3カ月無料特典（キャンペーンコード：1525）</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>-</span>【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>-</span>Androidスマホ割引キャンペーン（キャンペーンコード：1550）</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>-</span><s>【Rakuten最強プラン】データ1GB／月以下だった方限定！プラン料金最大4カ月実質無料キャンペーン（キャンペーンコード：1527）</s></li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>-</span>【ショップ限定】対象製品と楽天回線同時申込でさらに3,000ポイントキャンペーン（キャンペーンコード：1825）</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>-</span>【Android対象製品限定】ガンガン！ポイント還元キャンペーン（キャンペーンコード：1980）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは、<span class="c-Txt_Emp-02">併用不可</span>となります。<br>
        以下のキャンペーン特典が適用となっている場合、本キャンペーンは対象外となります。</p>
      <ul class="u-Adjust_Mt-16">
        <li class="c-Txt_Cap"><span>-</span>【ショップ限定】対象製品購入でさらにポイント還元キャンペーン（キャンペーンコード：1583）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8">
          <span>※</span>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合、キャンペーンを終了とさせていただく場合があります</li>
        <li class="c-Txt_Cap u-Adjust_Mt-8"><span>※</span>記載の内容は2023年8月1日（火）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
