<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2076</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">■ チケットお申し込み期間</span><br>
        2023年9月30日（土）14:30～2023年10月31日（火）23:59
      </p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap u-Adjust_Mt-8">
        <li>抽選結果は2023年11月8日（水） 夕方以降にメールにて通知予定です。</li>
      </ul>
      <p>【Rakuten最強プランをご利用中でない場合】</p>
      <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
        - Web　2023年9月30日（土）14:30～2023年10月31日（火）23:59<br>
        - 店舗（楽天モバイルショップ）2023年9月30日（土）開店～2023年10月30日（月）閉店
      </p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap u-Adjust_Mt-8">
        <li>キャンペーン期間中のプランの利用開始が必要です</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p>
        上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>本キャンペーンページからのチケットお申し込み</p>
        <p>チケットお申し込み期間内に本キャンペーンページよりチケットのお申し込み</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten 最強プラン・Rakuten 最強プラン（データタイプ）」をご利用中、または下記（1）～（3）いずれかの方法にてお申し込みの完了</p>
        <ul class="c-Cpn_List-ordered-lv2">
          <li>新規お申し込み</li>
          <li>他社からの乗り換え（MNP）でお申し込み</li>
          <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
          <li class="c-Txt_Emp-02">Rakuten 最強プラン・Rakuten 最強プラン（データタイプ）ご利用中の方が対象となります</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>「Rakuten 最強プラン・Rakuten 最強プラン（データタイプ）」利用開始</p>
        <p id="PlanStart" class="c-Txt_Cap">【プラン利用開始日とは】</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
          （1）当社に配送完了データが通知された日<br>
          （2）プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 他社から乗り換え（MNP）の場合</span><br>
          プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
          プラン（SIMカード、eSIM）にて楽天モバイルの電波が利用できるようになった日</p>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01">■ 特典内容</p>
        <p class="c-Txt_Emp-01 u-Adjust_Mt-8">Rakuten GirlsAward 2024 SPRING/SUMMER最速先行受付（抽選販売）</p>
        <ul class="c-Cpn_List-mark-1">
          <li>キャンペーンについてのお問い合わせはこちら（<a href="https://ticket.faq.rakuten.net/s/" class="c-Link_Txt-inline" target="_blank">楽天チケット<span class="c-Icon_New-window-l"></span></a>）</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">お申し込みキャンセル</span>となった場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合<br>
          -プラン利用開始の手続き方法につきましては、<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001648/">こちら</a>のSIMカード版スタートガイドまたはeSIM版スタートガイドを参照ください</li>
        <li>チケット先行抽選お申し込みの際にログインした楽天IDが、楽天モバイルにご登録の楽天IDと同一でない場合</li>
        <li>楽天モバイルをご解約された場合</li>
        <li>楽天最強プラン利用開始がされなかった場合</li>
        <li>特典進呈までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典進呈の対象外となる場合がございます</li>
        <li>Rakuten GirlsAward2024 SPRING/SUMMERは2024年5月3日（金・祝）都内某所で開催予定です</li>
        <li>特典進呈のため、楽天IDを楽天モバイル株式会社と楽天チケット株式会社間で受け渡しいたします。あらかじめご了承ください</li>
        <li class="c-Txt_Emp-02">Rakuten 最強プラン・Rakuten 最強プラン（データタイプ）ご利用中の方が対象となります</li>
        <li>記載の内容は2023年9月30日（土）時点の情報となります</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>楽天チケット注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>キャンペーンについてのお問い合わせはこちら（<a href="https://ticket.faq.rakuten.net/s/" class="c-Link_Txt-inline" target="_blank">楽天チケット<span class="c-Icon_New-window-l"></span></a>）</li>
        <li>当選後のお支払いについて、クレジットカード決済を選択された方は、当選確定と同時に決済され、購入完了となります。コンビニ決済を選択された方は、支払期限内にチケット代金のお支払いをお願いいたします。</li>
        <li>支払期限内にお支払いが無い場合、当選は無効となります。</li>
        <li>抽選結果は2023年11月8日（水） 夕方以降にメールにて通知予定です。</li>
        <li>携帯電話等の受信設定でドメイン指定受信を設定している方は、必ず「@ticket.rakuten.co.jp」からのメールを事前に受信できるように設定してください。</li>
        <li>メールが届かない事により、申込が確認できない場合等でも責任は負いかねます。</li>
        <li>ご購入されたチケットは、理由の如何を問わず、取替・変更・キャンセルはお受けできません。</li>
        <li>購入時、チケット代の他にシステム利用料等、各種手数料が必要となります。</li>
        <li>中止等の場合、手数料は返金いたしませんので、予めご了承ください。</li>
        <li>チケットのお申込み・抽選結果についてのメールは、申込み時に入力したメールアドレスに送信されます。</li>
        <li>その他、チケットに関する注意事項は申込ページ内のイベント詳細を必ずお読みいただき、ご了承いただいた上でお申込みください。</li>
      </ul>
    </dd>
  </div>
</dl>