<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>2082</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p><span class="c-Txt_Emp-01">■ プランのお申し込み期間</span><br>
         Web　2023年11月2日（木）10:00～2023年11月11日（土）9:59
      </p>
      <p><span class="c-Txt_Emp-01">■ お買い物期間</span><br>
        2023年11月4日（土）20:00～2023年11月11日（土）1:59
      </p>
      <p><span class="c-Txt_Emp-01">■ プラン利用開始期限</span><br>
        2023年12月31日（日）23:59まで
      </p>
      <p><span class="c-Txt_Emp-01">■ 「Rakuten Link」利用期限</span><br>
        2023年12月31日（日）23:59まで
      </p>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p>
        上記各項目の期間内に【1】、【2】、【3】の条件をすべて満たした楽天会員の方
      </p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li class="c-Txt_Emp-01">特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【1】</span>本キャンペーンページの「お申し込みはこちら」ボタンより「Rakuten最強プラン」へ、下記（1）～（3）いずれかの方法にてお申し込み</p>
        <ul class="c-Cpn_List-ordered-lv2">
          <li>新規お申し込み</li>
          <li>他社からの乗り換え（MNP）でお申し込み</li>
          <li>楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）手続き後、お申し込み</li>
        </ul>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>「Rakuten UN-LIMIT VII」から「Rakuten最強プラン」への移行は対象外となります。</li>
        </ul>
        <p class="u-Adjust_Mt-16">【お申し込み時の注意事項】<br>
          ・キャンペーン特典の適用は、本ページの「お申し込みはこちら」ボタンからのお手続きが必要となります<br>
          ・お手続き中に時間超過等でセッションが切れた場合、再度本ページの「お申し込みはこちら」ボタンよりお手続きが必要になります<br>
          ・楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合は、キャンペーン特典の適用はございません。メンテナンスの終了後に改めてお申し込みください<br>
          ・楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、<a href="https://members-station.mobile.rakuten.co.jp/members/rmb/login?language=J&campaign=web-rakuten" class="c-Link_Txt-inline" target="_blank">メンバーズステーション<span class="c-Icon_New-window-l"></span></a>より、プラン変更（移行）した場合、キャンペーンの適用はございません<br>
          ・お手続き完了前に、「受け取りとお支払い方法」ページのお申し込み内容にて、クーポンコードが表示されることを必ずご確認ください</p>
          <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
            <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です。</li>
            <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から 「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
          </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【2】</span>「Rakuten最強プラン」利用開始</p>
        <p class="c-Txt_Cap">【プラン利用開始日とは】</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 新規お申し込みの場合　※（1）（2）のいずれか早い方がプラン利用開始日となります</span><br>
          （1）当社に配送完了データが通知された日<br>
          （2）プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 他社から乗り換え（MNP）の場合</span><br>
          プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8"><span class="c-Txt_Emp-01">- 楽天モバイル（ドコモ回線・au回線）の料金プランからプラン変更（移行）した場合</span><br>
          プラン（SIMカード、eSIM）にて「楽天モバイル」の提供が開始された日</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Cpn_Title-lv1"><span>【3】</span>「Rakuten Link」のご利用</p>
        <p>「Rakuten最強プラン」をお申し込みした回線で「Rakuten Link」を用いた発信で10秒以上の通話</p>
        <p class="u-Adjust_Mt-16">【Rakuten Link アプリご利用方法】<br>
          Rakuten Linkページの「<a href="https://service.link.link/guide/" target="_blank" class="c-Link_Txt-inline">使い方<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
        <p class="u-Adjust_Mt-16">【Rakuten Link利用履歴の確認方法】<br>
            「<a href="https://network.mobile.rakuten.co.jp/faq/detail/00001919/" target="_blank" class="c-Link_Txt-inline">キャンペーンにおけるRakuten Linkの利用について<span class="c-Icon_New-window-l"></span></a>」をご確認ください</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>電話の発信時、（0570）などの他社接続サービス、♯ダイヤル番号、プレフィックス番号を付けて発信した場合は、特典対象外となります</li>
          <li>特典はおひとり様1度のみ。楽天回線を初めてお申し込みいただいた場合に適用となります（2023年10月22日（日）10:00以降のRakuten最強プランお申し込み分より変更）</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p>上記お買い物期間中の楽天市場でのお買い物がポイント＋9倍</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>対象期間中の1ショップでのお買い物合計金額1,000円（税込）以上のみが＋9倍の対象です。</li>
          <li>獲得上限ポイント数：3,000ポイント</li>
          <li>特典付与の対象は、税別、送料別、クーポン適用後の金額です。</li>
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006644" target="_blank" class="c-Link_Txt-inline">注文に対して付与されるポイントの計算方法について<span class="c-Icon_New-window-l"></span></a></li>
          <li>楽天市場より付与するポイントについては、楽天市場のお買い物マラソンポイント最大44.5倍のイベントページをご確認ください。<a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002685" class="u-Show_Pc">詳しくはこちら</a><a href="https://ac.ebis.ne.jp/tr_set.php?argument=ZMhPE4GP&ai=rgp_mno_002686" class="u-Show_Sp">詳しくはこちら</a>。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p>2024年3月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p>ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532" target="_blank" class="c-Link_Txt-inline">期間限定ポイントについて<span class="c-Icon_New-window-l"></span></a></li>
          <li>有効期限までにポイントをご利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>対象サービス</dt>
    <dd>
      <p class="c-Txt_Emp-01">楽天市場</p>
      <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">対象：通常購入<br>対象外：予約購入、定期購入、頒布会</p>

      <p class="c-Txt_Emp-01 u-Adjust_Mt-24">楽天ふるさと納税</p>
      <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">対象：楽天ふるさと納税に関する寄付</p>

      <p class="c-Txt_Emp-01 u-Adjust_Mt-24">楽天ブックス</p>
      <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">対象：楽天ブックスの商品の購入（予約受付中商品も含む）、電子書籍の購入は「楽天Kobo電子書籍ストア」に適用、楽天ブックスでのダウンロード商品の購入</p>

      <p class="c-Txt_Emp-01 u-Adjust_Mt-24">楽天Kobo電子書籍ストア</p>
      <p class="u-Adjust_Mt-8 u-Adjust_Pl-16">対象：楽天Kobo電子書籍ストアでのご購入（予約受付中商品も含む）<br>対象外：<a href="https://kobo-free.books.rakuten.co.jp/" target="_blank" class="c-Link_Txt-inline">楽天Kobo 話読み<span class="c-Icon_New-window-l"></span></a>、<a href="https://www.kobo.com/" target="_blank" class="c-Link_Txt-inline">https://www.kobo.com<span class="c-Icon_New-window-l"></span></a>、楽天Kobo電子書籍リーダー内からのお買い物</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>楽天市場、楽天ふるさと納税、楽天ブックス、楽天Kobo電子書籍ストア以外のサービスは対象外です</li>
        <li>PC・スマホ・アプリからのご購入が対象です</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、特典適用対象外となります</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>本ルールに記載の併用可能キャンペーンを除き、本キャンペーンより付与ポイント数やクーポン割引額が多いRakuten最強プランお申し込みでポイントまたはクーポンプレゼントキャンペーンが適用となった場合（複数の Rakuten最強プランお申し込みでポイントまたはクーポンプレゼントキャンペーンの対象となった場合、付与ポイント数やクーポン割引額が一番多いキャンペーンのみが適用されます。）</li>
        <li>本ページの「お申し込みはこちら」ボタン以外からお申し込みされた場合</li>
        <li>本ページの「お申し込みはこちら」ボタンよりお手続き中に時間超過等でセッションが切れた場合</li>
        <li>楽天モバイルお申し込み画面がメンテナンス中に申し込んだ場合</li>
        <li>楽天モバイル（ドコモ回線・au回線）をお使いのお客様が、メンバーズステーション経由でプラン変更（移行）した場合</li>
        <li>お申し込み途中で、他のお申し込みボタンからお申し込みを開始したり、ブラウザ、スマートフォンやパソコンを変えるなどして「受け取りとお支払い方法」ページのお申し込み内容で、クーポンコードが表示されていない場合<br>
            クーポンコードは、キャンペーンページの「クーポンコード」に記載の14桁の英数字です</li>
        <li>お申し込み途中で、クーポンを解除した場合</li>
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>過去に同一名義で楽天モバイル回線（Rakuten UN-LIMIT V、Rakuten UN-LIMIT VI含む）をご契約いただいたことがある場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により申し込みキャンセルとなった場合</li>
        <li>「Rakuten最強プラン」の利用開始がされなかった場合<br>
          -プラン利用開始の手続き方法につきましては、こちらの<a href="<%= sitepath %>assets/pdf/product/STARTGUIDE-SIM-CARD.pdf?240321">SIMカード版スタートガイド</a>または<a href="<%= sitepath %>assets/pdf/product/STARTGUIDE-eSIM.pdf?240216">eSIM版スタートガイド</a>を参照ください</li>
        <li>期限までに「Rakuten Link」を利用されなかった場合</li>
        <li>上記対象サービス以外で購入した場合</li>
        <li>ゲーム機本体、ゲームソフト等、転売行為が多く見られる商品について、同一商品を転売・換金目的で複数注文したと判断された場合</li>
        <li>同一人物による複数の利用登録、または利用登録の内容に不備・虚偽等があった場合</li>
        <li>不正行為、利用規約違反、その他運営上の趣旨に反していると弊社が合理的に判断した場合は、キャンペーン対象外とし、特典の返還または特典に相当する金額のお支払いを求める場合があります。</li>
        <li>楽天モバイルにご登録の楽天ID、楽天市場でお買い物時の楽天IDが同一でない場合</li>
        <li>ポイント付与までに楽天会員から退会している場合</li>
        <li>当社または楽天グループ株式会社が定める規約などに違反した場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」をお申し込みした場合</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」のご契約が過去にある場合</li>
        <li>そのほか、当社が会員として不適格であると合理的に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下のキャンペーンは併用可能となります。以下記載のキャンペーン以外は併用不可となります。</p>
      <p class="u-Adjust_Mt-8">【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えで6,000ポイントプレゼント（キャンペーンコード：2091）</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li class="c-Txt_Emp-01">「【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えで6,000ポイントプレゼント」の適用回数が、おひとり様1契約1回を超える場合は対象外となります。</li>
        <li>ほかのキャンペーンが優先的に適用されている場合、上記キャンペーンが併用できない場合があります。</li>
        <li>「Rakuten最強プラン（データタイプ）」のご契約が過去にある場合は対象外となります。</li>
      </ul>
      <p class="u-Adjust_Mt-8">【楽天モバイル】Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）</p>
      <ul class="c-Cpn_List-mark-1 c-Txt_Cap">
        <li>【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えで6,000ポイントプレゼント（キャンペーンコード：2091）とは併用不可となります。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0 c-Txt_Cap">
        <li>楽天市場の<a href="https://ichiba.faq.rakuten.net/detail/000006866">キャンペーンにおける注意事項</a>を必ずお読みください</li>
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント付与の対象外となる場合がございます</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」は対象外です</li>
        <li class="c-Txt_Emp-02">「Rakuten最強プラン（データタイプ）」から 「Rakuten最強プラン」へプラン変更した場合は対象外です</li>
        <li>記載の内容は2023年11月2日（木）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>