<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1982</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 製品のご購入期間</p>
      <ul class="c-Cpn_List-mark-2-normal">
        <li>店舗（楽天モバイルショップ）　2023年7月1日（土）開店～2023年8月31日（木）閉店</li>
      </ul>
      <ul class="c-Cpn_List-mark-1">
        <li>上記期間中にご購入を完了させる必要があります。</li>
        <li>例）8月に来店予約をし、9月以降に店頭でご購入された方は対象外となります。</li>
        <li>2023年8月18日（金）に終了日を終了日未定から2023年8月31日（木）閉店に変更しました。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">上記項目の期間内に以下の条件をすべて満たした楽天会員の方</p>
      <ul class="c-Cpn_List-mark-1">
        <li class="c-Txt_Emp-02">お一人様１回限りの適用となります。</li>
      </ul>
      <p class="u-Adjust_Mt-16">店舗（楽天モバイルショップ）にて、 iPhone 14 128GB を「iPhoneアップグレードプログラム」適用でご購入</p>
      <ul class="c-Cpn_List-mark-1">
        <li>ヨドバシカメラの楽天モバイルショップではご自宅への後日発送となります。製品を店頭でお受け取りいただけませんので、あらかじめご了承ください。</li>
        <li>楽天モバイルiPhoneアップグレードプログラムのお申し込みは、18歳以上のお客様が対象です。18歳未満のお客様からのお申し込みは受け付けておりません。</li>
        <li>楽天モバイルiPhoneアップグレードプログラムのお支払いは、お申し込み時、ご利用中ともに、ご契約者本人の楽天カードのみご利用いただけます。楽天カード以外のカード、およびご契約者以外の方ご名義のカードはご利用いただけませんので、ご注意ください。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">44,731ポイントプレゼント</p>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">製品ご購入月の翌々月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li>例）7月にすべての条件を達成した場合には、その翌々月である9月末日ごろにポイント付与となります</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>「【ショップ限定】iPhone 14 128GBポイントバックキャンペーン」の適用回数が、おひとり様1回を超える場合は対象外となります</li>
        <li>楽天モバイルショップ以外で購入した場合</li>
        <li>ご契約者 本人／利用者確認の不備や、MNPの手続きの不備等により<span class="c-Txt_Emp-01">申し込みキャンセル</span>となった場合</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格である</span>と判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用可能キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下のキャンペーンは併用可能となります。</p>
      <ul class="c-Cpn_List-mark-2">
        <li>【Rakuten最強プランお申し込み特典】だれでも3,000ポイントプレゼント（キャンペーンコード：1526）</li>
        <li>iPhone 対象端末ポイントバックキャンペーン（キャンペーンコード：1819）</li>
        <li>楽天モバイルもう1回線追加お申し込みで3,000ポイントプレゼント（キャンペーンコード：1896）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-01">本キャンペーンを適用した場合、以下のキャンペーン特典は対象外となります。</p>
      <ul class="c-Cpn_List-mark-2">
        <li>リワード広告キャンペーン（キャンペーンコード：1755）</li>
        <li>Rakuten最強プラン紹介キャンペーン（キャンペーンコード：1784）</li>
        <li>【ショップ限定】対象製品と楽天回線同時申込でさらに3,000ポイントキャンペーン（キャンペーンコード：1825）</li>
        <li>【ショップ限定】iPhone対象機種 10,000ポイント還元キャンペーン（キャンペーンコード：1888）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li>iPhoneのご購入時にネット接続を確認させていただきます。同意いただけない場合、販売をお断りさせていただきます。ご了承ください</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます。</li>
        <li>記載の内容は2023年8月18日（金）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
