<dl class="c-Dl_Origin">
  <div>
    <dt>キャンペーンコード</dt>
    <dd>
      <p>1980</p>
      <ul class="c-Cpn_List-mark-1">
        <li>本キャンペーンに関してお問い合わせの際は、上記「キャンペーンコード」をお伝えください</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン期間</dt>
    <dd>
      <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 製品のご購入期間</p>
      <ul class="c-Cpn_List-mark-2-normal">
        <li>Web　2023年7月4日（火）9:00～終了日未定</li>
        <li>店舗（楽天モバイルショップ）　2023年7月4日（火）開店～終了日未定</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン条件</dt>
    <dd>
      <p class="c-Txt_Emp-02">上記各項目の期間内に以下の条件を満たした楽天会員の方</p>
      <ul class="c-Cpn_List-mark-1">
        <li class="c-Txt_Emp-02">おひとり様１回限りの適用となります。</li>
        <li class="c-Txt_Emp-02">複数台ご購入された場合、ポイントが最大の製品分のみ付与となります。</li>
      </ul>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01">対象製品いずれかをご購入</p>
        <ul class="u-Adjust_Mt-8">
          <li><s>Xperia 10 IV</s></li>
          <li>OPPO A55s 5G</li>
        </ul>
      </div>
      <ul class="c-Cpn_List-mark-1">
        <li>Xperia 10 IVは2023年10月11日9:00に販売終了しました。</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>キャンペーン特典 （楽天ポイント）</dt>
    <dd>
      <div>
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ 特典内容</p>
        <p class="c-Txt_Emp-01">
          <s>Xperia 10 IVをご購入で25,000ポイントプレゼント</s>
          <br>
          OPPO A55s 5Gをご購入で6,699ポイントプレゼント
      </p>
        <ul class="c-Cpn_List-mark-1">
          <li>Xperia 10 IVは2023年10月11日9:00に販売終了しました。</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント付与日</p>
        <p class="c-Txt_Emp-01">製品ご購入月の翌々月末日ごろに付与</p>
        <ul class="c-Cpn_List-mark-1">
          <li>例）7月に購入した場合には、その翌々月である9月末日ごろにポイント付与となります</li>
          <li>楽天ポイントの付与は、楽天モバイルより行います</li>
          <li>権利の譲渡はできません</li>
        </ul>
      </div>
      <div class="u-Adjust_Mt-16">
        <p class="c-Txt_Emp-01 u-Adjust_Mb-8">■ ポイント有効期間</p>
        <p class="c-Txt_Emp-01">ポイント付与日を含めて6カ月</p>
        <ul class="c-Cpn_List-mark-1">
          <li><a href="https://ichiba.faq.rakuten.net/detail/000006532">期間限定ポイントについて</a></li>
          <li>有効期限までにポイントを利用いただいた場合でも、有効期限以降にキャンセルや金額修正などが生じた場合には返還されません</li>
        </ul>
      </div>
    </dd>
  </div>
  <div>
    <dt>特典適用対象外</dt>
    <dd>
      <p class="c-Txt_Emp-01">以下の条件に当てはまる場合は、<span class="c-Txt_Emp-02">特典適用対象外</span>となります</p>
      <ul class="c-Cpn_List-mark-1">
        <li>当社の提供するサービスなどの料金のお支払いが、お支払い期限までに行われず、未納・未払いが発生した場合</li>
        <li>「【Android対象製品限定】ガンガン！ポイント還元キャンペーン（キャンペーンコード：1980）」のご利用が、おひとり様1回を超える場合は対象外となります</li>
        <li>楽天モバイルショップ、楽天モバイルオンライン以外で購入した場合</li>
        <li>ポイント付与までに楽天会員から<span class="c-Txt_Emp-01">退会</span>している場合</li>
        <li>当社または楽天グループ株式会社が定める<span class="c-Txt_Emp-01">規約などに違反</span>した場合</li>
        <li>不正利用、不正転売などの目的で本キャンペーンを適用、またはそのおそれがあると当社がみなした場合</li>
        <li>そのほか、<span class="c-Txt_Emp-01">当社が会員として不適格であると合理的</span>に判断した場合</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>併用不可キャンペーン</dt>
    <dd>
      <p class="c-Txt_Emp-02">以下のキャンペーンは併用不可となります</p>
      <ul class="c-Cpn_List-mark-2">
        <li>Rakuten Hand 5G/Rakuten WiFi Pocket 1円キャンペーン（キャンペーンコード：1875）</li>
      </ul>
    </dd>
  </div>
  <div>
    <dt>注意事項</dt>
    <dd>
      <ul class="c-Cpn_List-mark-1 u-Adjust_Mt-0">
        <li>本キャンペーンは予告なく内容の変更、中止もしくは延長させていただく場合があります。あらかじめご了承ください</li>
        <li>本キャンペーンの特典付与対象者は、同時期に行われているほかのキャンペーンの対象から除外、または特典総額が景品表示法・電気通信事業法の範囲内に制限される場合があります</li>
        <li>製品の台数には限りがございます。なくなり次第終了とさせていただく場合があります</li>
        <li>本キャンペーンの対象者以外への転送などの不正利用、不正転売などの違反が見つかった場合や弊社が不正と判断した場合は、特典ポイント進呈の対象外となる場合がございます</li>
        <li>記載の内容は2023年10月11日（水）時点の情報となります</li>
      </ul>
    </dd>
  </div>
</dl>
