<% const pagetitle = "はじめてのユーザガイド 楽天モバイル活用術「かんたん！便利な機能を使いこなす編」" -%>
<% const directories = [] -%>
<% const namespace = "tips" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  // directories: directories,
  description: 'Rakuten UN-LIMIT VIIご契約者だけの便利な情報。楽天モバイルご契約後に抑えておきたい使いこなすべきサービスをご紹介します。まだ使っていない便利なアプリや機能をお見逃しなく。',
  keywords: '',
  noindex: true,
  pathname: filepath,
  redirect: {url: 'tips/1st-step-feature/'},
});
%>
</head>

<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/_append-body') %>
</body>
</html>
