<% const {namespace, stageId} = rankData -%>
<div class="u-Adjust_Mt-24">  
  <p class="c-Txt_Cap c-Txt_Emp <%= namespace %>-Flow_Emp-01">※ 初期登録費、工事費、オプション費用は特典対象外。初期費用は開通月翌月のご利用分に合算。開通月の月額基本料は無料。契約期間中（3年ごとに更新）は契約解除料10,450円が発生。</p>
  <p class="c-Txt_Cap">※ 楽天ひかり（マンションプランまたはファミリープラン）の月額基本料が開通月から最大12カ月間無料。13カ月目以降はマンションプラン月額基本料3,800円（税込4,180円）、ファミリープラン月額基本料4,800円（税込5,280円）。楽天モバイル(Rakuten UN-LIMIT VI）を利用中、または楽天ひかりお申し込みの翌月15日までに新規お申し込みの方が対象。楽天ひかりお申し込み時にログインされた楽天IDが楽天モバイルへ登録されているものと異なる場合、または登録の楽天IDを変更した場合特典対象外。</p>
  <p class="c-Txt_Cap c-Txt_Emp <%= namespace %>-Flow_Emp-01">※ 楽天ひかりを開通で、期間限定ポイントを進呈。詳細条件はページ下部のキャンペーンルール参照。</p>
</div>
<a href="#rule" class="c-Link_Txt-icon-front u-Adjust_Mt-16 js-scroll" data-ratid="rhk_rank_<%= stageId %>_rule_03" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Arrow-down-l"></span>キャンペーン詳細を見る</a>