<% const pagetitle = "メンテナンスのお知らせ" -%>
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title><%= pagetitle %> | 楽天モバイル</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="楽天モバイル">
<meta name="format-detection" content="telephone=no">
<link rel="icon" href="/favicon.ico?yymmdd">
<style>
  body { margin: 0; padding: 0; font-family: sans-serif;}
  #s-Header { padding: 18px 16px 10px; background: #F7F7F7; box-sizing: border-box;}
  #s-Header > div { max-width: 1064px; width: 100%; margin: 0 auto;}
  #s-Footer { padding: 20px 0; text-align: center; position: absolute; bottom: 0; width: 100%; box-sizing: border-box;}
  #s-Container { max-width: 1064px; width: 100%; margin: 0 auto; padding: 0 16px; box-sizing: border-box; text-align: center;}
  h1 { margin: 80px 0 24px; font-size: 34px; font-weight: bold; color: #FF008C; }
  small { font-size: 12px; color : #676767;}
  .s-Btn { margin-top: 64px; }
  .s-Btn > a { display: inline-block; width: 100%; position: relative; text-align: center; border-radius: 4px; background-color: #FF008C; color: #FFFFFF; font-size: 18px; font-weight: 700; text-decoration: none; padding: 16px; width: 100%; max-width: 500px; line-height: 1.2; box-sizing: border-box; }
  @media screen and (max-width: 768px) { #s-Logo_L { display: none;}}
  @media screen and (min-width: 769px) { #s-Logo_S { display: none;}}
</style>
</head>
<body>

<header id="s-Header">
  <div id="s-Logo_S">
    <svg width="60" height="32" viewbox="0 0 60 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M45.8365 15.2473H11.3861L14.1337 18L45.8365 15.2473Z" fill="#000037"/>
      <path d="M51.3397 13.4906V7.98103C51.3397 6.94772 52.0482 6.07561 53.0781 6.07561C54.1079 6.07561 54.8164 6.94772 54.8164 7.98103V13.4906H56.9379V7.98103C56.9379 5.72015 55.3973 3.88086 53.144 3.88086C52.1018 3.88086 51.3397 4.45951 51.3397 4.45951V4.11232H49.2182V13.4906H51.3397Z" fill="#000037"/>
      <path d="M44.3119 3.87256C41.8567 3.87256 40.0936 6.03837 40.0936 8.79938C40.0936 11.705 42.3057 13.7262 44.522 13.7262C45.6424 13.7262 47.076 13.3418 48.2788 11.6265L46.4045 10.5395C44.9545 12.6846 42.5405 11.5934 42.2604 9.45243H48.3695C48.8967 6.08797 46.7258 3.87256 44.3119 3.87256ZM46.1656 7.59247H42.3428C42.7918 5.39359 45.7537 5.26959 46.1656 7.59247Z" fill="#000037"/>
      <path d="M39.414 11.2711C39.2245 11.3992 38.9814 11.5025 38.7054 11.5025C38.3594 11.5025 37.7044 11.238 37.7044 10.3535V6.34013H39.5169V4.11232H37.7044V1.77704H35.5829V4.11232H34.4625V6.34013H35.5829V10.3866C35.5829 12.4821 37.1565 13.7304 38.7384 13.7304C39.3275 13.7304 40.1472 13.5361 40.8145 13.1393L39.414 11.2711Z" fill="#000037"/>
      <path d="M31.575 4.1123V9.62191C31.575 10.6552 30.8665 11.5273 29.8367 11.5273C28.8068 11.5273 28.0983 10.6552 28.0983 9.62191V4.1123H25.9768V9.62191C25.9768 11.8828 27.5175 13.7221 29.7708 13.7221C30.813 13.7221 31.575 13.1434 31.575 13.1434V13.4906H33.6965V4.1123H31.575Z" fill="#000037"/>
      <path d="M21.9767 8.51009L25.6141 4.11233H22.6399L20.0941 7.37758V1H17.9108V13.4906H20.0941V9.63846L23.2248 13.4906H26.1949L21.9767 8.51009Z" fill="#000037"/>
      <path d="M14.5785 4.11234V4.52979C13.94 4.1206 13.3633 3.88501 12.5806 3.88501C10.1667 3.88501 8.33356 6.09216 8.33356 8.80356C8.33356 11.515 10.1667 13.7221 12.5806 13.7221C13.3674 13.7221 13.94 13.4865 14.5785 13.0773V13.4948H16.7V4.11234H14.5785ZM12.5806 11.4612C11.3901 11.4612 10.5209 10.2874 10.5209 8.79943C10.5209 7.3156 11.3943 6.13762 12.5806 6.13762C13.7711 6.13762 14.6115 7.3156 14.6115 8.79943C14.6115 10.2874 13.7711 11.4612 12.5806 11.4612Z" fill="#000037"/>
      <path d="M2.22035 13.4906V9.8575H3.78983L6.50862 13.4906H9.28509L6.00194 9.10525C7.02355 8.36953 7.695 7.1709 7.695 5.81106C7.695 3.58325 5.8866 1.77289 3.66625 1.77289H0V13.4906H2.22035ZM2.22035 4.0007H3.66625C4.66314 4.0007 5.47878 4.81495 5.47878 5.81519C5.47878 6.81957 4.66314 7.63382 3.66625 7.63382H2.22035V4.0007Z" fill="#000037"/>
      <path d="M41.445 29.2422C40.6829 30.445 39.4429 31.0939 37.8776 31.0939C35.4677 31.0939 33.7747 29.1554 33.7747 26.3985C33.7747 23.6541 35.3812 21.7445 37.7087 21.7445C39.8672 21.7445 41.5562 23.6417 41.5562 26.0596C41.5562 26.2993 41.5438 26.4853 41.4985 26.754H35.1258C35.1958 27.7873 35.4636 28.4775 36.028 29.0893C36.5346 29.639 37.1979 29.9531 37.8734 29.9531C39.0022 29.9531 39.9331 29.4034 40.3945 28.4527L41.445 29.2422ZM40.1062 25.6049C39.9949 23.9641 39.0351 22.8894 37.7252 22.8894C36.8518 22.8894 36.0609 23.3565 35.5954 24.1335C35.34 24.5716 35.2164 24.9519 35.1464 25.6049H40.1062Z" fill="#000037"/>
      <path d="M31.295 30.8665V19H32.5638V30.8665H31.295Z" fill="#000037"/>
      <path d="M28.3416 20.8517V19.3844H29.8081V20.8558H28.3416V20.8517ZM28.4404 30.8665V21.9553H29.7092V30.8665H28.4404Z" fill="#000037"/>
      <path d="M20.7451 23.0464C21.3918 22.1702 22.2116 21.7445 23.295 21.7445C25.6224 21.7445 27.229 23.6416 27.229 26.4109C27.229 29.1967 25.6348 31.0938 23.295 31.0938C22.2816 31.0938 21.4783 30.7136 20.7986 29.8911L20.6009 30.8665H19.4722V19H20.7409V23.0464H20.7451ZM20.7039 26.4109C20.7039 28.432 21.7873 29.9035 23.2826 29.9035C24.7779 29.9035 25.8778 28.432 25.8778 26.4233C25.8778 24.4021 24.7779 22.9307 23.2702 22.9307C21.7873 22.9307 20.7039 24.4021 20.7039 26.4109Z" fill="#000037"/>
      <path d="M18.2657 26.4109C18.2657 29.1967 16.6715 31.0939 14.3193 31.0939C11.9671 31.0939 10.3729 29.1967 10.3729 26.4109C10.3729 23.6251 11.9795 21.7445 14.3358 21.7445C16.6591 21.7445 18.2657 23.6541 18.2657 26.4109ZM11.7241 26.4109C11.7241 28.4321 12.824 29.9035 14.3193 29.9035C15.8146 29.9035 16.9145 28.4321 16.9145 26.4233C16.9145 24.3856 15.8311 22.9307 14.3069 22.9307C12.824 22.9307 11.7241 24.4022 11.7241 26.4109Z" fill="#000037"/>
      <path d="M9.16151 19.7357V30.8665H7.89274V21.3353L4.58076 26.754L1.26877 21.3353V30.8665H0V19.7357H1.70543L4.58076 24.5013L7.45609 19.7357H9.16151Z" fill="#000037"/>
    </svg>
  </div>
  <div id="s-Logo_L">
    <svg width="157" height="26" viewbox="0 0 157 26" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M156.828 16.619C155.655 18.4586 153.747 19.451 151.337 19.451C147.628 19.451 145.022 16.4863 145.022 12.2699C145.022 8.07247 147.495 5.15198 151.077 5.15198C154.4 5.15198 156.999 8.05351 156.999 11.7515C156.999 12.1182 156.98 12.4026 156.911 12.8135H147.102C147.209 14.3939 147.622 15.4496 148.49 16.3851C149.27 17.2259 150.291 17.7063 151.331 17.7063C153.068 17.7063 154.501 16.8656 155.211 15.4116L156.828 16.619ZM154.768 11.0562C154.596 8.54658 153.119 6.90301 151.103 6.90301C149.758 6.90301 148.541 7.61733 147.825 8.80576C147.431 9.47583 147.241 10.0574 147.133 11.0562H154.768Z" fill="#000037"/>
      <path d="M141.205 19.1033V0.954529H143.158V19.1033H141.205Z" fill="#000037"/>
      <path d="M136.659 3.78652V1.54242H138.916V3.79284H136.659V3.78652ZM136.811 19.1033V5.47434H138.764V19.1033H136.811Z" fill="#000037"/>
      <path d="M124.967 7.1432C125.962 5.80306 127.224 5.15195 128.891 5.15195C132.474 5.15195 134.947 8.05348 134.947 12.2888C134.947 16.5495 132.493 19.451 128.891 19.451C127.332 19.451 126.095 18.8694 125.049 17.6115L124.745 19.1033H123.007V0.954529H124.96V7.1432H124.967ZM124.903 12.2888C124.903 15.38 126.571 17.6304 128.872 17.6304C131.174 17.6304 132.867 15.38 132.867 12.3078C132.867 9.21662 131.174 6.9662 128.853 6.9662C126.571 6.9662 124.903 9.21663 124.903 12.2888Z" fill="#000037"/>
      <path d="M121.15 12.2889C121.15 16.5495 118.697 19.451 115.076 19.451C111.456 19.451 109.002 16.5495 109.002 12.2889C109.002 8.02822 111.475 5.15198 115.101 5.15198C118.678 5.15198 121.15 8.07247 121.15 12.2889ZM111.081 12.2889C111.081 15.38 112.774 17.6305 115.076 17.6305C117.378 17.6305 119.071 15.38 119.071 12.3078C119.071 9.19136 117.403 6.96623 115.057 6.96623C112.774 6.96623 111.081 9.21665 111.081 12.2889Z" fill="#000037"/>
      <path d="M107.137 2.07971V19.1033H105.184V4.5261L100.086 12.8135L94.9884 4.5261V19.1033H93.0355V2.07971H95.6605L100.086 9.36831L104.512 2.07971H107.137Z" fill="#000037"/>
      <path d="M70.5522 21.7899H17.5256L21.7548 26L70.5522 21.7899Z" fill="#000037"/>
      <path d="M79.0229 19.1033V10.6769C79.0229 9.0965 80.1135 7.76268 81.6986 7.76268C83.2838 7.76268 84.3743 9.0965 84.3743 10.6769V19.1033H87.6398V10.6769C87.6398 7.21904 85.2684 4.40601 81.8 4.40601C80.1959 4.40601 79.0229 5.291 79.0229 5.291V4.76001H75.7574V19.1033H79.0229Z" fill="#000037"/>
      <path d="M68.2056 4.39337C64.4266 4.39337 61.7128 7.7058 61.7128 11.9285C61.7128 16.3725 65.1177 19.4636 68.5289 19.4636C70.2536 19.4636 72.4601 18.8757 74.3116 16.2524L71.4266 14.5898C69.1947 17.8706 65.4791 16.2018 65.0479 12.9273H74.4511C75.2627 7.78165 71.9212 4.39337 68.2056 4.39337ZM71.0588 10.0826H65.1747C65.8659 6.71965 70.4248 6.53001 71.0588 10.0826Z" fill="#000037"/>
      <path d="M60.6666 15.7087C60.3749 15.9047 60.0008 16.0627 59.576 16.0627C59.0434 16.0627 58.0352 15.6581 58.0352 14.3054V8.16726H60.8251V4.76002H58.0352V1.18842H54.7698V4.76002H53.0452V8.16726H54.7698V14.3559C54.7698 17.5609 57.1919 19.47 59.6267 19.47C60.5334 19.47 61.7952 19.1729 62.8224 18.566L60.6666 15.7087Z" fill="#000037"/>
      <path d="M48.6008 4.76001V13.1865C48.6008 14.7668 47.5102 16.1006 45.925 16.1006C44.3399 16.1006 43.2493 14.7668 43.2493 13.1865V4.76001H39.9839V13.1865C39.9839 16.6443 42.3553 19.4573 45.8236 19.4573C47.4278 19.4573 48.6008 18.5723 48.6008 18.5723V19.1033H51.8662V4.76001H48.6008Z" fill="#000037"/>
      <path d="M33.8268 11.486L39.4256 4.76003H34.8476L30.9291 9.75395V0H27.5686V19.1033H30.9291V13.2118L35.748 19.1033H40.3196L33.8268 11.486Z" fill="#000037"/>
      <path d="M22.4395 4.76003V5.3985C21.4567 4.77267 20.569 4.41235 19.3643 4.41235C15.6487 4.41235 12.8271 7.78799 12.8271 11.9348C12.8271 16.0817 15.6487 19.4573 19.3643 19.4573C20.5754 19.4573 21.4567 19.097 22.4395 18.4712V19.1097H25.7049V4.76003H22.4395ZM19.3643 15.9995C17.5319 15.9995 16.194 14.2042 16.194 11.9285C16.194 9.65913 17.5382 7.85753 19.3643 7.85753C21.1968 7.85753 22.4902 9.65913 22.4902 11.9285C22.4902 14.2042 21.1968 15.9995 19.3643 15.9995Z" fill="#000037"/>
      <path d="M3.41759 19.1033V13.5468H5.83337L10.0182 19.1033H14.2918L9.23828 12.3963C10.8108 11.2711 11.8443 9.43784 11.8443 7.3581C11.8443 3.95085 9.06074 1.18207 5.64315 1.18207H0V19.1033H3.41759ZM3.41759 4.58931H5.64315C7.17758 4.58931 8.43302 5.83463 8.43302 7.36442C8.43302 8.90052 7.17758 10.1458 5.64315 10.1458H3.41759V4.58931Z" fill="#000037"/>
    </svg>
  </div>
</header>

<div id="s-Container">
  <h1>エラーが発生しました</h1>
  <p>お手数ですが、下記よりお申し込みを再開してください。</p>
  <div class="s-Btn">
    <a href="https://portal.mobile.rakuten.co.jp/plans/?l-id=portal_error_onboarding_plan">お申し込みを再開する</a>
  </div>
</div>

<footer id="s-Footer">
  <small>&copy; Rakuten Mobile, Inc.</small>
</footer>
</body>
</html>


