<% const pagetitle = "チャットでお問い合わせ" -%>
<% const directories = [{path:"inquiry/", label:"お問い合わせ"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    // directories: directories,
    description: 'こちらはお申し込み前の方のお問い合わせ先となります。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'inquiry/chat_contact/'},
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
