<% const pagetitle = "楽天モバイル 二子玉川店" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: false,
    pathname: filepath
  });
%>
<%- include('/include/_common-css') %>
<%- include('/include/shop/_category-css') %>
</head>
<body>

  <section class="shop-Layout_Section">
    <div class="c-Infobox_Standing-border">
      <h2 class="c-Heading_Lv4 u-Adjust_Mt-8">お知らせ/ご案内</h2>
      <ul class="shop-Detail_News">
        <li><span class="shop-Detail_News-heading">受付時間につきまして</span>
          <a href="#">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</a>
        </li>
        <li><span class="shop-Detail_News-heading">一部端末のお取り扱いについて</span>
          テキストテキストテキストテキストテキストテキスト<a href="#">テキストテキスト</a>
        </li>
        <li><span class="shop-Detail_News-heading">一部端末のお取り扱いについて</span>
          テキストテキストテキストテキストテキストテキスト<a href="#">テキストテキスト</a>
        </li>
        <%- include('/shop/include/_shop-detail') %>
      </ul>
    </div>
  </section>

</body>
</html>
