<% const pagetitle = "Identification documents (For Japanese nationals)" -%>
<% const directories = [{path:"support/", label:"Support"}, {path:"support/application/verification/", label:"Identity verification"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'We provide information on the identification documents required for application for Japanese national customers.',
    noindex: true,
    pathname: filepath,
    isEnglish: true,
    redirect: {url: 'guide/verify/en/'}
  });
%>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/_append-body') %>
</body>
</html>
