<div class="l-System_Container">
  <h2 class="c-Heading_Lv2 u-Adjust_Mt-32">おすすめオプション</h2>
  <ul class="accessory-common-Layout_List">
    <li>
      <div class="c-Infobox_Standing-light u-Adjust_Mt-8">
        <div class="accessory-common-Layout_Grid">
            <div class="l-Media_Image">
              <figure><img src="<%= sitepath %>assets/img/product/img-service-replacement.png?211014" alt=""></figure>
            </div>
            <div>
              <p class="c-Txt_Emp-01 c-Txt_Normal-m u-Adjust_Mt-8">
                <a href="<%= sitepath %>service/replacement-warranty-plus/?l-id=product_accessory_replacement-warranty-plus">スマホ交換保証プラス</a>
              </p>
              <p class="c-Txt_Emp-02 u-Adjust_Mt-8">加入できるのは購入時のみ</p>
              <p class="u-Adjust_Mt-8">故障・紛失時に新品同等の同一機種に交換！最短当日中※にお届け</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※ 対象地域：東京／神奈川／千葉／埼玉</p>
            </div>
        </div>
      </div>
    </li>
    <li>
      <div class="c-Infobox_Standing-light u-Adjust_Mt-8">
        <div class="accessory-common-Layout_Grid">
            <div class="l-Media_Image">
              <figure><img src="<%= sitepath %>assets/img/product/img-service-tradein-230222.png" alt=""></figure>
            </div>
            <div>
              <p class="c-Txt_Emp-01 c-Txt_Normal-m u-Adjust_Mt-8">
                <a href="<%= sitepath %>service/tradein/?l-id=product_accessory_smartphone-detail_service_tradein">スマホ下取りサービス</a>
              </p>
              <p class="c-Txt_Emp-02 u-Adjust_Mt-8">HTC U12+ を下取りに出すと、最大22,500円相当になります。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※楽天モバイルの128GBを下取りに出した場合</p>
              <p class="c-Txt_Cap">※下取り金額は電子マネーの楽天キャッシュで受け取ることができます。</p>
            </div>
        </div>
      </div>
    </li>
  </ul>
</div>
