<div class="l-System_Container">
  <h2 class="c-Heading_Lv2 u-Adjust_Mt-40">おすすめオプション</h2>
  <ul class="product-top-Layout_List">
    <li>
      <div class="c-Theme-Light">
        <p class="c-Txt_Emp-01 c-Txt_Normal-m">
          <a href="<%= sitepath %>service/replacement-warranty-plus/?l-id=product_accessory_replacement-warranty-plus" class="c-Link_Txt">スマホ交換保証プラス</a>
        </p>
          <div class="product-top-Layout_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <figure><img src="<%= sitepath %>assets/img/product/img-service-replacement-v2.png?220422" alt=""></figure>
            </div>
            <div>
              <p class="c-Txt_Emp-02">加入できるのは購入時のみ</p>
              <p class="u-Adjust_Mt-8">故障・紛失時に新品同等の同一機種に交換！最短当日中※にお届け</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※対象地域：東京／神奈川／千葉／埼玉</p>
            </div>
        </div>
      </div>
    </li>
    <li>
      <div class="c-Theme-Light">
        <p class="c-Txt_Emp-01 c-Txt_Normal-m">
          <a href="<%= sitepath %>service/tradein/?l-id=product_accessory_service_tradein" class="c-Link_Txt">スマホ下取りサービス<br>（Apple Watch・iPadも対象）</a>
        </p>
          <div class="product-top-Layout_Grid u-Adjust_Mt-16">
            <div class="l-Media_Image">
              <figure><img src="<%= sitepath %>assets/img/product/img-service-tradein-230222.png" alt=""></figure>
            </div>
            <div>
              <p class="c-Txt_Emp-02 u-Adjust_Mt-8">Google Pixel Fold を下取りに出すと、最大91,000円相当になります。</p>
              <p class="c-Txt_Cap u-Adjust_Mt-8">※docomoの256GBを下取りに出した場合</p>
              <p class="c-Txt_Cap">※下取り金額は電子マネーの楽天キャッシュで受け取ることができます。</p>
              <p class="c-Txt_Cap">※上記下取り金額は2024年3月15日時点のものとなります。</p>
            </div>
        </div>
      </div>
    </li>
  </ul>
</div>
