<%

campaignRulesMaster2024 = {
  r2150 : {
    id: '2150',
    end: false,
    title: '抽選で茨城ロボッツグッズが当たる！キャンペーン',
    comments: '',
  },
  r2179 : {
    id: '2179',
    end: false,
    title: '【#なぜ今楽天モバイル】楽天モバイル公式X（旧Twitter）キャンペーン',
    comments: '',
  },
  r2172 : {
    id: '2172',
    end: false,
    title: 'お買いものパンダグッズがその場で当たる！スピードくじ',
    comments: '',
  },
  r2180 : {
    id: '2180',
    end: false,
    title: '楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '',
  },
  r2181 : {
    id: '2181',
    end: false,
    title: '楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '',
  },
  r2204 : {
    id: '2204',
    end: false,
    title: '楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '',
  },
  r2237 : {
    id: '2237',
    end: false,
    title: '楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '',
  },
  r2238 : {
    id: '2238',
    end: false,
    title: '楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '',
  },
  r2239 : {
    id: '2239',
    end: false,
    title: '楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '',
  },
  r2268 : {
    id: '2268',
    end: false,
    title: '楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '',
  },
  r2309 : {
    id: '2309',
    end: false,
    title: '楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '',
  },
  r2237_240410 : {
    id: '2237_240410',
    end: false,
    title: '楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '',
  },
  r2218 : {
    id: '2218',
    end: false,
    title: '楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '',
  },
  r2137 : {
    id: '2137',
    end: false,
    title: '楽天市場のお買い物マラソン連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '',
  },
  r2141 : {
    id: '2141',
    end: false,
    title: '楽天市場の初売り福袋特集連動企画 Rakuten最強プランのお申し込み＆期間中に楽天市場で1,000円（税込）以上お買い物で3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r2103 : {
    id: '2103',
    end: false,
    title: '楽天モバイル 初めての3GB超過利用で1,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r2103_240401 : {
    id: '2103_240401',
    end: false,
    title: '楽天モバイル 初めての3GB超過利用で1,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r2103_240301 : {
    id: '2103_240301',
    end: false,
    title: '楽天モバイル 初めての3GB超過利用で1,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r2103_240201 : {
    id: '2103_240201',
    end: false,
    title: '楽天モバイル 初めての3GB超過利用で500ポイントプレゼントキャンペーン',
    comments: '',
  },
  r2103_240104 : {
    id: '2103_240104',
    end: false,
    title: '楽天モバイル 初めての3GB超過利用で500ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1173 : {
    id: '1173',
    end: false,
    title: '【毎月開催】楽天モバイル「Rakuten最強プラン」を初めてお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1173_240101 : {
    id: '1173_240101',
    end: false,
    title: '【毎月開催】楽天モバイル「Rakuten最強プラン」を初めてお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1173_240201 : {
    id: '1173_240201',
    end: false,
    title: '【毎月開催】楽天モバイル「Rakuten最強プラン」を初めてお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1173_240301 : {
    id: '1173_240301',
    end: false,
    title: '【毎月開催】楽天モバイル「Rakuten最強プラン」を初めてお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1173_240401 : {
    id: '1173_240401',
    end: false,
    title: '【毎月開催】楽天モバイル「Rakuten最強プラン」を初めてお申し込みで4,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1067 : {
    id: '1067',
    end: false,
    title: 'ダイヤモンド会員の方へ　本ページからRakuten最強プランのお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1067_240102 : {
    id: '1067_240102',
    end: false,
    title: 'ダイヤモンド会員の方へ　本ページからRakuten最強プランのお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1067_240202 : {
    id: '1067_240202',
    end: false,
    title: 'ダイヤモンド会員の方へ　本ページからRakuten最強プランのお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1067_240302: {
    id: '1067_240302',
    end: false,
    title: 'ダイヤモンド会員の方へ　本ページからRakuten最強プランのお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1067_240402: {
    id: '1067_240302',
    end: false,
    title: 'ダイヤモンド会員の方へ　本ページからRakuten最強プランのお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1234 : {
    id: '1234',
    end: false,
    title: '【常時開催】楽天カード会員様へ 楽天モバイルお申し込みで3,000ポイントプレゼント',
    comments: '<p class="c-Txt_Cap u-Adjust_Mt-16">※2023年10月1日（日）0:00にキャンペーン名を「【常時開催】楽天カード会員様へ 楽天モバイルお申し込みでもれなく3,000ポイントプレゼント 」から「【常時開催】楽天カード会員様へ 楽天モバイルお申し込みで3,000ポイントプレゼント 」に変更しました。</p>',
  },
  r1239 : {
    id: '1239',
    end: false,
    title: '【常時開催】楽天証券会員様へ 楽天モバイル オンラインお申し込みで3,000ポイントプレゼントキャンペーン　ルール',
    comments: '',
  },
  r1241 : {
    id: '1241',
    end: false,
    title: '【常時開催】楽天銀行会員様へ 楽天モバイル オンラインお申し込みで3,000ポイントプレゼントキャンペーン　ルール',
    comments: '<p class="c-Txt_Cap u-Adjust_Mt-16">※2023年10月1日（日）0:00にキャンペーン名を「【常時開催】楽天銀行会員様へ 楽天モバイルお申し込みでもれなく3,000ポイントプレゼントキャンペーン  」から「【常時開催】楽天銀行会員様へ 楽天モバイル オンラインお申し込みで3,000ポイントプレゼントキャンペーン 」に変更しました。</p>',
  },
  r1373 : {
    id: '1373',
    end: false,
    title: '楽天ペイメントサービスご利用で抽選で100名様に10,000ポイント！（5月度）',
    comments: '',
  },
  r1373_240401 : {
    id: '1373_240401',
    end: false,
    title: '楽天ペイメントサービスご利用で抽選で100名様に10,000ポイント！（4月度）',
    comments: '',
  },
  r1373_240301 : {
    id: '1373_240301',
    end: false,
    title: '楽天ペイメントサービスご利用で抽選で100名様に10,000ポイント！（3月度）',
    comments: '',
  },
  r1373_240201 : {
    id: '1373_240201',
    end: false,
    title: '楽天ペイメントサービスご利用で抽選で100名様に10,000ポイント！（2月度）',
    comments: '',
  },
  r1373_240105 : {
    id: '1373_240105',
    end: false,
    title: '楽天ペイメントサービスご利用で抽選で100名様に10,000ポイント！（1月度）',
    comments: '',
  },
  r1723 : {
    id: '1723',
    end: false,
    title: '楽天モバイル 初めての20GB超過利用で1,500ポイントプレゼント',
    comments: '',
  },
  r1723_240401 : {
    id: '1723_240401',
    end: false,
    title: '楽天モバイル 初めての20GB超過利用で1,500ポイントプレゼント',
    comments: '',
  },
  r1723_240301 : {
    id: '1723_240301',
    end: false,
    title: '楽天モバイル 初めての20GB超過利用で1,500ポイントプレゼント',
    comments: '',
  },
  r1723_240401 : {
    id: '1723_240401',
    end: false,
    title: '楽天モバイル 初めての20GB超過利用で1,500ポイントプレゼント',
    comments: '',
  },
  r1815 : {
    id: '1815',
    end: false,
    title: '楽天ペイメントサービスご利用者様へ【毎月開催】楽天モバイル初めてのお申し込みでポイントプレゼント',
    comments: '',
  },
  r1815_240105 : {
    id: '1815_240105',
    end: false,
    title: '楽天ペイメントサービスご利用者様へ【毎月開催】楽天モバイル初めてのお申し込みでポイントプレゼント',
    comments: '',
  },
  r1815_240201 : {
    id: '1815_240201',
    end: false,
    title: '楽天ペイメントサービスご利用者様へ【毎月開催】楽天モバイル初めてのお申し込みでポイントプレゼント',
    comments: '',
  },
  r1815_240301 : {
    id: '1815_240301',
    end: false,
    title: '楽天ペイメントサービスご利用者様へ【毎月開催】楽天モバイル初めてのお申し込みでポイントプレゼント',
    comments: '',
  },
  r1815_240401 : {
    id: '1815_240401',
    end: false,
    title: '楽天ペイメントサービスご利用者様へ【毎月開催】楽天モバイル初めてのお申し込みでポイントプレゼント',
    comments: '',
  },
  r1510 : {
    id: '1510',
    end: false,
    title: '【常時開催】楽天カードお申し込み後に楽天モバイルを 初めてお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '<p class="c-Txt_Cap u-Adjust_Mt-16">※2023年11月1日（水）0:00にキャンペーン名を「【常時開催】楽天カードお申し込み後に楽天モバイルを 初めてお申し込みで もれなく 3,000ポイントプレゼントキャンペーン 」から「【常時開催】楽天カードお申し込み後に楽天モバイルを 初めてお申し込みで3,000ポイントプレゼントキャンペーン」に変更しました。</p>',
  },
  r2146 : {
    id: '2146',
    end: false,
    title: '【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！',
    comments: '',
  },
  r2185 : {
    id: '2185',
    end: false,
    title: '【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！',
    comments: '',
  },
  r2211 : {
    id: '2211',
    end: false,
    title: '【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！',
    comments: '',
  },
  r2249 : {
    id: '2249',
    end: false,
    title: '【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！',
    comments: '',
  },
  r2291 : {
    id: '2291',
    end: false,
    title: '【毎月開催】楽天モバイルご契約者様限定！エントリー＋楽天証券口座開設で2,000ポイントプレゼント！',
    comments: '',
  },
  r1555 : {
    id: '1555',
    end: false,
    title: '【毎月開催】楽天サービスご利用中のお客様へ「Rakuten最強プラン」のオンラインお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1555_240105 : {
    id: '1555_240105',
    end: false,
    title: '【毎月開催】楽天サービスご利用中のお客様へ「Rakuten最強プラン」のオンラインお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '<p class="c-Txt_Cap u-Adjust_Mt-16">※2023年9月1日（金）9:00にキャンペーン名を「【毎月開催】楽天サービスご利用中のお客様へ「Rakuten最強プラン」のオンラインお申し込みで1,000ポイントプレゼントキャンペーン」から「【毎月開催】楽天サービスご利用中のお客様へ「Rakuten最強プラン」のオンラインお申し込みで3,000ポイントプレゼントキャンペーン」に変更しました。</p>',
  },
  r1555_240301 : {
    id: '1555_240301',
    end: false,
    title: '【毎月開催】楽天サービスご利用中のお客様へ「Rakuten最強プラン」のオンラインお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r1555_240401 : {
    id: '1555_240401',
    end: false,
    title: '【毎月開催】楽天サービスご利用中のお客様へ「Rakuten最強プラン」のオンラインお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r2109 : {
    id: '2109',
    end: false,
    title: '楽天市場のスーパーSALE連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '<p class="c-Txt_Emp-01">楽天市場のスーパーSALE連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン</p>',
  },
  r2205 : {
    id: '2205',
    end: false,
    title: '楽天市場のスーパーSALE連動企画 Rakuten最強プランのお申し込みで楽天市場でのお買い物ポイント＋9倍キャンペーン',
    comments: '',
  },
  r1555_240201 : {
    id: '1555_240201',
    end: false,
    title: '【毎月開催】楽天サービスご利用中のお客様へ「Rakuten最強プラン」のオンラインお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '<p class="c-Txt_Cap u-Adjust_Mt-16">※2023年9月1日（金）9:00にキャンペーン名を「【毎月開催】楽天サービスご利用中のお客様へ「Rakuten最強プラン」のオンラインお申し込みで1,000ポイントプレゼントキャンペーン」から「【毎月開催】楽天サービスご利用中のお客様へ「Rakuten最強プラン」のオンラインお申し込みで3,000ポイントプレゼントキャンペーン」に変更しました。</p>',
  },
  r2129 : {
    id: '2129',
    end: false,
    title: '過去楽天モバイル契約者様限定！楽天モバイルにお申し込みで1カ月3GB分実質無料キャンペーン',
    comments: '',
  },
  r2155 : {
    id: '2155',
    end: false,
    title: '【楽天カード会員様限定】楽天モバイル初めてお申し込みで20,000ポイントプレゼント',
    comments: '',
  },
  r2177 : {
    id: '2177',
    end: false,
    title: '【月刊ポピー会員様限定】楽天モバイルお申し込みで2,000ポイントプレゼント',
    comments: '',
  },
  r2138 : {
    id: '2138',
    end: false,
    title: '【楽天モバイルご契約者様限定】3GBまたは20GB超過のデータ利用でNBA豪華景品が当たる！',
    comments: '',
  },
  r2162 : {
    id: '2162',
    end: false,
    title: '【楽天従業員限定】楽天モバイル紹介キャンペーン',
    comments: '',
  },
  r2162en : {
    id: '2162en',
    end: false,
    title: '【For Rakuten Employees Only】Rakuten Mobile Referral Campaign',
    comments: '<p class="c-Txt_Cap c-Txt_Emp-02 u-Adjust_Mt-16">(disclosing this rule is prohibited)</p>',
  },
  r2207 : {
    id: '2207',
    end: false,
    title: '【毎月開催】ただいまキャンペーン',
    comments: '',
  },
  r2207_240401 : {
    id: '2207_240401',
    end: false,
    title: '【毎月開催】ただいまキャンペーン',
    comments: '',
  },
  r2207_240301 : {
    id: '2207_240301',
    end: false,
    title: '【毎月開催】ただいまキャンペーン',
    comments: '',
  },
  r2215 : {
    id: '2215',
    end: false,
    title: '料金シミュレーションご回答で100ポイントプレゼントキャンペーン',
    comments: '',
  },
  r2216 : {
    id: '2216',
    end: false,
    title: '楽天市場の新生活特集連動企画 Rakuten最強プランのお申し込み＆期間中に楽天市場で1,000円（税込）以上お買い物で3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r2124_202402 : {
    id: '2124_202402',
    end: false,
    title: '【毎月開催】100万ポイント山分け！楽天モバイルショップdeエントリー',
  },
  r2124_202403 : {
    id: '2124_202403',
    end: false,
    title: '【毎月開催】100万ポイント山分け！楽天モバイルショップdeエントリー',
    comments: '<p class="c-Txt_Normal-m c-Txt_Emp-02 u-Adjust_Mt-24 u-Adjust_Mb-32 u-Adjust_Align-center">本キャンペーンは2024年3月31日をもちまして終了いたしました。<br>このページに掲載されている情報は、キャンペーン終了時点のものです。</p>',
  },
  r2124 : {
    id: '2124',
    end: false,
    title: '【毎月開催】100万ポイント山分け！楽天モバイルショップdeエントリー',
    comments: '',
  },
  r2169 : {
    id: '2169',
    end: false,
    title: 'Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で割引キャンペーン',
    comments: '<p class="c-Txt_Cap u-Adjust_Mt-16">※ 2024年3月27日（水）9:00にキャンペーン名を「Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で20,000円割引キャンペーン」から「Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で割引キャンペーン」に変更しました</p>',
  },
  r2169_card_mobile_majitoku : {
    id: '2169_card_mobile_majitoku',
    end: false,
    title: 'Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で割引キャンペーン',
    comments: '<p class="c-Txt_Cap u-Adjust_Mt-16">※ 2024年3月27日（水）9:00にキャンペーン名を「Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で20,000円割引キャンペーン」から「Rakuten最強プランご契約とiPhone対象製品を一括払いもしくは24回払いのご購入で割引キャンペーン」に変更しました</p>',
  },
  r2208 : {
    id: '2208',
    end: false,
    title: '【楽天モバイル×楽天ペイ】条件達成で楽天ペイアプリの支払金額20％ポイント還元キャンペーン',
  },
  r2227 : {
    id: '2227',
    end: false,
    title: '【ショップ限定】Rakuten最強プランをもう1回線お申し込みで3,000ポイント',
  },
  r2252 : {
    id: '2252',
    end: false,
    title: '料金チェックの結果をシェアしよう！キャンペーン',
  },
  r2298 : {
    id: '2298',
    end: false,
    title: '料金チェックの結果をシェアしよう！キャンペーン',
  },
  r2231 : {
    id: '2231',
    end: false,
    title: 'Rakuten最強プランご契約とiPhone対象製品を買い替え超トクプログラム利用のご購入でポイントバックキャンペーン',
  },
  r2217 : {
    id: '2217',
    end: false,
    title: '【楽天カード会員様限定】楽天モバイル初めてお申し込みで20,000ポイントプレゼント',
  },
  r2213 : {
    id: '2213',
    end: false,
    title: 'あなただけに特別なご案内！楽天モバイルお申し込みで1,000ポイントプレゼントキャンペーン',
  },
  r2200 : {
    id: '2200',
    end: false,
    title: '楽天モバイル地域版Xアカウントフォロー&リポストキャンペーン',
    comments: '',
  },
  r1976 : {
    id: '1976',
    end: false,
    title: '先着500名限定！Apple Watch用お買いものパンダバンド プレゼントキャンペーン',
    comments: '',
  },
  r2267 : {
    id: '2267',
    end: false,
    title: '【4月24日開催】楽天モバイル最強DAY特別ご招待',
  },
  r2253 : {
    id: '2253',
    end: false,
    title: 'INAC神戸レオネッサ応援キャンペーン',
    comments: '',
  },
  r2161 : {
    id: '2161',
    end: false,
    title: '【楽天モバイルご契約者様限定】楽天モバイルエンタメ祭 人気エンタメサービスの月額利用料20%ポイント還元（Hulu）',
  },
  r2164 : {
    id: '2164',
    end: false,
    title: '【楽天モバイルご契約者様限定】楽天モバイルエンタメ祭 人気エンタメサービスの月額利用料20%ポイント還元（DAZN）',
  },
  r2165 : {
    id: '2165',
    end: false,
    title: '【楽天モバイルご契約者様限定】楽天モバイルエンタメ祭 人気エンタメサービスの月額利用料20%ポイント還元（ABEMAプレミアム）',
  },
  r2166 : {
    id: '2166',
    end: false,
    title: '【楽天モバイルご契約者様限定】楽天モバイルエンタメ祭 人気エンタメサービスの月額利用料20%ポイント還元（DMMプレミアム）',
  },
  r2167 : {
    id: '2167',
    end: false,
    title: '【楽天モバイルご契約者様限定】楽天モバイルエンタメ祭 人気エンタメサービスの月額利用料20%ポイント還元（audiobook.jp）',
  },
  r2168 : {
    id: '2168',
    end: false,
    title: '【楽天モバイルご契約者様限定】楽天モバイルエンタメ祭 人気エンタメサービスの月額利用料20%ポイント還元（U-NEXT）',
  },
  r2286: {
    id: '2286',
    end: false,
    title: '【A SPECIAL LIMITED OFFER】Rakuten最強プランはじめてお申し込みで14,000ポイントキャンペーン',
    comments: '',
  },
  r2258 : {
    id: '2258',
    end: false,
    title: '【お得意様向け（福利厚生・スポンサー特典）】Rakuten最強プランのお申し込みで、20,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r2259 : {
    id: '2259',
    end: false,
    title: '【お得意様向け（福利厚生・スポンサー特典）】Rakuten最強プランご紹介で、合計20,000ポイントプレゼント',
    comments: '',
  },
  r2262 : {
    id: '2262',
    end: false,
    title: '【お得意様向け（福利厚生・スポンサー特典）】楽天モバイルご契約者様なら毎月500ポイントバックキャンペーン',
  },
  r2288: {
    id: '2288',
    end: false,
    title: '【Rakuten GirlsAwardチケット抽選申し込み限定】楽天モバイルも申し込みで5,000ポイント',
    comments: '',
  },
  r2297 : {
    id: '2297',
    end: false,
    title: '楽天モバイルの紹介ありがとう！楽天モバイル公式X（旧Twitter）アカウントのフォロー＋リポスト＋紹介リンクポストで抽選50名様に10,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r2245 : {
    id: '2245',
    end: false,
    title: '',
    comments: '',
  },
  r2339 : {
    id: '2339',
    end: false,
    title: '楽天市場の父の日特集連動企画 Rakuten最強プランのお申し込み&期間中に楽天市場で1,000円（税込）以上お買い物で3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
  r2310 : {
    id: '2310',
    end: false,
    title: '【特別なお客様向け】Rakuten最強プランのお申し込みで楽天ポイントプレゼントキャンペーン',
    comments: '',
  },
  r2344 : {
    id: '2344',
    end: false,
    title: '【毎月開催】スマホ料金チェックの結果をご確認されたお客様限定​ 本ページから「Rakuten最強プラン」初めてのお申し込みで3,000ポイントプレゼントキャンペーン',
    comments: '',
  },
}

%>
