<!-- メール -->
<div id="mail" class="l-System_Container fee-Mail">
  <div class="fee-Mail_Heading">
    <div class="u-Rat_Appear-height" data-ratid="fee-un-limit_scroll-08_mail" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
    <img src="<%= sitepath %>assets/img/fee/un-limit/icon-head-mail.png?220701" alt="" width="65">
    <h2>
      <small class="c-Txt_Emp-02">メール</small>
      <span class="c-Heading_Lv2">公式メールも使える</span>
    </h2>
  </div>
  <div class="c-Theme-Borderbox fee-Utility_Mt-32-24">
    <div class="l-Media_Grid-large">
      <div class="l-Media_Image">
        <picture>
          <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/img-mail-list-sp.png?220803">
          <img src="<%= sitepath %>assets/img/fee/un-limit/img-mail-list.png?220803" alt="" width="407">
        </picture>
      </div>
      <div>
        <div class="fee-Utility_Center-sp">
          <h3 class="c-Heading_Lv2">楽メール</h3>
          <p class="u-Adjust_Mt-16">楽天モバイルのドメイン（@rakumail.jp）で、メールサービスが無料でご利用いただけます</p>
        </div>
        <a href="<%= sitepath %>service/rakumail/?l-id=fee_un-limit_service_rakumail" class="c-Btn_Regular u-Adjust_Mt-24">
          詳細を見る
        </a>
        <div class="c-Txt_Cap u-Adjust_Mt-16">
          <p>※楽天モバイル（楽天回線）のご契約、初期設定、Rakuten Linkアプリが必要。データ利用量としてカウントされます。</p>
          <p>※<a href="#anc_note" class="c-Link_Txt">その他条件の詳細はこちら</a></p>
        </div>
      </div>
  </div>
  </div>
</div>
<!-- //メール -->
