<!-- オリコン枠 -->
<div class="fee-un-limit_Oricon">
  <div class="l-System_Container">
    <picture>
      <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/fee/un-limit/oricon-crowns-fee-230112-sp.png" width="686" height="360">
      <img src="<%= sitepath %>assets/img/fee/un-limit/oricon-crowns-fee-230112.png" width="1032" height="120" alt="">
    </picture>
    <p class="c-Txt_Cap fee-un-limit_Oricon-txt">* 2022年 オリコン顧客満足度®調査「携帯キャリア」料金プラン／コストパフォーマンス／加入手続き／初期設定のしやすさ／付帯サービス／端末のラインナップ 第1位 <a target="_blank" href="https://life.oricon.co.jp/rank-mobile-carrier/company/rakuten/">調査結果はこちら</a></p>
  </div>
</div>
<!-- //オリコン枠 -->
