<% const pagetitle = "「無料サポータープログラム」をご利用中のお客様へ（2020年1月17日更新）" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'information/failure/193/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
