<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "通信速度 実測情報" -%>
<% const directories = [{path: hikariroot.path + "about/", label:"楽天ひかりについて"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天ひかりのIPv6(IPoE／IPv4 over IPv6）方式で接続した場合の東京、札幌、広島での速度実測結果や実測環境、通信速度の目安をご案内します。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    redirect: {url: 'hikari/internet/speed/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
