<% const pagetitle = "AQUOS R compact SH-M06のアップデート情報" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"information/software/", label:"ソフトウェアアップデート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'information/software/aquos-shm06/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
