<% const pagetitle = "楽天モバイル買い替え超トクプログラム（買い取りによる解約の流れ）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/iphone/upgrade-program/", label:"楽天モバイル買い替え超トクプログラム各種お手続き方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル買い替え超トクプログラムでご利用いただいている製品の残債を一括で支払い、買い取る場合の解約お手続き画面の流れをご案内いたします。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'https://network.mobile.rakuten.co.jp/guide/replacement-program/pay-off/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
