<ul class="payment-google-Bnr_List">
  <li>
    <a href="https://edy.rakuten.co.jp/campaign/2021/0115_googleplay/?scid=wi_edy_202101_gplay_ichiba_sougo" target="_blank">
      <img src="<%= sitepath %>assets/img/bnr/point-google-play-480x270.png" alt="R Edy Google Play キャンペーン 条件達成で楽天ポイント3倍！ おサイフケータイ限定">
    </a>
  </li>
</ul>
