<div>
  <p class="u-Adjust_Mt-16 u-Adjust_Align-center">
    <a href="https://biccamera.rakuten.co.jp/c/campaign/point-up/?scid=wi_rbc_great_thanks_rmb_1032x160" class=" thanks-Layout-Display_Pc">
      <img src="<%= sitepath %>assets/img/campaign/thanks/img-17.png" alt="大感謝祭連動　ポイント最大10倍祭 12/26（日）01:59まで" class="thanks-Utility_Img-pc u-Adjust_Mt-24">
    </a>
    <a href="https://biccamera.rakuten.co.jp/c/campaign/point-up/?scid=wi_rbc_great_thanks_rmb_1032x160" class=" thanks-Layout-Display_Sp">
      <img src="<%= sitepath %>assets/img/campaign/thanks/img-17-sp.png" alt="大感謝祭連動　ポイント最大10倍祭 12/26（日）01:59まで" class="thanks-Utility_Img-sp u-Adjust_Mt-24">
    </a>
  </p>
</div>
