<!--
<div class="g-Footer_Bnr">
  <div class="l-System_Container">
    <ul class="l-System_Grid">
      <li><a href="#"><img src="<%= sitepath %>assets/img/bnr/bnr_sample-1.png" alt=""></a></li>
      <li><a href="#"><img src="<%= sitepath %>assets/img/bnr/bnr_sample-2.png" alt=""></a></li>
    </ul>
  </div>
</div>
-->
