<div class="c-Carousel js-Carousel-multi u-Adjust_Mt-24">
  <a class="c-Banner_Hover-act" href="<%= sitepath %>guide/application-support/?l-id=shop_guide_application-support">
    <img src="<%= sitepath %>assets/img/bnr/bnr-2207_application-support-328-185-230428.png" alt="オペレーターと電話で相談できる お申し込みサポート" width="328" height="185">
  </a>
  <a class="c-Banner_Hover-act" href="<%= sitepath %>shop/consultation-seminar/?l-id=shop_consultation-seminar">
    <img src="<%= sitepath %>assets/img/bnr/consultation-seminar-328-185-230529.png" alt="総務省 デジタル活用支援推進事業 スマートフォンを用いた行政手続き講習会" width="328" height="185">
  </a>
</div>
<div class="c-Carousel_Nav-v2-wrap">
  <div class="c-Carousel_Nav-v2"></div>
  <div class="c-Carousel_Nav-v2-bar"></div>
</div>
