<div>
  <div class="c-Carousel js-Carousel-multi u-Adjust_Mt-24">
    <a class="c-Banner_Hover-act" href="https://rakuma.rakuten.co.jp/info/campaign/mobile/20220105/?scid=wi_ich_exsi_rmb_mkdiv_campaignlist_samebanner_stock">
      <img src="<%= sitepath %>assets/img/campaign/sec-for-member/bnr/bnr-rakuma-656-370.png?220107" alt="ラクマ">
    </a>
    <a class="c-Banner_Hover-act" href="https://www.rakuten-bank.co.jp/account/mno/exist1500.html?wi_rmb_exist_211101_sec">
      <img src="<%= sitepath %>assets/img/campaign/sec-for-member/bnr/bnr-bank-656-370.png?220107" alt="楽天銀行">
    </a>
    <a class="c-Banner_Hover-act" href="https://r10.to/hwiFlC">
      <img src="<%= sitepath %>assets/img/campaign/sec-for-member/bnr/bnr-rpay-656-370.png?220107" alt="楽天ペイ">
    </a>
  </div>
  <div class="c-Carousel_Nav u-Adjust_Mt-32"></div>
</div>
