<% const pagetitle = "iPhone 14 Pro Max（5G対応）製品情報" -%>
<% const directory = "iphone-14-pro-max" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/iphone/", label:"iPhone"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "【販売終了】iPhone 14 Pro Max（楽天モバイル）製品紹介。価格・スペック・デュアルカメラ仕様・特長・5G対応ほか｜アイフォン フォーティーン プロ マックス（Apple）",
    noindex: true,
    pathname: filepath,
    redirect: {
      url: 'product/iphone/iphone-14-pro-max/'
    }
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
