<% const hikaripath = "hikari/" -%>
<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "メンバーズステーションのご利用方法" -%>
<% const directories = [{path: hikariroot.path + "support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '',
    noindex: true,
    pathname: filepath,
    ishikari: true,
    redirect: {url: "hikari/support/members-station/"}
  });
%>

</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
