<div id="jsMoviePlay" data-ratid="play-movie_default" data-ratevent="click" data-ratparam="all"></div>
<script src="https://players.brightcove.net/5068808272001/default_default/index.min.js"></script>
<script>
  (function(){
    var bcPlayers = document.getElementsByClassName('js-bc-player');
    var ratDiv = document.getElementById('jsMoviePlay');
    var bcPlayer = null;
    var ratid = '';
    var clickEvent = new Event('click');
    for (var i = 0; i < bcPlayers.length; i ++) {
      bcPlayer = videojs(bcPlayers[i].getAttribute('id'));
      bcPlayer.one('play', function () {
        ratid = this.getAttribute('data-ratid');
        ratDiv.setAttribute('data-ratid', ratid);
        ratDiv.dispatchEvent(clickEvent);
      });
    }
  })();
</script>