<% const pagetitle = "【公式】楽天ひかり" -%>
<% const directories = [] -%>

<%-
 include('/_header', {
    pagetitle: pagetitle,
    // directories: directories,
    description: '',
    noindex: true,
    pathname: filepath,
    ishikari: true,
    redirect: {url: "hikari/"}
  });
%>
</head>

<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
