<% const pagetitle = "メールの作成／送信（楽メール）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/rakumail/", label:"楽メール（ご利用方法）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル「楽メール」のメール作成方法や送信方法、返信・転送方法をご案内します。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'guide/rakumail/send/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
