<% const pagetitle = "10分（標準）通話かけ放題（お申し込み方法）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/plan/service/", label:"オプションサービス"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'OS標準アプリでの1回10分以内の国内通話がかけ放題、国内SMSの送受信が使い放題で利用できる「10分（標準）通話かけ放題」サービスのお申し込み方法等をご案内します。',
    noindex: false,
    pathname: filepath,
    redirect: {url: 'guide/standard-free-call/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
