<%_ const lId = (typeof lid !== 'undefined') ? `?l-id=${lid}` : '' _%>
<a href="<%= sitepath %>service/check/<%= lId %>" class="c-Banner_Hover-act">
  <picture>
    <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/bnr/bnr-service-check-328-185.png?220413">
    <img src="<%= sitepath %>assets/img/bnr/bnr-service-check-1032-160.png?220413" width="1032" alt="スマホ生活をより快適に! オプションサービス診断">
  </picture>
</a>
