<% const pagetitle = "楽天モバイルiPhoneアップグレードプログラムでiPhoneを購入する" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイルiPhoneアップグレードプログラム（48回払い）でiPhoneを購入すると、iPhone本体代が最大24回分支払い不要に。※機種変更には事務手数料3,300円がかかるほか条件あり。楽天モバイルiPhoneアップグレードプログラムは、楽天モバイル公式サイトでのご購入時にご利用いただけます。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'service/replacement-program/ichiba-entry-iphone/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
