<% const pagetitle = "楽天モバイルiPhoneアップグレードプログラム" -%>
<% const directories = [{path:"service/", label:"オプションサービス"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルiPhoneアップグレードプログラム（48回払い）でiPhoneを購入すると、iPhone本体代が最大24回分支払い不要に。対象iPhoneやプログラムの特長、分割払いの価格がご覧いただけます。機種変更には事務手数料3,300円がかかるほか条件あり。さらに楽天モバイルなら最新のiPhone（アイフォン）が4キャリア公式オンライン「最安値」。※2023.7.19時点。当社調べ',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/_append-head') %>
</head>
<body>
<%- include('/include/_prepend-body') %>
<script>
  const href = location.href;
  const pathname = location.pathname;
  const parameter = href.split(pathname)[1];
  const redirectUrl = '/service/replacement-program/';
  if (parameter.length > 0) {
    location.href = `${redirectUrl}${parameter}`;
  } else {
    location.href = redirectUrl;
  }
</script>
<%- include('/include/_append-body') %>
</body>
</html>
