<% const {namespace} = rankData -%>
<div id="opening" class="<%= namespace %>-Layout-section <%= namespace %>-Estimated-opening">
  <div class="l-System_Container">
    <h3 class="c-Heading_Lv2 u-Adjust_Align-center">申し込みから開通までの目安</h3>
    <div class="u-Adjust_Mt-16">
      <picture>
        <source media="(max-width: 768px)" srcset="<%= sitepath %>assets/img/hikari/common-v2/img-opening-date-sp-03.png?220620">
        <img src="<%= sitepath %>assets/img/hikari/common-v2/img-opening-date-pc-03.png?220620" alt="フレッツ光・他社光コラボのご利用がない方※1：4/10に申し込んだ場合、 5/10ごろ開通（開通まで約1カ月）。フレッツ光・他社光コラボをご利用中の方（転用・事業者変更）※1：毎月1日〜5日に申し込み→翌月1日開通　毎月6日〜15日に申し込み→翌月10日開通　毎月16日〜25日に申し込み→翌月20日開通　毎月26日〜31日に申し込み→翌々月1日開通。">
      </picture>
      <p class="c-Txt_Cap u-Adjust_Mt-16">
        ※1 地域によらず、お住まいの住居環境により、記載よりお時間をいただく場合がございます。<br>
        ※ 開通日を変更したい場合は、お申し込み後、楽天ひかり工事受付センターに電話にてご連絡ください。変更日の目安は、ご連絡をいただいてから10営業日（土日祝を除く）後になります。
      </p>
    </div>
  </div>
</div>
