<% const {namespace, point, stageId} = rankData -%>
<div id="js-trigger" class="c-Theme-White">
  <div class="l-System_Container <%= namespace %>-Layout_System">
    <p class="u-Adjust_Align-center <%= namespace %>-Period-title"><span class="c-Txt_Emp">【キャンペーン期間】</span><br class="<%= namespace %>-Layout_ShowSp">2020年12月2日（水）10:00～2023年4月2日（日）9:59</p>
    <div class="u-Adjust_Mt-16 u-Adjust_Align-left">
      <%_ if (stageId === 'd') { _%>
        <p class="c-Txt_Cap">
          ※ 楽天ひかりの月額基本料が開通月から最大12カ月間無料。初期費用等別。契約解除料ファミリープラン5,280円、マンションプラン4,180円が発生（2年ごとに更新）。NTT東日本・NTT西日本のフレッツ光回線を楽天ブロードバンドで利用中の方は対象外。その他条件あり。期間限定ポイントでの進呈。<br>
          ※ 表記の金額は特に記載のある場合を除きすべて税込です。
        </p>
      <%_ } else if (stageId === 'p') { _%>
        <p class="c-Txt_Cap">
          ※ 楽天ひかりの月額基本料が開通月から最大12カ月間無料。初期費用等別。契約解除料ファミリープラン5,280円、マンションプラン4,180円が発生（2年ごとに更新）。NTT東日本・NTT西日本のフレッツ光回線を楽天ブロードバンドで利用中の方は対象外。その他条件あり。期間限定ポイントでの進呈。<br>
          ※ 表記の金額は特に記載のある場合を除きすべて税込です。
        </p>
      <%_ } else if (stageId === 'g') { _%>
        <p class="c-Txt_Cap">
          ※ 楽天ひかりの月額基本料が開通月から最大12カ月間無料。初期費用等別。契約解除料ファミリープラン5,280円、マンションプラン4,180円が発生（2年ごとに更新）。NTT東日本・NTT西日本のフレッツ光回線を楽天ブロードバンドで利用中の方は対象外。その他条件あり。期間限定ポイントでの進呈。<br>
          ※ 表記の金額は特に記載のある場合を除きすべて税込です。
        </p>
      <%_ } _%>
    </div>
    <p class="u-Adjust_Mt-16">
      <a href="#rule" class="c-Link_Txt-inline">キャンペーン詳細を見る<span class="c-Icon_Arrow-down-l"></span></a>
    </p>
  </div>
</div>
