<% const namespace = "hikari-campaign-rank" -%>
<% const {rankdata} = rankData -%>

<div class="u-Adjust_Align-center <%= namespace %>-Layout_Turbo_Container u-Adjust_Mt-48">
    <h2 class="c-Heading_Lv4">
      工事不要！すぐに使える！<br>
      <span class="<%= namespace %>-Layout_Turbo-Txt">おうちのWiFiをお探しの方へ</span></h2>
    <div class="u-Adjust_Mt-16 <%= namespace %>-Layout_Turbo-bnr">
      <%- include('/include/hikari/bnr/_bnr-1032-160.ejs') %>
    </div>
</div>
