<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "SPU（スーパーポイントアッププログラム）" -%>
<% const directories = [] -%>
<% const namespace = "hikari-campaign-spu" -%>
<% const isClosed = "false" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath,
    ishikari: true,
    redirect: {url: "hikari/campaign/spu/"}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
