<% const pagetitle = "iPhone 15 Pro Max／iPhone 15 Pro／iPhone 15 Plus／iPhone 15のお取り扱いについて" -%>
<% const directories = [{path:"product/", label:"製品"}] -%>
<%-
 include('/_header', {
    pagetitle: 'iPhone 15 Pro Max／iPhone 15 Pro／iPhone 15 Plus／iPhone 15のお取り扱いについて',
    directories: directories,
    description: 'iPhone 15 Pro Max、iPhone 15 Pro、iPhone 15 Plus、iPhone 15の楽天モバイル予約開始日、発売日情報をご案内。楽天モバイルでは最新のMagSafe充電ケース（USB‑C）付きAirPods Pro（第2世代）、Apple Watchも含め、Apple製品 最新機種をお求めやすい価格で販売いたします。',
    noindex: true,
    pathname: filepath,
    redirect: { url: 'product/iphone/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
