<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "楽天ひかり月額基本料6カ月0円キャンペーン" -%>
<% const directories = [{path: hikariroot.path + "campaign/spu/", label:"キャンペーン"}] -%>
<% const namespace = "hikari-campaign-six-month-free" -%>
<% const imgDir = `${sitepath}assets/img/hikari/campaign/six-month-free/` -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath,
    ishikari: true,
    redirect: {url: "hikari/campaign/six-month-free/"}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
