<% const pagetitle = "お急ぎ便 ご契約者情報の登録方法" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"support/ubereats/", label:"お急ぎ便 Delivered with Uber Eats"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「お急ぎ便 Delivered with Uber Eats」の本人確認書類、お支払い情報の登録方法をご案内します',
    noindex: false,
    pathname: filepath,
    redirect: {url: ''}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
