<% const pagetitle = "注意事項" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイル（楽天回線）「注意事項」をご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<meta http-equiv="refresh" content="0;URL=<%= sitepath %>terms/">
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
