<% const pagetitle = "無料サポータープログラム" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイルの「無料サポータープログラム」。国内・国際通話無制限、日本・海外データ通信無制限（100GB＋追加チャージ無料）。楽天モバイルのさらなる通信サービスの向上にご協力ください。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'fee/supporter-program/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
