<% const pagetitle = "楽天ひかりUN-LIMITキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "oneyearfree" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'hikari/campaign/one-year-free/'}
  });
%>
</head>

<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
