<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "楽天ひかりUN-LIMITキャンペーン" -%>
<% const directories = [{path: hikariroot.path + "campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "hikari" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath,
    ishikari: true,
    redirect: {url: 'hikari/campaign/one-year-free/'}
  });
%>
</head>

<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
