<% const pagetitle = "Rakuten Linkで連絡先を登録する・編集する" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '電話・メッセージ・SMSがこれひとつ。楽天モバイルの便利なダイヤルアプリ「Rakuten Link（リンク）」で連絡先を登録したり編集したりする方法をご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<meta http-equiv="refresh" content="0;URL=https://service.link.link/guide/contact/add.html">
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
