<% const pagetitle = "Rakuten Linkアプリのご利用について | Rakuten UN-LIMIT VII（料金プラン）" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'Rakuten Linkアプリのご利用には楽天モバイルのお申し込みが必要です。料金プランの詳細をご案内いたします。',
    noindex: false,
    pathname: filepath
  });
%>
<meta http-equiv="refresh" content="0;URL=<%= sitepath %>fee/link-app/">
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
