<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "楽天ひかりのIPv6（クロスパス）対応ルーター" -%>
<% const directories = [{path: hikariroot.path + "about/", label:"楽天ひかりについて"},{path: hikariroot.path + "about/ipv6/", label:"次世代規格IPv6とは"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天ひかりIPv6（クロスパス）のインターネット接続の利用に必要なクロスパス対応ルーターを掲載しています',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    redirect: {url: 'hikari/support/wifi-router/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
