<% const pagetitle = "Rakuten UN-LIMITアップグレード方法 " -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten UN-LIMITの5G対応プランへのアップグレード手順をご案内します。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'support/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
