<% const pagetitle = "楽天モバイル（Rakuten UN-LIMIT）ご契約中で楽天市場のお買い物がポイント最大6倍" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "ichiba_sixtimes" -%>
<% const h1Txt = "楽天モバイル（Rakuten UN-LIMIT）ご契約中で楽天市場のお買い物がポイント最大6倍" -%>
<%-
include('/_header', {
  pagetitle: pagetitle,
  description: '楽天モバイル（Rakuten UN-LIMIT）ご契約者様、これからお申し込みの方も対象！楽天市場でお買い物をすると、ポイント最大6倍！ダイヤモンド会員がすべてのSPU条件を達成した場合、ポイント最大16倍！',
  keywords: '',
  noindex: true,
  pathname: filepath,
  redirect: {url: 'fee/un-limit/detail/#campaign-rule-current'}
});
%>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/_append-body') %>
  </body>
</html>
