<div class="u-Adjust_Mt-32 u-Adjust_Mb-40" id="js-faq" aria-hidden="true">
    <h2 class="c-Heading_Lv2">FAQ</h2>
    <p class="u-Adjust_Mt-16">The following is a list of frequently viewed questions. Please contact us via chat or
        phone from each page if you can’t find a solution for your situation.</p>
    <ul class="c-Link_List guide-Faq_List u-Adjust_Mt-24" id="js-faq-list">
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/10000652/">Can I register under a pseudonym?<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/10000653/?l-id=verify_japanese-nationals-en_faq_detail-10000653_02">Common issues with submitted identity documents.<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/10000729/">What steps should I take if my identity isn't verified?<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001860/">Why mask my health insurance card for ID? How do I do it?<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001393/">My uploaded ID was flagged; what's the next step?<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001923/">I chose at-home verification but faced issues. What now?<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001889/"><b style="font-weight: bold; color: inherit;">AI quick ID verification (eKYC):</b> Tips on the capture process.<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001738/">Can I reapply if my delivery-based verification was declined?<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001515/"><b style="font-weight: bold; color: inherit;">Email Alert:</b> "Re-upload ID due to inconsistencies."<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001737/">FAQs on delivery-based identity verification.<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001743/">Missed my delivery and it got canceled. Can I re-order?<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001751/">How long does cancellation take if my ID isn't verified on delivery?<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001107/">Made an error uploading my ID details. How can I fix it?<span class="c-Icon_Chevron-right"></span></a></li>
        <li><a href="https://network.mobile.rakuten.co.jp/faq/detail/00001890/"><b style="font-weight: bold; color: inherit;">AI quick ID verification (eKYC):</b> Why can't I see the "Activate Rakuten Line" button after applying?<span class="c-Icon_Chevron-right"></span></a></li>
    </ul>
    <!-- <div class="guide-en-Faq_Readmore-content" id="js-readmore">
        <div class="c-Readmore_Trigger">
            <button class="guide-en-Faq_Readmore-trigger">
                <span class="c-Icon_Chevron-right c-Readmore_Arrow"></span>more
            </button>
        </div>
    </div> -->
</div>