<div class="u-Adjust_Mt-64 u-Adjust_Mb-40" id="js-faq" aria-hidden="true">
    <h2 class="c-Heading_Lv2">よく見られているご質問</h2>
    <p class="u-Adjust_Mt-16">よく見られているご質問をご案内します。
        お困りごとが解決しない場合は、各ページからチャットやお電話でお問い合わせいただけます。</p>
    <ul class="c-Link_List guide-Faq_List u-Adjust_Mt-24" id="js-faq-list">
    </ul>
    <div class="guide-Faq_Readmore-content" id="js-readmore">
        <div class="c-Readmore_Trigger">
            <button class="guide-Faq_Readmore-trigger">
                <span class="c-Icon_Chevron-right c-Readmore_Arrow"></span>もっと見る
            </button>
        </div>
    </div>
</div>