<% const pageName = typeof page === 'undefined' ? 'faq-review' : page -%>
<div id="inquiry-block" class="l-System_Container guide-flow-inquiry-Main_Container">
  <h2 class="c-Heading_Lv4 u-Adjust_Mt-32 u-Adjust_Mb-16">Contact us</h2>
  <div class="c-Accordion" id="guide-flow-inquiry-Main_Accordion-tel">
    <button type="button" id="accordion-1001" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-1001">
      <span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>Phone support<br class="guide-flow-inquiry-Main_Utility-sp-only">
      <span class="c-Label_Emp guide-flow-inquiry-Main_Label">Estimated response time: 25 minutes</span>
    </button>
    <div id="accordion-content-1001" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-1001" aria-hidden="false">
      <p class="c-Txt_Normal">We’ve experienced issues causing public inconvenience due to misdialed numbers. Please ensure you dial correctly.</p>
      <div id="guide-flow-inquiry-Main_Box"></div>
    </div>
  </div>
</div>
