<div class="l-System_Container u-Adjust_Mt-64 u-Adjust_Mb-40">
    <!-- ReX UX Survey: Mounting point for embedded components -->
    <div id="rexSurveyEmbedded" class="rexSurveyNamespace"></div>
    <!-- ReX UX Survey: Config -->

    <div id="js-npsRadio-0" data-ratid="npsRadio_1" data-ratevent="click" data-ratparam="all"></div>
    <div id="js-npsRadio-1" data-ratid="npsRadio_2" data-ratevent="click" data-ratparam="all"></div>
    <div id="js-npsRadio-2" data-ratid="npsRadio_3" data-ratevent="click" data-ratparam="all"></div>
    <div id="js-npsRadio-3" data-ratid="npsRadio_4" data-ratevent="click" data-ratparam="all"></div>
    <div id="js-npsRadio-4" data-ratid="npsRadio_5" data-ratevent="click" data-ratparam="all"></div>
</div>
