<div id="inquiry-flow" class="guide-flow-inquiry-Review_Container">
  <div class="l-System_Container">
    <div id="complete-block" class="guide-flow-inquiry-Review_Complete">
      <div class="guide-flow-inquiry-Review_Campaign">
        <p class="c-Txt_Normal c-Txt_Emp-01 u-Adjust_Align-center">ご回答ありがとうございました。</p>
        <!-- キャンペーンクローズ時は以下を更新する -->
        <p class="c-Txt_Emp-01 u-Adjust_Mt-16 u-Adjust_Align-center">抽選で1,500ポイントが当たる<br class="u-Show_Sp">キャンペーン実施中！</p>
        <p class="u-Adjust_Mt-16">本キャンペーンの抽選へ参加するには、「アンケートに回答する」ボタンをタップして、<br class="u-Show_Pc">表示される案内に沿ってアンケートにご回答ください。</p>
        <p class="c-Txt_Cap u-Adjust_Mt-8">※当選者のみアンケート回答月の翌々月末日頃に、期間限定ポイントを付与します。</p>
        <div class="guide-flow-inquiry-Review_Button-03">
          <a href="<%= sitepath %>campaign/support-survey/?l-id=faq-review_positive_campaign_support-survey" target="_blank" class="c-Btn_Regular"><span>キャンペーン詳細を確認する<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
          <a href="<%= sitepath %>campaign/support-survey/form/?l-id=faq-Review_Btn-positive" target="_blank" class="c-Btn_Secondly"><span>アンケートに回答する<span class="c-Icon_New-window-l c-Btn_Icon-end"></span></span></a>
        </div>
      </div>
      <span id="close-btn" class="c-Icon_X guide-flow-inquiry-Review_Close"></span>
    </div>
    <div id="select-block" class="guide-flow-inquiry-Review_Grid">
      <button id="faq-Review_Btn-positive" class="c-Btn_Secondly guide-flow-inquiry-Review_Button guide-flow-inquiry-Review_Button-01" data-ratid="faq-Review_Btn-positive-default" data-ratevent="click" data-ratparam="all" onclick="handleClickReviewPositive()"><span class="c-Icon_Like-l"></span><span>解決できた</span></button>
      <a href="#inquiry-block" id="faq-Review_Btn-negative" class="c-Btn_Regular guide-flow-inquiry-Review_Button guide-flow-inquiry-Review_Button-02" data-ratid="faq-Review_Btn-negative" data-ratevent="click" data-ratparam="all" onclick="handleClickReviewNegative()"><span>解決できない場合は<br>お問い合わせ</span></a>
    </div>
    <div class="u-Rat_Appear-height" data-ratid="guide_floating_inquiry" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  </div>
</div>
