<div id="inquiry-flow" class="guide-flow-inquiry-Review_Container">
  <div class="l-System_Container">
    <div id="complete-block" class="guide-flow-inquiry-Review_Complete">
      <div class="guide-flow-inquiry-Review_Campaign">
        <p class="c-Txt_Normal c-Txt_Emp-01 u-Adjust_Align-center">Thank you for your feedback.</p>
      </div>
      <span id="close-btn" class="c-Icon_X guide-flow-inquiry-Review_Close"></span>
    </div>
    <div id="select-block" class="guide-flow-inquiry-Review_Grid">
      <button id="faq-Review_Btn-positive" class="c-Btn_Secondly guide-flow-inquiry-Review_Button guide-flow-inquiry-Review_Button-01" data-ratid="faq-Review_Btn-positive-default" data-ratevent="click" data-ratparam="all" onclick="handleClickReviewPositive()"><span class="c-Icon_Like-l"></span><span>Issue resolved.</span></button>
      <a href="#inquiry-block" id="faq-Review_Btn-negative" class="c-Btn_Regular guide-flow-inquiry-Review_Button guide-flow-inquiry-Review_Button-02" data-ratid="faq-Review_Btn-negative" data-ratevent="click" data-ratparam="all" onclick="handleClickReviewNegative()"><span>If you still have issues,<br>please contact us.</span></a>
    </div>
    <div class="u-Rat_Appear-height" data-ratid="guide_floating_inquiry" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  </div>
</div>
