<% const pagetitle = "2022年7月1日スタート予定！Rakuten UN-LIMIT VII（料金プラン）" -%>
<% const directories = [{path:"fee/", label:"Rakuten UN-LIMIT VI（料金プラン）"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'すべての人に最適なワンプラン「Rakuten UN-LIMIT VII」が2022/ 7/1（金）スタート予定！どれだけ使っても月々2,980円（税込3,278円）使わない月はドンドン安くなる！6月1日（水）より先行してスタートキャンペーン開始！他にも楽天市場のお買い物がおトクになったりスマホで楽しめる特典が盛りだくさん',
    keywords: '',
    directories: directories,
    noindex: true,
    pathname: filepath,
    redirect: {url: 'fee/saikyo-plan/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
