<?xml version="1.0" encoding="utf-8"?>
<resources>
    <string name="menu_help">ヘルプ</string>
    <string name="menu_info">お知らせ</string>
    <string name="menu_main">メインメニュー</string>
    <string name="menu_setting">設定</string>
    <string name="menu_logout">ログアウト</string>
    <string name="menu_idsend">書類の送付</string>
</resources>