<?xml version="1.0" encoding="utf-8"?>
<resources>
    <!-- 実行モードキー -->
    <string name="rm">RM</string>
    <string name="st">ST</string>
    <string name="pt">PT</string>

    <!-- テストモードサフィックスキー -->
    <string name="tms">TMS</string>

    <!-- 許可文字列 -->
    <string name="allow_number">\n0123456789</string>
    <string name="allow_number_decimal">0123456789.</string>
    <string name="allow_eng_num">\nabcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789</string>
    <string name="allow_mail_address">abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789@!&quot;#$%&amp;\'()*+,-./:;&gt;=&lt;?[\\]^_`{|}~｡｢｣､･ｱｲｳｴｵｶｷｸｹｺｻｼｽｾｿﾀﾁﾂﾃﾄﾅﾆﾇﾈﾉﾊﾋﾌﾍﾎﾏﾐﾑﾒﾓﾔﾕﾖﾗﾘﾙﾚﾛﾜｦﾝｧｨｩｪｫｬｭｮｯﾞﾟ</string>

    <!-- 日付選択デフォルト -->
    <string name="default_calendar_year">1970</string>
    <string name="default_calendar_month">0</string>
    <string name="default_calendar_day">1</string>

    <!--エラーコード -->
    <string name="error_code_ae_retry">10100</string>
    <string name="error_code_ae_logout">10200</string>
    <string name="error_code_ae_internal">10300</string>
    <string name="error_code_ae_application">10400</string>
    <string name="error_code_ae_warning">10500</string>

    <!--テキストデコレーション -->
    <string name="deco_type_bold">BOLD</string>
    <string name="deco_type_italic">ITALIC</string>
    <string name="deco_type_bold_italic">BOLD_ITALIC</string>
    <string name="deco_type_underline">UNDERLINE</string>
    <string name="deco_type_color">COLOR</string>
    <string name="deco_type_background">BACKGROUND</string>

    <!-- メッセージボックス -->
    <integer name="max_display_msgbox">99</integer>

    <!-- 海外送金の受取：表示最大件数 -->
    <integer name="max_display_fr_credit_receive">99</integer>

    <!-- Preference -->
    <string name="percentForGoal">percentForGoal</string>
    <string name="goalDeposit">goalDeposit</string>
    <string name="typeOfBankBook">typeOfBankBook</string>
    <string name="isNotFirstTime">isNotFirstTime</string>
    <string name="content">content</string>
    <string name="dontShowAgain">dontShowAgain</string>
    <string name="dontShowAgainUnstandardBrowser">dontShowAgainUnstandardBrowser</string>
    <string name="dontShowAgainMoneyTrans">dontShowAgainMoneyTrans</string>
    <string name="dontShowAgainToto">dontShowAgainToto</string>
    <string name="dontShowAgainPFM">dontShowAgainPFM</string>
    <string name="dontShowAgainRidLink">dontShowAgainRidLink</string>
    <string name="dontShowAgainFBTranserConfirm">dontShowAgainFBTranserConfirm</string>
    <string name="dontShowAgainFBAddFriend">dontShowAgainFBAddFriend</string>
    <string name="dontShowWallPaperDescript">dontShowWallPaperDescript</string>
    <string name="dontShowAgainCashbUnlockCompleteDialog">dontShowAgainCashbUnlockCompleteDialog</string>
    <string name="dontShowAgainPasswordDialog">dontShowAgainPasswordDialog</string>
    <string name="startX">startX</string>
    <string name="startY">startY</string>
    <string name="my_wallpaper">MyWallPaperImage</string>
    <string name="my_profile">MyProfilePiciture</string>
    <string name="tnm_copyright">tnm_copyright</string>
    <string name="image_repository">/imageRepository</string>
    <string name="loginCount">loginCount</string>
    <string name="reviewDialogShowCount">reviewDialogShowCount</string>
    <string name="prevDisplayVersion">prevReviewedVersion</string>
    <string name="prevReviewedDate">prevReviewedDate</string>
    <string name="prevDontReviewNowDate">prevDontReviewNowDate</string>
    <string name="firstPopupDate">firstPopupDate</string>
    <string name="popupDisplayCount">popupDisplayCount</string>
    <string name="guideShowedVersion">guideShowedVersion</string>
    <string name="facebookConnectUserID">facebookConnectUserID</string>
    <string name="facebookUserName">facebookUserName</string>
    <string name="activityCalledFromTheSameActivity">activityCalledFromTheSameActivity</string>
    <string name="foreignCurrencyGuided">foreignCurrencyGuided</string>
    <string name="fbFriendSelectInductionFlg">fbFriendSelectInductionFlg</string>
    <string name="fbAddFriendInductionFlg">fbAddFriendInductionFlg</string>
    <string name="pushFlg">pushFlg</string>
    <string name="pushFlag">pushFlag</string>
    <string name="fcurrencyTimeDepositGuided">foreignCurrencyTimeDepositGuided</string>
    <string name="isFIPermit">isFIPermit</string>
    <string name="isShownFIPermitDialogAfter">isShownFIPermitDialogAfter</string>
    <string name="isShownFIPermitDialogCompScreen">isShownFIPermitDialogCompScreen</string>
    <string name="isTimeAccountMaturityTutorial">isTimeAccountMaturityTutorial</string>
    <string name="isDisplayedForeignRemittanceCreditReceiveGuide">isDisplayedForeignRemittanceCreditReceiveGuide</string>
    <string name="isReturnTop">isReturnTop</string>
    <string name="isDepositOpen">isDepositOpen</string>
    <string name="isReturnTopAtm">isReturnTopAtm</string>
    <string name="searchLocation">searchLocation</string>
    <string name="nowLocation">nowLocation</string>
    <string name="atmInfoSelect">atmInfoSelect</string>
    <string name="isReturnAtmTop">isReturnAtmTop</string>
    <string name="viberConnectUserID">viberConnectUserID</string>
    <string name="viberConnectToken">viberConnectToken</string>
    <string name="viberUserName">viberUserName</string>
    <string name="viberUserPhotoID">viberUserPhotoID</string>
    <string name="viberInstructionFlg">viberInstructionFlg</string>
    <string name="viberGuideConfirmed">viberGuideConfirmed</string>
    <string name="adAgeVerificationDialogHideSetting">adAgeVerificationDialogHideSetting</string>
    <string name="cashbUsageDisplayedFlg">cashbUsageDisplayedFlg</string>
    <string name="receiptShootingMethdNotDisplayedFlg">receiptShootingMethdNotDisplayedFlg</string>
    <string name="qrCodeDontShowAgain">qrCodeDontShowAgain</string>
    <string name="myAccountConvenientTab">myAccountConvenientTab</string>
    <string name="internalPLayerURL">internalPLayerURL</string>
    <string name="cookieValueIDS">cookieValueIDS</string>
    <string name="cookieValueMtdDetailDisplay">cookieValue_MTD_DETAIL_DISPLAY</string>
    <string name="cookieValueMtdProductDisplay">cookieValue_MTD_PRODUCT_DISPLAY</string>
    <string name="cookieValueFtdFeatureDisplay">cookieValue_FTD_FEATURE_DISPLAY</string>
    <string name="cookieValueIsAcceptShowPasswordSetting">cookieValue_IS_ACCEPT_SHOW_PASSWORD_SETTING</string>
    <string name="cookieValueIsAcceptShowPasswordChange">cookieValue_IS_ACCEPT_SHOW_PASSWORD_CHANGE</string>
    <string name="billSplitUsageDisplayedFlg">billSplitUsageDisplayedFlg</string>
    <string name="conveniPayAgreed">conveniPayAgreed</string>
    <string name="gpsTrackingAgreed">gpsTrackingAgreed</string>
    <string name="mdasid">mdasid</string>
    <string name="gpsTrackingDate">gpsTrackingDate</string>
    <string name="noticeForOKBCloseFlag">noticeForOKBCloseFlag</string>
    <string name="noticeForNCBCloseFlag">noticeForNCBCloseFlag</string>
    <string name="pushSettingDisplayed">pushSettingDisplayed</string>
    <string name="promotionStartDate">promotionStartDate</string>
    <string name="historyList">historyList</string>
    <string name="phfsSpconfirm">phfsSpconfirm</string>
    <string name="hfsSpconfirm">hfsSpconfirm</string>
    <string name="displayLanguageSetting">displayLanguageSetting</string>
    <!-- サービスガイド表示済みフラグ -->
    <string name="isServiceGuideShown">isServiceGuideShown</string>
    <!-- 初回ログインフラグ -->
    <string name="firstLogin">firstLogin</string>
    <!-- バージョン情報 -->
    <string name="oldVersion">oldVersion</string>
    <!-- 使い方ガイド案内画面が表示済みフラグ -->
    <string name="isShowedGuideRoutePage">isShowedGuideRoutePage</string>
    <!-- 使い方ガイド_ダッシュボード案内画面が表示済みフラグ -->
    <string name="isShowedDashboardGuideRoutePage">isShowedDashboardGuideRoutePage</string>
    <!-- 背景画像設定画面の免責事項ダイアログが表示済フラグ -->
    <string name="isShowedBackgroundDisclaimer">isShowedBackgroundDisclaimer</string>
    <!-- 設定中背景画像利用開始時間 -->
    <string name="backgroundSettingStartTime">backgroundSettingStartTime</string>
    <!-- 言語設定　英語タグ -->
    <string name="displayLanguageEnglish">en</string>
    <!-- 言語設定　日本語タグ -->
    <string name="displayLanguageJapanese">ja</string>

    <!-- ポップアップメニュー案内画面が表示済みフラグ -->
    <string name="isShowedSwitchPopupGuide">isShowedSwitchPopupGuide</string>

    <!-- クローズしたレコメンドエリアリスト -->
    <string name="statement_closed_recommend_area">ClosedRecommendArea</string>

    <!-- ログインパスワード設定画面ダイアログ表示フラグ -->
    <string name="dontShowAgainPasswordDialogForSetting">dontShowAgainPasswordDialogForSetting</string>

    <!-- スピード開設画面ダイアログ表示フラグ -->
    <string name="dontShowAgainPasswordDialogForSpeedOpen">dontShowAgainPasswordDialogForSpeedOpen</string>

    <!-- 外部情報のURLキー  -->
    <string name="outer_url_ServiceOptionPlist">ServiceButtonExplanation</string>
    <string name="outer_url_QuickLoginClause">QuickLoginClause</string>
    <string name="outer_url_Help">Help</string>
    <string name="outer_url_Help_PartnerOKB">Help_PartnerOKB</string>
    <string name="outer_url_Help_PartnerNCB">Help_PartnerNCB</string>
    <string name="outer_url_Home">Home</string>
    <string name="outer_url_CompanyInfo">CompanyInfo</string>
    <string name="outer_url_News">News</string>
    <string name="outer_url_TestDomain">TestDomain</string>
    <string name="outer_url_Server">Server</string>
    <string name="outer_url_AccountOpen">AccountOpen</string>
    <string name="outer_url_FirstLoginGuide">FirstLoginGuide</string>
    <string name="outer_url_Tutorial">Tutorial</string>
    <string name="outer_url_Tutorial_ResetUserId">Tutorial_ResetUserId</string>
    <string name="outer_url_Forgotten_Branch_Account">Forgotten_Branch_Account</string>
    <string name="outer_url_Pc_Login_Inquiry">PC_Login_Inquiry</string>
    <string name="outer_url_Known_All_Account_Info">Known_All_Account_Info</string>
    <string name="outer_url_Forgotten_All_Account_Info">Forgotten_All_Account_Info</string>
    <string name="outer_url_OneTimeKeyHelp">OneTimeKeyHelp</string>
    <string name="outer_url_Lottery_AutoPurchaseInfo">Lottery_AutoPurchaseInfo</string>
    <string name="outer_url_Lottery_SimplePurchaseInfo">Lottery_SimplePurchaseInfo</string>
    <string name="outer_url_Lottery_PurchaseTypeInfo">Lottery_PurchaseTypeInfo</string>
    <string name="outer_url_Lottery_QuicklyPickInfo">Lottery_QuicklyPickInfo</string>
    <string name="outer_url_Lottery_QuantityInfo">Lottery_QuantityInfo</string>
    <string name="outer_url_Lottery_ContinuousCountInfo">Lottery_ContinuousCountInfo</string>
    <string name="outer_url_Lottery_Clause">Lottery_Clause</string>
    <string name="outer_url_Lottery_Banner">Lottery_Banner</string>
    <string name="outer_url_FC_Start_Guide">FC_Start_Guide</string>
    <string name="outer_url_FC_Interest">FC_Interest</string>
    <string name="outer_url_FC_Risk">FC_Risk</string>
    <string name="outer_url_FC_ImportantSubject">FC_ImportantSubject</string>
    <string name="outer_url_FC_OrdinaryDeposit">FC_OrdinaryDeposit</string>
    <string name="outer_url_FC_TimeDeposit">FC_TimeDeposit</string>
    <string name="outer_url_FC_Change_PIN">FC_ChangePIN</string>
    <string name="outer_url_FC_Edit_Customer_Card">FC_EditCustomerCard</string>
    <string name="outer_url_FC_Open_Account">FC_OpenAccount</string>
    <string name="outer_url_FC_About_Customer_Card">FC_AboutCustomerCard</string>
    <string name="outer_url_FC_Regulation1">FC_Regulation1</string>
    <string name="outer_url_FC_Regulation2">FC_Regulation2</string>
    <string name="outer_url_FC_Regulation3">FC_Regulation3</string>
    <string name="outer_url_FC_Regulation4">FC_Regulation4</string>
    <string name="outer_url_FC_Regulation5">FC_Regulation5</string>
    <string name="outer_url_FC_Fix_Regulation1">FC_Fix_Regulation1</string>
    <string name="outer_url_FC_Fix_Regulation2">FC_Fix_Regulation2</string>
    <string name="outer_url_FC_Fix_Regulation3">FC_Fix_Regulation3</string>
    <string name="outer_url_FC_Fix_Regulation4">FC_Fix_Regulation4</string>
    <string name="outer_url_FC_Fix_Regulation5">FC_Fix_Regulation5</string>
    <string name="outer_url_FC_Fix_CustomerCard_FAQ">FC_Fix_CustomerCard_FAQ</string>
    <string name="outer_url_FC_CustomerCard_FAQ">FC_CustomerCard_FAQ</string>
    <string name="outer_url_FC_PreContractDocument">FC_PreContractDocument</string>
    <string name="outer_url_FC_PrivacyPolicy">FC_PrivacyPolicy</string>
    <string name="outer_url_FC_TD_SavingSetting_TOP_Promotion">FC_TD_SavingSetting_TOP_Promotion</string>
    <string name="outer_url_GooglePlay_Review">ReviewPage</string>
    <string name="outer_url_FX_Tutorial">FX_Tutorial</string>
    <string name="outer_url_FX_LoginPageForPC">FX_LoginPageForPC</string>
    <string name="outer_url_FX_FAQ">FX_FAQ</string>
    <string name="outer_url_FX_PreContractDocument">FX_PreContractDocument</string>
    <string name="outer_url_FX_iSPEEDFX_Download">FX_iSPEEDFX_Download</string>
    <string name="outer_url_FX_Help_Credit">FX_Help_Credit</string>
    <string name="outer_url_FX_Regulation1">FX_Regulation1</string>
    <string name="outer_url_FX_Regulation2">FX_Regulation2</string>
    <string name="outer_url_FX_Regulation3">FX_Regulation3</string>
    <string name="outer_url_FX_Regulation4">FX_Regulation4</string>
    <string name="outer_url_FX_Regulation5">FX_Regulation5</string>
    <string name="outer_url_FX_Regulation6">FX_Regulation6</string>
    <string name="outer_url_FX_Regulation7">FX_Regulation7</string>
    <string name="outer_url_FX_AccountOpen_FAQ">FX_AccountOpen_FAQ</string>
    <string name="outer_url_FX_PrivacyPolicy">FX_PrivacyPolicy</string>
    <string name="outer_url_FX_AccountClear">FX_AccountClear</string>
    <string name="outer_url_FX_PrivacyPolicy_MyNumber">FX_PrivacyPolicy_MyNumber</string>
    <string name="outer_url_FX_ContractImage_MyNumber">FX_ContractImage_MyNumber</string>
    <string name="outer_url_FX_Merit01">FX_Merit01</string>
    <string name="outer_url_FX_Merit02">FX_Merit02</string>
    <string name="outer_url_FX_Merit03">FX_Merit03</string>
    <string name="FX_Merit01_Img">FX_Merit01_Img</string>
    <string name="FX_Merit02_Img">FX_Merit02_Img</string>
    <string name="FX_Merit03_Img">FX_Merit03_Img</string>
    <string name="FX_AccountOpen_MyNumber_Step_Img">FX_AccountOpen_MyNumber_Step_Img</string>
    <string name="FX_AccountOpen_Step_Img">FX_AccountOpen_Step_Img</string>
    <string name="FX_MyNumber_Agree_Img">FX_MyNumber_Agree_Img</string>
    <string name="FX_MyNumber_Send_App_Img">FX_MyNumber_Send_App_Img</string>
    <string name="FX_MyNumber_Send_Post_Img">FX_MyNumber_Send_Post_Img</string>
    <string name="FX_MyNumber_Send_Howto_Post_Img">FX_MyNumber_Send_Howto_Post_Img</string>
    <string name="FX_MyNumber_Send_Howto_App_Img">FX_MyNumber_Send_Howto_App_Img</string>
    <string name="FX_MyNumber_Send_Select_Top_Img">FX_MyNumber_Send_Select_Top_Img</string>
    <string name="FX_MyNumber_Send_Select_App_Badge_Img">FX_MyNumber_Send_Select_App_Badge_Img</string>
    <string name="FX_AccountOpen_Complete_Mail_Img">FX_AccountOpen_Complete_Mail_Img</string>
    <string name="FX_AccountOpen_Complete_App_Img">FX_AccountOpen_Complete_App_Img</string>
    <string name="FC_CARDINFO">FC_CARDINFO</string>
    <string name="FX_CARDINFO">FX_CARDINFO</string>
    <string name="outer_url_SpeedOpenLoginURL">SpeedOpenLoginURL</string>
    <!-- 本人確認書類登録完了画面CSF -->
    <string name="outer_url_documment_send_finish_Description">AccountOpenDocumentSendFinishDescription</string>
    <string name="outer_url_documment_send_finish_Img">AccountOpenDocumentSendFinishImage</string>
    <string name="outer_url_Notification_Login">NotificationLogin</string>
    <string name="outer_url_Notification_Top">NotificationTop</string>
    <string name="outer_url_StartGuide_BaseURL">ImageBaseURL</string>
    <string name="outer_url_StartGuide_PageCount">PageCount</string>
    <string name="outer_url_StartGuide_DetailURL">DetailPageURL</string>
    <string name="outer_url_StartGuide_ShowTopButton">ShowBankTopButton</string>
    <string name="outer_url_PriorityInterest">PriorityInterest</string>
    <string name="outer_url_MoneySupportFAQ">MoneySupportFAQ</string>
    <string name="outer_url_FB_HowToUse">FB_HowToUse</string>
    <string name="outer_url_FB_FAQ">FB_FAQ</string>
    <string name="outer_url_FB_ForgetPIN">FB_ForgetPIN</string>
    <string name="outer_url_FBServiceClause">FB_ServiceClause</string>
    <string name="outer_url_FBGetInfoClause">FB_GetInfoClause</string>
    <string name="outer_url_FB_Messenger_Download">FB_Messenger_Download</string>
    <string name="outer_url_FB_Messenger_RBK_Logo">FB_Messenger_RBK_Logo</string>
    <string name="outer_url_FB_Messenger_URL_Request_Link">FB_Messenger_URL_Request_Link</string>
    <string name="outer_url_FB_Messenger_URL_Transfer_Internal">FB_Messenger_URL_Transfer_Internal</string>
    <string name="outer_url_FB_Messenger_URL_Transfer_External">FB_Messenger_URL_Transfer_External</string>
    <string name="outer_url_FB_Messenger_URL_Transfer_Cancel">FB_Messenger_URL_Transfer_Cancel</string>
    <string name="outer_url_Viber_HowToUse">Viber_HowToUse</string>
    <string name="outer_url_Viber_FAQ">Viber_FAQ</string>
    <string name="outer_url_Viber_ForgetPIN">Viber_ForgetPIN</string>
    <string name="outer_url_ViberServiceClause">Viber_ServiceClause</string>
    <string name="outer_url_ViberGetInfoClause">Viber_GetInfoClause</string>
    <string name="outer_url_ViberDownload">Viber_Download</string>
    <string name="outer_url_Viber_MessageBlockFAQ">Viber_MessageBlockFAQ</string>
    <string name="outer_url_Yen_Fix_Description">Yen_Fix_Description</string>
    <string name="outer_url_Yen_Fix_Renewal_Interest">Yen_Fix_Renewal_Interest</string>
    <string name="outer_url_Yen_Fix_Campaign_Incoming_Banner_Img">Yen_Fix_Campaign_Incoming_Banner_Img</string>
    <string name="outer_url_Yen_Fix_Campaign_Incoming_Detail_Img">Yen_Fix_Campaign_Incoming_Detail_Img</string>
    <string name="outer_url_TA_Recommendation_Img">TA_Recommendation_Img</string>
    <string name="outer_url_TA_Special_Rate_Campaign_Img">TA_Special_Rate_Campaign_Img</string>
    <string name="outer_url_TA_Maturity_Img">TA_Maturity_Img</string>
    <string name="outer_url_TA_Maturity_Flat10_Img">TA_Maturity_Flat10_Img</string>
    <string name="outer_url_TA_Maturity_Step10_Img">TA_Maturity_Step10_Img</string>
    <string name="outer_url_TA_Maturity_Flat15_Img">TA_Maturity_Flat15_Img</string>
    <string name="outer_url_TA_FcStructured_Fixed_Img">TA_FcStructured_Fixed_Img</string>
    <string name="outer_url_TA_FcStructured_Fixed_Rate_Img">TA_FcStructured_Fixed_Rate_Img</string>
    <string name="outer_url_TA_Incoming_Img">TA_Incoming_Img</string>
    <string name="outer_url_TA_Flow_Of_Incoming_Img">TA_Flow_Of_Incoming_Img</string>
    <string name="outer_url_TA_Product_Details_Of_Incoming_Img">TA_Product_Details_Of_Incoming_Img</string>
    <string name="outer_url_TA_Banner_For_InComing">TA_Banner_For_InComing</string>
    <string name="outer_url_TA_Banner_For_Basic">TA_Banner_For_Basic</string>
    <string name="outer_url_TA_Product_Details_Of_Basic">TA_Product_Details_Of_Basic</string>
    <string name="outer_url_TA_What_Is_Basic">TA_What_Is_Basic</string>
    <string name="outer_url_TA_Product_Details_Of_Maturity_Step_Up">TA_Product_Details_Of_Maturity_Step_Up</string>
    <string name="outer_url_TA_Product_Details_Of_Maturity_Flat">TA_Product_Details_Of_Maturity_Flat</string>
    <string name="outer_url_TA_What_Is_Maturity">TA_What_Is_Maturity</string>
    <string name="outer_url_TA_Product_Details_Of_Fc_Structured_Fixed">TA_Product_Details_Of_Fc_Structured_Fixed</string>
    <string name="outer_url_TA_What_Is_Fc_Structured_Fixed">TA_What_Is_Fc_Structured_Fixed</string>
    <string name="outer_url_TA_Product_Details_Of_Incoming">TA_Product_Details_Of_Incoming</string>
    <string name="outer_url_TA_What_Is_Incoming">TA_What_Is_Incoming</string>
    <string name="outer_url_Yen_Fix_Description_Incoming">Yen_Fix_Description_Incoming</string>
    <string name="outer_url_Yen_Fix_Renewal_Interest_Incoming">Yen_Fix_Renewal_Interest_Incoming</string>
    <string name="outer_url_DreamApp_Info">DreamApp_Info</string>
    <string name="outer_url_FT_BlackList">Finger_Touch_BlackListFile</string>
    <string name="outer_url_FT_Explanation">FingerTouch_Explanation</string>
    <string name="outer_url_ATM_PB_Explanation">PayrollBenefit_Explanation</string>
    <string name="outer_url_ATM_PaymentMethod">ATM_PaymentMethod</string>
    <string name="QR_ImportantPoints">QR_ImportantPoints</string>
    <string name="MD_RegistrationAppeal">MD_RegistrationAppeal</string>
    <string name="MD_Registration_Member">MD_Registration_Member</string>
    <string name="outer_url_CASHb_Maintenance">CASHb_Maintenance</string>
    <string name="outer_url_CASHb_Clause1">CASHb_Clause1</string>
    <string name="outer_url_CASHb_PrivacyPolicy1">CASHb_PrivacyPolicy1</string>
    <string name="outer_url_CASHb_Question">CASHb_Question</string>
    <string name="outer_url_CASHb_Clause2">CASHb_Clause2</string>
    <string name="outer_url_CASHb_PrivacyPolicy2">CASHb_PrivacyPolicy2</string>
    <string name="outer_url_CASHb_Help_Android">CASHb_Help_Android</string>
    <string name="outer_url_Notice_Login_Img">NoticeImage_Login</string>
    <string name="outer_url_Notice_Top_Img">NoticeImage_Top</string>
    <string name="outer_url_AccountConfirm">AccountConfirm</string>
    <string name="outer_url_BillSplit_Help">BillSplit_Help</string>
    <string name="outer_url_MobileAccessRestriction1">MobileAccessRestriction1</string>
    <string name="outer_url_MobileAccessRestriction2">MobileAccessRestriction2</string>
    <string name="outer_url_ConveniPay_Kanban_Img">ConveniPay_Kanban_Img</string>
    <string name="outer_url_ConveniPay_Top01_Img">ConveniPay_Top01_Img</string>
    <string name="outer_url_ConveniPay_Top02_Img">ConveniPay_Top02_Img</string>
    <string name="outer_url_ConveniPay_Top03_Img">ConveniPay_Top03_Img</string>
    <string name="outer_url_ConveniPay_Complete01_Img">ConveniPay_Complete01_Img</string>
    <string name="outer_url_ConveniPay_Complete02_Img">ConveniPay_Complete02_Img</string>
    <string name="outer_url_ConveniPay_Tutorial01_Img">ConveniPay_Tutorial01_Img</string>
    <string name="outer_url_ConveniPay_Tutorial02_Img">ConveniPay_Tutorial02_Img</string>
    <string name="outer_url_ConveniPay_Tutorial03_Img">ConveniPay_Tutorial03_Img</string>
    <string name="outer_url_ConveniPay_Tutorial04_Img">ConveniPay_Tutorial04_Img</string>
    <string name="outer_url_ConveniPay_Tutorial05_Img">ConveniPay_Tutorial05_Img</string>
    <string name="outer_url_ConveniPay_Tutorial_Default_Img">ConveniPay_Tutorial_Default_Img</string>
    <string name="outer_url_ConveniPay_Merit_Img">ConveniPay_Merit_Img</string>
    <string name="outer_url_ConveniPay_PayEasy_Img">ConveniPay_PayEasy_CSF</string>
    <string name="outer_url_ConveniPay_Available_Companies">ConveniPay_Available_Companies</string>
    <string name="outer_url_ConveniPay_Service_Method">ConveniPay_Service_Method</string>
    <string name="outer_url_ConveniPay_Rules">ConveniPay_Rules</string>
    <string name="outer_url_AppReview">AppReview</string>
    <string name="outer_Gps_Threshold_Value">GpsThresholdValue</string>
    <string name="outer_GpsTrackingprivacyPolicy">GpsTrackingprivacyPolicy</string>
    <string name="TA_Banner_For_Basic">TA_Banner_For_Basic</string>
    <string name="TA_Banner_For_InComing">TA_Banner_For_InComing</string>
    <string name="outer_url_LoginAccountAdd_Guide_Img">LoginAccountAdd_Guide_Img</string>
    <string name="outer_url_Add_Point_Service">Add_Point_Service</string>
    <string name="outer_url_NoticeImage_Top_PartnerBranch_Common_Img">NoticeImage_Top_PartnerBranch_Common_Img</string>
    <string name="outer_url_NoticeImage_Top_PartnerBranch_OKB_Img">NoticeImage_Top_PartnerBranch_OKB_Img</string>
    <string name="outer_url_InformationImage_Top_PartnerBranch_OKB_Img">InformationImage_Top_PartnerBranch_OKB_Img</string>
    <string name="outer_url_NoticeImage_Top_PartnerBranch_NCB_Img">NoticeImage_Top_PartnerBranch_NCB_Img</string>
    <string name="outer_url_InformationImage_Top_PartnerBranch_NCB_Img">InformationImage_Top_PartnerBranch_NCB_Img</string>
    <string name="outer_url_ApplyLogin_Setup_Img">ApplyLogin_Setup_Img</string>
    <string name="outer_url_debit_point_help_jcb">Debit_Point_Help_JCB</string>
    <string name="outer_url_debit_point_help_visa">Debit_Point_Help_VISA</string>
    <string name="outer_url_debit_point_help_mastercard">Debit_Point_Help_Mastercard</string>
    <string name="outer_url_debit_image_face_card_jcb">DebitImage_FaceCardType_JCB</string>
    <string name="outer_url_debit_image_face_card_jcb_panda">DebitImage_FaceCardType_JCB_Panda</string>
    <string name="outer_url_debit_image_face_card_visa_basic">DebitImage_FaceCardType_VISA_Basic</string>
    <string name="outer_url_debit_image_face_card_visa_sliver">DebitImage_FaceCardType_VISA_Sliver</string>
    <string name="outer_url_debit_image_face_card_visa_gold">DebitImage_FaceCardType_VISA_Gold</string>
    <string name="outer_url_debit_image_face_card_mastercard">DebitImage_FaceCardType_Mastercard</string>
    <string name="outer_url_DebitCardListPlist">DebitCardList</string>
    <string name="outer_url_CustomerAttribute_Setup_Img">CustomerAttribute_Setup_Img</string>
    <string name="outer_url_LogPassReissue_Img">LogPassReissue_Img</string>
    <string name="outer_url_QR_Tutorial1">QR_Tutorial1</string>
    <string name="outer_url_QR_Tutorial2">QR_Tutorial2</string>
    <string name="outer_url_QuickLogin_Error_CustomerCenter">QuickLoginErrorCustomerCenter</string>
    <string name="outer_url_MNOQuickLogin_Information_Img">MNOQuickLoginInformation_Img</string>
    <string name="outer_url_MNOBack_Url">MNOBackUrl</string>
    <string name="outer_url_ReferralCode_Info_Img">ReferralCode_Info_Img</string>
    <string name="outer_url_ReferralCode_Step1_Img">ReferralCode_Step1_Img</string>
    <string name="outer_url_ReferralCode_Step2_Img">ReferralCode_Step2_Img</string>
    <string name="outer_url_ReferralCode_Step3_Img">ReferralCode_Step3_Img</string>
    <string name="outer_url_ReferralCode_Info_En_Img">ReferralCode_Info_En_Img</string>
    <string name="outer_url_ReferralCode_Step1_En_Img">ReferralCode_Step1_En_Img</string>
    <string name="outer_url_ReferralCode_Step2_En_Img">ReferralCode_Step2_En_Img</string>
    <string name="outer_url_ReferralCode_Step3_En_Img">ReferralCode_Step3_En_Img</string>
    <string name="outer_url_ReferralCode_Campaign_Img">ReferralCode_Campaign_Img</string>
    <string name="outer_url_LoginPassword_Reset_Img">LoginPasswordReset_Img</string>
    <string name="outer_url_rakutenlink_back_url_for_start">RakutenLink_Back_URL_For_Start</string>
    <string name="outer_url_rakutenlink_back_url_for_finish">RakutenLink_Back_URL_For_Finish</string>
    <string name="outer_url_rakutenlink_back_button_csf_for_start">RakutenLink_Back_Button_CSF_For_Start</string>
    <string name="outer_url_rakutenlink_back_button_csf_for_finish">RakutenLink_Back_Button_CSF_For_Finish</string>
    <string name="outer_url_rakutenlink_back_text_csf_for_start">RakutenLink_Back_Text_CSF_For_Start</string>
    <string name="outer_url_rakutenlink_back_text_csf_for_finish">RakutenLink_Back_Text_CSF_For_Finish</string>
    <string name="outer_UnionPayRule1">UnionPayRule1</string>
    <string name="outer_url_UnionPayHelp">UnionPayHelp</string>
    <string name="outer_url_UnionPayAvailableArea">UnionPayAvailableArea</string>
    <string name="outer_url_fintech">Fintech</string>
    <string name="outer_url_referral_code_message">ReferralCode_Introduction_Message</string>
    <string name="outer_referral_code_default_message">ReferralDefaultMessage</string>
    <string name="outer_url_ReferralCode_Campaign_URL">ReferralCode_Campaign_URL</string>
    <string name="outer_url_RPay_Launch_Icon_URL">RPayLaunchIcon</string>
    <string name="outer_url_TA_ShareholderBenefits_Img_URL">TA_ShareholderBenefits_Img</string>
    <string name="outer_url_TA_ShareholderBenefits_Input_Img_URL">TA_ShareholderBenefits_Input_Img</string>

    <!-- eKYCメンテナンス文言CSF -->
    <string name="outer_url_IDSendEkycAccountOpenSelectMethodContingency_Img">IDSendEkycAccountOpenSelectMethodContingency_Img</string>
    <string name="outer_url_IDSendEkycAccountOpenSelectMethodMaintenance_Img">IDSendEkycAccountOpenSelectMethodMaintenance_Img</string>
    <string name="outer_url_IDSendEkycAccountOpenChangeMethodContingency_Img">IDSendEkycAccountOpenChangeMethodContingency_Img</string>
    <string name="outer_url_IDSendEkycAccountOpenChangeMethodMaintenance_Img">IDSendEkycAccountOpenChangeMethodMaintenance_Img</string>
    <string name="outer_url_IDSendEkycLoanSelectMethodContingency_Img">IDSendEkycLoanSelectMethodContingency_Img</string>
    <string name="outer_url_IDSendEkycLoanSelectMethodMaintenance_Img">IDSendEkycLoanSelectMethodMaintenance_Img</string>
    <string name="outer_url_IDSendEkycLoanChangeMethodContingency_Img">IDSendEkycLoanChangeMethodContingency_Img</string>
    <string name="outer_url_IDSendEkycLoanChangeMethodMaintenance_Img">IDSendEkycLoanChangeMethodMaintenance_Img</string>

    <!-- 【UI_0043】暗証番号設定画面CSF画像URL -->
    <string name="outer_url_PasswordNumberSetting_Info_01_Img">PasswordNumberSetting_Info_01_Img</string>
    <string name="outer_url_PasswordNumberSetting_Info_01_Teikeishiten_Img">PasswordNumberSetting_Info_01_Teikeishiten_Img</string>

    <!-- 【UI_0608】登録内容画面CSF画像 -->
    <string name="outer_url_IDSendMyNumberConfirm_Img">IDSendMyNumberConfirm_Img</string>

    <!-- 【UI_0150】ワンタイム認証に利用するメールアドレスの設定画面SF画像URL -->
    <string name="outer_url_CheckStatusAddressControlInsertInput_Info_01_Img">CheckStatusAddressControlInsertInput_Info_01_Img</string>
    <string name="outer_url_CheckStatusAddressControlInsertInput_Registered_Mail_Img">CheckStatusAddressControlInsertInput_Registered_Mail_Img</string>
    <string name="outer_url_CheckStatusAddressControlInsertInput_Not_Registered_Mail_Img">CheckStatusAddressControlInsertInput_Not_Registered_Mail_Img</string>

    <!-- 【UI_0111，UI_0112，UI_0115，UI_0116，UI_0122】振込名義変更による暗号資産交換業者へのお振込について PレイヤーページURL -->
    <string name="outer_url_TransferPayerNameChange_Information">TransferPayerNameChange_Information</string>
    <!-- 【UI_0111,UI_0112】振込名義変更に関する注意事項CSF画像URL -->
    <string name="outer_url_PayerCaution_TransferInput_Img">PayerCaution_TransferInput_Img</string>
    <!-- 【UI_0115,UI_0116】振込名義変更に関する注意事項CSF画像URL（他行最短日程振込） -->
    <string name="outer_url_PayerCaution_TransferOtherInputShortest_Img">PayerCaution_TransferOtherInputShortest_Img</string>
    <!-- 【UI_0115,UI_0116】振込名義変更に関する注意事項CSF画像URL -->
    <string name="outer_url_PayerCaution_TransferOtherInputSpecificDate_Img">PayerCaution_TransferOtherInputSpecificDate_Img</string>
    <!-- 【UI_0122】振込名義変更に関する注意事項CSF画像URL -->
    <string name="outer_url_PayerCaution_RegularTransferInput_Img">PayerCaution_RegularTransferInput_Img</string>

    <!--取引停止中　日本語-->
    <string name="outer_url_Trading_Halt_Top_Img">NoticeImage_StopAccount</string>
    <string name="outer_url_Accrued_Top_Img">NoticeImage_Unpaid</string>
    <!--取引停止中　英語-->
    <string name="outer_url_Trading_Halt_Top_Img_EN">NoticeImage_EN_StopAccount</string>
    <string name="outer_url_Accrued_Top_Img_EN">NoticeImage_EN_Unpaid</string>

    <!--付番同意　日本語-->
    <string name="outer_url_ConsentAgain_Top_Img">NoticeImage_ConsentAgain</string>

    <!-- FAQ トップ画面のFAQ -->
    <string name="outer_url_Top_FAQ">TOP_FAQ</string>
    <string name="outer_url_Top_FAQ_NCB">TOP_FAQ_NCB</string>
    <!-- お問合せ -->
    <string name="outer_url_QL_CustomerCenter">QL_CustomerCenter</string>

    <!-- ApplicationContext内storeのキー -->
    <string name="store_myaddress">myAddressList</string>
    <string name="store_device_contacts_list">deviceContactsList</string>

    <!-- GooglePlay共通パス -->
    <string name="google_play_web">https://play.google.com/store/apps/details?id=</string>
    <string name="google_play_app">market://details?id=</string>

    <!-- 各種カウント情報 -->
    <string name="count_type">3</string>
    <string name="count_transfer_contents">10</string>
    <string name="max_banner">3</string>
    <string name="max_address_count">5</string>
    <string name="max_coin_count">10</string>
    <string name="max_device_contacts">0</string>
    <string name="background_timeout">600000</string>
    <string name="max_branch_count">99</string>

    <!-- アドレス帳 -->
    <string name="order_device_contacts">ASC</string>
    <string name="index_char_sequence">あかさたなはまやらわABCDEFGHIJKLMNOPQRSTUVWXYZ#</string>

    <!-- 写真取込: イメージギャラリー -->
    <string name="gallery_size">4</string>
    <string name="outer_tnm_collection_title">Title</string>
    <string name="outer_tnm_collection_count">ImageCount</string>
    <string name="outer_tnm_collection_copyright">CopyrightNotice</string>
    <string name="outer_tnm_collection_image_path">ImagePath</string>

    <!-- OTCFX -->
    <string name="outer_otcfx_ServiceName">ServiceName</string>

    <!-- 外貨 -->
    <string name="outer_fcurrency_ServiceName">ServiceName</string>
    <string name="outer_fcurrency_PageCount">PageCount</string>
    <string name="outer_fcurrency_PagingInterval">PagingInterval</string>
    <string name="outer_fcurrency_ImageURL">ImageURL</string>
    <string name="outer_fcurrency_SendURL">SendURL</string>

    <!-- 振込： 非営業日(YYYYMMDD) -->
    <string-array name="rbank_holiday">
        <item></item>
        <item></item>
        <item></item>
        <item></item>
        <item></item>
    </string-array>

    <!-- ログイン時に指紋認証を使用したか否かのフラグ -->
    <string name="login_with_fingertouch_flag">login_with_fingertouch_flag</string>

    <!-- イベントトリガーID -->
    <item name="id_external_transition" type="id" />
    <item name="id_keep_session" type="id" />
    <item name="id_0250_dummy_2000v2" type="id" />

    <!-- イベントトリガーID:OTCFX -->
    <item name="id_otcfx_next_telegram_start_leverage_change" type="id" />
    <item name="id_ad_sfes_transition" type="id" />
    <item name="id_yen_fixed_deposit_incoming_campaign_rate_tap_event" type="id" />
    <item name="id_yen_fixed_basic_deposit_transition" type="id" />
    <item name="id_yen_fixed_incoming_deposit_transition" type="id" />

    <!-- イベントトリガーID:ログイン口座切替 -->
    <item name="id_nuiServiceList_account_change_logout_Success" type="id" />
    <item name="id_nuiServiceList_account_change_start_Success" type="id" />
    <item name="update_partner_branch_information" type="id" />
    <item name="update_partner_branch_information_additional" type="id" />

    <!-- イベントトリガーID：楽天会員リンク -->
    <item name="id_0012_rakuten_id_link" type="id" />

    <!-- 利用可能ポイントに関する説明文 -->
    <string name="outer_url_CurrencyPointImage">Currency_Point_Image</string>

    <!-- イベントトリガーID：カードローン -->
    <item name="id_0012_dashboard_cardloan" type="id" />

    <!-- イベントトリガーID：設定中背景IDのクリア -->
    <item name="id_0012_clean_background_id" type="id" />

    <!-- イベントトリガーID : ローン側セッション保持 -->
    <item name="id_loan_session_keep" type="id" />
    <item name="id_loan_check_password" type="id" />
    <item name="id_loan_send_doc" type="id" />
    <item name="id_loan_register_mail" type="id" />
    <item name="id_loan_transition_from_service" type="id" />

    <!-- イベントトリガーID：プッシュ通知 -->
    <item name="id_push_on" type="id" />
    <item name="id_push_off" type="id" />

    <!-- イベントトリガーID：外貨預金 -->
    <item name="id_0252_fc_detail_download" type="id" />

    <!-- Deeplink用 Host Path -->
    <string name="deeplink_http_drs2_host">fesakamai86.stg.rakuten-bank.co.jp</string>
    <string name="deeplink_http_drs2_path">/MS/main/drs2*</string>
    <string name="deeplink_http_sol_path">/MS/main/sol*</string>

    <!-- URL判定用文字列 -->
    <string name="WEBVIEW_URL_MyAccount">MyAccount</string>
    <string name="WEBVIEW_URL_SPPrimaryNotification">SPPrimaryNotification</string>

</resources>