<%_
const isAquos8 = typeof exid !== 'undefined' && exid === 600879;
_%>
<%_ if (isAquos8) { _%>
<div class="l-System_Container u-Adjust_Mt-40">
  <h3 class="c-Heading_Lv3">注意事項</h3>
  <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">お支払いについて</h4>
  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 分割払いのお支払い総額は、製品の税込価格から楽天ポイントによるお支払い額を差し引きお支払い回数で分割した金額となります。正式なご請求金額はmy 楽天モバイルでご確認ください。</p>
  <h4 class="c-Heading_Lv4 u-Adjust_Mt-16" id="anc1">各種キャンペーンのポイント還元について</h4>
  <p class="c-Txt_Cap u-Adjust_Mt-8">※3 「<a href="<%= sitepath %>campaign/android-discount/#campaign-rule2178" class="c-Link_Txt-inline">【Android対象製品限定】特価キャンペーン</a>」適用時。</p>
  <p class="c-Txt_Cap u-Adjust_Mt-16">※ お支払い回数にかかわらず、キャンペーンの条件を満たしていれば特典が適用されます。</p>
  <h4 class="c-Heading_Lv4 u-Adjust_Mt-16" id="anc2">楽天ポイントのご利用について</h4>
  <p class="c-Txt_Cap u-Adjust_Mt-8">※4 一度に利用できるポイント数は1～30,000 (ダイヤモンド会員の方は～500,000) ポイントです。製品を分割払いでご購入の場合、2回目以降のお支払いにはご利用いただけません。</p>
</div>
<%_ } else { _%>
<div class="l-System_Container u-Adjust_Mt-40">
  <h3 class="c-Heading_Lv3">注意事項</h3>
  <h4 class="c-Heading_Lv4 u-Adjust_Mt-40">お支払いについて</h4>
  <p class="c-Txt_Cap u-Adjust_Mt-8">※ 分割払いのお支払い総額は、製品の税込価格から楽天ポイントによるお支払い額を差し引きお支払い回数で分割した金額となります。正式なご請求金額はmy 楽天モバイルでご確認ください。</p>
  <h4 class="c-Heading_Lv4 u-Adjust_Mt-16" id="anc1">各種キャンペーンのポイント還元について</h4>
  <p class="c-Txt_Cap u-Adjust_Mt-8">※3 「<a href="<%= sitepath %>campaign/start-point/#campaign-rule2006" class="c-Link_Txt-inline">「Rakuten最強プラン」＋対象のAndroid製品ご購入でポイント還元キャンペーン</a>」適用時。</p>
  <p class="c-Txt_Cap">※4 「<a href="<%= sitepath %>campaign/start-point/#campaign-rule2091" class="c-Link_Txt-inline">【Rakuten最強プランはじめてお申し込み特典】他社から乗り換えでポイントプレゼント</a>」適用時。</p>
  <p class="c-Txt_Cap u-Adjust_Mt-16">※ キャンペーンによってポイントの付与時期・有効期間が異なり、分割して付与されるポイントもございます。必ずキャンペーンルールをご確認ください。<br>
    ※ お支払い回数にかかわらず、キャンペーンの条件を満たしていれば特典が適用されます。</p>
  <h4 class="c-Heading_Lv4 u-Adjust_Mt-16" id="anc2">楽天ポイントのご利用について</h4>
  <p class="c-Txt_Cap u-Adjust_Mt-8">※5 一度に利用できるポイント数は1～30,000 (ダイヤモンド会員の方は～500,000) ポイントです。製品を分割払いでご購入の場合、2回目以降のお支払いにはご利用いただけません。</p>
</div>
<%_ } _%>
