<div class="u-Adjust_Mt-24 l-System_Container c-Txt_Cap">
  <p>※1 楽天カードのみ。</p>
  <p>※2 楽天カード以外のクレジットカードで24回払いを選択した場合、分割手数料が発生します。割り切れない端数は1回目のご請求に含まれます。</p>
  <p>※3 各種キャンペーンの<a href="#anc1" class="c-Link_Txt js-scroll">詳細はこちら。</a></p>
  <p>※4 楽天ポイント利用の<a href="#anc2" class="c-Link_Txt js-scroll">詳細はこちら。</a></p>
</div>
