<% const pagetitle = "iPhone 14（5G対応）製品情報・購入" -%>
<% const directory = "iphone-14" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/iphone/", label:"iPhone"}] -%>
<%
  const currentDir = "iphone-14"
  const l_id = 'product_iphone-14'
  const namespace = "product-iphone-14"
  const cp_l_id = 'product_iphone_iphone-14'
  const hideFlg = {
    pro: true,
    _14: true,
    se3rd: true,
  }

  // price-detail.ejsファイルに変数の説明の記載があります
  const priceDetailConfig = {
    tradeinProductName: 'iPhone 13 Pro Max',
    optionPattern: 'tradein',
    lid: directory,
    capacity: 1,
    maxTradeinPrice: 89500,
    carrier: '楽天モバイル',
}
_%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: "楽天モバイルならiPhone 14を4キャリア公式オンライン「最安値」で購入可能。スペック・特徴・5G対応の確認もできます。Webで簡単手続きが便利！※2023.1.30時点。当社調べ",
    noindex: false,
    pathname: filepath,
    redirect: {
      url: 'product/iphone/iphone-14/'
    }
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
