<div class="u-Adjust_Mt-40 u-Adjust_Pb-48">
  <h3 class="c-Heading_Lv3">主な特長</h3>
  <ul class="c-List_Text-disc u-Adjust_Mt-32">
    <li>6.7インチSuper Retina XDRディスプレイ <span class="c-Txt_Cap">1</span></li>
    <li>最大26時間のビデオ再生をもたらす、一日中使えるバッテリー <span class="c-Txt_Cap">2</span></li>
    <li>Ceramic Shieldや耐水性能を採用した、業界トップクラスの耐久性 <span class="c-Txt_Cap">4</span></li>
    <li>5コアGPUを搭載した飛ぶように速いA15 Bionicチップと、超高速の5G携帯電話通信 <span class="c-Txt_Cap">5</span></li>
    <li>どんな明るさでも見とれるほど美しく撮影できる、進化したカメラシステム</li>
    <li>手持ちの撮影でも手ぶれのない映像が撮れるアクションモード</li>
    <li>最大30fpsの4Kドルビービジョンに対応したシネマティックモード</li>
    <li>命を守るために設計された安全機能の衝突事故検出 <span class="c-Txt_Cap">3</span>。自動車での重大な衝突事故を認識して救助を要請</li>
    <li>カスタマイズ、コミュニケーション、共有の方法を一段と広げるiOS 16 <span class="c-Txt_Cap">6</span></li>
  </ul>
  <div class="c-Txt_Cap u-Adjust_Mt-16">
    <p>1 ディスプレイは四隅が丸みを帯びています。標準的な長方形として対角線の長さを測った場合のスクリーンのサイズは6.68インチです。実際の表示領域はこれより小さくなります。</p>
    <p>2 バッテリー駆動時間は使用条件と構成によって異なります。詳しくは<a href="https://www.apple.com/jp/batteries" target="_blank" rel="noopenner noreferrer" class="c-Link_Txt">apple.com/jp/batteries</a>をご覧ください。</p>
    <p>3 iPhone 14 Plusは自動車での重大な衝突事故を認識し、救助要請の電話をかけることができます。携帯電話通信またはWi-Fi通話が必要です。</p>
    <p>4 iPhone 14 Plusは防沫性能、耐水性能、防塵性能を備えており、実験室の管理された条件下でのテストにより、IEC規格60529にもとづくIP68等級に適合しています（最大水深6メートルで最大30分間）。防沫性能、耐水性能、防塵性能は永続的に維持されるものではなく、通常の使用によって耐性が低下する可能性があります。iPhoneが濡れている場合は充電しないでください。クリーニングと乾燥の方法についてはユーザガイドをご覧ください。液体による損傷は保証の対象になりません。</p>
    <p>5 データプランが必要です。5Gは特定の国の特定の通信事業者で利用できます。速度は使用する場所の条件と通信事業者によって変わります。5G対応の詳細については通信事業者にお問い合わせください。<a href="https://www.apple.com/jp/iphone/cellular" target="_blank" rel="noopenner noreferrer" class="c-Link_Txt">apple.com/jp/iphone/cellular</a>もあわせてご覧ください。</p>
    <p>6 国や地域によっては一部の機能を利用できない場合があります。</p>
  </div>
</div>
