<div class="u-Adjust_Mt-40 u-Adjust_Pb-48">
  <h3 class="c-Heading_Lv3" data-ratid="<%= productName %>_scroll-11_feature" data-ratevent="appear">主な特長</h3>
  <ul class="c-List_Text-disc u-Adjust_Mt-32">
    <li>チタニウムデザイン — iPhone 15 Proは、強くて軽い航空宇宙産業レベルのチタニウムデザインを採用。背面には、テクスチャードマットガラスを。前面には、どんなスマートフォンのガラスよりも頑丈なCeramic Shieldを。防沫性能、耐水性能、防塵性能も備えています <span class="c-Txt_Cap">1</span>。</li>
    <li>先進的なディスプレイ — 6.1インチのSuper Retina XDRディスプレイ <span class="c-Txt_Cap">2</span> はProMotionを採用。圧倒的なグラフィックス性能が必要な時は、120Hzまでリフレッシュレートを上げます。Dynamic Islandには、アラートやライブアクティビティが浮かび上がります。常時表示ディスプレイは、最新情報を常にロック画面上に表示。一目で確認できるので、タップする必要はありません。</li>
    <li> A17 Pro。Proという名のチップ — プロクラスのGPUにより、モバイルゲームの遊び心地が臨場感あふれるものに。豊かな背景とリアルなキャラクターが目に飛び込みます。A17 Proは電力効率も驚異的なので、バッテリーを一日中使えます <span class="c-Txt_Cap">3</span>。プロにふさわしいパワーです。</li>
    <li>パワフルなProのカメラシステム — 7種類のプロ用レンズで、どこまでも自由なフレーミングを。48MPメインカメラは、超高解像度の写真に一段と多くのカラーとディテールをもたらします。3倍望遠カメラを搭載したiPhone 15 Proなら、さらに遠くから、さらにシャープなクローズアップで撮影できます。</li>
    <li>カスタマイズできるアクションボタン — アクションボタンは、よく使う機能への新しい近道。消音モード、カメラ、ボイスメモ、ショートカットなど、好きなアクションを設定したら、長押しするだけで起動できます。</li>
    <li>Proの接続機能 — 新しいUSB-Cコネクタにより、iPhone 15 Proと同じケーブルでMacやiPadを充電できます。USB 3に対応したので、データ転送速度が飛躍的に向上しました <span class="c-Txt_Cap">4</span>。さらに、Wi-Fi 6Eを使えば最大2倍速くファイルをダウンロードできます <span class="c-Txt_Cap">5</span>。</li>
    <li>命を守るために設計された安全機能 — 衝突事故検出により、iPhoneが自動車での重大な衝突事故を認識。あなたが電話をかけられない場合に救助を要請します <span class="c-Txt_Cap">6</span>。</li>
    <li>地球と、あなたと、みんなのために — iPhoneは、あなたが自分のデータを管理できるようにするプライバシー保護機能を搭載しています。環境への負荷を最小限に抑えるために、より多くの再生素材を使用。誰もがiPhoneを一段と簡単に使えるようにする機能も内蔵しています。</li>
    <li>AppleCareの保証付き — すべてのiPhoneには、製品購入後1年間のハードウェア製品限定保証と90日間の無償テクニカルサポートがついています。</li>
  </ul>
  <div class="c-Txt_Cap u-Adjust_Mt-16">
    <p>1 iPhone 15、iPhone 15 Plus、iPhone 15 Pro、iPhone 15 Pro Maxは防沫性能、耐水性能、防塵性能を備えており、実験室の管理された条件下でのテストにより、IEC規格60529にもとづくIP68等級に適合しています（最大水深6メートルで最大30分間）。防沫性能、耐水性能、防塵性能は永続的に維持されるものではなく、通常の使用によって耐性が低下する可能性があります。iPhoneが濡れている場合は充電しないでください。クリーニングと乾燥の方法についてはユーザガイドをご覧ください。液体による損傷は保証の対象になりません。</p>
    <p>2 ディスプレイは四隅が丸みを帯びています。標準的な長方形として対角線の長さを測った場合のスクリーンのサイズは6.12インチ（iPhone 15 Pro、iPhone 15）または6.69インチ（iPhone 15 Pro Max、iPhone 15 Plus）です。実際の表示領域はこれより小さくなります。</p>
    <p>3 バッテリー駆動時間は使用条件と構成によって異なります。詳しくは<a href="https://www.apple.com/jp/batteries" target="_blank" rel="noopenner noreferrer" class="c-Link_Txt">apple.com/jp/batteries</a>をご覧ください。</p>
    <p>4 iPhone 15 Proモデルで最大20倍速いデータ転送を行うには、10Gb/sの速度のUSB 3ケーブルが必要です。</p>
    <p>5 Wi-Fi 6Eは対応している国と地域で利用できます。</p>
    <p>6 iPhone 15とiPhone 15 Proは自動車での重大な衝突事故を認識し、救助要請の電話をかけることができます。携帯電話通信またはWi-Fi通話が必要です。</p>
  </div>
</div>
