<div class="u-Adjust_Mt-40 u-Adjust_Pb-48">
  <h3 class="c-Heading_Lv3">主な特長</h3>
  <ul class="c-List_Text-disc u-Adjust_Mt-32">
    <li>Dynamic IslandをiPhone 15でも — 画面のトップに浮かび上がるような動きで、アラートやライブアクティビティを表示。Dynamic Islandがあれば、別のことをしていても知りたい情報をキャッチできます。電話をかけてきた相手の名前、フライトの状況、ほかにもいろいろ見られます。</li>
    <li>イノベーションが息づくデザイン — iPhone 15は、カラーインフューズドガラスとアルミニウムを採用した美しくタフなボディを持ち、防沫性能、耐水性能、防塵性能を備えています <span class="c-Txt_Cap">1</span>。Ceramic Shieldの前面は、どんなスマートフォンのガラスよりも頑丈です。そして、6.1インチのSuper Retina XDRディスプレイ <span class="c-Txt_Cap">2</span> は、太陽の下での明るさがiPhone 14と比べて最大2倍になりました。</li>
    <li>2倍望遠に対応した48MPメインカメラ — 48MPのメインカメラを使って、超高解像度での撮影ができます。つまり、驚くほどのディテールをとらえた見事な写真が、かつてないほど簡単に撮れます。光学2倍望遠を使えば、完璧なクローズアップ写真をフレームに収めることができます。</li>
    <li>次世代のポートレート — ディテールと色彩が劇的に向上。より美しいポートレートを撮れます。撮影後でも、タップするだけで複数の被写体の間でピントを切り替えられます。</li>
    <li>パワフルなA16 Bionicチップ — コンピュテーショナルフォトグラフィー、Dynamic Islandのなめらかな動き、通話のための「声を分離」機能など、先進的な機能をパワフルに動かす超高速のチップです。しかもA16 Bionicは驚くほどの電力効率なので、一日中バッテリーが持続します <span class="c-Txt_Cap">3</span>。</li>
    <li>USB-Cの接続機能 — USB-Cコネクタを搭載。iPhone 15の充電に使うケーブルをMacやiPadにも使えます。さらに、Apple WatchやAirPodsをiPhone 15につないで充電することもできます。</li>
    <li>命を守るために設計された安全機能 — 衝突事故検出を搭載したiPhoneは自動車での重大な衝突事故を認識し、あなたが電話をかけられない場合、代わりに救助を要請します <span class="c-Txt_Cap">4</span>。</li>
    <li>地球と、あなたと、みんなのために — iPhoneは、あなたが自分のデータを管理できるようにするプライバシー保護機能を搭載しています。環境への負荷を最小限に抑えるために、より多くの再生素材を使用。誰もがiPhoneを一段と簡単に使えるようにする機能も内蔵しています。</li>
    <li>AppleCareの保証付き — すべてのiPhoneには、製品購入後1年間のハードウェア製品限定保証と90日間の無償テクニカルサポートがついています。</li>
  </ul>
  <div class="c-Txt_Cap u-Adjust_Mt-16">
    <p>1 iPhone 15、iPhone 15 Plus、iPhone 15 Pro、iPhone 15 Pro Maxは防沫性能、耐水性能、防塵性能を備えており、実験室の管理された条件下でのテストにより、IEC規格60529にもとづくIP68等級に適合しています（最大水深6メートルで最大30分間）。防沫性能、耐水性能、防塵性能は永続的に維持されるものではなく、通常の使用によって耐性が低下する可能性があります。iPhoneが濡れている場合は充電しないでください。クリーニングと乾燥の方法についてはユーザガイドをご覧ください。液体による損傷は保証の対象になりません。</p>
    <p>2 ディスプレイは四隅が丸みを帯びています。標準的な長方形として対角線の長さを測った場合のスクリーンのサイズは6.12インチ（iPhone 15 Pro、iPhone 15）または6.69インチ（iPhone 15 Pro Max、iPhone 15 Plus）です。実際の表示領域はこれより小さくなります。</p>
    <p>3 バッテリー駆動時間は使用条件と構成によって異なります。詳しくは<a href="https://apple.com/jp/batteries" rel="noopenner noreferrer" target="_blank" class="c-Link_Txt">apple.com/jp/batteries</a>をご覧ください。</p>
    <p>4 iPhone 15とiPhone 15 Proは自動車での重大な衝突事故を認識し、救助要請の電話をかけることができます。携帯電話通信またはWi-Fi通話が必要です。</p>
  </div>
</div>

