<% const pagetitle = "楽天モバイル買い替え超トクプログラム（盗難・紛失の場合の解約の流れ）" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/iphone/upgrade-program/", label:"楽天モバイル買い替え超トクプログラム各種お手続き方法"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル買い替え超トクプログラムでご利用いただいている製品が盗難・紛失に遭われた際、製品を買い取り解約するためのお手続き画面の流れをご案内いたします。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'https://network.mobile.rakuten.co.jp/guide/replacement-program/loss/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
