<% const pagetitle = "お申し込み後、約5分で乗り換え！eSIM×eKYCで最大21,000円相当分ポイント還元！" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'campaign/close/2021/?campaignid=accordion-1252'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
