<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex, nofollow, noarchive">
  </head>
  <body>
    <div style="padding: 16px;">
      <h1>TEST PAGE</h1>
      <br>
      <p>
        <a href="https://stg.refer.rakuten.co.jp/invitation/rakuten_link?campaign=mobile">紹介はこちら（For Japanese）</a>
      </p>
      <br>
      <p>
        <a href="https://stg.refer.rakuten.co.jp/invitation/rakuten_link?campaign=mobile_en">紹介はこちら（For English）</a>
      </p>
    </div>
  </body>
</html>
