<div class="u-Adjust_Mt-80">
  <h2 class="c-Heading_Lv2">フレッツ光の障害・メンテナンス情報</h2>
  <div class="l-hikari-Section_Sub-content-short">
    <p>フレッツ光の障害・メンテナンス情報は、NTT東日本・NTT西日本のWebサイトをご覧ください。</p>
    <p class="u-Adjust_Mt-16"><a href="http://flets.com/customer/const2/" class="c-Link_Txt-icon" target="_blank" rel="noopener noreferrer">NTT東日本<span class="c-Icon_New-window-l"></span></a></p>
    <p class="u-Adjust_Mt-16"><a href="http://www.info-construction.ntt-west.co.jp/info-report/ku010/kU010010/" class="c-Link_Txt-icon" target="_blank" rel="noopener noreferrer">NTT西日本<span class="c-Icon_New-window-l"></span></a></p>
  </div>
</div>
