<%_
const namespace = "treasureHunt"
_%>

<section class="<%= namespace %>-Faq u-Adjust_Mt-64">
  <div class="l-System_Container">
    <h2 class="c-Heading_Lv2" data-ratid="scroll-08_faq" data-ratevent="appear">よくあるご質問</h2>
    <div class="u-Adjust_Mt-24">
      <div class="c-Accordion">
        <button id="accordion-faq-1" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-1" data-auto-rat="faqac" data-ratid="rmt_faqac_01" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>楽天モバイルユーザーではないのですが、参加できますか？</button>
        <div id="accordion-content-faq-1" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-1" aria-hidden="true">
          <p>楽天会員であれば、楽天モバイルに契約されていない方でもご参加いただけます。<br>
            楽天モバイルの契約をご希望でしたら、<a href="<%= sitepath %>guide/application/?lid-r=mi_rmb_web_202404_treasure-hunt_ruleapply">こちら</a>からお申し込みください。
          </p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-2" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-2" data-auto-rat="faqac" data-ratid="rmt_faqac_02" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>年齢制限はありますか？</button>
        <div id="accordion-content-faq-2" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-2" aria-hidden="true">
          <p>
            年齢制限はございませんが、謎解きは小学生以上を対象とした難易度設定となっております。<br>
            また、小学生以下の方は宝箱探しへお出かけの際には保護者の同伴をお願いいたします。
          </p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-3" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-3" data-auto-rat="faqac" data-ratid="rmt_faqac_03" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>子どもや外国人でも楽しめますか？</button>
        <div id="accordion-content-faq-3" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-3" aria-hidden="true">
          <p>小学生レベルの知識と日本語の読み書きができる方でしたら、どなたでもお楽しみいただけます。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-4" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-4" data-auto-rat="faqac" data-ratid="rmt_faqac_04" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>ミッション③クリアのためには、全６か所の宝箱を発見しないといけないですか？</button>
        <div id="accordion-content-faq-4" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-4" aria-hidden="true">
          <p>いいえ。最低1か所の宝箱を発見し、QRコードから最後の謎を解けば、ミッション③の条件クリアとなります。<br>
            しかし、宝箱の発見数が多ければ多いほど特典②の抽選への応募口数も増えるので、ぜひチャレンジしてみてください。
          </p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-5" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-5" data-auto-rat="faqac" data-ratid="rmt_faqac_05" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>特典①と特典②の両方の特典をもらうことはできますか？</button>
        <div id="accordion-content-faq-5" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-5" aria-hidden="true">
          <p>はい。特典①と特典②の参加条件を満たしている方は、両方の特典の対象となります。</p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-6" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-6" data-auto-rat="faqac" data-ratid="rmt_faqac_06" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>SNSを持っていないのですが、特典をもらうことはできますか？</button>
        <div id="accordion-content-faq-6" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-6" aria-hidden="true">
          <p>
            はい。本キャンペーンはSNSでのシェアを必須としているものはないため、SNSをお持ちでなくても他の参加条件を満たしていれば、特典の対象者となります。<br>なお、エントリーは必須となります。
          </p>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-7" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-7" data-auto-rat="faqac" data-ratid="rmt_faqac_07" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>特典②の「抽選権○口」とはどういう意味ですか？</button>
        <div id="accordion-content-faq-7" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-7" aria-hidden="true">
          <p>抽選への応募口数が多ければ多いほど、特典②への当選確率が高くなる仕組みです。</p>
          <p class="u-Adjust_Mt-16">抽選権の獲得条件は下記の通りです。</p>
          <ul class="c-List_Text-disc u-Adjust_Mt-8">
            <li class="u-Adjust_Mt-0">
              <span class="c-Txt_Emp-01">5口：</span><br>
              「#ここでもつながる楽天モバイル」のハッシュタグをつけて、宝探し参加の様子や感想などをご自身のXアカウントに投稿
            </li>
            <li class="u-Adjust_Mt-8">
              <span class="c-Txt_Emp-01">10口：</span><br>
              各スポットの宝箱発見<br>
              <span class="c-Txt_Cap">（※宝箱の中に設置されているQRコードより指定のページへアクセスし、最後の謎解きに正解してエントリー。楽天会員ログインが必須です）</span>
            </li>
            <li class="u-Adjust_Mt-8">
              <span class="c-Txt_Emp-01">25口：</span><br>
              各スポットでの宝箱第一発見者<br>
              <span class="c-Txt_Cap">（※宝箱の中に設置されているQRコードより指定のページへアクセスし、最後の謎解きに正解してエントリーした日時がもっとも早かった方。楽天会員ログインが必須です）</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="c-Accordion">
        <button id="accordion-faq-8" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="false" aria-controls="accordion-content-faq-8" data-auto-rat="faqac" data-ratid="rmt_faqac_08" data-ratevent="click" data-ratparam="all"><span class="c-Icon_Chevron-right c-Accordion_Arrow"></span>特典②の楽天モバイル1か月相当/3か月相当/1年相当の楽天ポイントをもらいたい場合は、楽天モバイルへ契約する必要がありますか？</button>
        <div id="accordion-content-faq-8" class="c-Accordion_Panel js-Accordion_Panel" role="region" aria-labelledby="accordion-faq-8" aria-hidden="true">
          <p>いいえ、楽天モバイルのご利用料金が無料になる特典ではなく、楽天モバイルでの該当期間分の利用料金を楽天ポイントで贈呈する特典ですので、楽天会員であれば、他携帯キャリアをご契約中の方でも特典をお受け取りいただけます。</p>
          <p class="u-Adjust_Mt-16">もし楽天モバイルのご契約を希望でしたら、<a href="<%= sitepath %>guide/application/?lid-r=mi_rmb_web_202404_treasure-hunt_ruleapply">こちら</a>からお申し込みください。</p>
        </div>
      </div>
    </div>
  </div>
</section>
