<%# pitariでredirectする用のページ(RM契約あればinquiry/easy/へ) %>
<% const pagetitle = "" -%>
<%-
 include('/_header', {
    pagetitle,
    description: '',
    noindex: true,
    pathname: filepath,
  });
%>
<script src="https://www.rakuten.co.jp/com/advance/mobile/mnoprj_inqury_easy/responsive/condition.js"></script>
<script src="https://r.r10s.jp/com/ap/target/phoenix-2.9.0.min.js"></script>
<%- include('/include/_append-head') %>
</head>
<body data-phoenix-mnoprj_inqury_easy_responsive>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
