<% const pagetitle = "OPPO A73発売記念キャンペーン" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'campaign/close/2021/?campaignid=accordion-1117'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
