<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "利用可能エリア" -%>
<% const directories = [{path: hikariroot.path + "about/", label:"楽天ひかりについて"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天ひかりのサービス提供エリアについてご案内です。NTTフレッツ光がご利用になれるエリアでは楽天ひかりもご利用いただけます。楽天ブロードバンドとセットになったおトクな高速インターネット回線のご案内です。',
    noindex: false,
    pathname: filepath,
    ishikari: true,
    redirect: {url: 'hikari/internet/area/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
