<% const pagetitle = "通信・エリア" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイルの通信エリア（4G・5Gの電波状況）を、地図や住所検索で簡単にご確認いただけます。あなたの住む街でも快適に。楽天回線がつながるエリア拡大中！',
    noindex: true,
    pathname: filepath,
    browseragent: false,
    redirect: {url: 'area/'},
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
