<% const pagetitle = "正式契約手続きがお済みでないお客様へ" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイル 楽天市場店でお申し込みいただいたお客様へ、ご利用開始にあたっての正式契約手続きのご案内です。',
    noindex: false,
    pathname: filepath,
    redirect: {url: 'https://www.rakuten.ne.jp/gold/rakutenmobile-store/attention/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
