<% const pagetitle = "楽天ミュージック" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    // directories: directories,
    description: '',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'https://play.google.com/store/apps/details?id=jp.co.rakuten.music'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
