<% const directories = [] -%>
<%-
 include('/_header', {
    pagetitle: "【公式】楽天ひかり 1年目の月額基本料がタダ！",
    description: '',
    noindex: true,
    pathname: filepath,
    ishikari: true,
    redirect: {url: "hikari/"}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
