<% const pagetitle = "Rakuten Linkのご利用方法" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '電話・メッセージ・SMSがこれひとつ。楽天モバイルの便利なダイヤルアプリ「Rakuten Link（リンク）」の設定方法・ご利用方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<meta http-equiv="refresh" content="0;URL=https://service.link.link/guide/">
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
