<% const pagetitle = "楽天モバイル プレスカンファレンスLIVE配信のお知らせ" -%>
<% const directories = [{path:"info/", label:"お知らせ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '2020年3月3日（火）15:00～ 楽天モバイル プレスカンファレンスLIVE配信のお知らせ。携帯キャリアサービス本格始動に際し、プラン料金発表などをLIVE配信いたします',
    noindex: true,
    pathname: filepath,
    redirect: {url: ''}
  });
%>

</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
