<div class="turbo-campaign-Simulation">
  <h2 class="c-Heading_Lv2 u-Adjust_Align-center">月々のお支払い料金</h2>
  <div class="turbo-campaign-Simulation_Panel u-Adjust_Mt-24">
    <div class="turbo-campaign-Simulation_Panel-contents">
    <div class="turbo-campaign-Simulation_Line">
      <h3 class="c-Heading_Lv4 u-Adjust_Align-center">製品代金 48回払いの場合</h3>
    </div>
    <picture class="turbo-campaign-Simulation_Panel-image">
      <source media="(max-width:834px)" srcset="/assets/img/internet/turbo/common/simulation/img-fee-sp.png" width="343" height="598">
      <img src="/assets/img/internet/turbo/common/simulation/img-fee-pc.png" alt="2846円/月〜 ※48回払いは楽天カードのみ ※初月のみ契約事務手数料3,300円あり 内訳 プラン料金 1年目 1,980円/月 ※2年目以降4,840円/月 製品代金 48回払い 866円/月※初回請求878円" height="381">
    </picture>
    </div>
  </div>
</div>
