<header class="g-hikari-Header-new">
  <div class="g-hikari-Header-new_Logo-wrapper" style="display: none;"></div>
  <div class="g-hikari-Header-new_Container">
    <div class="g-hikari-Header-new_Container-inner">
      <a href="<%= sitepath %>hikari/" class="g-hikari-Header-new_Logo-2">
        <img src="<%= sitepath %>assets/img/hikari/common-v2/header-logo-white.svg" class="g-hikari-Header-new_Logo-1" alt="Rakuten 光">
      </a>
    </div>
  </div>
</header>
<header class="g-hikari-Header-new g-hikari-Header-new_Follow" style="display: none;">
  <div class="g-hikari-Header-new_Container">
    <div class="g-hikari-Header-new_Container-inner">
      <a href="<%= sitepath %>hikari/" class="g-hikari-Header-new_Logo-2">
        <img src="<%= sitepath %>assets/img/hikari/common-v2/header-logo-white.svg" class="g-hikari-Header-new_Logo-1" alt="Rakuten 光">
      </a>
    </div>
  </div>
</header>

<script>
  const header = document.getElementsByClassName('g-hikari-Header-new_Follow')[0];
  const observerHeader = new IntersectionObserver ((entries) => {
    for (const e of entries) {
      if (e.isIntersecting) {
        header.style.display = 'none';
      } else {
        header.style.display = 'block';
      }
    }
  });
  observerHeader.observe(document.getElementsByClassName('g-hikari-Header-new_Logo-wrapper')[0]);
</script>
