<% const namespace = "spu" -%>

<!-- エントリーチェックJS -->
<div class="riCheckEntry" id="checkEntry1">
    <div class="checkEntryConfig" style="display:none" jsonurl="https://api.oubo.rakuten.co.jp/1.0/entry/check" campaignid="89965"></div>
    <!-- 未エントリーバナー -->
    <div class="nonEntryBanner">
        <form action="https://oubo.rakuten.co.jp/apply/rmobile/spun/220916">
            <input id="submitEntry" type="submit" class="<%= namespace %>-Btn_StartEntry" value="まずはエントリー！">
        </form>
    </div>
    <!-- /未エントリーバナー -->
    <!-- エントリー済みバナー -->
    <div class="alreadyEntryBanner <%= namespace %>-Btn_StartEntry <%= namespace %>-Btn_Primary <%= namespace %>-Btn_Primary-done" style="display:none;" aria-disabled="true">
        <div class="riTaC">エントリー済みです</div>
    </div>
    <!-- /エントリー済みバナー -->
</div>
<script type="text/javascript" charset="EUC-JP" src="https://r.r10s.jp/com/js/d/check_entry/check_entry-1.1.1.min.js"></script>
<!-- /エントリーチェックJS -->
