<% const pagetitle = "メンテナンスのお知らせ" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'メンテナンスのお知らせはこちら。楽天モバイル（楽天回線）のメンテナンス情報をご案内します',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'maintenance/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>


