<% const pagetitle = "全通信キャリアのApple Watch 価格比較表 | Apple Watch | 製品 | 楽天モバイル" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/apple-watch/", label:"Apple Watch一覧"}] -%>
<%-
 include('/_header', {
    pagetitle,
    directories,
    description: 'Apple Watch Ultra 2の本体価格比較表です。楽天モバイルでは全通信キャリア最安値※で販売しています。※2023年12月14日時点。NTTドコモ、au、ソフトバンクの公式オンラインのApple Watch本体代金との比較。',
    noindex: true,
    pathname: filepath,
    redirect:{url:'https://network.mobile.rakuten.co.jp/product/apple-watch/'}
  });
%>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/_append-body') %>
</body>
</html>
