<div class="c-Theme-Emphasis1 u-Adjust_Px-0 u-Adjust_Py-24">
  <div class="l-System_Container top-Carousel_Product">
    <h3 class="c-Heading_Lv3 u-Adjust_Mb-16">オススメ製品</h3>
    <div id="js-recommended-product-list"><%#
      vue rendering area
      - src/vue/top/recommend/ProductList.vue
      - src/csv/device-osusume.csv
      - src/csv/device-iphone.csv
      - src/csv/device-top.csv
    _%>
    </div>
    <div class="c-Carousel_Nav-v2-wrap top-Carousel_Product-nav">
      <div class="c-Carousel_Nav-v2"></div>
      <div class="c-Carousel_Nav-v2-bar"></div>
    </div>
    <p class="c-Txt_Cap u-Adjust_Mt-8">
      *1 キャンペーンのポイント詳細は<a href="#note" class="c-Link_Txt js-scroll">こちら</a>。<br>
      *2,3 キャンペーンの詳細は<a href="#note" class="c-Link_Txt js-scroll">こちら</a>。
    </p>
  </div>
</div>
