<div class="top-Carousel_Product">
  <div id="js-iphone-product-list"><%#
    vue rendering area
    - src/vue/top/iphone/ProductList.vue
    - src/csv/device-iphone.csv
  _%>
  </div>
  <div class="c-Carousel_Nav-v2-wrap top-Carousel_Product-nav">
    <div class="c-Carousel_Nav-v2"></div>
    <div class="c-Carousel_Nav-v2-bar"></div>
  </div>
</div>
