<div id="login-Gadget_Default" aria-hidden="true">
  <div id="login-Gadget_Default-logout" aria-hidden="true">
    <div class="top-Login_Wrapper">
      <div class="top-Login">
        <div class="top-Login_Message">
          <div class="top-Login_Message-welcome">ようこそ楽天モバイルへ</div>
          <p class="top-Login_Message-catch">楽天モバイルご契約者ならSPU+4倍に！ポイントで料金支払いも可能！<a class="c-Link_Txt" href="https://grp03.id.rakuten.co.jp/rms/nid/login?service_id=rm005&client_id=rmn_app_web&redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&err_redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&scope=memberinfo_read_safebulk%2Cmemberinfo_read_point%2Cmemberinfo_get_card_token%2C30days%40Access%2C90days%40Refresh&contact_info_required=false&rae_service_id=rm005">ご利用可能なポイントを確認</a></p>
        </div>
        <div class="top-Login_Link"><a class="c-Link_Txt" href="https://grp03.id.rakuten.co.jp/rms/nid/login?service_id=rm005&client_id=rmn_app_web&redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&err_redirect_uri=https%3A%2F%2Fnetwork.mobile.rakuten.co.jp%2F&scope=memberinfo_read_safebulk%2Cmemberinfo_read_point%2Cmemberinfo_get_card_token%2C30days%40Access%2C90days%40Refresh&contact_info_required=false&rae_service_id=rm005">ログイン</a> / <a class="c-Link_Txt" href="https://grp01.id.rakuten.co.jp/rms/nid/registfwd?service_id=rm005">会員登録</a></div>
      </div>
    </div>
    <div class="u-Rat_Appear-height" data-ratid="gadget_login-gadget_none-login" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  </div>

  <div id="login-Gadget_Default-login" aria-hidden="true">
    <div class="top-Login_Wrapper">
        <div class="top-Login">
        <div class="top-Login_Member">
          <div class="top-Login_Name" id="login-Gadget_Default-rank"><a href="https://my.rakuten.co.jp/"><span id="login-Gadget_Default-name"></span>さん</a></div>
          <div class="top-Login_Point"><span class="c-Txt_Alphanumeric-m" id="login-Gadget_Default-point"></span>ポイント</div>
          <div class="top-Login_Appeal" id="pitari_gadget_01" data-phoenix-mnoprj_gadget_responsive></div>
        </div>
        <div class="top-Login_Link top-Login_Link-logout">
          <div><a href="<%= sitepath%>logout/" class="c-Link_Txt-inline">ログアウト<span class="c-Icon_Chevron-right"></span></a></div>
        </div>
      </div>
    </div>
  </div>

  <div id="login-Gadget_Default-rat" aria-hidden="true">
    <div id="login-Gadget_Default-holder" aria-hidden="true">
      <div class="u-Rat_Appear-height" data-ratid="gadget_login-gadget" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
    </div>
    <div id="login-Gadget_Default-nonholder" aria-hidden="true">
      <div class="u-Rat_Appear-height" data-ratid="gadget_login-gadget_none" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
    </div>
  </div>
  <div id="login-Gadget_Default-mno" aria-hidden="true">
    <div class="u-Rat_Appear-height" data-ratid="gadget-simulation_login-gadget" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  </div>
  <div id="login-Gadget_Default-mvno" aria-hidden="true">
    <div class="u-Rat_Appear-height" data-ratid="gadget-simulation_login-gadget_none" data-ratevent="appear" data-ratparam="all">&nbsp;</div>
  </div>
</div>
