<div id="js-video-play" data-ratid="top-none-carousel-movie-click" data-ratevent="click" data-ratparam="all"></div>
<div id="js-video-stop" data-ratid="stop-movie_default" data-ratevent="click" data-ratparam="all"></div>
<script src="https://players.brightcove.net/5068808272001/e1UWguzSZ_default/index.min.js" defer></script>
<script src="https://players.brightcove.net/5068808272001/SZHlQ6Z1V_default/index.min.js" defer></script>
<script src="<%= sitepath %>assets/js/top-carousel-video.bundle.js?20240521" defer></script>
