<div class="top-Important" id="js-top-Important_Notices" style="display: none;">
  <div class="l-System_Container">
    <div class="c-Accordion top-Important_Notices">
      <button type="button" id="accordion-top" class="c-Accordion_Trigger js-Accordion_Trigger" aria-expanded="true" aria-controls="accordion-content-top"><span class="c-Icon_Chevron-right c-Accordion_Arrow top-Important_Notices-arrow"></span>重要なお知らせ</button>
      <div id="accordion-content-top" class="c-Accordion_Panel js-Accordion_Panel top-Important_Notices-panel" role="region" aria-labelledby="accordion-top" aria-hidden="false">
        <div id="important-notices"></div>
        <div id="attention-info" class="c-Attention_Info" style="display: none;">
        </div>
        <div id="maintenance"></div>
      </div>
    </div>
  </div>
</div>
