<% const pagetitle = "Rakuten WiFi Pocket の修理保証" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/internet/", label:"Wi-Fiルーター／周辺機器"}, {path:"product/internet/rakuten-wifi-pocket/", label:"Rakuten WiFi Pocket"}, {path:"product/internet/rakuten-wifi-pocket/support/", label:"Rakuten WiFi Pocket サポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten WiFi Pocket の修理保証についてご案内します',
    noindex: false,
    pathname: 'product/internet/rakuten-wifi-pocket/support/repair-warranty/',
    canonical_custom: 'https://network.mobile.rakuten.co.jp/product/internet/rakuten-wifi-pocket/support/',
    redirect: {url: 'product/internet/rakuten-wifi-pocket/support/'},
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
