<!-- hikari common include parts -->
<!--
<div>
  <div class="l-System_Container i-hikari-Information_Content">
      <div class="i-hikari-Information_Title">お知らせ</div>
      <dl class="i-hikari-Information_List">
        <div>
            <dt>2021月6月15日</dt>
            <dd><a href="/hikari/information/2021/0615_01/" class="c-Link_Txt-icon">楽天ひかり工事費分割お支払い方法および契約更新期間変更について<span class="c-Icon_Chevron-right"></span></a></dd>
        </div>
      </dl>
  </div>
</div>
-->
<!-- / hikari common include parts -->
