<% const pagetitle = "料金プラン詳細" -%>
<% const directories = [{path:"fee/", label:"Rakuten UN-LIMIT VII（料金プラン）"}] -%>
<% const namespace = "fee" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイル「Rakuten UN-LIMIT VII（ラクテンアンリミットセブン）」の料金詳細をご案内します',
    keywords: '',
    directories: directories,
    noindex: true,
    pathname: filepath,
    redirect: {url: 'fee/saikyo-plan/detail/'}
  });
%>
</head>

<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
