<!-- <div class="shop-Reservation_Append">
  <h2 class="c-Heading_Lv4">すでにプランや製品がお決まりの方へ</h2>
  <p class="u-Adjust_Mt-16">Webで、たったの3項目を入力・保存してからショップに行くだけで、店頭でのお手続きがよりスムーズに！</p>
  <figure class="u-Adjust_Mt-24">
    <img class="js-lazy" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="<%= sitepath %>assets/img/shop/detail/reservation-image-01.png" alt="Webで、たったの3項目を入力・保存してからショップに行くだけで、店頭でのお手続きがよりスムーズに！" width="310" height="126">
  </figure>
  <ul class="shop-Reservation_Flow">
    <li><a href="<%= onboardingpath %>plans" class="c-Btn_Regular-auto"><span>プラン選択ページに進む</span></a></li>
    <li><a href="<%= onboardingpath %>smartphones" class="c-Btn_Regular-auto"><span>製品選択ページに進む</span></a></li>
  </ul>
</div> -->