<% const pagetitle = "お急ぎ便 お申し込みフォーム" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/ubereats/", label:"お急ぎ便 Delivered with Uber Eats"}] -%>
<% const namespace = 'guide-ubereats-form' _%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「お急ぎ便 Delivered with Uber Eats」のお申し込みフォームです。画面の案内に沿って必要事項をご入力ください',
    noindex: true,
    pathname: filepath,
    redirect: {url: ''}
  });
_%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
