<% const pagetitle = "お急ぎ便 お申し込み完了" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}, {path:"guide/ubereats/", label:"お急ぎ便 Delivered with Uber Eats"}] -%>
<% const namespace = 'guide-ubereats-form-thanks' _%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '「お急ぎ便 Delivered with Uber Eats」のお申し込み完了画面です。今後のお手続きの流れをご案内します',
    noindex: true,
    pathname: filepath,
    redirect: {url: ''}
  });
_%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
