<% const pagetitle = "Rakuten Mini" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    keywords: '',
    noindex: true,
    pathname: filepath
  });
%>
<%- include('/include/shop-display/_category-css') %>
</head>
<body>
  <div>
    <div>機種に関しては<br>スタッフへご確認ください</div>
  </div>
</body>
</html>
