<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "楽天ひかりの申し込み" -%>
<% const directories = [] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    // directories: directories,
    description: '楽天ひかりのお申し込みはこちらから。おトクなキャンペーンを選択してお申し込みください。',
    noindex: true,
    pathname: filepath,
    ishikari: true,
    redirect: {url: `${hikariroot.path}campaign/one-year-free/`}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
