<h3 class="c-Heading_Lv3">■注意事項</h3>
<div class="u-Adjust_Mt-32">
  <p>■他社プラン比較条件について</p>
  <div class="c-Txt_Normal-s">
    <p>
      <span class="c-Txt_Emp-02">※その他、各種キャンペーンによって、割引が適用される場合があります。</span><br>
      ※製品代、契約事務手数料、データチャージを含むオプション料、通話料等は別費用。
    </p>
    <p class="u-Adjust_Mt-16">
      【楽天モバイル：Rakuten最強プランについて】<br>
      ※毎月のデータ利用料で料金が変わるワンプラン。<br>
      ※データ無制限は、公平なサービスのため、速度制限の場合あり。環境により速度低下する場合あり。
    </p>
    <p class="u-Adjust_Mt-16">
      【ドコモ（eximo）について】<br>
      ※「eximo」は、加入の場合の金額。<br>
      ※「eximo」の家族割は「みんなドコモ割」が適用される。2回線適用で550円／月（税込）の割引。3回線以上適用で1,100円／月（税込）の割引。
    </p>
    <p class="u-Adjust_Mt-16">
      【ドコモ（irumo）について】<br>
      ※「irumo」は、加入の場合の金額。<br>
      ※データ利用量が9GBを超過した場合で、高速データ通信が可能なプランは提供されていません。
    </p>
    <p class="u-Adjust_Mt-16">
      【ドコモ（その他）について】<br>
      ※「5Gギガホ プレミア」は、加入の場合の金額。<br>
      ※「5Gギガライト」は、加入の場合の金額。<br>
      ※「5Gギガホ プレミア」「5Gギガライト」の家族割は「みんなドコモ割」が適用される。2回線適用で550円／月（税込）の割引。3回線以上適用で1,100円／月（税込）の割引。
    </p>
    <p class="u-Adjust_Mt-16">
      【au】<br>
      ※「使い放題MAX 5G／4G」は、加入の場合の金額。<br>
      ※「使い放題MAX 5G／4G」の家族割は「家族割プラス」が適用される。2回線適用で550円／月（税込）の割引。3回線以上適用で1,100円／月（税込）の割引。<br>
      ※「スマホミニプラン 5G／4G」は、加入の場合の金額。<br>
      ※「スマホミニプラン 5G／4G」の家族割は「家族割プラス」が適用される。2回線適用で220円／月（税込）の割引。3回線以上適用で550円／月（税込）の割引。
    </p>
    <p class="u-Adjust_Mt-16">
      【SoftBank】<br>
      ※「メリハリ無制限+」は、加入の場合の金額。（メリハリ無制限+は「データプランメリハリ無制限」＋「基本プラン（音声）」の合計金額）。<br>
      ※「メリハリ無制限+」の家族割は「新みんな家族割」が適用される。2回線適用で660円／月（税込）の割引。3回線以上適用で1,210円／月（税込）の割引。<br>
      ※「メリハリ無制限+」に加入で、ギガ利用量2GB以下の月は1,650円（税込）割引。<br>
      ※「ミニフィットプラン＋」は、加入の場合の金額。（ミニフィットプラン＋は「データプランミニフィット」＋「基本プラン（音声）」の合計金額）。<br>
      ※「ミニフィットプラン＋」は「新みんな家族割」の対象プランではありません。<br>
      ※「ペイトク30／ペイトク50／ペイトク無制限」は、加入の場合の金額。<br>
      ※「ペイトク30／ペイトク50／ペイトク無制限」の家族割は「新みんな家族割」が適用される。を2回線適用で660円／月（税込）の割引。3回線以上適用で1,210円／月（税込）の割引。
    </p>
    <p class="u-Adjust_Mt-16">
      【ahamo】<br>
      ※「ahamo」は、加入の場合の金額。<br>
      ※「ahamo大盛り」は、加入の場合の金額。<br>
      ※「ahamoポイ活」は、「ahamo大盛り」「ポイ活オプション」加入の場合の金額。<br>
      ※データ利用量が100GBを超過した場合で、高速データ通信が可能なプランは提供されていません。
    </p>
    <p class="u-Adjust_Mt-16">
      【povo2.0】<br>
      ※データ容量を都度トッピングするプランです。<br>
      ※「データトッピング3GB」は「データ追加3GB」を購入の場合の金額。<br>
      ※「データトッピング20GB」は「データ追加20GB」を購入の場合の金額。<br>
      ※「データトッピング60GB」は「データ追加60GB」を購入の場合の金額。<br>
      ※「データトッピング150GB」は「データ追加150GB」を購入の場合の金額。<br>
      ※データ利用量が150GBを超過した場合で、高速データ通信が可能なプランは提供されていません。
    </p>
    <p class="u-Adjust_Mt-16">
      【LINEMO】<br>
      ※「ミニプラン」は、加入の場合の金額。<br>
      ※「スマホプラン」は、加入の場合の金額。<br>
      ※データ利用量が20GBを超過した場合で、高速データ通信が可能なプランは提供されていません。追加データ料550円（税込）／1GB。
    </p>
    <p class="u-Adjust_Mt-16">
      【Y! mobile】<br>
      ※「シンプルS」は、加入の場合の金額。<br>
      ※「シンプルM」は、加入の場合の金額。<br>
      ※「シンプルL」は、加入の場合の金額。<br>
      ※「シンプルS」「シンプルM」「シンプルL」の家族割は、加入で「家族割引サービス」をご利用の場合。2回線適用／3回線以上適用で1,188円／月（税込）の割引。<br>
      ※データ利用量が25GBを超過した場合で、高速データ通信が可能なプランは提供されていません。追加データ料550円（税込）／1GB。
    </p>
    <p class="u-Adjust_Mt-16">
      【UQ mobile】<br>
      ※「トクトクプラン」は、加入の場合の金額。<br>
      ※「ミニミニプラン」は、加入の場合の金額。<br>
      ※「コミコミプラン」は、加入の場合の金額。<br>
      ※「トクトクプラン」「ミニミニプラン」の家族割は、加入で「家族セット割」をご利用の場合。2回線適用／3回線以上適用で550円／月（税込）の割引。「コミコミプラン」は「家族セット割」対象外。<br>
      ※データ利用量が20GBを超過した場合で、高速データ通信が可能なプランは提供されていません。追加データ料550円（税込）／1GB。
    </p>
  </div>
  <div class="u-Adjust_Mt-24">
    <p>■毎月のお支払いに楽天ポイントが使える</p>
    <p class="c-Txt_Normal-s">
      ※月々のお支払いに口座振替をご指定の場合は、楽天ポイントをご利用いただけません。利用上限があります。<br>
      ※一度にご利用できるポイント数は1～30,000 (ダイヤモンド会員の方は～500,000) ポイントです。
    </p>
  </div>
  <div class="u-Adjust_Mt-24">
    <p>■楽天モバイルご契約中SPUポイント＋4倍について</p>
    <p class="c-Txt_Normal-s">
      ※毎月の獲得上限ポイント数は2,000ポイント。期間限定ポイントでの付与。詳細は<a href="<%= sitepath %>campaign/spu/" class="c-Link_Txt">こちら</a>をご確認ください。
    </p>
  </div>
</div>
