<% const pagetitle = "Rakuten Linkアプリのプッシュ通知を受け取る" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '電話・メッセージ・SMSがこれひとつ。楽天モバイルの便利なダイヤルアプリ「Rakuten Link（リンク）」でメッセージを送る方法をご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<meta http-equiv="refresh" content="0;URL=https://service.link.link/guide/setting/notifications.html">
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
