<% const hikariroot = {path: "hikari/", title: "楽天ひかり"} -%>
<% const pagetitle = "料金表・お支払い方法" -%>
<% const directories = [{path: hikariroot.path + "fee/", label:"料金"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    noindex: true,
    pathname: filepath,
    ishikari: true,
    redirect: {url: "hikari/fee/pricelist/"}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
