<% const pagetitle = "楽天ひかりUN-LIMITキャンペーン" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%>
<% const namespace = "hikari" -%>
<% const isClosed = "false" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'おうちのネットがタダ！！楽天ひかりと楽天モバイルをあわせて使うと、楽天ひかりの月額基本料が1年無料。SPU対象でポイントも貯まる。回線速度最大概ね1Gbps、次世代通信規格IPv6対応で混雑する時間帯でもより快適。',
    keywords: '',
    noindex: false,
    pathname: filepath,
    canonical_custom: 'https://network.mobile.rakuten.co.jp/campaign/hikari/one-year-free/',
    redirect: {url: 'campaign/hikari/one-year-free/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
