<% const {namespace, category, linkListContent, hasScrollRat} = pageInfo -%>
<div class="<%= namespace %>-Layout_Faq" id="smallcategory-faq">
  <div class="l-System_Container">
    <div class="<%= namespace %>-Faq_Heading u-Adjust_Align-center">
      <h2 class="c-Heading_Lv2">よく見られているご質問</h2>
    </div>

    <p class="u-Adjust_Mt-16">よく見られているご質問をご案内します。
お困りごとが解決しない場合は、各ページからチャットやお電話でお問い合わせいただけます。</p>
    <div id="js-faq-display" class="<%= namespace %>-Faq_Display">
    </div>
  </div>
<%_ if (hasScrollRat) { _%>
  <div class="u-Rat_Appear-height" data-ratid="support_suspension_suspension_scroll-05_faq" data-ratevent="appear">&nbsp;</div>
<%_ } _%>
</div>
