<% const {namespace, subCategory, linkListContent} = pageInfo -%>
<div class="<%= namespace %>-Layout_Main-sp u-Adjust_Mb-64">
  <div class="<%= namespace %>-Utility_Disp-tab u-Adjust_Align-center">
    <img class="" src="<%= sitepath %>assets/img/support/solution.png" width="152" alt="">
  </div>
</div>
