<% const pagetitle = "プラン料金3カ月無料キャンペーン・エントリー受付ページ" -%>
<% const directories = [{path:"campaign/", label:"キャンペーン・特典"}] -%><%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '現在、こちらのページにて「プラン料金3カ月無料キャンペーン」のエントリーを受け付けております。本キャンペーンの適用をご希望のお客様は、事前エントリーをしてください。',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'campaign/'}
  });
%>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/_append-body') %>
</body>

</html>
