<% const pagetitle = "各種手数料" -%>
<% const directories = [{path:"support/", label:"お客様サポート"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルのSIMカードの再発行手数料、契約解除手数料、代金引換(代引き)手数料など、各種手数料についてご案内します',
    noindex: true,
    pathname: filepath,
    redirect: {url: 'guide/commission/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
