<div class="u-Adjust_Pb-24">
  <h2 class="c-Heading_Lv2">キャンペーン・おすすめ情報</h2>
  <div class="c-Carousel js-Carousel-multi u-Adjust_Mt-24">
    <%- include('_bnr-cpn-recommend-bnr') %>
  </div>
  <div class="c-Carousel_Nav u-Adjust_Mt-32"></div>
  <div class="u-Adjust_Align-center u-Adjust_Mt-40"><a href="<%= sitepath %>campaign/?l-id=campaign_carousel_campaign-top" class="c-Btn_Regular-auto"><span>キャンペーン一覧を見る</span></a></div>
</div>
