<div class="u-Adjust_Pb-24">
  <h2 class="c-Heading_Lv2" data-ratid="scroll_include-bnr-cpn-recommend-v2" data-ratevent="appear" data-ratparam="all">キャンペーン・おすすめ情報</h2>
  <div class="c-Carousel c-Carousel_Campaign-recommend js-Carousel-multi u-Adjust_Mt-24">
    <%- include('_bnr-cpn-recommend-bnr') %>
  </div>
  <div class="c-Carousel_Nav-v2-wrap">
    <div class="c-Carousel_Nav-v2"></div>
    <div class="c-Carousel_Nav-v2-bar"></div>
  </div>
  <div class="u-Adjust_Align-center u-Adjust_Mt-40"><a href="<%= sitepath %>campaign/?l-id=campaign_carousel_campaign-top" class="c-Btn_Regular"><span>キャンペーン一覧を見る</span></a></div>
</div>
