
  <div class="g-Footer_Nav">
    <ul class="g-Footer_Nav-main">
      <li><a href="https://corp.mobile.rakuten.co.jp/" target="_blank" rel="noopener">会社概要</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="https://business.mobile.rakuten.co.jp/?scid=wi_rmb_pers_footer" target="_blank" rel="noopener">法人のお客様</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="https://business.mobile.rakuten.co.jp/partner/?scid=wi_rmb_pers_footer" target="_blank" rel="noopener">法人パートナープログラム</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="https://corp.mobile.rakuten.co.jp/guide/privacy/" target="_blank" rel="noopener">個人情報の取扱いについて</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="https://corp.mobile.rakuten.co.jp/guide/security/" target="_blank" rel="noopener">情報セキュリティポリシー</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="https://corp.mobile.rakuten.co.jp/guide/trademark/" target="_blank" rel="noopener">商標・登録商標について</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="<%= sitepath %>secondhand-dealer/">古物営業法に基づく表示</a></li>
      <li><a href="<%= sitepath %>terms/">利用規約</a></li>
      <li><a href="<%= sitepath %>optout/">外部送信される情報の取り扱いについて</a></li>
    </ul>
    <small class="g-Footer_Copyright">&copy; Rakuten Mobile, Inc.</small>
  </div>
  <div class="g-Footer_Rgroup">

    <% if (typeof page != 'undefined') { %>
    <% if (page == 'top') { %>
      <div class="g-Footer_Rgroup-bnr">
        <ul class="c-Banner_List js-Banner top-Layout_Footer-list">
          <li class="c-Banner_List-item">
            <a href="https://youtu.be/fJZrmX9oWj4" target="_blank"><img src="<%= sitepath %>assets/img/common/bnr-stop-kaizoku-480-240-230523.png" width="240" height="120" alt="STOP! 海賊版" loading="lazy"></a>
          </li>
        </ul>
        <div class="c-Banner_Nav"></div>
      </div>
    <% } %>
    <% } else { %>
    <% } %>

    <ul class="g-Footer_Rgroup-link">
      <li>楽天グループ</li>
      <li><a href="https://www.rakuten.co.jp/sitemap/" target="_blank" rel="noopener">サービス一覧</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="https://www.rakuten.co.jp/sitemap/inquiry.html" target="_blank" rel="noopener">お問い合わせ一覧</a><span class="c-Icon_New-window-l"></span></li>
      <li><a href="https://corp.rakuten.co.jp/sustainability/" target="_blank" rel="noopener">サステナビリティ</a><span class="c-Icon_New-window-l"></span></li>
    </ul>
    <div>
      <%# スクロール計測 %>
      <div class="u-Rat_Appear-height" data-ratid="scroll-00_logo" data-ratevent="appear">&nbsp;</div>
    </div>
  </div>
