
<!-- Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RBR6Z6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<input type="hidden" id="ratLinkDomain" value="secure3.gol.com,hikari.faq.rakuten.net">
<script src="https://jp.rakuten-static.com/1/grp/banner/js/create.js"></script>
<!-- PC header banner -->
<div id="mkdiv_header_pitari"></div>
