<link rel="stylesheet" href="<%= sitepath %>assets/css/inc/i-related-media.css?20240424">

<h2 class="c-Txt_Normal-ll i-Related-media_Title">関連記事：わかる！スマホ活用術</h2>
<ul class="u-Adjust_Mt-24 u-Adjust_Mb-56 c-Link_List">
  <% for (let i = 0; i < articles.length; i++) { %>
    <li><a href="<%= articles[i].link %>" target="_blank"><%= articles[i].title %><span class="c-Icon_Chevron-right"></span></a></li>
  <% } %>
</ul>
