@charset "UTF-8";
/*  ----------------------------------------------------------

common

----------------------------------------------------------  */

body {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
    display: block;
}
/*  ----------------------------------------------------------

display

----------------------------------------------------------  */
@media screen and (min-width: 769px) {
	.sp {
		display: none !important;
	}
}
@media screen and (max-width: 768px) {
	.pc {
		display: none !important;
	}
}
/*  ----------------------------------------------------------

header

----------------------------------------------------------  */
header {
    position: absolute;
    top: 3.13vw;
    left: 5.08vw;    
}
.header_logo {
    width: 36.1vw;
}
@media screen and (min-width: 769px) {
	.header_logo {
        width: 12.96vw;
    }
    header {
        top: 2.02vw;
        left: 10.94vw;
    }
}
/*  ----------------------------------------------------------

FV

----------------------------------------------------------  */
.fv {
    background: #ff008c;
}
.fv_wrap {
    padding: 12.11vw 0 10.42vw;
    margin: 0 auto;
}
.fv_sub_text {
    width: 100%;
    margin: 3vw 0 0;
}
.fv_main_text {
    color: #fff;
    font-size: 9.1vw;
    font-weight: 900;
    text-align: center;
    line-height: 1.176;
}
.fv_main_text .mini {
    font-size: 6.91vw;
    line-height: 1.886;
    position: relative;
    margin-left: 0.652vw;
}
.fv_main_text .mini::before {
    content: "※1";
    position: absolute;
    top: -3.3vw;
    left: 0;
    font-size: 2.345vw;
    color: #fff;
}
.fv_main_text .big {
    font-size: 14.54vw;
    line-height: 1;
}
.fv_box {
    margin: 0 auto;
    padding: 2.86vw 10.03vw 0
}
.fv_sub_text_comment {
    color: #fff;
    font-weight: 500;
    font-size: 2.474vw;
    width: 89.98vw;
    margin: 3.86vw auto 0;
    line-height: 1.8;
}
@media screen and (min-width: 769px) {
    .fv_wrap {
        padding: 6.18vw 0 2.93vw;
        margin: 0 auto;
    }
	.fv_wrap_second {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10.94vw 0 10.092vw;
        gap: 6.374vw;
    }
    .fv_main_text {
        font-size: 5.28vw;
        line-height: 1.183;
        white-space: nowrap;
    }
    .fv_main_text .mini {
        font-size: 3.256vw;
        line-height: 1.918;
        margin-left: 0.518vw;
    }
    .fv_main_text .mini::before {
        top: -1.6vw;
        font-size: 1.107vw;
    }
    .fv_main_text .big {
        font-size: 7.88vw;
        line-height: 1.157;
    }
    .fv_sub_text {
        margin: 3.5vw 0 0 0.782vw;
    }

    .fv_cta_link:hover .fv_cta_text::after {
        background-image: url(../images/btn-icn-wh.png);
    }
    .fv_box {
        padding: 0;
        margin: 0;
        width: 30vw;
        width: 37.15vw;
    }
    .fv_sub_text_comment {
        font-size: 1.042vw;
        width: 78.06vw;
        margin: 2.08vw auto 0;
        line-height: 1.6;
    }
}
/*  ----------------------------------------------------------

intro

----------------------------------------------------------  */
.intro {
    padding: 10.42vw 0 10.29vw;
}
.intro_title {
    font-size: 7.292vw;
    font-weight: 900;
    text-align: center;
    line-height: 1.16;
    padding: 0 3.907vw 0 1.954vw;
}
.intro_title .big {
    font-size: 12.37vw;
    line-height: 1.063;
    letter-spacing: -0.05em;
}
.intro_title .color {
    color: #ff008c;
    position: relative;
    margin-right: 2vw;
}
.intro_title .color::after {
    content: "※";
    position: absolute;
    top: 2vw;
    right: -2vw;
    font-size: 2.345vw;
    color: #000;
}
.intro_title .number {
    font-size: 10.68vw;
    letter-spacing: -0.07em;
    margin-right: 0.6vw;
}
.intro_title_comment {
    font-size: 2.345vw;
    font-weight: 400;
    margin: 1.95vw 4.4vw 0 0;
    text-align: right;
    line-height: 1;
}
.intro_title_comment a {
    color: #000;
    transition: 0.3s;
}
.intro_title_comment a:hover {
    opacity: 0.7;
}
.intro_1_img {
    padding: 8.98vw 10.03vw 0;
}
.intro_2_img {
    padding: 9.11vw 4.95vw 0;
}
.intro_dotted {
    background-image: linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 8px);
    background-size: 1.95vw 0.26vw;
    background-position: left bottom;
    background-repeat: repeat-x;
    width: 87%;
    height: 0.39vw;
    display: block;
    margin: 0 auto;
}
.intro_3_text {
    font-size: 6.25vw;
    font-weight: 900;
    text-align: center;
    padding-top: 12.11vw;
}
.intro_3_text_under {
    font-size: 4.3vw;
    text-align: center;
}
.intro_3_img {
    padding: 6.52vw 0 0;
    width: 90.24vw;
    margin: 0 auto;
    display: block;
}
@media screen and (min-width: 769px) {
    .intro {
        padding: 6.51vw 23.89vw 5.24vw;
    }
    .intro_title {
        font-size: 3.65vw;
        line-height: 1.16;
        padding: 0;
    }
    .intro_title .big {
        font-size: 6.18vw;
        line-height: 1.063;
    }
    .intro_title .color {
        color: #ff008c;
        position: relative;
        margin-right: 1vw;
    }
    .intro_title .color::after {
        top: 0.6vw;
        right: -1.1vw;
        font-size: 1.17vw;
    }
    .intro_title .number {
        font-size: 5.34vw;
    }
    .intro_title_comment {
        font-size: 1.17vw;
        margin: 0.98vw 4.5vw 0 0;
    }
    .intro_1_img {
        width: 52.15vw;
        margin: 0 auto;
        padding: 3.58vw 0 0 ;
    }
    .intro_2_img {
        width: 44.99vw;
        margin: 0 auto;
        padding: 5.53vw 0 0;
        display: block;
    }
    .intro_3_text {
        font-size: 3.13vw;
        padding-top: 4.56vw;
    }
    .intro_3_text_under {
        font-size: 2.15vw;
    }
    .intro_dotted {
        background-size: 0.98vw 0.13vw;
        width: 87%;
        height: 0.2vw;
    }
    .intro_3_img {
        padding: 3.26vw 0 0;
        width: 45.12vw;
    }
}
/*  ----------------------------------------------------------

tethering

----------------------------------------------------------  */
.tethering {
    padding: 10.42vw 0;
    background: #fff2f9;
}
.tethering_title {
    font-weight: 900;
    letter-spacing: 0.05em;
    text-align: center;
    width: max-content;
    margin: 0 auto;
}
.tethering_title .mini{
    font-size: 7.29vw;
    line-height: 1.803;
}
.tethering_title .big{
    font-size: 12.11vw;
    color: #ff008c;
    line-height: 1.086;
    position: relative;
}
.tethering_title .big::after{
    content: "※";
    position: absolute;
    top: 1vw;
    right: -3vw;
    font-size: 2.34vw;
    font-weight: 400;
    color: #000;
}
.tethering_1_img {
    width: 70.74vw;
    margin: 7.81vw auto 0;
}
.tethering_text_1 {
    font-size: 4.43vw;
    font-weight: 700;
    margin: 7.86vw auto 0;
    width: max-content;
    text-align: center;
    line-height: 1.8823;
}
.tethering_text_1 span {
    font-weight: 900;
    color: #ff008c;
    background: #fff;
}
.tethering_text_1_comment {
    font-size: 2.34vw;
    width: 89.97vw;
    margin: 5.21vw auto 0;
}
.tethering_text_2 {
    font-size: 7.68vw;
    font-weight: 900;
    width: max-content;
    margin: 8.98vw auto 0;
    text-align: center;
}
.tethering_text_2 .color {
    color: #ff008c;
}
.tethering_text_2 .mini {
    font-size: 6.38vw;
}
.annotation_1,
.annotation_2 {
    position: relative;
}
.annotation_1::after {
    content: "※1";
    position: absolute;
    top: 0.5vw;
    right: -2vw;
    font-size: 2.34vw;
    font-weight: 400;
    color: #000;
}
.annotation_2::after {
    content: "※2";
    position: absolute;
    top: 0.6vw;
    right: -3.6vw;
    font-size: 2.34vw;
    font-weight: 400;
    color: #000;
}
.tethering_text_3 {
    font-size: 4.43vw;
    font-weight: 700;
    margin: 7.16vw auto 0;
    width: max-content;
    text-align: center;
    line-height: 1.8823;
}
.tethering_text_3 span {
    font-weight: 900;
    color: #ff008c;
    background: #fff;
    position: relative;
    margin-right: 3vw;
}
.tethering_text_3 span::after {
    content: "※2";
    position: absolute;
    top: 0.6vw;
    right: -3.6vw;
    font-size: 2.34vw;
    font-weight: 400;
    color: #000;
}
.tethering_2_img {
    margin: 8.59vw 0 0;
}
@media screen and (min-width: 769px) {
    .tethering {
        padding: 5.21vw 0 6.58;
    }

    .tethering_title .mini {
        font-size: 2.99vw;
        line-height: 2.195;
    }
    .tethering_title .big {
        font-size: 5.4vw;
        line-height: 1.21;
    }
    .tethering_title .big::after {
        top: -4.8vw;
        right: 4vw;
        font-size: 1.04vw;
    }
    .tethering_1_img {
        width: 35.37vw;
        margin: 3.91vw auto 0;
    }
    .tethering_text_1 {
        font-size: 2.21vw;
        margin: 3.86vw auto 0;
    }
    .tethering_text_1_comment {
        font-size: 1.17vw;
        width: 78.19vw;
        margin: 2.6vw auto 0;
        text-align: center;
    }
    .tethering_text_2 {
        font-size: 3.84vw;
        margin: 6.51vw auto 0;
    }
    .tethering_text_2 .mini {
        font-size: 3.19vw;
    }
    .annotation_1::after {
        top: 0.2vw;
        right: -1.1vw;
        font-size: 1.17vw;
    }
    .annotation_2::after {
        top: 0.2vw;
        right: -2vw;
        font-size: 1.17vw;
    }
    .tethering_text_3 {
        font-size: 2.21vw;
        margin: 1.95vw auto 0;
    }
    .tethering_text_3 span {
        margin-right: 1.4vw;
    }
    .tethering_text_3 span::after {
        top: 0.2vw;
        right: -2vw;
        font-size: 1.17vw;
    }
    .tethering_2_img {
        margin: 4.43vw 0 0;
    }
}
/*  ----------------------------------------------------------

area

----------------------------------------------------------  */
.area {
    padding: 10.42vw 0 13.02vw;
}
.area_title {
    font-size: 11.72vw;
    font-weight: 900;
    letter-spacing: -0.05em;
    line-height: 1.122;
    color: #ff008c;
    text-align: center;
}
.area_1_img {
    width: 91.41vw;
    margin: 3.13vw auto 0;
}
.area_text {
    font-size: 6.9vw;
    font-weight: 900;
    letter-spacing: -0.05em;
    line-height: 1.905;
    margin: 4.68vw auto 0;
    width: max-content;
    position: relative;
}
.area_text::after {
    content: "※1";
    position: absolute;
    top: 2vw;
    right: -3vw;
    font-size: 2.34vw;
    font-weight: 400;
}
.area_2_img {
    width: 69.79vw;
    margin: 1.17vw auto 0;
}
.area_text_comment {
    font-size: 2.34vw;
    width: 91.87vw;
    margin: 5.21vw auto 0;
}
@media screen and (min-width: 769px) {
    .area {
        padding: 6.51vw 0 7.81vw;
    }
    .area-wrap {
        display: flex;
        justify-content: center;
        width: 78.13vw;
        margin: 0 auto;
        gap: 7.94vw;
        padding-left: 5.7vw;
    }
    .area_title {
        font-size: 4.17vw;
        line-height: 1.1235;
        padding-left: 15.1vw;
        text-align: left;
    }
    .area_1_img {
        width: 24.19vw;
        margin: 1.56vw 0 0;
    }
    .area_text {
        font-size: 2.99vw;
        line-height: 2.195;
        margin: 0 auto ;
    }
    .area_2_img {
        width: 34.9vw;
        margin: 0.33vw 0 0;
    }
    .area_text::after {
        top: 1.4vw;
        right: -1.6vw;
        font-size: 1.04vw;
    }
    .area_text_comment {
        font-size: 1.04vw;
        width: 78.13vw;
        margin: 2.93vw auto 0;
    }
}
/*  ----------------------------------------------------------

voice

----------------------------------------------------------  */
.voice {
    padding: 14.32vw 0 10.29vw;
}
.voice_title {
    font-weight: 900;
    font-size: 7.29vw;
    letter-spacing: -0.05em;
    line-height: 1.25;
    text-align: center;
}
.voice_title .big {
    font-size: 12.11vw;
    line-height: 1.086;
    color: #ff008c;
    margin-top: 2.73vw;
    display: block;
}
.voice_title .strong {
    position: relative;
}
.voice_title .strong::before {
    content: "";
    background: #000;
    position: absolute;
    top: -0.3vw;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 1.3vw;
    height: 1.3vw;
    border-radius: 50%;
}
.swiper {
    margin-top: 10.42vw;
}
.swiper-wrapper {
    margin-left: -2.82vw;
}
.swiper-pagination {
    display: flex;
    width: 55.99vw !important;
    position: initial;
    background: #f7f7f7;
    border-radius: 1.3vw;

}
.swiper-pagination-bullet {
    width: 100%;
    height: 1.95vw;
    border-radius: 0;
    margin: 0 !important;
    background-color: #f7f7f7;
}
.swiper-pagination-bullet-active {
    background-color: #ff008c;
    border-radius: 1.3vw;
}
.swiper-button-next, .swiper-button-prev {
    width: 11.33vw;
    height: 11.33vw;
    position: initial;
    margin-top: initial;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    background: url(../images/icon_next.png) no-repeat;
    background-size: cover;
    width: 11.33vw;
    height: 11.33vw;
    content: "";
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    background: url(../images/icon_prev.png) no-repeat;
    background-size: cover;
    width: 11.33vw;
    height: 11.33vw;
    content: "";
}
.swiper-button-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11.33vw;
    margin: 3.26vw auto 0;
    width: 90.23vw;
}
@media screen and (min-width: 769px) {
    .voice {
        padding: 7.81vw 0 5.24vw;
    }
    .voice_title {
        font-size: 2.99vw;
        line-height: 1.521;
    }
    .voice_title .strong::before {
        top: -0.3vw;
        width: 0.52vw;
        height: 0.52vw;
    }
    .voice_title .big {
        font-size: 5.4vw;
        line-height: 1.216;
        margin-top: 0;
    }
    .swiper {
        margin-top: 4.56vw;
    }
    .swiper-wrapper {
        margin-left: initial;
    }
    .swiper-button-wrap {
        height: 4.33vw;
        margin: 2.6vw auto 0;
        width: 52.25vw;
    }
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after,
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        width: 4.33vw;
        height: 4.33vw;
    }
    .swiper-pagination-bullet {
        height: 0.98vw;
    }
}
/*  ----------------------------------------------------------

point

----------------------------------------------------------  */
.point {
    padding: 10.42vw 0;
    background: #fff2f9;
}
.point_title {
    font-weight: 900;
    font-size: 7.29vw;
    letter-spacing: -0.05em;
    line-height: 1.25;
    text-align: center;
    padding-bottom: 0.65vw;
}
.point_title .color {
    color: #ff008c
}
.point_img {
    width: 79.95vw;
    margin: 7.16vw auto 0;
}
@media screen and (min-width: 769px) {
    .point {
        padding: 6.64vw 0 6.51vw;
        background: #fff2f9;
    }
    .point_title {
        font-size: 3.65vw;
        padding-bottom: 0;
    }
    .point_title .color {
        line-height: 1.803;
    }
    .point_img {
        width: 52.15vw;
        margin: 0;
    }
    .point_img_wrap {
        display: flex;
        gap: 4.56vw;
        margin: 3.91vw auto 0;
        width: max-content;
    }
    .point_3_img {
        width: 52.15vw;
        margin: 3.24vw auto 0;
    }
}
/*  ----------------------------------------------------------

zero

----------------------------------------------------------  */
.zero {
    padding: 10.42vw 0;
    background: #ff008c;
}
.zero_title {
    font-size: 7.29vw;
    font-weight: 900;
    color: #fff;
    letter-spacing: -0.05em;
    line-height: 1.25;
    text-align: center;
}
.zero_1_img {
    width: 89.14vw;
    margin: 3.26vw auto 0;
}
.zero_2_img {
    width: 89.84vw;
    margin: 10.42vw auto 0;
}
.zero_comment {
    color: #fff;
    font-size: 2.47vw;
    font-weight: 500;
    width: 89.84vw;
    margin: 7.81vw auto 0;
}

.fv_cta_btn {
    width: 90%;
    margin: 6vw auto 0;
    border: 3px solid #000;
    border-radius: 100px;
    background-color: #FFF302;
    position: relative;
}
.fv_cta_link {
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    padding: 6vw 0 3vw;
    border-radius: 100px;
}
.fv_cta_link:hover  {
    background-color: #cc0170;
}
.fv_cta_link:hover .fv_cta_text {
    color: #fff;
}
.fv_cta_text {
    color: #000;
    font-weight: 800;
    font-size: 5.5vw;
    line-height: 1;
    position: relative;
    /* padding-right: 3vw; */
}
.fv_cta_text::after {
    position: absolute;
    content: "";
    background-image: url(../images/btn-icn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 3vw;
    height: 3vw;
    top: 50%;
    right: 12vw;
    transform: translateY(-50%);
    font-size: 5vw;
}
.fv_cta_text_little {
    font-weight: 600;
    font-size: 4.5vw;
}
.fv_cta_sub {
    position: absolute;
    top: 0;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    background-color: #000;
    text-align: center;
    color: #fff;
    font-size: 3.2vw;
    padding: 0.5vw;
    border-radius: 5px;
    font-weight: 500;
}
.fv_cta_sub::after {
    position: absolute;
    content: "";
    left: 50%;
    top: 99%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 1.5vw solid transparent;
    border-left: 1.5vw solid transparent;
    border-top: 2vw solid #000000;
    border-bottom: 0;
}
.fv_cta_sub span {
    font-size: 2vw;
    vertical-align: top;
    display: inline-block;
}

@media screen and (min-width: 769px) {
    .zero {
        padding: 6.51vw 0;
    }
    .zero_title {
        font-size: 2.99vw;
        line-height: 1.521;
    }
    .zero_1_img {
        width: 44.57vw;
        margin: 1.3vw auto 0;
    }
    .zero_2_img {
        width: 78.19vw;
        margin: 5.14vw auto 0;
    }
    .zero_comment {
        font-size: 1.04vw;
        width: 78.19vw;
        margin: 0.98vw auto 0;
    }
    .fv_cta_text::after {
        position: absolute;
        content: "";
        background-image: url(../images/btn-icn.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 1vw;
        height: 1vw;
        top: 50%;
        right: 4vw;
        transform: translateY(-50%);
        font-size: 5vw;
    }

    .fv_cta_btn {
        width: 80%;
        margin: 3vw auto 0;
        border: 3px solid #000;
        border-radius: 100px;
        background-color: #FFF302;
        position: relative;
    }
    .fv_cta_link {
        text-align: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: inline-block;
        transition: .3s;
        padding: 2vw 0 1vw;
        border-radius: 100px;
    }
    .fv_cta_link:hover  {
        background-color: #cc0170;
    }
    .fv_cta_link:hover .fv_cta_text {
        color: #fff;
    }

    .fv_cta_text {
        color: #000;
        font-weight: 800;
        font-size: 2vw;
        line-height: 1;
    }
    .fv_cta_text_little {
        font-weight: 600;
        font-size: 1.5vw;
        margin: 0 3px;
    }
    .fv_cta_sub {
        position: absolute;
        top: 0;
        left: 50%;
        width: 70%;
        transform: translate(-50%, -50%);
        background-color: #000;
        text-align: center;
        color: #fff;
        font-size: 1.2vw;
        padding: 0.2vw;
        border-radius: 10px;
        font-weight: 600;
    }
    .fv_cta_sub::after {
        position: absolute;
        content: "";
        left: 50%;
        top: 99%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-right: .4vw solid transparent;
        border-left: .4vw solid transparent;
        border-top: .7vw solid #000000;
        border-bottom: 0;
    }
    .fv_cta_sub span {
        font-size: 0.9vw;
        vertical-align: top;
        display: inline-block;
    }
}
/*  ----------------------------------------------------------

campaign

----------------------------------------------------------  */
.campaign {
    padding: 10.42vw 0;
}
.campaign_title {
    color: #ff008c;
    font-size: 7.94vw;
    font-weight: 900;
    text-align: center;
    line-height: 1.131;
    letter-spacing: -0.05em;
}
.campaign_text {
    font-size: 4.69vw;
    font-weight: 700;
    text-align: center;
    line-height: 1.6111;
    letter-spacing: -0.05em;
    margin: 3.91vw auto 0;
}
.campaign_1_img {
    width: 79.95vw;
    margin: 5.86vw auto 0;
}
@media screen and (min-width: 769px) {
    .campaign {
        padding: 6.51vw 0;
    }
    .campaign_title {
        font-size: 3.91vw;
        line-height: 1.15;
    }
    .campaign_text {
        font-size: 2.34vw;
        margin: 1.3vw auto 0;
    }
    .campaign_1_img {
        width: 52.15vw;
        margin: 4.56vw auto 0;
    }
}
/*  ----------------------------------------------------------

open

----------------------------------------------------------  */
.open {
    padding: 9.11vw 0 12.26vw;
    background: #ff008c;
    position: relative;
}
.open::after {
    content: "";
    position: absolute;
    bottom: -3.78vw;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    width: 0;
    height: 0;
    border-right: 2.6vw solid transparent;
    border-left: 2.6vw solid transparent;
    border-top: 4.69vw solid #ff008c;
    border-bottom: 0;
}

@media screen and (min-width: 769px) {
    .open {
        padding: 2.6vw 0;
    }
    .open::after {
        bottom: -1.89vw;
        border-right: 1.3vw solid transparent;
        border-left: 1.3vw solid transparent;
        border-top: 2.34vw solid #ff008c;
        border-bottom: 0;
    }
}
/*  ----------------------------------------------------------

cta

----------------------------------------------------------  */
.cta {
    padding: 9.11vw 0 7.81vw;
    background: #000;
}
.cta_button_1{
    background: url(../images/cta_btn_1_sp.png) no-repeat;
    background-size: cover;
    width: 89.97vw;
    height: 20.57vw;
    margin: 0 auto;
    display: block;
    transition: 0.3s;
}
.cta_button_1:hover {
    background: url(../images/cta_btn_1_sp_hover.png) no-repeat;
    background-size: cover;
}
.cta_comment {
    font-size: 2.47vw;
    font-weight: 500;
    color: #fff;
    width: 89.97vw;
    margin: 7.81vw auto 0;
}
@media screen and (min-width: 769px) {
    .cta {
        padding: 3.58vw 0 2.6vw;
    }
    .cta_button_1 {
        background: url(../images/cta_btn_1.png) no-repeat;
        background-size: cover;
        width: 52.08vw;
        height: 7.16vw;
    }
    .cta_button_1:hover {
        background: url(../images/cta_btn_1_hover.png) no-repeat;
        background-size: cover;
    }
    .cta_comment {
        font-size: 1.04vw;
        width: 78.19vw;
        margin: 1.95vw auto 0;
    }
}
/*  ----------------------------------------------------------

reason

----------------------------------------------------------  */
.reason {
    padding: 10.42vw 0 6.77vw;
    background: #fff2f9;
}
.reason_title {
    font-weight: 900;
    font-size: 6.9vw;
    letter-spacing: -0.05em;
    line-height: 1.905;
    text-align: center;
}
.reason_title .big{
    font-size: 11.72vw;
    line-height: 1.122;
    color: #ff008c;
}
.reason_1_img {
    width: 89.97vw;
    margin: 10.94vw auto 0;
}
.reason_2_img {
    width: 89.97vw;
    margin: 6.77vw auto 0;
}
.reason_img_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 9.51vw;
    row-gap: 5.86vw;
    width: 89.71vw;
    margin: 11.2vw auto 0;
}
.reason_3_img {
    width: 40.1vw;
}
.reason_comment {
    font-size: 2.47vw;
    font-weight: 500;
    width: 91.87vw;
    margin: 2.47vw auto 0;
}
@media screen and (min-width: 769px) {
    .reason {
        padding: 5.21vw 0 6.51vw;
    }
    .reason_title {
        font-size: 2.8vw;
        line-height: 2.348;
    }
    .reason_title .big{
        font-size: 5.21vw;
        line-height: 1.262;
    }
    .reason_img_wrap_pc {
        display: flex;
        width: 78.13vw;
        margin: 4.56vw auto 0;
        gap: 3.85vw;
    }
    .reason_1_img,
    .reason_2_img  {
        width: 37.14vw;
        margin: 0 auto;
    }
    .reason_3_img {
        width: 16.54vw;
    }
    .reason_img_wrap {
        gap: 3.91vw;
        row-gap: 2.9vw;
        width: 77.90vw;
        justify-content: center;
        margin: 5.86vw auto 0;
    }
    .reason_img_wrap img:nth-of-type(1) {
        margin-left: 1vw;
    }
    .reason_img_wrap img:nth-of-type(3) {
        margin-right: 1vw;
    }
    .reason_comment {
        font-size: 1.04vw;
        font-weight: 500;
        width: 78.26vw;
        margin: 4.56vw auto 0;
    }
}
/*  ----------------------------------------------------------

faq

----------------------------------------------------------  */
.faq {
    padding: 10.42vw 0; 
}
.faq_title {
  font-size: 9.11vw;
  font-weight: 900;
  letter-spacing: -0.05em;
  line-height: 130%;
  color: #ff008c;
  text-align: center;
  margin-bottom: 9.11vw;
}
.faq_wrap {
    margin: 6.51vw auto 0;
    width: 87.91vw;
    border: 0.53vw solid #000;
    box-sizing: border-box;
    border-radius: 1.3vw;
}
.faq_q {
    font-size: 3.65vw;
    font-weight: 900;
    color: #fff;
    letter-spacing: -0.05em;
    line-height: 130%;
    background: #000;
    padding: 5.73vw 0 5.73vw 14.19vw; 
    position: relative;
}
.faq_q::before {
    content: "";
    background: url(../images/icon_q.png) no-repeat;
    background-size: contain;
    width: 5.86vw;
    height: 5.34vw;
    position: absolute;
    top: 50%;
    left: 5.08vw;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}
.faq_a {
    font-size: 3.65vw;
    font-weight: 700;
    color: #000;
    letter-spacing: -0.05em;
    line-height: 170%;
    padding: 5.86vw 1.7vw 5.86vw 14.19vw; 
    position: relative;
}
.faq_a::before {
    content: "";
    background: url(../images/icon_a.png) no-repeat;
    background-size: contain;
    width: 5.34vw;
    height: 5.34vw;
    position: absolute;
    top: 50%;
    left: 5.08vw;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

@media screen and (min-width: 769px) {
    .faq {
        padding: 5.21vw 0 6.51vw; 
    }
    .faq_title {
        font-size: 3.91vw;
        margin-bottom: 1.3vw;
    }
    .faq_wrap {
        margin: 3.26vw auto 0;
        width: 78.06vw;
        border: 0.26vw solid #000;
        box-sizing: border-box;
        border-radius: 0.65vw;
    }
    .faq_q {
        font-size: 1.43vw;
        padding: 2.12vw 0 2.12vw 6.64vw;
    }
    .faq_a {
        font-size: 1.43vw;
        padding: 1.95vw 3.39vw 1.95vw 6.64vw;
    }
    .faq_q::before {
        width: 2.47vw;
        height: 2.21vw;
        left: 2.54vw;
    }
    .faq_a::before {
        width: 2.21vw;
        height: 2.21vw;
        left: 2.54vw;
    }
}
/*  ----------------------------------------------------------

footer

----------------------------------------------------------  */
.footer {
    padding: 13.02vw 0 39.06vw;
    background: #f7f7f7;
}
.footer_title {
    font-size: 5.99vw;
    font-weight: 900;
    text-align: center;
    margin-bottom: 2.6vw;
}
.footer_text {
    font-size: 3.65vw;
    font-weight: 700;
    line-height: 180%;
    width: 93.07vw;
    margin: 5.86vw auto 0;
}
.footer_text span {
    font-size: 2.47vw;
    font-weight: 500;
    display: block;
}
.footer small {
    font-size: 2.34vw;
    font-weight: 700;
    text-align: center;
    margin: 13.02vw 0 auto;
    display: block;
}
@media screen and (min-width: 769px) {
    .footer {
        padding: 6.51vw 0 16.28vw;
    }
    .footer_title {
        font-size: 2.99vw;
        margin-bottom: 1.3vw;
    }
    .footer_text {
        font-size: 1.5vw;
        width: 79.13vw;
        margin: 2.93vw auto 0;
    }
    .footer_text span {
        font-size: 1.24vw;
    }
    .footer small {
        font-size: 1.17vw;
        margin: 6.51vw 0 auto;
    }
}
/*  ----------------------------------------------------------

cta_auto

----------------------------------------------------------  */
.cta_auto {
    padding: 1.04vw 0 1.3vw;
    background: rgba(0,0,0,0.7);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.cta_auto_button {
    background: url(../images/cta_auto_btn_sp.png) no-repeat;
    background-size: cover;
    width: 89.97vw;
    height: 16.8vw;
    margin: 0 auto;
    display: block;
    transition: 0.3s;
}
.cta_auto_button:hover {
    background: url(../images/cta_auto_btn_sp_hover.png) no-repeat;
    background-size: cover;
}

.cta_btn {
    width: 89.84vw;
    margin: 0 auto;
    border: 3px solid #FFF302;
    border-radius: 100px;
    background-color: #FFF302;
    position: relative;
}

.cta_link {
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
    transition: .3s;
    padding: 5vw 0 5.7vw;
    border-radius: 100px;
}

.cta_text {
    color: #000;
    font-weight: 800;
    font-size: 6vw;
    line-height: 1;
}
.cta_text_little {
    font-weight: 600;
    font-size: 4.5vw;
    margin: 0 3px;
}

.cta_text::after {
    position: absolute;
    content: "";
    background-image: url(../images/btn-icn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 3.2vw;
    height: 3.2vw;
    top: 50%;
    right: 14vw;
    transform: translateY(-50%);
    font-size: 5vw;
}

.cta_auto_comment {
    font-size: 2.08vw;
    color: #fff;
    width: 90.23vw;
    margin: 0.52vw auto 0;
}
.cta_auto.active {
    opacity: 1;
    visibility: visible;
}
@media screen and (min-width: 769px) {
    .cta_auto {
        padding: 0.46vw 0 0.65vw;
    }
    .cta_auto_button {
        background: url(../images/cta_auto_btn.png) no-repeat;
        background-size: cover;
        width: 52.08vw;
        height: 5.73vw;
    }
    .cta_auto_button:hover {
        background: url(../images/cta_auto_btn_hover.png) no-repeat;
        background-size: cover;
    }
    .cta_btn {
        width: 52%;
        margin: 0 auto;
        border: 3px solid #FFF302;
        border-radius: 100px;
        background-color: #FFF302;
        position: relative;
        transition: .3s;
    }
    .cta_link {
        text-align: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: inline-block;
        transition: .3s;
        padding: 1.6vw 0 1.7vw;
        border-radius: 100px;
        transition: .3s;
    }
    .cta_text {
        color: #000;
        font-weight: 800;
        font-size: 2vw;
        line-height: 1;
        transition: .3s;
    }
    .cta_text_little {
        font-weight: 600;
        font-size: 1.5vw;
        margin: 0 3px;
    }
    
    .cta_text::after {
        position: absolute;
        content: "";
        background-image: url(../images/btn-icn.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 1.2vw;
        height: 1.2vw;
        top: 50%;
        right: 14vw;
        transform: translateY(-50%);
        font-size: 5vw;
        transition: .3s;
    }

    .cta_btn:hover {
        background-color: #cc0170;
        border: 3px solid #fff;
    }

    .cta_link:hover .cta_text {
        color: #fff;
    }
    
    .cta_link:hover .cta_text::after {
        background-image: url(../images/btn-icn-wh.png);
    }
    .cta_auto_comment {
        font-size: 0.91vw;
        color: #fff;
        width: 78.06vw;
        margin: 0.33vw auto 0;
    }
}