<% const pagetitle = "ゆず×楽天モバイル CM・MOVIE" -%>
<% const directories = [{path:"cm/", label:"動画・テレビCMギャラリー"}] -%>
<% const namespace = "cm-yuzu" -%>

<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: 'ゆずと楽天モバイルの特別コラボCM「サプライズがやってきた」篇や、CMのメイキング映像をご覧いただけます。',
    noindex: true,
    pathname: filepath,
    redirect: {url: ''}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
