<%_
const namespace = "corporation";
_%>
<div class="areaCampaign-Hero <%= namespace %>-Hero">
  <h1>
    <picture>
      <source media="(max-width: <%= themeGlb.max.m %>)" srcset="<%= sitepath %>assets/img/area/campaign/corporation/img-kv-sp.png" width="750" height="587">
      <img src="<%= sitepath %>assets/img/area/campaign/corporation/img-kv-pc.png" alt="特別優待キャンペーン キャンペーンのお申し込みとRakuten最強プランの利用開始で14,000ポイントプレゼント 乗り換え以外の方は7,000ポイントプレゼント" width="1440" height="300">
    </picture>
  </h1>
</div>
