<ul class="c-Txt_Cap u-Adjust_Mt-16">
  <li>※上記マップは楽天回線エリアとパートナー回線エリアの復旧状況を示すものとなっております。</li>
  <li>※「パートナー回線エリア」内ではau回線によるローミング接続がご利用いただけます。</li>
  <li>※「ご利用可能な楽天回線エリア」は、パートナー回線のみご利用可能なエリアを含みます。</li>
  <li>※「ご利用いただけないエリア」は、通常時はご利用いただけますが、記載時点でご利用いただけないエリアとなります。</li>
  <li>※サービスエリアは計算上の数値判定等に基づき作成しているため、実際の電波状況と異なる場合があります。またサービスエリアは予告なく変更となる場合があります。</li>
  <li>※ご利用いただく機器や利用環境（建物の中・地下・トンネルなど電波の届かないところ）により利用可能なサービスエリアが制限される場合があります。</li>
  <li>※楽天回線エリアとパートナー回線エリアとの境界付近や、地下と屋外の間を移動するとき、大きな商業ビルと屋外を移動するときに通信・通話が切断されたり、一時的にご利用になれない場合があります。</li>
  <li>※楽天回線エリアであっても、地下、屋内、大きな商業ビルの屋内等の場所、製品の設定、電波の状況等によってパートナー提供のネットワークを利用するローミング通信となる場合があります。</li>
  <li>※本サービスはベストエフォート方式による提供となります。実際の通信速度は、場所、通信環境、ネットワークの混雑状況、対応端末に応じて変化します。</li>
</ul>


