<% const pagetitle = "Rakuten Linkで留守番電話を確認する" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '電話・メッセージ・SMSがこれひとつ。楽天モバイルの便利なダイヤルアプリ「Rakuten Link（リンク）」で留守番電話を聞く方法をご案内します',
    noindex: false,
    pathname: filepath
  });
%>
<meta http-equiv="refresh" content="0;URL=https://service.link.link/guide/call/voice_message_free.html">
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
