<% const {namespace} = rankData -%>
<div id="opening" class="<%= namespace %>-Layout-section <%= namespace %>-Estimated-opening">
  <div class="l-System_Container u-Adjust_Align-center">
    <h3 class="c-Heading_Lv2">申し込みから<br class=" <%= namespace %>-Utility_Show-sp-414">開通までの目安</h3>
    <div class="u-Adjust_Mt-16">
      <p>
        開通までは約1カ月です。<br>
        ただし、お住まいの環境により1カ月以上かかる場合があります。
      </p>
    </div>
  </div>
</div>
