<% const {namespace} = rankData -%>
<div class="<%= namespace %>-Layout_Head-lead">
    <img src="<%= sitepath %>assets/img/hikari/campaign/rank/img-spu-lead.svg" alt="R SPU 楽天ひかりも対象! 楽天市場でのお買い物がポイント+1倍" width="692">
  </div>