<h4 class="c-Heading_Lv4">注意事項</h4>
<div id="notes-01" class="<%= namespace %>-Util_Anchor"></div>
<div class="u-Adjust_Mt-16">
  <h5 class="<%= namespace %>-Txt_Title-ancher js-target-highlight" data-target-highlight="notes-01">楽天ひかりUN-LIMITキャンペーンについて</h5>
  <p class="u-Adjust_Mt-8 c-Txt_Cap">※楽天ひかり（マンションプランまたはファミリープラン）申し込み月を1カ月目として4カ月目末日までに開通、かつ楽天会員の方が対象です。</p>
  <p class="c-Txt_Cap">※NTT東日本・NTT西日本のフレッツ光回線を楽天ブロードバンドで利用中の方は対象外です。</p>
  <p class="c-Txt_Cap">※楽天モバイル（Rakuten UN-LIMIT VII）利用中、または楽天ひかり申し込みの翌月15日までに新規申し込みの方は、楽天ひかりの月額基本料が開通月から最大12カ月間無料になります。13カ月目以降は月額基本料マンションプラン3,800円（税込4,180円）、ファミリープラン4,800円（税込5,280円）。</p>
  <p class="c-Txt_Cap">※楽天ひかり申し込み時にログインされた楽天IDが楽天モバイルへ登録のIDと異なる場合、または登録の楽天IDを変更した場合は特典対象外です。</p>
  <p class="c-Txt_Cap">※楽天モバイル未加入時の月額基本料は、開通月無料、翌月から12カ月間マンションプラン1,800円（税込1,980円）、ファミリープラン2,800円（税込3,080円）。開通から14カ月目以降はマンションプラン3,800円（税込4,180円）、ファミリープラン4,800円（税込5,280円）。</p>
  <p class="c-Txt_Cap">※初期登録費、工事費、オプション費用等は除きます。</p>
  <p class="c-Txt_Cap">※契約解除料ファミリープラン5,280円、マンションプラン4,180円が発生（2年ごとに更新）。</p>
  <p class="u-Adjust_Mt-8">
    <a href="#conditions" class="<%= namespace %>-Utility_Txt-ss c-Link_Txt js-scroll">月額基本料に戻る</a>
  </p>
</div>
