<% const {namespace, point, stageJa} = rankData -%>
<div id="sec7" class="<%= namespace %>-Rule">
  <h2 class="u-Adjust_Align-center">冬の工事費無料キャンペーン ルール</h2>
  <%- include('/include/hikari/_rule-construction') %>
</div>
