<%#
<div class="c-Infobox_Standing-border product-detail-Layout_Compensation">
  <div class="l-Media_Grid">
    <div class="l-Media_Image product-detail-Layout_Compensation-img">
      <img src="/assets/img/product/img-compensation.png" alt="">
    </div>
    <div>
        <p class="c-Txt_Emp-01 c-Txt_Normal-l"><a href="/service/replacement-warranty-plus/">スマホ交換保証プラス</a></p>
        <p class="u-Adjust_Mt-8">加入できるのは購入時のみ</p>
        <p class="c-Txt_Emp-02 u-Adjust_Mt-24">故障・紛失時に新品同等の同一機種に交換！最短当日中※にお届け</p>
        <ul class="c-List_Cap u-Adjust_Mt-16">
          <li><span>※</span>対象地域：東京／神奈川／千葉／埼玉</li>
        </ul>
        <div class="u-Adjust_Mt-16">
          <a href="/service/replacement-warranty-plus/" class="c-Btn_Regular-semiauto">詳細はこちら</a>
        </div>
    </div>
  </div>
</div>
 %>
