<% const pagetitle = "【公式】楽天ひかり" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '',
    noindex: true,
    pathname: filepath,
    ishikari: true,
    redirect: {url: "hikari/"}
  });
%>
<%- include('/include/_append-head-hikari') %>
</head>
<body>
<%- include('/include/_prepend-body-hikari') %>
<%- include('/include/_append-body') %>
</body>
</html>
