<% const pagetitle = "Rakutenオリジナル一覧" -%>
<% const directories = [{path:"product/", label:"製品"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: '楽天モバイルのオリジナルスマホのラインアップ。Rakuten Hand 5Gのスマートフォンのご購入のほか、料金、新商品のスペックがご覧いただけます。',
    noindex: false,
    pathname: filepath,
    redirect: {url: 'product/smartphone/'},
    canonical_custom: 'https://network.mobile.rakuten.co.jp/product/smartphone/',
  });
%>
</head>
<body>
  <%- include('/include/_prepend-body') %>
  <%- include('/include/_append-body') %>
</body>
</html>
