<% const pagetitle = "留守番電話（ご利用方法）" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '留守番電話(楽天モバイル)のご利用方法はこちら。スマートフォン（スマホ）の電源OFF時や電話に出られない時に、相手の伝言を預かり、後で再生することができるサービスの使い方、設定方法をご案内します。',
    noindex: false,
    pathname: filepath
  });
%>
<meta http-equiv="refresh" content="0;URL=https://service.link.link/guide/call/voice_message_paid.html">
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
