<% const pagetitle = "Rakuten Miniの交換手続き方法" -%>
<% const directories = [{path:"product/", label:"製品"}, {path:"product/rakuten/", label:"Rakutenオリジナル"}, {path:"product/smartphone/rakuten-mini/", label:"Rakuten Mini"}, {path:"product/smartphone/rakuten-mini/support/", label:"Rakuten Miniサポート情報"}] -%>
<%-
  include('/_header', {
    pagetitle: pagetitle,
    directories: directories,
    description: 'Rakuten Miniの交換手続き方法のお手続き方法についてご案内します',
    noindex: true,
    pathname: 'product/smartphone/rakuten-mini/support/repair/',
    redirect: {url: 'product/smartphone/rakuten-mini/support/'}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
