<% const pagetitle = "Rakuten Linkのミッションで楽天ポイントを獲得する" -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '「Rakuten Link（リンク）」でミッションやキャンペーンを通して、楽天ポイントを獲得する方法をご案内します。※Rakuten Linkは、楽天回線契約者であれば無料で通話やメッセージがお楽しみいただける、ダイヤル機能付きオールインワン・アプリ。',
    noindex: false,
    pathname: filepath
  });
%>
<meta http-equiv="refresh" content="0;URL=https://service.link.link/guide/mission/pointget.html">
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
