<% const pagetitle = "楽天モバイル5Gプラン発表LIVE 配信" -%>
<% const directories = [{path:"information/", label:"お知らせ"}] -%>
<%-
 include('/_header', {
    pagetitle: pagetitle,
    description: '楽天モバイル5Gプラン発表LIVE 配信',
    noindex: true,
    pathname: filepath,
    redirect: {url: ''}
  });
%>
</head>
<body>
<%- include('/include/_prepend-body') %>
<%- include('/include/_append-body') %>
</body>
</html>
